.uomcontent {
  .accordion__title {
    cursor: pointer;
  }

  .accordion__hidden {
    display: block;
    max-height: 0;
    overflow: hidden;

    td {
      display: none;
    }
  }

  .accordion__close {
    display: none;
  }

  .accordion__visible .accordion__hidden {
    @include rem(max-height, 50000px);
  }

  .accordion__visible tr.accordion__hidden {
    display: table-row;

    td {
      display: table-cell;
    }
  }

  .accordion__noanim {
    .accordion__hidden,
    .accordion__visible .accordion__hidden {
      transition: none;
    }
  }

  ul.accordion {
    padding-left: 0;
    padding-right: 0;

    & > li {
      border-bottom: 1px solid darken($lightgray, 5%);
      list-style-type: none;
      margin: 0;
      max-width: 2000px;
      width: 100%;

      @include inner-list-reset;

      padding: 0;

      // Ridiculous overrides
      ol,
      ul {
        @include rem(padding-bottom, 30px);

        ol,
        ul {
          padding-bottom: 0;
        }
      }

      ol.steps {
        @include inner-list-reset;

        ol,
        ul {
          @include rem(padding-left, 35px);
          @include rem(padding-right, 35px);
        }

        li {
          margin: 0;

          @include breakpoint(desktop) {
            @include rem(padding-left, 110px);

            li {
              padding-left: 0;
            }
          }
        }

        p {
          padding-left: 3%;
          padding-right: 3%;

          @include breakpoint(desktop) {
            padding-left: 0;
            padding-right: 0;
          }
        }
      }

      p {
        width: 100%;
      }

      .accordion__title {
        @include padding-leader(0.5);
        @include padding-trailer(0.5);
        @include rem(padding-left, 40px);
        @include rem(padding-right, 15px);
        display: block;
        position: relative;

        &:hover {
          color: $cyan;
          text-decoration: underline;
        }

        &:focus {
          color: $cyan;
          outline: 0;
        }

        &:before {
          @include rem(font-size, 18px);
          @include rem(left, 15px);
          @include rem(margin-top, -9px);
          content: "+";
          display: inline-block;
          line-height: 1;
          position: absolute;
          text-align: left;
          text-decoration: none;
          top: 50%;
          transition: transform 0.2s ease-in-out;
        }

        @include breakpoint(desktop) {
          @include adjust-font-size-to(22px);
          @include rem(padding-left, 55px);

          &:before {
            @include rem(font-size, 24px);
            @include rem(margin-top, -12px);
          }
        }
      }

      .accordion__hidden {
        @include padding-leader(0.5);
        @include rem(padding-left, 15px);
        @include rem(padding-right, 15px);
        display: none;
      }

      &.accordion__visible {
        @include rem(margin-top, -1px);
        border-top: 1px solid;
        border-color: $cyan;

        .accordion__title {
          color: $cyan;

          &:before {
            transform: rotate(45deg);
          }
        }

        .accordion__hidden {
          display: block;
        }
      }
    }
  }

  .alt ul.accordion {
    & > li {
      border-bottom-color: lighten($lightblue, 25%);

      &.accordion__visible {
        border-color: $cyan;
      }
    }
  }

  .code {
    @include rem(max-width, $w-mid);
    clear: both;
    margin: 0 auto;

    ul.accordion {
      @include rem(max-width, $w-mid);

      li {
        @include rem(max-width, $w-mid);

        &:before,
        .accordion__title {
          color: $gray;
        }

        .accordion__hidden {
          @include rem(max-width, $w-mid);
        }

        &.accordion__visible .accordion__hidden {
          @include rem(max-height, 10000px);
        }

        &.accordion__visible:before,
        &.accordion__visible .accordion__title {
          color: $cyan;
        }

        div.highlight {
          @include rem(max-width, $w-mid);
        }
      }
    }
  }
}

.ie9 .uomcontent {
  ul.accordion > li {
    .accordion__title:before {
      font-size: 18px;
    }

    &.accordion__visible .accordion__title:before {
      font-size: 16px;
      content: "x";
      transform: none;
    }
  }
}
