.uomcontent {
  .accordion__title {
    cursor: pointer;
  }

  .accordion__hidden {
    display: block;
    max-height: 0;
    overflow: hidden;

    td {
      display: none;
    }
  }

  .accordion__close {
    display: none;
  }

  .accordion__visible .accordion__hidden {
    max-height: 3125rem;
  }

  .accordion__visible tr.accordion__hidden {
    display: table-row;

    td {
      display: table-cell;
    }
  }

  .accordion__noanim {
    .accordion__hidden,
    .accordion__visible .accordion__hidden {
      transition: none;
    }
  }

  ul.accordion {
    padding-left: 0;
    padding-right: 0;

    & > li {
      border-bottom: 1px solid darken($lightgray, 5%);
      list-style-type: none;
      margin: 0;
      max-width: 2000px;
      width: 100%;

      @include inner-list-reset;

      padding: 0;

      // Ridiculous overrides
      ol,
      ul {
        padding-bottom: 1.875rem;

        ol,
        ul {
          padding-bottom: 0;
        }
      }

      ol.steps {
        @include inner-list-reset;

        ol,
        ul {
          padding-left: 2.1875rem;
          padding-right: 2.1875rem;
        }

        li {
          margin: 0;

          @include breakpoint(desktop) {
            padding-left: 6.875rem;

            li {
              padding-left: 0;
            }
          }
        }

        p {
          padding-left: 3%;
          padding-right: 3%;

          @include breakpoint(desktop) {
            padding-left: 0;
            padding-right: 0;
          }
        }
      }

      p {
        width: 100%;
      }

      .accordion__title {
        @include padding-leader(0.5);
        @include padding-trailer(0.5);
        padding-left: 2.5rem;
        padding-right: .9375rem;
        display: block;
        position: relative;

        &:hover {
          color: $cyan;
          text-decoration: underline;
        }

        &:focus {
          color: $cyan;
        }

        &:before {
          font-size: 1.125rem;
          left: .9375rem;
          margin-top: -.5625rem;
          content: "+";
          display: inline-block;
          line-height: 1;
          position: absolute;
          text-align: left;
          text-decoration: none;
          top: 50%;
          transition: transform 0.2s ease-in-out;
        }

        @include breakpoint(desktop) {
          @include adjust-font-size-to(22px);
          padding-left: 3.4375rem;

          &:before {
            font-size: 1.5rem;
            margin-top: -.75rem;
          }
        }
      }

      .accordion__hidden {
        @include padding-leader(0.5);
        padding-left: .9375rem;
        padding-right: .9375rem;
        display: none;
      }

      &.accordion__visible {
        margin-top: -1px;
        border-top: 1px solid;
        border-color: $cyan;

        .accordion__title {
          color: $cyan;

          &:before {
            transform: rotate(45deg);
          }
        }

        .accordion__hidden {
          display: block;
        }
      }
    }
  }

  .alt ul.accordion {
    & > li {
      border-bottom-color: lighten($lightblue, 25%);

      &.accordion__visible {
        border-color: $cyan;
      }
    }
  }

  .code {
    max-width: $w-mid;
    clear: both;
    margin: 0 auto;

    ul.accordion {
      max-width: $w-mid;

      li {
        max-width: $w-mid;

        &:before,
        .accordion__title {
          color: $gray;
        }

        .accordion__hidden {
          max-width: $w-mid;
        }

        &.accordion__visible .accordion__hidden {
          max-height: 625rem;
        }

        &.accordion__visible:before,
        &.accordion__visible .accordion__title {
          color: $cyan;
        }

        div.highlight {
          max-width: $w-mid;
        }
      }
    }
  }
}

.ie9 .uomcontent {
  ul.accordion > li {
    .accordion__title:before {
      font-size: 18px;
    }

    &.accordion__visible .accordion__title:before {
      font-size: 16px;
      content: "x";
      transform: none;
    }
  }
}
