.uomcontent {
  .accordion__title {
    cursor: pointer;
  }

  .accordion__hidden {
    display: block;
    max-height: 0;
    overflow: hidden;

    td {
      display: none;
    }
  }

  .accordion__close {
    display: none;
  }

  .accordion__visible .accordion__hidden {
    @include rem(max-height, 50000px);
  }

  .accordion__visible tr.accordion__hidden {
    display: table-row;

    td {
      display: table-cell;
    }
  }

  .accordion__noanim {
    .accordion__hidden,
    .accordion__visible .accordion__hidden {
      transition: 0 none;
    }
  }

  ul.accordion {
    padding-left: 0;
    padding-right: 0;

    & > li {
      @include padding-leader(0.5);
      @include padding-trailer(0.5);
      @include rem(padding-left, 15px);
      @include rem(padding-right, 15px);
      border-bottom: 1px solid darken($lightgray, 5%);
      list-style-type: none;
      margin: 0;
      max-width: 2000px;
      width: 100%;

      &:before {
        @include adjust-font-size-to(18px);
        @include rem(font-size, 18px);
        @include rem(height, 30px);
        @include rem(width, 30px);
        content: "+";
        display: inline-block;
        line-height: 1;
        position: relative;
        text-align: left;
        transform-origin: 25% 33%;
        transition: transform 0.2s ease-in-out;
        vertical-align: middle;
        z-index: 0;
      }

      &:hover {
        &:before {
          color: $cyan;
        }

        .accordion__title {
          color: $cyan;
        }
      }

      &:last-child {
        @include padding-trailer(0.5);
      }

      &.accordion__visible {
        @include padding-trailer(0);
        @include rem(margin-top, -1px);
        border-top: 1px solid;
        border-color: $cyan;

        &:before {
          @include transform(rotate(45deg));
          color: $cyan;
          transform-origin: 25% 33%;
        }

        .accordion__title {
          @include padding-trailer(1);
          color: $cyan;
        }

        .accordion__hidden {
          @include padding-leader(1);
        }
      }

      .accordion__title {
        @include rem(margin-left, -20px);
        @include rem(padding-left, 25px);
        position: relative;
        z-index: 1;

        &:focus {
          outline: 0;
          text-decoration: underline;
        }
      }

      span.accordion__title {
        display: inline;
      }

      p {
        width: 100%;
      }

      @include breakpoint(desktop) {
        &:before {
          @include rem(font-size, 24px);
        }
        .accordion__title {
          @include adjust-font-size-to(22px);
        }
      }
    }
  }

  .alt ul.accordion {
    & > li {
      border-bottom-color: lighten($lightblue, 25%);

      &.accordion__visible {
        border-color: $cyan;
      }
    }
  }

  .code {
    @include rem(max-width, $w-mid);
    clear: both;
    margin: 0 auto;

    ul.accordion {
      @include rem(max-width, $w-mid);

      li {
        @include rem(max-width, $w-mid);

        &:before,
        .accordion__title {
          color: $gray;
        }

        .accordion__hidden {
          @include rem(max-width, $w-mid);
        }

        &.accordion__visible .accordion__hidden {
          @include rem(max-height, 10000px);
        }

        &.accordion__visible:before,
        &.accordion__visible .accordion__title {
          color: $cyan;
        }

        div.highlight {
          @include rem(max-width, $w-mid);
        }
      }
    }
  }
}
