@define-mixin feature-listing {
  @mixin listing;

  li {
    padding-bottom: pxtorem(24);
    border-top: 0 none;
    text-align: center;
  }

  figure {
    max-height: pxtorem(350);
    float: none;
    margin-right: 0;
    max-width: 100%;
    text-align: center;
  }

  img {
    float: none;
  }

  strong {
    font-size: pxtorem(20);
    line-height: pxtorem(24);
    text-align: left;
  }

  p {
    margin-left: 0;
    text-align: left;
  }

  &.listing--crop-height figure {
    height: pxtorem(340);

    img {
      min-height: pxtorem(340);
      max-width: none;
    }
  }

  @media screen and (--bp-tablet) {
    li {
      width: 100%;
    }
  }

  @media screen and (--bp-desktop) {
    li {
      width: 49.7%;
    }

    li:nth-child(4n+1) {
      clear: none;
    }

    li:nth-child(2n+1) {
      clear: left;
    }

    strong {
      font-size: pxtorem(20);
      line-height: pxtorem(24);
      padding-bottom: pxtorem(12);
    }
  }
}

@define-mixin feature-listing-3 {
  @mixin feature-listing;

  strong {
    line-height: 1.3;
    padding-top: 0;
    text-align: left;
  }

  p {
    padding: 0;
    text-align: left;
  }

  &.listing--crop-height figure {
    height: 17.5rem;

    img {
      min-height: 17.5rem;
    }
  }

  @media screen and (--bp-desktop) {
    li {
      width: 32.9%;
    }

    li:nth-child(2n+1) {
      clear: none;
    }

    li:nth-child(3n+1) {
      clear: left;
    }
  }
}
