.uomcontent .hero-listing {
  @add-mixin feature-listing;

  li {
    max-width: 100%;
    position: relative;
  }

  h2 {
    margin-bottom: 1.5rem;
    background-size: cover;
    max-width: 100%;
    padding: 0;
    position: relative;
  }

  a {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
  }

  figure {
    max-height: 31.25rem;
    margin: 0;
  }

  .inner {
    background-color: color(#000 alpha(60%));
    margin: 0;
    max-width: 100%;
    padding: 3%;
    padding-bottom: .9375rem;
    padding-top: .9375rem;

    strong {
      font-size: 2.5rem;
      color: #fff;
      line-height: 1.1;
      padding-bottom: .1em;
      padding-top: 0;
    }

    p {
      font-size: 1.125rem;
      line-height: 1.5rem;
      color: #fff;
      font-weight: var(--fw-thin);
      max-width: 100%;
      padding: 0;
    }
  }

  @media (--bp-desktop) {
    li {
      padding-bottom: 0;
      width: 100%;
    }

    .inner {
      padding: 10% 10%;

      strong {
        padding-top: .75rem;
      }

      p {
        padding-bottom: 1.5rem;
      }
    }
  }
  @media (--bp-wide) {
    .inner {
      padding: 10% 20%;
    }
  }
}

body.jumpnav-active .uomcontent .hero-listing {
  li {
    width: 100%;
  }
}

.ie9 .uomcontent .hero-listing .inner {
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000,endColorstr=#7f000000);
}
