.uomcontent .hero-listing {
  @mixin feature-listing;

  li {
    max-width: 100%;
    position: relative;
  }

  h2 {
    margin-bottom: pxtorem(24);
    background-size: cover;
    max-width: 100%;
    padding: 0;
    position: relative;
  }

  a {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
  }

  figure {
    max-height: pxtorem(500);
    margin: 0;
  }

  .inner {
    background-color: color(var(--col-black-dark) alpha(60%));
    margin: 0;
    max-width: 100%;
    padding: 3%;
    padding-bottom: pxtorem(15);
    padding-top: pxtorem(15);

    strong {
      font-family: var(--ff-serif);
      font-weight: var(--fw-bold);
      font-size: pxtorem(40);
      color: var(--col-white);
      line-height: 1.2;
      padding-bottom: pxtorem(10);
      padding-top: 0;
    }

    p {
      font-size: pxtorem(18);
      line-height: pxtorem(24);
      color: var(--col-white);
      max-width: 100%;
      padding: 0;
    }
  }

  @media screen and (--bp-desktop) {
    li {
      padding-bottom: 0;
      width: 100%;
    }

    .inner {
      padding: 10% 10%;

      strong {
        padding-top: pxtorem(12);
      }

      p {
        padding-bottom: pxtorem(24);
      }
    }
  }
  @media screen and (--bp-wide) {
    .inner {
      padding: 10% 20%;
    }
  }
}

body.jumpnav-active .uomcontent .hero-listing {
  li {
    width: 100%;
  }
}
