.uomcontent .navigation-block-listing {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
  max-width: 87.5rem;
  margin: 0 auto;
  padding-left: 3%;
  padding-right: 3%;

  h1.aligned-title {
    padding-bottom: 3rem;
    margin-left: 0;
    max-width: 100%;
  }

  ul,
  h3 {
    max-width: 250rem;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }

  a {
    padding-bottom: .75rem;
    display: block;
  }

  figure {
    margin: 0;
    overflow: hidden;
  }

  & > ul > li {
    & > a,
    & > .with-dropdown > a {
      text-decoration: none;

      h3 {
        text-decoration: underline;
      }
    }
  }

  h3 {
    font-size: 1.25rem;
    line-height: 1.5rem;
    padding-bottom: .75rem;
    font-weight: var(--deprecated-fw--regular);

    a {
      padding-bottom: 0;
    }
  }

  ul {
    padding-bottom: 0;
    padding-top: 0;

    li {
      column-break-inside: avoid;
      list-style-type: none;
      margin: 0;
      padding: 0;

      ul {
        padding-bottom: 3rem;
      }
    }

    @media screen and (--bp-tablet) {
      h3,
      p {
        margin: 0 auto 0 0;
        width: 88%;
      }

      li {
        display: inline-block;
        vertical-align: top;
        width: 49%;

        li {
          display: block;
          margin: 0 auto 0 0;
          width: 88%;
        }
      }
    }

    @media screen and (--bp-desktop) {
      li {
        width: 32.33%;

        li {
          width: 88%;
        }
      }
    }

    @media screen and (--bp-wide) {
      li {
        width: 24%;

        li {
          width: 88%;
        }
      }
    }
  }
}

@define-mixin navigation-block-listing-fallback {
  @mixin clearfix;
  margin: 0 auto;

  ul li {
    float: left;
    margin-right: 2%;
    width: 31%;

    li {
      float: none;
      width: 100%;
    }
  }

  /* 3 rows, hope that is enough */
  ul li:first-child + li + li + li,
  ul li:first-child + li + li + li + li + li + li,
  ul li:first-child + li + li + li + li + li + li + li + li + li {
    clear: left;
  }
}

.ie9 .uomcontent [role="main"] .navigation-block-listing {
  @mixin navigation-block-listing-fallback;
}
