.uomcontent .navigation-block-listing {
  padding-top: pxtorem(72);
  padding-bottom: pxtorem(72);
  max-width: pxtorem(1400);
  margin: 0 auto;
  padding-left: 3%;
  padding-right: 3%;

  h1.aligned-title {
    padding-bottom: pxtorem(48);
    margin-left: 0;
    max-width: 100%;
  }

  ul,
  h3 {
    max-width: pxtorem(4000);
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }

  a {
    padding-bottom: pxtorem(12);
    display: block;
  }

  figure {
    margin: 0;
    overflow: hidden;
  }

  & > ul > li {
    & > a,
    & > .with-dropdown > a {
      text-decoration: none;

      h3 {
        text-decoration: underline;
      }
    }
  }

  h3 {
    font-size: pxtorem(20);
    line-height: pxtorem(24);
    padding-bottom: pxtorem(12);
    font-weight: var(--fw-semibold);

    a {
      padding-bottom: 0;
    }
  }

  a {
    text-decoration: none;
    &:hover,
    &:focus {
      text-decoration: underline
    }
  }

  ul {
    padding-bottom: 0;
    padding-top: 0;

    li {
      column-break-inside: avoid;
      list-style-type: none;
      margin: 0;
      padding: 0;

      ul {
        padding-bottom: pxtorem(48);
      }
    }

    @media screen and (--bp-tablet) {
      h3,
      p {
        margin: 0 auto 0 0;
        width: 88%;
      }

      li {
        display: inline-block;
        vertical-align: top;
        width: 49%;

        li {
          display: block;
          margin: 0 auto 0 0;
          width: 88%;
        }
      }
    }

    @media screen and (--bp-desktop) {
      li {
        width: 32.33%;

        li {
          width: 88%;
        }
      }
    }

    @media screen and (--bp-wide) {
      li {
        width: 24%;

        li {
          width: 88%;
        }
      }
    }
  }
}

@define-mixin navigation-block-listing-fallback {
  @mixin clearfix;
  margin: 0 auto;

  ul li {
    float: left;
    margin-right: 2%;
    width: 31%;

    li {
      float: none;
      width: 100%;
    }
  }

  /* 3 rows, hope that is enough */
  ul li:first-child + li + li + li,
  ul li:first-child + li + li + li + li + li + li,
  ul li:first-child + li + li + li + li + li + li + li + li + li {
    clear: left;
  }
}

.ie9 .uomcontent [role="main"] .navigation-block-listing {
  @mixin navigation-block-listing-fallback;
}
