.uomcontent [role="main"] .simple-listing {
  max-width: var(--w-lge);
  padding: 0 pxtorem(16) pxtorem(32);
  line-height: 1.6;

  &__item {
    margin: 0 0 pxtorem(16);
    color: inherit;
    display: block;
    list-style-type: none;
    max-width: none;
    padding: 0;
    width: auto;
  }

  &__link {
    padding-bottom: .5rem;
    color: inherit;
    display: block;
    outline-offset: 1px;
    text-decoration: inherit;

    &:hover,
    &:focus {
      color: inherit;
    }

    &:hover .simple-listing__heading {
      text-decoration: underline;
    }
  }

  &__img {
    max-width: none; /* OVERRIDE */
    margin-bottom: pxtorem(12);
    background-position: center;
    background-size: cover;
    padding-top: 62.5%; /* 16/10 */
  }

  &__heading,
  &__excerpt {
    margin: 0;
    max-width: none;
    width: auto;
  }

  /* includes overrides for h2, h3 and h4 */
  &__heading {
    margin-bottom: .125rem;
    color: var(--col-navy-main);
    font-size: 1.125em;
    font-weight: 400;
    letter-spacing: inherit;
    line-height: 1.4;
    padding: 0;
    text-transform: none;
  }

  &__excerpt {
    padding-bottom: 0;
  }

  &--four {
    .simple-listing__excerpt {
      font-size: .9em;
    }
  }

  &--two,
  &--three {
    .simple-listing__heading {
      font-size: 1.375em;
    }
  }

  /* text listing variant */
  &--text {
    .simple-listing { /* for nesting purposes */
      &__link {
        padding-top: .25rem;
      }

      /* underline headings */
      &__heading {
        margin-bottom: .5rem;
        color: var(--col-navy-main);
        font-size: 1.25em;
      }

      &__link:hover {
        .simple-listing__heading {
          color: var(--col-secondary-navy);
          text-decoration: underline;
        }
      }
    }
  }

  @media screen and (--bp-tablet) {
    @mixin clearfix;
    padding-bottom: pxtorem(24);

    .simple-listing__item {
      margin-bottom: pxtorem(24);
    }

    &--four {
      padding-left: .5rem;
      padding-right: .5rem;

      .simple-listing__item {
        padding: 0 .5rem;
        float: left;
        width: 50%;

        &:nth-child(2n+1) { clear: left; }
      }
    }
  }

  @media screen and (--bp-desktop) {
    padding: 0 pxtorem(10) pxtorem(24);

    .simple-listing__item {
      padding: 0 pxtorem(10);
    }

    &--two,
    &--three {
      .simple-listing__item {
        float: left;
        width: 50%;

        &:nth-child(2n+1) { clear: left; }
      }
    }

    &--three,
    &--four {
      .simple-listing__item {
        width: 33.33%;

        &:nth-child(2n+1) { clear: none; }
        &:nth-child(3n+1) { clear: left; }
      }
    }

    &--text {
      /* reduce max-width of 2 and 3-column text-only listings (making sure to compensate for the items' padding) */
      &.simple-listing--one,
      &.simple-listing--two {
        padding-left: 0;
        padding-right: 0;
      }

      &.simple-listing--one {
        max-width: calc(var(--w-sml) + 2 * pxtorem(10));
      }

      &.simple-listing--two {
        max-width: calc(var(--w-mid) + 2 * pxtorem(10));
      }
    }
  }

  @media screen and (--bp-wide) {
    &--four {
      .simple-listing__item {
        width: 25%;

        &:nth-child(3n+1) { clear: none; }
        &:nth-child(4n+1) { clear: left; }
      }
    }
  }
}
