.uomcontent .page-footer {
  @mixin normalise;
  font-size: calc(20/16rem);
  background-color: var(--col-navy-main);
  clear: left;
  color: var(--col-white);
  font-family: var(--ff-sans);

  * {
    @mixin normalise;
  }

  footer {
    @mixin injection-wrapper;
    padding: .9375rem;
    padding-bottom: 3.75rem;
    margin-left: auto;
    margin-right: auto;
  }

  small {
    font-size: .75rem;
    line-height: calc(20/16rem);
    clear: left;
    color: var(--col-navy-mid-1);
    display: block;
    text-align: center;

    a {
      color: inherit;

      &:hover,
      &:focus {
        color: var(--col-white);
      }
    }

    @media screen and (--bp-desktop) {
      text-align: left;
    }
  }

  ul.quicklinks {
    padding: 0;

    a {
      font-size: .6875rem;
      line-height: 2.875rem;
      letter-spacing: 1px;
      text-transform: uppercase;

      @media screen and (--bp-desktop) {
        min-height: 7.0625rem;
        line-height: 1.6em;
      }
    }
  }

  ul.people-links {
    max-width: 87.5rem;
    border-bottom: 1px solid var(--col-navy-main);
    border-top: 1px solid var(--col-navy-main);
    margin: 0 auto;
    padding: 0;
    text-align: left;
    width: 100%;

    li {
      display: inline-block;
      list-style-type: none;
      width: 100%;

      a {
        font-size: calc(10/16rem);
        line-height: calc(24/16rem);
        padding: calc(20/16rem) .9375rem;
        color: var(--col-white);
        display: block;
        letter-spacing: 2px;
        text-decoration: none;
        text-transform: uppercase;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    @media screen and (--bp-desktop) {
      border-bottom: 0;
      text-align: center;

      li {
        width: auto;
      }
    }
  }
}

.uomcontent .unimelb-lge {
  margin: calc(30/16rem) auto;
  width: 16.875rem;
  outline-color: var(--col-white);
  display: block;

  svg,
  img {
    display: block;
    max-height: 100%;
    width: 100%;
  }
}

.uomcontent .page-footer-section {
  height: 3.125rem;
  line-height: 3.125rem;
  border-bottom: 1px solid var(--col-navy-main);
  clear: both;
  float: left;
  margin-left: 0;
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
  width: 100%;

  li {
    display: block;
    float: left;
    list-style-type: none;
    margin-left: 0;
  }

  a {
    font-size: .9375rem;
    color: var(--col-white);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &.nav {
    padding-bottom: .75rem;
    padding-top: .5rem;
    color: var(--col-navy-mid-1);
    height: auto;

    li {
      padding-bottom: calc(10/16rem);
      padding-top: calc(10/16rem);
      color: inherit;
      line-height: 1.1;
      margin-left: 0;
      margin-right: 6%;
      text-align: right;
      width: 44%;
    }

    /* nth-child for IE8, up to 9 items */
    li:first-child + li,
    li:first-child + li + li + li,
    li:first-child + li + li + li + li + li,
    li:first-child + li + li + li + li + li + li + li {
      margin-left: 6%;
      margin-right: 0;
      text-align: left;
    }

    li:first-child + li + li,
    li:first-child + li + li + li + li ,
    li:first-child + li + li + li + li + li + li {
      clear: left;
    }

    a {
      font-size: .875rem;
      color: inherit;

      &:hover,
      &:focus {
        color: var(--col-white);
      }
    }

    @media screen and (--bp-desktop) {
      margin-bottom: calc(10/16rem);
      margin-top: calc(20/16rem);
      border: 0 none;
      width: 70%;

      li {
        padding-right: calc(30/16rem);
        clear: none;
        display: inline;
        float: none;
        margin-left: 0;
        margin-right: 0;
        padding-bottom: 0;
        padding-top: 0;
        width: auto;
      }

      li:first-child + li,
      li:first-child + li + li + li,
      li:first-child + li + li + li + li + li,
      li:first-child + li + li + li + li + li + li + li {
        margin-left: 0;
      }

      a {
        font-size: .9375rem;
      }
    }
  }

  &.social {
    margin-bottom: calc(20/16rem);
    padding-top: 1rem;
    height: auto;
    padding-bottom: 0;

    li {
      margin-bottom: 1rem;
      line-height: 1;
      text-align: center;
      width: 20%;

      a {
        border-radius: 3px;
        padding-top: .375rem;
        color: var(--col-white);
        vertical-align: top;

        svg {
          height: calc(24/16rem);
          margin-bottom: .3125rem;
          width: calc(24/16rem);
          fill: currentColor;
        }
      }

      &.social-facebook {
        margin-left: 20%;
      }

      &.social-linkedin {
        margin-right: 20%;
      }
    }

    a {
      @mixin imgreplace;
      height: calc(36/16rem);
      padding-bottom: 1rem;
      width: calc(36/16rem);
      display: inline-block;
      text-decoration: none;
      overflow: hidden;
      transition: all 0.2s linear;

      &:hover,
      &:focus {
        background-color: var(--col-blue-mid-2);
        transform: scale(1.2);
      }
    }

    img {
      max-width: calc(24/16rem);
      max-width: calc(24/16rem);
    }

    @media screen and (--bp-desktop) {
      margin-bottom: 3.75rem;
      margin-top: calc(20/16rem);
      padding-right: 1rem;
      border: 0 none;
      clear: none;
      float: right;
      text-align: right;
      width: 30%;

      li {
        margin-left: calc(24/16rem);
        display: inline;
        float: none;
        width: auto;

        &.social-twitter {
          width: auto;
        }

        &.social-facebook {
          margin-left: 0;
        }

        &.social-linkedin {
          margin-right: 0;
        }
      }
    }
  }
}

.uomcontent .unimelb-lge {
  .noie {
    display: none;
  }
}

.uomcontent .page-footer footer {

  .ind-ack {
    font-size: 1.125rem;
    max-width: var(--w-lge);
    padding: 2rem 0;
    border-bottom: 1px solid var(--col-navy-main);
    clear: both;
    color: var(--col-navy-mid-1);
    font-family: var(--ff-serif);
    font-style: italic;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    text-align: center;

    a {
      font-size: 1rem;
      color: var(--col-navy-mid-1);
      font-style: normal;
    }
  }
}
