.uomcontent .page-footer {
  @mixin normalise;
  font-size: pxtorem(20);
  background-color: var(--col-navy-main);
  clear: left;
  color: var(--col-white);
  font-family: var(--ff-sans);

  * {
    @mixin normalise;
  }

  footer {
    @mixin injection-wrapper;
    padding: pxtorem(15);
    padding-bottom: 3.75rem;
    margin-left: auto;
    margin-right: auto;
  }

  small {
    font-size: pxtorem(12);
    line-height: pxtorem(20);
    clear: left;
    color: var(--col-navy-mid-1);
    display: block;
    text-align: center;

    a {
      color: inherit;

      &:hover,
      &:focus {
        color: var(--col-white);
      }
    }

    @media screen and (--bp-desktop) {
      text-align: left;
    }
  }

  ul.quicklinks {
    padding: 0;

    a {
      font-size: pxtorem(16);
      line-height: 2.875rem;

      @media screen and (--bp-desktop) {
        min-height: 7.0625rem;
        line-height: 1.6em;
      }
    }
  }

  ul.people-links {
    max-width: 87.5rem;
    border-bottom: 1px solid var(--col-navy-main);
    border-top: 1px solid var(--col-navy-main);
    margin: 0 auto;
    padding: 0;
    text-align: left;
    width: 100%;

    li {
      display: inline-block;
      list-style-type: none;
      width: 100%;

      a {
        font-size: pxtorem(16);
        line-height: pxtorem(24);
        padding: pxtorem(20) pxtorem(15);
        color: var(--col-white);
        display: block;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    @media screen and (--bp-desktop) {
      border-bottom: 0;
      text-align: center;

      li {
        width: auto;
      }
    }
  }
}

.uomcontent .unimelb-lge {
  margin: pxtorem(30) auto;
  width: 16.875rem;
  outline-color: var(--col-white);
  display: block;

  svg,
  img {
    display: block;
    max-height: 100%;
    width: 100%;
  }
}

.uomcontent .page-footer-section {
  height: 3.125rem;
  line-height: 3.125rem;
  border-bottom: 1px solid var(--col-navy-main);
  clear: both;
  float: left;
  margin-left: 0;
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
  width: 100%;

  li {
    display: block;
    float: left;
    list-style-type: none;
    margin-left: 0;
  }

  a {
    font-size: pxtorem(15);
    color: var(--col-white);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &.nav {
    padding-bottom: pxtorem(12);
    padding-top: .5rem;
    color: var(--col-navy-mid-1);
    height: auto;

    li {
      padding-bottom: pxtorem(10);
      padding-top: pxtorem(10);
      color: inherit;
      line-height: 1.1;
      margin-left: 0;
      margin-right: 6%;
      text-align: right;
      width: 44%;
    }

    /* nth-child for IE8, up to 9 items */
    li:first-child + li,
    li:first-child + li + li + li,
    li:first-child + li + li + li + li + li,
    li:first-child + li + li + li + li + li + li + li {
      margin-left: 6%;
      margin-right: 0;
      text-align: left;
    }

    li:first-child + li + li,
    li:first-child + li + li + li + li ,
    li:first-child + li + li + li + li + li + li {
      clear: left;
    }

    a {
      font-size: pxtorem(14);
      color: inherit;

      &:hover,
      &:focus {
        color: var(--col-white);
      }
    }

    @media screen and (--bp-desktop) {
      margin-bottom: pxtorem(10);
      margin-top: pxtorem(20);
      border: 0 none;
      width: 70%;

      li {
        padding-right: pxtorem(30);
        clear: none;
        display: inline;
        float: none;
        margin-left: 0;
        margin-right: 0;
        padding-bottom: 0;
        padding-top: 0;
        width: auto;
      }

      li:first-child + li,
      li:first-child + li + li + li,
      li:first-child + li + li + li + li + li,
      li:first-child + li + li + li + li + li + li + li {
        margin-left: 0;
      }

      a {
        font-size: pxtorem(15);
      }
    }
  }

  &.social {
    margin-bottom: pxtorem(20);
    padding-top: 1rem;
    height: auto;
    padding-bottom: 0;

    li {
      margin-bottom: 1rem;
      line-height: 1;
      text-align: center;
      width: 20%;

      a {
        border-radius: 3px;
        padding-top: .375rem;
        color: var(--col-white);
        vertical-align: top;

        svg {
          height: pxtorem(24);
          margin-bottom: pxtorem(5);
          width: pxtorem(24);
          fill: currentColor;
        }
      }

      &.social-facebook {
        margin-left: 20%;
      }

      &.social-linkedin {
        margin-right: 20%;
      }
    }

    a {
      @mixin imgreplace;
      height: pxtorem(36);
      padding-bottom: 1rem;
      width: pxtorem(36);
      display: inline-block;
      text-decoration: none;
      overflow: hidden;
      transition: background-color 0.2s linear;

      &:hover,
      &:focus {
        background-color: var(--col-blue-mid-2);
      }
    }

    img {
      max-width: pxtorem(24);
      max-width: pxtorem(24);
    }

    @media screen and (--bp-desktop) {
      margin-bottom: 3.75rem;
      margin-top: pxtorem(20);
      padding-right: 1rem;
      border: 0 none;
      clear: none;
      float: right;
      text-align: right;
      width: 30%;

      li {
        margin-left: pxtorem(24);
        display: inline;
        float: none;
        width: auto;

        &.social-twitter {
          width: auto;
        }

        &.social-facebook {
          margin-left: 0;
        }

        &.social-linkedin {
          margin-right: 0;
        }
      }
    }
  }
}

.uomcontent .unimelb-lge {
  .noie {
    display: none;
  }
}

.uomcontent .page-footer footer {

  .ind-ack {
    font-size: pxtorem(18);
    max-width: var(--w-lge);
    padding: 2rem 0;
    border-bottom: 1px solid var(--col-navy-main);
    clear: both;
    color: var(--col-navy-mid-1);
    font-family: var(--ff-serif);
    font-style: italic;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    text-align: center;

    a {
      font-size: 1rem;
      color: var(--col-navy-mid-1);
      font-style: normal;
    }
  }
}
