.block-listing-wide {
  @extend .feature-listing-3;
  padding: 0;

  li {
    @include rem(padding, 10px 30px 30px 0);
    // border: 1px solid $highlight;
    color: $black;
    margin: 0 0.4% 0.8% 0.4%;

    .header {
      @include adjust-font-size-to(20px);
      @include padding-leader(1);
      @include padding-trailer(1);
      color: $highlight;
      overflow: hidden;

      a {
        padding: 0;
        text-align: left;

        strong {
          color: $highlight;
          text-decoration: underline;
        }

        &:hover {
          strong {
            color: $black;
          }
        }
      }

      @include breakpoint(wide) {
        @include adjust-font-size-to(20px);
      }
    }

    @include breakpoint(desktop) {
      margin: 0 1.5% 0.5% 1.5%;
      width: 30.333333%;
    }
  }

  & + hr + .feature-listing-3 {
    @include padding-leader(1);
    padding-left: 0;
    padding-right: 0;

    li {
      a {
        @include transition(color 0.15s);
        padding: 0;

        &:hover {
          strong {
            color: $black;
          }

          p {
            color: $black;
          }
        }
      }

      strong {
        color: $highlight;
        text-decoration: underline;
      }

      @include breakpoint(desktop) {
        margin: 0 1.5% 3% 1.5%;
        width: 30.333333%;
      }
    }
  }
}
