$headercolor: $lighterblue;
$tabcolor: $brand;

.uomcontent {
  .page-header.floating {
    @include rem(min-height, 90px);
    background-color: $headercolor;
    background-image: url(/assets/headers/clock-tower.jpg);
    background-position: center center;
    background-size: cover;
    position: relative;
    display: table;

    .page-header-logo {
      background-color: $brand;
    }

    .page-header-home {
      @include rem(padding-top, 20px);
      display: table-cell;
      vertical-align: middle;
    }

    @include breakpoint(desktop) {
      @include rem(min-height, 250px);

      .page-header-logo {
        @include rem(height, 120px);
        @include rem(margin-left, 45px);
        @include rem(margin-top, 70px);
        @include rem(width, 120px);
      }

      .page-header-home {
        @include adjust-font-size-to(24px);
        @include rem(padding-top, 80px);
        @include rem(min-width, 450px);
      }

      .page-header-tools {
        @include rem(margin-top, 90px);
      }
    }
  }
}

.uomcontent .page-header.floating + .page-inner {
  padding-top: 0;

  .floating {
    display: none;
  }

  [role="main"] > *:first-child {
    padding-top: 0;
  }

  .tabbed-nav > .full-width {
    background-color: $tabcolor;

    nav a[data-current]::after {
      border-top-color: $tabcolor;
    }
  }

  .filtered-listing-wrapper.light {
    background-color: $paleblue;

    form.filtered-listing-select,
    form.filtered-listing-select .left legend,
    form.filtered-listing-select .left input[type="checkbox"]+label span,
    form.filtered-listing-select .left .category-a input[type="checkbox"]+label span,
    form.filtered-listing-select .left .category-b input[type="checkbox"]+label span,
    form.filtered-listing-select .left .category-c input[type="checkbox"]+label span {
      color: $black;

    }
  }
}
