div role="main"
  section
    p Australia must engage better with its Southeast Asian neighbours if it is to avoid being a “bit player” in the Asian century, says Professor Tim Lindsey, Malcolm Smith Professor of Asian Law and Director of the Centre for Indonesian Law, Islam and Society at the Melbourne Law School.
