.uomcontent [role="main"] table.course-progression {
  @include rem(margin-bottom, 30px);
  @include rem(max-width, 700px);
  border: 0 none;
  border-collapse: collapse;
  overflow: visible;
  width: 100%;

  th {
    @extend .subtitle;
    @include rem(font-size, 14px);
    @include rem(padding, 30px 0 10px);
    border-bottom: 1px solid $lightergray;
    border-left: 0 none;
    border-right: 0 none;
    border-top: 0 none;
    padding-left: 0;
    padding-right: 3%;

    text-align: left;

    @include breakpoint(tablet) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  td {
    @include rem(font-size, 14px);
    @include rem(padding-bottom, 10px);
    @include rem(padding-top, 10px);
    border-bottom: 1px solid $lightergray;
    border-left: 0 none;
    border-right: 0 none;
    border-top: 0 none;
    display: table-cell;
    padding-left: 0;
    padding-right: 3%;

    @include breakpoint(tablet) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .accordion__title {
    color: $cyan;
    text-decoration: underline;

    &:hover {
      color: darken($cyan, 15%);
    }
  }

  .accordion__close {
    @include rem(height, 50px);
    @include rem(width, 50px);
    color: $white;
    cursor: pointer;
    display: block;
    position: absolute;
    right: 0;
    text-decoration: none;
    top: 0;

    &::after {
      @include rem(font-size, 60px);
      content: '\00d7';
      font-weight: $thin;
      line-height: 1;
    }
  }

  tr {
    td:first-child + td,
    th:first-child + th {
      text-align: right;
    }

    td.unit-description {
      @include rem(padding, 15px 0);
      background-color: $navy;
      color: $white;
      position: relative;
      text-align: left;

      @include breakpoint(tablet) {
        @include rem(padding-left, 15px);
        @include rem(padding-right, 15px);
      }

      &::before {
        border: solid transparent;
        border-bottom-color: $navy;
        border-width: 10px;
        bottom: 100%;
        content: ' ';
        height: 0;
        left: 0;
        margin-left: 20px;
        margin-top: 0;
        pointer-events: none;
        position: absolute;
        width: 0;
      }

      h2 {
        @extend .subtitle;
        @include rem(padding-right, 60px);
        padding-left: 3%;

        @include breakpoint(tablet) {
          @include rem(padding-left, 15px);
        }
      }

      p {
        @include rem(font-size, 16px);
        padding-left: 3%;
        padding-right: 3%;

        @include breakpoint(tablet) {
          @include rem(padding-left, 15px);
          @include rem(padding-right, 15px);
        }
      }

      hr {
        @include rem(margin, 15px);
        border-color: rgba($white, .2);
        margin-left: 3%;
        margin-right: 3%;

        @include breakpoint(tablet) {
          @include rem(margin, 15px);
        }
      }

      .col1_3 {
        @include rem(padding, 15px);
        clear: none;

        @include breakpoint(tablet) {
          display: block;
          float: left;
          width: 33%;
        }

        a {
          color: $white;
        }

        strong {
          color: rgba($white, .4);
          display: block;
        }
      }
    }
  }

  thead th:first-child + th {
    border-color: $black;
    text-align: left;
  }

  tbody tr.accordion__hidden {
    display: none;
  }

  tbody tr.accordion__hidden td {
    display: block;
    width: 100%;

    &::before {
      display: none;
    }

    p,
    h2 {
      margin: 0;
    }
  }

  tbody.accordion__visible tr.accordion__hidden {
    display: table-row;
  }

  tbody.accordion__visible tr.accordion__hidden td {
    display: table-cell;

    &.unit-description::before {
      display: block;
    }
  }
}

.uomcontent ul.degree-plan-nav {
  display: block;
  line-height: 1.4;
  padding: 0;

  @include breakpoint(desktop) {
    @include rem(margin, 0 -30px 0 -15px);
  }

  li {
    list-style-type: none;
    margin-left: 0;
    padding-bottom: 0;
  }

  a {
    @include rem(padding, 10px 30px 10px 15px);
    border-left: 5px solid transparent;
    display: block;
    text-decoration: none;
  }

  a.current,
  a:hover.current {
    background-color: $white;
    border-left-color: $highlight;
  }
}

.uomcontent .degree-plan-section {
  position: relative;
}

.uomcontent .with-aside div.degree-plan {
  display: none;

  &.current {
    display: block;

    h2 {
      padding-top: 0;
    }
  }
}

.uomcontent #overview h2 {
  padding-top: 0;
}

.uomcontent .pricing,
.uomcontent .with-aside aside .pricing {
  h2{
    @include padding-leader(1);
    padding-bottom: 0;
  }

  h3{
    @include adjust-font-size-to(26px);
    @include padding-leader(0);
    @include padding-trailer(1);
    font-weight: $light;
  }

  p {
    @include adjust-font-size-to(14px);
    @include padding-leader(0);
    padding-bottom: 0;
  }
}

.uomcontent [role="main"] form.course-select {
  @extend .filtered-listing-select;
  box-shadow: none;

  .left,
  .right {
    @include rem(padding-top, 15px);
  }

  @include breakpoint(desktop) {
    display: table;
    width: 100%;

    .left,
    .right {
      display: table-cell;
      float: none;
      padding: 0;
      vertical-align: middle;
      width: 75%;
    }

    .right {
      width: 25%;

      span {
        @include rem(font-size, 14px);
        color: rgba($white, .8);
      }

      select {
        width: 100%;
      }
    }

    h2 {
      max-width: 2000px;
      padding: 0;
      text-align: left;
    }

    p {
      color: rgba($white, .8);
    }
  }
}

.ie .uomcontent [role="main"] {
   form.course-select {
    @include clearfix;

    .left {
      float: left;
      width: 74%;

      strong {
        padding-bottom: 30px;
      }

      div {
        float: left;
        padding-left: 5px;
        padding-right: 40px;
      }
    }

    .right {
      float: right;
      width: 25%;
    }
  }

  .course-section {
    aside {
      float: left;
      margin: 0;
      max-width: 28%;
      padding-left: 15px;
    }

    .bside {
      float: right;
      padding: 10px 0 10px 30px;
      width: 70%;
    }
  }

  .course-grid {
    li {
      margin: .25%;
      width: 23.5%;
    }
  }

  table.course-progression {
    td,
    th {
      padding-left: 0;
      padding-right: 0;
    }

    .accordion__close:after {
      content: '\00d7';
      font-size: 60px;
      font-weight: 100;
      line-height: 1;
    }

    tr td.unit-description:before {
      border: solid transparent;
      border-bottom-color: $navy;
      border-width: 10px;
      bottom: 100%;
      content: ' ';
      height: 0;
      left: 0;
      margin-left: 20px;
      margin-top: 0;
      pointer-events: none;
      position: absolute;
      width: 0;
    }
  }
}
