%tilt {
  @include rem(height, 100px);
  content: "";
  width: 100%;
  position: absolute;
  z-index: 1;
}

body {
  background-color: $navy;
  color: $black;
  font-family: $ff-sans;

  @include breakpoint(desktop) {
    line-height: 1.68;
  }
}

.clearfix {
  @extend %clearfix;
}

.spacer {
  @include rem(padding, 0 15px);
}


.uomcontent [role="main"] {
  .hide-from-all {
    @include hide-from-all;
  }
  .screenreaders-only {
    @include screenreaders-only;
  }
  .invisible {
    @include invisible;
  }
  .hide-text {
    @include hide-text;
  }

  & > *:first-child {
    @include rem(padding-top, 100px);
  }

  article {
    @include padding-trailer(2);
  }

  aside {
    @include adjust-font-size-to(14px);
    color: $darkgray;
    float: right;

    // Override
    &.layout-sidebar__side {
      float: none;
    }

    section {
      margin-left: 0;
    }
  }

  fieldset {
    @include rem(max-width, $w-sml);
    margin: 0 auto;
    min-width: 0;
  }

  .half .youtube5container {
    height: 50% !important;
  }

  section {
    @include padding-leader(2);
    @include padding-trailer(2);

    div {
      @include rem(max-width, $w-sml);
      margin: 0 auto;

      &.youtube5placeholder {
        margin: 0 auto;
        max-width: 100% !important;
        width: 100% !important;
      }

      &.youtube5container {
        width: 100% !important;
      }

      &.fullwidth,
      &.fifth,
      &.bottom-align-flat,
      &.video-loop,
      &.bottom-align,
      &.enquiry,
      &.detail,
      &.tabbed-nav,
      &.full-width,
      &.filtered-listing-wrapper,
      &.filtered-listing-section,
      &.filtered-listing-section .bside {
        max-width: 100%;
      }
    }

    &.tight {
      padding-bottom: 0;

      p:last-child {
        padding-bottom: 0;
      }
    }


    &.links {
      padding-top: 0;

      h2 {
        @include adjust-font-size-to(13px);
        font-weight: $bold;
        letter-spacing: 3px;
        text-transform: uppercase;
      }

      ul {
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
        padding-right: 0;
      }

      p,
      li {
        @include adjust-font-size-to(16px);
      }

      li {
        list-style-type: none;
        margin-left: 0;
      }
    }

    & + .video {
      @include rem(margin-top, -30px);
      @include rem(max-width, $w-lge);
      @include breakpoint($w-lge) {
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 550px;
      }
    }
  }

  footer {
    @include padding-leader(2);
    @include padding-trailer(2);
    clear: both;

    a.social {
      @include rem(border-radius, 3px);
      @include rem(font-size, 14px);
      @include rem(margin, 0 15px);
      background-color: transparent;
      color: $white;
      display: inline-block;
      text-decoration: none;
      vertical-align: top;

      [data-icon] {
        @include rem(padding, 10px);
        height: auto;
        width: auto;
      }

      .icon {
        @include rem(height, 24px);
        @include rem(width, 24px);
      }

      .icon-over {
        @include rem(height, 24px);
        @include rem(margin-left, -24px);
        @include rem(margin-top, -24px);
        @include rem(width, 24px);
      }

      &:hover {
        background-color: $highlight;
        transition: all 0.2s linear;
        transform: scale(1.1);
      }
    }

    &.alt {
      @include rem(padding, 30px 0);
      background-color: $paleblue;
      box-shadow: 0 6px 6px 4px rgba($black, .3);
      color: $black;

      .center {
        padding-bottom: 0;
      }

      ul a {
        color: $black;
      }

      a.social {
        color: $black;

        &:hover {
          color: $white;
        }
      }
    }

    &.contrib {
      background-color: $paleyellow;
      border: 1px solid darken($paleyellow, 10%);

      p {
        padding-top: 0;

        @include breakpoint(desktop) {
          padding-left: 0;
        }
      }

      ul {
        @include rem(padding-left, 20px);
        @include rem(max-width, $w-sml);
        margin: 0 auto;
        padding-top: 0;
      }
    }
  }

  @include breakpoint(desktop) {
    font-weight: $light;
  }

  aside {
    clear: both;
    float: left;
    width: 100%;

    dt {
      @include rem(letter-spacing, 1px);
      @include rem(padding-bottom, 5px);
      font-weight: $bold;
      margin-left: 0;
      text-transform: uppercase;
      width: 100%;
    }

    dd {
      margin-left: 0;
      width: 100%;
    }

    @include breakpoint(desktop) {
      display: inline-block;
      float: none;
      width: 25%;
    }
  }

  .hold {
    @include rem(max-width, $w-mid);
    margin: 0 auto;

    aside {
      @include rem(padding-bottom, 15px);
      @include rem(padding-top, 5px);
      vertical-align: top;

      dt {
        width: 100%;
      }

      @include breakpoint(desktop) {
        width: 24%;

      }
    }

    .bside {
      @include breakpoint(desktop) {
        @include rem(padding-bottom, 20px);
        @include rem(padding-top, 20px);
      }

      dd {
        @include rem(padding-bottom, 10px);
      }
    }
  }

  .overview {
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: 100%;

    @include breakpoint(desktop) {
      width: 814px;
    }

    img {
      border: 1px solid $lightergray;
      display: inline;
      margin-right: 10px;
      vertical-align: top;

      &.last {
        margin-right: 0;
      }
    }

    .block {
      background-color: rgba($black, .7);
      color: $white;
      font-weight: $bold;
      left: 50%;
      margin-left: -406px;
      position: absolute;
      text-decoration: none;
      width: 200px;

      &:hover {
        background-color: rgba($paleyellow, .8);
        color: $black;
      }

      &.desktop {
        margin-left: -194px;
        width: 601px;
      }
    }
  }

  .fifth {
    @include rem(margin-bottom, 15px);
    @include rem(max-width, $w-sml);
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    width: 94%;


    @include breakpoint(wide) {
      @include rem(margin-bottom, 15px);
      @include rem(max-width, $w-lge);
      width: 100%;

      .col {
        margin: 1%;
        float: left;
        margin: 0 1%;
        text-align: center;
        width: 18%;
      }
    }
  }

  .quarter {
    li {
      @include rem(padding-bottom, 20px);
      line-height: 1;
      margin-left: 9%;
      margin-right: 9%;
      text-align: left;
      width: 82%;

      @include breakpoint(desktop) {
        float: left;
        margin: 0;
        padding: 0;
        text-align: center;
        width: 25%;
      }
    }
  }

  .with-figure {
    @include rem(max-width, $w-sml);
    margin: 0 auto;
  }

  .layout-sidebar {
    &__main,
    &__side {
      @include rem(padding, 32px 16px);
    }

    &__side {
      @include rem(font-size, 14px);
      background-color: $paleblue;
      color: $darkgray;
      line-height: 1.68;
    }

    @include breakpoint(desktop) {
      display: table;
      width: 100%;

      &__main,
      &__side {
        @include rem(padding, 72px 16px);
        display: table-cell;
        vertical-align: top;
      }

      &__side {
        width: 25%;
      }
    }

    @include breakpoint(wide) {
      &__main,
      &__side {
        @include rem(padding, 72px 32px);
      }
    }
  }

  .alt {
    background-color: $paleblue;

    & + .spacer {
      margin-top: 0;
      padding-top: 0;
    }
  }

  .margin-rule {
    .floating {
      @include rem(padding, 15px 15px 30px);
      background-color: $lightgray;

      h2,
      p {
        padding-bottom: 0;
      }
    }

    @include breakpoint(desktop) {
      @include rem(width, 1099px);
      margin: 0 auto;

      section {
        @include rem(margin, 30px 0 30px 300px);
        padding-bottom: 0;
        padding-top: 0;

        &.ruled {
          @include rem(margin-bottom, 60px);
          @include rem(margin-top, 60px);
          border-left: 1px solid $black;
          float: left;
          margin-left: 0;
        }
      }

      .floating {
        @include rem(padding-right, 20px);
        @include rem(padding-top, 50px);
        @include rem(width, 280px);
        background-color: transparent;
        float: left;
        text-align: right;

        h2 {
          @include rem(font-size, 26px);
          @include rem(padding-bottom, 15px);
        }
      }
    }
  }

  .tilt-before {
    @include rem(padding-top, 50px);

    &:before,
    &::before {
      @extend %tilt;
      @include rem(margin-top, -100px);
      background-color: $white;
      transform: skewY(-2deg);
    }

    &.alt:before,
    &.alt::before {
      background-color: $paleblue;
    }
  }

  .tilt-after {
    @include rem(padding-bottom, 50px);

    &:after,
    &::after {
      @extend %tilt;
      background-color: $white;
      transform: skewY(2deg);
    }

    &.alt:after,
    &.alt::after {
      background-color: $paleblue;
    }

    & + * {
      @include rem(padding-top, 100px);
    }
  }

  .with-tilt-sibling {
    @include rem(padding-bottom, 100px);
  }

  .center {
    text-align: center;
  }

  .showie {
    display: none;
  }
}

.ie {
  .uomcontent .fullwidth {
    p,
    p.black {
      margin: 0 auto;
      max-width: 900px;
      text-align: center;
    }
  }

  .uomcontent ul.ticked-list li:before {
    color: #3fc76e;
    content: '\221a';
    font-size: 16px;
    font-weight: 600;
    left: 0;
    margin-left: -22px;
    position: absolute;
  }
}

.ie9 {
  .uomcontent ul.ticked-list li:before {
    content: '';
  }
}

.ie8 {
  .uomcontent .noie {
    display: none;
  }

  .uomcontent .showie {
    display: block;
  }
}

// Uninjected styles
.uomcontent .page-local-history,
.uomcontent [role="navigation"].no-js {
  @include rem(padding, 15px 30px);
  color: $midblue;
  display: block;

  a {
    color: $midblue;

    &:hover {
      color: $white;
    }
  }
}

.uomcontent footer.cta {
  @include rem(padding-top, 30px);
  background-color: $blue;
  color: $white;

  .overview {
    @include rem(padding, 30px 0 0);
  }

  .button-hero-inverse {
    @include rem(margin-left, 30px);
    @include rem(padding-bottom, 10px);
    @include rem(padding-top, 10px);

    &::after {
      @include rem(top, -4px);
    }
  }

  hr {
    border: 0 none;
    border-top: 1px solid rgba($white, .2);
  }

  ul {
    @include rem (max-width, $w-lge);
    margin: 0 auto;

    li {
      @include rem(padding, 15px);
      list-style-type: none;
    }

    a {
      color: $white;
    }

    img {
      @include rem(margin-right, 10px);
      @include rem(max-width, 24px);
      vertical-align: middle;
    }

    @include breakpoint(desktop) {
      @include rem(padding, 0 0 30px);
      text-align: center;

      li {
        @include rem(padding, 30px);
        display: inline-block;
        float: none;
        width: auto;
      }
    }

    &.site-links {
      @include breakpoint(desktop) {
        @include rem(padding-top, 30px);
      }
    }
  }
}

.ie8 .uomcontent {
  .fifth .col {
    float: left;
    margin: 0 1%;
    text-align: center;
    width: 18%;
  }
}
