@mixin aligned-title {
  font-size: 1.75rem;
  padding-top: 3rem;
  padding-bottom: 2.25rem;
  padding-right: 1.25rem;
  font-weight: $light;
  letter-spacing: 0;
  margin: 0 auto;
  padding-left: 0;
  text-align: left;
  text-transform: none;
  width: 94%;

  @include breakpoint(wide) {
    padding-top: 5rem;
    width: 100%;
  }

  &:after {
    margin-top: 2.25rem;
    width: 3.125rem;
    border-bottom: 2px solid $black;
    content: '';
    display: block;
    margin-left: 0;
  }
}

@mixin subtitle {
  @include adjust-font-size-to(15px);
  letter-spacing: .125rem;
  font-weight: $bold;
  text-transform: uppercase;
}

@mixin title {
  @include subtitle;
  text-align: center;

  &:after {
    @include margin-leader(1);
    width: 5rem;
    border-bottom: 2px solid $black;
    content: '';
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  &::after {
    @include margin-leader(1);
    width: 5rem;
    border-bottom: 2px solid $black;
    content: '';
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.uomcontent {
  .subtitle {
    @include subtitle;
  }

  .title {
    @include title;
  }

  h1.aligned-title {
    @include aligned-title;
  }

  h1.aligned-title + section {
    padding-top: 0;
  }

  .feature {
    @include adjust-font-size-to(20px);
  }
}

.uomcontent [role="main"] {
  h1.highlight {
    @include adjust-font-size-to(75px);
    color: $highlight;
    font-weight: $thin;
    letter-spacing: -5px;
    text-align: center;
    animation: hue 80s infinite linear;

    @include breakpoint(desktop) {
      @include adjust-font-size-to(160px);
    }
  }

  header h1.highlight,
  & > header:first-child h1.highlight,
  header.image h1.highlight,
  & > header.image:first-child h1.highlight,
  header.banner h1.highlight,
  & > header.banner:first-child h1.highlight {
    @include adjust-font-size-to(60px);
    text-align: center;

    @include breakpoint(desktop) {
      @include adjust-font-size-to(100px);
      text-align: center;
    }

    @include breakpoint(height-medium) {
      padding-top: 0;
    }
  }
}
