@keyframes hue {
  from { filter: hue-rotate(0deg); }
  to { filter: hue-rotate(-360deg); }
}

@mixin inner-list-reset {
  padding-bottom: 1em;
  padding-top: .5em;

  ul li {
    list-style-type: disc;

    ol,
    ul {
      padding-bottom: 0;
      padding-top: .5em;
    }
  }

  ol li {
    list-style-type: decimal;

    ol,
    ul {
      padding-bottom: 0;
      padding-top: .5em;
    }

    ol li {
      list-style-type: lower-alpha;

      ol li {
        list-style-type: lower-roman;
      }
    }

    ul li {
      list-style-type: disc;
    }
  }

  .ticked-list li,
  .no-li,
  ol.steps li {
    list-style-type: none;
  }
}

@mixin ticks {
  @include rem(padding-left, 30px);

  @include breakpoint(desktop) {
    @include rem(padding-left, 20px);
  }

  li {
    list-style-type: none;
    position: relative;

    &::before {
      @include rem(height, 5px);
      @include rem(left, 6px);
      @include rem(margin-left, -30px);
      @include rem(top, 6px);
      @include rem(width, 10px);
      background: transparent;
      border: 3px solid $green;
      border-right: 0 none;
      border-top: 0 none;
      content: '';
      position: absolute;
      transform: rotate(-45deg);
    }

    &.disabled::before {
      opacity: .2;
    }


    ul {
      @include padding-leader(.5);
      @include padding-trailer(0);
    }

    li {
      list-style-type: disc;

      &::before {
        display: none;
      }
    }
  }
}


.uomcontent {
	background-color: $white;
  font-family: $ff-sans;
  font-weight: $regular;

  .sans {
    font-family: $ff-sans;
  }

  .fixed {
    font-family: $ff-fixed;
  }

  .serif {
    font-family: $ff-serif;
  }

  .thin {
    font-weight: $thin;
  }

  .light {
    font-weight: $light;
  }

  .regular {
    font-weight: $regular;
  }

  .bold {
    font-weight: $bold;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  li,
  table {
    @include wrapper;
    @include rem(max-width, $w-sml);
    font-weight: $light;
    padding: 0;

    @include breakpoint(tablet) {
      @include rem(max-width, $w-sml);
    }
  }

  h1 {
    @include adjust-font-size-to(26px);
    @include padding-trailer(1);
    font-weight: $light;

    @include breakpoint(desktop) {
      @include adjust-font-size-to(33px);
    }
  }

  h2 {
    @include adjust-font-size-to(15px);
    @include rem(letter-spacing, 1px);
    @include padding-leader(1);
    @include padding-trailer(1);
    clear: left;
    font-weight: $bold;
    text-transform: uppercase;
  }

  h3 {
    @include adjust-font-size-to(16px);
    font-weight: $bold;

    &.subtitle {
	    text-decoration: underline;
	    text-transform: none;
	  }
  }

  p,
  li {
    @include rem(letter-spacing, .2px);
    @include padding-trailer(1);
  }

  ol,
  ul {
    @include rem(max-width, $w-sml);
    @include rem(padding-left, 15px);
    @include rem(padding-right, 15px);
    color: $darkgray;
    list-style-position: outside;
    margin: 0 auto;

    li {
      @include padding-trailer(0.5);
      @include rem(margin-left, 15px);
      @include rem(max-width, $w-sml);
      color: $black;
      display: list-item;

      &:last-child {
        padding-bottom: 0;
      }

      &.no-li {
        list-style-type: none;

        &:before,
        &::before {
          display: none;
        }
      }
    }

    &.nobullet {
      @include breakpoint(desktop) {
        padding-left: 0;
      }

      li {
        list-style-type: none;
        margin-left: 0;
      }
    }

    @include inner-list-reset;
  }

  ol {
    @include rem(padding-left, 30px);

    &[type="\a"] li {
      list-style-type: lower-alpha;

      ol[type="\A"] li {
        list-style-type: upper-alpha;
      }

      ol[type="1"] li {
        list-style-type: decimal;
      }

      ol[type="\i"] li {
        list-style-type: lower-roman;
      }

      ol[type="\I"] li {
        list-style-type: upper-roman;
      }
    }

    &[type="\A"] li {
      list-style-type: upper-alpha;

      ol[type="\a"] li {
        list-style-type: lower-alpha;
      }

      ol[type="1"] li {
        list-style-type: decimal;
      }

      ol[type="\i"] li {
        list-style-type: lower-roman;
      }

      ol[type="\I"] li {
        list-style-type: upper-roman;
      }
    }

    &[type="\i"] li {
      list-style-type: lower-roman;

      ol[type="\a"] li {
        list-style-type: lower-alpha;
      }

      ol[type="\A"] li {
        list-style-type: upper-alpha;
      }

      ol[type="1"] li {
        list-style-type: decimal;
      }

      ol[type="\I"] li {
        list-style-type: upper-roman;
      }
    }

    &[type="\I"] li {
      list-style-type: upper-roman;

      ol[type="\a"] li {
        list-style-type: lower-alpha;
      }

      ol[type="\A"] li {
        list-style-type: upper-alpha;
      }

      ol[type="1"] li {
        list-style-type: decimal;
      }

      ol[type="\i"] li {
        list-style-type: lower-roman;
      }
    }

    &[type="1"] li {
      list-style-type: decimal;

      ol[type="\a"] li {
        list-style-type: lower-alpha;
      }

      ol[type="\A"] li {
        list-style-type: upper-alpha;
      }

      ol[type="\i"] li {
        list-style-type: lower-roman;
      }

      ol[type="\I"] li {
        list-style-type: upper-roman;
      }
    }

    &.steps {
      @include rem(max-width, $w-mid);
      counter-reset: steps;
      padding-left: 0;
      padding-right: 0;

      & > li {
        @include rem(max-width, $w-mid);
        @include rem(padding-left, 70px);
        border-top: 1px solid rgba(#000000, 0.1);
        counter-increment: steps;
        list-style-type: none;
        position: relative;

        &:first-child {
          border-top: none;
        }

        &::before {
          @include rem(font-size, 50px);
          @include rem(letter-spacing, -5px);
          @include rem(padding-top, 20px);
          @include rem(width, 60px);
          color: $black;
          content: counter(steps);
          display: block;
          font-weight: $bold;
          left: 0;
          line-height: 1.2;
          position: absolute;
          text-align: right;
          top: 0;
        }

        & > p:first-child {
          @include padding-leader(1);
        }
      }

      h2 {
        @include adjust-font-size-to(26px);
        @include padding-leader(1);
        @include padding-trailer(1);
        font-weight: $light;
        text-transform: none;

        @include breakpoint(desktop) {
          @include adjust-font-size-to(33px);
        }
      }

      ol,
      ul {
        @include rem(padding-left, 20px);
        @include rem(padding-right, 20px);
        padding-bottom: 0;
        padding-top: .5em;
      }

      @include breakpoint(desktop) {
        & > li {
          * {
            max-width: 650px;
          }

          &::before {
            @include rem(font-size, 68px);
            @include rem(left, 10px);
            @include rem(letter-spacing, -7px);
            line-height: 1.05;
          }
        }
      }

      @include breakpoint(860px) {
        & > li {
          margin-right: 0;
          padding-left: 0;
        }
      }

      @include breakpoint(wide) {
        & > li {
          @include rem(padding-left, 110px);

          > * {
            margin-left: 0;
          }

          li > * {
            margin-left: 0;
          }

          &::before {
            @include rem(font-size, 80px);
            @include rem(letter-spacing, -11px);
          }
        }
      }

      @include breakpoint(1400px) {
        & > li {
          * {
            max-width: 700px;
          }
        }
      }
    }
  }

  // Nested aggregation
  ol.nested {
    counter-reset: section;
    list-style-type: none;
    padding-left: 3%;
    padding-right: 3%;
    width: 94%;

    ol {
      counter-reset: section;
      list-style-type: none;
      padding-left: 0;
      padding-right: 0;
      width: 100%;
    }

    li {
      list-style-type: none;
      margin-left: 0;
    }

    li::before {
      counter-increment: section;
      content: counters(section,".") ". ";
      padding-right: .4em;
    }

    ol {
      counter-reset: section;
      list-style-type: none;
      padding: 1em 0 0;

      li::before {
        content: counters(section,".") " ";
      }

      &[type="a"],
      &[type="i"] {
        @include rem(padding-left, 42px);
        @include rem(padding-top, 12px);

        li::before {
          display: none;
        }
      }

      &[type="a"] li {
        list-style-type: lower-latin;
      }

      &[type="i"] li {
        list-style-type: lower-roman;
      }

    }
  }

  ol.brackets {
    counter-reset: list1;

    li {
      list-style: none;
      position: relative;
    }

    &[type="a"] {
      counter-reset: lista;

      li::before {
        content: '(' counter(lista, lower-alpha) ') ';
        counter-increment: lista;
      }
    }

    &[type="i"] {
      counter-reset: listi;

      li::before {
        content: '(' counter(listi, lower-roman) ') ';
        counter-increment: listi;
      }
    }

    li::before {
      content: '(' counter(list1, decimal) ') ';
      counter-increment: list1;
      left: -1.6em;
      position: absolute;
    }
  }

  ul {
  	li {
  		list-style-type: disc;
  	}

    &.ticked-list {
      @include ticks;
    }
  }

  .ticked-list ul {
    @include ticks;
  }

  dl {
    @include adjust-font-size-to(12px);
    @include padding-leader(1);
    @include padding-trailer(1);
    @include rem(padding-left,15px);
    @include rem(padding-right,15px);
    dt {
      @include rem(width, 120px);
      clear: left;
      float: left;
    }

    dd {
      float: left;
    }

    &.bside {
      @include rem(font-size, 15px);
      dt {
        line-height: 1.2;
        margin: 0;
        text-align: left;
        width: 15%;
      }

      dd {
        margin: 0 0 0 5%;
        width: 80%;
      }

      span {
        @include rem(font-size, 28px);
        letter-spacing: -.125em;
        line-height: 1;
      }

      @include breakpoint(desktop) {
        @include rem(padding, 10px 30px);
        display: inline-block;
        width: 75%;

        dt {
          text-align: right;
        }

        dd {
          margin: 0 0 0 2%;
          width: 83%;
        }
      }
    }
  }

  hr {
    border-bottom: 1px solid darken($lightgray, 5%);
    border-top: 0;
    clear: both;
    line-height: 0;
    margin: 0;

    &.spacer {
      @include leader(1);
      @include trailer(1);
    }
  }

  a {
    color: $cyan;
    text-decoration: underline;

    &:hover {
      color: darken($cyan, 15%);
    }

    &:active {
      color: $black;
    }
  }

  .center {
    @include rem(padding, 0 0 60px);
    margin: 0 auto;
    text-align: center;
  }

  .no-padding {
    padding-bottom: 0;
  }

  .grey {
    @include adjust-font-size-to(16px);
    color: $midgray;
  }

  .main-title {
    @include adjust-font-size-to(36px);
    @include padding-leader(1);
    @include padding-trailer(1);
    font-family: $ff-serif;
    font-weight: $regular;
    line-height: 1.2;

    &:after,
    &::after {
      @include rem(margin-top, 15px);
      @include rem(max-width, 700px);
      border-bottom: 2px solid $midgray;
      content: '';
      display: block;
      width: 100%;
    }

    @include breakpoint(desktop) {
      @include rem(font-size, 47.1px);
      @include rem(padding-bottom, 24px);
      @include rem(padding-top, 30px);
      line-height: 1.26;
    }

    &+ h2 {
      @include rem(padding-top, 3px);
    }
  }

  .small {
    @include adjust-font-size-to(12px);
  }

  .line {
    font-size: .8em;
    letter-spacing: 1px;
  }
}

.ie8 .uomcontent ul.nobullet li {
  margin-left: 15px;
}
