%wrapper {
  @include rem(padding, 15px);
  margin: 0 auto;
  max-width: 100%;

  @include breakpoint(tabletportrait) {
    @include rem(max-width, 1099px);
  }

  @include breakpoint(desktop) {
    @include rem(max-width, 1600px);
    margin: 0 18%;
  }
}

%code {
  @include rem(font-size, 14px);
  @include rem(border-radius, 3px);
  background-color: darken($lightgray, 2%);
  border-color: darken($lightgray, 5%);
  border-style: solid;
  border-width: 0;
  font-family: $ff-fixed;
}

body {
  background-color: $navy;
  color: $black;
  font-family: $ff-sans;
  font-size: 118%;
}

[role="main"] {
  background-color: $lightgray;
  font-weight: $light;

  header {
    @include rem(margin-bottom, 45px);
    background-color: $lightgray;
    background-image: url(/assets/images/bg-banner.jpg);
    background-position: center 50%;
    background-repeat: no-repeat;
    color: $white;
    position: relative;
    p {
      @include rem(font-size, 22px);
    }

    @include breakpoint(desktop) {
      @include rem(height, 620px);
      @include rem(padding-bottom, 30px);

      p {
        @include rem(font-size, 32px);
        @include rem(padding-top, 10px);
      }
      section {
        @include rem(bottom, 30px);
        position: absolute;
      }
    }
  }


  article {
    @include rem(padding-bottom, 30px);
  }

  section {
    @extend %wrapper;
    @include rem(max-width, 700px);
    @include rem(padding-bottom, 30px);
    @include rem(padding-top, 30px);
  }

  footer {
    @extend %wrapper;
    @include rem(padding-bottom, 30px);
    section {
      @include breakpoint(desktop) {
        margin-left: 0;
      }
    }
  }

}

h1 {
  @include rem(font-size, 48px);
  @include rem(padding, 20px 0);
  font-family: $ff-serif;
  font-weight: $regular;
  line-height: 1;
  margin: 0 auto;
  @include breakpoint(desktop) {
    @include rem(font-size, 96px);
    margin-left: 0;
  }
}

h2 {
  @include rem(font-size, 24px);
  @include rem(padding, 20px 0 10px);
  clear: left;
  font-weight: $light;
  margin: 0 auto;
  @include breakpoint(desktop) {
    margin-left: 0;
  }
}

p,
li {
  @include rem(font-size, 19px);
  @include rem(padding-bottom, 30px);
  line-height: 1.5;
  margin: 0 auto;
  @include breakpoint(desktop) {
    margin-left: 0;
  }
}

.feature {
  @include rem(font-size, 20px);
}

.fullwidth {
  @include rem(height, 500px);
  background-color: transparent;
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover;
  -ms-behavior: url(/assets/javascripts/backgroundsize.min.htc);
  display: inline-block;
  margin: 0 auto;
  position: relative;
  width: 100%;
  section {
    background: url(/assets/images/overlay.png) center top repeat-x;
    bottom: 0;
    margin: 0;
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    position: absolute;
  }
  p {
    @include rem(font-size, 22px);
    @include rem(padding-top, 45px);
    color: $white;
    font-weight: $regular;
    margin: 0 3%;
    max-width: 94%;
    padding-bottom: 0;

    @include breakpoint(desktop) {
      margin: 0 18%;
      max-width: 64%;
    }
  }
}

code {
  @extend %code;
  @include rem(border-bottom-width, 2px);
  color: $midgray;
}

pre {
  @extend %code;
  @include rem(border-left-width, 6px);
  @include rem(margin-bottom, 15px);
  @include rem(margin-top, 10px);
  @include rem(max-width, 700px);
  @include rem(padding, 15px);
  line-height: 1.2;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  code {
    border-bottom: 0;
  }
  @include breakpoint(desktop) {
    margin-left: 0;
    max-width: 100%;
  }
}

a {
  color: darken($cherry, 15%);
  text-decoration: underline;
  &:hover {
    color: $cherry;
  }
}

img {
  border: 0;
  max-width: 100%;
}

.button {
  @extend %flatbutton;
}

ol,
ul {
  @include rem(margin, 0 0 0 25px);
  @include rem(padding, 10px 0);
  color: $darkgray;
  list-style-position: outside;
  li {
    @include rem(padding-bottom, 5px);
    color: $black;
    display: list-item;
  }
  &.nobullet {
    margin-left: 0;
    li {
      list-style-type: none;
    }
  }
}

ol li {
  list-style-type: decimal;
}

ul li {
  list-style-type: disc;
}

dl {
  @extend %clearfix;
  @include rem(font-size, 12px);
  @include rem(padding, 10px 15px);
  dt {
    @include rem(width, 120px);
    clear: left;
    float: left;
  }
  dd {
    float: left;
  }
}

blockquote {
  @include rem(font-size, 24px);
  max-width: 70%;
  @include rem(padding, 12px 15px 0);
  color: $darkblue;
  font-family: $ff-serif;
  font-style: italic;
  font-weight: $regular;
  margin: 0 auto;
  quotes: "\201C""\201D";
  text-align: left;
  &:after,
  &:before {
    @include rem(font-size, 100px);
    @include rem(margin-left, -50px);
    @include rem(margin-right, 10px);
    color: darken($lightgray, 10%);
    content: open-quote;
    line-height: 0.1em;
    vertical-align: -0.333em;
  }
  &:after {
    content: close-quote;
    margin-right: 0;
    margin-left: 0;
    vertical-align: -0.667em;
  }
  cite {
    @include rem(font-size, 16px);
    color: lighten($midgray, 20%);
    float: left;
    font-family: $ff-sans;
    font-style: normal;
    font-weight: $light;
    text-align: left;
    width: 100%;
    &:before {
      @include rem(padding-right, 5px);
      content: "\2014";
    }
  }
  p {
    @include rem(font-size, 24px);
    display: inline;
    margin: 0;
    padding: 0;
  }

  @include breakpoint(desktop) {
    margin: 0 10%;
  }
}

.inset-left {
  @include rem(margin-bottom, 30px);
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding: 0;
  text-align: center;
  figcaption {
    @include rem(font-size, 14px);
    font-style: italic;
    line-height: 1.2;
    text-align: center;
  }
  img {
    max-height: 500px;
  }

  @include breakpoint(desktop) {
    @include rem(margin-bottom, 20px);
    @include rem(margin-left, -200px);
    @include rem(margin-right, 20px);
    border: 0 none;
    box-shadow: 0 0 0 0 transparent;
    float: left;
    margin-top: 0;
    img {
      max-width: 75%;
    }
    figcaption {
      @include rem(margin-bottom, 15px);
      @include rem(padding-top, 15px);
      color: $lighterblue;
      float: left;
      margin-right: 3%;
      position: relative;
      text-align: right;
      width: 22%;
      &:before {
        @include rem(width, 40px);
        border-bottom: 2px solid $lighterblue;
        content: "";
        display: block;
        position: absolute;
        right: -2px;
        top: 0;
      }
    }
  }
}

.inset-right {
  @extend .inset-left;
  @include breakpoint(desktop) {
    @include rem(margin-left, 20px);
    @include rem(margin-right, -200px);
    float: right;
    figcaption {
      float: right;
      margin-left: 3%;
      margin-right: 0;
      text-align: left;
      &:before {
        left: 2px;
        right: auto;
      }
    }
  }
}
