%wrapper {
  @include rem(padding, 10px);
  margin: 0 auto;
  max-width: 100%;

  @include breakpoint(tabletportrait) {
    @include rem(max-width, 1099px);
  }

  @include breakpoint(desktop) {
    @include rem(max-width, 1600px);
    margin: 0 18%;
  }
}

%code {
  @include rem(font-size, 14px);
  @include rem(border-radius, 3px);
  background-color: darken($lightgray, 2%);
  border-color: darken($lightgray, 5%);
  border-style: solid;
  border-width: 0;
  font-family: $ff-fixed;
}

body {
  background-color: $navy;
  color: $black;
  font-family: $ff-sans;
  font-size: 118%;
}

[role="main"] {
  background-color: $lightgray;
  font-weight: $light;

  header {
    @include rem(margin-bottom, 45px);
    background-color: $lightgray;
    background-image: url(/assets/images/bg-banner.jpg);
    background-position: center 50%;
    background-repeat: no-repeat;
    color: $white;
    position: relative;
    p {
      @include rem(font-size, 22px);
      margin-right: 10%;
      max-width: 90%;
    }
    section {
      margin-right: 0;
    }

    @include breakpoint(desktop) {
      @include rem(height, 620px);
      @include rem(padding-bottom, 30px);

      p {
        @include rem(font-size, 32px);
        @include rem(padding-top, 10px);
      }
      section {
        @include rem(bottom, 30px);
        position: absolute;
      }
    }
  }


  article {
    @include rem(padding-bottom, 30px);
  }

  section {
    @extend %wrapper;
    @include rem(padding-bottom, 30px);
    @include rem(padding-top, 30px);
  }

  footer {
    @extend %wrapper;
    @include rem(padding-bottom, 30px);
  }

}

h1 {
  @include rem(font-size, 48px);
  @include rem(padding, 20px 0);
  font-family: $ff-serif;
  font-weight: $regular;
  line-height: 1;
  @include breakpoint(desktop) {
    @include rem(font-size, 96px);
  }
}

h2 {
  @include rem(font-size, 24px);
  @include rem(padding, 20px 0 10px);
  font-weight: $light;
}

p,
li {
  @include rem(font-size, 19px);
  @include rem(max-width, 700px);
  @include rem(padding-bottom, 15px);
  line-height: 1.5;
}

.feature {
  @include rem(font-size, 20px);
}

.fullwidth {
  @include rem(height, 500px);
  background-color: transparent;
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover;
  -ms-behavior: url(/assets/javascripts/backgroundsize.min.htc);
  display: inline-block;
  margin: 0 auto;
  width: 100%;
}

code {
  @extend %code;
  @include rem(border-bottom-width, 2px);
  color: $midgray;
}

pre {
  @extend %code;
  @include rem(border-left-width, 6px);
  @include rem(margin-bottom, 15px);
  @include rem(margin-top, 10px);
  @include rem(padding, 15px);
  line-height: 1.2;
  max-width: 100%;
  overflow: auto;
  code {
    border-bottom: 0;
  }
}

a {
  color: darken($cherry, 15%);
  text-decoration: underline;
  &:hover {
    color: $cherry;
  }
}

img {
  border: 0;
  max-width: 100%;
}

.button {
  @extend %flatbutton;
}

ol,
ul {
  @include rem(margin, 0 0 0 25px);
  @include rem(padding, 10px 0);
  color: $darkgray;
  list-style-position: outside;
  li {
    @include rem(padding-bottom, 5px);
    color: $black;
    display: list-item;
  }
  &.nobullet {
    margin-left: 0;
    li {
      list-style-type: none;
    }
  }
}

ol li {
  list-style-type: decimal;
}

ul li {
  list-style-type: disc;
}

dl {
  @extend %clearfix;
  @include rem(font-size, 12px);
  @include rem(padding, 10px 15px);
  dt {
    @include rem(width, 120px);
    clear: left;
    float: left;
  }
  dd {
    float: left;
  }
}
