.type-test {
  .sans {
    font-family: $ff-sans;
  }
  .fixed {
    font-family: $ff-fixed;
  }
  span.thin {
    font-weight: $thin;
  }
  span.light {
    font-weight: $light;
  }
  span.regular {
    font-weight: $regular;
  }
  span.bold {
    font-weight: $bold;
  }
}