.uomcontent [role="main"] {

  /**
   * Embeds
   */
  .embed {
    max-width: var(--w-mid);
    margin: 1.5rem auto 3rem;

    &__inner {
      position: relative;
      padding-bottom: 56.25%; /* 16/9 by default */
    }

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: block; /* remove unwanted `inline-block` spacing */
    }

    /* variant with no margin */
    &--tight {
      margin-top: 0;
      margin-bottom: 0;
    }

    /* wide ratio (21:9) */
    &--21_9 > .embed__inner {
      padding-bottom: 42.5%;
    }

    /* SoundCloud horizontal player */
    &--soundcloud {
      & > .embed__inner {
        padding-bottom: 0;
      }

      iframe {
        position: static;
        height: 166px;
      }
    }

    /* SoundCloud cover player */
    &--soundcloud-cover {
      max-width: 15rem;

      & > .embed__inner {
        padding-bottom: 100%; /* square */
      }

      @media (--bp-tablet) {
        max-width: 20rem;
      }

      @media (--bp-desktop) {
        max-width: 25rem;
      }
    }
  }

}
