.uomcontent [role="main"] {
  // Default 16:9
  .video {
    height: 0;
    margin-left: auto;
    max-width: 1099px;
    padding-bottom: 56.25%;
    padding-top: 0;
    position: relative;

    @include breakpoint(wide) {
      margin-bottom: 3rem;
      max-width: 100%;
      padding-bottom: 39.45%;
    }

    [data-ytid] {
      background-color: #000;
      cursor: pointer;
      height: 100%;
      left: 0;
      margin: 0;
      position: absolute;
      text-align: center;
      top: 0;
      width: 100%;

      img {
        width: 100%;

        &.video-trigger {
          height: 100px;
          left: 50%;
          margin-left: -50px;
          margin-top: -50px;
          position: absolute;
          top: 50%;
          width: 100px;

          @include breakpoint(desktop) {
            height: 140px;
            margin-top: -70px;
            margin-left: -70px;
            width: 140px;
          }
        }
      }

      @include breakpoint(wide) {
        margin-left: 11%;
        width: 70%;
      }
    }

    iframe {
      height: 100%;
      left: 0;
      margin: 0;
      position: absolute;
      top: 0;
      width: 100%;

      @include breakpoint(wide) {
        margin-left: 15%;
        width: 70%;
      }
    }
  }

  // 21:9
  .video.video--21-9 {
    padding-bottom: 42.5%;

    @include breakpoint(wide) {
      max-width: 100%;
      padding-bottom: 29.75%;
    }
  }

  .half .video {
    margin-bottom: 1.875rem;
    padding-bottom: 56.25%;

    [data-ytid] {
      margin-left: 0;
      width: 100%;
    }

    @include breakpoint(desktop) {
      margin-right: 1.875rem;

      iframe {
        margin-left: 0;
        width: 100%;
      }
    }
  }

}
