.uomcontent [role="main"] {
  header,
  & > header:first-child {

  	.bottom-align {
      @extend %grad-bottom;
      @include align-self(flex-end);
      @include rem(margin-bottom, -25px);
      width: 100%;

      p {
        @include padding-trailer(1);
      }

      @include breakpoint(desktop) {
        @include rem(margin-bottom, -48px);
      }
    }

    .bottom-align-inverted {
      @extend %grad-top;
      color: $black;
    }

    .bottom-align-flat {
      @include align-self(flex-end);
      @include rem(margin-bottom, -25px);
      @include rem(padding-bottom, 30px);
      @include rem(padding-top, 30px);
      background-color: rgba($darkblue, .8);
      width: 100%;

      &.white {
        background-color: rgba($white, .8);
        color: $black;
      }

      &.black {
        background-color: rgba($black, .5);
      }

      form {
        background-color: transparent;

        label {
          color: $white;
        }
      }

      @include breakpoint(desktop) {
        @include rem(margin-bottom, -48px);
      }
    }
	}
}

.ie {
  .uomcontent header {
    position: relative;

    .bottom-align,
    .bottom-align-inverted,
    .bottom-align-flat {
      bottom: 0;
      margin-bottom: 0;
      position: absolute;
    }

    .bottom-align-flat {
      // background-image: url("#{asset_path('components/base/assets/000o80.png')}");
    }
  }
}

.ie9 {
  .uomcontent header {
    .bottom-align,
    .bottom-align-inverted,
    .bottom-align-flat {
      margin-bottom: 0;
      position: absolute;
    }
    .bottom-align-flat {
      background-image: none;
    }
  }
}
