.uomcontent [role="main"] {
  header {
    .box {
      @include rem(max-width, $w-sml);
      @include rem(padding, 30px);
      background: rgba($white, .8);
      color: $black;
      margin: 0 auto;

      h1 {
        @include title;
        @include adjust-font-size-to(15px);
        @include padding-leader(1);
        @include trailer(1);
        font-weight: $bold;
        text-align: center;
      }

      p {
        @include adjust-font-size-to(16px);
        @include padding-leader(0);
        @include padding-trailer(1);
        font-weight: $light;
      }

      @include breakpoint(tablet) {
        @include rem(margin, 30px auto);
        @include rem(padding-left, 60px);
        @include rem(padding-right, 60px);
      }
    }
  }
}

.ie8 {
  .uomcontent header.with-box .box {
    background: $white;
    margin: 30px auto;
  }
}
