.uomcontent [role="main"] {
  header {
    .box {
      max-width: $w-sml;
      padding: 3.5rem 1.875rem;
      background: rgba($white, .8);
      color: $black;
      margin: 0 auto;

      h1 {
        @include title;
        @include adjust-font-size-to(15px);
        @include trailer(1);
        font-weight: $bold;
        text-align: center;
      }

      p {
        @include adjust-font-size-to(16px);
        @include padding-leader(0);
        font-weight: $light;
      }

      @include breakpoint(tablet) {
        margin: 1.875rem auto;
        padding-left: 3.75rem;
        padding-right: 3.75rem;
      }
    }
  }
}
