@mixin bannerbox {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@mixin banner {
  @include bannerbox;
  min-height: 18.75rem;
  height: auto;

  @include breakpoint(height-smallest) {
    min-height: 32.5rem;
  }

  @include breakpoint(height-small) {
    min-height: 38.75rem;
  }

  @include breakpoint(height-medium) {
    min-height: 45rem;
  }

  @include breakpoint(height-big) {
    min-height: 50rem;
  }

  @include breakpoint(desktop) {
    h1 {
      @include adjust-font-size-to(50px);
    }
  }
  @include breakpoint(wide) {
    h1 {
      @include adjust-font-size-to(60px);
    }
  }
}

.uomcontent [role="main"] {
  & > article:first-child {
    padding-top: 0;
  }

  &.headerless {
    border-top: 8px solid $navy;
  }

  // Alternate syntax to avoid class on parent container
  .headerless {
    border-top: 8px solid $navy;
    padding-top: 0;
  }

  header,
  & > header:first-child {
    @include padding-leader(1);
    @include padding-trailer(1);
    background-color: $navy;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: $white;
    overflow: hidden;
    width: 100%;

    &.reverse {
      color: $black;
    }

    &.solid-black {
      background-color: $black;
    }

    &.solid-paleblue {
      background-color: $paleblue;
      color: $black;
    }

    &.image {
      @include bannerbox;
      min-height: 18.75rem;
      height: auto;

      & > h1,
      & > p,
      & > div {
        flex-basis: 100%;
      }

      & > h1,
      & > p {
        @include padding-trailer(2);
        max-width: $w-mid;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
        text-align: center;
      }

      &.with-filters {
        height: auto;
      }
    }

    &.banner {
      @include banner;
    }

    &.with-box {
      display: table;
      padding: 0;

      @include breakpoint(tablet) {
        padding-bottom: 1.875rem;
        padding-top: 1.875rem;
      }
    }

    h1 {
      @include adjust-font-size-to(33px);
      @include padding-trailer(0);
      max-width: $w-sml;
      font-weight: $thin;
      margin: 0 auto;
      text-align: left;

      &.article {
        font-weight: $bold;
      }

      @include breakpoint(desktop) {
        @include adjust-font-size-to(45px);
      }

      @include breakpoint(wide) {
        @include adjust-font-size-to(55px);
      }
    }

    p {
      max-width: $w-sml;
      font-weight: $thin;
      margin: 0 auto;

      @include breakpoint(desktop) {
        @include adjust-font-size-to(20px);
        @include padding-leader(1);
      }

      @include breakpoint(wide) {
        @include adjust-font-size-to(24px);
      }
    }

    p.author {
      @include adjust-font-size-to(16px);
      // @include padding-leader(1);
      // @include trailer(-1);
      max-width: 21.875rem;
      font-style: italic;

      &:before {
        @include leader(0);
        @include trailer(1);
        width: 5rem;
        border-top: 5px solid currentColor;
        content: '';
        display: block;
        margin-left: auto;
        margin-right: auto;
      }

      em {
        @include adjust-font-size-to(18px);
        font-style: normal;
        font-weight: $bold;
      }
    }

    & + hr.spacer {
      margin-top: 0;
    }

    @include breakpoint(desktop) {
      @include padding-leader(2);
      @include padding-trailer(2);
      // overflow: hidden;
    }
  }
}

.uomcontent [role="main"] .contrast-helper {
  background-color: $midblue;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 0;
  position: relative;

  header {
    background-color: rgba($black, .5);
  }

  &.no-filter header {
    background-color: transparent;
  }
  &.filter-blue header {
    background-color: rgba($highlight, .5);
  }
  &.filter-green header {
    background-color: rgba($green, .5);
  }
  &.filter-yellow header {
    background-color: rgba(#fff000, .5);
  }
  &.filter-red header {
    background-color: rgba($cherry, .5);
  }

  .stage {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    canvas {
      margin: 0 auto;
    }
  }
}

.uomcontent [role="main"] .fixed-bg {
  background-attachment: fixed;
  background-color: $black;
  background-position: top center;
  background-size: inherit;
}

.uomcontent .floating + [role="main"] {
  header,
  & > header:first-child {
    padding-top: 7.5rem;

    @include breakpoint(desktop) {
      padding-top: 11.25rem;
    }
  }
}

.ie9 {
  .uomcontent {
    header,
    & > header:first-child {
      display: block;
      position: relative;
      width: 100%;

      &.image > p {
        padding-bottom: 12.5rem;
      }
    }

    header.image, header.banner {
      display: table;
    }

    [role="main"] .contrast-helper header {
      background-color: transparent;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7f000000', endColorstr='#7f000000', GradientType=1);
    }
  }
}

.ie10 .uomcontent [role="main"],
.ie11 .uomcontent [role="main"] {
  header,
  & > header:first-child {
    &.image {
      height: 18.75rem;

      &.with-filters {
        height: auto;
      }
    }

    &.banner {
      height: 18.75rem;

      @include breakpoint(height-smallest) {
        height: 32.5rem;
      }

      @include breakpoint(height-small) {
        height: 38.75rem;
      }

      @include breakpoint(height-medium) {
        height: 45rem;
      }

      @include breakpoint(height-big) {
        height: 50rem;
      }
    }
  }
}
