.uomcontent {
  header {
    .inner {
      @include clearfix;
      @include rem(max-width, $w-lge);
      margin: 0 auto;
      width: 94%;

      h1 {
        @include rem(letter-spacing, 2px);
        font-weight: $bold;
        text-transform: uppercase;
      }

      p {
        @include rem(font-size, 18px);
        @include rem(padding, 10px 0 20px);
        line-height: 1.2;
        text-align: center;
      }

      .right {
        text-align: center;

        small {
          @include rem(padding-bottom, 10px);
          display: block;
          font-weight: $light;
          line-height: 1.2;

          @include breakpoint(desktop) {
            @include rem(margin-top, -15px);
          }
        }
      }

      @include breakpoint(tablet) {
        .left {
          float: left;
          width: 75%;

          h1 {
            @include rem(font-size, 28px);
            max-width: 100%;
            text-align: left;
          }

          p {
            @include rem(font-size, 16px);
            max-width: 100%;
            text-align: left;
          }
        }

        .right {
          @include rem(padding-top, 15px);
          float: right;
          overflow: hidden;
          text-align: right;
          width: 25%;
        }

      }
    }
  }
}
