/* DEPRECATED */
.uomcontent [role="main"] {

  .soundcloud-cover {
    margin: 0 auto pxtorem(24);
    max-width: 100%;
    padding-bottom: 100%;
    position: relative;
    width: 12.5rem;

    @media screen and (--bp-height-smallest) {
      width: 20rem;
      padding-bottom: 20rem;
    }

    @media screen and (--bp-height-small) {
      width: pxtorem(400);
      padding-bottom: pxtorem(400);
    }

    @media screen and (--bp-height-medium) {
      width: 30rem;
      padding-bottom: 30rem;
    }

    @media screen and (--bp-height-big) {
      width: 35rem;
      padding-bottom: 35rem;
    }

    & > iframe {
      height: 100%;
      left: 0;
      margin: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  .soundcloud {
    max-width: 100%;
    margin-bottom: pxtorem(24);

    & > iframe {
      display: block;
      width: 100%;

      @media screen and (--bp-wide) {
        margin-left: 15%;
        width: 70%;
      }
    }
  }

}
