.uomcontent [role="main"] {
  .notice {
    @include wrapper;
    margin-bottom: .9375rem;
    max-width: $w-sml;
    padding: .9375rem;
    display: block; /* allow inline elements (e.g. `span`) */
    margin-left: auto;
    margin-right: auto;

    p,
    ul,
    ol,
    li {
      color: inherit;
    }

    @include breakpoint(tablet) {
      max-width: $w-sml;
    }
  }

  .notice--success {
    @include notice-success;
  }

  .notice--info {
    @include notice-info;
  }

  .notice--warning {
    @include notice-warning;
  }

  .notice--danger {
    @include notice-danger;
  }
}
