@define-mixin notice-success {
  background-color: var(--deprecated-col-palegreen);
  color: color(var(--deprecated-col-palegreen) lightness(-65%));

  a {
    color: color(var(--deprecated-col-palegreen) lightness(-65%));
  }
}

@define-mixin notice-info {
  background-color: var(--deprecated-col-lightestblue);
  color: color(var(--deprecated-col-lightestblue) lightness(-65%));

  a {
    color: color(var(--deprecated-col-lightestblue) lightness(-65%));
  }
}

@define-mixin notice-warning {
  background-color: var(--deprecated-col-paleyellow);
  color: color(var(--deprecated-col-paleyellow) lightness(-65%));

  a {
    color: color(var(--deprecated-col-palegreen) lightness(-65%));
  }
}

@define-mixin notice-danger {
  background-color: var(--deprecated-col-salmon);
  color: color(var(--deprecated-col-salmon) lightness(+35%));

  a {
    color: color(var(--deprecated-col-salmon) lightness(+65%));
  }
}

