@mixin notice-success {
  background-color: var(--col-palegreen);
  color: color(var(--col-palegreen) shade(65%));

  a {
    color: color(var(--col-palegreen) shade(65%));
  }
}

@mixin notice-info {
  background-color: var(--col-lightestblue);
  color: color(var(--col-lightestblue) shade(65%));

  a {
    color: color(var(--col-lightestblue) shade(65%));
  }
}

@mixin notice-warning {
  background-color: var(--col-paleyellow);
  color: color(var(--col-paleyellow) shade(65%));

  a {
    color: color(var(--col-palegreen) shade(65%));
  }
}

@mixin notice-danger {
  background-color: var(--col-salmon);
  color: color(var(--col-salmon) tint(35%));

  a {
    color: color(var(--col-salmon) tint(65%));
  }
}

