@define-mixin notice-success {
  background-color: var(--col-emerald-light);
  color: var(--col-emerald-dark);

  a {
    color: var(--col-emerald-dark);
  }
}

@define-mixin notice-info {
  background-color: var(--col-blue-light);
  color: var(--col-blue-dark);

  a {
    color: var(--col-blue-dark);
  }
}

@define-mixin notice-warning {
  background-color: var(--col-yellow-light);
  color: var(--col-orange-dark);

  a {
    color: var(--col-orange-dark);
  }
}

@define-mixin notice-danger {
  background-color: var(--col-orange-dark);
  color: var(--col-white);

  a {
    color: var(--col-yellow-light);
  }
}

