@mixin notice-success {
  background-color: var(--col-palegreen);
  color: darken(var(--col-palegreen), 65%);

  a {
    color: darken(var(--col-palegreen), 65%);
  }
}

@mixin notice-info {
  background-color: var(--col-lightestblue);
  color: darken(var(--col-lightestblue), 65%);

  a {
    color: darken(var(--col-lightestblue), 65%);
  }
}

@mixin notice-warning {
  background-color: var(--col-paleyellow);
  color: darken(var(--col-paleyellow), 65%);

  a {
    color: darken(var(--col-palegreen), 65%);
  }
}

@mixin notice-danger {
  background-color: var(--col-salmon);
  color: lighten(var(--col-salmon), 35%);

  a {
    color: lighten(var(--col-salmon), 65%);
  }
}

