@define-mixin notice-success {
  background-color: var(--col-emerald-light);
  color: color(var(--col-emerald-light) lightness(-65%));

  a {
    color: color(var(--col-emerald-light) lightness(-65%));
  }
}

@define-mixin notice-info {
  background-color: var(--col-blue-light);
  color: color(var(--col-blue-light) lightness(-65%));

  a {
    color: color(var(--col-blue-light) lightness(-65%));
  }
}

@define-mixin notice-warning {
  background-color: var(--col-yellow-light);
  color: color(var(--col-yellow-light) lightness(-65%));

  a {
    color: color(var(--col-emerald-light) lightness(-65%));
  }
}

@define-mixin notice-danger {
  background-color: var(--col-orange-dark);
  color: var(--col-white);

  a {
    color: var(--col-yellow-light);
  }
}

