.uomcontent {
  img {
    border: 0;
    max-width: 100%;
  }

  figure.full-width {
    margin-left: 0;
    margin-right: 0;
    text-align: center;

    figcaption {
      @include adjust-font-size-to(14px);
      @include padding-trailer(1);
      font-style: italic;
    }
  }

  figure.framed img {
    @include breakpoint(tablet) {
      box-shadow: 0 3px 6px -1px rgba($black, .2);
      display: inline-block;
      max-height: 90%;
    }
  }

  .fullwidth {
    @include rem(height, 500px);
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 100%;

    &.short {
      height: auto;
    }

    &.fixed-background {
      background-attachment: fixed;

      .title {
        color: $white;

        &::after {
          border-color: $white;
        }
      }
    }

    // Deprecated?
    .gmap__canvas {
      width: 100% !important;

      img {
        max-width: none;
      }
    }

    &.mid-align {
      display: table;
      padding: 0;

      section {
        align-self: center;
        background: rgba($black, 0.5);
        display: table-cell;
        padding-bottom: 0;
        padding-top: 0;
        position: static;
        text-align: center;
        top: 0;
        vertical-align: middle;
      }

      p {
        @include padding-leader(0);
        @include rem(max-width, 450px);
        font-weight: $bold;
        margin-left: auto;
        margin-right: auto;

        @include breakpoint(desktop) {
          @include adjust-font-size-to(56px);
          @include rem(max-width, $w-sml);
          padding-left: 0;
          padding-right: 0;
          text-align: left;
        }
      }
    }

    section {
      @include rem(padding-top, 200px);
      @extend %grad-bottom;
      bottom: 0;
      margin: 0;
      max-width: 100%;
      padding-left: 0;
      padding-right: 0;
      position: absolute;
      width: 100%;
    }

    p {
      @include adjust-font-size-to(19px);
      @include padding-leader(2);
      @include rem(margin, 0 15px);
      color: $white;
      font-weight: $light;
      max-width: 100%;
      padding-bottom: 0;

      &.black {
        @include padding-leader(3);
        @include padding-trailer(2);
        color: $black;
        text-align: left;
      }

      @include breakpoint(desktop) {
        @include rem(max-width, $w-mid);
        @include rem(padding-left, 20px);
        @include rem(padding-right, 20px);
        margin: 0 auto;

        &.black {
          text-align: center;
        }
      }
    }

    h2 {
      @include adjust-font-size-to(20px);
      @include rem(letter-spacing, 5px);
      color: $white;

      &.title:after,
      &.title::after {
        border-color: $white;
      }
    }

    blockquote {
      color: $white;
      line-height: 1.4;
    }

    pre {
      @include trailer(1);
      margin: 0;
      max-width: 100%;
    }

    @include breakpoint(height-small) {
      @include rem(height, 650px);
      p {
        @include adjust-font-size-to(22px);
      }
    }

    @include breakpoint(height-medium) {
      @include rem(height, 850px);
      @include rem(padding-bottom, 30px);
    }

    @include breakpoint(height-big) {
      @include rem(height, 1000px);
    }
  }
}
