.uomcontent {
  .accordion__title {
    cursor: pointer;
  }

  .accordion__hidden {
    display: block;
    max-height: 0;
    overflow: hidden;

    td {
      display: none;
    }
  }

  .accordion__close {
    display: none;
  }

  .accordion__visible .accordion__hidden {
    max-height: pxtorem(50000);
  }

  .accordion__visible tr.accordion__hidden {
    display: table-row;

    td {
      display: table-cell;
    }
  }

  .accordion__noanim {
    .accordion__hidden,
    .accordion__visible .accordion__hidden {
      transition: none;
    }
  }

  ul.accordion {
    padding-left: 0;
    padding-right: 0;

    & > li {
      border-bottom: 1px solid var(--col-blue-light);
      list-style-type: none;
      margin: 0;
      padding-bottom: 0;
      max-width: 2000px;
      width: 100%;

      ol.steps {
        ol,
        ul {
          padding-left: pxtorem(35);
          padding-right: pxtorem(35);
        }

        li {
          margin: 0;

          @media screen and (--bp-desktop) {
            padding-left: pxtorem(110);

            li {
              padding-left: 0;
            }
          }
        }

        p {
          padding-left: 3%;
          padding-right: 3%;

          @media screen and (--bp-desktop) {
            padding-left: 0;
            padding-right: 0;
          }
        }
      }

      p {
        width: 100%;
      }

      .accordion__title {
        background-color: transparent;
        display: block;
        padding-bottom: pxtorem(10);
        padding-left: pxtorem(15);
        padding-right: pxtorem(40);
        padding-top: pxtorem(10);
        position: relative;
        transition-property: background-color;
        transition-duration: 50ms;

        &:hover {
          text-decoration: underline;
        }

        &:focus {
          text-decoration: underline;
          color: var(--col-blue-mid-2);
        }

        &::before {
          border-bottom: 2px solid currentColor;
          border-right: 2px solid currentColor;
          content: '';
          content: "";
          display: inline-block;
          height: 6px;
          line-height: 1;
          margin-left: 0.7em;
          margin-right: 0.2em;
          opacity: 0.8;
          position: absolute;
          right: pxtorem(22);
          text-decoration: none;
          top: 1.6em;
          transform: rotate(45deg) translateY(0);
          transform-origin: bottom 3px;
          transition: transform 0.2s ease-in-out;
          width: 6px;
        }

        @media screen and (--bp-desktop) {
          font-size: pxtorem(20);
          line-height: pxtorem(36);
          padding-right: pxtorem(55);

          &::before {
            font-size: pxtorem(24);
            margin-top: pxtorem(-12);
          }
        }
      }

      .accordion__hidden {
        padding-top: pxtorem(12);
        padding-left: pxtorem(15);
        padding-right: pxtorem(15);
        display: none;

        /* reset inner lists */
        @mixin inner-list-reset;
      }

      &.accordion__visible {

        .accordion__title {
          border-bottom: 1px solid var(--col-blue-light);

          &::before {
            transform: rotate(225deg) translateY(-3px);
          }
        }

        .accordion__hidden {
          display: block;
        }
      }
    }
  }

  .alt ul.accordion {
    & > li {
      border-bottom-color: var(--col-blue-light);
    }
  }
}

.ie9 .uomcontent {
  ul.accordion > li {
    .accordion__title::before {
      font-size: 18px;
    }

    &.accordion__visible .accordion__title::before {
      font-size: 16px;
      content: "x";
      transform: none;
    }
  }
}
