@mixin blockquote-modern {
  &:not(.blockquote-classic) {
    font-size: 1.75rem;
    margin-bottom: 1.875rem;
    padding-bottom: 1.875rem;
    color: $lighterblue;
    display: block;
    font-family: "Arial Black", $ff-sans;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2;
    margin: 0 auto;
    max-width: $w-sml;
    padding-right: .3em;
    position: relative;
    width: 94%;

    &::after {
      content: close-quote;
    }

    &::before {
      content: open-quote;
    }

    & > * {
      display: inline;
    }

    cite {
      font-size: 1.25rem;
      margin-top: .9375rem;
      padding-bottom: .9375rem;
      padding-top: .9375rem;
      border-top: 4px solid $lighterblue;
      color: $lighterblue;
      display: block;
      float: right;
      font-family: $ff-sans;
      font-style: normal;
      font-weight: $light;
      width: 100%;
    }


    @include breakpoint(tablet) {
      clear: both;
    }

    @include breakpoint(desktop) {
      width: 100%;
    }

    &.left,
    &.right {
      @include breakpoint(tablet) {
        font-size: 2rem;
      }

      @include breakpoint(desktop) {
        padding-right: .9375rem;
        margin: 0 .9375rem 0 0;
        max-width: 25rem;
        float: left;
        max-width: 62%;
        width: auto;
      }

      @include breakpoint(wide) {
        margin-left: -11.25rem;
        max-width: 60%;
      }
    }

    &.right {
      @include breakpoint(desktop) {
        margin-left: 1.875rem;
        float: right;
        margin-right: 0;
      }

      @include breakpoint(wide) {
        margin-right: -11.25rem;
        margin-left: 0;
      }
    }
  }
}

@mixin quote-style {
  font-size: 6.25rem;
  margin-left: -3.125rem;
  margin-right: .625rem;
  color: darken($lightgray, 10%);
  content: open-quote;
  line-height: .1em;
  vertical-align: -.333em;
}

.uomcontent [role="main"] blockquote {
  @include blockquote-modern;
  margin-top: 0;

  &.blockquote-classic {
    @include adjust-font-size-to(19px);
    @include adjust-leading-to(1);
    @include padding-leader(1);
    @include padding-trailer(2);
    max-width: $w-mid;
    padding-left: .9375rem;
    padding-right: .9375rem;
    color: $darkblue;
    font-family: $ff-serif;
    font-style: italic;
    font-weight: $regular;
    margin-bottom: 0;
    margin-left: 10%;
    margin-right: 0;
    quotes: '\201C''\201D';
    text-align: left;

    &::after,
    &::before {
      @include quote-style;
    }

    &:before {
      @include quote-style;
    }

    &:after {
      @include quote-style;
      content: close-quote;
      margin-left: 0;
      margin-right: 0;
      vertical-align: -.667em;
    }

    &::after {
      content: close-quote;
      margin-left: 0;
      margin-right: 0;
      vertical-align: -.667em;
    }

    cite {
      @include adjust-font-size-to(12px);
      border: 0;
      color: lighten($midgray, 20%);
      float: left;
      font-family: $ff-sans;
      font-style: normal;
      font-weight: $light;
      text-align: left;
      width: 100%;

      &::before {
        padding-right: .3125rem;
        content: '\2014';
      }
    }

    p {
      @include adjust-font-size-to(24px);
      display: inline;
      margin: 0;
      padding: 0;
    }

    @include breakpoint(tablet) {
      @include adjust-font-size-to(24px);
    }

    @include breakpoint(wide) {
      margin-left: auto;
      margin-right: auto;
    }
  }
}
