@mixin boxes {
  @include padding-leader(1);
  @include padding-trailer(0);
  @include trailer(2);
  @include rem(max-width, $w-sml);
  @include rem(padding-left, 25px);
  @include rem(padding-right, 25px);
  background-color: lighten($highlight, 54);
  margin: 0 auto;

  h1 {
    @include adjust-font-size-to(15px);
    @include rem(letter-spacing, 2px);
    @include rem(padding, 0px 0 15px 0);
    font-weight: $bold;
    margin: 0;
    text-transform: uppercase;
  }

  dl {
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
  }

  dt {
    @include adjust-font-size-to(15px);
    color: $black;
    display: block;
    float: none;
    font-weight: $light;
    width: auto;
  }

  dd {
    @include adjust-font-size-to(20px);
    @include trailer(1);
    @include rem(margin-left, 0px);
    @include rem(margin-right, 0px);
    @include rem(margin-top, 0px);
    display: block;
    float: none;
    font-weight: $regular;
    width: auto;
  }

  p {
    padding-bottom: 0;
  }
}

.uomcontent [role="main"] {
  .contact-box {
    @include boxes;
  }

  .highlight-box {
    @include boxes;

    dd {
      @include adjust-font-size-to(40px);
      font-weight: $bold;
    }
  }

  .emergency-box {
    @include boxes;
    color: $cherry;

    dd {
      @include adjust-font-size-to(24px);
      font-weight: $bold;
    }

    a {
      color: $cherry;
    }

    @include breakpoint(desktop) {
      dd {
        font-weight: $regular;
      }
    }
  }
}