@mixin boxes {
  padding-top: 1.5rem;
  padding-bottom: 0;
  margin-bottom: 3rem;
  max-width: $w-sml;
  padding-left: 1.5625rem;
  padding-right: 1.5625rem;
  background-color: lighten($highlight, 54);
  margin: 0 auto;

  h1 {
    @include adjust-font-size-to(15px);
    letter-spacing: .125rem;
    padding: 0 0 .9375rem 0;
    font-weight: $bold;
    margin: 0;
    text-transform: uppercase;
  }

  dl {
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
  }

  dt {
    @include adjust-font-size-to(15px);
    color: $black;
    display: block;
    float: none;
    font-weight: $light;
    width: auto;
  }

  dd {
    @include adjust-font-size-to(20px);
    margin-bottom: 1.5rem;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    display: block;
    float: none;
    font-weight: $regular;
    width: auto;
  }

  p {
    padding-bottom: 0;
  }
}

.uomcontent [role="main"] {
  .contact-box {
    @include boxes;
  }

  .highlight-box {
    @include boxes;

    dd {
      @include adjust-font-size-to(40px);
      font-weight: $bold;
    }
  }

  .emergency-box {
    @include boxes;
    color: $cherry;

    dd {
      @include adjust-font-size-to(24px);
      font-weight: $bold;
    }

    a {
      color: $cherry;
    }

    @include breakpoint(desktop) {
      dd {
        font-weight: $regular;
      }
    }
  }
}
