.uomcontent {
  .citation-list {
    padding-left: 0;
    padding-right: 0;

    & > .citation {
      list-style: none;

      @include breakpoint(desktop) {
        margin-left: 0;
      }

      &:last-child {
        padding-bottom: .9375rem;
      }
    }
  }

  .citation {
    @include adjust-font-size-to(15px);
    padding: .9375rem;
    margin-top: .25rem;
    margin-bottom: .75rem;
    background-color: $paleblue;
    border: 1px solid darken($paleblue, 7%);
    font-family: $ff-fixed;
  }

  .alt .citation {
    background-color: $white;

    &:last-child {
      margin-bottom: .25rem;
    }
  }
}
