@mixin code {
  @include adjust-font-size-to(16px);
  background-color: darken($lightgray, 2%);
  border-color: darken($lightgray, 7%);
  border-style: solid;
  border-width: 0;
  font-family: $ff-fixed;
}

.uomcontent {
  code {
    @include code;
    border-bottom-width: 2px;
    color: $midgray;
  }

  pre {
    @include code;
    @include adjust-font-size-to(13px);
    @include horizontal-borders(1px);
    margin-top: 0;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
    border-bottom-width: 1px;
    border-top-width: 1px;
    padding-left: .9375rem;
    padding-right: .9375rem;
    overflow: auto;

    code {
      border-bottom: 0;
    }

    @include breakpoint(700px) {
      border-radius: 3px;
      border-left-width: 1px;
      border-right-width: 1px;
    }

    @include breakpoint(desktop) {
      margin-left: auto;
      margin-right: auto;
      max-width: $w-mid;
    }
  }
}

#top.uomcontent [role="main"] pre.flex {
  padding-left: 1.875rem;
  padding-right: 1.875rem;
  height: auto;
  padding-top: 0;
}
