@mixin code {
  @include adjust-font-size-to(16px);
  background-color: darken($lightgray, 2%);
  border-color: darken($lightgray, 7%);
  border-style: solid;
  border-width: 0;
  font-family: $ff-fixed;
}

.uomcontent {
  code {
    @include code;
    @include rem(border-bottom-width, 2px);
    color: $midgray;
  }

  pre {
    @include code;
    @include adjust-font-size-to(13px);
    @include horizontal-borders(1px);
    @include leader(0);
    @include padding-leader(1);
    @include padding-trailer(1);
    @include trailer(1);
    @include rem(border-bottom-width, 1px);
    @include rem(border-top-width, 1px);
    @include rem(padding-left, 15px);
    @include rem(padding-right, 15px);
    overflow: auto;

    code {
      border-bottom: 0;
    }

    @include breakpoint(700px) {
      @include rem(border-radius, 3px);
      @include rem(border-left-width, 1px);
      @include rem(border-right-width, 1px);
    }

    @include breakpoint(desktop) {
      margin-left: auto;
      margin-right: auto;
      max-width: $w-mid;
    }
  }
}

#top.uomcontent [role="main"] pre.flex {
  @include rem(padding-left, 30px);
  @include rem(padding-right, 30px);
  height: auto;
  padding-top: 0;
}

.ie8 .uomcontent .code {
  max-width: $w-sml;
}