@mixin inset {
  @include rem(margin-top, 6px);
  float: none;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding: 0;
  text-align: center;

  figcaption {
    @include rem(font-size, 14px);
    @include rem(padding-bottom, 15px);
    color: $midblue;
    font-style: italic;
    line-height: 1.2;
    text-align: center;
  }

  img,
  svg {
    @include rem(max-height, 500px);
  }

  @include breakpoint(tablet) {
    @include rem(margin-bottom, 30px);
    border: 0 none;
    max-width: 62%;

    figcaption {
      @include rem(margin-top, 15px);
      @include rem(padding-top, 15px);
      padding-bottom: 0;
      position: relative;

      &:before {
        @include rem(width, 40px);
        border-bottom: 2px solid $midblue;
        content: '';
        display: block;
        position: absolute;
        top: 0;
      }

      &::before {
        @include rem(width, 40px);
        border-bottom: 2px solid $midblue;
        content: '';
        display: block;
        position: absolute;
        top: 0;
      }
    }
  }

  @include breakpoint(wide) {
    @include rem(margin-bottom, 20px);
    max-width: 80%;
  }
}

.uomcontent {
  .inset-left {
    @include inset;

    @include breakpoint(tablet) {
      @include rem(margin-right, 30px);
      float: left;
      text-align: left;

      figcaption {
        text-align: left;

        &:before {
          left: 0;
        }

        &::before {
          left: 0;
        }
      }
    }

    @include breakpoint(wide) {
      @include rem(margin-left, -180px);
    }
  }

  .inset-right {
    @include inset;

    @include breakpoint(tablet) {
      @include rem(margin-left, 30px);
      float: right;
      text-align: right;

      figcaption {
        text-align: right;

        &:before {
          right: 0;
        }

        &::before {
          right: 0;
        }
      }
    }

    @include breakpoint(wide) {
      @include rem(margin-right, -180px);
    }
  }
}

body.jumpnav-active .uomcontent {
  .inset-left {
    @include breakpoint(wide) {
      margin-left: 0;
      max-width: 100%;
      padding: 0;
    }

    @include breakpoint(1400px) {
      @include rem(margin-bottom, 20px);
      @include rem(margin-left, -180px);
      max-width: 80%;
    }
  }

  .inset-right {
    @include breakpoint(wide) {
      @include rem(margin-left, 30px);
      margin-right: 0;
      max-width: 100%;
      padding: 0;
    }

    @include breakpoint(1400px) {
      @include rem(margin-bottom, 20px);
      @include rem(margin-right, -180px);
      max-width: 80%;
    }
  }
}

body.jumpnav-active .uomcontent {
  blockquote.left,
  blockquote.right {
    @include breakpoint(wide) {
      margin-left: 0;
      padding: 0;
    }

    @include breakpoint(1400px) {
      @include rem(margin-bottom, 20px);
      @include rem(margin-left, -180px);
    }
  }

  blockquote.right {
    @include breakpoint(wide) {
      @include rem(margin-left, 30px);
      margin-right: 0;
      padding: 0;
    }

    @include breakpoint(1400px) {
      @include rem(margin-bottom, 20px);
      @include rem(margin-right, -180px);
    }
  }
}

body .uomcontent .modal__dialog {
  .inset-left {
    margin-left: 0;
  }

  .inset-right {
    margin-right: 0;
  }
}
