.uomcontent {
  .inset-left {
    @include rem(margin-top, 6px);
    float: none;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    padding: 0;
    text-align: center;

    figcaption {
      @include rem(font-size, 14px);
      @include rem(padding-bottom, 15px);
      color: $midblue;
      font-style: italic;
      line-height: 1.2;
      text-align: center;
    }

    img,
    svg {
      @include rem(max-height, 500px);
    }

    .alt {
      @include rem(margin-bottom, 15px);
      @include rem(padding, 15px);
      text-align: left;

      p {
        @include rem(padding-bottom, 14px);
        @include rem(padding-top, 14px);
      }

      .button-small {
        width: 100%;
      }

      @include breakpoint(tablet) {
        @include rem(max-width, 240px);

        img {
          @include rem(margin, -15px -15px 15px);
          @include rem(max-width, 240px);
        }
      }
    }

    a.alt {
      color: $black;
      display: block;
      text-decoration: none;

      &:hover .button-small {
        background-color: darken($highlight, 10%);
      }
    }

    @include breakpoint(tablet) {
      @include rem(margin-bottom, 30px);
      @include rem(margin-right, 30px);
      border: 0 none;
      clear: left;
      float: left;
      max-width: 62%;
      text-align: left;

      figcaption {
        @include rem(margin-top, 15px);
        @include rem(padding-top, 15px);
        padding-bottom: 0;
        position: relative;
        text-align: left;

        &:before {
          @include rem(width, 40px);
          border-bottom: 2px solid $midblue;
          content: '';
          display: block;
          left: 2px;
          position: absolute;
          top: 0;
        }

        &::before {
          @include rem(width, 40px);
          border-bottom: 2px solid $midblue;
          content: '';
          display: block;
          left: 2px;
          position: absolute;
          top: 0;
        }
      }
    }

    @include breakpoint(wide) {
      @include rem(margin-bottom, 20px);
      @include rem(margin-left, -180px);
      max-width: 80%;
    }
  }

  .inset-right {
    @extend .inset-left;

    @include breakpoint(tablet) {
      @include rem(margin-left, 30px);
      clear: right;
      float: right;
      margin-right: 0;
      text-align: right;

      figcaption {
        text-align: right;

        &:before {
          left: auto;
          right: -2px;
        }

        &::before {
          left: auto;
          right: -2px;
        }
      }
    }

    @include breakpoint(wide) {
      @include rem(margin-right, -180px);
    }
  }
}


body.jumpnav-active .uomcontent {
  .inset-left {
    @include breakpoint(wide) {
      margin-left: 0;
      max-width: 100%;
      padding: 0;
    }

    @include breakpoint(1400px) {
      @include rem(margin-bottom, 20px);
      @include rem(margin-left, -180px);
      max-width: 80%;
    }
  }

  .inset-right {
    @include breakpoint(wide) {
      @include rem(margin-left, 30px);
      margin-right: 0;
      max-width: 100%;
      padding: 0;
    }

    @include breakpoint(1400px) {
      @include rem(margin-bottom, 20px);
      @include rem(margin-right, -180px);
      max-width: 80%;
    }
  }
}
