.uomcontent [role="main"] {
  .lead {
    font-size: 1.1875rem;
    line-height: 1.5rem;
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
    max-width: $w-mid;
    background: transparent;
    color: $black;
    filter: none;
    font-weight: $light;
    margin: 0 auto;
    padding-left: 3%;
    padding-right: 3%;
    position: static;
    text-align: center;

    & + p {
      margin-top: 0;
      padding-top: 0;

      &::before {
        padding-bottom: 3rem;
        margin-top: 1.875rem;
        width: 5rem;
        border-top: 2px solid $darkblue;
        content: '';
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    }

    & + section {
      padding-top: 0;
    }

    h2 {
      padding-top: 0;
    }

    p {
      padding-bottom: 0;
      max-width: $w-mid;
      color: $black;
      font-style: italic;
    }

    @include breakpoint(desktop) {
      font-size: 1.375rem;
      line-height: 2.25rem;
    }

    &.left {
      @include wrapper;
      padding-top: 3rem;
      padding-bottom: 3rem;
      max-width: $w-sml;
      padding-left: 0;
      padding-right: 0;
      text-align: left;

      & > p {
        width: 100%;
      }
    }
  }

  section > .lead {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

.uomcontent h1.aligned-title + .lead {
  & + p {
    padding-top: 1.5rem;

    &::before {
      display: none;
    }
  }

  &.left {
    max-width: $w-sml;
    padding-top: 0;

    & + p {
      padding-top: 0;
    }
  }
}

.jumpnav-active .uomcontent {
  .lead {
    margin: 0 auto;
    padding: 0;

    @include breakpoint(wide) {
      max-width: $w-sml;
      padding-left: 0;
      padding-right: 0;
      text-align: left;
    }
  }

  // Compensate for padding-bottom of jump-nav on mobile
  .jump-navigation + .lead {
    padding-top: 3rem;

    @include breakpoint(wide) {
      padding-top: 4.5rem;
    }

    &.left {
      padding-top: 1.5rem;

      @include breakpoint(wide) {
        padding-top: 3rem;
      }
    }
  }
}
