.uomcontent [role="main"] {
  .lead {
    @include adjust-font-size-to(19px);
    @include padding-leader(3);
    @include padding-trailer(3);
    @include rem(max-width, $w-mid);
    background: transparent;
    color: $black;
    filter: none;
    font-weight: $light;
    margin: 0 auto;
    padding-left: 3%;
    padding-right: 3%;
    position: static;
    text-align: center;

    & + p {
      @include leader(0);
      @include padding-leader(0);

      &::before {
        @include padding-trailer(2);
        @include rem(margin-top, 30px);
        @include rem(width, 80px);
        border-top: 2px solid $darkblue;
        content: '';
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    }

    & + section {
      @include padding-leader(0);
    }

    h2 {
      @include padding-leader(0);
    }

    p {
      @include padding-trailer(0);
      @include rem(max-width, $w-mid);
      color: $black;
      font-style: italic;
    }

    @include breakpoint(desktop) {
      @include adjust-font-size-to(22px);
    }

    &.left {
      @include padding-leader(2);
      @include padding-trailer(2);
      @include rem(max-width, $w-sml);
      padding-left: 0;
      padding-right: 0;
      text-align: left;

      p {
        font-style: normal;
      }
    }
  }

  section > .lead {
    @include padding-leader(1);
    @include padding-trailer(1);
  }
}

.uomcontent h1.aligned-title + .lead + p {
  @include padding-leader(1);

  &:before {
    display: none;
  }
}

.jumpnav-active .uomcontent {
  .lead {
    margin: 0 auto;
    padding: 0;

    @include breakpoint(wide) {
      @include rem(max-width, $w-sml);
      padding-left: 0;
      padding-right: 0;
      text-align: left;
    }
  }

  // Compensate for padding-bottom of jump-nav on mobile
  .jump-navigation + .lead {
    @include padding-leader(2);

    @include breakpoint(wide) {
      @include padding-leader(3);
    }

    &.left {
      @include padding-leader(1);

      @include breakpoint(wide) {
        @include padding-leader(2);
      }
    }
  }
}
