p Before we get started, please note that all icons <strong>must come with a label</strong> in order to supplement the graphic with a clear definition of what it represents. Labels also act as fallbacks on devices and browsers that do not support SVG (esp. IE8). What an icon represents by itself can be a very subjective experience!

section.links.with-figure
  blockquote.twitter-tweet lang="en" <p lang="en" dir="ltr">My son saw this and asked why the sign for &quot;video&quot; was &quot;bunkbed&quot;. <a href="http://t.co/egrIvOwurj">pic.twitter.com/egrIvOwurj</a></p>&mdash; Ed Morrish (@edmorrish) <a href="https://twitter.com/edmorrish/status/575285436094017536">March 10, 2015</a>
  script async="" src="//platform.twitter.com/widgets.js" charset="utf-8"
