p In some situations, having a label centred underneath the icon just doesn't work.
ul
  li If the icon's label would only duplicate the textual content around the icon, you may remove the label entirely. For instance: <a href="#" style="text-decoration: none;">Download the report (PDF 180KB) <span class="small" data-icon="download"></span></a>
  li If the context in which the icon is used is enough for a sighted user to fully understand what the icon represents, you may use class <code>icon--hide-label</code> to <strong>hide the label visually</strong> (i.e. but not from screen reader). Ideally, you should confirm that the removal of the label has no impact on usability by conducting some form of <strong>user testing</strong>. For an example, take a look at the social share icons in the sidebar of the <a href="/components/news#news-single">News single</a> component.
