.uomcontent {
  svg {
    border: 0;
    fill: currentColor;
    width: 100%;
  }

  [data-icon] {
    @include rem(height, 60px);
    @include rem(width, 60px);
    display: inline-block;
    margin: 0;
    vertical-align: middle;

    svg {
      height: 100%;
    }

    &.small {
      @include rem(height, 24px);
      @include rem(width, 24px);

      .icon-over {
        @include rem(height, 24px);
        @include rem(margin-left, -24px);
        @include rem(width, 24px);
      }
    }

    &.large {
      @include rem(height, 100px);
      @include rem(width, 100px);

      .icon-over {
        @include rem(height, 100px);
        @include rem(margin-left, -100px);
        @include rem(width, 100px);
      }
    }

    &.fill {
      height: 100%;
      width: 100%;

      svg {
        height: 100%;
        width: 100%;
      }
    }

    .icon-label {
      font-weight: $regular;
      margin: 0;
      text-align: center;
      white-space: nowrap;
    }

    .icon-over {
      @include rem(height, 60px);
      @include rem(margin-left, -60px);
      @include rem(width, 60px);
      display: inline-block;
      position: relative;
      z-index: 1;
    }
  }

  p [data-icon] {
    padding-bottom: 3px;
  }
}

.ie8 .uomcontent {
  [data-icon],
  [data-icon].fill,
  [data-icon].small,
  [data-icon].large {
    width: auto;
  }
}
