/**
 * In-page tabs
 */
[data-tabbed].tabbed {
  @mixin clearfix;
  margin-bottom: pxtorem(48);
  width: 100%;

  nav {
    border-bottom: 1px solid var(--col-black-light);

    @media screen and (--bp-tablet) {
      text-align: left;
    }

    a {
      padding-bottom: pxtorem(12);
      padding-left: pxtorem(25);
      padding-right: pxtorem(25);
      background-color: inherit;
      cursor: pointer;
      display: inline-block;
      margin-bottom: -1px;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }

      &:hover,
      &:focus {
        color: var(--col-blue-mid-2);
      }

      &[data-current] {
        border-bottom: 2px solid var(--col-blue-mid-2);
        color: var(--col-blue-mid-2);
      }
    }
  }

  & > [role="tabpanel"] {
    padding-top: pxtorem(24);
    padding-bottom: 0;
    padding-left: pxtorem(25);
    padding-right: pxtorem(25);
    border-bottom: 1px solid var(--col-black-light);
    margin: 0;

    p {
      width: 100%;
    }
  }
}

.uomcontent {
  /* styles shared between full-width and in-page tabs */
  [data-tabbed] {
    nav {
      a {
        cursor: pointer;
        font-weight: var(--fw-regular);

        &[data-current] {
          font-weight: var(--fw-semibold);
        }
      }

      ul {
        max-width: 100%;
        padding: 0;
      }

      li {
        display: inline;
        margin: 0;
        padding: 0;
      }

      &.active {
        display: block;
      }
    }

    & > [role="tabpanel"][data-current] {
      display: block;
    }
  }

  [data-tab] {
    cursor: pointer;
  }

  /**
   * Full-width tabs
   */
  .tabbed-nav {
    & > .full-width {
      height: pxtorem(74);
      background-color: transparent;
      border-bottom: 1px solid var(--col-blue-mid-2);
      position: relative;
      text-align: center;
    }

    & > figure.full-width {
      background-color: transparent;
    }

    .mobile-nav {
      display: none;
    }

    nav {
      margin-top: pxtorem(10);
      padding: 0 2.5rem;
      display: inline-block;
      white-space: nowrap;

      a {
        background-color: var(--col-navy-light);
        border: 1px solid var(--col-blue-mid-2);
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        font-size: pxtorem(16);
        font-weight: var(--fw-semibold);
        line-height: pxtorem(62); /* same as tabs height */
        padding: 0 pxtorem(20);
        margin-right: pxtorem(5);
        color: var(--col-navy-main);
        display: inline-block;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }

        &:hover,
        &:focus {
          color: var(--col-black-dark);
        }

        &[data-current] {
          background-color: var(--col-white);
          border-bottom-color: var(--col-white);
          position: relative;
        }

        @media screen and (--bp-desktop) {
          font-size: pxtorem(18);
          padding: 0 pxtorem(30);
        }
      }

      [data-icon] {
        /* Fix outline bug in Chrome */
        overflow: hidden;
        position: relative;

        & > .icon-label {
          @mixin screenreaders-only;
        }
      }
    }

    /* wrapper added dynamically around nav element when tabs overflow */
    .tabbed-nav__inner {
      padding-bottom: pxtorem(15);
      position: relative;
      z-index: var(--z-default);
    }

    .ps__scrollbar-x-rail {
      z-index: calc(var(--z-default) + 2);
    }

    /* show scrollbar when focused */
    .ps--focus {
      .ps__scrollbar-x-rail { opacity: 1; }
      .ps__scrollbar-x { outline-offset: 1px; }
    }

    /* left/right arrows when screen size is too small to fit all the tabs */
    .tab-arrow {
      font-size: pxtorem(30);
      padding: 0 pxtorem(20) pxtorem(5); /* bottom padding aligns arrows with tab labels */
      background: var(--col-navy-main);
      color: var(--col-white);
      display: none;
      font-weight: var(--fw-semibold);
      height: 100%;
      position: absolute;
      top: 0;
      z-index: calc(var(--z-default) + 1);

      &[disabled] {
        opacity: .5;
      }

      &:focus {
        outline: 1px dotted var(--col-white);
      }
    }

    .tab-arrow--left {
      padding-right: pxtorem(10);
      background: linear-gradient(to left, color(var(--col-navy-main) alpha(0%)), color(var(--col-navy-main) alpha(90%)) 10%);
      left: 0;
    }

    .tab-arrow--right {
      padding-left: pxtorem(10);
      background: linear-gradient(to right, color(var(--col-navy-main) alpha(0%)), color(var(--col-navy-main) alpha(90%)) 10%);
      right: 0;
    }

    /* show the arrows when the tabs overflow */
    .overflow .tab-arrow {
      display: inline-block;
    }

    & > [role="tabpanel"] {
      @mixin clearfix;
      margin-top: pxtorem(-70);
      padding-top: pxtorem(70);
      margin-left: auto;
      max-width: 100%;
      padding-bottom: 0;
      padding-left: 0;
      padding-right: 0;

      section.lead {
        background: transparent;
        filter: none;
        margin: 0 auto;
        max-width: var(--w-mid);
        position: static;
      }
    }

    &.black {
      .full-width {
        background-color: var(--col-black-dark);
        border-bottom-color: var(--col-black-dark);
      }

      figure.full-width {
        background-color: transparent;
      }

      & > [role="tabpanel"] {
        margin-top: -4.75rem;
        padding-top: 4.75rem;
      }

      nav a {
        background-color: var(--col-unsanctioned-black-mid-3);
        border-color: var(--col-unsanctioned-black-mid-3);
        border-bottom-color: var(--col-unsanctioned-black-mid-3);
        color: var(--col-white);

        &[data-current] {
          background-color: var(--col-white);
          border-color: var(--col-white);
          border-bottom-color: var(--col-white);
          color: var(--col-navy-main);
        }
      }

      .mobile-nav,
      .mobile-nav select {
        background-color: var(--col-black-dark);
        border: 1px solid var(--col-black-dark);
      }
    }

    &.navy {
      .full-width {
        background-color: var(--col-navy-main);
        border-bottom-color: var(--col-navy-main);
      }

      figure.full-width {
        background-color: transparent;
      }

      & > [role="tabpanel"] {
        margin-top: -4.75rem;
        padding-top: 4.75rem;
      }

      nav a {
        background-color: var(--col-navy-mid-2);
        border-color: var(--col-navy-mid-2);
        border-bottom-color: var(--col-navy-mid-2);
        color: var(--col-white);

        &[data-current] {
          background-color: var(--col-white);
          border-color: var(--col-white);
          border-bottom-color: var(--col-white);
          color: var(--col-navy-main);
        }
      }
    }

    &.thin {
      nav a {
        font-size: pxtorem(13);
        line-height: pxtorem(24);
        line-height: calc(4rem - .125rem); /* tabs height minus 1px above and below for outline */
        margin-top: pxtorem(1); /* outline cont. */
        padding: 0 pxtorem(15);
      }

      & > [role="tabpanel"] {
        margin-top: -3.4375rem;
        padding-top: pxtorem(55);
        background-color: transparent;

        @media screen and (--bp-desktop) {
          margin-top: -5.9375rem;
          padding-top: 5.9375rem;
        }
      }
    }
  }
}

/**
 * Sidebar tabs
 */
.uomcontent .sidebar-tabs {
  /* Panels container (must be focusable - i.e. have `tabindex="-1"`) */
  &__panels {
    outline: 0;
  }

  /* List of tabs in sidebar */
  &__list {
    display: block;
    line-height: 1.4;
    padding: 0;

    @media screen and (--bp-desktop) {
      margin-right: pxtorem(-16);
    }

    @media screen and (--bp-wide) {
      margin-left: pxtorem(-16);
      margin-right: pxtorem(-32);
    }

    & > li {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
  }

  /* Tab links in sidebar (ul > li > a) */
  &__tab {
    padding: pxtorem(12) pxtorem(16);
    border-color: transparent;
    border-style: solid;
    border-width: 0 0 0 5px;
    display: block;
    text-decoration: none;

    &[aria-selected="true"] {
      background-color: var(--col-white);
      border-color: var(--col-blue-mid-2);
    }

    &:hover {
      text-decoration: underline;
    }
  }

  /* Tabs are on the right-hand side of the viewport; move them against the left edge of the sidebar  */
  &--right {
    .sidebar-tabs__list {
      @media screen and (--bp-desktop) {
        margin-left: pxtorem(-16);
        margin-right: 0;
      }

      @media screen and (--bp-wide) {
        margin-left: pxtorem(-32);
        margin-right: pxtorem(-16);
      }
    }

    .sidebar-tabs__tab {
      border-left-width: 0;
      border-right-width: 5px;
    }
  }
}
