/**
 * In-page tabs
 */
[data-tabbed].tabbed {
  @include clearfix;
  margin-bottom: 3rem;
  width: 100%;

  nav {
    border-bottom: 1px solid var(--col-lightergray);

    @include breakpoint(tablet) {
      text-align: left;
    }

    a {
      padding-bottom: .75rem;
      padding-left: 1.5625rem;
      padding-right: 1.5625rem;
      background-color: inherit;
      color: var(--col-midgray);
      cursor: pointer;
      display: inline-block;
      font-weight: var(--fw-light);
      margin-bottom: -1px;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }

      &:hover,
      &:focus {
        color: var(--col-lighterblue);
      }

      &[data-current] {
        border-bottom: 2px solid var(--col-lighterblue);
        color: var(--col-lighterblue);
      }
    }
  }

  & > [role="tabpanel"] {
    padding-top: 1.5rem;
    padding-bottom: 0;
    padding-left: 1.5625rem;
    padding-right: 1.5625rem;
    border-bottom: 1px solid var(--col-lightergray);
    margin: 0;

    p {
      width: 100%;
    }
  }
}

.uomcontent {
  /* styles shared between full-width and in-page tabs */
  [data-tabbed] {
    nav {
      a {
        cursor: pointer;
        font-weight: var(--fw-regular);

        &[data-current] {
          font-weight: var(--fw-bold);
        }
      }

      ul {
        max-width: 100%;
        padding: 0;
      }

      li {
        display: inline;
        margin: 0;
        padding: 0;
      }

      &.active {
        display: block;
      }
    }

    & > [role="tabpanel"][data-current] {
      display: block;
    }
  }

  [data-tab] {
    cursor: pointer;
  }

  /**
   * Full-width tabs
   */
  .tabbed-nav {
    & > .full-width {
      height: 4rem;
      background-color: var(--col-darkblue);
      border-bottom: 1px solid transparent;
      position: relative;
      text-align: center;
    }

    & > figure.full-width {
      background-color: transparent;
    }

    .mobile-nav {
      display: none;
    }

    nav {
      padding: 0 2.5rem;
      display: inline-block;
      white-space: nowrap;

      a {
        font-size: .9375rem;
        line-height: 4rem; /* same as tabs height */
        padding: 0 1.25rem;
        color: color(#fff alpha(70%));
        display: inline-block;
        letter-spacing: .5px;
        outline-offset: -1px;
        text-decoration: none;
        text-transform: uppercase;

        &:hover {
          text-decoration: underline;
        }

        &:hover,
        &:focus {
          color: #fff;
        }

        &[data-current] {
          color: #fff;
          font-weight: var(--fw-regular);
          position: relative;
        }

        &[data-current]::after {
          border: solid transparent;
          border-top-color: var(--col-darkblue);
          border-width: 10px 10px 0;
          content: ' ';
          height: 0;
          left: 50%;
          margin-bottom: -10px;
          margin-left: -10px;
          pointer-events: none;
          position: absolute;
          top: 100%;
          width: 0;
          z-index: 10;
        }

        @include breakpoint(desktop) {
          padding: 0 1.875rem;
        }
      }

      [data-icon] {
        // Fix outline bug in Chrome
        overflow: hidden;
        position: relative;

        & > .icon-label {
          @include screenreaders-only;
        }
      }
    }

    // wrapper added dynamically around nav element when tabs overflow
    .tabbed-nav__inner {
      padding-bottom: .9375rem;
      position: relative;
      z-index: 1;
    }

    .ps-scrollbar-x-rail {
      z-index: 5;
    }

    // show scrollbar when focused
    .ps-focus .ps-scrollbar-x-rail {
      opacity: 1;
    }

    // left/right arrows when screen size is too small to fit all the tabs
    .tab-arrow {
      font-size: 1.875rem;
      padding: 0 1.25rem .3125rem; // bottom padding aligns arrows with tab labels
      background: var(--col-darkblue);
      color: #fff;
      display: none;
      font-weight: var(--fw-bold);
      height: 100%;
      position: absolute;
      top: 0;
      z-index: 2;

      &[disabled] {
        opacity: .5;
      }

      &:focus {
        outline: 1px dotted #fff;
      }
    }

    .tab-arrow--left {
      padding-right: .625rem;
      background: linear-gradient(to left, color(var(--col-darkblue) alpha(0%)), color(var(--col-darkblue) alpha(90%)) 10%);
      left: 0;
    }

    .tab-arrow--right {
      padding-left: .625rem;
      background: linear-gradient(to right, color(var(--col-darkblue) alpha(0%)), color(var(--col-darkblue) alpha(90%)) 10%);
      right: 0;
    }

    // show the arrows when the tabs overflow
    .overflow .tab-arrow {
      display: inline-block;
    }

    & > [role="tabpanel"] {
      @include clearfix;
      margin-top: -4.375rem;
      padding-top: 4.375rem;
      margin-left: auto;
      max-width: 100%;
      padding-bottom: 0;
      padding-left: 0;
      padding-right: 0;

      section.lead {
        background: transparent;
        color: #000;
        filter: none;
        font-weight: var(--fw-light);
        margin: 0 auto;
        max-width: var(--w-mid);
        position: static;

        p {
          color: #000;
        }
      }
    }

    &.black {
      .full-width {
        background-color: #000;
      }

      figure.full-width {
        background-color: transparent;
      }

      & > [role="tabpanel"] {
        margin-top: -4.75rem;
        padding-top: 4.75rem;
      }

      nav a {
        color: #fff;

        &[data-current] {
          color: #fff;
          font-weight: var(--fw-regular);

          &::after {
            border-top-color: #000;
          }
        }
      }

      .mobile-nav,
      .mobile-nav select {
        background-color: #000;
        border: 1px solid #000;
      }
    }

    &.navy {
      .full-width {
        background-color: var(--col-darkblue);
      }

      figure.full-width {
        background-color: transparent;
      }

      & > [role="tabpanel"] {
        margin-top: -4.75rem;
        padding-top: 4.75rem;
      }

      nav a {
        color: var(--col-gray);

        &[data-current] {
          color: #fff;
          font-weight: var(--fw-regular);

          &::after {
            border-top-color: var(--col-darkblue);
          }
        }
      }
    }

    &.thin {
      nav a {
        font-size: .8125rem;
        line-height: 1.5rem;
        line-height: calc(4rem - .125rem); // tabs height minus 1px above and below for outline
        margin-top: .0625rem; // outline cont.
        padding: 0 .9375rem;
      }

      & > [role="tabpanel"] {
        margin-top: -3.4375rem;
        padding-top: 3.4375rem;
        background-color: transparent;

        @include breakpoint(desktop) {
          margin-top: -5.9375rem;
          padding-top: 5.9375rem;
        }
      }
    }
  }
}

/**
 * Sidebar tabs
 */
.uomcontent .sidebar-tabs {
  /* Panels container (must be focusable - i.e. have `tabindex="-1"`) */
  &__panels {
    outline: 0;
  }

  /* List of tabs in sidebar */
  &__list {
    display: block;
    line-height: 1.4;
    padding: 0;

    @include breakpoint(desktop) {
      margin-right: -1rem;
    }

    @include breakpoint(wide) {
      margin-left: -1rem;
      margin-right: -2rem;
    }

    & > li {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
  }

  /* Tab links in sidebar (ul > li > a) */
  &__tab {
    padding: .75rem 1rem;
    border-color: transparent;
    border-style: solid;
    border-width: 0 0 0 5px;
    display: block;
    text-decoration: none;

    &[aria-selected="true"] {
      background-color: #fff;
      border-color: var(--col-lighterblue);
    }

    &:hover {
      text-decoration: underline;
    }
  }

  /* Tabs are on the right-hand side of the viewport; move them against the left edge of the sidebar  */
  &--right {
    .sidebar-tabs__list {
      @include breakpoint(desktop) {
        margin-left: -1rem;
        margin-right: 0;
      }

      @include breakpoint(wide) {
        margin-left: -2rem;
        margin-right: -1rem;
      }
    }

    .sidebar-tabs__tab {
      border-left-width: 0;
      border-right-width: 5px;
    }
  }
}
