/**
 * In-page tabs
 */
[data-tabbed].tabbed {
  @mixin clearfix;
  margin-bottom: 3rem;
  width: 100%;

  nav {
    border-bottom: 1px solid var(--deprecated-col-lightergray);

    @media screen and (--bp-tablet) {
      text-align: left;
    }

    a {
      padding-bottom: .75rem;
      padding-left: 1.5625rem;
      padding-right: 1.5625rem;
      background-color: inherit;
      color: var(--deprecated-col-midgray);
      cursor: pointer;
      display: inline-block;
      font-weight: var(--deprecated-fw--light);
      margin-bottom: -1px;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }

      &:hover,
      &:focus {
        color: var(--deprecated-col-brighterblue);
      }

      &[data-current] {
        border-bottom: 2px solid var(--deprecated-col-brighterblue);
        color: var(--deprecated-col-brighterblue);
      }
    }
  }

  & > [role="tabpanel"] {
    padding-top: 1.5rem;
    padding-bottom: 0;
    padding-left: 1.5625rem;
    padding-right: 1.5625rem;
    border-bottom: 1px solid var(--deprecated-col-lightergray);
    margin: 0;

    p {
      width: 100%;
    }
  }
}

.uomcontent {
  /* styles shared between full-width and in-page tabs */
  [data-tabbed] {
    nav {
      a {
        cursor: pointer;
        font-weight: var(--deprecated-fw--regular);

        &[data-current] {
          font-weight: var(--deprecated-fw--bold);
        }
      }

      ul {
        max-width: 100%;
        padding: 0;
      }

      li {
        display: inline;
        margin: 0;
        padding: 0;
      }

      &.active {
        display: block;
      }
    }

    & > [role="tabpanel"][data-current] {
      display: block;
    }
  }

  [data-tab] {
    cursor: pointer;
  }

  /**
   * Full-width tabs
   */
  .tabbed-nav {
    & > .full-width {
      height: calc(74/16rem);
      background-color: transparent;
      border-bottom: 1px solid #abbed5;
      position: relative;
      text-align: center;
    }

    & > figure.full-width {
      background-color: transparent;
    }

    .mobile-nav {
      display: none;
    }

    nav {
      margin-top: calc(10/16rem);
      padding: 0 2.5rem;
      display: inline-block;
      white-space: nowrap;

      a {
        background-color: #f2f5f9;
        border: 1px solid #abbed5;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        font-size: calc(16/16rem);
        font-weight: var(--deprecated-fw--bold);
        line-height: calc(62/16rem); /* same as tabs height */
        padding: 0 calc(20/16rem);
        margin-right: calc(5/16rem);
        color: var(--col-navy-main);
        display: inline-block;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }

        &:hover,
        &:focus {
          color: color(var(--col-navy-main) lightness(-15%));
        }

        &[data-current] {
          background-color: var(--col-white);
          border-bottom-color: var(--col-white);
          position: relative;
        }

        @media screen and (--bp-desktop) {
          font-size: calc(18/16rem);
          padding: 0 calc(30/16rem);
        }
      }

      [data-icon] {
        /* Fix outline bug in Chrome */
        overflow: hidden;
        position: relative;

        & > .icon-label {
          @mixin screenreaders-only;
        }
      }
    }

    /* wrapper added dynamically around nav element when tabs overflow */
    .tabbed-nav__inner {
      padding-bottom: .9375rem;
      position: relative;
      z-index: 1;
    }

    .ps__scrollbar-x-rail {
      z-index: 5;
    }

    /* show scrollbar when focused */
    .ps--focus {
      .ps__scrollbar-x-rail { opacity: 1; }
      .ps__scrollbar-x { outline-offset: 1px; }
    }

    /* left/right arrows when screen size is too small to fit all the tabs */
    .tab-arrow {
      font-size: 1.875rem;
      padding: 0 1.25rem .3125rem; /* bottom padding aligns arrows with tab labels */
      background: var(--col-navy-main);
      color: var(--col-white);
      display: none;
      font-weight: var(--deprecated-fw--bold);
      height: 100%;
      position: absolute;
      top: 0;
      z-index: 2;

      &[disabled] {
        opacity: .5;
      }

      &:focus {
        outline: 1px dotted var(--col-white);
      }
    }

    .tab-arrow--left {
      padding-right: .625rem;
      background: linear-gradient(to left, color(var(--col-navy-main) alpha(0%)), color(var(--col-navy-main) alpha(90%)) 10%);
      left: 0;
    }

    .tab-arrow--right {
      padding-left: .625rem;
      background: linear-gradient(to right, color(var(--col-navy-main) alpha(0%)), color(var(--col-navy-main) alpha(90%)) 10%);
      right: 0;
    }

    /* show the arrows when the tabs overflow */
    .overflow .tab-arrow {
      display: inline-block;
    }

    & > [role="tabpanel"] {
      @mixin clearfix;
      margin-top: -4.375rem;
      padding-top: 4.375rem;
      margin-left: auto;
      max-width: 100%;
      padding-bottom: 0;
      padding-left: 0;
      padding-right: 0;

      section.lead {
        background: transparent;
        filter: none;
        margin: 0 auto;
        max-width: var(--w-mid);
        position: static;
      }
    }

    &.black {
      .full-width {
        background-color: var(--col-black-dark);
      }

      figure.full-width {
        background-color: transparent;
      }

      & > [role="tabpanel"] {
        margin-top: -4.75rem;
        padding-top: 4.75rem;
      }

      nav a {
        color: var(--col-white);

        &[data-current] {
          color: var(--col-white);
          font-weight: var(--deprecated-fw--regular);

          &::after {
            border-top-color: var(--col-black-dark);
          }
        }
      }

      .mobile-nav,
      .mobile-nav select {
        background-color: var(--col-black-dark);
        border: 1px solid var(--col-black-dark);
      }
    }

    &.navy {
      .full-width {
        background-color: var(--col-navy-main);
      }

      figure.full-width {
        background-color: transparent;
      }

      & > [role="tabpanel"] {
        margin-top: -4.75rem;
        padding-top: 4.75rem;
      }

      nav a {
        color: var(--deprecated-col-gray);

        &[data-current] {
          color: var(--col-white);
          font-weight: var(--deprecated-fw--regular);

          &::after {
            border-top-color: var(--col-navy-main);
          }
        }
      }
    }

    &.thin {
      nav a {
        font-size: .8125rem;
        line-height: 1.5rem;
        line-height: calc(4rem - .125rem); /* tabs height minus 1px above and below for outline */
        margin-top: .0625rem; /* outline cont. */
        padding: 0 .9375rem;
      }

      & > [role="tabpanel"] {
        margin-top: -3.4375rem;
        padding-top: 3.4375rem;
        background-color: transparent;

        @media screen and (--bp-desktop) {
          margin-top: -5.9375rem;
          padding-top: 5.9375rem;
        }
      }
    }
  }
}

/**
 * Sidebar tabs
 */
.uomcontent .sidebar-tabs {
  /* Panels container (must be focusable - i.e. have `tabindex="-1"`) */
  &__panels {
    outline: 0;
  }

  /* List of tabs in sidebar */
  &__list {
    display: block;
    line-height: 1.4;
    padding: 0;

    @media screen and (--bp-desktop) {
      margin-right: -1rem;
    }

    @media screen and (--bp-wide) {
      margin-left: -1rem;
      margin-right: -2rem;
    }

    & > li {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
  }

  /* Tab links in sidebar (ul > li > a) */
  &__tab {
    padding: .75rem 1rem;
    border-color: transparent;
    border-style: solid;
    border-width: 0 0 0 5px;
    display: block;
    text-decoration: none;

    &[aria-selected="true"] {
      background-color: var(--col-white);
      border-color: var(--deprecated-col-brighterblue);
    }

    &:hover {
      text-decoration: underline;
    }
  }

  /* Tabs are on the right-hand side of the viewport; move them against the left edge of the sidebar  */
  &--right {
    .sidebar-tabs__list {
      @media screen and (--bp-desktop) {
        margin-left: -1rem;
        margin-right: 0;
      }

      @media screen and (--bp-wide) {
        margin-left: -2rem;
        margin-right: -1rem;
      }
    }

    .sidebar-tabs__tab {
      border-left-width: 0;
      border-right-width: 5px;
    }
  }
}
