@import '../../shared/_globals.scss';

@keyframes appear-bottom {
  from { transform: translateY(100%); }
}

.uom-prompt {
  padding: 1rem 3.5rem .5rem;
  animation: appear-bottom .5s backwards;
  background-color: var(--col-lighterblue);
  bottom: 0;
  color: #fff;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  left: 0;
  line-height: 1.5;
  position: fixed;
  right: 0;
  text-align: center;
  z-index: 1000;

  &[hidden] {
    display: none;
  }

  button {
    background: none transparent;
    border: 0;
    color: inherit;
    cursor: pointer;
    font: inherit;
    line-height: inherit;
    margin: 0;
    outline-offset: 1px;
    padding: 0;

    &::-moz-focus-inner {
      border: 0;
      padding: 0;
    }

    &:-moz-focusring {
      outline: 1px dotted currentColor;
    }
  }

  &__dismiss {
    right: .5rem;
    top: .5rem;
    background: none;
    border: 0;
    border-radius: 4px;
    display: block;
    padding: 0;
    position: absolute;
    transition: color .15s, background-color .15s;

    & > svg {
      margin: .5rem;
      display: block;
      fill: currentColor;
      margin: 8px;
    }

    &:hover {
      background-color: #fff;
      color: var(--col-lighterblue);
    }
  }

  &__content {
    p {
      font-size: 1.125rem;
      margin: 0 0 1rem;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    li {
      margin: 0 .5rem;
      display: inline-block;
      padding: 0;
      vertical-align: top;

      & > a,
      & > button {
        font-size: .875rem;
        margin-bottom: .5rem;
        min-width: 6rem;
        padding: .5rem 1rem;
        border: 2px solid #fff;
        border-radius: 4px;
        box-sizing: border-box;
        display: block;
        font-weight: bold;
        letter-spacing: .5px;
        text-decoration: none;
        transition: color .15s, background-color .15s;

        &:hover {
          background-color: #fff;
          color: var(--col-lighterblue);
        }

        @media (--bp-desktop) {
          min-width: 10rem;
        }
      }

      & > a {
        color: inherit;
        outline-offset: 1px;
      }

      @media (--bp-tablet) {
        margin: 0 1rem;
      }
    }
  }
}
