@import 'compass';

// Global
$black:        #000 !default;
$darkgray:     #333;
$midgray:      #666;
$gray:         #adb8c1;
$lightgray:    #f6f6f6;
$lightergray:  #e0e0e0;
$white:        #fff !default;

$navy:         #0c304a;
$blue:         #304e64;
$darkblue:     #004576;
$borderblue:   #7399b7;
$midblue:      #366996;
$lightblue:    #82a1bd;
$lighterblue:  #359aec;
$paleblue:     #f2f5f8;
$lightestblue: #e1eaf5;

$cherry:       #df0620;
$brand:        $darkblue;
$highlight:    $lighterblue;
$menu:         #036;

// Rem
$baseline-px:  16px;

@import 'patterns';

$cdnurl: '//uom-templates.s3.amazonaws.com/shared';

@font-face {
  font-family: 'Roboto';
  src: url("#{$cdnurl}/fonts/Roboto-Regular.eot");
  src: url("#{$cdnurl}/fonts/Roboto-Regular.eot#iefix") format('embedded-opentype'),
       url("#{$cdnurl}/fonts/Roboto-Regular.woff") format('woff'),
       url("#{$cdnurl}/fonts/Roboto-Regular.ttf")  format('truetype'),
       url("#{$cdnurl}/fonts/Roboto-Regular.svg#f4ba68a9596ca53347cecdb9c6e48d01") format('svg');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url("#{$cdnurl}/fonts/Roboto-Light.eot");
  src: url("#{$cdnurl}/fonts/Roboto-Light.eot#iefix") format('embedded-opentype'),
       url("#{$cdnurl}/fonts/Roboto-Light.woff") format('woff'),
       url("#{$cdnurl}/fonts/Roboto-Light.ttf")  format('truetype'),
       url("#{$cdnurl}/fonts/Roboto-Light.svg#14cfc794995ce651ee6fc06de48ff027") format('svg');
  font-style: normal;
  font-weight: 300;
}

$regular: 400;
$light: 300;

$ff-sans: Roboto, Helvetica, Arial, sans-serif;

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

@import 'header/header';
@import 'footer/footer';
@import 'global-nav/modal';
@import 'global-nav/nav';
@import 'global-nav/localnav';
@import 'global-nav/globalnav';
