@mixin rem($property, $px-values) {
  $baseline-rem: $baseline-px / 1rem;
  #{$property}: $px-values;
  @if type-of($px-values) == 'number' {
    #{$property}: $px-values / $baseline-rem;
  } @else {
    $rem-values: unquote('');
    @each $value in $px-values {
      @if $value == 0 or type-of($value) == 'string' or type-of($value) == 'color' {
        $rem-values: append($rem-values, $value);
      } @else {
        $rem-values: append($rem-values, $value / $baseline-rem);
      }
    }
    #{$property}: $rem-values;
  }
}

// Media queries
@mixin breakpoint($point) {
  @if $point == wide {
    @media screen and (min-width: 1099px) {
      & {
        @content;
      }
    }
  }
  @else if $point == desktop {
    @media screen and (min-width: 769px) {
      & {
        @content;
      }
    }
  }
  @else if $point == tablet {
    @media screen and (min-width: 481px){
      & {
        @content;
      }
    }
  }
  // Not required, but useful to styling out IE8
  @else if $point == mobile {
    @media screen and (max-width: 480px) {
      & {
        @content;
      }
    }
  }
  @else if $point == height-smallest {
    @media screen and (min-height: 640px) {
      & {
        @content;
      }
    }
  }
  @else if $point == height-small {
    @media screen and (min-height: 740px) {
      & {
        @content;
      }
    }
  }
  @else if $point == height-medium {
    @media screen and (min-height: 850px) {
      & {
        @content;
      }
    }
  }
  @else if $point == height-big {
    @media screen and (min-height: 1200px) {
      & {
        @content;
      }
    }
  }
  @else {
    @media screen and (min-width: $point) {
      & {
        @content;
      }
    }
  }
}

// X-axis translation
@mixin translateX($d) {
  -moz-transform: translate3d($d, 0, 0);
  -ms-transform: translate3d($d, 0, 0);
  -webkit-transform: translate3d($d, 0, 0);
  transform: translate3d($d, 0, 0);
  -moz-transition: -moz-transform .3s ease;
  -ms-transition: -ms-transform .3s ease;
  -webkit-transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
}

// Wrapper
%wrapper {
  @include rem(max-width, 1400px);
  @include rem(padding, 15px);
  margin: 0 auto;
}

%clearfix {
  zoom: 1;

  &:before,
  &:after {
    content: '';
    display: table;
  }

  &::before,
  &::after {
    content: '';
    display: table;
  }

  &:after {
    clear: both;
  }

  &::after {
    clear: both;
  }
}

%imgreplace {
  background-color: transparent;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

%smooth-translate {
  -moz-transition: -moz-transform .3s ease;
  -ms-transition: -ms-transform .3s ease;
  -webkit-transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
}

%normalise {
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
