%headerblock {
  @include rem(font-size, 15px);
  color: $darkblue;
  display: inline-block;
  font-weight: $regular;
  vertical-align: middle;
}

.page-header {
  @extend %normalise;
  @include rem(font-size, 20px);
  background-color: $white;
  color: $black;
  font-family: $ff-sans;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 12;

  * {
    @extend %normalise;
  }

  @include breakpoint(desktop) {
    &.fixed:not(.floating) {
      position: fixed;
      width: 100%;

      header {
        @include single-box-shadow(0, 3px, 6px, -3px, rgba($black, .3));
        width: 100%;
      }

      .page-header-logo {
        top: -140px;
        transition: .2s top;
      }

      a,
      span {
        @include rem(height, 40px);
        @include rem(line-height, 40px);
      }

      header {
        @include rem(height, 40px);
        @include rem(line-height, 40px);
      }

      .page-header-navigation {
        @include rem(height, 40px);
        @include rem(line-height, 30px);
        @include rem(padding-left, 15px);
        transition: .3s padding-left .1s, .2s height;
        vertical-align: top;
      }

      a,
      span {
        vertical-align: middle;
      }

      .page-header-tools .page-header-icon {
        line-height: 1;

        .icon {
          @include rem(height, 20px);
          @include rem(margin-top, 3px);
          @include rem(width, 20px);
          margin-bottom: 0;
        }
      }
    }
  }

  header {
    @include rem(height, 60px);

    // god damn it compass
    @include single-box-shadow(rgba($black, .3), 0, 6px, 6px, -3px);

    padding: 0;
    position: relative;

    @include breakpoint(desktop) {
      @include rem(height, 90px);
    }
  }


  a {
    @extend %headerblock;
    @include rem(height, 60px);
    @include rem(line-height, 60px);
    font-weight: $light;
    text-decoration: none;

    &:hover {
      color: $midblue;
      text-decoration: underline;
    }

    &.page-header-logo {
      @include rem(height, 60px);
      @include rem(width, 60px);
      background-color: $darkblue;
      background-image: url("#{asset_path('header/logo.svg')}");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      margin-left: 0;
      text-indent: -999em;

      // opacity: 1;
      // transition: 0 opacity .4s;

      top: 0;
      transition: .2s top .3s;

      img {
        border: 0;
        max-height: 100%;
        max-width: 100%;
      }
    }

    @include breakpoint(desktop) {
      @include rem(height, 90px);
      @include rem(line-height, 90px);
      &.page-header-logo {
        @include rem(margin-left, 40px);
        @include rem(height, 140px);
        @include rem(width, 140px);
        position: absolute;
      }
    }

    &.wide {
      @include rem(width, 142px);
      background-color: $black;

      @include breakpoint(desktop) {
        @include rem(width, 320px);
      }
    }
  }

  span {
    @extend %headerblock;
    @include rem(font-size, 13px);
    @include rem(height, 40px);
    @include rem(line-height, 40px);
    @include rem(padding, 0 10px 5px 10px);
    font-weight: $light;

    @include breakpoint(desktop) {
      @include rem(height, 75px);
      @include rem(line-height, 75px);
      @include rem(padding, 0 10px 7.5px 10px);
    }
  }
}

.page-header-navigation {
  @include rem(padding-left, 25px);
  display: inline;
  transition: .3s padding-left;
  vertical-align: middle;

  a,
  span {
    display: inline-block;
  }

  @include breakpoint(0) {
    a,
    span {
      display: none;
    }

    a.last {
      display: inline-block;
      max-width: 55%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  @include breakpoint(desktop) {
    @include rem(height, 90px);
    @include rem(padding-left, 205px);
    @include rem(margin-right, 115px);
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    a,
    span {
      display: inline;
    }
  }

  .page-local-history {
    color: $darkblue;
    display: inline;
    margin: 0;
    padding-left: 0;

    a {
      color: $darkblue;

      &:hover {
        color: $midblue;
      }
    }
  }
}

.page-local-history {
  @extend %wrapper;
  @include rem(padding-top, 30px);
  color: $white;

  a {
    color: $white;
    font-weight: $light;
  }

  span {
    @include rem(padding, 0 10px);
  }
}

.page-header-tools {
  position: absolute;
  right: 0;
  top: 0;

  .page-header-icon {
    @include rem(font-size, 9px);
    @include rem(padding, 0 10px);
    @include rem(width, 40px);
    background-color: $white;
    border-left: 1px solid darken($lightgray, 10%);
    font-weight: $regular;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;

    box-sizing: content-box;

    .icon {
      @include rem(height, 20px);
      @include rem(margin-bottom, 3px);
      @include rem(margin-top, 14px);
      @include rem(padding-bottom, 3px);
      @include rem(padding-top, 15px);
      @include rem(width, 20px);
      display: block;
      margin-left: auto;
      margin-right: auto;

      &.search {
        @extend %imgreplace;
        background-image: url("#{asset_path('header/icon-s.png')}");
      }

      &.login {
        @extend %imgreplace;
        background-image: url("#{asset_path('header/icon-p.png')}");
      }

      &.menu {
        @extend %imgreplace;
        background-image: url("#{asset_path('header/menu.png')}");
      }
    }

    &:hover {
      background-color: $paleblue;
      text-decoration: none;
    }

    &[title="Login"],
    &[title="Search"] {
      display: none;

      @include breakpoint(tablet) {
        display: inline-block;
      }
    }
  }

  @include breakpoint(desktop) {
    @include rem(padding-left, 15px);
    background-color: $white;

    .page-header-icon {
      @include rem(font-size, 10px);
      @include rem(padding, 0 23px);

      .icon {
        @include rem(height, 34px);
        @include rem(margin-top, 22px);
        @include rem(width, 34px);
      }
    }
  }
}

.floating {
  .page-header-logo {
    @include rem(left, 10px);
    @include rem(top, 10px);
    margin-top: 0;
    position: absolute;

    @include breakpoint(desktop) {
      @include rem(margin-top, 30px);
      left: 0;
      position: relative;
      top: 0;
    }
  }

  .page-header-tools {
    @include rem(margin, 15px);
    background-color: transparent;

    a.page-header-icon {
      background-color: transparent;
      border-left: 0 none;
      color: $white;

      &:hover {
        background-color: transparent;
        color: $white;
      }

      .search {
        background-image: url('#{asset_path('header/icon-s-w.png')}');
      }

      .login {
        background-image: url('#{asset_path('header/icon-p-w.png')}');
      }

      .menu {
        background-image: url('#{asset_path('header/menu-w.png')}');
      }
    }

    @include breakpoint(desktop) {
      @include rem(margin, 40px);
    }
  }

  &.reverse .page-header-tools a.page-header-icon {
    color: $navy;

    .search {
      background-image: url('#{asset_path('header/icon-s.png')}');
    }

    .login {
      background-image: url('#{asset_path('header/icon-p.png')}');
    }

    .menu {
      background-image: url('#{asset_path('header/menu.png')}');
    }
  }
}

.ie {
  .page-header {
    border-bottom: 2px solid #f0f0f0;

    a.page-header-logo {
      background-image: url("#{asset_path('header/s-logo.png')}");
      background-size: cover;
    }

    .page-header-tools .page-header-icon[title="Login"],
    .page-header-tools .page-header-icon[title="Search"] {
      display: inline-block;
    }

    .page-header-tools a.page-header-icon {
      color: $navy;

      .search {
        background-image: url("#{asset_path('header/s-icon-s.png')}");
      }

      .login {
        background-image: url("#{asset_path('header/s-icon-p.png')}");
      }

      .menu {
        background-image: url("#{asset_path('header/s-menu.png')}");
      }
    }
  }

  .floating {
    .page-header-tools a.page-header-icon {
      color: $white;

      .search {
        background-image: url("#{asset_path('header/s-icon-s-w.png')}");
      }

      .login {
        background-image: url("#{asset_path('header/s-icon-p-w.png')}");
      }

      .menu {
        background-image: url("#{asset_path('header/s-menu-w.png')}");
      }
    }

    &.reverse .page-header-tools a.page-header-icon {
      color: $navy;

      .search {
        background-image: url("#{asset_path('header/s-icon-s.png')}");
      }

      .login {
        background-image: url("#{asset_path('header/s-icon-p.png')}");
      }

      .menu {
        background-image: url("#{asset_path('header/s-menu.png')}");
      }
    }
  }

}

.ie9 {
  .page-header {
    a.page-header-logo {
      background-image: url("#{asset_path('header/logo-w.png')}");
    }

    .page-header-tools a.page-header-icon {
      .search {
        background-image: url("#{asset_path('header/icon-s.png')}");
      }

      .login {
        background-image: url("#{asset_path('header/icon-p.png')}");
      }

      .menu {
        background-image: url("#{asset_path('header/menu.png')}");
      }
    }
  }

  .floating {
    .page-header-tools a.page-header-icon {
      .search {
        background-image: url("#{asset_path('header/icon-s-w.png')}");
      }

      .login {
        background-image: url("#{asset_path('header/icon-p-w.png')}");
      }

      .menu {
        background-image: url("#{asset_path('header/menu-w.png')}");
      }
    }

    &.reverse .page-header-tools a.page-header-icon {
      .search {
        background-image: url("#{asset_path('header/icon-s.png')}");
      }

      .login {
        background-image: url("#{asset_path('header/icon-p.png')}");
      }

      .menu {
        background-image: url("#{asset_path('header/menu.png')}");
      }
    }
  }
}
