%headerblock {
  @include rem(font-size, 15px);
  color: $darkblue;
  display: inline-block;
  font-weight: $regular;
  vertical-align: middle;
}

.uomcontent .page-header {
  @extend %normalise;
  @include rem(font-size, 20px);
  background-color: $white;
  color: $black;
  font-family: $ff-sans;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 12;

  * {
    @extend %normalise;
  }

  &.fixed:not(.floating) {
    background-color: rgba($white, .9);
    font-family: $ff-sans;
    position: fixed;
    width: 100%;

    header {
      @include single-box-shadow(0, 3px, 6px, -3px, rgba($black, .6));
      width: 100%;

      @include breakpoint(desktop) {
        @include single-box-shadow(0, 3px, 6px, -3px, rgba($black, .3));
      }
    }

    .page-header-logo {
      position: absolute;
      top: -60px;
      transition: .2s top;

      @include breakpoint(desktop) {
        top: -140px;
      }
    }

    a,
    span {
      @include rem(height, 40px);
      @include rem(line-height, 40px);
    }

    header {
      @include rem(height, 40px);
      @include rem(line-height, 40px);
      background-color: transparent;
    }

    .page-header-navigation {
      @include rem(height, 40px);
      @include rem(line-height, 30px);
      @include rem(padding-left, 15px);
      transition: .3s padding-left .1s, .2s height;
      vertical-align: top;
    }

    a,
    span {
      vertical-align: middle;
    }

    .page-header-tools .page-header-icon {
      @include rem(height, 39px);
      border-left-color: $lightgray;
      line-height: 1;

      svg {
        @include rem(height, 20px);
        @include rem(margin-top, 3px);
        @include rem(width, 20px);
        margin-bottom: 0;
      }
    }
  }

  header {
    @include rem(height, 60px);
    @include single-box-shadow(0, 6px, 6px, -3px, rgba($black, .3));
    background: $white;
    border-bottom: 1px solid $lightgray;
    overflow: visible;
    padding: 0;
    position: relative;

    @include breakpoint(desktop) {
      @include rem(height, 90px);
      border-bottom: 0 none;
    }
  }


  a {
    @extend %headerblock;
    @include rem(height, 60px);
    @include rem(line-height, 60px);
    font-weight: $light;
    text-decoration: none;

    &:hover {
      color: $midblue;
      text-decoration: underline;
    }

    &.page-header-logo {
      @include rem(height, 60px);
      @include rem(width, 60px);
      background-color: $darkblue;
      margin-left: 0;
      top: 0;
      transition: .2s top .3s;

      svg {
        width: 100%;
        height: 100%;
      }

      img {
        border: 0;
        max-height: 100%;
        max-width: 100%;
      }
    }

    @include breakpoint(desktop) {
      @include rem(height, 90px);
      @include rem(line-height, 90px);

      &.page-header-logo {
        @include rem(margin-left, 40px);
        @include rem(height, 140px);
        @include rem(width, 140px);
        position: absolute;
      }
    }

    &.wide {
      @include rem(width, 142px);
      background-color: $black;

      @include breakpoint(desktop) {
        @include rem(width, 320px);
      }
    }
  }

  span {
    @extend %headerblock;
    @include rem(font-size, 13px);
    @include rem(height, 40px);
    @include rem(line-height, 40px);
    @include rem(padding, 0 10px 5px 10px);
    font-weight: $light;

    @include breakpoint(desktop) {
      @include rem(height, 75px);
      @include rem(line-height, 75px);
      @include rem(padding, 0 10px 7.5px 10px);
    }
  }
}

.uomcontent .page-header-navigation {
  @include rem(padding-left, 25px);
  display: inline;
  transition: .3s padding-left;
  vertical-align: middle;

  a,
  span {
    display: inline-block;
  }

  @include breakpoint(0) {
    a,
    span {
      display: none;
    }

    a.last {
      display: inline-block;
      max-width: 55%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  @include breakpoint(desktop) {
    @include rem(height, 90px);
    @include rem(padding-left, 205px);
    @include rem(margin-right, 115px);
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    a,
    span {
      display: inline;
    }
  }

  .page-local-history {
    color: $darkblue;
    display: inline;
    margin: 0;
    padding-left: 0;

    a {
      color: $darkblue;

      &:hover {
        color: $midblue;
      }
    }
  }
}

.uomcontent .page-local-history {
  @extend %wrapper;
  @include rem(padding-top, 30px);
  color: $white;

  a {
    color: $white;
    font-weight: $light;
  }

  span {
    @include rem(padding, 0 10px);
  }
}

.uomcontent .page-header-tools {
  position: absolute;
  right: 0;
  top: 0;

  .page-header-icon {
    @include rem(font-size, 9px);
    @include rem(padding, 0 10px);
    @include rem(width, 40px);
    border-left: 1px solid darken($lightgray, 10%);
    font-weight: $regular;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;

    box-sizing: content-box;

    svg {
      @include rem(height, 30px);
      @include rem(margin-bottom, 4px);
      @include rem(margin-top, 7px);
      @include rem(width, 30px);
      fill: currentColor;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    &:hover {
      background-color: $darkblue;
      color: $white;
      text-decoration: none;
    }

    &[title="Login"],
    &[title="Search"] {
      display: none;

      @include breakpoint(tablet) {
        display: inline-block;
      }
    }
  }

  @include breakpoint(desktop) {
    @include rem(padding-left, 15px);

    .page-header-icon {
      @include rem(font-size, 10px);
      @include rem(padding, 0 23px);

      svg {
        @include rem(height, 38px);
        @include rem(margin-top, 18px);
        @include rem(width, 38px);
      }
    }
  }
}

.uomcontent .floating {
  .page-header-logo {
    @include rem(left, 10px);
    @include rem(top, 10px);
    margin-top: 0;
    position: absolute;

    @include breakpoint(desktop) {
      @include rem(margin-top, 30px);
      left: 0;
      position: relative;
      top: 0;
    }
  }

  .page-header-tools {
    @include rem(margin, 15px);
    background-color: transparent;

    a.page-header-icon {
      @include rem(border-radius, 3px);
      background-color: transparent;
      border: 1px solid transparent;
      color: $white;
      transition: background-color 0.3s, color 0.3s, transform 0.3s;

      &:hover {
        background-color: rgba($white, 0.7);
        color: $black;
        transform: scale(1.1);
      }
    }

    @include breakpoint(desktop) {
      @include rem(margin, 40px);

      a.page-header-icon {
        @include rem(height, 70px);
        @include rem(margin-left, 20px);
        @include rem(padding, 0 15px);

        svg {
          @include rem(margin-top, 7px);
        }
      }
    }
  }

  &.reverse .page-header-tools a.page-header-icon {
    color: $navy;
  }
}

.ie {
  .uomcontent .page-header {
    border-bottom: 1px solid #f0f0f0;

    .uomcontent .page-header-tools .page-header-icon[title="Login"],
    .uomcontent .page-header-tools .page-header-icon[title="Search"] {
      display: inline-block;
    }

    .uomcontent .page-header-tools a.page-header-icon {
      line-height: 60px;
    }
  }
}
