%headerblock {
  @include rem(font-size, 15px);
  color: $darkblue;
  display: inline-block;
  font-weight: $regular;
  vertical-align: middle;
}

.uomcontent .page-header {
  @extend %normalise;
  @include rem(font-size, 20px);
  @include rem(height, 60px);
  background-color: $white;
  color: $black;
  font-family: $ff-sans;
  position: static;
  top: 0;
  width: 100%;
  z-index: 12;

  @include breakpoint(desktop) {
    @include rem(height, 90px);
    position: absolute;
  }

  * {
    @extend %normalise;
    font-family: $ff-sans;
  }

  &.fixed:not(.floating) {
    @media screen {
      @include rem(height, 40px);
      background-color: rgba($white, .9);
      font-family: $ff-sans;
      position: fixed;
      width: 100%;

      header {
        @include single-box-shadow(0, 3px, 6px, -3px, rgba($black, .6));
        width: 100%;

        @include breakpoint(desktop) {
          @include single-box-shadow(0, 3px, 6px, -3px, rgba($black, .3));
        }
      }

      .page-header-logo {
        position: absolute;
        top: -60px;
        transition: .2s top;

        @include breakpoint(desktop) {
          top: -140px;
        }
      }

      a,
      span {
        @include rem(height, 40px);
        @include rem(line-height, 40px);
      }

      header {
        @include rem(height, 40px);
        @include rem(line-height, 40px);
        background-color: transparent;
      }

      .page-header-navigation {
        @include rem(height, 40px);
        @include rem(line-height, 30px);
        @include rem(padding-left, 15px);
        transition: .3s padding-left .1s, .2s height;
        vertical-align: top;

        .mobile-nav .styled-select.alt {
          @include rem(margin-top, 5px);
        }
      }

      a,
      span {
        vertical-align: middle;
      }

      .page-header-tools .page-header-icon {
        @include rem(height, 40px);
        border-left-color: $lightgray;
        line-height: 1;
        vertical-align: top;

        svg {
          @include rem(height, 20px);
          @include rem(margin-top, 3px);
          @include rem(width, 20px);
          margin-bottom: 0;
        }
      }
    }
  }

  header {
    @include rem(height, 60px);
    @include single-box-shadow(0, 6px, 6px, -3px, rgba($black, .3));
    background: $white;
    border-bottom: 1px solid $lightgray;
    display: table;
    overflow: visible;
    padding: 0;
    position: relative;
    width: 100%;

    @include breakpoint(desktop) {
      @include rem(height, 90px);
      border-bottom: 0 none;
    }
  }

  a {
    @extend %headerblock;
    @include rem(height, 60px);
    @include rem(line-height, 60px);
    font-weight: $light;
    text-decoration: none;

    &:hover, &:focus {
      color: $midblue;
      text-decoration: underline;
    }

    &.page-header-logo {
      @include rem(height, 60px);
      @include rem(width, 60px);
      background-color: $darkblue;
      display: table-cell;
      left: 0;
      top: 0;
      transition: .2s top .3s;

      @media screen {
        svg {
          width: 100%;
          height: 100%;
        }

        img {
          border: 0;
          max-height: 100%;
          max-width: 100%;
        }
      }
    }

    @include breakpoint(desktop) {
      @include rem(height, 90px);
      @include rem(line-height, 90px);

      &.page-header-logo {
        @include rem(margin-left, 40px);
        @include rem(height, 140px);
        @include rem(width, 140px);
        position: absolute;
      }
    }

    &.wide {
      @include rem(width, 142px);
      background-color: $black;

      @include breakpoint(desktop) {
        @include rem(width, 320px);
      }
    }
  }

  span {
    @extend %headerblock;
    @include rem(font-size, 13px);
    @include rem(height, 40px);
    @include rem(line-height, 40px);
    @include rem(padding, 0 10px 5px 10px);
    font-weight: $light;

    @include breakpoint(desktop) {
      @include rem(height, 75px);
      @include rem(line-height, 75px);
      @include rem(padding, 0 10px 7.5px 10px);
    }
  }
}

.uomcontent .page-header-navigation {
  @include rem(padding, 0 15px);
  display: table-cell;
  transition: .3s padding-left;
  vertical-align: baseline;

  .mobile-nav {
    display: none;

    select {
      @include rem(padding, 0 10px);
      border: 0 none;
      border-radius: 3px;
      color: $darkblue;
      max-width: 90%;

      &:hover {
        color: $darkblue;
      }
    }

    .styled-select.alt {
      @include rem(margin-top, 13px);
    }

    .styled-select svg.icon {
      @include rem(top, 10px);
      fill: $darkblue;
    }

    @include breakpoint(0) {
      display: block;
    }

    @include breakpoint(desktop) {
      display: none;
    }
  }

  a,
  span {
    display: inline;
  }

  @include breakpoint(0) {
    a,
    span {
      display: none;
    }
  }

  @include breakpoint(desktop) {
    @include rem(height, 90px);
    @include rem(padding-left, 205px);
    @include rem(margin-right, 260px);
    display: block;
    overflow: hidden;
    position: absolute;
    text-overflow: ellipsis;
    white-space: nowrap;

    a,
    span {
      display: inline;
    }
  }

  .page-local-history {
    color: $darkblue;
    margin: 0;
    padding: 0 30px 0 0;

    a {
      color: $darkblue;

      &:hover, &:focus {
        color: $midblue;
      }
    }
  }
}

.uomcontent .page-local-history {
  @extend %wrapper;
  @include rem(padding, 0 30px);
  color: $white;
  display: none;

  @include breakpoint(desktop) {
    display: block;
  }

  a {
    color: $white;
    font-weight: $light;
  }

  span {
    @include rem(padding, 0 10px);
  }
}

.uomcontent .page-header-tools {
  @include rem(width, 60px);
  display: table-cell;
  right: 0;
  text-align: right;
  top: 0;
  vertical-align: top;

  @include breakpoint(tablet) {
    @include rem(width, 186px);
  }

  @include breakpoint(desktop) {
    @include rem(width, 300px);
    background-color: $white;
    position: absolute;
  }

  .page-header-icon {
    @include rem(font-size, 9px);
    @include rem(padding, 0 10px);
    @include rem(width, 40px);
    border-left: 1px solid darken($lightgray, 10%);
    font-weight: $regular;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;

    box-sizing: content-box;
    /* autoprefixer: off */
    -moz-box-sizing: content-box;
    /* autoprefixer: on */

    svg {
      @include rem(height, 30px);
      @include rem(margin-bottom, 4px);
      @include rem(margin-top, 7px);
      @include rem(width, 30px);
      fill: currentColor;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    &:hover, &:focus {
      background-color: $darkblue;
      color: $white;
      text-decoration: none;
    }

    &[title="Login"],
    &[title="Search"] {
      display: none;

      @include breakpoint(tablet) {
        display: inline-block;
      }
    }
  }

  @include breakpoint(desktop) {
    .page-header-icon {
      @include rem(font-size, 10px);
      @include rem(padding, 0 23px);

      svg {
        @include rem(height, 38px);
        @include rem(margin-top, 18px);
        @include rem(width, 38px);
      }
    }
  }
}

.uomcontent .page-header.floating {
  background-color: transparent;
  position: relative;

  @include breakpoint(desktop) {
    position: absolute;
  }

  .page-header-logo {
    @include rem(margin-left, 15px);
    @include rem(margin-top, 15px);
    position: absolute;

    @include breakpoint(desktop) {
      @include rem(margin-top, 30px);
    }
  }

  .page-header-home {
    @include rem(left, 90px);
    @include rem(margin-top, 15px);
    @include rem(width, 160px);
    color: $white;
    font-weight: $light;
    line-height: 1.3;
    position: absolute;

    &:hover, &:focus {
      color: $white;
    }

    @include breakpoint(desktop) {
      @include rem(font-size, 20px);
      @include rem(left, 200px);
      @include rem(margin-top, 30px);
    }
  }

  .page-header-tools {
    @include rem(margin, 15px);
    background-color: transparent;
    position: absolute;

    a.page-header-icon {
      @include rem(border-radius, 3px);
      background-color: transparent;
      border: 1px solid transparent;
      color: $white;
      transition: background-color 0.3s, color 0.3s, transform 0.3s;

      &:hover, &:focus {
        background-color: rgba($white, 0.7);
        color: $black;
        transform: scale(1.1);
      }
    }

    @include breakpoint(desktop) {
      @include rem(margin, 40px);

      a.page-header-icon {
        @include rem(height, 70px);
        @include rem(margin-left, 20px);
        @include rem(padding, 0 15px);

        svg {
          @include rem(margin-top, 7px);
        }
      }
    }
  }

  &.reverse {
    .page-header-home {
      color: $black;
    }

    .page-header-tools a.page-header-icon {
      color: $navy;
    }
  }
}

.ie {
  .uomcontent .page-header {
    border-bottom: 1px solid #f0f0f0;

    .uomcontent .page-header-tools .page-header-icon[title="Login"],
    .uomcontent .page-header-tools .page-header-icon[title="Search"] {
      display: inline-block;
    }

    .uomcontent .page-header-tools a.page-header-icon {
      line-height: 60px;
    }
  }
}
