<form action="http://search-au.funnelback.com/s/search.html" method="get">
  <fieldset>
    <div class="inline">
      <input type="hidden" name="collection" value="unimelb-researchers">
      <input data-required="" placeholder="Search for experts by name or research topic" name="query" type="search" title="Please enter a keyword" aria-label="Search for Staff">
      <button type="submit" value="Go" class="search-button"><svg class="icon" role="img"><use xlink:href="#icon-search"></use></svg></button>
    </div>

    <div>
      <input type="checkbox" class="checkbox" name="facetScope" id="s-c1" value="f.Supervisor%20Availability%7C1=Available">
      <label for="s-c1">
        <span>Show only available supervisors</span>
      </label>
    </div>
  </fieldset>
</form>
