@keyframes flash {
  0%,
  100% {
    color: lighten($cherry, 25%);
  }

  66% {
    color: lighten($cherry, 60%);
  }
}

%control {
  @include rem(border-radius, 3px);
  @include rem(margin-top, 5px);
  @include rem(padding, 8px 10px);
  font-family: $ff-sans;
  font-weight: $light;

  &.invalid {
    background-color: $white;
    border-color: lighten($cherry, 25%);
    color: lighten($cherry, 25%);
  }

  @include breakpoint(desktop) {
    @include rem(width, 400px);
  }
}

%textcontrol {
  @extend %control;
  @include rem(font-size, 20px);
  background-color: $lightgray;
  border: 1px solid darken($lightergray, 5%);
  box-shadow: inset 0 1px 3px rgba($black, .15);

  &:hover {
    border-color: $gray;
  }

  &:focus {
    background-color: $white;
    border-color: $borderblue;
    color: $black;
    outline: 0;

    &.invalid {
      color: $black;
    }
  }
}

%controlhack {
  @include appearance(none);
  text-indent: .01px;
  text-overflow: '';
}

[role="main"] form {
  @include rem(font-size, 16px);
  @include rem(padding, 0 10px);
  background-color: $white;
  color: $darkgray;
  line-height: 1.2;
  margin: 0 auto;
  max-width: $w-sml;

  @include breakpoint(desktop) {
    @include rem(padding, 10px 30px);
  }

  footer {
    padding: 0;
  }
  
  [data-required=true]:after {
    content: '*';
    color: $cherry;
  }
}

.uomcontent .form-error {
  // @include rem(padding, 10px);
  // background-color: rgba($warning, 0.1);
  color: $warning;

  p {
    padding-bottom: 0;
  }
}

.uomcontent fieldset {
  border: 0;
  padding: 0;

  div {
    padding: 10px 0;

    small {
      @include rem(font-size, 18px);
      display: none;
      margin: 0;
      text-transform: none;
    }
  }

  .cursor {
    cursor: pointer;
  }

  label {
    @include rem(font-size, 16px);
    display: inline-block;
    position: relative;
    width: 100%;

    @include breakpoint(desktop) {
      @include rem(width, 412px);
    }
  }

  .invalid small {
    @include rem(font-size, 14px);
    @include rem(padding, 5px 0);
    animation: flash .4s .1s 1 ease-in-out;
    color: $cherry;
    display: block;
    font-style: italic;
  }

  p {
    @include rem(font-size, 16px);
  }

  input[type="text"],
  input[type="email"],
  input[type="number"],
  input[type="password"] {
    @extend %textcontrol;
    width: 100%;
  }

  textarea {
    @extend %textcontrol;
    height: 200px;
    width: 100%;
  }

  // exclude style from IE lt 9
  input[type="checkbox"],
  input[type="radio"] {
    display: inline;
  }

  @include breakpoint(0) {
    input[type="checkbox"] {
      position: absolute !important;
      clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
      clip: rect(1px, 1px, 1px, 1px);

      &:checked + label:active,
      &:checked + label::after {
        opacity: 1;
      }
    }

    input[type="checkbox"] + label {
      display: block;
      position: relative;

      &::after {
        background: transparent;
        border: 3px solid $highlight;
        border-right: 0 none;
        border-top: 0 none;
        content: '';
        height: 5px;
        left: 3px;
        opacity: 0;
        position: absolute;
        top: 5px;
        transform: rotate(-45deg);
        width: 10px;
      }

      &:active::after {
        opacity: .2;
      }

      span {
        @include rem(margin-top, -5px);
        @include rem(padding-left, 35px);
        @include rem(width, 640px);
        cursor: pointer;
        display: block;
        text-indent: 0;

        &::before {
          background-color: $white;
          border: 1px solid lighten($midgray, 40%);
          border-radius: 3px;
          box-sizing: border-box;
          content: '';
          cursor: default;
          display: block;
          height: 20px;
          left: -1px;
          margin: 0 10px -3px 0;
          padding: 1px;
          position: absolute;
          top: 1px;
          width: 20px;
        }
      }
    }
    
    input[type="checkbox"]:focus + label {
      span {
        &::before {
          border-color: $highlight;
        }
      }
    }

    .invalid input[type="checkbox"] + label {
      border-color: lighten($cherry, 25%);
    }

    input[type="radio"] {
      position: absolute !important;
      clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
      clip: rect(1px, 1px, 1px, 1px);

      &:checked + label {
        border-color: $highlight;
      }

      &:checked + label:active,
      &:checked + label:after,
      &:checked + label::after {
        opacity: 1;
      }
    }

    input[type="radio"] + label {
      @include appearance(none);
      background-color: $white;
      border: 1px solid lighten($midgray, 40%);
      border-radius: 50px;
      display: inline-block;
      height: 1em;
      margin-bottom: -3px;
      margin-right: 10px;
      padding: 9px;
      position: relative;
      text-indent: -999em;
      width: 12px;

      &::after {
        background-color: $highlight;
        border-radius: 50px;
        content: ' ';
        font-size: 32px;
        height: 12px;
        left: 3px;
        opacity: 0;
        position: absolute;
        text-shadow: 0;
        top: 3px;
        width: 12px;
      }

      &:active::after {
        opacity: .2;
      }

      span {
        @include rem(margin-top, -10px);
        @include rem(padding-left, 27px);
        @include rem(width, 638px);
        cursor: pointer;
        display: block;
        text-indent: 0;
      }
    }
  }

  .align-checkbox {
    line-height: 1.4;

    @include breakpoint(0) {
      @include rem(padding-left, 30px);
      @include rem(text-indent, -40px);
    }
  }

  .inline {
    position: relative;

    input[type="search"] {
      @extend %textcontrol;
      @include appearance(none);
      @include rem(height, 45px);
      width: 100%;
    }

    input[type="image"],
    .search-button {
      @include rem(border-radius, 0 3px 3px 0);
      @include rem(height, 45px);
      @include rem(margin, 15px 0);
      @include rem(width, 45px);
      background-color: $highlight;
      border: 0 none;
      color: $white;
      padding: 0;
      position: absolute;
      right: 0;
      top: 0;

      span {
        display: none;
      }

      svg {
        @include rem(height, 45px);
        @include rem(width, 45px);
        cursor: pointer;
        fill: currentColor;
        max-height: 100%;
      }

    }
  }
}

.uomcontent .styled-select {
  @include rem(margin-top, 5px);
  padding: 0;
  position: relative;

  svg.icon {
    @include rem(height, 20px);
    @include rem(top, 15px);
    @include rem(width, 20px);
    display: block;
    fill: $white;
    position: absolute;
    right: 0;
  }
}

.uomcontent select {
  @extend %control;
  @extend %controlhack;
  @include appearance(none);
  @include rem(font-size, 18px);
  background-color: $highlight;
  border: 1px solid $highlight;
  color: $white;
  cursor: pointer;
  line-height: 1.55;
  margin-top: 0;
  width: 100%;

  option {
    background-color: transparent;
    color: $white;
  }

  &::-ms-expand {
    display: none;
  }

  &.invalid,
  &.invalid:hover,
  &.alt.invalid,
  &.alt.invalid:hover {
    background-color: $white;
    border-color: $cherry;
    color: $cherry;

    option {
      color: $cherry;
    }
  }

  &.invalid + svg.icon,
  &.alt.invalid + svg.icon {
    fill: $cherry;
  }

  &:hover {
    background-color: $brand;
    border-color: $brand;
    color: $white;
  }

  &.alt {
    background-color: $white;
    border-color: $highlight;
    color: $highlight;

    option {
      color: $highlight;
    }
  }

  &.alt + svg.icon {
    fill: $highlight;
  }

  &.alt:hover {
    background-color: $lightestblue;
    border-color: $highlight;
    color: $highlight;
  }

  &.clear,
  &.clear-dark {
    background-color: transparent;
    border-color: $white;
  }

  &.clear:hover,
  &.clear-dark:hover {
    background-color: rgba($white, .3);
  }

  &.clear-dark.invalid,
  &.clear-dark.invalid:hover {
    background-color: rgba($white, .3);
    border-color: $cherry;
    color: $cherry;
  }

  &.clear.invalid,
  &.clear.invalid:hover {
    background-color: rgba($white, .3);
    border-color: lighten($cherry, 25%);
    color: lighten($cherry, 25%);
  }

  &.clear.invalid + svg.icon + small {
    color: lighten($cherry, 25%);
  }

  &.clear.invalid + svg.icon {
    fill: lighten($cherry, 25%);
  }

  @include breakpoint(desktop) {
    @include rem(width, 412px);
  }
}

// The horror
@-moz-document url-prefix() {
  .uomcontent .styled-select {
    @include rem(border-radius, 3px);
    background-color: $highlight;
    border: 1px solid $highlight;
    padding: 0;

    select {
      -moz-appearance: window;
    }

    &.invalid,
    &.invalid:hover,
    &.alt.invalid,
    &.alt.invalid:hover {
      background-color: $white;
      border-color: $cherry;
      color: $cherry;
    }

    &.invalid + svg.icon,
    &.alt.invalid + svg.icon {
      fill: $cherry;
    }

    &:hover {
      background-color: $brand;
      border-color: $brand;
      color: $white;
    }

    &.alt {
      background-color: $white;
      border-color: $highlight;
      color: $highlight;
    }

    &.alt + svg.icon {
      fill: $highlight;
    }

    &.alt:hover {
      background-color: $lightestblue;
      border-color: $highlight;
      color: $highlight;
    }

    &.clear,
    &.clear-dark {
      background-color: transparent;
      border-color: $white;
    }

    &.clear:hover,
    &.clear-dark:hover {
      background-color: rgba($white, .3);
    }

    &.clear-dark.invalid,
    &.clear-dark.invalid:hover {
      background-color: rgba($white, .3);
      border-color: $cherry;
      color: $cherry;
    }

    &.clear.invalid,
    &.clear.invalid:hover {
      background-color: rgba($white, .3);
      border-color: lighten($cherry, 25%);
      color: lighten($cherry, 25%);
    }

    &.clear.invalid + svg.icon + small {
      color: lighten($cherry, 25%);
    }

    &.clear.invalid + svg.icon {
      fill: lighten($cherry, 25%);
    }

  }
}

.uomcontent .newsletter-box {
  @include leader(1);
  @include padding-leader(1);
  @include padding-trailer(1);
  @include rem(max-width, $w-mid);
  background-color: transparent;
  border-top: 1px solid rgba($white, 0.2);
  color: $white;
  margin-left: auto;
  margin-right: auto;

  p {
    @include adjust-font-size-to(20px);
    @include padding-trailer(1);
    font-weight: $thin;
  }

  form {
    @include rem(max-width, $w-lge);
    background-color: transparent;

    label {
      color: $white;
    }

    @include breakpoint(desktop) {

      fieldset {
        display: table;
        margin: 0 auto;
        width: auto;

        label {
          width: auto;
        }
      }

      fieldset > div {
        @include rem(padding-left, 10px);
        @include rem(padding-right, 10px);
        display: table-cell;
      }

      input[type="submit"] {
        @include rem(padding, 12px 20px);
        border: 0;
      }
    }
  }

  @include breakpoint(desktop) {
    @include padding-leader(0);
  }
}

.ie .uomcontent fieldset {
  .search-button span,
  label {
    display: inline;
  }
}
