@mixin transition($props) {
  -webkit-transition: $props;
  -moz-transition: $props;
  -ms-transition: $props;
  transition: $props;
}

@mixin appearance($a) {
  -webkit-appearance: $a;
  -moz-appearance: $a;
  -ms-appearance: $a;
  appearance: $a;
}

@mixin animate-once($n) {
  -webkit-animation: $n .4s .1s 1 ease-in-out;
  -moz-animation: $n .4s .1s 1 ease-in-out;
  animation: $n .4s .1s 1 ease-in-out;
}

@-webkit-keyframes flash {
  0%,
  100% {
    color: lighten($cherry, 25%);
  }
  66% {
    color: lighten($cherry, 60%);
  }
}

@keyframes flash {
  0%,
  100% {
    opacity: 1;
  }
  66% {
    opacity: 0.4;
  }
}

%control {
  @include rem(border-radius, 3px);
  @include rem(margin-top, 5px);
  @include rem(padding, 8px 10px);
  @include rem(width, 400px);
  font-family: $ff-sans;
  font-weight: $light;
  &.invalid {
    background-color: $white;
    border-color: lighten($cherry, 25%);
    color: lighten($cherry, 25%);
  }
}

%textcontrol {
  @extend %control;
  @include rem(font-size, 20px);
  background-color: $lightgray;
  border: 1px solid darken($lightergray, 5%);
  box-shadow: inset 0 1px 3px rgba($black, 0.15);
  &:hover {
    border-color: $gray;
  }
  &:focus {
    background-color: $white;
    border-color: $borderblue;
    color: $black;
    outline: 0;
  }
  &:focus.invalid {
    color: $black;
  }
}

%selectcontrol {
  @include rem(margin, 5px);
}

%controlhack {
  text-indent: 0.01px;
  text-overflow: '';
  -moz-appearance: none;
  -webkit-appearance:none;
}

form {
  @include rem(font-size, 16px);
  background-color: $white;
  color: #444;
  line-height: 1.2;
  padding: 0 30px;
}

fieldset {
  border: 0;
  padding: 0;
  div {
    padding: 10px 0;
    small {
      @include rem(font-size, 18px);
      display: none;
      margin: 0;
      text-transform: none;
    }
  }
  label {
    @include rem(font-size, 16px);
    display: inline-block;
    position: relative;
    width: 412px;
    &.inline {
      padding-right: 30px;
      width: auto;
    }
  }
  .invalid small {
    @include animate-once(flash);
    @include rem(font-size, 14px);
    @include rem(padding, 5px 0);
    color: $cherry;
    display: block;
    font-style: italic;
  }
  p {
    @include rem(font-size, 16px);
  }

  input[type="text"],
  input[type="email"],
  input[type="number"],
  input[type="password"],
  textarea {
    @extend %textcontrol;
    width: 100%;
  }

  select {
    @extend %control;
    @extend %controlhack;
    @include appearance(none);
    @include rem(font-size, 18px);
    background-color: $highlight;
    background-image: url(asset_path("components/forms/n-s.png"));
    background-repeat: no-repeat;
    background-position: 98% 50%;
    border: 1px solid $highlight;
    color: $white;
    cursor: pointer;
    line-height: 1.55;
    width: 412px;
    &::-ms-expand {
        display: none;
    }
    &.invalid {
      background-image: url(asset_path("components/forms/n-s-invalid.png"));
      color: $cherry;
    }
    &:hover {
      background-color: $brand;
      background-image: url(asset_path("components/forms/n-s.png"));
      border-color: $brand;
      color: $white;
    }
    &.alt {
      background-color: $white;
      background-image: url(asset_path("components/forms/n-s-alt.png"));
      border-color: $highlight;
      color: $highlight;
    }
    &.alt:hover {
      background-color: $lightestblue;
      background-image: url(asset_path("components/forms/n-s-alt.png"));
      border-color: $highlight;
      color: $highlight;
    }
    &.alt.invalid {
      background-image: url(asset_path("components/forms/n-s-invalid.png"));
      border-color: lighten($cherry, 25%);
      color: $cherry;
    }
    &.alt.invalid:hover {
      background-image: url(asset_path("components/forms/n-s-alt.png"));
      border-color: $highlight;
      color: $highlight;
    }
  }

  input[type="checkbox"] {
    display: none;
    &:checked + label:active,
    &:checked + label:after {
      opacity: 1;
    }
  }
  input[type="checkbox"] + label {
    background: $white;
    border: 1px solid $lightergray;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    margin: 0 10px -6px;
    padding: 1px;
    position: relative;
    width: 25px;
    &:after {
      background: transparent;
      border: 3px solid $highlight;
      border-right: none;
      border-top: none;
      content: '';
      height: 5px;
      left: 6px;
      opacity: 0;
      position: absolute;
      top: 6px;
      width: 10px;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
    &:active:after {
      opacity: 0.2;
    }
  }
  .invalid input[type="checkbox"] + label {
    border-color: lighten($cherry, 25%);
  }

  input[type="radio"] {
    @extend %selectcontrol;
  }
}

// .radio-1 {
//   width: 193px;
// }

// .button-holder {
//   float: left;
// }

// /* RADIO */

// .regular-radio {
//   display: none;
// }

// .regular-radio + label {
//   -webkit-appearance: none;
//   background-color: #fafafa;
//   border: 1px solid #cacece;
//   box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
//   padding: 9px;
//   border-radius: 50px;
//   display: inline-block;
//   position: relative;
// }

// .regular-radio:checked + label:after {
//   content: ' ';
//   width: 12px;
//   height: 12px;
//   border-radius: 50px;
//   position: absolute;
//   top: 3px;
//   background: #99a1a7;
//   box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3);
//   text-shadow: 0px;
//   left: 3px;
//   font-size: 32px;
// }

// .regular-radio:checked + label {
//   background-color: #e9ecee;
//   color: #99a1a7;
//   border: 1px solid #adb8c0;
//   box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1), inset 0px 0px 10px rgba(0,0,0,0.1);
// }

// .regular-radio + label:active, .regular-radio:checked + label:active {
//   box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
// }


