.uomcontent [role="main"] {
  article footer {
    padding-top: 0;

    .staff-listing-detailed {
      padding-bottom: 3rem;
      margin: 0 auto;
      max-width: var(--w-sml);

      li {
        width: 13.75rem;
      }

      .frame {
        max-width: 6.25rem;
        margin-left: auto;
        margin-right: auto;
      }
    }

    .republish-wrapper {
      padding-top: .75rem;
      padding-bottom: .75rem;
      max-width: var(--w-sml);
      border-bottom: 1px solid var(--col-lightergray);
      border-top: 1px solid var(--col-lightergray);
      margin: 0 auto;
      overflow: hidden;
      width: 94%;

      @media screen and (--bp-desktop) {
        width: 100%;
      }
    }

    .share {
      margin: 0 auto;
      max-width: var(--w-sml);
      padding-top: .3125rem;
      display: table;
      float: left;
      padding-bottom: 0;
      width: auto;

      ul {
        display: table-cell;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
      }

      li {
        font-size: .875rem;
        line-height: 1.5rem;
        margin: 0 .625rem 0 0;
        display: inline-block;
        list-style-type: none;
        padding: 0;
        width: auto;

        a {
          border-radius: 3px;
          height: 1.875rem;
          width: 1.875rem;
          background-color: #4099FF;
          color: #fff;
          display: block;
          overflow: hidden;
          vertical-align: top;

          svg {
            height: 1.875rem;
            width: 1.875rem;
            fill: currentColor;
          }
        }

        &.facebook a {
          background-color: #3b5998;
        }

        &.linkedin a {
          background-color: #0976b4;
        }
      }
    }

    .republish {
      float: right;
      text-align: right;
    }

    .categories {
      font-size: 1.0625rem;
      line-height: 1.5rem;
      padding-top: 1.5rem;
      text-align: left;

      a {
        font-weight: var(--fw-bold);
      }
    }
  }
}
