.uomcontent [role="main"] {
  article {
    header,
    header:first-child {
      @mixin banner;
      position: relative;

      h1,
      p {
        max-width: var(--w-mid);
        padding-left: pxtorem(20);
        padding-right: pxtorem(20);
      }

      h1 {
        font-weight: var(--fw-semibold);
      }

      p.author {
        em {
          font-size: 1.125rem;
          line-height: pxtorem(24);
          font-style: normal;
          font-weight: var(--fw-semibold);
        }
      }

      .bottom-align {
        padding-bottom: pxtorem(48);
        position: relative;
      }
    }

    header.noimg,
    header.noimg:first-child {
      background-color: transparent;
      display: block;
      height: auto;
      min-height: 0;

      h1,
      p {
        color: var(--col-black-dark);
        padding-left: 0;
        padding-right: 0;
        text-align: left;
      }

      h1 {
        padding-top: pxtorem(48);
        padding-bottom: pxtorem(24);
        max-width: var(--w-sml);
      }

      p {
        max-width: var(--w-sml);

        &.author {
          padding-bottom: pxtorem(48);
          max-width: var(--w-sml);
          border-bottom: 1px solid var(--col-black-light);

          &::before {
            border-color: var(--col-black-dark);
            margin-left: 0;
          }
        }
      }

      & + section.with-figure > figure.full-width {
        margin-top: pxtorem(-25);
      }
    }
  }
}

.ie9, .ie10 {
  .uomcontent article header,
  .uomcontent article header:first-child {
    .bottom-align {
      position: absolute;
    }
  }
}
