@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }

  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

%ticks {
  @include rem(padding-left, 30px);

  @include breakpoint(desktop) {
    @include rem(padding-left, 20px);
  }

  li {
    list-style-type: none;
    position: relative;

    &::before {
      @include rem(height, 5px);
      @include rem(margin-left, -30px);
      @include rem(top, 10px);
      @include rem(width, 10px);
      background: transparent;
      border: 3px solid $green;
      border-right: 0 none;
      border-top: 0 none;
      content: '';
      left: 0;
      position: absolute;
      transform: rotate(-45deg);
    }

    &.disabled::before {
      opacity: .2;
    }


    ul {
      @include padding-leader(.5);
      @include padding-trailer(0);
    }

    li {
      list-style-type: disc;

      &::before {
        display: none;
      }
    }
  }
}


.uomcontent {
	background-color: $white;
  font-weight: $regular;

  .sans {
    font-family: $ff-sans;
  }

  .fixed {
    font-family: $ff-fixed;
  }

  .serif {
    font-family: $ff-serif;
  }

  .thin {
    font-weight: $thin;
  }

  .light {
    font-weight: $light;
  }

  .regular {
    font-weight: $regular;
  }

  .bold {
    font-weight: $bold;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  li,
  table {
    @extend %wrapper;
    @include rem(max-width, $w-sml);
    font-weight: $light;
    padding: 0;
  }

  h1 {
    @include adjust-font-size-to(26px);
    @include padding-trailer(1);
    font-weight: $light;

    @include breakpoint(desktop) {
      @include adjust-font-size-to(33px);
    }
  }

  h2 {
    @include adjust-font-size-to(15px);
    @include rem(letter-spacing, 1px);
    @include padding-leader(1);
    @include padding-trailer(1);
    clear: left;
    font-weight: $bold;
    text-transform: uppercase;
  }

  h3 {
    @include adjust-font-size-to(16px);
    font-weight: $bold;

    &.subtitle {
	    text-decoration: underline;
	    text-transform: none;
	  }
  }

  p,
  li {
    @include rem(letter-spacing, .2px);
    @include padding-trailer(1);
  }

  ol,
  ul {
    @include leader(0);
    @include padding-trailer(1);
    @include rem(max-width, $w-sml);
    @include rem(padding-left, 15px);
    @include rem(padding-right, 15px);
    color: $darkgray;
    list-style-position: outside;
    margin: 0 auto;

    li {
      @include padding-trailer(0.5);
      @include rem(margin-left, 15px);
      @include rem(max-width, $w-sml);
      color: $black;
      display: list-item;

      &:last-child {
        padding-bottom: 0;
      }

      &.no-li {
        list-style-type: none;

        &:before,
        &::before {
          display: none;
        }
      }
    }

    &.nobullet {
      @include breakpoint(desktop) {
        padding-left: 0;
      }

      li {
        list-style-type: none;
        margin-left: 0;
      }
    }
  }

  ol {
    @include rem(padding-left, 30px);
    // li {
    //   list-style-type: decimal;
    // }

    &.steps {
      @include rem(max-width, $w-mid);
      counter-reset: steps;
      padding-left: 0;
      padding-right: 0;

      & > li {
        @include rem(max-width, $w-mid);
        @include rem(padding-left, 50px);
        border-top: 1px solid rgba(#000000, 0.1);
        counter-increment: steps;
        list-style-type: none;

        &:first-child {
          border-top: none;
        }

        &::before {
          @include adjust-font-size-to(50px);
          @include rem(letter-spacing, -5px);
          @include rem(margin-left, -50px);
          @include rem(padding-top, 20px);
          color: $black;
          content: counter(steps);
          display: inline-block;
          float: left;
          font-weight: $bold;
          position: absolute;
        }

        & > p:first-child {
          @include padding-leader(1);
        }
      }

      h2 {
        @extend h1;
        @include padding-leader(1);
        text-transform: none;
      }
      ul {
        @include rem(padding-left, 20px);
        @include rem(padding-right, 20px);
      }

      @include breakpoint(desktop) {
        li {
          &::before {
            @include adjust-font-size-to(68px);
            @include rem(letter-spacing, -7px);
          }
        }
      }

      @include breakpoint(860px) {
        li {
          margin-left: 0;
          padding-left: 0;

          &::before {
            @include adjust-font-size-to(68px);
            @include rem(letter-spacing, -7px);
            @include rem(margin-left, 10px);
          }
        }
      }

      @include breakpoint(wide) {
        li {

          &::before {
            @include adjust-font-size-to(80px);
            @include rem(letter-spacing, -11px);
          }
        }
      }
    }
  }

  ul {
  	li {
  		list-style-type: disc;
  	}

    &.ticked-list {
      @extend %ticks;
    }
  }

  .ticked-list ul {
    @extend %ticks;
  }

  dl {
    @include adjust-font-size-to(12px);
    @include padding-leader(1);
    @include padding-trailer(1);
    @include rem(padding-left,15px);
    @include rem(padding-right,15px);
    dt {
      @include rem(width, 120px);
      clear: left;
      float: left;
    }

    dd {
      float: left;
    }

    &.bside {
      @include rem(font-size, 15px);
      dt {
        line-height: 1.2;
        margin: 0;
        text-align: left;
        width: 15%;
      }

      dd {
        margin: 0 0 0 5%;
        width: 80%;
      }

      span {
        @include rem(font-size, 28px);
        letter-spacing: -.125em;
        line-height: 1;
      }

      @include breakpoint(desktop) {
        @include rem(padding, 10px 30px);
        display: inline-block;
        width: 75%;

        dt {
          text-align: right;
        }

        dd {
          margin: 0 0 0 2%;
          width: 83%;
        }
      }
    }
  }

  hr {
    border-bottom: 1px solid darken($lightgray, 5%);
    border-top: 0;
    clear: both;
    line-height: 0;
    margin: 0;

    &.spacer {
      @include leader(1);
      @include trailer(1);
    }
  }

  a {
    color: $cyan;
    text-decoration: underline;

    &:hover {
      color: darken($cyan, 15%);
    }
  }

  .center {
    @include rem(padding, 0 0 60px);
    margin: 0 auto;
    text-align: center;
  }

  .no-padding {
    padding-bottom: 0;
  }

  .grey {
    @include adjust-font-size-to(16px);
    color: $midgray;
  }

  .main-title {
    @include adjust-font-size-to(36px);
    @include padding-leader(1);
    @include padding-trailer(1);
    font-family: $ff-serif;
    font-weight: $regular;
    line-height: 1.2;

    &:after,
    &::after {
      @include rem(margin-top, 15px);
      @include rem(max-width, 700px);
      border-bottom: 2px solid $midgray;
      content: '';
      display: block;
      width: 100%;
    }

    @include breakpoint(desktop) {
      @include rem(font-size, 47.1px);
      @include rem(padding-bottom, 24px);
      @include rem(padding-top, 30px);
      line-height: 1.26;
    }

    &+ h2 {
      @include rem(padding-top, 3px);
    }
  }

  .small {
    @include adjust-font-size-to(12px);
  }

  .subtitle {
    @include adjust-font-size-to(15px);
    @include rem(letter-spacing, 2px);
    font-weight: $bold;
    text-transform: uppercase;
  }

  .line {
    font-size: .8em;
    letter-spacing: 1px;
  }

  .title {
    @extend .subtitle;
    text-align: center;

    &:after {
      @include margin-leader(1);
      @include rem(width, 80px);
      border-bottom: 2px solid $black;
      content: '';
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    &::after {
      @include margin-leader(1);
      @include rem(width, 80px);
      border-bottom: 2px solid $black;
      content: '';
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .feature {
    @include adjust-font-size-to(20px);
  }
}

.uomcontent [role="main"] {
  h1.highlight {
    @include adjust-font-size-to(75px);
    background: -webkit-linear-gradient($navy, $highlight);
    color: $highlight;
    font-weight: $thin;
    letter-spacing: -5px;
    text-align: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 80s infinite linear;

    @include breakpoint(desktop) {
      @include adjust-font-size-to(160px);
    }
  }

  header h1.highlight,
  & > header:first-child h1.highlight,
  header.image h1.highlight,
  & > header.image:first-child h1.highlight,
  header.banner h1.highlight,
  & > header.banner:first-child h1.highlight {
    @include adjust-font-size-to(60px);
    @include rem(padding-top, 120px);
    background: -webkit-linear-gradient($highlight, lighten($highlight, 25%));
    -webkit-background-clip: text;
    text-align: center;
    -webkit-text-fill-color: transparent;

    @include breakpoint(desktop) {
      @include adjust-font-size-to(100px);
      text-align: center;
    }

    @include breakpoint(height-medium) {
      padding-top: 0;
    }
  }
}
