$cdnurl: '//uom-templates.s3.amazonaws.com/shared';

// IE9 compat
// IE6-8
// modern browsers
// Safari, Android, iOS
// Legacy iOS

@font-face {
  font-family: 'Roboto';
  src: url("#{$cdnurl}/fonts/Roboto-Bold.eot");
  src: url("#{$cdnurl}/fonts/Roboto-Bold.eot#iefix") format('embedded-opentype'),
       url("#{$cdnurl}/fonts/Roboto-Bold.woff") format('woff'),
       url("#{$cdnurl}/fonts/Roboto-Bold.ttf") format('truetype'),
       url("#{$cdnurl}/fonts/Roboto-Bold.svg#b49e654214c0ade376e714f6d9c78d72") format('svg');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Roboto';
  src: url("#{$cdnurl}/fonts/Roboto-BoldItalic.eot");
  src: url("#{$cdnurl}/fonts/Roboto-BoldItalic.eot#iefix") format('embedded-opentype'),
       url("#{$cdnurl}/fonts/Roboto-BoldItalic.woff") format('woff'),
       url("#{$cdnurl}/fonts/Roboto-BoldItalic.ttf") format('truetype'),
       url("#{$cdnurl}/fonts/Roboto-BoldItalic.svg#4c5461679a335ca94f0d122f23b70c6a") format('svg');
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: 'Roboto';
  src: url("#{$cdnurl}/fonts/Roboto-Regular.eot");
  src: url("#{$cdnurl}/fonts/Roboto-Regular.eot#iefix") format('embedded-opentype'),
       url("#{$cdnurl}/fonts/Roboto-Regular.woff") format('woff'),
       url("#{$cdnurl}/fonts/Roboto-Regular.ttf")  format('truetype'),
       url("#{$cdnurl}/fonts/Roboto-Regular.svg#f4ba68a9596ca53347cecdb9c6e48d01") format('svg');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url("#{$cdnurl}/fonts/Roboto-Italic.eot");
  src: url("#{$cdnurl}/fonts/Roboto-Italic.eot#iefix") format('embedded-opentype'),
       url("#{$cdnurl}/fonts/Roboto-Italic.woff") format('woff'),
       url("#{$cdnurl}/fonts/Roboto-Italic.ttf")  format('truetype'),
       url("#{$cdnurl}/fonts/Roboto-Italic.svg#d3e7c44ac4f4e64fa2d05ac3d21ebf6e") format('svg');
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url("#{$cdnurl}/fonts/Roboto-Light.eot");
  src: url("#{$cdnurl}/fonts/Roboto-Light.eot#iefix") format('embedded-opentype'),
       url("#{$cdnurl}/fonts/Roboto-Light.woff") format('woff'),
       url("#{$cdnurl}/fonts/Roboto-Light.ttf")  format('truetype'),
       url("#{$cdnurl}/fonts/Roboto-Light.svg#14cfc794995ce651ee6fc06de48ff027") format('svg');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto';
  src: url("#{$cdnurl}/fonts/Roboto-LightItalic.eot");
  src: url("#{$cdnurl}/fonts/Roboto-LightItalic.eot#iefix") format('embedded-opentype'),
       url("#{$cdnurl}/fonts/Roboto-LightItalic.woff") format('woff'),
       url("#{$cdnurl}/fonts/Roboto-LightItalic.ttf")  format('truetype'),
       url("#{$cdnurl}/fonts/Roboto-LightItalic.svg#efd8343d93408b9a4ac863f89d96cf30") format('svg');
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto';
  src: url("#{$cdnurl}/fonts/Roboto-Thin.eot");
  src: url("#{$cdnurl}/fonts/Roboto-Thin.eot#iefix") format('embedded-opentype'),
       url("#{$cdnurl}/fonts/Roboto-Thin.woff") format('woff'),
       url("#{$cdnurl}/fonts/Roboto-Thin.ttf")  format('truetype'),
       url("#{$cdnurl}/fonts/Roboto-Thin.svg#aa2d497a13c540ad016e99a0baee3c15") format('svg');
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: 'Roboto';
  src: url("#{$cdnurl}/fonts/Roboto-ThinItalic.eot");
  src: url("#{$cdnurl}/fonts/Roboto-ThinItalic.eot#iefix") format('embedded-opentype'),
       url("#{$cdnurl}/fonts/Roboto-ThinItalic.woff") format('woff'),
       url("#{$cdnurl}/fonts/Roboto-ThinItalic.ttf")  format('truetype'),
       url("#{$cdnurl}/fonts/Roboto-ThinItalic.svg#a625651e234cdb237741203e00d10748") format('svg');
  font-style: italic;
  font-weight: 100;
}

// Font
$ff-sans: Roboto, Helvetica, Arial, sans-serif;
$ff-fixed: 'Courier New', Courier, fixed;
$ff-serif: Georgia, 'Times New Roman', Times, serif;

$thin: 100;
$light: 300;
$regular: 400;
$bold: 700;
