.md-fix {
  div {
    float: left;
    font-family: $ff-sans;
    font-size: 18px;
    margin: 0 40px 40px 0 !important;
    text-align: center;
    width: 100px;

    strong {
      font-weight: $regular;
    }
  }

  br {
    display: none;
  }
}

.circle {
  border: 1px solid rgba(0, 0, 0, .05);
  border-radius: 50%;
  display: inline-block;
  height: 65px;
  width: 65px;
  &.black {
    background-color: #000000;
  }
  &.darkgray {
    background-color: #333333;
  }
  &.midgray {
    background-color: #666666;
  }
  &.gray {
    background-color: #ADB8C1;
  }
  &.lightgray {
    background-color: #f6f6f6;
  }
  &.lightergray {
    background-color: #E0E0E0;
  }
  &.white {
    background-color: #ffffff;
  }
  &.navy {
    background-color: #0c304a;
  }
  &.blue {
    background-color: #304E64;
  }
  &.darkblue {
    background-color: #004576;
  }
  &.midblue {
    background-color: #366996;
  }
  &.lightblue {
    background-color: #82a1bd;
  }
  &.lighterblue {
    background-color: #359aec;
  }
  &.paleblue {
    background-color: #f2f5f8;
  }
  &.lightestblue {
    background-color: #e1eaf5;
  }
  &.paleyellow {
    background-color: #fffbe4;
  }
  &.cyan {
    background-color: #0084ee;
  }
  &.green {
    background-color: #3FC76E;
  }
  &.cherry {
    background-color: #DF0620;
  }

}
