.eg-palette {
  @extend %clearfix;
  @extend %wrapper;
  @include rem(max-width, 1200px);
  @include rem(padding-bottom, 30px);
  margin: 0 auto;
  text-align: center;

  div {
    display: inline-block;
    font-family: $ff-sans;
    font-size: 18px;
    margin: 20px;
    text-align: center;
    width: 100px;

    strong {
      font-weight: $regular;
    }
  }
}

.circle {
  border: 1px solid rgba(0, 0, 0, .05);
  border-radius: 50%;
  display: inline-block;
  height: 65px;
  width: 65px;

  &.black {
    background-color: $black;
  }

  &.darkgray {
    background-color: $darkgray;
  }

  &.midgray {
    background-color: $midgray;
  }

  &.gray {
    background-color: $gray;
  }

  &.lightgray {
    background-color: $lightgray;
  }

  &.lightergray {
    background-color: $lightergray;
  }

  &.white {
    background-color: $white;
  }

  &.navy {
    background-color: $navy;
  }

  &.blue {
    background-color: $blue;
  }

  &.darkblue {
    background-color: $darkblue;
  }

  &.midblue {
    background-color: $midblue;
  }

  &.lightblue {
    background-color: $lightblue;
  }

  &.lighterblue {
    background-color: $lighterblue;
  }

  &.paleblue {
    background-color: $paleblue;
  }

  &.lightestblue {
    background-color: $lightestblue;
  }

  &.paleyellow {
    background-color: $paleyellow;
  }

  &.cyan {
    background-color: $cyan;
  }

  &.green {
    background-color: $green;
  }

  &.cherry {
    background-color: $cherry;
  }

}
