@define-mixin focus-base {
  position: relative;
}

@define-mixin focus {
  @mixin focus-base;
  &::before,
  &::after {
    content: "";
    display: block;
    height: 80px;
    position: absolute;
    mask-size: contain;
    width: 80px;
  }
  &::before {
    left: 0;
    mask: url(./focus-top-left.svg) no-repeat center;
    top: 0;
  }
  &::after {
    bottom: 0;
    mask: url(./focus-bottom-right.svg) no-repeat center;
    right: 0;
  }
}

@define-mixin focus-medium {
  &::before,
  &::after {
    height: 50px;
    width: 50px;
  }
}

@define-mixin focus-small {
  &::before,
  &::after {
    height: 30px;
    width: 30px;
  }
}

@define-mixin focus-light {
  &::before,
  &::after {
    background-color: rgba(255, 255, 255, 0.2);
  }
}

@define-mixin focus-dark {
  &::before,
  &::after {
    background-color: rgba(0, 0, 0, 0.08);
  }
}

@define-mixin focus-blue {
  &::before,
  &::after {
    background-color: var(--col-midblue);
  }
}
