// Colours
$black: #000000 !default;
$darkgray: #333333;
$midgray: #666666;
$lightgray: #f6f6f6;
$white: #ffffff !default;

$navy: #0c304a;
$darkblue: #004576;
$blue: #304E64;
$midblue: #366996;
$lightblue: #82a1bd;
$paleblue: #f2f5f8;

$paleyellow: #fffbe4;

$cyan: #0084ee;
$green: #00bd41;
$cherry: #d0021b;

// Vars
$success: $green;
$error: $cherry;
$default: $cyan;
$base: $darkgray;
