.uomcontent [role="main"] {
  article {
    header,
    header:first-child {
      @include banner;
      position: relative;

      h1,
      p {
        max-width: $w-mid;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
      }

      h1 {
        font-weight: $bold;
      }

      p.author {
        em {
          @include adjust-font-size-to(18px);
          font-style: normal;
          font-weight: $bold;
        }
      }

      .bottom-align {
        padding-bottom: 3rem;
        position: relative;
      }
    }

    header.noimg,
    header.noimg:first-child {
      background-color: transparent;
      display: block;
      height: auto;
      min-height: 0;

      h1,
      p {
        color: $black;
        padding-left: 0;
        padding-right: 0;
        text-align: left;
      }

      h1 {
        padding-top: 3rem;
        padding-bottom: 1.5rem;
        max-width: $w-sml;
      }

      p {
        max-width: $w-sml;

        &.author {
          padding-bottom: 3rem;
          max-width: $w-sml;
          border-bottom: 1px solid $lightergray;

          &:before {
            border-color: $black;
            margin-left: 0;
          }
        }
      }

      & + section.with-figure > figure.full-width {
        margin-top: -1.5625rem;
      }
    }
  }
}

.ie9, .ie10 {
  .uomcontent article header,
  .uomcontent article header:first-child {
    .bottom-align {
      position: absolute;
    }
  }
}
