@import "~normalize.css";

html {
  height: 100%;
}

body {
  font-size: 1em;
  line-height: 1.5789;
  text-rendering: optimizeLegibility;

  /* height of content or viewport, whichever is taller */
  /* `height: 100%;` causes Friefox to only print the first page https://github.com/marcom-unimelb/unimelb-design-system/issues/750 */
  min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
p,
li {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

// Override `bolder` from normalize.css, as Roboto's default font-weight is 300, and 400 isn't bold-enough
b,
strong {
  font-weight: bold;
}

// Override normalize.css behaviour
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button:not([disabled]) {
  cursor: pointer;
}

iframe[src^='//www.youtube.com'],
iframe[src^='//player.vimeo.com'] {
  width: 100%;
}

// Hide elements (prefer `hidden` attribute)
.hidden,
[hidden] {
  display: none !important; /* force */
}

/* Hide outline on elements focused programmatically */
[tabindex="-1"] {
  outline-width: 0;
}

// Force FOUC on webfontloader inactive and loading states
.wf-inactive *,
.wf-loading * {
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
}

// Chrome-less button for UI interactions
.button-ui {
  background: none transparent;
  border: 0;
  color: inherit;
  font: inherit;
  margin: 0;
  padding: 0;
}
