// Accessibility ----------------------

// Hide for both screenreaders and browsers
//   css-discuss.incutio.com/wiki/Screenreader_Visibility
@mixin hide-from-all {
  display: none;
  visibility: hidden;
}

// Hide only visually, but have it available for screenreaders
// Parent element should have `overflow: hidden;` and `position: relative;` to solve outline bug in Chrome
// http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
// http://stackoverflow.com/questions/3970455/overflow-hidden-not-working
@mixin screenreaders-only {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
}

// Hide visually and from screenreaders, but maintain layout
@mixin invisible {
  visibility: hidden;
}

// Remove text for image replacement
@mixin hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
