.uomcontent {
  .modal__blanket {
    background-color: var(--col-black-dark);
    display: none;
    height: 100%;
    left: 0;
    opacity: .5;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: calc(var(--z-navigation) + 4);

    &.on {
      display: block;
    }
  }
}
