@mixin opacity($v) {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$v*100})";
  opacity: $v;
}

.uomcontent {
  .modal__blanket {
    @include opacity(.5);
    background-color: #000;
    display: none;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 14;

    &.on {
      display: block;
    }
  }
}
