.uomcontent [role="navigation"]#globalsitemap {
  @mixin normalise;
  @mixin injection-wrapper;
  padding: 0 3% pxtorem(30);
  background-color: var(--col-navy-main);
  font-family: var(--ff-sans);
  height: 100%;
  margin: 0;
  max-width: none;
  position: fixed;
  right: -100%;
  top: 0;
  transform: translateX(0);
  transition: var(--tr-transform);
  width: 100%;
  z-index: var(--z-overlay);

  &.active {
    overflow: auto;
    transform: translateX(-100%);
    -webkit-overflow-scrolling: touch;
  }

  @media screen and (--bp-tablet) {
    padding: 0 8.125rem pxtorem(30) 2.5rem;

    &.active {
      transform: translateX(-100%) translateX(90px);
    }
  }

  a {
    padding-top: .5rem;
    padding-bottom: .5rem;
    color: var(--col-navy-mid-1);
    color: color(var(--col-white) alpha(80%));
    display: block;
    padding-left: 0;
    padding-right: 3%;
    text-decoration: none;

    &:hover,
    &:focus {
      color: var(--col-white);
    }

    &:hover {
      text-decoration: underline;
    }

    @media screen and (--bp-desktop) {
      padding-top: .25rem;
      padding-bottom: .25rem;
    }
  }

  .linkgroup-title {
    display: block;
    font-weight: var(--fw-semibold);
    margin-bottom: .5rem;
    padding-bottom: 0;
    padding-top: 0;
    border-bottom: 1px solid var(--col-navy-main);
    color: var(--col-navy-mid-1);
    color: color(var(--col-white) alpha(60%));
    line-height: 1.2;
    padding-right: 3%;

    a {
      padding-bottom: pxtorem(10);
      padding-top: .25rem;
    }
  }

  li {
    font-size: pxtorem(16);
    color: var(--col-navy-mid-2);
    color: color(var(--col-white) alpha(90%));
    line-height: 1.4;
    list-style-type: disc;
    margin-left: 0;
    padding: 0;
  }

  ul {
    padding-left: pxtorem(20);
    margin: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 0;
  }

  ul.quicklinks {
    @mixin quicklinks;
    padding: 0;
  }

  form {
    width: 100%;
    padding: 0 3%;

    @media screen and (--bp-desktop) {
      margin-top: pxtorem(30);
      max-width: var(--w-sml);
      float: right;
      padding: 0;
      width: 60%;
    }

    fieldset {
      input[type="search"] {
        background-color: var(--col-black-light);

        &:focus {
          background-color: var(--col-white);
        }
      }
    }

/* dupe */
    .inline {
      display: table;
      position: relative;
      width: 100%;

      input[type="text"],
      input[type="search"] {
        border-radius: 3px 0 0 3px;
      }

      input[type="image"] {
        @mixin inlinebutton;
        border-radius: 0 3px 3px 0;
        margin: pxtorem(15) 0 0;
        width: 2.8125rem;
        padding: 0;
        position: absolute;
        right: 0;
        top: 0;

        span {
          display: none;
        }

        svg {
          height: pxtorem(24);
          width: pxtorem(24);
          background-color: transparent;
          cursor: pointer;
          fill: currentColor;
          max-height: 100%;
        }
      }

      .inline-button {
        @mixin inlinebutton;
        border-radius: 0 3px 3px 0;
        font-size: .8125rem;
        height: 2.8125rem;
        margin: pxtorem(5) 0 0;
        padding: 0 pxtorem(15);
        letter-spacing: 1px;

        background-color: var(--col-tertiary-navy);

        &:hover,
        &:focus {
          background-color: var(--col-black-dark);
        }

        span.small {
          padding: 0;

          svg {
            height: pxtorem(24);
            width: pxtorem(24);
          }
        }
      }

      & > span {
        display: table-cell;
        padding: 0;
        vertical-align: middle;

        &.fill {
          width: 100%;
        }
      }
    }
/* dupe */

  }

  .logo {
    @mixin imgreplace;
    height: 8.75rem;
    margin-top: pxtorem(15);
    width: 8.75rem;
    border: 0 none;
    clear: none;
    margin-left: auto;
    margin-right: auto;
    padding: pxtorem(20);
    text-decoration: none;

    img {
      display: block;
      height: 100%;
      width: 100%;
    }

    @media screen and (--bp-desktop) {
      float: left;
      margin-top: 0;
    }
  }

  a.close-button {
    font-size: .875rem;
    padding-left: .25rem;
    padding-top: 1rem;
    height: 3.75rem;
    border-bottom: 1px solid var(--col-navy-main);
    color: color(var(--col-white) alpha(40%));
    display: block;
    text-decoration: none;
    text-transform: uppercase;

    &::before {
      font-size: pxtorem(24);
      margin-right: .5rem;
      color: color(var(--col-white) alpha(40%));
      content: '\2039';
      display: inline-block;
      font-weight: var(--fw-regular);
      line-height: 1;
      vertical-align: -1px;
    }

    &:hover,
    &:focus {
      color: var(--col-white);
    }

    &:hover {
      text-decoration: underline;
    }

    &:hover::before,
    &:focus::before {
      animation: chevronback 1s infinite ease-in-out;
      color: var(--col-white);
      text-decoration: none;
    }
  }

  .col-3 {
    padding-left: 3%;

    &:last-child {
      padding-bottom: 2rem;
    }
  }

  @media screen and (--bp-desktop) {
    .col-3 {
      padding-top: pxtorem(48);
      clear: both;

      div {
        float: left;
        width: 30%;

        &:first-child {
          margin-right: 5%;

          & + div + div {
            margin-left: 5%;
          }
        }
      }

      h2 {
        letter-spacing: .125rem;
        border-top: 0 none;
        font-size: pxtorem(15);
        font-weight: var(--fw-regular);
        margin-right: 0;
        padding-left: 0;
        padding-top: 0;
        text-transform: uppercase;

        a {
          font-weight: var(--fw-regular);
        }
      }

      a {
        padding-left: 0;
      }
    }
  }
}

body.ie9 {
  .uomcontent [role="navigation"]#globalsitemap {
    ul.quicklinks a {
      color: var(--col-white);
    }

    .logo * {
      border: 0 none;
      outline: 0;
    }

    .col-3 {
      clear: both;
      padding-top: 30px;

      div {
        float: left;
        padding-bottom: 30px;
        width: 30%;

        &:first-child {
          margin-right: 5%;

          & + div + div {
            margin-left: 5%;
          }
        }
      }

      h2 {
        border-top: 0 none;
        margin-right: 0;
        padding-left: 0;
        padding-top: 0;
      }

      a {
        padding-left: 0;
      }
    }
  }
}
