body {
  overflow-x: hidden;
}

.page-inner {
  min-height: 100%;
  position: relative;
  z-index: 10;

  .floating {
    margin-top: calc(-115/16rem);
  }

  @media screen and (--bp-desktop) {
    padding-top: calc(115/16rem);
  }
}

[role="main"] {
  background-color: var(--col-white);
}

@define-mixin quicklinks {
  margin: calc(30/16rem) 0;
  padding: .9375rem 0;
  clear: both;
  margin: 0;
  max-width: 100%;
  width: 100%;

  li {
    line-height: 2.5rem;
    clear: both;
    list-style-type: none;
    margin-left: 0;
    width: 100%;

    @media screen and (--bp-desktop) {
      clear: none;
      line-height: 1;
    }
  }

  a {
    border-radius: 3px;
    font-size: .875rem;
    padding: .9375rem;
    color: var(--col-white);
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    text-decoration: none;
    transition: background-color 0.2s, transform 0.3s;

    svg {
      fill: currentColor;
      margin-bottom: .875rem;
      margin-top: calc(10/16rem);
    }

    &:hover {
      text-decoration: underline;
    }

    @media screen and (--bp-desktop) {
      &:hover,
      &:focus {
        background-color: var(--col-blue-mid-2);
        text-decoration: none;
        transform: scale(1.2);
      }
    }
  }

  .icon {
    @mixin imgreplace;
    height: calc(24/16rem);
    margin-right: calc(10/16rem);
    width: calc(24/16rem);
    display: block;
    float: left;

    @media screen and (--bp-desktop) {
      float: none;
      margin-left: auto;
      margin-right: auto;
      padding-right: 0;
    }
  }

  @media screen and (--bp-desktop) {
    border-bottom: 1px solid var(--col-navy-main);
    border-top: 1px solid var(--col-navy-main);

    li {
      float: left;
      width: 16.666%;
    }

    a {
      min-height: 6.625rem;
      margin-top: calc(10/16rem);
      margin-bottom: calc(10/16rem);
      display: block;
      margin-left: 15%;
      margin-right: 15%;
      text-align: center;
      vertical-align: middle;
    }
  }
}

.uomcontent ul.quicklinks {
  @mixin quicklinks;
}

.uomcontent .sitemap-trigger {
  width: 3.125rem;
  background-color: var(--col-navy-main);
  box-shadow: 3px 0 6px color(var(--col-black-dark) alpha(40%)) inset;
  color: color(var(--col-white) alpha(50%));
  cursor: pointer;
  display: block;
  height: 100%;
  position: fixed;
  right: -5px;
  top: 0;
  transform: translateX(100%);
  transition: color .3s ease, var(--tr-transform);
  z-index: 16;

  &.active {
    transform: translateX(0);

    &:hover {
      width: 3.125rem;
      color: var(--col-white);
      transform: translateX(-5px);
    }
  }

  span {
    font-size: .9375rem;
    padding-left: 2.75rem;
    padding-top: 1calc(30/16rem);
    width: 15rem;
    font-weight: var(--deprecated-fw--light);
    left: 0;
    letter-spacing: 1px;
    line-height: 1;
    padding-bottom: 0;
    padding-right: 0;
    position: absolute;
    text-transform: uppercase;
    top: 0;
    transform: rotate(90deg);
    z-index: 11;

    &::before {
      font-size: calc(24/16rem);
      content: '\203a';
      display: inline-block;
      left: -10px;
      position: relative;
      top: 3px;
      transform: rotate(-90deg);
    }
  }
}


.ie9 {
  .uomcontent .modal__dialog {
    left: 20%;
    right: 20%;
    width: 60%;

    .half .button-fill {
      width: 50%;
    }
  }

  .uomcontent .modal__blanket {
    min-height: 100%;
    width: 120%;
  }
}
