body {
  overflow-x: hidden;
}

.page-inner {
  min-height: 100%;
  position: relative;
  z-index: 10;

  .floating {
    margin-top: -90px;
  }

  @mixin breakpoint(desktop) {
    padding-top: 5.625rem;
  }
}

[role="main"] {
  background-color: #fff;
}

@define-mixin quicklinks {
  margin: 1.875rem 0;
  padding: .9375rem 0;
  clear: both;
  margin: 0;
  max-width: 100%;
  width: 100%;

  li {
    line-height: 2.5rem;
    clear: both;
    list-style-type: none;
    margin-left: 0;
    width: 100%;

    @mixin breakpoint(desktop) {
      clear: none;
      line-height: 1;
    }
  }

  a {
    border-radius: 3px;
    font-size: .875rem;
    padding: .9375rem;
    color: #fff;
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    text-decoration: none;
    transition: background-color 0.2s, transform 0.3s;

    svg {
      fill: currentColor;
      margin-bottom: .875rem;
      margin-top: .625rem;
    }

    &:hover {
      text-decoration: underline;
    }

    @mixin breakpoint(desktop) {
      &:hover,
      &:focus {
        background-color: var(--col-lighterblue);
        text-decoration: none;
        transform: scale(1.2);
      }
    }
  }

  .icon {
    @mixin imgreplace;
    height: 1.5rem;
    margin-right: .625rem;
    width: 1.5rem;
    display: block;
    float: left;

    @mixin breakpoint(desktop) {
      float: none;
      margin-left: auto;
      margin-right: auto;
      padding-right: 0;
    }
  }

  @mixin breakpoint(desktop) {
    border-bottom: 1px solid var(--col-blue);
    border-top: 1px solid var(--col-blue);

    li {
      float: left;
      width: 16.666%;
    }

    a {
      min-height: 6.625rem;
      margin-top: .625rem;
      margin-bottom: .625rem;
      display: block;
      margin-left: 15%;
      margin-right: 15%;
      text-align: center;
      vertical-align: middle;
    }
  }
}

.uomcontent ul.quicklinks {
  @mixin quicklinks;
}

.uomcontent .sitemap-trigger {
  width: 3.125rem;
  background-color: var(--col-navy);
  box-shadow: 3px 0 6px color(#000 alpha(40%)) inset;
  color: color(#fff alpha(50%));
  cursor: pointer;
  display: block;
  height: 100%;
  position: fixed;
  right: -5px;
  top: 0;
  transform: translateX(100%);
  transition: color .3s ease, var(--tr-transform);
  z-index: 16;

  &.active {
    transform: translateX(0);

    &:hover {
      width: 3.125rem;
      color: #fff;
      transform: translateX(-5px);
    }
  }

  span {
    font-size: .9375rem;
    padding-left: 2.75rem;
    padding-top: 11.875rem;
    width: 15rem;
    font-weight: var(--fw-light);
    left: 0;
    letter-spacing: 1px;
    line-height: 1;
    padding-bottom: 0;
    padding-right: 0;
    position: absolute;
    text-transform: uppercase;
    top: 0;
    transform: rotate(90deg);
    z-index: 11;

    &::before {
      font-size: 1.5rem;
      content: '\203a';
      display: inline-block;
      left: -10px;
      position: relative;
      top: 3px;
      transform: rotate(-90deg);
    }
  }
}


.ie9 {
  .uomcontent .modal__dialog {
    left: 20%;
    right: 20%;
    width: 60%;

    .half .button-fill {
      width: 50%;
    }
  }

  .uomcontent .modal__blanket {
    min-height: 100%;
    width: 120%;
  }
}
