// Variables
$width-localnav: 18.75rem;
$width-sitemap-trigger: 2.8125rem;
$offset-localnav: -calc($width-localnav + $width-sitemap-trigger);

@import '../../shared/blanket';
@import 'modal';
@import 'nav';
@import 'localnav';
@import 'globalnav';
