hr.spacer
.filtered-listing-section data-category="section1"
    aside
      h2 Section heading 1
      p Lorem ipsum dolor sit amet, vis te saepe nominavi appetere, ceteros lucilius te usu, no nam tota partiendo
    .bside
      ul.filtered-listing-grid
        <li class="category-one item">
            <a href="#">Nominavi appetere
                <strong>Exerci Oportere</strong>
            </a>
        </li>
        <li class="category-one item">
            <a href="#">Nominavi appetere
                <strong>Consulatu repudiandae</strong>
            </a>
        </li>
        <li class="category-one item">
            <a href="#">Nominavi appetere
                <strong>Dicant appellantur pro</strong>
            </a>
        </li>
        <li class="category-one item">
            <a href="#">Nominavi appetere
                <strong>Periculis elaboraret referrentur</strong>
            </a>
        </li>
        <li class="category-two item">
            <a href="#">Iudico corrumpit
                <strong>Sed animal intellegebat no. Ius</strong>
            </a>
        </li>
        <li class="category-two item">
            <a href="#">Iudico corrumpit
                <strong>Eum atqui vidisse legimus ex tempor</strong>
            </a>
        </li>
        <li class="category-three item">
            <a href="#">Argumentum philosophia
                <strong>Audiam delectus consequuntur</strong>
            </a>
        </li>
        <li class="category-three item">
            <a href="#">Argumentum philosophia
                <strong>Inciderint consectetuer</strong>
            </a>
        </li>
        <li class="category-three item">
            <a href="#">Argumentum philosophia
                <strong>Mea sumo rebum ea</strong>
            </a>
        </li>
        <li class="category-three item">
            <a href="#">Argumentum philosophia
                <strong>Vim ut putant urbanitas</strong>
            </a>
        </li>
        <li class="category-four item">
            <a href="#">Errem qualisque
                <strong>Ludus invenire pri</strong>
            </a>
        </li>
        <li class="category-four item">
            <a href="#">Errem qualisque
                <strong>Putant urbanitas</strong>
            </a>
        </li>
hr.spacer
.filtered-listing-section data-category="section2"
    aside
      h2 Different Section
      p Ex mei noluisse percipit, ea unum ludus invenire pri. Ei duo aliquid eleifend, errem qualisque at pro. Qui et elit delicatissimi, periculis elaboraret referrentur eam id, graece tractatos ut est. Aperiri delenit sed ei, pro simul principes
    .bside
      ul.filtered-listing-grid
        <li class="category-one item">
            <a href="#">Nominavi appetere
                <strong>Dicant appellantur pro</strong>
            </a>
        </li>
        <li class="category-one item">
            <a href="#">Nominavi appetere
                <strong>Periculis elaboraret referrentur</strong>
            </a>
        </li>
        <li class="category-two item">
            <a href="#">Iudico corrumpit
                <strong>Eum atqui vidisse legimus ex tempor</strong>
            </a>
        </li>
        <li class="category-three item">
            <a href="#">Argumentum philosophia
                <strong>Mea sumo rebum ea</strong>
            </a>
        </li>
        <li class="category-three item">
            <a href="#">Argumentum philosophia
                <strong>Vim ut putant urbanitas</strong>
            </a>
        </li>
        <li class="category-four item">
            <a href="#">Errem qualisque
                <strong>Ludus invenire pri</strong>
            </a>
        </li>
hr.spacer
.filtered-listing-section data-category="section3"
    aside
      h2 Third Example Section
      p Ei nihil argumentum philosophia mel, commune accusata ius ex, homero scripserit an mea. Ne splendide deseruisse quo
    .bside
      ul.filtered-listing-grid
        <li class="category-one item">
            <a href="#">Nominavi appetere
                <strong>Exerci Oportere</strong>
            </a>
        </li>
        <li class="category-one item">
            <a href="#">Nominavi appetere
                <strong>Consulatu repudiandae</strong>
            </a>
        </li>
        <li class="category-one item">
            <a href="#">Nominavi appetere
                <strong>Periculis elaboraret referrentur</strong>
            </a>
        </li>
        <li class="category-two item">
            <a href="#">Iudico corrumpit
                <strong>Eum atqui vidisse legimus ex tempor</strong>
            </a>
        </li>
        <li class="category-three item">
            <a href="#">Argumentum philosophia
                <strong>Audiam delectus consequuntur</strong>
            </a>
        </li>
        <li class="category-three item">
            <a href="#">Argumentum philosophia
                <strong>Inciderint consectetuer</strong>
            </a>
        </li>
        <li class="category-three item">
            <a href="#">Argumentum philosophia
                <strong>Mea sumo rebum ea</strong>
            </a>
        </li>
        <li class="category-three item">
            <a href="#">Argumentum philosophia
                <strong>Vim ut putant urbanitas</strong>
            </a>
        </li>
hr.spacer