.uomcontent .filtered-listing-wrapper {
  @include padding-leader(1);
  @include padding-trailer(1);
  background-color: $navy;
}

.uomcontent .bottom-align-flat .filtered-listing-wrapper {
  background-color: transparent;
}

.uomcontent header .filtered-listing-wrapper{
  padding-bottom: 0;
  padding-top: 0;
}

.uomcontent form.filtered-listing-select {
  @include rem(max-width, $w-lge);
  background-color: transparent;
  color: $white;
  margin: 0 auto;
  overflow: hidden;

  @include breakpoint(desktop) {
    @include rem(padding-left, 15px);
  }

  strong {
    @include rem(font-size, 15px);
    @include rem(padding-bottom, 5px);
    display: block;
    font-weight: $light;
  }

  h2 {
    @include rem(font-size, 30px);
    font-weight: $thin;
    line-height: 1.2;
    margin-left: 0;
    padding-bottom: 0;
    padding-left: 0;
    text-transform: uppercase;
  }

  p {
    @include rem(font-size, 13px);
    font-weight: $light;
    margin-left: 0;
    padding: 0;
    text-align: left;
  }

  .left {
    @include breakpoint(tablet) {
      @include rem(line-height, 30px);
      margin: 0;

      legend,
      label {
        @include rem(font-size, 15px);
        @include rem(padding-bottom, 15px);
        color: $white;
        display: block;
        padding-top: 0;
      }

      div {
        @include rem(padding-right, 45px);
        float: left;
      }
    }

    @include breakpoint(desktop) {
      float: left;
      width: 75%;
    }

    input[type="checkbox"] + label,
    input[type="checkbox"] + label span {
      display: inline-block;
      width: auto;
    }

    input[type="checkbox"] + label::after {
      left: 3px;
      top: 9px;
    }

    input[type="checkbox"] + label span::before {
      margin-left: 0;
      top: 5px;
    }

    input[type="checkbox"] + label {
      @include rem(padding-left, 5px);
      @include rem(padding-top, 5px);

      @include breakpoint(tablet) {
        padding: 0;
      }
    }

    input[type="checkbox"] + label span {
      @include rem(padding-left, 25px);
    }

    .undergraduate,
    .category-a {
      input[type="checkbox"] + label {
        span {
          color: desaturate(lighten($green, 60%), 40%);
        }

        span::before {
          background-color: desaturate(lighten($green, 60%), 40%);
          border-color: darken($green, 5%);
        }

        &::after {
          border-color: $green;
        }
      }
    }

    .certificates_diplomas,
    .n_award,
    .category-b {
      input[type="checkbox"] + label {
        span {
          color: $bronze;
        }

        span::before {
          background-color: $bronze;
          border-color: darken($bronze, 20%);
        }

        &::after {
          border-color: darken($bronze, 40%);
        }
      }
    }

    .coursework,
    .category-c {
      input[type="checkbox"] + label {
        span {
          color: $lightestblue;
        }

        span::before {
          background-color: darken($lightestblue, 5%);
          border-color: darken($lightestblue, 10%);
        }

        &::after {
          border-color: darken($lightestblue, 40%);
        }
      }
    }

    .phd,
    .category-d {
      input[type="checkbox"] + label {
        span {
          color: lighten($lightblue, 10%);
        }

        span::before {
          background-color: lighten($lightblue, 10%);
          border-color: darken($lightblue, 10%);
        }

        &::after {
          border-color: darken($lightblue, 20%);
        }
      }
    }

    .research,
    .category-e {
      input[type="checkbox"] + label {
        span {
          color: $paleyellow;
        }

        span::before {
          background-color: $paleyellow;
          border-color: darken($paleyellow, 10%);
        }

        &::after {
          border-color: darken($paleyellow, 60%);
        }
      }
    }
  }

  .right {
    @include rem(padding-top, 15px);

    div {
      float: none;

      select {
        width: 100%;

        option {
          background-color: $navy;
          color: $white;
        }
      }
    }

    label {
      @include rem(font-size, 15px);
      @include rem(padding-bottom, 15px);
      display: block;
    }

    @include breakpoint(desktop) {
      float: right;
      margin: 0;
      padding-top: 0;
      width: 25%;
    }
  }
}