.uomcontent article.news {
  @mixin detail;
  @mixin clearfix;
  max-width: var(--w-lge);
  padding-top: 3rem;

  margin-left: 0;
  margin-right: 0;
  width: 100%;

  > figure {
    margin: 0;
    padding: 0;
    text-align: center;
  }

  time {
    font-weight: var(--fw-light);
    font-style: italic;
  }

  h1 {
    padding-top: 0;
    padding-bottom: .9375rem;
  }

  .aside {
    padding-top: .9375rem;

    div {
      padding-left: 0;
      overflow-wrap: break-word;
    }

    li {
      list-style-type: none;
      padding: 0;
    }

    /* sidebar headings */
    .news__meta-title {
      font-weight: var(--fw-regular);
      font-style: italic;
    }

    /* sidebar links that must not wrap (email, phone, url, etc.) */
    .news__nowrap {
      @mixin ellipsis;
    }
  }

  .article {
    padding-top: .3125rem;
    max-width: 100%;

    h1,
    ol.steps h2,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul,
    ol,
    li,
    table,
    .eg-palette {
      width: 100%;
    }

    h2 {
      font-size: 1.5rem;
      line-height: 2.25rem;
      font-weight: var(--fw-light);
      padding-top: 0;
      text-transform: none;
    }

    figure.full-width {
      max-width: var(--w-sml);
    }

    blockquote {
      width: 100%;
    }
  }

  .video {
    margin-bottom: 1.5rem;
  }

  @media (--bp-desktop) {
    margin-left: auto;
    margin-right: auto;

    .article {
      float: right;
      width: 70%;

      h1,
      ol.steps h2,
      h2,
      h3,
      h4,
      h5,
      h6,
      p,
      li,
      table,
      .eg-palette {
        margin-left: 0;
      }

      ul,
      ol {
        margin-left: 1.25rem;
      }

      blockquote {
        margin: 0;
      }
    }

    .aside {
      display: inline-block;
      float: none;
      width: 29%;
    }
  }

  @media (--bp-wide) {
    .article {
      width: 75%;
    }
    .aside {
      width: 24%;
    }

    .video {
      padding-bottom: 56.25%;

      iframe {
        margin: 0;
        width: 100%;
      }
    }
  }
}
