.uomcontent table.styled {
  border: 1px solid $lightgray;
  border-collapse: collapse;

  .highlight {
    background: $cyan;
    color: $white;
  }

  thead {
    background: $darkgray;
    color: $white;
  }

  th {
    border: 1px solid $lightgray;
    font-weight: normal;
  }

  td {
    @include rem(padding, 0 20px);
    border: 1px solid $midgray;
  }
}