.uomcontent [role="main"] table.course-progression {
  margin-bottom: 1.875rem;
  max-width: var(--w-sml);
  border: 0 none;
  border-collapse: collapse;
  overflow: visible;
  width: 100%;

  th {
    padding: 1.875rem 0 .625rem;
    border-bottom: 1px solid var(--deprecated-col-lightergray);
    border-left: 0 none;
    border-right: 0 none;
    border-top: 0 none;
    padding-left: 0;
    padding-right: 3%;
    text-align: left;

    @media screen and (--bp-tablet) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  thead th {
    @mixin subtitle;
    font-size: .875rem;
  }

  td {
    padding-bottom: .625rem;
    padding-top: .625rem;
    border-bottom: 1px solid var(--deprecated-col-lightergray);
    border-left: 0 none;
    border-right: 0 none;
    border-top: 0 none;
    display: table-cell;
    padding-left: 0;
    padding-right: 3%;

    @media screen and (--bp-tablet) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .accordion__title {
    color: var(--deprecated-col-brighterblue);

    &:hover {
      text-decoration: underline;
    }
  }

  .accordion__close {
    height: 3.125rem;
    width: 3.125rem;
    color: var(--col-white);
    cursor: pointer;
    display: block;
    position: absolute;
    right: 0;
    text-decoration: none;
    top: 0;

    &::after {
      font-size: 3.75rem;
      content: '\00d7';
      font-weight: var(--deprecated-fw--thin);
      line-height: 1;
    }
  }

  tr {
    td:first-child + td,
    th:first-child + th {
      text-align: right;
    }

    td.unit-description {
      padding: .9375rem 0;
      background-color: var(--deprecated-col-navy);
      color: var(--col-white);
      position: relative;
      text-align: left;

      @media screen and (--bp-tablet) {
        padding-left: .9375rem;
        padding-right: .9375rem;
      }

      &::before {
        border: solid transparent;
        border-bottom-color: var(--deprecated-col-navy);
        border-width: 10px;
        bottom: 100%;
        content: ' ';
        height: 0;
        left: 0;
        margin-left: 20px;
        margin-top: 0;
        pointer-events: none;
        position: absolute;
        width: 0;
      }

      h2 {
        @mixin subtitle;
        padding-right: 3.75rem;
        padding-left: 3%;

        @media screen and (--bp-tablet) {
          padding-left: .9375rem;
        }
      }

      p {
        font-size: 1rem;
        padding-left: 3%;
        padding-right: 3%;

        @media screen and (--bp-tablet) {
          padding-left: .9375rem;
          padding-right: .9375rem;
        }
      }

      hr {
        margin: .9375rem;
        border-color: color(var(--col-white) alpha(20%));
        margin-left: 3%;
        margin-right: 3%;

        @media screen and (--bp-tablet) {
          margin: .9375rem;
        }
      }

      .col1_3 {
        padding: .9375rem;
        clear: none;

        @media screen and (--bp-tablet) {
          display: block;
          float: left;
          width: 33%;
        }

        a {
          color: var(--col-white);
        }

        strong {
          color: color(var(--col-white) alpha(40%));
          display: block;
        }
      }
    }
  }

  thead th:first-child + th {
    border-color: var(--col-black-dark);
    text-align: left;
  }

  tbody tr.accordion__hidden {
    display: none;
  }

  tbody tr.accordion__hidden td {
    display: block;
    width: 100%;

    &::before {
      display: none;
    }

    p,
    h2 {
      margin: 0;
    }
  }

  tbody.accordion__visible tr.accordion__title {
    font-weight: bold;
  }

  tbody.accordion__visible tr.accordion__hidden {
    display: table-row;
  }

  tbody.accordion__visible tr.accordion__hidden td {
    display: table-cell;

    &.unit-description::before {
      display: block;
    }
  }
}

.uomcontent #overview h2 {
  padding-top: 0;
}

.uomcontent .pricing {
  h2 {
    padding-bottom: 0;
  }

  h3 {
    font-size: 1.625rem;
    line-height: 2.25rem;
    padding-top: 0;
    padding-bottom: 1.5rem;
    font-weight: var(--deprecated-fw--light);
  }

  p {
    font-size: .875rem;
    line-height: 1.5rem;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.uomcontent [role="main"] .course-select {
  @mixin filtered-listing-select;
  padding-left: .9375rem;
  padding-right: .9375rem;
  box-shadow: none;

  .left,
  .right {
    padding-top: .9375rem;
  }

  .left p {
    font-size: .8125rem;
    margin: 0;
    padding: 0;
  }

  @media screen and (--bp-desktop) {
    padding-left: .9375rem;
    padding-right: .9375rem;
    display: table;
    width: 100%;

    .left,
    .right {
      display: table-cell;
      float: none;
      padding: 0;
      vertical-align: middle;
      width: 75%;
    }

    .right {
      width: 25%;

      span {
        font-size: .875rem;
        color: color(var(--col-white) alpha(80%));
      }

      select {
        width: 100%;
      }
    }

    h2 {
      font-size: 2.5rem;
      margin: 0;
      max-width: 2000px;
      padding: 0;
      text-align: left;
      text-transform: uppercase;
    }

    p {
      color: color(var(--col-white) alpha(80%));
    }
  }
}

.uomcontent [role="main"] header:first-child.banner .course-select h1 {
  font-size: 2.5rem;
  margin: 0;
  max-width: 2000px;
  padding: 0;
  text-align: left;
  text-transform: uppercase;
}

.ie9 .uomcontent [role="main"] {
   .course-select {
    @mixin clearfix;

    .left {
      float: left;
      width: 74%;

      strong {
        padding-bottom: 30px;
      }

      div {
        float: left;
        padding-left: 5px;
        padding-right: 40px;
      }
    }

    .right {
      float: right;
      width: 25%;
    }
  }

  .course-section {
    .aside {
      float: left;
      margin: 0;
      max-width: 28%;
      padding-left: 15px;
    }

    .bside {
      float: right;
      padding: 10px 0 10px 30px;
      width: 70%;
    }
  }

  .course-grid {
    li {
      margin: .25%;
      width: 23.5%;
    }
  }

  table.course-progression {
    td,
    th {
      padding-left: 0;
      padding-right: 0;
    }

    .accordion__close::after {
      content: '\00d7';
      font-size: 60px;
      font-weight: 100;
      line-height: 1;
    }

    tr td.unit-description::before {
      border: solid transparent;
      border-bottom-color: var(--deprecated-col-navy);
      border-width: 10px;
      bottom: 100%;
      content: ' ';
      height: 0;
      left: 0;
      margin-left: 20px;
      margin-top: 0;
      pointer-events: none;
      position: absolute;
      width: 0;
    }
  }
}
