.uomcontent [role="navigation"]#globalsitemap {
  @include normalise;
  @include wrapper;
  @include rem(padding, 0 3% 30px);
  background-color: $navy;
  font-family: $ff-sans;
  height: 100%;
  margin: 0;
  max-width: none;
  position: fixed;
  right: -100%;
  top: 0;
  transform: translateX(0);
  transition: $smooth-transform;
  width: 100%;
  z-index: 17;

  &.active {
    box-shadow: 1px 0 12px 3px rgba($black, .6);
    overflow: auto;
    transform: translateX(-100%);
    -webkit-overflow-scrolling: touch;
  }

  @include breakpoint(tablet) {
    @include rem(padding, 0 130px 30px 40px);

    &.active {
      transform: translateX(-100%) translateX(90px);
    }
  }

  a {
    @include rem(padding-top, 8px);
    @include rem(padding-bottom, 8px);
    color: $lightblue;
    color: rgba($white, .6);
    display: block;
    font-weight: $light;
    padding-left: 0;
    padding-right: 3%;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $white;
    }

    &:hover {
      text-decoration: underline;
    }

    @include breakpoint(desktop) {
      @include rem(padding-top, 4px);
      @include rem(padding-bottom, 4px);
    }
  }

  h2 {
    @include rem(font-size, 20px);
    @include rem(margin-bottom, 8px);
    @include rem(padding-bottom, 6px);
    @include rem(padding-top, 24px);
    border-bottom: 1px solid $blue;
    color: $lightblue;
    color: rgba($white, .6);
    line-height: 1.2;
    padding-right: 3%;

    @include breakpoint(desktop) {
      padding-left: 3%;
    }
  }

  li {
    @include rem(font-size, 14px);
    color: #B9C2CA;
    color: rgba($white, .6);
    line-height: 1.4;
    list-style-type: disc;
    margin-left: 0;
    padding: 0;
  }

  ul {
    @include rem(padding-left, 20px);
    margin: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 0;
  }

  ul.quicklinks {
    @include quicklinks;
    padding: 0;
  }

  form {
    width: 100%;
    padding: 0 3%;

    @include breakpoint(desktop) {
      @include rem(margin-top, 30px);
      @include rem(max-width, 700px);
      float: right;
      padding: 0;
      width: 60%;
    }

    fieldset {
      input[type="search"] {
        background-color: $lightergray;

        &:focus {
          background-color: $white;
        }
      }
    }

// dupe
    .inline {
      display: table;
      position: relative;
      width: 100%;

      input[type="text"],
      input[type="search"] {
        border-radius: 3px 0 0 3px;
      }

      input[type="image"] {
        @include inlinebutton;
        @include rem(border-radius, 0 3px 3px 0);
        @include rem(margin, 15px 0 0);
        @include rem(width, 45px);
        padding: 0;
        position: absolute;
        right: 0;
        top: 0;

        span {
          display: none;
        }

        svg {
          @include rem(height, 24px);
          @include rem(width, 24px);
          background-color: transparent;
          cursor: pointer;
          fill: currentColor;
          max-height: 100%;
        }
      }

      .inline-button {
        @include inlinebutton;
        @include rem(border-radius, 0 3px 3px 0);
        @include rem(font-size, 13px);
        @include rem(height, 45px);
        @include rem(margin, 5px 0 0);
        @include rem(padding, 0 15px);
        letter-spacing: 1px;

        span.small {
          padding: 0;

          svg {
            @include rem(height, 24px);
            @include rem(width, 24px);
          }
        }
      }

      & > span {
        display: table-cell;
        padding: 0;
        vertical-align: middle;

        &.fill {
          width: 100%;
        }
      }
    }
// dupe

  }

  .logo {
    @include imgreplace;
    @include rem(height, 140px);
    @include rem(margin-top, 15px);
    @include rem(width, 140px);
    border: 0 none;
    clear: none;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    text-decoration: none;

    svg {
      display: block;
      height: 100%;
      width: 100%;
    }

    @include breakpoint(desktop) {
      float: left;
      margin-top: 0;
    }
  }

  a.close-button {
    @include rem(font-size, 14px);
    @include rem(padding-left, 4px);
    @include rem(padding-top, 16px);
    @include rem(height, 60px);
    border-bottom: 1px solid $blue;
    color: rgba($white, .4);
    display: block;
    text-decoration: none;
    text-transform: uppercase;

    &:before {
      @include rem(font-size, 24px);
      @include rem(margin-right, 8px);
      color: rgba($white, .4);
      content: '\2039';
      display: inline-block;
      font-weight: $regular;
      line-height: 1;
      vertical-align: -1px;
    }

    &:hover,
    &:focus {
      color: $white;
    }

    &:hover {
      text-decoration: underline;
    }

    &:hover:before,
    &:focus:before {
      animation: chevronback 1s infinite ease-in-out;
      color: $white;
      text-decoration: none;
    }
  }

  .col-3 {
    padding-left: 3%;

    &:last-child {
      @include rem(padding-bottom, 32px);
    }
  }

  @include breakpoint(desktop) {
    .col-3 {
      @include rem(padding-top, 48px);
      clear: both;

      div {
        float: left;
        width: 30%;

        &:first-child {
          margin-right: 5%;

          & + div + div {
            margin-left: 5%;
          }
        }
      }

      h2 {
        @include rem(letter-spacing, 2px);
        border-top: 0 none;
        font-size: .9375rem;
        font-weight: $regular;
        margin-right: 0;
        padding-left: 0;
        padding-top: 0;
        text-transform: uppercase;

        a {
          font-weight: $regular;
        }
      }

      a {
        padding-left: 0;
      }
    }
  }
}

body.ie9 {
  .uomcontent [role="navigation"]#globalsitemap {
    ul.quicklinks a {
      color: $white;
    }

    .logo * {
      border: 0 none;
      outline: 0;
    }

    .col-3 {
      clear: both;
      padding-top: 30px;

      div {
        float: left;
        padding-bottom: 30px;
        width: 30%;

        &:first-child {
          margin-right: 5%;

          & + div + div {
            margin-left: 5%;
          }
        }
      }

      h2 {
        border-top: 0 none;
        margin-right: 0;
        padding-left: 0;
        padding-top: 0;
      }

      a {
        padding-left: 0;
      }
    }
  }
}
