@include keyframes(chevronback) {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-5px);
  }
}

.uomcontent [role="navigation"]#sitemap {
  @extend %normalise;
  background-color: $menu;
  color: $white;
  font-family: $ff-sans;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding-right: $width-sitemap-trigger;
  position: fixed;
  right: -100%;
  top: 0;
  transform: translateX(0);
  transition: $smooth-transform;
  width: 100%;
  z-index: 15;

  * {
    @extend %normalise;
  }

  &.active {
    box-shadow: 1px 0 12px 3px rgba($black, .6);
    transform: translateX(-100%);

    .sitemap-trigger {
      margin-left: -100px;
    }
  }

  @include breakpoint(tablet) {
    margin-right: $width-sitemap-trigger;
    padding-right: 0;
    right: $offset-localnav;
    width: $width-localnav;
    
    &.active {
      transform: translateX($offset-localnav);
      
      .sitemap-trigger {
        margin-left: 0;
      }
    }
  }

  &.no-js {
    @extend %wrapper;
    background-color: $navy;
    box-shadow: 0 0 0;
    display: block;
    position: static;
    width: auto;
  }

  .w {
    @include rem(padding-right, $width-sitemap-trigger);
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;

    @include breakpoint(tablet) {
      @include rem(width, $width-localnav);
      padding-right: 0;
    }
  }


  ul {
    margin: 0;
    padding: 0;

    &.meta {
      @include rem(padding, 20px 0);
      border-top: 1px solid darken($borderblue, 30%);
      border-top: 1px solid rgba($white, .1);

      li {
        border-top: none;
      }

      a {
        @include rem(font-size, 13px);
        @include rem(line-height, 24px);
        @include rem(padding, 2px 20px);
        color: #8ca2b8;
        color: rgba($white, .7);

        &:hover {
          background-color: transparent;
          color: $white;
        }
      }
    }
  }

  .inner {
    background-color: $navy;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding-right: $width-sitemap-trigger;
    position: absolute;
    right: -100%;
    top: 0;
    transform: translateX(0);
    transition: $smooth-transform;
    width: 100%;

    &.active {
      transform: translateX(-100%);
    }

    li {
      background-color: $navy;
    }

    @include breakpoint(tablet) {
      padding-right: 0;
    }
  }

  img {
    display: none;
    margin: 0 25%;
    max-width: 50%;
  }

  li {
    border-top: 1px solid darken($borderblue, 30%);
    border-top: 1px solid rgba($white, .1);
    list-style-type: none;
    margin-left: 0;
    padding: 0;
    width: auto;
  }

  h2 {
    @include rem(font-size, 12px);
    @include rem(letter-spacing, 1px);
    @include rem(padding, 20px);
    background-color: darken($menu, 3%);
    color: $lightblue;
    color: rgba($white, .6);
    cursor: pointer;
    display: block;
    font-weight: 400;
    text-decoration: none;
    width: auto;

    &:before {
      @include rem(font-size, 20px);
      content: '\2039';
      float: left;
      font-weight: $regular;
      line-height: 1;
      padding-right: 10px;
    }

    &:hover {
      color: $white;

      &:before {
        @include animation(chevronback 1s infinite ease-in-out);
      }
    }
  }

  a,
  span {
    @include rem(font-size, 14px);
    @include rem(letter-spacing, 1px);
    @include rem(padding, 20px);
    color: $white;
    display: block;
    text-decoration: none;

    &:hover {
      background-color: darken($menu, 3%);
      color: $white;
    }
  }

  .back {
    background-color: $menu;
    color: $lightblue;
    color: rgba($white, .6);
    cursor: pointer;

    &:before {
      @include rem(font-size, 24px);
      content: '\2039';
      float: left;
      font-weight: $regular;
      line-height: .85;
      padding-right: 10px;
    }

    &:hover:before {
      @include animation(chevronback 1s infinite ease-in-out);
    }
  }

  .parent {
    cursor: pointer;

    &:after {
      @include rem(font-size, 24px);
      content: '\203a';
      float: right;
      font-weight: $regular;
      line-height: .85;
      z-index: 9;
    }
  }

  // Local search form
  form.search {
    @include rem(margin, 5px 0 10px 15px);
    @include rem(max-width, 270px);
  }

  fieldset .inline .search-button {
    @include rem(margin-top, 5px);
  }
}

body.ie8 {
  .uomcontent [role="navigation"]#sitemap {
    padding-right: 0;
    right: -$width-localnav;
    width: $width-localnav;
    
    &.active,
    .inner.active {
      right: 0;
    }
    
    .inner {
      padding-right: 0;
    }
    
    .w {
      padding-right: 0;
      width: $width-localnav;
    }
  }
}
