/**
 * Local navigation
 */
.uomcontent .localnav {
  font-family: $ff-sans;
  color: #fff;
  position: fixed;
  z-index: 15;

  &__panel {
    @include rem(padding-right, $width-sitemap-trigger);
    background-color: $menu;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    right: -100%;
    top: 0;
    transform: translateX(0);
    transition: $smooth-transform;
    width: 100%;

    &--nested {
      position: absolute;
    }

    /* hide sidebar of parent panels */
    &--nested-open {
      overflow: hidden;
    }

    /* show panel */
    &--open {
      transform: translateX(-100%);
    }
  }

  /* close and back buttons */
  &__close-btn,
  &__back-btn {
    @include rem(font-size, 12px);
    @include rem(padding, 20px);
    background-color: darken($menu, 3%);
    color: rgba(255, 255, 255, .6);
    display: block;
    font-weight: normal;
    line-height: 1.96;
    letter-spacing: .07em;
    text-align: left;
    text-transform: uppercase;
    width: 100%;

    &::before {
      @include rem(font-size, 20px);
      @include rem(padding-right, 10px);
      content: '\2039';
      float: left;
      font-weight: normal;
      line-height: 1;
    }

    &:hover,
    &:focus {
      color: inherit;

      &::before {
        animation: chevron-left 1s infinite ease-in-out;
      }
    }
  }

  /* add chevron to nested panel triggers */
  &__nested-trigger {
    &::after {
      @include rem(font-size, 24px);
      content: '\203a';
      float: right;
      font-weight: $regular;
      line-height: .85;
      z-index: 9;
    }
  }

  /* overrides for all lists */
  &__list,
  &__meta {
    color: inherit;
    margin: 0;
    max-width: none;

    & > li {
      color: inherit;
      display: block;
      list-style-type: none;
      margin: 0;
      max-width: none;
      padding: 0;
      width: auto;
    }

    a {
      @include rem(letter-spacing, 1px);
      color: inherit;
      display: block;
      outline-offset: -1px;
      text-decoration: none;

      &:hover,
      &:focus {
        color: $white;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }

  /* root and nested nav lists */
  &__list {
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    padding: 0;

    & > li {
      border-top: 1px solid rgba(255, 255, 255, .1);
    }

    a {
      @include rem(font-size, 14px);
      @include rem(padding, 20px);

      &:hover,
      &:focus {
        background-color: darken($menu, 3%);
        color: $white;
      }
    }
  }

  /* meta menu */
  &__meta {
    @include rem(padding, 20px 0);
    color: rgba(255, 255, 255, .7);

    a {
      @include rem(font-size, 13px);
      @include rem(padding, 4px 20px);
    }
  }

  /* show local nav */
  &.active {
    transform: translateX(-100%);
  }

  @include breakpoint(tablet) {
    /* switch to fixed width */
    @include rem(right, $offset-localnav);
    @include rem(width, $width-localnav);

    /* now that width is fixed, switch to margin so that sitemap link doesn't hide panel scrollbars */
    @include rem(margin-right, $width-sitemap-trigger);
    &__panel { padding-right: 0; }

    &.active {
      box-shadow: 1px 0 12px 3px rgba(0, 0, 0, .6);
      transform: translateX($offset-localnav);
    }
  }

  .no-js & {
    @include wrapper;
    background-color: $navy;
    box-shadow: 0 0 0;
    display: block;
    position: static;
    width: auto;
  }
}

@keyframes chevron-left {
  0% { transform: translateX(0); }
  50% { transform: translateX(-5px); }
}
