@include keyframes(chevronback) {
  0% {
    @include transform(translateX(0));
  }
  50% {
    @include transform(translateX(-5px));
  }
  100% {
    @include transform(translateX(0));
  }
}

.uomcontent [role="navigation"]#sitemap {
  @extend %normalise;
  @extend %smooth-translate;
  @include transform-origin(0% 0%);
  @include transform-style(preserve-3d);
  background-color: $menu;
  color: $white;
  font-family: $ff-sans;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  position: fixed;
  right: -100%;
  top: 0;
  width: 100%;
  z-index: 1;

  * {
    @extend %normalise;
  }

  &.active {
    @include transition(right .3s ease-out);
    box-shadow: 1px 0 12px 3px rgba($black, .6);
    right: 0;
    z-index: 15;

    .sitemap-trigger {
      margin-left: -100px;

      @include breakpoint(tablet) {
        margin-left: 0;
      }
    }
  }

  @include breakpoint(tablet) {
    margin-right: 40px;
    width: 300px;
  }


  &.global-active {
    @include translateX(-100%);
    display: block;

    @include breakpoint(tablet) {
      transform: translate(-100%, 0) translate(110px, 0);
    }
  }

  &.no-js {
    @extend %wrapper;
    background-color: $navy;
    box-shadow: 0 0 0;
    display: block;
    position: static;
    width: auto;
  }

  .w {
    @include rem(padding-right, 40px);
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;

    @include breakpoint(tablet) {
      @include rem(width, 300px);
      padding-right: 0;
    }
  }


  ul {
    margin: 0;
    padding: 0;

    &.meta {
      @include rem(padding, 20px 0);
      border-top: 1px solid rgba($white, .1);

      li {
        border-top: none;
      }

      a {
        @include rem(font-size, 13px);
        @include rem(line-height, 24px);
        @include rem(padding, 2px 20px);
        color: rgba($white, .7);

        &:hover {
          background-color: transparent;
          color: $white;
        }
      }
    }
  }

  .inner {
    @include translateX(0);
    background-color: $navy;
    height: 100%;

    overflow-x: hidden;
    overflow-y: auto;

    padding-right: 40px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;

    &.hide {
      @include translateX(100%);
      z-index: 1;
    }

    li {
      background-color: $navy;
    }

    @include breakpoint(tablet) {
      padding-right: 0;
    }
  }

  img {
    display: none;
    margin: 0 25%;
    max-width: 50%;
  }

  li {
    border-top: 1px solid rgba($white, .1);
    list-style-type: none;
    margin-left: 0;
    padding: 0;
    width: auto;
  }

  h2 {
    @include rem(font-size, 12px);
    @include rem(letter-spacing, 1px);
    @include rem(padding, 20px);
    background-color: darken($menu, 3%);
    color: rgba($white, .6);
    cursor: pointer;
    display: block;
    font-weight: 400;
    text-decoration: none;
    width: auto;

    &:before {
      @include rem(font-size, 20px);
      content: '\2039';
      float: left;
      font-weight: $regular;
      line-height: 1;
      padding-right: 10px;
    }

    &:hover {
      color: $white;

      &:before {
        @include animation(chevronback 1s infinite ease-in-out);
      }
    }
  }

  a,
  span {
    @include rem(font-size, 14px);
    @include rem(letter-spacing, 1px);
    @include rem(padding, 20px);
    color: $white;
    display: block;
    text-decoration: none;

    &:hover {
      background-color: darken($menu, 3%);
      color: $white;
    }
  }

  .back {
    background-color: $menu;
    color: rgba($white, .6);
    cursor: pointer;

    &::before {
      @include rem(font-size, 24px);
      content: '\2039';
      float: left;
      font-weight: $regular;
      line-height: .9;
      padding-right: 10px;
    }

    &:hover {
      &::before {
        @include animation(chevronback 1s infinite ease-in-out);
      }
    }
  }

  .parent {
    cursor: pointer;

    &::after {
      @include rem(font-size, 24px);
      content: '\203a';
      float: right;
      font-weight: $regular;
      line-height: .9;
      z-index: 9;
    }
  }

  // Local search form
  form.search {
    @include rem(margin, 5px 0 10px 15px);
    @include rem(max-width, 270px);
  }

  fieldset .inline .search-button {
    @include rem(margin-top, 5px);
  }
}

body.ie {
  .uomcontent [role="navigation"]#sitemap {
    display: none;

    .w,
    .inner {
      padding-right: 0;
    }

    li {
      border-top: 1px solid darken($borderblue, 30%);
    }

    ul.meta {
      border-top: 1px solid darken($borderblue, 30%);

      li {
        border-top: none;
      }

      a {
        color: #8CA2B8;
      }
    }

    h2 {
      color: $lightblue;
    }

    .back {
      span {
        color: $lightblue;

        &:before {
          content: '<';
          float: left;
          font-size: 20px;
          font-weight: 100;
          line-height: 1;
          padding-right: 10px;
        }

        &::before {
          -ms-transform: rotate(0deg);
        }
      }
    }

    .parent:after {
      content: '>';
      float: right;
      font-size: 20px;
      font-weight: 100;
      line-height: 1;
      z-index: 109;
    }

    .parent::after {
      -ms-transform: rotate(0deg);
      z-index: 1;
    }

    &.active {
      display: block;
      position: fixed;
      right: 0;
      top: 0;
      -ms-transform: none;
      width: 300px;
    }

    .inner {
      display: none;

      &.active {
        display: block;
      }
    }
  }
}
