@mixin opacity($v) {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$v*100})";
  opacity: $v;
}

%modal-close-icon {
  content: '\2573';
  display: block;
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  padding-bottom: 2px;
}

.uomcontent {
  .modal__dialog {
    background-color: #fff;
    box-shadow: 0 3px 6px 3px rgba(0, 0, 0, .2);
    left: 5%;
    max-width: 100%;
    padding: 20px;
    position: absolute;
    right: 5%;
    text-align: left;
    top: 5%;
    visibility: hidden;
    z-index: 1;

    * {
      max-width: 100%;
    }

    &.on {
      visibility: visible;
      z-index: 14;
    }

    @media screen and (min-width: 1100px) {
      left: 0;
      margin: 0 auto;
      max-width: 900px;
      right: 0;
    }
  }

  .modal__close {
    color: #aaa;
    cursor: pointer;
    font-size: 11px;
    font-weight: 400;
    position: absolute;
    right: 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 30px;

    &:before {
      @extend %modal-close-icon;
    }

    &:hover {
      color: #444;
    }
  }
}
