body {
  overflow-x: hidden;
}

.page-inner {
  min-height: 100%;
  position: relative;
  z-index: 10;

  .floating {
    margin-top: -90px;
  }

  @include breakpoint(desktop) {
    @include rem(padding-top, 90px);
  }
}

[role="main"] {
  background-color: $white;
}

@mixin quicklinks {
  @include rem(margin, 30px 0);
  @include rem(padding, 15px 0);
  clear: both;
  margin: 0;
  max-width: 100%;
  width: 100%;

  li {
    @include rem(line-height, 40px);
    clear: both;
    list-style-type: none;
    margin-left: 0;
    width: 100%;

    @include breakpoint(desktop) {
      clear: none;
      line-height: 1;
    }
  }

  a {
    @include rem(border-radius, 3px);
    @include rem(font-size, 14px);
    @include rem(padding, 15px);
    color: $white;
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    text-decoration: none;
    transition: background-color 0.2s, transform 0.3s;

    svg {
      fill: currentColor;
      @include rem(margin-bottom, 14px);
      @include rem(margin-top, 10px);
    }

    &:hover {
      text-decoration: underline;
    }

    @include breakpoint(desktop) {
      &:hover,
      &:focus {
        background-color: $highlight;
        text-decoration: none;
        transform: scale(1.2);
      }
    }
  }

  .icon {
    @include imgreplace;
    @include rem(height, 24px);
    @include rem(margin-right, 10px);
    @include rem(width, 24px);
    display: block;
    float: left;

    @include breakpoint(desktop) {
      float: none;
      margin-left: auto;
      margin-right: auto;
      padding-right: 0;
    }
  }

  @include breakpoint(desktop) {
    border-bottom: 1px solid $blue;
    border-top: 1px solid $blue;

    li {
      float: left;
      width: 16.666%;
    }

    a {
      @include rem(min-height, 106px);
      @include rem(margin-top, 10px);
      @include rem(margin-bottom, 10px);
      display: block;
      margin-left: 15%;
      margin-right: 15%;
      text-align: center;
      vertical-align: middle;
    }
  }
}

.uomcontent ul.quicklinks {
  @include quicklinks;
}

.uomcontent .page-login {
  @include normalise;
  font-family: $ff-sans;

  * {
    @include normalise;
  }

  h2.title {
    @include rem(padding-top, 30px);
    @include rem(font-size, 15px);
    @include rem(letter-spacing, 2px);
    font-weight: $regular;
    max-width: 100%;
    padding-bottom: 0;
    text-align: center;
    text-transform: uppercase;

    &:after {
      @include rem(margin, 30px auto 15px);
      @include rem(width, 80px);
      border-bottom: 2px solid $black;
      content: '';
      display: block;
    }
  }

  .half {
    @include clearfix;
    margin: 0 auto;
    max-width: 100%;

    em {
      @include rem(font-size, 13px);
      @include rem(padding-bottom, 30px);
      display: block;
    }

    img{
      @include rem(margin-top, 30px);
      max-width: 95%;
    }

    a.button-fill {
      @include rem(padding, 30px 15px);
      color: $black;
      float: left;
      margin: 0;
      text-decoration: none;
      width: 100%;

      h2 {
        @include rem(padding-bottom, 30px);
        font-weight: $light;
        padding-top: 0;
        text-align: center;
      }

      p {
        font-weight: $light;
        max-width: 100%;
        text-align: center;
      }

      svg {
        display: block;
        fill: currentColor;
        margin: 0 auto;
        max-height: 200px;
        transition: transform 0.3s;
      }

      &:hover {
        color: $white;

        svg {
          transform: scale(1.2);
        }
      }

      @include breakpoint(desktop) {
        width: 50%;
        padding-left: 0;
        padding-right: 0;
      }

      &:hover {
        background-color: $highlight;
      }
    }

    @include breakpoint(desktop) {
      @include rem(padding, 0 30px);
    }
  }
}

.uomcontent .sitemap-trigger {
  @include rem(width, 50px);
  background-color: $navy;
  box-shadow: 3px 0 6px rgba($black, .4) inset;
  color: rgba($white, .5);
  cursor: pointer;
  display: block;
  height: 100%;
  position: fixed;
  right: -5px;
  top: 0;
  transform: translateX(100%);
  transition: color .3s ease, $smooth-transform;
  z-index: 16;

  &.active {
    transform: translateX(0);

    &:hover {
      @include rem(width, 50px);
      color: $white;
      transform: translateX(-5px);
    }
  }

  span {
    @include rem(font-size, 15px);
    @include rem(padding-left, 44px);
    @include rem(padding-top, 190px);
    @include rem(width, 240px);
    font-weight: $light;
    left: 0;
    letter-spacing: 1px;
    line-height: 1;
    padding-bottom: 0;
    padding-right: 0;
    position: absolute;
    text-transform: uppercase;
    top: 0;
    transform: rotate(90deg);
    z-index: 11;

    &:before {
      @include rem(font-size, 24px);
      content: '\203a';
      display: inline-block;
      left: -10px;
      position: relative;
      top: 3px;
      transform: rotate(-90deg);
    }
  }
}


.ie9 {
  .uomcontent .modal__dialog {
    left: 20%;
    right: 20%;
    width: 60%;

    .half .button-fill {
      width: 50%;
    }
  }

  .uomcontent .modal__blanket {
    min-height: 100%;
    width: 120%;
  }
}
