// Variables
$width-localnav: 300px;
$width-sitemap-trigger: 45px;
$offset-localnav: -($width-localnav + $width-sitemap-trigger);

@import '../../../shared/blanket';
@import 'modal';
@import 'nav';
@import 'localnav';
@import 'globalnav';
