.uomcontent {
  .checklist {
    margin-left: 0;

    li {
      @include rem(padding, 30px 0);
      border-top: 1px solid $lightergray;
      list-style-type: none;

      &:first-child {
        border-top: 0 none;
      }

      &.on span {
        color: $green;
        text-decoration: line-through;
      }

      input[type="checkbox"] + label {
        margin-top: 0;
        margin-bottom: 0;

        &::after {
          top: 7px;
        }

        > span::before {
          top: 3px;
        }
      }

      @include breakpoint(desktop) {
        @include rem(padding, 15px 0);
      }
    }
  }
}

.ie8 .uomcontent .checklist {
  padding-left: 0;
  padding-right: 0;

  li {
    padding-left: 20px;
    text-indent: -20px;
  }
}
