.uomcontent {
  form:not(.unstyled-controls) fieldset .checklist,
  .checklist {
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;

    li {
      padding: calc(15/16rem) 0 calc(15/16rem);
      border-top: 1px solid var(--col-black-light);
      line-height: 1.5;
      list-style-type: none;

      &:first-child {
        border-top: 0 none;
      }

      &.on span {
        color: var(--col-emerald-dark);
      }

      input[type="checkbox"] + label {
        margin-top: 0;
        margin-bottom: 0;

        &::after {
          top: calc(8/16rem);
        }

        > span::before {
          top: calc(4/16rem);
        }
      }
    }
  }
}
