.uomcontent {
  .checklist {
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;

    li {
      padding: .9375rem 0 1.875rem;
      border-top: 1px solid $lightergray;
      line-height: 1.5;
      list-style-type: none;
      margin-left: 0;

      &:first-child {
        border-top: 0 none;
      }

      &.on span {
        color: $green;
        text-decoration: line-through;
      }

      input[type="checkbox"] + label {
        margin-top: 0;
        margin-bottom: 0;

        &::after {
          top: 7px;
        }

        > span::before {
          top: 3px;
        }
      }
    }
  }
}
