.uomcontent {
  [data-tabbed] {
    nav {
      a {
        cursor: pointer;
        font-weight: $regular;

        &[data-current] {
          font-weight: $bold;
        }
      }

      ul {
        max-width: 100%;
        padding: 0;
      }

      li {
        display: inline;
        margin: 0;
        padding: 0;
      }

      &.active {
        display: block;
      }
    }

    [role="tabpanel"] {
      margin: 0;
      padding: 0;

      &[data-current] {
        display: block;
      }
    }
  }

  [data-tab] {
    cursor: pointer;
  }

  .tabbed-nav {
    & > .full-width {
      @include rem(height, 64px);
      background-color: $darkblue;
      border-bottom: 1px solid transparent;
      position: relative;
      text-align: center;
    }

    & > figure.full-width {
      background-color: transparent;
    }

    .mobile-nav {
      display: none;
    }

    nav {
      @include rem(padding, 0 40px);
      display: inline-block;
      white-space: nowrap;

      a {
        @include adjust-font-size-to(15px);
        @include rem(line-height, 64px);
        @include rem(padding, 0 20px);
        color: rgba($white, .7);
        display: inline-block;
        letter-spacing: .5px;
        text-decoration: none;
        text-transform: uppercase;

        &:hover {
          color: $white;
        }

        &[data-current] {
          color: $white;
          font-weight: $regular;
          position: relative;
        }

        &[data-current]::after {
          border: solid transparent;
          border-top-color: $darkblue;
          border-width: 10px 10px 0;
          content: ' ';
          height: 0;
          left: 50%;
          margin-bottom: -10px;
          margin-left: -10px;
          pointer-events: none;
          position: absolute;
          top: 100%;
          width: 0;
          z-index: 10;
        }

        @include breakpoint(desktop) {
          @include rem(padding, 0 30px);
        }
      }

      [data-icon] {
        @extend .icon--hide-label;
      }
    }

    /* wrapper added dynamically around nav element when tabs overflow */
    .tabbed-nav__inner {
      @include rem(padding-bottom, 15px);
      position: relative;
    }

    .ps-scrollbar-x-rail {
      z-index: 5;
    }

    /* show scrollbar when focused */
    .ps-focus .ps-scrollbar-x-rail {
      opacity: 1;
    }

    /* left/right arrows when screen size is too small to fit all the tabs */
    .tab-arrow {
      @include rem(font-size, 30px);
      @include rem(padding, 0 20px 5px); /* bottom padding aligns arrows with tab labels */
      background: $darkblue;
      color: $white;
      cursor: pointer;
      display: none;
      font-weight: $bold;
      height: 100%;
      position: absolute;
      top: 0;

      &[disabled] {
        cursor: default;
        opacity: .5;
      }
    }
    .tab-arrow--left {
      @include rem(padding-right, 10px);
      background: linear-gradient(to left, transparent, rgba($darkblue, .9) 10%);
      left: 0;
    }
    .tab-arrow--right {
      @include rem(padding-left, 10px);
      background: linear-gradient(to right, transparent, rgba($darkblue, .9) 10%);
      right: 0;
    }

    /* show the arrows when the tabs overflow */
    .overflow .tab-arrow {
      display: inline-block;
    }

    [role="tabpanel"] {
      @include rem(margin-top, -70px);
      @include rem(padding-top, 70px);
      margin-left: auto;
      max-width: 100%;
      padding-bottom: 0;
      padding-left: 0;
      padding-right: 0;

      section.lead {
        background: transparent;
        color: $black;
        filter: none;
        font-weight: $light;
        margin: 0 auto;
        max-width: $w-mid;
        position: static;

        p {
          color: $black;
        }
      }
    }

    &.black {
      .full-width {
        background-color: $black;
      }

      figure.full-width {
        background-color: transparent;
      }

      [role="tabpanel"] {
        @include rem(margin-top, -76px);
        @include rem(padding-top, 76px);
      }

      nav a {
        color: $white;

        &[data-current] {
          color: $white;
          font-weight: $regular;
        }
      }

      nav a[data-current]::after {
        border-top-color: $black;
      }

      .mobile-nav,
      .mobile-nav select {
        background-color: $black;
        border: 1px solid $black;
      }
    }

    &.navy {
      .full-width {
        background-color: $darkblue;
      }

      figure.full-width {
        background-color: transparent;
      }

      [role="tabpanel"] {
        @include rem(margin-top, -76px);
        @include rem(padding-top, 76px);
      }

      nav a {
        color: $gray;

        &[data-current] {
          color: $white;
          font-weight: $regular;
        }
      }

      nav a[data-current]:after {
        border-top-color: $darkblue;
      }

      nav a[data-current]::after {
        border-top-color: $darkblue;
      }
    }

    &.thin {
      nav a {
        @include adjust-font-size-to(13px);
        @include rem(line-height, 64px);
        @include rem(padding, 0 15px);
      }

      [role="tabpanel"] {
        @include rem(margin-top, -55px);
        @include rem(padding-top, 55px);
        background-color: transparent;

        @include breakpoint(desktop) {
          @include rem(margin-top, -95px);
          @include rem(padding-top, 95px);
        }
      }
    }
  }

  [data-tabbed].tabbed {
    @extend %clearfix;
    @include trailer(2);
    width: 100%;

    nav {
      border-bottom: 1px solid $lightergray;

      @include breakpoint(tablet) {
        text-align: left;
      }

      a {
        @include padding-trailer(0.5);
        @include rem(padding-left, 25px);
        @include rem(padding-right, 25px);
        background-color: inherit;
        color: $midgray;
        cursor: pointer;
        display: inline-block;
        font-weight: $light;
        margin-bottom: -1px;
        text-decoration: none;

        &:hover {
          color: $cyan;
        }

        &[data-current] {
          border-bottom: 2px solid $cyan;
          color: $cyan;
        }
      }
    }

    [role="tabpanel"] {
      @include padding-leader(1);
      @include padding-trailer(0);
      @include rem(padding-left, 25px);
      @include rem(padding-right, 25px);
      border-bottom: 1px solid $lightergray;
      margin: 0;

      p {
        width: 100%;
      }
    }
  }
}

.uomcontent [role="main"] {
  .tabbed-course {
    @extend .tabbed-nav;
    @extend .thin;

    [role="tabpanel"] {
      @extend %clearfix;
    }

    aside h2.subtitle {
      @include rem(padding-bottom, 5px);
    }

    .degree-plan {
      display: none;

      &.current {
        display: block;
      }
    }

    .mobile-wrap {
      overflow: visible;
    }
  }
}

.uomcontent {
  .with-aside {
    ul.sidebar-tab-nav {
      display: block;
      line-height: 1.4;
      padding: 0;

      @include breakpoint(desktop) {
        @include rem(margin, 0 -30px 0 -15px);
      }

      li {
        list-style-type: none;
        margin-left: 0;
        padding-bottom: 0;
      }

      a {
        @include rem(padding, 10px 30px 10px 15px);
        border-left: 5px solid transparent;
        display: block;
        text-decoration: none;
      }

      a.current,
      a:hover.current {
        background-color: $white;
        border-left-color: $highlight;
      }
    }

    .bside + aside ul.sidebar-tab-nav {
      @include breakpoint(desktop) {
        @include rem(margin, 0 -15px 0 -30px);
      }

      a {
        border-left: 0;
        border-right: 5px solid transparent;
      }

      a.current,
      a:hover.current {
        border-right-color: $highlight;
      }
    }
  }

  .sidebar-tab-section {
    position: relative;
  }

  .with-aside div.sidebar-tab {
    display: none !important;

    &.current {
      display: block !important;

      h2 {
        padding-top: 0;
      }
    }
  }
}

.ie8 {
  .uomcontent .tabbed-course,
  .uomcontent .tabbed-nav {
    & > .full-width {
      height: auto;
    }

    nav {
      display: block;
      white-space: normal;

      a {
        // Computed from rgba
        color: #A5B9CC;
      }

      a[data-current] {
        color: $white;
      }

      a[data-current]:after {
        border: solid transparent;
        border-top-color: $darkblue;
        border-width: 10px;
        content: ' ';
        height: 0;
        left: 50%;
        margin-bottom: -10px;
        margin-left: -10px;
        pointer-events: none;
        position: absolute;
        top: 100%;
        width: 0;
        z-index: 1;
      }
    }
  }

  .uomcontent .tabbed-nav .fullwidth {
    border-bottom: 0 none;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#e50c304a, endColorstr=#e50c304a);

    nav a[data-current]:after {
      border-top-color: $darkblue;
    }

    &.short {
      filter: none;
    }
  }
}
