.uomcontent [role="main"] ul.image-gallery {
  @include rem(max-width, $w-lge);
  padding-left: 0;
  padding-right: 0;

  li {
    border: 5px solid transparent;
    display: inline-block;
    height: 0;
    list-style-type: none;
    margin-left: auto;
    max-width: 200%;
    overflow: hidden;
    padding-bottom: 60%;
    padding-top: 0;
    position: relative;

    &.portrait {
      width: 50%;
    }

    &.landscape {
      width: 100%;
    }

    &.panorama {
      width: 100%;
    }

    a {
      background-position: center;
      background-size: cover;
      bottom: 0;
      display: block;
      left: 0;
      margin: 0;
      position: absolute;
      right: 0;
      top: 0;
      transition: transform 0.2s ease-in-out;

      &:hover {
        transform: scale(1.1);

        span {
          opacity: 1;
        }

        figcaption {
          display: none;
        }
      }

      figure {
        margin: 0;
        padding: 0;

        figcaption {
          @include adjust-font-size-to(14px);
          @include rem(padding, 5px 10px);
          background-color: rgba($black, 0.7);
          bottom: 0;
          color: $white;
          display: none;
          left: 0;
          position: absolute;
          right: 0;
        }
      }

      span {
        @include background-image(linear-gradient(left top, rgba(0, 150, 255, .3) 0%, rgba(255, 0, 126, .3) 100%));
        background-color: rgba($black, .6);
        bottom: 0;
        cursor: pointer;
        display: block;
        left: 0;
        opacity: 0;
        position: absolute;
        right: 0;
        top: 0;
        transition: opacity 0.3s ease-in-out 0.1s;

        svg {
          @include rem(height, 40px);
          @include rem(margin-left, -20px);
          @include rem(margin-top, -20px);
          @include rem(width, 40px);
          fill: $white;
          left: 50%;
          position: absolute;
          top: 50%;
        }
      }
    }

    @include breakpoint(desktop) {
      padding-bottom: 17%;

      &.landscape {
        width: 25%;
      }

      &.portrait {
        width: 12.5%;
      }

      &.square {

      }

      &.panorama {
        width: 50%;
      }
    }
  }

  img {
    width: 100%;
  }
}