section
  markdown: 
    # Contribution

    These templates are open for modification by anyone in the university community. In order to facilitate this we use a tool called GitHub. 

    While the terminology below may sound foreign, the process is actually quite simple and the same steps are used whether you are looking to contribute code, documentation or design work. Specific guides are available below for people looking to [contribute to documentation](#) or [write blog posts](#). 

    If, after following these instructions, you are still uncertain, please let us know or attend one of our monthly training sessions. 

    You can contribute by creating a 'fork' of this project, applying your modifications and then sending a 'pull request' back to the main repository.

    All changes are reviewed by the Web Marketing team before being accepted into the master branch.

    ## General Contribution Guide

    ### 1. Create a fork

    While signed into your GitHub account, visit the template repository and create a new 'fork' to your personal account.

    ![forking](/assets/videos/forking.gif)

    ### 2. Clone your fork

    |Create a clone of your fork to your local machine so you can apply your changes. We recommend using [GitHub for Mac](http://mac.github.com/) or [GitHub for Windows](http://windows.github.com/).

    ![cloning](/assets/videos/cloning.gif)

    ### 3. Push the changes to your repository

    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.

    ### 4. Open a pull request to accept your changes

    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.

    ## Content contribution guide

    // TODO - create a guide specifically for people who do not have HTML knowledge explaining how to contribute blog posts or documentation. Will probably also need to talk about how to use markdown. 
