@define-mixin inlinebutton {
  border-radius: 2px;
  font-size: pxtorem(16);
  height: pxtorem(45);
  padding: 0 pxtorem(15);
  background-color: var(--col-navy-main);
  border: 0 none;
  color: var(--col-white);
  cursor: pointer;
  font-weight: var(--fw-semibold);
  position: relative;

  &:not([disabled]):hover,
  &:not([disabled]):focus {
    background-color: var(--col-tertiary-navy);
  }

  &:active {
    opacity: .3;
  }
}

@define-mixin control {
  border-radius: 2px;
  margin-top: pxtorem(5);
  padding: pxtorem(8) pxtorem(10);
  font-family: var(--ff-sans);

  &.invalid {
    background-color: var(--col-white);
    border-color: var(--col-pink-mid-2);
    color: var(--col-pink-mid-2);
  }

  @media screen and (--bp-desktop) {
    width: pxtorem(400);
  }
}

@define-mixin textcontrol {
  @mixin control;
  font-size: pxtorem(20);
  background-color: var(--col-primary-light-grey);
  border: 1px solid var(--col-black-mid-1);
  box-shadow: inset 0 2px 0 color(var(--col-black-dark) alpha(5%));

  &:hover:not([disabled]) {
    border-color: var(--col-unsanctioned-black-mid-3);
  }

  &:focus {
    background-color: var(--col-white);
    border-color: var(--col-navy-main);
    color: var(--col-black-dark);
    outline: 0;

    &.invalid {
      color: var(--col-black-dark);
    }
  }

  &[disabled] {
    opacity: .5;
  }
}

@define-mixin controlhack {
  appearance: none;
  text-indent: .01px;
  text-overflow: '';
}

[role="main"] form {
  font-size: pxtorem(18);
  padding: 0;
  background-color: var(--col-white);
  color: var(--col-navy-main);
  line-height: 1.2;
  margin: 0 auto;
  max-width: var(--w-sml);
  &.alt {
    padding: pxtorem(20);
  }

  @media screen and (--bp-desktop) {
    padding: pxtorem(10) 0;
  }

  [data-required=true]::after {
    padding-left: pxtorem(5);
    content: '*';
    color: var(--col-pink-dark);
  }

  .form__subtext {
    padding-bottom: pxtorem(12);
    line-height: 1.4;
  }
}

.uomcontent [role="main"] form {
  footer {
    padding: 0;
  }
}

.uomcontent .form-error {
  color: var(--col-pink-dark);
  margin-bottom: pxtorem(15);

  p {
    padding-bottom: 0;
  }
}

.uomcontent fieldset {
  border: 0;
  padding: 0;

  div {
    padding: pxtorem(10) 0 pxtorem(12);
  }

  small {
      font-size: pxtorem(18);
      display: none;
      margin: 0;
      text-transform: none;
  }

  .cursor {
    cursor: pointer;
  }

  label {
    font-size: pxtorem(18);
    display: inline;
    position: relative;
    width: 100%;

    @media screen and (--bp-desktop) {
      width: 25.75rem;
      display: inline-block;
    }
  }

  .invalid small {
    font-size: pxtorem(16);
    padding: pxtorem(5) 0;
    animation: flash .4s .1s 1 ease-in-out;
    color: var(--col-pink-dark);
    display: block;
    font-style: italic;
  }

  p {
    font-size: pxtorem(16);
  }

  input[type="text"],
  input[type="email"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="url"] {
    @mixin textcontrol;
    width: 100%;
  }

  textarea {
    @mixin textcontrol;
    height: 200px;
    width: 100%;
  }

  .inline {
    position: relative;

    input[type="text"],
    input[type="email"],
    input[type="number"],
    input[type="password"],
    input[type="search"],
    input[type="url"] {
      @mixin textcontrol;
      height: 2.8125rem;
      appearance: none;
      display: block;
      width: 100%;
    }

    input[type="image"] {
      @mixin inlinebutton;
      border-radius: 0 3px 3px 0;
      margin: pxtorem(15) 0 0;
      width: 2.8125rem;
      padding: 0;
      position: absolute;
      right: 0;
      top: 0;

      span {
        display: none;
      }

      svg {
        height: pxtorem(24);
        width: pxtorem(24);
        background-color: transparent;
        cursor: pointer;
        fill: currentColor;
        max-height: 100%;
      }
    }

    .inline-button {
      @mixin inlinebutton;
      margin: pxtorem(5) 0 0;
    }
  }

  .attached,
  .detached {
    display: table;
    width: 100%;

    & > span {
      display: table-cell;
      vertical-align: top;

      &.fill {
        width: 100%;

        input[type="text"],
        input[type="email"],
        input[type="number"],
        input[type="password"],
        input[type="search"],
        input[type="url"] {
          width: 100%;
        }
      }
    }
  }

  .attached {
    input[type="text"],
    input[type="email"],
    input[type="number"],
    input[type="password"],
    input[type="search"],
    input[type="url"] {
      border-radius: 3px 0 0 3px;
      border-right: 0;
    }

    .inline-button {
      border-radius: 0 3px 3px 0;
      font-size: pxtorem(16);
      padding: 0 pxtorem(15);
      font-weight: var(--fw-semibold);
    }
  }

  .detached {
    & > span {
      &:first-child {
        padding-right: pxtorem(15);
      }
    }

    &.big {
      input[type="text"],
      input[type="email"],
      input[type="number"],
      input[type="password"],
      input[type="search"],
      input[type="url"] {
        font-size: pxtorem(24);
        height: pxtorem(60);
        line-height: pxtorem(36);
        padding: pxtorem(15);
        border-color: var(--col-navy-main);

        &:focus {
          background-color: var(--col-white);
          color: var(--col-navy-main);
        }
      }

      .inline-button {
        font-size: pxtorem(16);
        height: pxtorem(60);
        padding: pxtorem(15);
        line-height: 1;

        & > span {
          padding-left: 2.125rem; /* 24px for small icon + 10px for spacing */
          position: relative;
          white-space: nowrap;

          .small[data-icon] {
            margin-top: -.125rem;
            left: 0;
            position: absolute;
            top: 0;
          }
        }
      }
    }
  }

  input[type="checkbox"],
  input[type="radio"] {
    margin-right: pxtorem(8);
    display: inline;
  }
}

.uomcontent form:not(.unstyled-controls) fieldset {
  input[type="checkbox"]:not(.unstyled),
  input[type="radio"]:not(.unstyled) {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);

    & + label {
      margin-top: pxtorem(4);
      margin-bottom: pxtorem(-12);
      cursor: pointer;
      display: block;
      position: relative;
      width: 100%;

      &::after {
        background: transparent;
        content: '';
        left: 4px;
        opacity: 0;
        position: absolute;
        top: 4px;
      }

      &:active::after {
        opacity: .2;
      }

      span {
        padding-left: pxtorem(30);
        cursor: pointer;
        display: block;
        text-indent: 0;

        &::before {
          background-color: var(--col-white);
          border: 1px solid var(--col-black-mid-1);
          box-sizing: border-box;
          content: '';
          display: block;
          height: 20px;
          left: -1px;
          margin: 0 10px -3px 1px;
          padding: 1px;
          position: absolute;
          top: 0;
          width: 20px;
        }
      }
    }

    &:checked + label {
      &:active,
      &::after {
        opacity: 1;
      }
    }

    &:focus + label span::before {
      border-color: var(--col-navy-main);
    }
  }

  input[type="checkbox"]:not(.unstyled) + label {
    &::after {
      border: 3px solid var(--col-navy-main);
      border-right: 0 none;
      border-top: 0 none;
      height: 5px;
      transform: rotate(-45deg);
      width: 10px;
    }

    span::before {
      border-radius: 3px;
    }
  }

  input[type="radio"]:not(.unstyled) + label {
    &::after {
      background-color: var(--col-navy-main);
      border-radius: 50%;
      height: 12px;
      width: 12px;
    }

    span::before {
      border-radius: 50%;
    }
  }

  .invalid input[type="checkbox"]:not(.unstyled),
  .invalid input[type="radio"]:not(.unstyled) {
    & + label + small {
      padding-top: pxtorem(18); /* Compensate for negative bottom margin on label */
    }
  }
}

.align-checkbox {
  padding-left: pxtorem(30);
  text-indent: -2.5rem;
  line-height: 1.4;
}

.uomcontent .newsletter-box {
  margin-top: pxtorem(24);
  padding-top: pxtorem(24);
  padding-bottom: pxtorem(24);
  max-width: var(--w-mid);
  background-color: transparent;
  border-top: 1px solid color(var(--col-white) alpha(20%));
  color: var(--col-white);
  margin-left: auto;
  margin-right: auto;

  p {
    font-size: pxtorem(20);
    line-height: pxtorem(24);
    padding-bottom: pxtorem(24);
  }

  form {
    max-width: var(--w-lge);
    background-color: transparent;

    label {
      color: var(--col-white);
    }

    @media screen and (--bp-desktop) {

      fieldset {
        display: table;
        margin: 0 auto;
        width: auto;

        label {
          width: auto;
        }
      }

      fieldset > div {
        padding-left: pxtorem(10);
        padding-right: pxtorem(10);
        display: table-cell;
      }

      input[type="submit"] {
        padding: pxtorem(12) pxtorem(20);
        border: 0;
      }
    }
  }

  @media screen and (--bp-desktop) {
    padding-top: 0;
  }
}

@keyframes flash {
  0%,
  100% {
    color: var(--col-pink-mid-2);
  }

  66% {
    color: var(--col-pink-mid-1);
  }
}
