@define-mixin theme {
  background-color: var(--col-navy-main);
  border: 1px solid var(--col-navy-main);
  color: var(--col-white);
  cursor: pointer;
  line-height: 1.55;
  margin-top: 0;
  position: relative;
  width: 100%;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: pxtorem(42);
    width: 1px;
    background-color: currentColor;
    z-index: var(--z-default);
  }

  &:after {
    content: "";
    border: none;
    border-bottom: 2px solid currentColor;
    border-right: 2px solid currentColor;
    height: 9px;
    line-height: 9px;
    transform: rotate(45deg) translateY(0);
    position: absolute;
    width: 9px;
    top: 50%;
    right: 0;
    margin-top: -9px;
    margin-right: pxtorem(16);
  }


  &.invalid,
  &.invalid:hover,
  &.alt.invalid,
  &.alt.invalid:hover {
    background-color: var(--col-white);
    border-color: var(--col-pink-dark);
    color: var(--col-pink-dark);

    option {
      color: var(--col-pink-dark);
    }
  }

  &.invalid + svg.icon,
  &.alt.invalid + svg.icon {
    color: var(--col-pink-dark);
    fill: var(--col-pink-dark);
  }

  &:hover {
    background-color: var(--col-secondary-navy);
    border-color: var(--col-secondary-navy);
    color: var(--col-white);
  }

  &.alt {
    background-color: var(--col-white);
    border-color: var(--col-blue-mid-2);
    color: var(--col-blue-mid-2);

    option {
      color: var(--col-blue-mid-2);
    }
  }

  &.alt + svg.icon {
    color: var(--col-blue-mid-2);
    fill: var(--col-blue-mid-2);
  }

  &.alt:hover {
    background-color: var(--col-navy-light);
    border-color: var(--col-blue-mid-2);
    color: var(--col-blue-mid-2);
  }

  &.clear,
  &.clear-dark {
    background-color: transparent;
    border-color: var(--col-white);
    color: var(--col-white);

    option {
      color: var(--col-black-dark);
    }
  }

  &.clear:hover,
  &.clear-dark:hover {
    background-color: color(var(--col-white) alpha(30%));
  }

  &.clear-dark.invalid,
  &.clear-dark.invalid:hover {
    background-color: color(var(--col-white) alpha(30%));
    border-color: var(--col-pink-dark);
    color: var(--col-pink-dark);
  }

  &.clear.invalid,
  &.clear.invalid:hover {
    background-color: color(var(--col-white) alpha(30%));
    border-color: var(--col-pink-mid-2);
    color: var(--col-pink-mid-2);
  }

  &.clear.invalid + svg.icon + small {
    color: var(--col-pink-mid-2);
  }

  &.clear.invalid + svg.icon {
    color: var(--col-pink-mid-2);
    fill: var(--col-pink-mid-2);
  }
}

.uomcontent .styled-select {
  padding: 0;
  position: relative;

  svg.icon {
    height: pxtorem(30);
    right: .4375rem;
    top: .4375rem;
    width: pxtorem(30);
    color: var(--col-white);
    cursor: pointer;
    display: block;
    fill: var(--col-white);
    position: absolute;
  }

  &:hover select {
    background-color: var(--col-navy-main);
    border-color: var(--col-navy-main);
    color: var(--col-white);
  }

  &:hover select.alt {
    background-color: var(--col-blue-light);
    border-color: var(--col-blue-mid-2);
    color: var(--col-blue-mid-2);
  }

  &:hover select.clear,
  &:hover select.clear-dark {
    background-color: color(var(--col-white) alpha(30%));
    border-color: var(--col-white);
    color: var(--col-white);
  }
}

.uomcontent select {
  font-size: 1.125rem;
  font-family: var(--ff-sans);
  width: 100%;
}

/* The horror */
.uomcontent .styled-select {
  @mixin theme;
  border-radius: 3px;
  padding: 0;

  select {
    @mixin theme;
    border-radius: 3px;
    padding: .5rem pxtorem(10);
    appearance: none;
    border: 0;

    option {
      background-color: transparent;
      color: var(--col-white);
    }

    &::-ms-expand {
      display: none;
    }
  }

  @-moz-document url-prefix() {
    overflow: hidden;

    select {
      background-position: calc(99% - 17px) center;
      overflow: -moz-hidden-unscrollable;
      width: calc(100% + 17px) !important;
    }
  }
}

.uomcontent fieldset .styled-select {
  margin-top: .3125rem;
}

.ie9 {
  .uomcontent .styled-select {
    select {
      &,
      option {
        background-color: var(--col-blue-mid-2) !important;
        color: var(--col-white)!important;
      }

      &.alt,
      &.alt option {
        background-color: var(--col-white)!important;
        color: var(--col-blue-mid-2) !important;
      }

      &.clear,
      &.clear-dark,
      &.clear option,
      &.clear-dark option {
        background-color: var(--col-white)!important;
        color: var(--col-black-dark) !important;
      }
    }
  }
}
