@define-mixin inlinebutton {
  border-radius: 3px;
  font-size: .8125rem;
  height: 2.8125rem;
  padding: 0 .9375rem;
  background-color: var(--col-lighterblue);
  border: 0 none;
  color: #fff;
  cursor: pointer;
  font-weight: var(--fw-bold);
  letter-spacing: 1px;
  position: relative;
  text-transform: uppercase;

  &:not([disabled]):hover,
  &:not([disabled]):focus {
    background-color: color(var(--col-lighterblue) shade(10%));
  }

  &:active {
    opacity: .3;
  }
}

[role="main"] form {
  font-size: 1rem;
  padding: 0 .625rem;
  background-color: #fff;
  color: var(--col-darkgray);
  line-height: 1.2;
  margin: 0 auto;
  max-width: var(--w-sml);

  @mixin breakpoint(desktop) {
    padding: .625rem 1.875rem;
  }

  footer {
    padding: 0;
  }

  [data-required=true]::after {
    padding-left: .3125rem;
    content: '*';
    color: var(--col-cherry);
  }

  .form__subtext {
    padding-bottom: .75rem;
    font-size: smaller;
  }
}

.uomcontent .form-error {
  color: var(--col-cherry);

  p {
    padding-bottom: 0;
  }
}

.uomcontent fieldset {
  border: 0;
  padding: 0;

  div {
    padding: 10px 0;
  }

  small {
      font-size: 1.125rem;
      display: none;
      margin: 0;
      text-transform: none;
  }

  .cursor {
    cursor: pointer;
  }

  label {
    font-size: 1rem;
    display: inline;
    position: relative;
    width: 100%;

    @mixin breakpoint(desktop) {
      width: 25.75rem;
      display: inline-block;
    }
  }

  .invalid small {
    font-size: .875rem;
    padding: .3125rem 0;
    animation: flash .4s .1s 1 ease-in-out;
    color: var(--col-cherry);
    display: block;
    font-style: italic;
  }

  p {
    font-size: 1rem;
  }

  input[type="text"],
  input[type="email"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="url"] {
    @mixin textcontrol;
    width: 100%;
  }

  textarea {
    @mixin textcontrol;
    height: 200px;
    width: 100%;
  }

  .inline {
    position: relative;

    input[type="text"],
    input[type="email"],
    input[type="number"],
    input[type="password"],
    input[type="search"],
    input[type="url"] {
      @mixin textcontrol;
      height: 2.8125rem;
      appearance: none;
      display: block;
      width: 100%;
    }

    input[type="image"] {
      @mixin inlinebutton;
      border-radius: 0 3px 3px 0;
      margin: .9375rem 0 0;
      width: 2.8125rem;
      padding: 0;
      position: absolute;
      right: 0;
      top: 0;

      span {
        display: none;
      }

      svg {
        height: 1.5rem;
        width: 1.5rem;
        background-color: transparent;
        cursor: pointer;
        fill: currentColor;
        max-height: 100%;
      }
    }

    .inline-button {
      @mixin inlinebutton;
      margin: .3125rem 0 0;
    }
  }

  .attached,
  .detached {
    display: table;
    width: 100%;

    & > span {
      display: table-cell;
      vertical-align: top;

      &.fill {
        width: 100%;

      input[type="text"],
      input[type="email"],
      input[type="number"],
      input[type="password"],
      input[type="search"],
      input[type="url"] {
        width: 100%;
        }
      }
    }
  }

  .attached {
    input[type="text"],
    input[type="email"],
    input[type="number"],
    input[type="password"],
    input[type="search"],
    input[type="url"] {
      border-radius: 3px 0 0 3px;
      border-right: 0;
    }

    .inline-button {
      border-radius: 0 3px 3px 0;
      font-size: .8125rem;
      padding: 0 .9375rem;
      font-weight: var(--fw-bold);
      letter-spacing: 1px;
    }
  }

  .detached {
    & > span {
      &:first-child {
        padding-right: .9375rem;
      }
    }

    &.big {
      input[type="text"],
      input[type="email"],
      input[type="number"],
      input[type="password"],
      input[type="search"],
      input[type="url"] {
        font-size: 1.5rem;
        height: 3.75rem;
        line-height: 2.25rem;
        padding: .9375rem;
        border-color: var(--col-lighterblue);

        &:focus {
          background-color: #fff;
          color: var(--col-lighterblue);
        }
      }

      .inline-button {
        font-size: 1rem;
        height: 3.75rem;
        padding: .9375rem;
        line-height: 1;

        & > span {
          padding-left: 2.125rem; /* 24px for small icon + 10px for spacing */
          position: relative;
          white-space: nowrap;

          .small[data-icon] {
            margin-top: -.125rem;
            left: 0;
            position: absolute;
            top: 0;
          }
        }
      }
    }
  }

  input[type="checkbox"],
  input[type="radio"] {
    margin-right: .5rem;
    display: inline;
  }
}

.uomcontent form:not(.unstyled-controls) fieldset {
  input[type="checkbox"]:not(.unstyled),
  input[type="radio"]:not(.unstyled) {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);

    & + label {
      margin-top: .25rem;
      margin-bottom: -.75rem;
      cursor: pointer;
      display: block;
      position: relative;
      width: 100%;

      &::after {
        background: transparent;
        content: '';
        left: 4px;
        opacity: 0;
        position: absolute;
        top: 4px;
      }

      &:active::after {
        opacity: .2;
      }

      span {
        padding-left: 2.1875rem;
        cursor: pointer;
        display: block;
        text-indent: 0;

        &::before {
          background-color: #fff;
          border: 1px solid color(var(--col-midgray) tint(40%));
          box-sizing: border-box;
          content: '';
          display: block;
          height: 20px;
          left: -1px;
          margin: 0 10px -3px 1px;
          padding: 1px;
          position: absolute;
          top: 0;
          width: 20px;
        }
      }
    }

    &:checked + label {
      &:active,
      &::after {
        opacity: 1;
      }
    }

    &:focus + label span::before {
      border-color: var(--col-lighterblue);
    }
  }

  input[type="checkbox"]:not(.unstyled) + label {
    &::after {
      border: 3px solid var(--col-lighterblue);
      border-right: 0 none;
      border-top: 0 none;
      height: 5px;
      transform: rotate(-45deg);
      width: 10px;
    }

    span::before {
      border-radius: 3px;
    }
  }

  input[type="radio"]:not(.unstyled) + label {
    &::after {
      background-color: var(--col-lighterblue);
      border-radius: 50%;
      height: 12px;
      width: 12px;
    }

    span::before {
      border-radius: 50%;
    }
  }

  .invalid input[type="checkbox"]:not(.unstyled),
  .invalid input[type="radio"]:not(.unstyled) {
    & + label + small {
      padding-top: 1.125rem; // Compensate for negative bottom margin on label
    }
  }
}

.align-checkbox {
  padding-left: 1.875rem;
  text-indent: -2.5rem;
  line-height: 1.4;
}

.uomcontent .newsletter-box {
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  max-width: var(--w-mid);
  background-color: transparent;
  border-top: 1px solid color(#fff alpha(20%));
  color: #fff;
  margin-left: auto;
  margin-right: auto;

  p {
    font-size: 1.25rem;
    line-height: 1.5rem;
    padding-bottom: 1.5rem;
    font-weight: var(--fw-thin);
  }

  form {
    max-width: var(--w-lge);
    background-color: transparent;

    label {
      color: #fff;
    }

    @mixin breakpoint(desktop) {

      fieldset {
        display: table;
        margin: 0 auto;
        width: auto;

        label {
          width: auto;
        }
      }

      fieldset > div {
        padding-left: .625rem;
        padding-right: .625rem;
        display: table-cell;
      }

      input[type="submit"] {
        padding: .75rem 1.25rem;
        border: 0;
      }
    }
  }

  @mixin breakpoint(desktop) {
    padding-top: 0;
  }
}
