@define-mixin theme {
  background-color: var(--col-blue-mid-2);
  background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzRweCIgaGVpZ2h0PSIzNHB4IiB2aWV3Qm94PSIwIDAgNDkgNDgiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+PGcgZmlsbD0iI2ZmZmZmZiI+PHBhdGggZD0iTTI0LDQgQzEyLjk1LDQgNCwxMi45NSA0LDI0IEM0LDM1LjA1IDEyLjk1LDQ0IDI0LDQ0IEMzNS4wNSw0NCA0NCwzNS4wNSA0NCwyNCBDNDQsMTIuOTUgMzUuMDUsNCAyNCw0IEwyNCw0IFogTTI0LDI4IEwxNiwyMCBMMzIsMjAgTDI0LDI4IEwyNCwyOCBaIj48L3BhdGg+PC9nPjwvc3ZnPg==');
  background-repeat: no-repeat;
  background-position: 99% center;
  border: 1px solid var(--col-blue-mid-2);
  color: var(--col-white);
  cursor: pointer;
  line-height: 1.55;
  margin-top: 0;
  width: 100%;

  &.invalid,
  &.invalid:hover,
  &.alt.invalid,
  &.alt.invalid:hover {
    background-color: var(--col-white);
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzRweCIgaGVpZ2h0PSIzNHB4IiB2aWV3Qm94PSIwIDAgNDkgNDgiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+PGcgZmlsbD0iI2RmMDYyMCI+PHBhdGggZD0iTTI0LDQgQzEyLjk1LDQgNCwxMi45NSA0LDI0IEM0LDM1LjA1IDEyLjk1LDQ0IDI0LDQ0IEMzNS4wNSw0NCA0NCwzNS4wNSA0NCwyNCBDNDQsMTIuOTUgMzUuMDUsNCAyNCw0IEwyNCw0IFogTTI0LDI4IEwxNiwyMCBMMzIsMjAgTDI0LDI4IEwyNCwyOCBaIj48L3BhdGg+PC9nPjwvc3ZnPg==');
    border-color: var(--col-pink-dark);
    color: var(--col-pink-dark);

    option {
      color: var(--col-pink-dark);
    }
  }

  &.invalid + svg.icon,
  &.alt.invalid + svg.icon {
    color: var(--col-pink-dark);
    fill: var(--col-pink-dark);
  }

  &:hover {
    background-color: var(--col-navy-main);
    border-color: var(--col-navy-main);
    color: var(--col-white);
  }

  &.alt {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzRweCIgaGVpZ2h0PSIzNHB4IiB2aWV3Qm94PSIwIDAgNDkgNDgiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+PGcgZmlsbD0iIzAwNzZkZSI+PHBhdGggZD0iTTI0LDQgQzEyLjk1LDQgNCwxMi45NSA0LDI0IEM0LDM1LjA1IDEyLjk1LDQ0IDI0LDQ0IEMzNS4wNSw0NCA0NCwzNS4wNSA0NCwyNCBDNDQsMTIuOTUgMzUuMDUsNCAyNCw0IEwyNCw0IFogTTI0LDI4IEwxNiwyMCBMMzIsMjAgTDI0LDI4IEwyNCwyOCBaIj48L3BhdGg+PC9nPjwvc3ZnPg==');
    background-color: var(--col-white);
    border-color: var(--col-blue-mid-2);
    color: var(--col-blue-mid-2);

    option {
      color: var(--col-blue-mid-2);
    }
  }

  &.alt + svg.icon {
    color: var(--col-blue-mid-2);
    fill: var(--col-blue-mid-2);
  }

  &.alt:hover {
    background-color: var(--col-blue-light);
    border-color: var(--col-blue-mid-2);
    color: var(--col-blue-mid-2);
  }

  &.clear,
  &.clear-dark {
    background-color: transparent;
    border-color: var(--col-white);
    color: var(--col-white);

    option {
      color: var(--col-black-dark);
    }
  }

  &.clear:hover,
  &.clear-dark:hover {
    background-color: color(var(--col-white) alpha(30%));
  }

  &.clear-dark.invalid,
  &.clear-dark.invalid:hover {
    background-color: color(var(--col-white) alpha(30%));
    border-color: var(--col-pink-dark);
    color: var(--col-pink-dark);
  }

  &.clear.invalid,
  &.clear.invalid:hover {
    background-color: color(var(--col-white) alpha(30%));
    border-color: var(--col-pink-mid-2);
    color: var(--col-pink-mid-2);
  }

  &.clear.invalid + svg.icon + small {
    color: var(--col-pink-mid-2);
  }

  &.clear.invalid + svg.icon {
    color: var(--col-pink-mid-2);
    fill: var(--col-pink-mid-2);
  }
}

.uomcontent .styled-select {
  padding: 0;
  position: relative;

  svg.icon {
    height: calc(30/16rem);
    right: .4375rem;
    top: .4375rem;
    width: calc(30/16rem);
    color: var(--col-white);
    cursor: pointer;
    display: block;
    fill: var(--col-white);
    position: absolute;
  }

  &:hover select {
    background-color: var(--col-navy-main);
    border-color: var(--col-navy-main);
    color: var(--col-white);
  }

  &:hover select.alt {
    background-color: var(--col-blue-light);
    border-color: var(--col-blue-mid-2);
    color: var(--col-blue-mid-2);
  }

  &:hover select.clear,
  &:hover select.clear-dark {
    background-color: color(var(--col-white) alpha(30%));
    border-color: var(--col-white);
    color: var(--col-white);
  }
}

.uomcontent select {
  font-size: 1.125rem;
  font-family: var(--ff-sans);
  font-weight: var(--fw-light);
  width: 100%;
}

/* The horror */
.uomcontent .styled-select {
  @mixin theme;
  border-radius: 3px;
  padding: 0;

  select {
    @mixin theme;
    border-radius: 3px;
    padding: .5rem calc(10/16rem);
    appearance: none;
    border: 0;

    option {
      background-color: transparent;
      color: var(--col-white);
    }

    &::-ms-expand {
      display: none;
    }
  }

  @-moz-document url-prefix() {
    overflow: hidden;

    select {
      background-position: calc(99% - 17px) center;
      overflow: -moz-hidden-unscrollable;
      width: calc(100% + 17px) !important;
    }
  }
}

.uomcontent fieldset .styled-select {
  margin-top: .3125rem;
}

.ie9 {
  .uomcontent .styled-select {
    &,
    select,
    select option {
      background-image: none !important;
    }

    select {
      &,
      option {
        background-color: var(--col-blue-mid-2) !important;
        color: var(--col-white)!important;
      }

      &.alt,
      &.alt option {
        background-color: var(--col-white)!important;
        color: var(--col-blue-mid-2) !important;
      }

      &.clear,
      &.clear-dark,
      &.clear option,
      &.clear-dark option {
        background-color: var(--col-white)!important;
        color: var(--col-black-dark) !important;
      }
    }
  }
}
