@keyframes flash {
  0%,
  100% {
    color: color(var(--col-cherry) tint(25%));
  }

  66% {
    color: color(var(--col-cherry) tint(60%));
  }
}

@define-mixin control {
  border-radius: 3px;
  margin-top: .3125rem;
  padding: .5rem .625rem;
  font-family: var(--ff-sans);
  font-weight: var(--fw-light);

  &.invalid {
    background-color: #fff;
    border-color: color(var(--col-cherry) tint(25%));
    color: color(var(--col-cherry) tint(25%));
  }

  @media (--bp-desktop) {
    width: 25rem;
  }
}

@define-mixin textcontrol {
  @add-mixin control;
  font-size: 1.25rem;
  background-color: var(--col-lightgray);
  border: 1px solid color(var(--col-lightergray) shade(5%));
  box-shadow: inset 0 1px 3px rgba(#000, .15);

  &:hover {
    border-color: var(--col-gray);
  }

  &:focus {
    background-color: #fff;
    border-color: var(--col-borderblue);
    color: #000;
    outline: 0;

    &.invalid {
      color: #000;
    }
  }
}

@define-mixin controlhack {
  appearance: none;
  text-indent: .01px;
  text-overflow: '';
}

@import '_forms.scss';
@import '_forms-select.scss';
