== render(:_breadcrumbs)

div role="main"
  header.image.with-filters style="background-image:url(/assets/woods.jpg)"
    p These layouts are examples how we use the design system for common pages across the university.
    .bottom-align-flat
      .filtered-listing-wrapper
        form.filtered-listing-select
          fieldset.left
            legend Filter by type
            div.filtered-listing-tag
              input#c0.checkbox type="checkbox" name="f[degree_type]" data-tag="all" checked="checked"
              label for="c0"
                span All
            div.filtered-listing-tag
              input#c1.checkbox type="checkbox" name="f[course_type]" data-tag="lists" data-color="green"
              label for="c1"
                span Lists
            div.filtered-listing-tag
              input#c2.checkbox type="checkbox" name="f[course_type]" data-tag="single" data-color="bronze"
              label for="c2"
                span Single view
            div.filtered-listing-tag
              input#c3.checkbox type="checkbox" name="f[course_type]" data-tag="mixed" data-color="silver"
              label for="c3"
                span Mixed views
          fieldset.right
            label for="f-select2" Filter by category
            div
              select#f-select2.clear name="f[select2]"
                option value="-1" All categories
                option value="website-sections" Website sections
                option value="news" News
                option value="events" Events
                option value="articles" Articles
                option value="linked-listing" Linked Listings
                option value="staff" Staff
                option value="server-pages" Server pages

  footer.cta.center Pro tip: the pre-DOM source of any template can be viewed by adding <small>/source</small> to the end of the URL.

  hr.spacer
  .filtered-listing-section.clearfix data-section="website-sections"
    .aside
      h2 Website sections
      p Combined Layouts across more than one page addressing common sections of a website
    .bside
      ul.filtered-listing-grid
        li.filtered-listing-item data-tag="mixed"
          a href="/layouts/homepage"
            ' Website section
            strong Homepage (dark background)
        li.filtered-listing-item data-tag="mixed"
          a href="/layouts/floating-contrast"
            ' Website section
            strong Homepage (light background)
        li.filtered-listing-item data-tag="mixed"
          a href="/layouts/about"
            ' Website section
            strong About section
        li.filtered-listing-item data-tag="mixed"
          a href="/layouts/course"
            ' Website section
            strong Course
        li.filtered-listing-item data-tag="mixed"
          a href="/layouts/search"
            ' Website section
            strong Search
        li.filtered-listing-item data-tag="mixed"
          a href="/layouts/with-login"
            ' Website section
            strong Header Login

  hr.spacer
  .filtered-listing-section.clearfix data-section="news"
    .aside
      h2 News
      p Ways to display news
    .bside
      ul.filtered-listing-grid
        li.filtered-listing-item data-tag="lists"
          a.inactive href=""
            ' News
            strong List (coming soon)
        li.filtered-listing-item data-tag="single"
          a.inactive href=""
            ' News
            strong News article
        li.filtered-listing-item data-tag="single"
          a.inactive href=""
            ' News
            strong News article with image

  hr.spacer
  .filtered-listing-section.clearfix data-section="events"
    .aside
      h2 Events
      p Ways to display events
    .bside
      ul.filtered-listing-grid
        li.filtered-listing-item data-tag="lists"
          a.inactive href=""
            ' Event
            strong List
        li.filtered-listing-item data-tag="lists"
          a.inactive href=""
            ' Event
            strong List with speakers
        li.filtered-listing-item data-tag="single"
          a href="/layouts/event"
            ' Event
            strong Detail
        li.filtered-listing-item data-tag="single"
          a.inactive href=""
            ' Event
            strong Events with image

  hr.spacer
  .filtered-listing-section.clearfix data-section="articles"
    .aside
      h2 Articles
      p These examples can be used for blog posts, articles or general text heavy content
    .bside
      ul.filtered-listing-grid
        li.filtered-listing-item data-tag="lists"
          a.inactive href=""
            ' Article
            strong List (coming soon)
        li.filtered-listing-item data-tag="single"
          a.inactive href=""
            ' Article
            strong Article

  hr.spacer
  .filtered-listing-section.clearfix data-section="linked-listing"
    .aside
      h2 Linked listings
      p Different layouts for any kind of linked listing
    .bside
      ul.filtered-listing-grid
        li.filtered-listing-item data-tag="lists"
          a.inactive href=""
            ' Listing
            strong Default
        li.filtered-listing-item data-tag="lists"
          a.inactive href=""
            ' Listing
            strong Featured
        li.filtered-listing-item data-tag="lists"
          a.inactive href=""
            ' Listing
            strong Featured (3-col)
        li.filtered-listing-item data-tag="lists"
          a.inactive href=""
            ' Listing
            strong Hero
        li.filtered-listing-item data-tag="lists"
          a.inactive href=""
            ' Listing
            strong Filtered Listing
        li.filtered-listing-item data-tag="lists"
          a.inactive href=""
            ' Listing
            strong Navigational index
        li.filtered-listing-item data-tag="lists"
          a href="/layouts/indexnav"
            ' Inpage
            strong Index navigation

  hr.spacer
  .filtered-listing-section.clearfix data-section="people"
    .aside
      h2 People
    .bside
      ul.filtered-listing-grid
        li.filtered-listing-item data-tag="lists"
          a href="/layouts/staff-list"
            ' People
            strong Staff list
        li.filtered-listing-item data-tag="lists"
          a href="/layouts/staff-list-fullwidth"
            ' People
            strong Full-width staff list
        li.filtered-listing-item data-tag="lists"
          a href="/layouts/staff-list-featured"
            ' People
            strong Featured staff list
        li.filtered-listing-item data-tag="single"
          a href="/layouts/people-profile-page"
            ' People
            strong Profile page

  hr.spacer
  .filtered-listing-section.clearfix data-section="server-pages"
    .aside
      h2 Server pages
      p Server error, File not found, etc ...
    .bside
      ul.filtered-listing-grid
        li.filtered-listing-item data-tag="single"
          a href="/layouts/404"
            ' Server page
            strong 404
        li.filtered-listing-item data-tag="single"
          a href="/layouts/500"
            ' Server page
            strong 500

  hr.spacer

  .hidden
    a href="/layouts/homepage/source"
      ' Source for Website section
      strong Homepage (dark background)
    a href="/layouts/floating-contrast/source"
      ' Source for Website section
      strong Homepage (light background)
    a href="/layouts/about/source"
      ' Source for Website section
      strong About section
    a href="/layouts/course/source"
      ' Source for Website section
      strong Course
    a href="/layouts/search/source"
      ' Source for Website section
      strong Search
    a href="/layouts/with-login/source"
      ' Source for Website section
      strong Header Login
    a href="/layouts/event/source"
      ' Source for Event
      strong Detail
    a href="/layouts/article/source"
      ' Source for Article
      strong Article
    a href="/layouts/indexnav/source"
      ' Source for Inpage
      strong Index navigation
    a href="/layouts/staff-list/source"
      ' Source for People
      strong Staff list
    a href="/layouts/staff-list-fullwidth/source"
      ' Source for People
      strong Full-width staff list
    a href="/layouts/staff-list-featured/source"
      ' Source for People
      strong Featured staff list
    a href="/layouts/people-profile-page/source"
      ' Source for People
      strong Profile page
    a href="/layouts/404/source"
      ' Source for Server page
      strong 404
    a href="/layouts/500/source"
      ' Source for Server page
      strong 500
