.uomcontent #outer.index-navigation {
  padding-top: pxtorem(20);
  top: pxtorem(40);
  width: pxtorem(40);
  align-items: center;
  background-color: color(var(--col-navy-main) alpha(90%));
  bottom: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;

  li:first-child {
    display: none;
  }

  li {
    display: block;
    height: 20px;
    width: 100%;
  }

  a {
    color: var(--col-white);
    display: block;
    text-align: center;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  @media screen and (--bp-desktop) {
    max-width: pxtorem(4000);
    background-color: transparent;
    display: table;
    margin-top: 0;
    padding: 0;
    position: static;
    table-layout: fixed;
    width: 100%;

    &.fixed {
      position: static;
    }

    li {
      height: pxtorem(40);
      display: table-cell;
    }

    a {
      height: pxtorem(40);
      color: var(--col-blue-mid-2);
      font-weight: var(--fw-regular);
    }
  }

  @media screen and (--bp-wide) {
    li {
      height: pxtorem(60);
    }
    a {
      font-size: pxtorem(18);
      line-height: pxtorem(24);
      height: pxtorem(60);
      line-height: pxtorem(45);
      font-weight: var(--fw-semibold);
    }
  }
}

.ie9 .uomcontent #outer.index-navigation {
  display: table;
  width: 100%;

  li {
    display: table-cell;
    width: 3.8%;
    zoom: 1;

    &:first-child {
      display: none;
    }
  }
}
