@define-mixin jump {
  color: var(--col-gray);
  list-style-position: inside;
  margin: 0 auto;
  padding: 35px 0 30px;
  width: 94%;

  li {
    color: var(--col-midgray);
    display: inline-block;
    font-size: 14px;
    font-weight: var(--fw-regular);
    list-style-type: none;
    margin-bottom: 0;
    margin-left: 0;
    padding-bottom: 0;
    vertical-align: top;
    white-space: normal;
    width: 50%;

    &:first-child {
      padding-bottom: .4375rem;
      margin-bottom: .4375rem;
      border-bottom: 1px solid var(--col-lightergray);
      letter-spacing: 1px;
      text-transform: uppercase;
      width: 100%;

      a::before {
        content: '';
        padding-right: 0;
      }
    }
  }

  a {
    padding-bottom: .4375rem;
    padding-top: .4375rem;
    display: block;
    font-weight: var(--fw-light);
    text-decoration: none;
    white-space: normal;

    &:hover {
      text-decoration: underline;
    }
  }

  &.fixed {
    font-family: var(--ff-sans);
  }
}

.uomcontent [role="main"] .jump-navigation {
  @mixin jump;
  padding-top: 2.1875rem;

  @media screen and (--bp-desktop) {
    padding-top: 5rem;
  }

  @media screen and (--bp-wide) {
    padding-top: 2.1875rem;
  }
}

body.jumpnav-active {
  .uomcontent #outer {
    @mixin jump;

    @supports (column-span: all) {
      columns: 2;

      li {
        width: 100%;

        &:first-child {
          column-span: all;
          display: block;
        }
      }

      @media screen and (--bp-wide) {
        columns: auto;
      }
    }

    @media screen and (--bp-desktop) {
      padding-top: 5rem;

      li:first-child {
        margin-bottom: 0;
      }

      a {
        border-bottom: 1px solid var(--col-lightergray);
      }
    }

    @media screen and (--bp-wide) {
      display: table;
      margin-top: 33px;
      padding: 15px 15px 30px;
      position: absolute;
      width: 240px;
      z-index: 100;
      transition: margin-top .2s ease;

      li {
        width: 100%;
      }

      a.current {
        color: #000;

        &:active {
          color: color(var(--col-cherry) lightness(-15%));
        }
      }

      &.fixed {
        font-family: var(--ff-sans);
        margin-top: 10px;
        position: fixed;
        top: 45px;

        &.floating {
          margin-top: 0;
        }

        &.headless {
          margin-top: 123px;
        }
      }

      &.endpoint {
        bottom: 545px;
        position: absolute;
        top: auto;
      }
    }
  }

  @media screen and (--bp-wide) {
    .page-inner {
      background-color: #fff;
    }

    .uomcontent [role="main"] {
      box-shadow: inset 2px 0 3px color(#000 alpha(15%));
      margin-left: 300px;
      margin-top: -10px;
      padding-top: 10px;

      > header:first-of-type,
      .headerless,
      footer.cta,
      footer.end,
      footer.contrib {
        margin-left: -300px;
        width: auto;
      }

      > header:first-of-type {
        padding-left: 300px;
      }

      > header.banner:first-of-type,
      > header.image:first-of-type {
        padding-left: 0;
      }

      .jumpnav {
        padding-top: 0;
      }

      #outer {
        margin-left: -270px;
      }

      .news-index {
        margin: 0 auto;
        width: 94%;
      }
    }
  }
}
