div style="background:url(/assets/images/bg-banner.jpg) 75% 95% no-repeat; text-align:center; padding:30px"
  a.button-hero Hero Button

div style="background:url(/assets/images/bg-banner.jpg) 40% 60% no-repeat; text-align:center; padding:30px"
  a.button-hero-inverse Inverse Button