%raisedbutton {
  @include rem(border-radius, 5px);
  @include rem(font-size, 13px);
  @include rem(padding, 15px 20px);
  background-color: $highlight;
  border: 0;
  border-bottom: 5px solid darken($highlight, 10%);
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-style: normal;
  font-weight: $bold;
  letter-spacing: 2px;
  margin: 20px 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    border-bottom-width: 1px;
    color: $white;
    margin-top: 24px;
  }

  &.warning {
    background-color: $warning;
    border-bottom-color: darken($warning, 10%);
  }

  &.cta {
    background-color: $cta;
    border-bottom-color: darken($cta, 10%);
  }

  &.brand {
    background-color: $brand;
    border-bottom-color: darken($brand, 10%);
  }

  &.soft {
    background-color: $soft;
    border-bottom-color: darken($soft, 10%);
    color: $midblue;

    &:hover {
      background-color: $gray;
      color: $darkblue;
    }
  }

  @include breakpoint(height-small) {
    @include rem(font-size, 15px);
    @include rem(padding, 17px 40px);
  }
}

%flatbutton {
  @extend %raisedbutton;
  @include rem(border-radius, 2px);
  @include rem(font-size, 12px);
  @include rem(padding, 10px 15px);
  border-bottom: 0;
  margin: 0;
  position: relative;

  &:hover {
    background-color: darken($highlight, 10%);
  }

  &.warning:hover {
    background-color: darken($warning, 10%);
  }

  &.cta:hover {
    background-color: darken($cta, 10%);
  }

  &.brand:hover {
    background-color: darken($brand, 10%);
  }

  &.soft {
    background-color: $soft;
    color: $darkblue;

    &:hover {
      background-color: darken($gray, 10%);
    }
  }

  &:hover {
    margin-top: 0;
  }
}

%arrow-right {

  &::after {
    @include rem(font-size, 20px);
    @include rem(padding-left, 5px);
    content: '\2192';
    line-height: 0;
  }

  &:after {
    @include rem(font-size, 20px);
    @include rem(padding-left, 5px);
    content: '\2192';
    line-height: 0;
  }
}

%outlinebutton {
  @include rem(border-radius, 5px);
  @include rem(border-width, 2px);
  @include rem(font-size, 13px);
  @include rem(letter-spacing, 1px);
  @include rem(margin, 20px 0);
  @include rem(padding, 10px);
  border-color: $black;
  border-style: solid;
  color: $black;
  cursor: pointer;
  display: inline-block;
  font-style: normal;
  font-weight: $bold;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    background-color: $cyan;
    color: $white;
    border-color: transparent;
  }

  @include breakpoint(height-small) {
    @include rem(font-size, 15px);
    @include rem(margin, 20px 0);
    @include rem(padding, 20px);
  }
}

%outlinearrow {
  &::after {
    @include rem(font-size, 15px);
    @include rem(padding-left, 10px);
    content: '\2192';
    line-height: 0;

    @include breakpoint(height-small) {
      @include rem(font-size, 26px);
      @include rem(padding-left, 15px);
    }
  }

  &:after {
    @include rem(font-size, 15px);
    @include rem(padding-left, 10px);
    content: '\2192';
    line-height: 0;

    @include breakpoint(height-small) {
      @include rem(font-size, 26px);
      @include rem(padding-left, 15px);
    }
  }
}

%outlinearrow-reverse {
  &::before {
    @include rem(font-size, 15px);
    @include rem(padding-right, 10px);
    content: '\2190';
    line-height: 0;

    @include breakpoint(height-small) {
      @include rem(font-size, 26px);
      @include rem(padding-right, 15px);
    }
  }

  &:before {
    @include rem(font-size, 15px);
    @include rem(padding-right, 10px);
    content: '\2190';
    line-height: 0;

    @include breakpoint(height-small) {
      @include rem(font-size, 26px);
      @include rem(padding-right, 15px);
    }
  }
}

%iconbutton {
  @extend %flatbutton;
  @include appearance(none);
  @include rem(font-size, 14px);
  @include rem(margin, 10px 0);
  @include rem(padding, 5px 10px 5px 20px);
  display: inline-block;
  font-weight: $regular;

  svg.icon {
    @include rem(height, 16px);
    @include rem(margin, 0 5px);
    @include rem(width, 16px);
    fill: currentcolor;
    vertical-align: middle;
  }

  &:hover {
    @include rem(margin, 10px 0);
    background-color: rgba($black, .1);
    color: $black;
  }
}

.uomcontent input[type="submit"],
.uomcontent input[type="button"] {
  @extend %raisedbutton;
  @extend %raisedbutton.cta;
  @extend %flatbutton.cta;
  @include appearance(none);
  width: auto;
}

.uomcontent {
  .button {
    @extend %raisedbutton;
  }

  .button-small {
    @extend %flatbutton;
  }

  .with-arrow {
    @extend %arrow-right;
  }

  .button-hero {
    @extend %outlinebutton;
    @extend %outlinearrow;
  }

  .button-hero-reverse {
    @extend %outlinebutton;
    @extend %outlinearrow-reverse;
  }

  .button-hero-inverse {
    @extend %outlinebutton;
    @extend %outlinearrow;
    border-color: $white;
    color: $white;
  }

  .button-map {
    @extend %iconbutton;

    svg.icon {
      @include rem(height, 24px);
      @include rem(width, 24px);
      margin: 0;
      vertical-align: bottom;
    }
  }

  [role="main"] .button-share {
    @extend %iconbutton;
  }

  .button-fill {
    color: $black;
    text-align: center;
    text-decoration: none;
    width: 100%;

    &:hover {
      background-color: $highlight;
      color: $white;
    }

    h2 {
      @include rem(font-size, 24px);
    }

    p {
      @include rem(font-size, 16px);
    }
  }
}
