%raisedbutton {
  @include rem(border-radius, 5px);
  @include rem(font-size, 15px);
  @include rem(padding, 17px 40px);
  background-color: $highlight;
  border: 0;
  border-bottom: 5px solid darken($highlight, 10%);
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-weight: $bold;
  letter-spacing: 2px;
  margin: 20px 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    border-bottom-width: 1px;
    color: $white;
    margin-top: 24px;
  }

  &.warning {
    background-color: $warning;
    border-bottom-color: darken($warning, 10%);
  }

  &.cta {
    background-color: $cta;
    border-bottom-color: darken($cta, 10%);
  }

  &.brand {
    background-color: $brand;
    border-bottom-color: darken($brand, 10%);
  }

  &.soft {
    background-color: $soft;
    border-bottom-color: darken($soft, 10%);
    color: $midblue;

    &:hover {
      background-color: $gray;
      color: $darkblue;
    }
  }
}

%flatbutton {
  @extend %raisedbutton;
  @include rem(border-radius, 2px);
  @include rem(font-size, 12px);
  @include rem(padding, 10px 40px 10px 15px);
  border-bottom: 0;
  margin: 0;
  position: relative;

  &.soft {
    background-color: $gray;
    color: $darkblue;
  }

  &:hover {
    margin-top: 0;
  }

  &::after {
    @include rem(font-size, 30px);
    @include rem(padding-left, 5px);
    @include rem(top, -7px);
    content: '\2192';
    position: absolute;
  }
}

%outlinebutton {
  @include rem(border-radius, 5px);
  @include rem(border-width, 2px);
  @include rem(font-size, 15px);
  @include rem(letter-spacing, 1px);
  @include rem(margin, 20px 0);
  @include rem(padding, 20px 60px 20px 20px);
  border-color: $black;
  border-style: solid;
  color: $black;
  cursor: pointer;
  display: inline-block;
  font-weight: $bold;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  &::after {
    @include rem(font-size, 30px);
    @include rem(padding-left, 15px);
    content: '\2192';
    position: absolute;
    top: 4px;
  }

  &:hover {
    background-color: rgba($white, .5);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7fffffff,endColorstr=#7fffffff);

    color: $lighterblue;
    border-color: transparent;
  }
}

input[type="submit"],
input[type="button"] {
  @extend %raisedbutton;
  @extend %raisedbutton.cta;
  @extend %flatbutton.cta;
  width: auto;
}

.button {
  @extend %raisedbutton;
}

.button-small {
  @extend %flatbutton;
}

.button-hero {
  @extend %outlinebutton;
}

.button-hero-inverse {
  @extend %outlinebutton;
  border-color: $white;
  color: $white;

  &:hover {
    color: $brand;
  }
}

.button-fill {
  color: $black;
  text-align: center;
  text-decoration: none;
  width: 100%;

  &:hover {
    background-color: $highlight;
    color: $white;
  }

  h2 {
    @include rem(font-size, 24px);
  }

  p {
    @include rem(font-size, 16px);
  }
}
