%raisedbutton {
  @include rem(border-radius, 5px);
  @include rem(font-size, 15px);
  @include rem(padding, 17px 40px);
  background-color: $highlight;
  border: 0;
  border-bottom: 5px solid darken($highlight, 10%);
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-style: normal;
  font-weight: $bold;
  letter-spacing: 2px;
  margin: 20px 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    border-bottom-width: 1px;
    color: $white;
    margin-top: 24px;
  }

  &.warning {
    background-color: $warning;
    border-bottom-color: darken($warning, 10%);
  }

  &.cta {
    background-color: $cta;
    border-bottom-color: darken($cta, 10%);
  }

  &.brand {
    background-color: $brand;
    border-bottom-color: darken($brand, 10%);
  }

  &.soft {
    background-color: $soft;
    border-bottom-color: darken($soft, 10%);
    color: $midblue;

    &:hover {
      background-color: $gray;
      color: $darkblue;
    }
  }
}

%flatbutton {
  @extend %raisedbutton;
  @include rem(border-radius, 2px);
  @include rem(font-size, 12px);
  @include rem(padding, 10px 15px);
  border-bottom: 0;
  margin: 0;
  position: relative;

  &.soft {
    background-color: $gray;
    color: $darkblue;
  }

  &:hover {
    margin-top: 0;
  }
}

%arrow-right {
  @include rem(padding-right, 40px);

  &::after {
    @include rem(font-size, 30px);
    @include rem(padding-left, 5px);
    @include rem(top, -7px);
    content: '\2192';
    position: absolute;
  }

  &:after {
    content: '\2192';
    font-size: 30px;
    padding-left: 5px;
    position: absolute;
    top: -7px;
  }
}

%outlinebutton {
  @include rem(border-radius, 5px);
  @include rem(border-width, 2px);
  @include rem(font-size, 15px);
  @include rem(letter-spacing, 1px);
  @include rem(margin, 20px 0);
  @include rem(padding, 20px 60px 20px 20px);
  border-color: $black;
  border-style: solid;
  color: $black;
  cursor: pointer;
  display: inline-block;
  font-style: normal;
  font-weight: $bold;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    background-color: rgba($white, .5);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7fffffff,endColorstr=#7fffffff);

    color: $lighterblue;
    border-color: transparent;
  }
}

%outlinearrow {
  &::after {
    @include rem(font-size, 30px);
    @include rem(padding-left, 15px);
    content: '\2192';
    position: absolute;
    top: 4px;
  }

  &:after {
    content: '\2192';
    font-size: 30px;
    padding-left: 15px;
    position: absolute;
    top: 4px;
  }
}

%iconbutton {
  @extend %outlinebutton;
  @include rem(font-size, 14px);
  @include rem(margin, 10px 0);
  @include rem(padding, 5px 30px 5px 20px);
  display: inline-block;
  font-weight: $regular;

  &:after {
    @include rem(height, 20px);
    @include rem(padding-left, 15px);
    @include rem(width, 7px);
    content: '';
    position: absolute;
    top: 6px;
  }

  &::after {
    @include rem(height, 20px);
    @include rem(padding-left, 15px);
    @include rem(width, 7px);
    background-size: cover;
    content: '';
    position: absolute;
    top: 6px;
  }

  &:hover {
    background-color: rgba($black, .1);
    color: $black;
  }
}

[role="main"] input[type="submit"],
[role="main"] input[type="button"] {
  @extend %raisedbutton;
  @extend %raisedbutton.cta;
  @extend %flatbutton.cta;
  @include appearance(none);
  width: auto;
}

[role="main"] .button {
  @extend %raisedbutton;
}

[role="main"] .button-small {
  @extend %flatbutton;
}

[role="main"] .with-arrow {
  @extend %arrow-right;
}

[role="main"] .button-hero {
  @extend %outlinebutton;
  @extend %outlinearrow;
}

[role="main"] .button-hero-inverse {
  @extend %outlinebutton;
  @extend %outlinearrow;
  border-color: $white;
  color: $white;

  &:hover {
    color: $brand;
  }
}

[role="main"] .button-map {
  @extend %iconbutton;

  &::after {
    background-image: url(asset_path('components/buttons/icon-pin-b.png'));
  }
}

[role="main"] .button-share {
  @extend %iconbutton;

  &::after {
    background-image: url(asset_path('components/buttons/icon-share-b.png'));
  }
}

[role="main"] .button-fill {
  color: $black;
  text-align: center;
  text-decoration: none;
  width: 100%;

  &:hover {
    background-color: $highlight;
    color: $white;
  }

  h2 {
    @include rem(font-size, 24px);
  }

  p {
    @include rem(font-size, 16px);
  }
}

.ie {
  %button-arrow {
    content: '\2192';
    font-size: 30px;
    padding-left: 5px;
    position: absolute;
    top: 4px;
  }

  .button-hero-inverse:after {
    @extend %button-arrow;
    top: -6px;
  }

  .button-hero:after {
    @extend %button-arrow;
  }

  [role="main"] .button-map {
    &:after {
      background-image: url(asset_path('components/buttons/s-icon-pin-b.png'));
    }
  }

  [role="main"] .button-share {
    &:after {
      background-image: url(asset_path('components/buttons/s-icon-share-b.png'));
    }
  }
}
