.page-authorisation {
  background-color: $paleblue;
  box-shadow: 0 -2px 6px 1px rgba($black, 0.1);
  color: $midblue;

  >section {
    @extend %wrapper;
    @extend %clearfix;
    @include rem(padding-bottom, 45px);
    @include rem(padding-top, 30px);
  }

  p {
    @include rem(font-size, 16px);
    @include rem(padding-bottom, 5px);
    font-weight: $light;
    max-width: 100%;
  }

  strong {
    font-weight: $regular;
  }

}

.page-authorisation-text {
  float: left;
}

.page-authorisation-logos {
  clear: left;
  a {
    @include rem(margin-top, 30px);
    display: inline-block;
    text-align: center;
    width: 33%;
  }
  img {
    @include rem(max-height, 50px);
  }
  .apru img {
    @include rem(margin-bottom, 10px);
    @include rem(max-height, 30px);
  }
  .universitas21 img {
    @include rem(margin-bottom, 10px);
    @include rem(max-height, 40px);
  }
  @include breakpoint(desktop) {
    clear: none;
    @include rem(padding-top, 30px);
    float: right;
    a {
      @include rem(margin-left, 45px);
      width: auto;
    }
  }
}

.page-footer {
  background-color: $navy;
  color: $white;

  footer {
    @extend %wrapper;
    @include rem(padding-bottom, 60px);
    @include rem(padding-top, 15px);
  }

  // temp
  p {
    @include rem(padding, 15px 0);
    clear: both;
    color: $blue;
  }

  small {
    @include rem(font-size, 14px);
    clear: left;
    color: $lightblue;
    display: block;
    a {
      color: $lightblue;
      text-decoration: none;
      &:hover {
        color: $white;
      }
    }
  }
}

.page-footer-section {
  @include rem(height, 50px);
  @include rem(line-height, 50px);
  border-bottom: 1px solid $blue;
  clear: both;
  float: left;
  margin-left: 0;
  width: 100%;
  li {
    display: block;
    float: left;
    list-style-type: none;
  }
  a {
    @include rem(font-size, 18px);
    color: $white;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  &.nav {
    border-top: 1px solid $blue;
    height: auto;
    li {
      @include rem(padding-bottom, 10px);
      @include rem(padding-top, 10px);
      margin-left: 3%;
      margin-right: 3%;
      width: 42%;
    }
    a {
      @include rem(font-size, 14px);
    }
    @include breakpoint(desktop) {
      @include rem(margin-bottom, 60px);
      width: 80%;
      li {
        @include rem(padding-right, 30px);
        display: inline;
        float: none;
        margin-left: 0;
        margin-right: 0;
        padding-bottom: 0;
        padding-top: 0;
        width: auto;
      }
      a {
        @include rem(font-size, 18px);        
      }
    }
  }
  &.social {
    @include rem(margin-bottom, 15px);
    @include rem(padding-top, 20px);
    height: auto;
    padding-bottom: 0;
    li {
      text-align: center;
      width: 20%;
      &.social-facebook {
        margin-left: 20%;
      }
      &.social-linkedin {
        margin-right: 20%;
      }
    }
    a {
      text-decoration: none;
    }
    img {
      @include rem(max-width, 32px);
      @include rem(max-width, 32px);
    }
    @include breakpoint(desktop) {
      @include rem(margin-bottom, 60px);
      border-top: 1px solid $blue;
      clear: none;
      text-align: right;
      width: 20%;
      li {
        @include rem(margin-left, 25px);
        display: inline;
        float: none;
        width: auto;
        &.social-facebook {
          margin-left: 0;
        }
        &.social-linkedin {
          margin-right: 0;
        }
      }
    }
  }
}

.page-footer-lockup {
  @include rem(margin, 30px auto);
  display: block;
  max-height: 70px;
}

.page-footer-est1853 {
  clear: both;
  display: block;
  margin: 0 auto;
  @include breakpoint(desktop) {
    display: inline;
    float: right;
  }
}
