.page-footer {
  background-color: $navy;
  clear: left;
  color: $white;
  position: relative;
  z-index: 1;

  footer {
    @extend %wrapper;
    @include rem(padding-bottom, 60px);
    @include rem(padding-top, 15px);
    margin-left: auto;
    margin-right: auto;
  }

  small {
    @include rem(font-size, 12px);
    clear: left;
    color: $lightblue;
    display: block;
    text-align: center;
    a {
      color: $lightblue;
      text-decoration: none;
      &:hover {
        color: $white;
      }
    }
    @include breakpoint(desktop) {
      text-align: left;
    }
  }
}

.page-footer-section {
  @include rem(height, 50px);
  @include rem(line-height, 50px);
  border-bottom: 1px solid $blue;
  clear: both;
  float: left;
  margin-left: 0;
  width: 100%;
  li {
    display: block;
    float: left;
    list-style-type: none;
    margin-left: 0;
  }
  a {
    @include rem(font-size, 15px);
    color: $white;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  &.nav {
    @include rem(padding-bottom, 12px);
    @include rem(padding-top, 8px);
    border-top: 1px solid $blue;
    height: auto;
    li {
      @include rem(padding-bottom, 10px);
      @include rem(padding-top, 10px);
      line-height: 1.1;
      margin-left: 3%;
      margin-right: 3%;
      text-align: right;
      width: 42%;
    }
    /* nth-child for IE8, up to 9 items */
    li:first-child + li,
    li:first-child + li + li + li,
    li:first-child + li + li + li + li + li,
    li:first-child + li + li + li + li + li + li + li {
      text-align: left;
    }
    a {
      @include rem(font-size, 14px);
    }
    @include breakpoint(desktop) {
      @include rem(margin-bottom, 60px);
      width: 80%;
      li {
        @include rem(padding-right, 30px);
        display: inline;
        float: none;
        margin-left: 0;
        margin-right: 0;
        padding-bottom: 0;
        padding-top: 0;
        width: auto;
      }
      a {
        @include rem(font-size, 15px);
      }
    }
  }
  &.social {
    @include rem(margin-bottom, 20px);
    @include rem(padding-top, 20px);
    height: auto;
    padding-bottom: 0;
    li {
      @include rem(padding-bottom, 15px);
      line-height: 1;
      text-align: center;
      width: 20%;
      &.social-facebook {
        margin-left: 20%;
      }
      &.social-linkedin {
        margin-right: 20%;
      }
    }
    a {
      display: inline-block;
      text-decoration: none;
    }
    img {
      @include rem(max-width, 24px);
      @include rem(max-width, 24px);
    }
    @include breakpoint(desktop) {
      @include rem(margin-bottom, 60px);
      border-top: 1px solid $blue;
      clear: none;
      text-align: right;
      width: 20%;
      li {
        @include rem(margin-left, 25px);
        display: inline;
        float: none;
        width: auto;
        &.social-facebook {
          margin-left: 0;
        }
        &.social-linkedin {
          margin-right: 0;
        }
      }
    }
  }
}

.page-footer-lockup {
  @include rem(margin, 30px auto);
  display: block;
  max-height: 70px;
}

.page-footer-est1853 {
  @include rem(padding-bottom, 15px);
  clear: both;
  display: block;
  margin: 0 auto;
  @include breakpoint(desktop) {
    display: inline;
    float: right;
  }
}
