- unless @navigation.nil? || @navigation.empty?
  div#sitemap.no-js role="navigation"
    h2 Web.Unimelb
    == partial :nav_list, locals: { nav_list: @navigation }

/ div role="navigation" id="sitemap"
/   .w
/     h2 Close
/     ul
/       li.home
/         a href="/index.html#home" About us
/       li
/         a href="/index.html#places" Our Research
/       li
/         a href="/index.html#study" Study with us
/       li
/         a href="/" class="parent" Partner with us
/         div class="inner"
/           ul
/             li
/               a href="/partner/research-engagement.html" Research engagement
