%presenters {
  margin: 0 3%;
  width: 94%;

  strong {
    @include rem(font-size, 16px);
    @include rem(padding, 15px 0 5px);
    display: block;
    font-weight: $regular;
  }

  a {
    @include rem(font-size, 14px);
    @include rem(padding-right, 10px);
    color: $lighterblue;
    display: inline-block;
    vertical-align: top;
    width: 50%;

    &:hover {
      color: darken($lighterblue, 10%);
      text-decoration: underline;
    }
  }

  @include breakpoint(desktop) {
    margin-left: 0;
  }

  @include breakpoint(wide) {
    @include rem(padding-left, 15px);
    border-left: 1px solid darken($lightgray, 5%);
    display: table-cell;
    vertical-align: top;
    width: 30%;

    strong {
      padding-top: 0;
    }
  }
}

.uomcontent [role="main"] ul.event-listing {
  @include rem(max-width, $w-lge);
  padding: 0;

  @include breakpoint(desktop) {
    @include rem(border-spacing, 30px);
    display: table;
  }

  a {
    color: $black;
    text-decoration: none;

    &:hover {
      color: $highlight;
    }
  }

  li {
    @include rem(margin-bottom, 45px);
    @include rem(max-width, $w-lge);
    @include rem(padding-left, 15px);
    list-style-type: none;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 0;
    width: 100%;

    @include breakpoint(desktop) {
      display: table-row;
      padding-left: 0;
    }

    li {
      border-bottom: 1px solid darken($lightgray, 5%);
      @include rem(border-left, 5px solid $lighterblue);
      @include rem(margin-left, -15px);
      @include rem(padding-bottom, 20px);
      @include rem(padding-top, 20px);
      margin-bottom: 0;
      padding-left: 0;
      width: auto;

      &:first-child {
        padding-top: 0;
      }

      &:last-child {
        border-bottom: 0;
      }

      @include breakpoint(desktop) {
        @include rem(padding-left, 15px);
        border-left: 0 none;
        border-spacing: 0;
        display: list-item;
        padding-left: 0;
      }
    }
  }

  p {
    @include rem(padding-bottom, 5px);

  }

  h2 {
    @include rem(border-left, 5px solid $lighterblue);
    @include rem(font-size, 26px);
    @include rem(padding-bottom, 10px);
    @include rem(padding-right, 15px);
    border-right: 0 none;
    color: $lighterblue;
    margin: 0 3% 0 0;
    padding-top: 0;
    padding-left: 3%;
    text-transform: none;
    width: 94%;

    strong {
      padding-right: 0.4em;
    }

    @include breakpoint(desktop) {
      @include rem(border-right, 5px solid $lighterblue);
      @include rem(font-size, 14px);
      @include rem(width, 140px);
      border-left: 0 none;
      display: table-cell;
      line-height: 1;
      margin-right: 0;
      padding-left: 0;
      text-align: right;
      vertical-align: top;
      width: auto;

      strong {
        @include rem(font-size, 40px);
        @include rem(padding, 5px 0);
        display: block;
        line-height: .7;

        &.date {
          @include rem(font-size, 60px);
          @include rem(padding-top, 10px);
        }

        &.month {
          @include rem(padding-bottom, 15px);
        }
      }
    }
  }

  ul {
    max-width: 100%;

    @include breakpoint(desktop) {
      display: table-cell;
      margin: 0;
      padding: 0;
    }
  }

  h3 {
    @include rem(font-size, 26px);
    @include rem(padding-bottom, 10px);
    font-weight: $light;
    line-height: 1.3;
    max-width: 100%;

    @include breakpoint(desktop) {
      margin-left: 0;
    }
  }

  .time {
    color: $lighterblue;
    display: block;
    font-weight: $regular;
    margin: 0 3%;
    width: 94%;

    svg {
      @include rem(height, 20px);
      @include rem(margin-top, -4px);
      @include rem(width, 20px);
      display: inline-block;
      fill: $highlight;
      vertical-align: middle;
    }

    @include breakpoint(desktop) {
      margin-left: 0;
    }
  }

  .tags {
    @include rem(margin-top, 10px);
    @include rem(padding, 10px 0);
    border-bottom: 1px solid darken($lightgray, 5%);
    border-top: 1px solid darken($lightgray, 5%);
    color: lighten($midgray, 10%);
    margin-left: 3%;
    margin-right: 3%;
    width: 94%;

    small::after {
      content: ', ';
    }

    small:last-child::after {
      content: '';
    }

    a {
      color: lighten($midgray, 10%);

      &:hover {
        color: $black;
        text-decoration: underline;
      }
    }

    .tag {
      @include adjust-font-size-to(11px);
      @include rem(border-radius, 3px);
      @include rem(margin-right, 10px);
      @include rem(padding, 0 7px 0 3px);
      border: 1px solid $midgray;
      //background-color: $lightblue;
      color: $midgray;
      display: inline-block;
      font-weight: $regular;
      line-height: 14px;
      text-transform: uppercase;

      svg {
        display: inline;
        fill: $midgray;
      }

      [data-icon],
      .icon-label {
        display: inline;
      }
    }

    svg {
      @include rem(height, 13px);
      @include rem(margin-right, 3px);
      @include rem(margin-top, -2px);
      @include rem(width, 13px);
      display: inline-block;
      fill: $midgray;
      vertical-align: middle;
    }

    @include breakpoint(desktop) {
      border-bottom: 0 none;
      border-top: 0 none;
      margin-left: 0;
      margin-top: 0;
      padding: 0;
    }
  }

  .col {
    p {
      max-width: 100%;
    }

    @include breakpoint(wide) {
      @include rem(padding-right, 15px);
      display: table-cell;
      vertical-align: top;
    }
  }

  .presenters {
    @extend %presenters;
  }
}

// Manual fix for 300px diff
.jumpnav-active .uomcontent [role="main"] ul.event-listing {
  @include breakpoint(wide) {
    .col {
      display: block;
      width: 100%;
    }

    .presenters {
      border-left: 0 none;
      display: block;
      padding-left: 0;
      width: 100%;

      strong {
        @include rem(padding-top, 15px);
      }
    }
  }

  @include breakpoint(1400px) {
    .col {
      display: table-cell;
      width: auto;
    }

    .presenters {
      @include rem(padding-left, 15px);
      border-left: 1px solid darken($lightgray, 5%);
      display: table-cell;
      width: 30%;

      strong {
        padding-top: 0;
      }
    }
  }
}

