.uomcontent [role="main"] .mobile-wrap {
  max-width: 94%;
  overflow-x: scroll;
  width: 100%;

  @include breakpoint(desktop) {
    overflow-x: visible;
  }
}

.uomcontent [role="main"] table.mobile-friendly {
  @include leader(1);
  @include rem(max-width, 600px);
  @include trailer(1);
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  width: 100%;

  thead {
    display: none;
  }

  tr {
    th {
      border: 0;
    }

    td {
      border: 0;
      display: block;
      width: auto;

      &::before {
        @include rem(font-size, 14px);
        color: $midgray;
        content: attr(data-label);
        display: block;
        font-style: italic;
      }
    }
  }
}

.uomcontent [role="main"] table,
.uomcontent [role="main"] table.mobile-friendly {
  border-collapse: collapse;

  &.staff-listing {
    border: 0;

    tr td,
    tr td:first-child,
    tr th {
      border: 0;
    }
  }

  tbody th {
    text-align: left;
  }

  tr {
    &.header {
      color: $navy;
      font-weight: $bold;

      th,
      th:first-child {
        @include rem(padding, 20px 10px 10px 10px);
        background-color: transparent;
        border-top: 0;
        text-align: left;
      }
    }

    th {
      @include rem(padding, 10px);
      border: 1px solid $lightergray;
      text-align: left;
      vertical-align: top;
    }

    td {
      @include rem(padding, 10px);
      border: 1px solid $lightergray;
      text-align: left;
      vertical-align: top;

      &:first-child {
        border-top: 1px solid $lightergray;
        padding-bottom: 0;
      }

      &:empty {
        display: none;
      }
    }
  }

  &.zebra {
    border: 0;
    border-bottom: 1px solid $lightergray;

    thead th,
    tr td,
    tr td:first-child {
      border: 0;
    }
    thead th {
      border-bottom: 2px solid $lightergray;
    }
    tr:nth-child(odd) td {
      background-color: $paleblue;
    }
  }

  @include breakpoint(desktop) {
    @include rem(max-width, $w-mid);
    border: 1px solid $lightergray;
    overflow: visible;

    thead {
      display: table-header-group;

      th {
        @include rem(font-size, 14px);
        @include rem(padding, 10px);
        border: 1px solid $lightergray;
        border-bottom-width: 2px;
        text-align: left;
        vertical-align: bottom;
      }
    }

    tr {
      &.header {
        th,
        th:first-child {
          @include rem(padding, 10px);
          background-color: $paleblue;
          border: 1px solid $lightergray;
          text-align: left;
        }
      }

      td {
        @include rem(font-size, 16px);
        @include rem(padding, 10px);
        border: 1px solid $lightergray;
        display: table-cell;

        &:first-child {
          @include rem(padding-bottom, 10px);
        }

        &:empty {
          display: table-cell;
        }

        &::before {
          display: none;
        }
      }
    }

    &.wide {
      @include rem(max-width, $w-lge);
      table-layout: fixed;
    }
  }
}
