@import '../../shared/patterns_rem';
@import '../../shared/patterns_media-queries';
@import '../../shared/patterns_accessibility';

// Wrapper
%wrapper {
  @include rem(max-width, 1400px);
  @include rem(padding, 15px);
  margin: 0 auto;
}

%clearfix {
  zoom: 1;

  &:before,
  &:after {
    content: '';
    display: table;
  }

  &::before,
  &::after {
    content: '';
    display: table;
  }

  &:after {
    clear: both;
  }

  &::after {
    clear: both;
  }
}

%imgreplace {
  background-color: transparent;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

%normalise {
  /* autoprefixer: off */
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  /* autoprefixer: on */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
