.uomcontent {
  p.search-spelling {
    @include trailer(1);
    border-bottom: 1px solid rgba($black, .1);

    strong {
      font-style: italic;
    }
  }

  h2.search-title {
    @include adjust-font-size-to(12px);
    color: $midgray;
  }

  ol.search-results {
    padding-left: 0;
    padding-right: 0;
    width: 94%;

    @include breakpoint(desktop) {
      width: 100%;
    }

    & > li {
      @include clearfix;
      @include padding-trailer(1);
      @include trailer(1);
      border-bottom: 1px solid rgba($black, .1);
      list-style-type: none;
      margin-left: 0;
      width: auto;

      &:last-child {
        @include padding-trailer(1);
      }

      &.person {
        @include fallbackAvatarWrapper;

        // work-around for `with-aside` layout
        div {
          clear: none;
          width: auto;
        }

        .person__photo {
          background-position: center;
          background-size: cover;
          border-radius: 50%;
          width: 85px;
          height: 85px;

          // When using the background-image technique, show a fallback avatar if the photo fails to load
          &:not(img) {
            @include fallbackAvatar;
          }
        }

        .person__info {
          margin-left: 0;
          overflow: hidden;
        }

        .person__contact {
          @include padding-leader(0.5);

          a {
            white-space: nowrap;
          }
        }

        .person__phone {
          @include adjust-font-size-to(18px);
        }

        @include breakpoint(desktop) {
          .person__info {
            display: table;
          }

          .person__profile,
          .person__contact {
            display: table-cell;
            vertical-align: top;
          }

          .person__profile {
            @include rem(padding-right, 24px);
            width: 100%;
          }

          .person__contact {
            padding-top: 0;
            text-align: right;
          }

          .person__phone {
            @include adjust-font-size-to(20px);
            white-space: nowrap;

            & + .person__email {
              @include padding-leader(0.5);
            }
          }
        }
      }
    }

    a {
      text-decoration: none;
    }

    img,
    .person__photo {
      @include rem(margin-right, 16px);
      @include rem(max-width, 100px);
      display: block;
      float: left;

      @include breakpoint(desktop) {
        max-width: 130px;
      }
    }

    h3 {
      @include adjust-font-size-to(20px);
      @include padding-trailer(0.5);
      font-weight: $regular;
      width: auto;
    }

    p {
      @include adjust-font-size-to(15px);
      @include padding-trailer(0);
      color: $black;
      width: auto;

      @include breakpoint(desktop) {
        @include adjust-font-size-to(16px);
      }

      &.url {
        @include adjust-font-size-to(12px);
        color: $highlight;

        & > a {
          @include ellipsis;
        }
      }

      &.more {
        @include padding-leader(0.5);
        clear: left;

        & > a::after {
          @include rem(font-size, 20px);
          @include rem(padding-left, 5px);
          content: '\2192';
          line-height: 0;
        }
      }

      & > [data-icon="lock"] {
        @include rem(width, 20px);
        @include rem(height, 20px);

        & > .icon-over {
          display: block;
        }
      }
    }
  }
}