@keyframes rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-180deg);
  }
}

.uomcontent {
  .loading {
    @include padding-leader(3);
    @include padding-trailer(3);
    width: 100%;

    span {
      display: block;
      height: 0;
      text-indent: -999em;
    }
  }

  .loading-blue {
    @extend .loading;
    background-color: $darkblue;

    .cube {
      background-color: $white;
    }
  }

  .cube {
    @include rem(height, 50px);
    @include rem(width, 50px);
    animation: rotateplane 1.2s infinite ease-in-out;
    background-color: $darkblue;
    margin: 0 auto;
  }
}
