%headerblock {
  @include rem(font-size, 15px);
  color: $darkblue;
  display: inline-block;
  font-weight: $regular;
  vertical-align: middle;
}

// .uomcontent .page-header.fixed:not(.floating) + .page-inner {
//   @include rem(margin-top, 40px);
//   transition: 0s .2s margin-top;
// }

.uomcontent .page-header {
  @extend %normalise;
  @include rem(font-size, 20px);
  @include rem(height, 60px);
  background-color: $white;
  color: $black;
  font-family: $ff-sans;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 12;

  /* Work-around for conflict with other `fixed` class, which sets the font to `$ff-fixed` */
  &.fixed {
    font-family: $ff-sans;
  }

  @include breakpoint(desktop) {
    @include rem(height, 90px);
    position: absolute;
  }

  * {
    @extend %normalise;
    font-family: $ff-sans;
  }

  @include breakpoint(desktop) {
    &.fixed:not(.floating) {
      @include rem(height, 40px);
      background-color: $white;
      position: fixed;
      width: 100%;

      .page-header-logo {
        position: absolute;
        top: -60px;
        transition: .2s top;

        @include breakpoint(desktop) {
          top: -140px;
        }
      }

      a,
      span {
        @include rem(height, 40px);
        @include rem(line-height, 40px);
        vertical-align: middle;

        [data-icon] {
          @include rem(height, 20px);
          @include rem(margin-bottom, 4px);
          @include rem(margin-right, 5px);
          @include rem(width, 20px);
          display: inline-block;
          line-height: 1;
          padding: 0;

          span.icon-over {
            @include rem(height, 20px);
            @include rem(margin-left, -20px);
            @include rem(width, 20px);
            vertical-align: top;
          }
        }
      }

      a > span:not([data-icon]) {
        vertical-align: baseline;
      }

      header {
        @include rem(height, 40px);
        @include rem(line-height, 40px);
        background-color: transparent;
        box-shadow: 0 3px 6px -3px rgba($black, .3);
        width: 100%;
      }

      .page-header-navigation {
        @include rem(height, 40px);
        @include rem(line-height, 30px);
        @include rem(padding-left, 15px);
        transition: .3s padding-left .1s, .2s height;
        vertical-align: top;

        ol.page-local-history {
          line-height: 1;
        }

        .mobile-nav .styled-select.alt {
          @include rem(margin-top, 5px);
        }
      }

      .page-header-tools .page-header-icon {
        @include rem(height, 40px);
        border-left-color: $lightgray;
        line-height: 1;
        vertical-align: top;

        svg {
          @include rem(height, 14px);
          @include rem(margin-bottom, 3px);
          @include rem(margin-top, 7px);
          @include rem(width, 14px);
        }
      }
    }
  }

  header {
    @include rem(height, 60px);
    background: $white;
    box-shadow: 0 6px 6px -3px rgba($black, .3);
    display: table;
    overflow: visible;
    padding: 0;
    position: relative;
    width: 100%;
    z-index: 3;

    @include breakpoint(desktop) {
      @include rem(height, 90px);
      border-bottom: 0 none;
    }
  }

  a {
    @extend %headerblock;
    @include rem(height, 60px);
    @include rem(line-height, 60px);
    font-weight: $light;
    text-decoration: none;

    &:hover, &:focus {
      color: $midblue;
      text-decoration: underline;

      .icon {
        fill: $midblue;
      }
    }

    &.page-header-logo {
      @include rem(height, 60px);
      @include rem(width, 60px);
      background-color: $darkblue;
      display: block;
      left: 0;
      position: absolute;
      top: 0;
      transition: .2s top .3s;
      z-index: 1;

      // @media screen {
        svg {
          @include rem(height, 60px);
          @include rem(width, 60px);

          @include breakpoint(desktop) {
            height: 100%;
            width: 100%;
          }
        }

        img {
          border: 0;
          max-height: 100%;
          max-width: 100%;
        }
      // }
    }

    @include breakpoint(desktop) {
      @include rem(height, 90px);
      @include rem(line-height, 90px);

      &.page-header-logo {
        @include rem(margin-left, 40px);
        @include rem(height, 140px);
        @include rem(width, 140px);
        position: absolute;
      }
    }

    &.wide {
      @include rem(width, 140px);
      background-color: transparent;

      svg {
        @include rem(width, 140px);
      }

      @include breakpoint(desktop) {
        @include rem(width, 320px);

        svg {
          @include rem(width, 320px);
        }
      }
    }

    &.wide + .page-header-navigation {
      @include rem(padding-left, 155px);

      @include breakpoint(desktop) {
        @include rem(padding-left, 380px);
      }
    }
  }

  span {
    @extend %headerblock;
    @include rem(font-size, 13px);
    @include rem(height, 40px);
    @include rem(line-height, 40px);
    @include rem(padding, 0 10px 5px 10px);
    font-weight: $light;

    @include breakpoint(desktop) {
      @include rem(height, 75px);
      @include rem(line-height, 75px);
      @include rem(padding, 0 10px 7.5px 10px);
    }
  }
}

.uomcontent .page-header-navigation {
  @include rem(padding, 0 15px 0 75px);
  display: table-cell;
  left: 0;
  transition: .3s padding-left;
  vertical-align: baseline;

  .mobile-nav {
    display: none;

    .styled-select.alt {
      @include rem(margin-top, 10px);
      position: relative;

      select {
        @include rem(padding, 5px 25px 5px 10px);
        border: 0;
        border-radius: 3px;
        color: $darkblue;
        max-width: 100%;

        &:hover {
          color: $darkblue;
        }
      }

    }

    @-moz-document url-prefix() {
      @include rem(margin-top, 10px);
      border: 1px solid $highlight;
      border-radius: 3px;
      overflow: hidden;

      .styled-select.alt {
        border: 0;
        margin-top: 0;
        width: calc(100% + 17px) !important;

        select {
          -moz-appearance: none;
          background-position: calc(99% - 17px) center;
          overflow: -moz-hidden-unscrollable;
        }
      }
    }

    .styled-select svg.icon {
      @include rem(height, 20px);
      @include rem(right, 5px);
      @include rem(top, 5px);
      @include rem(width, 20px);
      fill: $darkblue;
      position: absolute;
    }

    @include breakpoint(0) {
      display: block;
    }

    @include breakpoint(desktop) {
      display: none;
    }
  }

  a,
  span {
    display: inline;
  }

  @include breakpoint(0) {
    a,
    span {
      display: none;
    }
  }

  [data-icon] {
    @include rem(height, 20px);
    @include rem(margin-bottom, 4px);
    @include rem(margin-right, 5px);
    @include rem(width, 20px);
    display: inline-block;
    line-height: 1;
    padding: 0;

    span.icon-over {
      @include rem(height, 20px);
      @include rem(margin-left, -20px);
      @include rem(width, 20px);
      vertical-align: top;
    }
  }

  @include breakpoint(desktop) {
    @include rem(height, 90px);
    @include rem(padding-left, 205px);
    @include rem(margin-right, 260px);
    display: block;
    overflow: hidden;
    position: absolute;
    text-overflow: ellipsis;
    white-space: nowrap;

    a,
    span {
      display: inline;
    }
  }

  .page-local-history {
    color: $darkblue;
    display: none;
    margin: 0;
    padding: 0;

    [data-icon] {
      @include rem(height, 20px);

      .icon {
        @include rem(height, 20px);
      }
    }

    @include breakpoint(desktop) {
      display: block;
    }

    a {
      color: $darkblue;

      &:hover,
      &:focus {
        color: $midblue;

        .icon {
          fill: $midblue;
        }
      }

      &:active {
        color: $black;
      }
    }
  }

  div.page-local-history {
    padding: 0 30px 0 0;
  }
}

.uomcontent .page-local-history {
  @extend %wrapper;
  color: $white;

  a {
    color: $white;
    font-weight: $light;
  }
}

.uomcontent .page-header-navigation ol.page-local-history {
  @include rem(line-height, 90px);
  list-style-type: none;

  li {
    @include rem(font-size, 15px);
    @include rem(padding-right, 10px);
    display: inline-block;
    width: auto;

    &::after {
      @include rem(padding-left, 10px);
      content: '/';
      color: $darkblue;
      display: inline-block;
      font-weight: $light;
      vertical-align: middle;
    }

    &:last-child::after {
      display: none;
    }
  }

  span {
    @include rem(font-size, 15px);
    height: auto;
    line-height: 1;
    padding: 0;
  }

  a > span {
    vertical-align: baseline;
  }
}

.uomcontent div.page-local-history {
  @include rem(padding, 0 30px);

  span {
    @include rem(padding, 0 10px);
  }
}

.uomcontent .modal__blanket.white {
  background-color: $white;
  display: block;
  margin-top: 60px;
  opacity: .95;

  @include breakpoint(desktop) {
    margin-top: 90px;
  }
}

.uomcontent.search-active {
  position: fixed;
  width: 100%;

  @include breakpoint(desktop) {
    position: static;
    width: auto;

    .page-header.fixed:not(.floating) header {
      height: 90px;
    }
  }
}

.uomcontent .page-header-search {
  background: $white;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 16;

  display: none;

  &.active {
    display: block;
  }

  @include breakpoint(desktop) {
    position: relative;
  }

  form {
    display: table;
    height: 100%;
    padding-left: 10px;
    width: 100%;

    fieldset {
      display: table-cell;
      margin-right: 10px;
      margin-top: 5px;
      vertical-align: top;

      input[type="search"],
      .search-button {
        height: 40px;
      }

      label {
        color: $navy;
        font-size: 9px;
        position: absolute;
        text-transform: uppercase;
        top: -12px;
      }

      .search-button {
        margin-top: 0;
      }
    }

    @include breakpoint(desktop) {
      padding-left: 20px;

      fieldset {
        float: right;
        margin-right: 20px;
        margin-top: 20px;
        min-width: 400px;

        input[type="search"],
        .search-button {
          height: 45px;
        }

        label {
          top: -15px;
        }
      }
    }

    .page-header-icon {
      @include rem(font-size, 9px);
      @include rem(padding, 0 10px);
      @include rem(width, 40px);
      cursor: pointer;
      display: table-cell;
      font-weight: $regular;
      line-height: 1;
      text-align: center;
      text-transform: uppercase;
      transition: background-color 0.3s, color 0.3s, transform 0.3s;
      vertical-align: top;

      color: $navy;

      box-sizing: content-box;
      /* autoprefixer: off */
      -moz-box-sizing: content-box;
      /* autoprefixer: on */

      svg {
        @include rem(height, 20px);
        @include rem(margin-bottom, 4px);
        @include rem(margin-top, 14px);
        @include rem(width, 20px);
        fill: currentColor;
        display: block;
        margin-left: auto;
        margin-right: auto;

        @include breakpoint(desktop) {
          @include rem(height, 36px);
          @include rem(margin-bottom, 4px);
          @include rem(margin-top, 20px);
          @include rem(width, 36px);
        }
      }

      @include breakpoint(desktop) {
        @include rem(font-size, 10px);
        @include rem(padding, 0 23px);
      }

      &:hover, &:focus {
        background-color: $darkblue;
        color: $white;
        text-decoration: none;
      }
    }
  }
}

.uomcontent .page-header-tools {
  @include rem(width, 124px);
  display: table-cell;
  right: 0;
  text-align: right;
  top: 0;
  vertical-align: top;

  @include breakpoint(desktop) {
    @include rem(width, 200px);
    background-color: $white;
    position: absolute;
  }

  &.with-login {
    @include breakpoint(tablet) {
      @include rem(width, 186px);
    }

    @include breakpoint(desktop) {
      @include rem(width, 300px);
    }
  }

  .page-header-icon {
    @include rem(font-size, 9px);
    @include rem(padding, 0 10px);
    @include rem(width, 40px);
    border-left: 1px solid darken($lightgray, 10%);
    font-weight: $regular;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;

    box-sizing: content-box;
    /* autoprefixer: off */
    -moz-box-sizing: content-box;
    /* autoprefixer: on */

    svg {
      @include rem(height, 20px);
      @include rem(margin-bottom, 4px);
      @include rem(margin-top, 14px);
      @include rem(width, 20px);
      fill: currentColor;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    &:hover, &:focus {
      background-color: $darkblue;
      color: $white;
      text-decoration: none;
    }

    &[data-modal-target="uom-login"] {
      display: none;

      @include breakpoint(tablet) {
        display: inline-block;
      }
    }

    &[title="Search"] {
      display: inline-block;
    }
  }

  @include breakpoint(desktop) {
    .page-header-icon {
      @include rem(font-size, 10px);
      @include rem(padding, 0 23px);

      svg {
        @include rem(height, 24px);
        @include rem(margin-bottom, 10px);
        @include rem(margin-top, 26px);
        @include rem(width, 24px);
      }
    }
  }
}

.uomcontent .page-header.floating {
  background-color: transparent;
  position: relative;

  @include breakpoint(desktop) {
    position: absolute;
  }

  .page-header-logo {
    @include rem(margin-left, 15px);
    @include rem(margin-top, 15px);
    position: absolute;

    @include breakpoint(desktop) {
      @include rem(margin-left, 30px);
      @include rem(margin-top, 30px);
    }
  }

  .page-header-home {
    @include rem(left, 90px);
    @include rem(margin-top, 15px);
    @include rem(width, 160px);
    color: $white;
    font-weight: $light;
    line-height: 1.3;
    position: absolute;

    &:hover, &:focus {
      color: $white;
    }

    @include breakpoint(desktop) {
      @include rem(font-size, 20px);
      @include rem(left, 200px);
      @include rem(margin-top, 30px);
    }
  }

  .page-header-tools {
    @include rem(margin, 15px);
    background-color: transparent;
    position: absolute;

    a.page-header-icon {
      @include rem(border-radius, 3px);
      background-color: transparent;
      border: 1px solid transparent;
      color: $white;
      transition: background-color 0.3s, color 0.3s, transform 0.3s;

      &:hover, &:focus {
        background-color: rgba($white, 0.7);
        color: $black;
        transform: scale(1.1);
      }
    }

    @include breakpoint(desktop) {
      @include rem(margin, 40px);

      a.page-header-icon {
        @include rem(height, 63px);
        @include rem(margin-left, 20px);
        @include rem(padding, 7px 15px 0);

        svg {
          @include rem(margin-top, 7px);
        }
      }
    }
  }

  &.reverse {
    .page-header-home {
      color: $black;
    }

    .page-header-tools a.page-header-icon {
      color: $navy;
    }
  }

  &.short {
    @include rem(padding, 15px);
    background-image: url(/assets/headers/header_light.jpg);
    background-position: center center;
    background-size: cover;
    height: auto;
    position: relative;
    white-space: nowrap;

    .page-header-logo,
    .page-header-home,
    .page-header-tools {
      margin: 0;
      position: static;
    }

    .page-header-logo {
      @include rem(margin-right, 11px);
      display: inline-block;
      vertical-align: middle;
    }

    .page-header-home {
      @include rem(width, 128px);
      display: inline-block;
      height: auto;
      white-space: normal;

      h1 {
        @include rem(font-size, 15px);
        display: inline;
        line-height: 1.5;
      }
    }

    .page-header-tools {
      @include rem(right, 15px);
      @include rem(top, 15px);
      position: absolute;
    }

    & + .page-inner {
      padding-top: 0;

      .floating {
        display: none;
      }

      [role="main"] > *:first-child {
        padding-top: 0;
      }
    }

    @include breakpoint(tablet) {
      .page-header-home {
        @include rem(width, 192px);
      }
    }

    @include breakpoint(desktop) {
      @include rem(padding, 70px 45px);

      .page-header-logo {
        @include rem(height, 120px);
        @include rem(margin-right, 31px);
        @include rem(width, 120px);
      }

      .page-header-home {
        @include rem(width, 300px);

        h1 {
          @include rem(font-size, 24px);
        }
      }

      .page-header-tools {
        @include rem(margin-top, -(72px / 2));
        @include rem(right, 40px);
        top: 50%;
      }
    }
  }
}

.uomcontent #uom-login.modal__dialog {
  @include rem(max-width, 450px);
  margin-left: auto;
  margin-right: auto;
}

.ie8 {
  .uomcontent .page-header {
    border-bottom: 1px solid #f0f0f0;

    header {
      border-bottom: 1px solid #f0f0f0;
    }

    .page-local-history {
      display: block;
      line-height: 56px;

      li {
        line-height: 56px;

        &:after {
          @include rem(padding-left, 10px);
          content: '/';
          color: $darkblue;
          display: inline-block;
          font-weight: $light;
          vertical-align: middle;
        }

        &.last:after {
          display: none;
        }
      }
    }

    &.floating {
      border-bottom: 0 none;
    }

    .page-header-tools {
      @include rem(width, 186px);

      a.page-header-icon {
        display: inline-block;
        line-height: 60px;

        &:hover {
          color: $white;
        }
      }
    }
  }
}

.ie9 {
  .uomcontent .page-header {
    header {
      position: static;
    }

    .page-header-tools {
      background-color: $white;
      position: absolute;
    }

    &.floating .page-header-tools {
      background-color: transparent;
    }
  }
}
