@define-mixin headerblock {
  font-size: pxtorem(15);
  color: var(--col-white);
  display: inline-block;
  vertical-align: middle;
}

@define-mixin control {
  border-radius: 3px;
  margin-top: .3125rem;
  padding: .5rem pxtorem(10);
  font-family: var(--ff-sans);

  &.invalid {
    background-color: var(--col-white);
    border-color: var(--col-pink-mid-2);
    color: var(--col-pink-mid-2);
  }

  @media screen and (--bp-desktop) {
    width: 25rem;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}

@keyframes slideFromRight {
  from {
    transform: translateX(100%);
  }
}

@keyframes slideFromTop {
  from {
    transform: translateY(-100%);
  }
}

.uomcontent .page-header {
  @mixin normalise;
  font-size: pxtorem(20);
  height: 3.75rem;
  background-color: var(--col-navy-main);
  color: var(--col-white);
  font-family: var(--ff-sans);
  position: relative;
  top: 0;
  width: 100%;
  z-index: calc(var(--z-navigation) + 2);

  /* Work-around for conflict with other `fixed` class, which sets the font to `var(--ff-fixed)` */
  &.fixed {
    font-family: var(--ff-sans);
  }

  @media screen and (--bp-desktop) {
    height: pxtorem(115);
    position: absolute;
  }

  * {
    @mixin normalise;
    font-family: var(--ff-sans);
  }

  @media screen and (--bp-desktop) {
    &.fixed:not(.floating) {
      height: 2.5rem;
      background-color: var(--col-navy-main);
      position: fixed;
      width: 100%;

      .page-header-logo {
        position: absolute;
        opacity: 0;
        transition: .2s opacity;
      }

      a,
      span {
        height: 2.5rem;
        line-height: 2.5rem;
        vertical-align: middle;

        [data-icon] {
          height: pxtorem(20);
          margin-bottom: .25rem;
          margin-right: .3125rem;
          width: pxtorem(20);
          display: inline-block;
          line-height: 1;
          padding: 0;
        }
      }

      a > span:not([data-icon]) {
        vertical-align: baseline;
      }

      header {
        height: 2.5rem;
        line-height: 2.5rem;
        background-color: transparent;
        width: 100%;
      }

      .page-header-navigation {
        height: 2.5rem;
        line-height: pxtorem(30);
        transform: translateX(.9375rem);
        transition: .3s transform .1s, .2s height;
        vertical-align: top;
        position: relative;

        ol.page-local-history {
          line-height: 1;
        }

        .mobile-nav .styled-select.alt {
          margin-top: .3125rem;
        }
      }

      .page-header-tools .page-header-icon {
        font-size: pxtorem(12);
        height: 2.5rem;
        line-height: 1;
        vertical-align: top;

        svg {
          height: .875rem;
          margin-bottom: pxtorem(3);
          margin-top: .4375rem;
          width: .875rem;
        }
      }
    }
  }

  header {
    height: 3.75rem;
    background-color: var(--col-navy-main);
    display: table;
    overflow: visible;
    padding: 0;
    position: relative;
    width: 100%;
    z-index: 3;

    @media screen and (--bp-desktop) {
      height: pxtorem(115);
      border-bottom: 0 none;
    }
  }

  a {
    @mixin headerblock;
    height: 3.75rem;
    line-height: 3.75rem;
    text-decoration: none;

    &:hover,
    &:focus {
      color: var(--col-blue-mid-2);
    }

    &:hover {
      text-decoration: underline;
    }

    &.page-header-logo {
      height: 3.75rem;
      width: 3.75rem;
      background-color: var(--col-navy-main);
      display: block;
      left: 0;
      padding: .5rem;
      position: absolute;
      top: 0;
      opacity: 1;
      transition: .2s opacity .3s;

      img {
        height: 100%;
        width: 100%;
      }
    }

    @media screen and (--bp-desktop) {
      height: pxtorem(115);
      line-height: pxtorem(115);

      &.page-header-logo {
        margin-left: pxtorem(25);
        height: pxtorem(115);
        width: pxtorem(115);
        padding: pxtorem(20);
        position: absolute;
      }
    }

    &.wide {
      width: 8.75rem;
      background-color: transparent;

      svg {
        width: 8.75rem;
      }

      @media screen and (--bp-desktop) {
        width: 20rem;

        svg {
          width: 20rem;
        }
      }
    }

    &.wide + .page-header-navigation {
      transform: translateX(9.6875rem);

      @media screen and (--bp-desktop) {
        transform: translateX(23.75rem);
      }
    }
  }

  span {
    @mixin headerblock;
    font-size: .8125rem;
    height: 2.5rem;
    line-height: 2.5rem;
    padding: 0 pxtorem(10) .3125rem pxtorem(10);

    @media screen and (--bp-desktop) {
      height: 4.6875rem;
      line-height: 4.6875rem;
      padding: 0 pxtorem(10) .46875rem pxtorem(10);
    }
  }
}

.uomcontent .page-header-navigation {
  padding: 0 pxtorem(15) 0;
  display: table-cell;
  left: 0;
  transition: .3s transform;
  transform: translateX(4.6875rem);
  vertical-align: baseline;

  .mobile-nav {
    display: block;

    .styled-select.alt {
      margin-top: pxtorem(10);
      position: relative;

      select {
        padding: .3125rem 1.5625rem .3125rem pxtorem(10);
        border: 0;
        border-radius: 3px;
        color: var(--col-navy-main);
        max-width: 100%;

        &:hover {
          color: var(--col-navy-main);
        }
      }

    }

    @-moz-document url-prefix() {
      margin-top: pxtorem(10);
      border: 1px solid var(--col-blue-mid-2);
      border-radius: 3px;
      overflow: hidden;

      .styled-select.alt {
        border: 0;
        margin-top: 0;
        width: calc(100% + 17px) !important;

        select {
          -moz-appearance: none;
          background-position: calc(99% - 17px) center;
          overflow: -moz-hidden-unscrollable;
        }
      }
    }

    .styled-select svg.icon {
      height: pxtorem(20);
      right: .3125rem;
      top: .3125rem;
      width: pxtorem(20);
      fill: var(--col-navy-main);
      position: absolute;
    }

    @media screen and (--bp-desktop) {
      display: none;
    }
  }

  a,
  span {
    display: none;
  }

  [data-icon] {
    height: pxtorem(20);
    margin-bottom: .25rem;
    margin-right: .3125rem;
    width: pxtorem(20);
    display: inline-block;
    line-height: 1;
    padding: 0;
  }

  @media screen and (--bp-desktop) {
    height: pxtorem(115);
    transform: translateX(pxtorem(150));
    margin-right: 16.25rem;
    display: block;
    overflow: hidden;
    position: absolute;
    text-overflow: ellipsis;
    white-space: nowrap;

    a,
    span {
      display: inline;
    }
  }

  .page-local-history {
    color: var(--col-navy-main);
    display: none;
    margin: 0;
    padding: 0;

    [data-icon] {
      height: pxtorem(20);

      .icon {
        height: pxtorem(20);
      }
    }

    @media screen and (--bp-desktop) {
      display: block;
    }

    a {
      color: var(--col-blue-light);

      &:hover,
      &:focus {
        color: var(--col-white);

        .icon {
          fill: var(--col-white);
        }
      }

      &:active {
        color: var(--col-blue-light);
      }

      span {
        color: inherit;
      }
    }
  }

  div.page-local-history {
    padding: 0 30px 0 0;
  }
}

.uomcontent .page-local-history {
  @mixin injection-wrapper;
  color: var(--col-white);

  a {
    color: var(--col-white);
  }
}

.uomcontent .page-header-navigation ol.page-local-history {
  line-height: pxtorem(115);
  list-style-type: none;

  li {
    font-size: pxtorem(17);
    padding-right: pxtorem(13);
    display: inline-block;
    width: auto;

    &::after {
      border-right: 2px solid rgba(255, 255, 255, 0.6);
      border-bottom: 2px solid rgba(255, 255, 255, 0.6);
      content: '';
      display: inline-block;
      height: .4em;
      margin-left: pxtorem(12);
      transform: rotate(-45deg);
      vertical-align: middle;
      width: .4em;
    }

    &:last-child::after {
      display: none;
    }

    &:last-child {
      span {
        font-weight: var(--fw-semibold);
      }
    }
  }

  span {
    font-size: pxtorem(17);
    height: auto;
    line-height: 1;
    padding: 0;
  }

  a > span {
    vertical-align: baseline;
  }
}

.uomcontent div.page-local-history {
  padding: 0 pxtorem(30);

  span {
    padding: 0 pxtorem(10);
  }
}

.uomcontent .modal__blanket.white {
  margin-top: 3.75rem;
  animation: fadeIn .2s backwards;
  background-color: var(--col-white);
  display: block;
  opacity: .95;
  z-index: var(--z-navigation);

  @media screen and (--bp-desktop) {
    margin-top: pxtorem(115);
  }
}

.uomcontent.search-active {
  position: relative;
  width: 100%;
  z-index: calc(var(--z-navigation) + 1);

  .page-header-tools {
    display: none;
  }

  @media screen and (--bp-desktop) {
    width: auto;

    .page-header,
    .page-header.fixed:not(.floating)  {
      span {
        height: 4.6875rem;
        line-height: 1;

        &[data-icon] {
          width: pxtorem(24);
          height: pxtorem(24);
          margin: 0;
        }
      }

      .page-header-icon {
        height: pxtorem(115);
        line-height: 1;
        vertical-align: top;
      }
    }
  }
}

.uomcontent .page-header-search {
  height: 3.75rem;
  animation: fadeIn .2s backwards;
  background: color(var(--col-white) alpha(95%));
  display: none;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: var(--z-navigation);

  &.active {
    display: block;
  }

  @media screen and (--bp-desktop) {
    height: pxtorem(115);
  }

  form {
    padding-left: pxtorem(10);
    animation: slideFromTop .2s backwards;
    display: table;
    height: 100%;
    width: 100%;

    fieldset {
      padding-top: .3125rem;
      padding-right: pxtorem(10);
      display: table-cell;
      vertical-align: top;

      input[type="search"] {
        @mixin textcontrol;
        border-radius: 3px 0 0 3px;
        height: 2.5rem;
        margin-top: pxtorem(3);
        animation: fadeIn .2s backwards, slideFromRight .2s .1s backwards;
        appearance: none;
        border-right: 0;
        display: block;
        width: 100%;
      }

/* dupe */
      .inline {
        display: table;
        overflow: hidden;
        position: relative;
        width: 100%;

        input[type="image"] {
          @mixin inlinebutton;
          border-radius: 0 3px 3px 0;
          margin: pxtorem(15) 0 0;
          width: 2.8125rem;
          padding: 0;
          position: absolute;
          right: 0;
          top: 0;

          span {
            display: none;
          }

          svg {
            height: pxtorem(24);
            width: pxtorem(24);
            background-color: transparent;
            cursor: pointer;
            fill: currentColor;
            max-height: 100%;
          }
        }

        .inline-button {
          @mixin inlinebutton;
          border-radius: 0 3px 3px 0;
          height: 2.5rem;
          margin: pxtorem(3) 0 0;
          padding: 0 pxtorem(15);

          span.small {
            color: inherit;
            padding: 0;

            svg {
              height: pxtorem(24);
              width: pxtorem(24);
            }
          }
        }

        & > span {
          display: table-cell;
          padding: 0;
          vertical-align: middle;

          &.fill {
            width: 100%;
          }
        }
      }
/* dupe */

      .icon {
        fill: var(--col-white);
        vertical-align: top;
      }
    }

    @media screen and (--bp-desktop) {
      max-width: pxtorem(500);
      padding-left: pxtorem(20);
      float: right;
      width: 100%;

      fieldset {
        padding-top: .3125rem;
      }
    }

    .page-header-icon {
      font-size: .5625rem;
      padding: 0 pxtorem(10);
      width: 2.5rem;
      box-sizing: content-box;
      color: var(--col-navy-main);
      cursor: pointer;
      display: table-cell;
      font-weight: var(--fw-regular);
      line-height: 1;
      text-align: center;
      text-transform: uppercase;
      transition: background-color 0.3s, color 0.3s, transform 0.3s;
      vertical-align: top;

      svg {
        height: pxtorem(20);
        margin-bottom: .25rem;
        margin-top: pxtorem(14);
        width: pxtorem(20);
        fill: currentColor;
        display: block;
        margin-left: auto;
        margin-right: auto;

        @media screen and (--bp-desktop) {
          height: pxtorem(36);
          margin-bottom: .25rem;
          margin-top: pxtorem(20);
          width: pxtorem(36);
        }
      }

      @media screen and (--bp-desktop) {
        font-size: pxtorem(10);
        padding: 0 1.4375rem;
      }

      &:hover,
      &:focus {
        background-color: var(--col-navy-main);
        color: var(--col-white);
        text-decoration: none;
      }
    }
  }
}

.uomcontent .page-header-tools {
  width: 7.75rem;
  display: table-cell;
  right: 0;
  text-align: right;
  top: 0;
  vertical-align: top;

  @media screen and (--bp-desktop) {
    width: 12.5rem;
    position: absolute;
  }

  &.with-login {
    @media screen and (--bp-tablet) {
      width: 11.625rem;
    }

    @media screen and (--bp-desktop) {
      width: 18.75rem;
    }
  }

  .page-header-icon {
    font-size: .5625rem;
    padding: 0 pxtorem(10);
    width: 2.5rem;
    border-left: 1px solid rgba(255,255,255,0.15);
    box-sizing: content-box;
    font-weight: var(--fw-regular);
    line-height: 1;
    text-align: center;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;

    svg {
      height: pxtorem(20);
      margin-bottom: .25rem;
      margin-top: .875rem;
      width: pxtorem(20);
      fill: currentColor;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    &:hover,
    &:focus {
      background-color: var(--col-navy-main);
      color: var(--col-white);
      text-decoration: none;
      outline: none;
    }

    &--login {
      display: none;

      @media screen and (--bp-tablet) {
        display: inline-block;
      }
    }

    &[title="Search"] {
      display: inline-block;
    }
  }

  @media screen and (--bp-desktop) {
    .page-header-icon {
      font-size: pxtorem(13);
      padding: 0 1.4375rem;

      svg {
        height: pxtorem(24);
        margin-bottom: pxtorem(10);
        margin-top: pxtorem(35);
        width: pxtorem(24);
      }
    }
  }
}

.uomcontent .page-header.floating {
  background-color: transparent;
  position: relative;

  @media screen and (--bp-desktop) {
    position: absolute;
  }

  .page-header-logo {
    margin-left: pxtorem(15);
    margin-top: pxtorem(15);
    position: absolute;

    @media screen and (--bp-desktop) {
      margin-left: pxtorem(30);
      margin-top: pxtorem(30);
    }
  }

  .page-header-home {
    left: 5.625rem;
    margin-top: pxtorem(15);
    width: 10rem;
    color: var(--col-white);
    line-height: 1.3;
    position: absolute;

    &:hover, &:focus {
      color: var(--col-white);
    }

    @media screen and (--bp-desktop) {
      font-size: pxtorem(20);
      left: 12.5rem;
      margin-top: pxtorem(30);
    }
  }

  .page-header-tools {
    margin: pxtorem(15);
    background-color: transparent;
    position: absolute;

    a.page-header-icon {
      border-radius: 3px;
      background-color: transparent;
      border: 1px solid transparent;
      color: var(--col-white);
      transition: background-color 0.3s, color 0.3s;

      &:hover, &:focus {
        background-color: color(var(--col-white) alpha(90%));
        color: var(--col-black-dark);
      }
    }

    @media screen and (--bp-desktop) {
      margin: 2.5rem;

      a.page-header-icon {
        height: 3.9375rem;
        margin-left: pxtorem(20);
        padding: .4375rem pxtorem(15) 0;

        svg {
          margin-top: .4375rem;
        }
      }
    }
  }

  &.reverse {
    .page-header-home {
      color: var(--col-black-dark);
    }

    .page-header-tools a.page-header-icon {
      color: var(--col-navy-main);
    }
  }

  &.short {
    padding: pxtorem(15);
    background-position: center center;
    background-size: cover;
    height: auto;
    position: relative;
    white-space: nowrap;

    .page-header-logo,
    .page-header-home,
    .page-header-tools {
      margin: 0;
      position: static;
    }

    .page-header-logo {
      margin-right: .6875rem;
      display: inline-block;
      vertical-align: middle;
    }

    .page-header-home {
      width: 8rem;
      display: inline-block;
      height: auto;
      white-space: normal;

      h1 {
        font-size: pxtorem(15);
        display: inline;
        line-height: 1.5;
      }
    }

    .page-header-tools {
      right: pxtorem(15);
      top: pxtorem(15);
      position: absolute;
    }

    & + .page-inner {
      padding-top: 0;

      .floating {
        display: none;
      }

      [role="main"] > *:first-child {
        padding-top: 0;
      }
    }

    @media screen and (--bp-tablet) {
      .page-header-home {
        width: 12rem;
      }
    }

    @media screen and (--bp-desktop) {
      padding: 4.375rem 2.8125rem;

      .page-header-logo {
        height: 7.5rem;
        margin-right: 1.9375rem;
        width: 7.5rem;
      }

      .page-header-home {
        width: 18.75rem;

        h1 {
          font-size: pxtorem(24);
        }
      }

      .page-header-tools {
        margin-top: -calc(4.5rem / 2);
        right: 2.5rem;
        top: 50%;
      }
    }
  }
}

.uomcontent #uom-login.modal__dialog {
  max-width: 28.125rem;
  margin-left: auto;
  margin-right: auto;
}

.ie9 {
  .uomcontent .page-header {
    header {
      position: static;
    }

    .page-header-tools {
      background-color: var(--col-white);
      position: absolute;
    }

    &.floating .page-header-tools {
      background-color: transparent;
    }
  }
}
