@define-mixin headerblock {
  font-size: .9375rem;
  color: #fff;
  display: inline-block;
  vertical-align: middle;
}

@define-mixin control {
  border-radius: 3px;
  margin-top: .3125rem;
  padding: .5rem .625rem;
  font-family: var(--ff-sans);

  &.invalid {
    background-color: #fff;
    border-color: color(var(--col-cherry) lightness(+25%));
    color: color(var(--col-cherry) lightness(+25%));
  }

  @media screen and (--bp-desktop) {
    width: 25rem;
  }
}

@define-mixin textcontrol {
  @mixin control;
  font-size: 1.25rem;
  background-color: var(--col-lightgray);
  border: 1px solid color(var(--col-lightergray) lightness(-5%));
  box-shadow: inset 0 1px 3px color(#000 alpha(15%));

  &:hover {
    border-color: var(--col-gray);
  }

  &:focus {
    background-color: #fff;
    border-color: var(--col-borderblue);
    color: #000;
    outline: 0;

    &.invalid {
      color: #000;
    }
  }
}

@define-mixin inlinebutton {
  border-radius: 3px;
  font-size: .8125rem;
  height: 2.8125rem;
  padding: 0 .9375rem;
  background-color: var(--col-brighterblue);
  border: 0 none;
  color: #fff;
  cursor: pointer;
  letter-spacing: 1px;
  position: relative;
  text-transform: uppercase;

  &:hover {
    background-color: color(var(--col-brighterblue) lightness(-10%));
  }

  &:active {
    opacity: .3;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}

@keyframes slideFromRight {
  from {
    transform: translateX(100%);
  }
}

@keyframes slideFromTop {
  from {
    transform: translateY(-100%);
  }
}

.uomcontent .page-header {
  @mixin normalise;
  font-size: 1.25rem;
  height: 3.75rem;
  background-color: var(--col-darkblue);
  color: #fff;
  font-family: var(--ff-sans);
  position: relative;
  top: 0;
  width: 100%;
  z-index: 12;

  /* Work-around for conflict with other `fixed` class, which sets the font to `var(--ff-fixed)` */
  &.fixed {
    font-family: var(--ff-sans);
  }

  @media screen and (--bp-desktop) {
    height: calc(115/16rem);
    position: absolute;
  }

  * {
    @mixin normalise;
    font-family: var(--ff-sans);
  }

  @media screen and (--bp-desktop) {
    &.fixed:not(.floating) {
      height: 2.5rem;
      background-color: var(--col-darkblue);
      position: fixed;
      width: 100%;

      .page-header-logo {
        position: absolute;
        top: -140px;
        transition: .2s top;
      }

      a,
      span {
        height: 2.5rem;
        line-height: 2.5rem;
        vertical-align: middle;

        [data-icon] {
          height: 1.25rem;
          margin-bottom: .25rem;
          margin-right: .3125rem;
          width: 1.25rem;
          display: inline-block;
          line-height: 1;
          padding: 0;
        }
      }

      a > span:not([data-icon]) {
        vertical-align: baseline;
      }

      header {
        height: 2.5rem;
        line-height: 2.5rem;
        background-color: transparent;
        /* box-shadow: 0 3px 6px -3px color(#000 alpha(30%)); */
        width: 100%;
      }

      .page-header-navigation {
        height: 2.5rem;
        line-height: 1.875rem;
        padding-left: .9375rem;
        transition: .3s padding-left .1s, .2s height;
        vertical-align: top;

        ol.page-local-history {
          line-height: 1;
        }

        .mobile-nav .styled-select.alt {
          margin-top: .3125rem;
        }
      }

      .page-header-tools .page-header-icon {
        font-size: calc(12/16rem);
        height: 2.5rem;
        line-height: 1;
        vertical-align: top;

        svg {
          height: .875rem;
          margin-bottom: .1875rem;
          margin-top: .4375rem;
          width: .875rem;
        }
      }
    }
  }

  header {
    height: 3.75rem;
    background-color: var(--col-darkblue);
    display: table;
    overflow: visible;
    padding: 0;
    position: relative;
    width: 100%;
    z-index: 3;

    @media screen and (--bp-desktop) {
      height: calc(115/16rem);
      border-bottom: 0 none;
    }
  }

  a {
    @mixin headerblock;
    height: 3.75rem;
    line-height: 3.75rem;
    text-decoration: none;

    &:hover,
    &:focus {
      color: var(--col-midblue);
    }

    &:hover {
      text-decoration: underline;
    }

    &.page-header-logo {
      height: 3.75rem;
      width: 3.75rem;
      background-color: var(--col-darkblue);
      display: block;
      left: 0;
      padding: .5rem;
      position: absolute;
      top: 0;
      transition: .2s top .3s;
      z-index: 1;

      img {
        height: 100%;
        width: 100%;
      }
    }

    @media screen and (--bp-desktop) {
      height: calc(115/16rem);
      line-height: calc(115/16rem);

      &.page-header-logo {
        margin-left: calc(25/16rem);
        height: calc(115/16rem);
        width: calc(115/16rem);
        padding: 1.25rem;
        position: absolute;
      }
    }

    &.wide {
      width: 8.75rem;
      background-color: transparent;

      svg {
        width: 8.75rem;
      }

      @media screen and (--bp-desktop) {
        width: 20rem;

        svg {
          width: 20rem;
        }
      }
    }

    &.wide + .page-header-navigation {
      padding-left: 9.6875rem;

      @media screen and (--bp-desktop) {
        padding-left: 23.75rem;
      }
    }
  }

  span {
    @mixin headerblock;
    font-size: .8125rem;
    height: 2.5rem;
    line-height: 2.5rem;
    padding: 0 .625rem .3125rem .625rem;

    @media screen and (--bp-desktop) {
      height: 4.6875rem;
      line-height: 4.6875rem;
      padding: 0 .625rem .46875rem .625rem;
    }
  }
}

.uomcontent .page-header-navigation {
  padding: 0 .9375rem 0 4.6875rem;
  display: table-cell;
  left: 0;
  transition: .3s padding-left;
  vertical-align: baseline;

  .mobile-nav {
    display: block;

    .styled-select.alt {
      margin-top: .625rem;
      position: relative;

      select {
        padding: .3125rem 1.5625rem .3125rem .625rem;
        border: 0;
        border-radius: 3px;
        color: var(--col-darkblue);
        max-width: 100%;

        &:hover {
          color: var(--col-darkblue);
        }
      }

    }

    @-moz-document url-prefix() {
      margin-top: .625rem;
      border: 1px solid var(--col-brighterblue);
      border-radius: 3px;
      overflow: hidden;

      .styled-select.alt {
        border: 0;
        margin-top: 0;
        width: calc(100% + 17px) !important;

        select {
          -moz-appearance: none;
          background-position: calc(99% - 17px) center;
          overflow: -moz-hidden-unscrollable;
        }
      }
    }

    .styled-select svg.icon {
      height: 1.25rem;
      right: .3125rem;
      top: .3125rem;
      width: 1.25rem;
      fill: var(--col-darkblue);
      position: absolute;
    }

    @media screen and (--bp-desktop) {
      display: none;
    }
  }

  a,
  span {
    display: none;
  }

  [data-icon] {
    height: 1.25rem;
    margin-bottom: .25rem;
    margin-right: .3125rem;
    width: 1.25rem;
    display: inline-block;
    line-height: 1;
    padding: 0;
  }

  @media screen and (--bp-desktop) {
    height: calc(115/16rem);
    padding-left: 12.8125rem;
    margin-right: 16.25rem;
    display: block;
    overflow: hidden;
    position: absolute;
    text-overflow: ellipsis;
    white-space: nowrap;

    a,
    span {
      display: inline;
    }
  }

  .page-local-history {
    color: var(--col-darkblue);
    display: none;
    margin: 0;
    padding: 0;

    [data-icon] {
      height: 1.25rem;

      .icon {
        height: 1.25rem;
      }
    }

    @media screen and (--bp-desktop) {
      display: block;
    }

    a {
      color: var(--col-lightestblue);

      &:hover,
      &:focus {
        color: #fff;

        .icon {
          fill: #fff;
        }
      }

      &:active {
        color: #000;
      }

      span {
        color: inherit;
      }
    }
  }

  div.page-local-history {
    padding: 0 30px 0 0;
  }
}

.uomcontent .page-local-history {
  @mixin injection-wrapper;
  color: #fff;

  a {
    color: #fff;
  }
}

.uomcontent .page-header-navigation ol.page-local-history {
  line-height: calc(115/16rem);
  list-style-type: none;

  li {
    font-size: calc(17/16rem);
    padding-right: calc(13/16rem);
    display: inline-block;
    width: auto;

    &::after {
      border-right: 2px solid rgba(255, 255, 255, 0.6);
      border-bottom: 2px solid rgba(255, 255, 255, 0.6);
      content: '';
      display: inline-block;
      height: .4em;
      margin-left: calc(12/16rem);
      transform: rotate(-45deg);
      vertical-align: middle;
      width: .4em;
    }

    &:last-child::after {
      display: none;
    }

    &:last-child {
      span {
        font-weight: var(--fw-bold);
      }
    }
  }

  span {
    font-size: calc(17/16rem);
    height: auto;
    line-height: 1;
    padding: 0;
  }

  a > span {
    vertical-align: baseline;
  }
}

.uomcontent div.page-local-history {
  padding: 0 1.875rem;

  span {
    padding: 0 .625rem;
  }
}

.uomcontent .modal__blanket.white {
  margin-top: 3.75rem;
  animation: fadeIn .2s backwards;
  background-color: #fff;
  display: block;
  opacity: .95;
  z-index: 100;

  @media screen and (--bp-desktop) {
    margin-top: calc(115/16rem);
  }
}

.uomcontent.search-active {
  position: relative;
  width: 100%;
  z-index: 101;

  .page-header-tools {
    display: none;
  }

  @media screen and (--bp-desktop) {
    width: auto;

    .page-header,
    .page-header.fixed:not(.floating)  {
      span {
        height: 4.6875rem;
        line-height: 1;

        &[data-icon] {
          width: 1.5rem;
          height: 1.5rem;
          margin: 0;
        }
      }

      .page-header-icon {
        height: calc(115/16rem);
        line-height: 1;
        vertical-align: top;
      }
    }
  }
}

.uomcontent .page-header-search {
  height: 3.75rem;
  animation: fadeIn .2s backwards;
  background: color(#fff alpha(95%));
  display: none;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 16;

  &.active {
    display: block;
  }

  @media screen and (--bp-desktop) {
    height: calc(115/16rem);
  }

  form {
    padding-left: .625rem;
    animation: slideFromTop .2s backwards;
    display: table;
    height: 100%;
    width: 100%;

    fieldset {
      padding-top: .3125rem;
      padding-right: .625rem;
      display: table-cell;
      vertical-align: top;

      input[type="search"] {
        @mixin textcontrol;
        border-radius: 3px 0 0 3px;
        height: 2.5rem;
        margin-top: .1875rem;
        animation: fadeIn .2s backwards, slideFromRight .2s .1s backwards;
        appearance: none;
        border-right: 0;
        display: block;
        width: 100%;
      }

/* dupe */
      .inline {
        display: table;
        overflow: hidden;
        position: relative;
        width: 100%;

        input[type="image"] {
          @mixin inlinebutton;
          border-radius: 0 3px 3px 0;
          margin: .9375rem 0 0;
          width: 2.8125rem;
          padding: 0;
          position: absolute;
          right: 0;
          top: 0;

          span {
            display: none;
          }

          svg {
            height: 1.5rem;
            width: 1.5rem;
            background-color: transparent;
            cursor: pointer;
            fill: currentColor;
            max-height: 100%;
          }
        }

        .inline-button {
          @mixin inlinebutton;
          border-radius: 0 3px 3px 0;
          font-size: .8125rem;
          height: 2.5rem;
          margin: .1875rem 0 0;
          padding: 0 .9375rem;
          letter-spacing: 1px;

          span.small {
            color: inherit;
            padding: 0;

            svg {
              height: 1.5rem;
              width: 1.5rem;
            }
          }
        }

        & > span {
          display: table-cell;
          padding: 0;
          vertical-align: middle;

          &.fill {
            width: 100%;
          }
        }
      }
/* dupe */

      .icon {
        fill: #fff;
        vertical-align: top;
      }
    }

    @media screen and (--bp-desktop) {
      max-width: 31.25rem;
      padding-left: 1.25rem;
      float: right;
      width: 100%;

      fieldset {
        padding-top: .3125rem;
      }
    }

    .page-header-icon {
      font-size: .5625rem;
      padding: 0 .625rem;
      width: 2.5rem;
      box-sizing: content-box;
      color: var(--col-navy);
      cursor: pointer;
      display: table-cell;
      font-weight: var(--fw-regular);
      line-height: 1;
      text-align: center;
      text-transform: uppercase;
      transition: background-color 0.3s, color 0.3s, transform 0.3s;
      vertical-align: top;

      svg {
        height: 1.25rem;
        margin-bottom: .25rem;
        margin-top: calc(14/16rem);
        width: 1.25rem;
        fill: currentColor;
        display: block;
        margin-left: auto;
        margin-right: auto;

        @media screen and (--bp-desktop) {
          height: 2.25rem;
          margin-bottom: .25rem;
          margin-top: 1.25rem;
          width: 2.25rem;
        }
      }

      @media screen and (--bp-desktop) {
        font-size: .625rem;
        padding: 0 1.4375rem;
      }

      &:hover,
      &:focus {
        background-color: var(--col-darkblue);
        color: #fff;
        text-decoration: none;
      }
    }
  }
}

.uomcontent .page-header-tools {
  width: 7.75rem;
  display: table-cell;
  right: 0;
  text-align: right;
  top: 0;
  vertical-align: top;

  @media screen and (--bp-desktop) {
    width: 12.5rem;
    position: absolute;
  }

  &.with-login {
    @media screen and (--bp-tablet) {
      width: 11.625rem;
    }

    @media screen and (--bp-desktop) {
      width: 18.75rem;
    }
  }

  .page-header-icon {
    font-size: .5625rem;
    padding: 0 .625rem;
    width: 2.5rem;
    border-left: 1px solid rgba(255,255,255,0.15);
    box-sizing: content-box;
    font-weight: var(--fw-regular);
    line-height: 1;
    text-align: center;
    /* text-transform: uppercase; */
    transition: background-color 0.3s, color 0.3s, transform 0.3s;

    svg {
      height: 1.25rem;
      margin-bottom: .25rem;
      margin-top: .875rem;
      width: 1.25rem;
      fill: currentColor;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    &:hover,
    &:focus {
      background-color: var(--col-darkblue);
      color: #fff;
      text-decoration: none;
      outline: none;
    }

    &--login {
      display: none;

      @media screen and (--bp-tablet) {
        display: inline-block;
      }
    }

    &[title="Search"] {
      display: inline-block;
    }
  }

  @media screen and (--bp-desktop) {
    .page-header-icon {
      font-size: calc(13/16rem);
      padding: 0 1.4375rem;

      svg {
        height: 1.5rem;
        margin-bottom: .625rem;
        margin-top: calc(35/16rem);
        width: 1.5rem;
      }
    }
  }
}

.uomcontent .page-header.floating {
  background-color: transparent;
  position: relative;

  @media screen and (--bp-desktop) {
    position: absolute;
  }

  .page-header-logo {
    margin-left: .9375rem;
    margin-top: .9375rem;
    position: absolute;

    @media screen and (--bp-desktop) {
      margin-left: 1.875rem;
      margin-top: 1.875rem;
    }
  }

  .page-header-home {
    left: 5.625rem;
    margin-top: .9375rem;
    width: 10rem;
    color: #fff;
    line-height: 1.3;
    position: absolute;

    &:hover, &:focus {
      color: #fff;
    }

    @media screen and (--bp-desktop) {
      font-size: 1.25rem;
      left: 12.5rem;
      margin-top: 1.875rem;
    }
  }

  .page-header-tools {
    margin: .9375rem;
    background-color: transparent;
    position: absolute;

    a.page-header-icon {
      border-radius: 3px;
      background-color: transparent;
      border: 1px solid transparent;
      color: #fff;
      transition: background-color 0.3s, color 0.3s, transform 0.3s;

      &:hover, &:focus {
        background-color: color(#fff alpha(70%));
        color: #000;
        transform: scale(1.1);
      }
    }

    @media screen and (--bp-desktop) {
      margin: 2.5rem;

      a.page-header-icon {
        height: 3.9375rem;
        margin-left: 1.25rem;
        padding: .4375rem .9375rem 0;

        svg {
          margin-top: .4375rem;
        }
      }
    }
  }

  &.reverse {
    .page-header-home {
      color: #000;
    }

    .page-header-tools a.page-header-icon {
      color: var(--col-navy);
    }
  }

  &.short {
    padding: .9375rem;
    background-position: center center;
    background-size: cover;
    height: auto;
    position: relative;
    white-space: nowrap;

    .page-header-logo,
    .page-header-home,
    .page-header-tools {
      margin: 0;
      position: static;
    }

    .page-header-logo {
      margin-right: .6875rem;
      display: inline-block;
      vertical-align: middle;
    }

    .page-header-home {
      width: 8rem;
      display: inline-block;
      height: auto;
      white-space: normal;

      h1 {
        font-size: .9375rem;
        display: inline;
        line-height: 1.5;
      }
    }

    .page-header-tools {
      right: .9375rem;
      top: .9375rem;
      position: absolute;
    }

    & + .page-inner {
      padding-top: 0;

      .floating {
        display: none;
      }

      [role="main"] > *:first-child {
        padding-top: 0;
      }
    }

    @media screen and (--bp-tablet) {
      .page-header-home {
        width: 12rem;
      }
    }

    @media screen and (--bp-desktop) {
      padding: 4.375rem 2.8125rem;

      .page-header-logo {
        height: 7.5rem;
        margin-right: 1.9375rem;
        width: 7.5rem;
      }

      .page-header-home {
        width: 18.75rem;

        h1 {
          font-size: 1.5rem;
        }
      }

      .page-header-tools {
        margin-top: -calc(4.5rem / 2);
        right: 2.5rem;
        top: 50%;
      }
    }
  }
}

.uomcontent #uom-login.modal__dialog {
  max-width: 28.125rem;
  margin-left: auto;
  margin-right: auto;
}

.ie9 {
  .uomcontent .page-header {
    header {
      position: static;
    }

    .page-header-tools {
      background-color: #fff;
      position: absolute;
    }

    &.floating .page-header-tools {
      background-color: transparent;
    }
  }
}
