@import url(http://fonts.googleapis.com/css?family=Permanent+Marker);

.uomcontent [role="main"] section .sticky {
  background-color: #fcf59b;
  border-radius: 10px 0 0 250px / 200px 0 250px 55px;
  -moz-box-shadow: -2px 3px 6px 0 rgba(0,0,0, 0.2);
  -webkit-box-shadow: -2px 3px 6px 0 rgba(0,0,0, 0.2);
  box-shadow: -2px 3px 6px 0 rgba(0,0,0, 0.2);
  height: 80px;
  float: right;
  margin: 5px;
  position: relative;

  &::before {
    bottom: 15px;
    -moz-box-shadow: 3px 17px 6px rgba(0,0,0, .3);
    -webkit-box-shadow: 3px 17px 6px rgba(0,0,0, .3);
    box-shadow: 3px 17px 6px rgba(0,0,0, .3);
    content: '';
    display: block;
    height: 20px;
    position: absolute;
    right: 5px;
    -ms-transform: skew(10deg, -2deg);
    -webkit-transform: skew(10deg, -2deg);
    transform: skew(10deg, -2deg);
    width: 90%;
    z-index: -1;
  }

  &::after {
    border-left: 10px solid transparent;
    border-top: 10px solid rgba(156, 166, 61, .7);
    bottom: 3px;
    content: '';
    display: block;
    height: 0;
    left: 8px;
    position: absolute;
    -webkit-transform: skew(55deg, -10deg);
    transform: skew(55deg, -10deg);
    width: 0;
  }

  .text {
    color: rgba(0, 0, 0, .4);
    display: block;
    font-family: Permanent Marker, sans-serif;
    font-size: 24px;
    letter-spacing: 2px;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
  }
}