[role="main"] {
  .video {
    height: 0;
    margin-left: auto;
    max-width: 100%;
    padding-bottom: 48.5%;
    padding-top: 25px;
    position: relative;

    @include breakpoint(desktop) {
      padding-bottom: 32%;
    }

    [data-ytid] {
      background-color: $black;
      cursor: pointer;
      height: 100%;
      left: 0;
      margin: 0;
      position: absolute;
      text-align: center;
      top: 0;
      width: 100%;
      img {
        width: 100%;
        &.video-trigger {
          height: 100px;
          left: 50%;
          margin-top: -50px;
          margin-left: -50px;
          position: absolute;
          top: 50%;
          width: 100px;

          @include breakpoint(desktop) {
            height: 140px;
            margin-top: -70px;
            margin-left: -70px;
            width: 140px;
          }
        }
      }

      @include breakpoint(desktop) {
        margin: 0 18%;
        width: 64%;
      }
    }

    iframe {
      height: 100%;
      left: 0;
      margin: 0;
      position: absolute;
      top: 0;
      width: 100%;

      @include breakpoint(desktop) {
        margin: 0 18%;
        width: 64%;
      }
    }
  }

  .video-4-3 {
    @extend .video;
    padding-bottom: 75%;

    @include breakpoint(desktop) {
      padding-bottom: 33%;
    }

    [data-ytid] {
      @include breakpoint(desktop) {
        margin: 0 28%;
        width: 44%;
      }
    }
  }
}
