@define-mixin modal-close-icon {
  content: '✕';
  display: block;
  font-size: calc(16/16rem);
  font-weight: var(--fw-bold);
  line-height: 1;
  padding-bottom: 2px;
}

.uomcontent {
  .modal__dialog {
    background-color: var(--col-white);
    left: 5%;
    max-width: 100%;
    padding: calc(30/16rem);
    position: absolute;
    right: 5%;
    text-align: left;
    top: 5%;
    visibility: hidden;
    z-index: var(--z-modal);
    &:after {
      background-color: color(var(--col-black-dark) alpha(15%));
      content: "";
      left: 0;
      right: 0;
      top: 100%;
      height: 3px;
      position: absolute;
    }

    * {
      max-width: 100%;
    }

    /* Hide accidental peek from 3rd party embeds at page load */
    iframe {
      display: none;
    }

    &.on {
      visibility: visible;
      z-index: var(--z-modal);

      iframe {
        display: block;
      }
    }

    @media screen and (--bp-wide) {
      left: 0;
      margin: 0 auto;
      max-width: 900px;
      width: 100%; /* fixes centring on IE */
      right: 0;
    }
  }

  .modal__close {
    background-color: var(--col-white);
    color: var(--col-navy-main);
    font-size: calc(14/16rem);
    font-weight: var(--fw-regular);
    padding: 0 0 5px 5px;
    position: absolute;
    right: 20px;
    text-align: center;
    text-decoration: none;
    width: 50px;

    &::before {
      @mixin modal-close-icon;
    }

    &:hover,
    &:focus {
      color: var(--col-black-dark);
    }
  }
}
