.uomcontent [role="main"] {
  .notice {
    @include rem(margin-bottom, 15px);
    @include rem(padding, 15px);
    border: 1px solid rgba(0, 0, 0, 0.05);
    border: 1px solid transparent;
    margin-left: auto;
    margin-right: auto;
    max-width: $w-sml;
    width: 100%;

    p,
    ul,
    ol,
    li {
      color: inherit;
    }
  }

  .notice--success {
    @include notice-success;
  }

  .notice--info {
    @include notice-info;
  }

  .notice--warning {
    @include notice-warning;
  }

  .notice--danger {
    @include notice-danger;
  }
}
