.uomcontent [role="main"] {
  .notice {
    @include wrapper;
    @include rem(margin-bottom, 15px);
    @include rem(max-width, $w-sml);
    @include rem(padding, 15px);
    display: block; /* allow inline elements (e.g. `span`) */
    margin-left: auto;
    margin-right: auto;

    p,
    ul,
    ol,
    li {
      color: inherit;
    }

    @include breakpoint(tablet) {
      @include rem(max-width, $w-sml);
    }
  }

  .notice--success {
    @include notice-success;
  }

  .notice--info {
    @include notice-info;
  }

  .notice--warning {
    @include notice-warning;
  }

  .notice--danger {
    @include notice-danger;
  }
}
