%notice-success {
  background-color: $palegreen;
  color: darken($palegreen, 65%);

  a {
    color: darken($palegreen, 65%);
  }
}

%notice-info {
  background-color: $lightestblue;
  color: darken($lightestblue, 65%);

  a {
    color: darken($lightestblue, 65%);
  }
}

%notice-warning {
  background-color: $paleyellow;
  color: darken($paleyellow, 65%);

  a {
    color: darken($palegreen, 65%);
  }
}

%notice-danger {
  background-color: $salmon;
  color: lighten($salmon, 35%);

  a {
    color: lighten($salmon, 65%);
  }
}

