@mixin notice-success {
  background-color: $palegreen;
  color: darken($palegreen, 65%);

  p,
  li {
    color: darken($palegreen, 65%);
  }

  a {
    color: darken($palegreen, 65%);
  }
}

@mixin notice-info {
  background-color: $lightestblue;
  color: darken($lightestblue, 65%);

  p,
  li {
    color: darken($lightestblue, 65%);
  }

  a {
    color: darken($lightestblue, 65%);
  }
}

@mixin notice-warning {
  background-color: $paleyellow;
  color: darken($paleyellow, 65%);

  p,
  li {
    color: darken($paleyellow, 65%);
  }

  a {
    color: darken($palegreen, 65%);
  }
}

@mixin notice-danger {
  background-color: $salmon;
  color: lighten($salmon, 35%);

  p,
  li {
    color: lighten($salmon, 35%);
  }

  a {
    color: lighten($salmon, 65%);
  }
}

