.uomcontent {
  svg {
    border: 0;
    fill: currentColor;
    width: 100%;
  }

  [data-icon] {
    height: 3.75rem;
    width: 3.75rem;
    display: inline-block;
    margin: 0;
    vertical-align: middle;

    svg {
      height: 100%;
    }

    &.small {
      height: 1.5rem;
      width: 1.5rem;
    }

    &.large {
      height: 6.25rem;
      width: 6.25rem;
    }

    &.fill {
      height: 100%;
      width: 100%;

      svg {
        height: 100%;
        width: 100%;
      }
    }

    &.icon--hide-label {
      /* Fix outline bug in Chrome */
      overflow: hidden;
      position: relative;

      & > .icon-label {
        @mixin screenreaders-only;
      }
    }

    .icon-label {
      display: block;
      font-weight: var(--fw-regular);
      margin: 0;
      text-align: center;
      white-space: nowrap;
    }
  }

  p [data-icon] {
    padding-bottom: 3px;
  }
}
