@define-mixin tilt {
  height: 6.25rem;
  content: "";
  width: 100%;
  position: absolute;
  z-index: 1;
}

body {
  background-color: var(--col-navy);
  color: var(--col-darkblue);
  font-family: var(--ff-sans);
  -webkit-font-smoothing: antialiased;
}

.clearfix {
  @mixin clearfix;
}

.spacer {
  padding: 0 .9375rem;
}

.uomcontent [role="main"] {
  .hide-from-all {
    display: none;
    visibility: hidden;
  }
  .screenreaders-only {
    @mixin screenreaders-only;
  }
  .invisible {
    visibility: hidden;
  }
  .hide-text {
    @mixin hide-text;
  }

  & > *:first-child {
    padding-top: 6.25rem;
  }

  article {
    padding-bottom: 3rem;
  }

  .aside {
    font-size: .875rem;
    line-height: 1.5rem;
    color: var(--col-darkgray);
    float: right;

    /* Override */
    &.layout-sidebar__side {
      float: none;
    }

    section {
      margin-left: 0;
    }
  }

  fieldset {
    max-width: var(--w-sml);
    margin: 0 auto;
    min-width: 0;
  }

  .half .youtube5container {
    height: 50% !important;
  }

  section {
    padding-top: 3rem;
    padding-bottom: 3rem;

    div {
      max-width: var(--w-sml);
      margin: 0 auto;

      &.youtube5placeholder {
        margin: 0 auto;
        max-width: 100% !important;
        width: 100% !important;
      }

      &.youtube5container {
        width: 100% !important;
      }

      &.fullwidth,
      &.fifth,
      &.bottom-align-flat,
      &.video-loop,
      &.bottom-align,
      &.enquiry,
      &.detail,
      &.tabbed-nav,
      &.full-width,
      &.filtered-listing-wrapper,
      &.filtered-listing-section,
      &.filtered-listing-section .bside {
        max-width: 100%;
      }
    }

    &.tight {
      padding-bottom: 0;

      p:last-child {
        padding-bottom: 0;
      }
    }


    &.links {
      padding-top: 0;

      h2 {
        font-size: .8125rem;
        line-height: 1.5rem;
        font-weight: var(--fw-bold);
        letter-spacing: 3px;
        text-transform: uppercase;
      }

      ul {
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
        padding-right: 0;
      }

      p,
      li {
        font-size: 1rem;
        line-height: 1.5rem;
      }

      li {
        list-style-type: none;
        margin-left: 0;
      }
    }

    & + .video {
      margin-top: -1.875rem;
      max-width: var(--w-lge);
      @media screen and (--bp-xx-wide) {
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 550px;
      }
    }
  }

  footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
    clear: both;

    a.social {
      border-radius: 3px;
      font-size: .875rem;
      margin: 0 .9375rem;
      background-color: transparent;
      color: #fff;
      display: inline-block;
      text-decoration: none;
      vertical-align: top;

      [data-icon] {
        padding: .625rem;
        height: auto;
        width: auto;
      }

      .icon {
        height: 1.5rem;
        width: 1.5rem;
      }

      &:hover {
        background-color: var(--col-brighterblue);
        transition: all 0.2s linear;
        transform: scale(1.1);
      }
    }

    &.alt {
      padding: 1.875rem 0;
      background-color: var(--col-paleblue);
      box-shadow: 0 6px 6px 4px color(#000 alpha(30%));
      color: #000;

      .center {
        padding-bottom: 0;
      }

      ul a {
        color: #000;
      }

      a.social {
        color: #000;

        &:hover {
          color: #fff;
        }
      }
    }

    &.contrib {
      background-color: var(--col-paleyellow);
      border: 1px solid color(var(--col-paleyellow) lightness(-10%));

      p {
        padding-top: 0;

        @media screen and (--bp-desktop) {
          padding-left: 0;
        }
      }

      ul {
        padding-left: 1.25rem;
        max-width: var(--w-sml);
        margin: 0 auto;
        padding-top: 0;
      }
    }
  }

  .aside {
    clear: both;
    float: left;
    width: 100%;

    dt {
      letter-spacing: .0625rem;
      padding-bottom: .3125rem;
      font-weight: var(--fw-bold);
      margin-left: 0;
      text-transform: uppercase;
      width: 100%;
    }

    dd {
      margin-left: 0;
      width: 100%;
    }

    @media screen and (--bp-desktop) {
      display: inline-block;
      float: none;
      width: 25%;
    }
  }

  .hold {
    max-width: var(--w-mid);
    margin: 0 auto;

    .aside {
      padding-bottom: .9375rem;
      padding-top: .3125rem;
      vertical-align: top;

      dt {
        width: 100%;
      }

      @media screen and (--bp-desktop) {
        width: 24%;

      }
    }

    .bside {
      @media screen and (--bp-desktop) {
        padding-bottom: 1.25rem;
        padding-top: 1.25rem;
      }

      dd {
        padding-bottom: .625rem;
      }
    }
  }

  .overview {
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: 100%;

    @media screen and (--bp-desktop) {
      width: 814px;
    }

    img {
      border: 1px solid var(--col-lightergray);
      display: inline;
      margin-right: 10px;
      vertical-align: top;

      &.last {
        margin-right: 0;
      }
    }

    .block {
      background-color: color(#000 alpha(70%));
      color: #fff;
      font-weight: var(--fw-bold);
      left: 50%;
      margin-left: -406px;
      position: absolute;
      text-decoration: none;
      width: 200px;

      &:hover {
        background-color: color(var(--col-paleyellow) alpha(80%));
        color: #000;
      }

      &.desktop {
        margin-left: -194px;
        width: 601px;
      }
    }
  }

  .fifth {
    margin-bottom: .9375rem;
    max-width: var(--w-sml);
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    width: 94%;


    @media screen and (--bp-wide) {
      margin-bottom: .9375rem;
      max-width: var(--w-lge);
      width: 100%;

      .col {
        margin: 1%;
        float: left;
        margin: 0 1%;
        text-align: center;
        width: 18%;
      }
    }
  }

  .quarter {
    li {
      padding-bottom: 1.25rem;
      line-height: 1;
      margin-left: 9%;
      margin-right: 9%;
      text-align: left;
      width: 82%;

      @media screen and (--bp-desktop) {
        float: left;
        margin: 0;
        padding: 0;
        text-align: center;
        width: 25%;
      }
    }
  }

  .with-figure {
    @media (--bp-desktop) {
      max-width: var(--w-sml);
      margin: 0 auto;
    }
  }

  .layout-sidebar {
    /* Fine line to separate any content on white above and below */
    border-bottom: 2px solid var(--col-paleblue);
    border-top: 2px solid var(--col-paleblue);

    &__main,
    &__side {
      padding: 2rem 1rem;
    }

    &__side {
      font-size: .875rem;
      background-color: var(--col-paleblue);
      color: var(--col-darkgray);
    }

    &__main__inner {
      max-width: 68.75rem;
      margin-left: 0;
      margin-right: auto;
    }

    &--right {
      .layout-sidebar__main__inner {
        margin-left: auto;
        margin-right: 0;
      }

      .layout-sidebar__side__inner {
        margin-left: 0;
        margin-right: auto;
      }
    }

    @media screen and (--bp-desktop) {
      display: table;
      width: 100%;

      &__main,
      &__side {
        padding: 4.5rem 1rem;
        display: table-cell;
        vertical-align: top;
      }

      &__side {
        width: 33%;

        &__inner {
          max-width: 21.25rem;
          margin-left: auto;
          margin-right: 0;
        }
      }
    }

    @media screen and (--bp-wide) {
      &__main,
      &__side {
        padding: 4.5rem 2rem;
      }
    }
  }

  .alt {
    background-color: var(--col-paleblue);

    & + .spacer {
      margin-top: 0;
      padding-top: 0;
    }
  }

  .margin-rule {
    .floating {
      padding: .9375rem .9375rem 1.875rem;
      background-color: var(--col-lightgray);

      h2,
      p {
        padding-bottom: 0;
      }
    }

    @media screen and (--bp-desktop) {
      width: 68.6875rem;
      margin: 0 auto;

      section {
        margin: 1.875rem 0 1.875rem 18.75rem;
        padding-bottom: 0;
        padding-top: 0;

        &.ruled {
          margin-bottom: 3.75rem;
          margin-top: 3.75rem;
          border-left: 1px solid #000;
          float: left;
          margin-left: 0;
        }
      }

      .floating {
        padding-right: 1.25rem;
        padding-top: 3.125rem;
        width: 17.5rem;
        background-color: transparent;
        float: left;
        text-align: right;

        h2 {
          font-size: 1.625rem;
          padding-bottom: .9375rem;
        }
      }
    }
  }

  .tilt-before {
    padding-top: 3.125rem;

    &::before {
      @mixin tilt;
      margin-top: -6.25rem;
      background-color: #fff;
      transform: skewY(-2deg);
    }

    &.alt::before {
      background-color: var(--col-paleblue);
    }
  }

  .tilt-after {
    padding-bottom: 3.125rem;

    &::after {
      @mixin tilt;
      background-color: #fff;
      transform: skewY(2deg);
    }

    &.alt::after {
      background-color: var(--col-paleblue);
    }

    & + * {
      padding-top: 6.25rem;
    }
  }

  .with-tilt-sibling {
    padding-bottom: 6.25rem;
  }

  .center {
    text-align: center;
  }

  .showie {
    display: none;
  }
}

.ie9 {
  .uomcontent .fullwidth {
    p,
    p.black {
      margin: 0 auto;
      max-width: 900px;
      text-align: center;
    }
  }

  .uomcontent ul.ticked-list li::before {
    color: #3fc76e;
    content: '';
    font-size: 16px;
    font-weight: 600;
    left: 0;
    margin-left: -22px;
    position: absolute;
  }
}

/* Uninjected styles */
.uomcontent .page-local-history {
  padding: .9375rem 1.875rem;
  color: var(--col-midblue);
  display: block;

  a {
    color: var(--col-midblue);

    &:hover {
      color: #fff;
    }
  }
}

.uomcontent footer.cta {
  padding-top: 1.875rem;
  background-color: var(--col-blue);
  color: #fff;

  .overview {
    padding: 1.875rem 0 0;
  }

  .button-hero-inverse {
    margin-left: 1.875rem;
    padding-bottom: .625rem;
    padding-top: .625rem;

    &::after {
      top: -.25rem;
    }
  }

  hr {
    border: 0 none;
    border-top: 1px solid color(#fff alpha(20%));
  }

  ul {
    max-width: var(--w-lge);
    margin: 0 auto;

    li {
      padding: .9375rem;
      list-style-type: none;
    }

    a {
      color: #fff;
    }

    img {
      margin-right: .625rem;
      max-width: 1.5rem;
      vertical-align: middle;
    }

    @media screen and (--bp-desktop) {
      padding: 0 0 1.875rem;
      text-align: center;

      li {
        padding: 1.875rem;
        display: inline-block;
        float: none;
        width: auto;
      }
    }

    &.site-links {
      @media screen and (--bp-desktop) {
        padding-top: 1.875rem;
      }
    }
  }
}
