@define-mixin tilt {
  height: 6.25rem;
  content: "";
  width: 100%;
  position: absolute;
  z-index: var(--z-default);
}

body {
  color: var(--col-navy-main);
  font-family: var(--ff-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Trick to cover any elastic scrolling */
  overflow: visible;
  &::before {
    content: "";
    background-color: var(--col-navy-main);
    position: absolute;
    height: 300px;
    top: -300px;
    left: 0;
    right: 0;
    width: 100%;
    z-index: calc(var(--z-modal) - 1);
  }
}

.clearfix {
  @mixin clearfix;
}

.spacer {
  padding: 0 pxtorem(15);
}

.uomcontent [role="main"] {
  .hide-from-all {
    display: none;
    visibility: hidden;
  }
  .screenreaders-only {
    @mixin screenreaders-only;
  }
  .invisible {
    visibility: hidden;
  }
  .hide-text {
    @mixin hide-text;
  }

  & > *:first-child {
    padding-top: 6.25rem;
  }

  article {
    padding-bottom: pxtorem(48);
  }

  .aside {
    font-size: pxtorem(16);
    line-height: 1.5;
    color: var(--col-navy-main);
    float: right;

    /* Override */
    &.layout-sidebar__side {
      float: none;
    }

    section {
      margin-left: 0;
    }
  }

  fieldset {
    max-width: var(--w-sml);
    margin: 0 auto;
    min-width: 0;
  }

  .half .youtube5container {
    height: 50% !important;
  }

  section {
    padding-top: pxtorem(48);
    padding-bottom: pxtorem(48);

    div {
      max-width: var(--w-sml);
      margin: 0 auto;

      &.youtube5placeholder {
        margin: 0 auto;
        max-width: 100% !important;
        width: 100% !important;
      }

      &.youtube5container {
        width: 100% !important;
      }

      &.fullwidth,
      &.fifth,
      &.bottom-align-flat,
      &.video-loop,
      &.bottom-align,
      &.enquiry,
      &.detail,
      &.tabbed-nav,
      &.full-width,
      &.filtered-listing-wrapper,
      &.filtered-listing-section,
      &.filtered-listing-section .bside {
        max-width: 100%;
      }
    }

    &.tight {
      padding-bottom: 0;

      p:last-child {
        padding-bottom: 0;
      }
    }


    &.links {
      padding-top: 0;

      h2 {
        font-size: .8125rem;
        line-height: pxtorem(24);
        font-weight: var(--fw-semibold);
        letter-spacing: 3px;
        text-transform: uppercase;
      }

      ul {
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
        padding-right: 0;
      }

      p,
      li {
        font-size: 1rem;
        line-height: 1.5;
      }

      li {
        list-style-type: none;
        margin-left: 0;
      }
    }

    & + .video {
      margin-top: -pxtorem(30);
      max-width: var(--w-lge);
      @media screen and (--bp-xx-wide) {
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 550px;
      }
    }
  }

  footer {
    padding-top: pxtorem(48);
    padding-bottom: pxtorem(48);
    clear: both;

    a.social {
      border-radius: 3px;
      font-size: .875rem;
      margin: 0 pxtorem(15);
      background-color: transparent;
      color: var(--col-white);
      display: inline-block;
      text-decoration: none;
      vertical-align: top;

      [data-icon] {
        padding: pxtorem(10);
        height: auto;
        width: auto;
      }

      .icon {
        height: pxtorem(24);
        width: pxtorem(24);
      }

      &:hover {
        background-color: var(--col-blue-mid-2);
        transition: background-color 0.2s linear;
      }
    }

    &.alt {
      padding: pxtorem(30) 0;
      background-color: var(--col-navy-light);
      box-shadow: 0 6px 6px 4px color(var(--col-black-dark) alpha(30%));
      color: var(--col-black-dark);

      .center {
        padding-bottom: 0;
      }

      ul a {
        color: var(--col-black-dark);
      }

      a.social {
        color: var(--col-black-dark);

        &:hover {
          color: var(--col-white);
        }
      }
    }

    &.contrib {
      background-color: var(--col-yellow-light);
      border: 1px solid var(--col-yellow-mid-1);

      p {
        padding-top: 0;

        @media screen and (--bp-desktop) {
          padding-left: 0;
        }
      }

      ul {
        padding-left: pxtorem(20);
        max-width: var(--w-sml);
        margin: 0 auto;
        padding-top: 0;
      }
    }
  }

  .aside {
    clear: both;
    float: left;
    width: 100%;

    dt {
      letter-spacing: .0625rem;
      padding-bottom: pxtorem(5);
      font-weight: var(--fw-semibold);
      margin-left: 0;
      text-transform: uppercase;
      width: 100%;
    }

    dd {
      margin-left: 0;
      width: 100%;
    }

    @media screen and (--bp-desktop) {
      display: inline-block;
      float: none;
      width: 25%;
    }
  }

  .hold {
    max-width: var(--w-mid);
    margin: 0 auto;

    .aside {
      padding-bottom: pxtorem(15);
      padding-top: pxtorem(5);
      vertical-align: top;

      dt {
        width: 100%;
      }

      @media screen and (--bp-desktop) {
        width: 24%;

      }
    }

    .bside {
      @media screen and (--bp-desktop) {
        padding-bottom: pxtorem(20);
        padding-top: pxtorem(20);
      }

      dd {
        padding-bottom: pxtorem(10);
      }
    }
  }

  .overview {
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: 100%;

    @media screen and (--bp-desktop) {
      width: 814px;
    }

    img {
      border: 1px solid var(--col-black-light);
      display: inline;
      margin-right: 10px;
      vertical-align: top;

      &.last {
        margin-right: 0;
      }
    }

    .block {
      background-color: color(var(--col-black-dark) alpha(70%));
      color: var(--col-white);
      font-weight: var(--fw-semibold);
      left: 50%;
      margin-left: -406px;
      position: absolute;
      text-decoration: none;
      width: 200px;

      &:hover {
        background-color: color(var(--col-yellow-light) alpha(80%));
        color: var(--col-black-dark);
      }

      &.desktop {
        margin-left: -194px;
        width: 601px;
      }
    }
  }

  .fifth {
    margin-bottom: pxtorem(15);
    max-width: var(--w-sml);
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    width: 94%;


    @media screen and (--bp-wide) {
      margin-bottom: pxtorem(15);
      max-width: var(--w-lge);
      width: 100%;

      .col {
        margin: 1%;
        float: left;
        margin: 0 1%;
        text-align: center;
        width: 18%;
      }
    }
  }

  .quarter {
    li {
      padding-bottom: pxtorem(20);
      line-height: 1;
      margin-left: 9%;
      margin-right: 9%;
      text-align: left;
      width: 82%;

      @media screen and (--bp-desktop) {
        float: left;
        margin: 0;
        padding: 0;
        text-align: center;
        width: 25%;
      }
    }
  }

  .with-figure {
    @media (--bp-desktop) {
      max-width: var(--w-sml);
      margin: 0 auto;
    }
  }

  .layout-sidebar {
    /* Fine line to separate any content on white above and below */
    border-bottom: 1px solid var(--col-navy-light);
    border-top: 1px solid var(--col-navy-light);
    margin-top: -1px;

    &__main,
    &__side {
      padding: 2rem 1rem;
    }

    &__side {
      font-size: .875rem;
      background-color: var(--col-navy-light);
      color: var(--col-navy-main);
    }

    &__main__inner {
      max-width: 68.75rem;
      margin-left: 0;
      margin-right: auto;
    }

    &--right {
      .layout-sidebar__main__inner {
        margin-left: auto;
        margin-right: 0;
      }

      .layout-sidebar__side__inner {
        margin-left: 0;
        margin-right: auto;
      }
    }

    @media screen and (--bp-desktop) {
      display: table;
      width: 100%;

      &__main,
      &__side {
        padding: 4.5rem 1rem;
        display: table-cell;
        vertical-align: top;
      }

      &__side {
        width: 33%;

        &__inner {
          max-width: pxtorem(340);
          margin-left: auto;
          margin-right: 0;
        }
      }
    }

    @media screen and (--bp-wide) {
      &__main,
      &__side {
        padding: 4.5rem 2rem;
      }
    }
  }

  .alt {
    background-color: var(--col-primary-light-grey);

    & + .spacer {
      margin-top: 0;
      padding-top: 0;
    }
  }

  .margin-rule {
    .floating {
      padding: pxtorem(15) pxtorem(15) pxtorem(30);
      background-color: var(--col-black-light);

      h2,
      p {
        padding-bottom: 0;
      }
    }

    @media screen and (--bp-desktop) {
      width: 68.6875rem;
      margin: 0 auto;

      section {
        margin: pxtorem(30) 0 pxtorem(30) 18.75rem;
        padding-bottom: 0;
        padding-top: 0;

        &.ruled {
          margin-bottom: 3.75rem;
          margin-top: 3.75rem;
          border-left: 1px solid var(--col-black-dark);
          float: left;
          margin-left: 0;
        }
      }

      .floating {
        padding-right: pxtorem(20);
        padding-top: 3.125rem;
        width: 17.5rem;
        background-color: transparent;
        float: left;
        text-align: right;

        h2 {
          font-size: 1.625rem;
          padding-bottom: pxtorem(15);
        }
      }
    }
  }

  .tilt-before {
    padding-top: 3.125rem;

    &::before {
      @mixin tilt;
      margin-top: -6.25rem;
      background-color: var(--col-white);
      transform: skewY(-2deg);
    }

    &.alt::before {
      background-color: var(--col-navy-light);
    }
  }

  .tilt-after {
    padding-bottom: 3.125rem;

    &::after {
      @mixin tilt;
      background-color: var(--col-white);
      transform: skewY(2deg);
    }

    &.alt::after {
      background-color: var(--col-navy-light);
    }

    & + * {
      padding-top: 6.25rem;
    }
  }

  .with-tilt-sibling {
    padding-bottom: 6.25rem;
  }

  .center {
    text-align: center;
  }

  .showie {
    display: none;
  }
}

.ie9 {
  .uomcontent .fullwidth {
    p,
    p.black {
      margin: 0 auto;
      max-width: 900px;
      text-align: center;
    }
  }

  .uomcontent ul.ticked-list li::before {
    color: var(--col-green-mid-2);
    content: '';
    font-size: 16px;
    font-weight: var(--fw-semibold);
    left: 0;
    margin-left: -22px;
    position: absolute;
  }
}

/* Uninjected styles */
.uomcontent .page-local-history {
  padding: pxtorem(15) pxtorem(30);
  color: var(--col-blue-mid-2);
  display: block;

  a {
    color: var(--col-blue-light);

    &:hover,
    &:focus {
      color: var(--col-white);
    }
    &:active {
      color: var(--col-blue-light);
    }
  }
}

.uomcontent footer.cta {
  padding-top: pxtorem(30);
  background-color: var(--col-navy-main);
  color: var(--col-white);

  .overview {
    padding: pxtorem(30) 0 0;
  }

  .button-hero-inverse {
    margin-left: pxtorem(30);
    padding-bottom: pxtorem(10);
    padding-top: pxtorem(10);

    &::after {
      top: -.25rem;
    }
  }

  hr {
    border: 0 none;
    border-top: 1px solid color(var(--col-white) alpha(20%));
  }

  ul {
    max-width: var(--w-lge);
    margin: 0 auto;

    li {
      padding: pxtorem(15);
      list-style-type: none;
    }

    a {
      color: var(--col-white);
    }

    img {
      margin-right: pxtorem(10);
      max-width: pxtorem(24);
      vertical-align: middle;
    }

    @media screen and (--bp-desktop) {
      padding: 0 0 pxtorem(30);
      text-align: center;

      li {
        padding: pxtorem(30);
        display: inline-block;
        float: none;
        width: auto;
      }
    }

    &.site-links {
      @media screen and (--bp-desktop) {
        padding-top: pxtorem(30);
      }
    }
  }
}
