.uomcontent .profile {
  background-color: var(--col-blue-light);

  header {
    min-height: pxtorem(400);

    .bottom-align {
      padding-top: pxtorem(50);
      bottom: 0;
      padding-bottom: 0;
      position: absolute;
      width: 100%;
    }

    h1 {
      border: 0;
      color: var(--col-white);
      line-height: 1.2;
      margin-bottom: 0;

      &::after {
        margin-top: pxtorem(15);
        max-width: var(--w-sml);
        border-bottom: 2px solid var(--col-white);
        content: '';
        display: block;
        width: 100%;
      }

      @media screen and (--bp-tablet) {
        margin-bottom: pxtorem(15);

        &::after {
          margin-top: 1.9375rem;
          max-width: var(--w-sml);
          border-bottom: 2px solid var(--col-white);
          content: '';
          display: block;
          width: 100%;
        }
      }
    }

    p {
      font-size: 1.1875rem;
      font-style: italic;
      padding: 0;

      @media screen and (--bp-tablet) {
        font-size: pxtorem(21);
      }
    }

    & + .intro {
      padding-top: 0;
    }
  }

  section {
    &.intro {
      padding-bottom: 0;

      p {
        font-style: italic;
        padding-bottom: 0;
      }

      & + .video {
        margin-top: 1.9375rem;
      }
    }

  }

  h1 {
    margin-bottom: pxtorem(35);
    border-bottom: 2px solid var(--col-navy-main);
    color: var(--col-navy-main);

    @media screen and (--bp-tablet) {
      margin-bottom: 1.5625rem;
    }

    @media screen and (--bp-wide) {
      font-size: pxtorem(50);
      margin-bottom: 1.9375rem;
    }
  }
}
