.uomcontent [role="main"] {

  .staff-dial {
    max-width: var(--w-mid);
    margin: 0 auto;
    padding: 0;
    text-align: center;

    li {
      margin: .625rem .625rem;
      width: 4.375rem;
      display: inline-block;
      list-style-type: none;
      padding: 0;
      vertical-align: top;

      @media screen and (--bp-desktop) {
        margin: .625rem 1.75rem;
      }
    }

    a {
      font-size: .8125rem;
      line-height: 1.5rem;
      border-radius: 4px;
      height: 4.375rem;
      padding-top: .5rem;
      transition: transform 0.15s;
      background-color: var(--col-blue-mid-2);
      color: var(--col-white);
      display: block;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      width: 100%;

      /* These should be abstracted out to variables */
      &.c1 {
        background-color: #9c27b0;
      }

      &.c2 {
        background-color: #673ab7;
      }

      &.c3 {
        background-color: #2196f3;
      }

      &.c4 {
        background-color: #009688;
      }

      &.c5 {
        background-color: #009688;
      }

      &.c6 {
        background-color: #ff9800;
      }

      &.c7 {
        background-color: #607d8b;
      }

      &:hover {
        transform: scale(1.1);

        svg {
          fill: var(--col-white);
        }

        .icon-label {
          color: var(--col-white);
        }
      }

      & > div.small {
        width: 100%;
      }
    }
  }
}
