.uomcontent [role="main"] {

  .staff-dial {
    max-width: var(--w-mid);
    margin: 0 auto;
    padding: 0;
    text-align: center;

    li {
      margin: calc(10/16rem) calc(10/16rem);
      width: 4.375rem;
      display: inline-block;
      list-style-type: none;
      padding: 0;
      vertical-align: top;

      @media screen and (--bp-desktop) {
        margin: calc(10/16rem) 1.75rem;
      }
    }

    a {
      line-height: calc(24/16rem);
      border-radius: 4px;
      height: 4.375rem;
      padding-top: .5rem;
      transition: transform 0.15s;
      background-color: var(--col-blue-mid-2);
      color: var(--col-white);
      display: block;
      text-align: center;
      text-decoration: none;
      width: 100%;

      /* These should be abstracted out to variables */
      &.c1 {
        background-color: var(--col-unsanctioned-black-mid-3);
      }

      &.c2 {
        background-color: var(--col-emerald-dark);
      }

      &.c3 {
        background-color: var(--col-orange-dark);
      }

      &.c4 {
        background-color: var(--col-pink-dark);
      }

      &.c5 {
        background-color: var(--col-purple-dark);
      }

      &.c6 {
        background-color: var(--col-teal-dark);
      }

      &.c7 {
        background-color: var(--col-yellow-mid-2);
      }

      &:hover {
        transform: scale(1.1);

        svg {
          fill: var(--col-white);
        }

        .icon-label {
          color: var(--col-white);
        }
      }

      & > div.small {
        width: 100%;
      }
    }
  }
}
