.uomcontent .timetable {
  background-color: #fff;

  @media (--bp-desktop) {
    /* r-bg-b */
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAD6AAAAABCAIAAABFFcb3AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyNpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNS1jMDIxIDc5LjE1NDkxMSwgMjAxMy8xMC8yOS0xMTo0NzoxNiAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6MjNFNkRERDdGOEVGMTFFM0EwQThBMjNGMTQ3OTQ5MzkiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6MjNFNkRERDZGOEVGMTFFM0EwQThBMjNGMTQ3OTQ5MzkiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIChNYWNpbnRvc2gpIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6NzI4NEIyRkVERDBDMTFFM0IyOEY4MDc0NEQ1ODBDOUIiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6NzI4NEIyRkZERDBDMTFFM0IyOEY4MDc0NEQ1ODBDOUIiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz4DBbEGAAAAMElEQVR42uzQsQkAMAwDsPT/cwOFTu4RXqUTdJIMAAAAAADQ2fskAAAAAABA6QswAAhNBeHHgVZaAAAAAElFTkSuQmCC');
    background-position: 59% 0;

    &.left {
      /* bg-b */
      background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAC7gAAAABCAIAAADBtXRpAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyNpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNS1jMDIxIDc5LjE1NDkxMSwgMjAxMy8xMC8yOS0xMTo0NzoxNiAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6NzlCNjZBNkFGOEQ0MTFFM0EwQThBMjNGMTQ3OTQ5MzkiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6NzlCNjZBNjlGOEQ0MTFFM0EwQThBMjNGMTQ3OTQ5MzkiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIChNYWNpbnRvc2gpIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6NzI4NEIyRkVERDBDMTFFM0IyOEY4MDc0NEQ1ODBDOUIiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6NzI4NEIyRkZERDBDMTFFM0IyOEY4MDc0NEQ1ODBDOUIiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz4PeCQAAAAAMUlEQVR42uzQsQkAIAwAsDoVCv3/T0Ho6BEuDskJWftMAAAAf+tKCQAAAAAA8OgKMAD4VgL/lPaYtgAAAABJRU5ErkJggg==');
    }
  }

  .bside {
    padding: 0 .9375rem;
    padding-left: 3%;

    h1 {
      line-height: 1.3;
    }

    @media (--bp-desktop) {
      padding-right: 3.75rem;
      display: table-cell;
      float: none;
      height: 100%;
      vertical-align: top;
      width: 66.667%;
    }

    @media (--bp-wide) {
      width: 70%;
    }

    @media (min-width: 1200px) {
      width: 80%;
    }

    @media (min-width: 1455px) {
      padding-left: 0;
    }
  }

  .aside {
    background-color: var(--col-paleblue);

    h2 {
      margin-left: 0;
    }

    @media (--bp-desktop) {
      display: table-cell;
      float: none;
      height: 100%;
      vertical-align: top;
      width: 33.333%;
    }

    @media (--bp-wide) {
      width: 25%;
    }

    @media (min-width: 1200px) {
      width: 20%;
    }
  }

  .accessibility {
    display: block;
    float: left;
    height: 0;
    text-indent: -999em;
    width: 0;
  }

  .time {
    min-width: 4.0625rem;
    color: #000;
    display: inline-block;
    font-style: italic;
  }

  .duration {
    color: var(--col-midgray);
    display: inline-block;
  }

  h1 {
    padding-top: 3.75rem;
    margin-left: 0;
    max-width: 100%;
  }

  p {
    margin-left: 0;
  }

  table {
    margin-bottom: 3.75rem;
    border-bottom: 1px solid var(--col-lightergray);
    border-collapse: collapse;
    max-width: 100%;
    width: 100%;

    @media (--bp-desktop) {
      margin-top: 3.75rem;
      border-bottom: 0 none;
    }

    .accordion__title:hover {
      text-decoration: underline;
    }

    .accordion__close {
      height: 3.125rem;
      width: 3.125rem;
      color: #fff;
      cursor: pointer;
      display: block;
      position: absolute;
      right: 0;
      text-decoration: none;
      top: 0;

      &::after {
        font-size: 3.75rem;
        content: '\00d7';
        font-weight: var(--fw-thin);
        line-height: 1;
      }
    }

    tbody > tr:first-child > th {
      border-top: 0 none;
    }

    tr {
      border-bottom: 1px solid var(--col-lightergray);
      clear: both;
      display: block;

      @media (--bp-desktop) {
        border-bottom: 0 none;
        display: table-row;
      }

      th {
        @add-mixin subtitle;
        font-size: .875rem;
        padding: 1.875rem 0 .625rem;
        border-top: 1px solid var(--col-lightergray);
        clear: both;
        display: block;
        letter-spacing: 1px;
        max-width: 100%;
        text-align: left;
        vertical-align: top;

        @media (--bp-desktop) {
          padding: .625rem .625rem .625rem 0;
          border-bottom: 1px solid var(--col-lightergray);
          border-right: 1px solid var(--col-lightergray);
          border-top: 0 none;
          display: table-cell;
          max-width: 25%;
        }
      }

      td {
        font-size: .875rem;
        padding-top: .3125rem;
        border-right: 1px solid var(--col-lightergray);
        display: block;
        float: left;
        width: 80%;
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;
        text-align: left;
        vertical-align: top;

        @media (--bp-desktop) {
          padding: .625rem;
          border-bottom: 1px solid var(--col-lightergray);
          border-right: 0 none;
          display: table-cell;
          float: none;
          width: auto;
        }
      }

      th + td,
      tr > td {
        white-space: nowrap;
      }

      td.informative {
        padding-bottom: .625rem;
        padding-right: .625rem;
        display: block;
        max-width: 100%;
        white-space: normal;

        @media (--bp-desktop) {
          display: table-cell;
          max-width: 25%;
        }
      }

      td.action {
        border-right: 0 none;
        display: block;
        float: left;
        padding-bottom: 12px;
        text-align: center;
        max-width: 20%;

        @media (--bp-desktop) {
          border-bottom: 1px solid var(--col-lightergray);
          border-left: 1px solid var(--col-lightergray);
          display: table-cell;
          float: none;
          max-width: none;
        }

        a {
          font-size: 1.5rem;
          padding: .3125rem;
          width: 1.25rem;
          display: block;
          font-weight: var(--fw-bold);
          line-height: 1;
          margin: -.75em auto 0;
          text-decoration: none;

          @media (--bp-desktop) {
            display: inline;
            margin: 0;
            width: auto;
          }
        }
      }
    }
  }
}
