@define-mixin aligned-title {
  font-size: pxtorem(32);
  padding-top: pxtorem(48);
  padding-bottom: pxtorem(36);
  padding-right: pxtorem(20);
  font-weight: var(--fw-bold);
  margin: 0 auto;
  padding-left: 0;
  text-align: left;
  text-transform: none;
  width: 94%;

  @media screen and (--bp-wide) {
    padding-top: pxtorem(80);
    width: 100%;
  }

  @media screen and (--bp-desktop) {
    font-size: pxtorem(36);
  }

  &::after {
    margin-top: pxtorem(36);
    width: pxtorem(40);
    border-bottom: 2px solid currentColor;
    content: '';
    display: block;
    margin-left: 0;
  }
}

@define-mixin subtitle {
  font-size: pxtorem(22);
  font-family: var(--ff-sans);
  font-weight: var(--fw-semibold);
}

@define-mixin title {
  font-size: pxtorem(22);
  font-family: var(--ff-serif);
  font-weight: var(--fw-bold);
  letter-spacing: -0.03em;
  text-align: center;

  &::after {
    margin-top: pxtorem(24);
    width: pxtorem(80);
    border-bottom: 1px solid var(--col-black-mid-1);
    content: '';
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.uomcontent {
  .subtitle {
    @mixin subtitle;
  }

  .title {
    @mixin title;
  }

  h1.aligned-title {
    @mixin aligned-title;
  }

  h1.aligned-title + section {
    padding-top: 0;
  }

  .feature {
    font-size: pxtorem(20);
    line-height: pxtorem(24);
  }
}

.uomcontent [role="main"] {
  h1.highlight {
    font-size: pxtorem(75);
    line-height: calc(84/16)rem;
    color: var(--col-blue-mid-2);
    letter-spacing: -5px;
    text-align: center;
    animation: hue 80s infinite linear;

    @media screen and (--bp-desktop) {
      font-size: 10rem;
      line-height: 10.5rem;
    }
  }

  header h1.highlight,
  & > header:first-child h1.highlight,
  header.image h1.highlight,
  & > header.image:first-child h1.highlight,
  header.banner h1.highlight,
  & > header.banner:first-child h1.highlight {
    font-size: 3.75rem;
    line-height: 4.5rem;
    text-align: center;

    @media screen and (--bp-desktop) {
      font-size: pxtorem(100);
      line-height: 6.75rem;
      text-align: center;
    }

    @media screen and (--bp-height-medium) {
      padding-top: 0;
    }
  }
}
