%wrapper {
  @include rem(padding, 10px);
  margin: 0 auto;
  max-width: 100%;

  @include breakpoint(tabletportrait) {
    @include rem(max-width, 1099px);
  }

  @include breakpoint(desktop) {
    @include rem(max-width, 1600px);
  }
}

%code {
  @include rem(font-size, 17px);
  @include rem(border-radius, 3px);
  background-color: darken($lightgray, 2%);
  border-color: darken($lightgray, 5%);
  border-style: solid;
  border-width: 0;
  font-family: $ff-fixed;
}

body {
  background-color: $navy;
  color: $black;
  font-family: $ff-sans;
  font-size: 118%;
}

[role="main"] {
  background-color: $lightgray;
  font-weight: $light;

  header {
    @include rem(padding-top, 30px);
    background-color: $lightgray;
    background-image: url(/assets/images/bg-banner.jpg);
    background-position: center 80%;
    background-repeat: no-repeat;
    color: $white;
  }


  article {
    @include rem(padding-bottom, 30px);    
  }

  section {
    @extend %wrapper;
    @include rem(padding-bottom, 30px);
    @include rem(padding-top, 30px);
  }

}

h1 {
  @include rem(font-size, 44px);
  @include rem(padding, 20px 0);
  font-weight: $bold;
}

h2 {
  @include rem(font-size, 28px);
  @include rem(padding, 20px 0 10px);
  font-weight: $light;
}

p,
li {
  @include rem(font-size, 19px);
  @include rem(max-width, 690px);
  @include rem(padding-bottom, 15px);
  line-height: 1.5;
}

.feature {
  @include rem(font-size, 24px);
}

code {
  @extend %code;
  @include rem(border-bottom-width, 2px);
  color: $midgray;
}

pre {
  @extend %code;
  @include rem(border-left-width, 6px);
  @include rem(margin-bottom, 15px);
  @include rem(margin-top, 10px);
  @include rem(padding, 15px);
  line-height: 1.2;
  max-width: 100%;
  overflow: auto;
  code {
    border-bottom: 0;
  }
}

a {
  color: darken($cherry, 15%);
  text-decoration: underline;
  &:hover {
    color: $cherry;
  }
}

img {
  max-width: 100%;
}

.button {
  @extend %flatbutton;
}

ol,
ul {
  @include rem(margin, 0 0 0 25px);
  @include rem(padding, 10px 0);
  color: $darkgray;
  list-style-position: outside;
  li {
    @include rem(padding-bottom, 5px);
    color: $black;
    display: list-item;
  }
  &.nobullet {
    margin-left: 0;
    li {
      list-style-type: none;
    }
  }
}

ol li {
  list-style-type: decimal;
}

ul li {
  list-style-type: disc;
}

dl {
  @extend %clearfix;
  @include rem(font-size, 14px);
  @include rem(padding, 10px 15px);
  dt {
    @include rem(width, 120px);
    clear: left;
    float: left;
  }
  dd {
    float: left;
  }
}
