@define-mixin raisedbutton {
  border-radius: 5px;
  font-size: calc(16/16rem);
  padding: 0.9em 1.8em;
  background-color: var(--col-blue-mid-2);
  border: 0;
  border-bottom: 5px solid color(var(--col-blue-mid-2) lightness(-10%));
  color: var(--col-white);
  cursor: pointer;
  display: inline-block;
  font-style: normal;
  font-weight: var(--deprecated-fw--bold);
  margin: 20px 0;
  outline-color: var(--col-black-dark);
  outline-offset: 1px;
  text-align: center;
  text-decoration: none;
  vertical-align: bottom;

  &[disabled],
  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &:hover,
  &:focus {
    border-bottom-width: 1px;
    color: var(--col-white);
    margin-top: 24px;
  }

  &:active {
    opacity: .3;
  }

  &.warning {
    background-color: var(--col-pink-dark);
    border-bottom-color: color(var(--col-pink-dark) lightness(-10%));
  }

  &.cta {
    background-color: var(--col-emerald-mid-2);
    border-bottom-color: color(var(--col-emerald-mid-2) lightness(-10%));
  }

  &.brand {
    background-color: var(--col-navy-main);
    border-bottom-color: color(var(--col-navy-main) lightness(-10%));
  }

  &.soft {
    background-color: var(--col-black-light);
    border-bottom-color: color(var(--col-black-light) lightness(-10%));
    color: var(--col-black-dark);
  }

  @media screen and (--bp-desktop) {
    font-size: calc(18/16rem);
  }

  [data-icon] {
    margin-left: .125rem;
    padding-bottom: .1875rem;
    padding-top: .0625rem;

    &.small {
      height: 1.25rem;
      width: 1.25rem;
    }
  }
}

@define-mixin flatbutton {
  @mixin raisedbutton;
  border-radius: 2px;
  font-size: calc(13/16rem);
  padding: 0.5em 1.2em;
  border-bottom: 0;
  margin: 0;

  &:not([disabled]):hover,
  &:not([disabled]):focus {
    background-color: color(var(--col-blue-mid-2) lightness(-10%));
  }

  &:active {
    opacity: .3;
  }

  &.warning:not([disabled]):hover,
  &.warning:not([disabled]):focus {
    background-color: color(var(--col-pink-dark) lightness(-10%));
  }

  &.cta:not([disabled]):hover,
  &.cta:not([disabled]):focus {
    background-color: color(var(--col-emerald-mid-2) lightness(-10%));
  }

  &.brand:not([disabled]):hover,
  &.brand:not([disabled]):focus {
    background-color: color(var(--col-navy-main) lightness(-10%));
  }

  &.soft {
    background-color: var(--col-black-light);
    color: var(--col-black-dark);

    &:not([disabled]):hover,
    &:not([disabled]):focus {
      background-color: color(var(--col-black-light) lightness(-10%));
    }
  }

  &:hover,
  &:focus,
  &[disabled]:hover,
  &[disabled]:focus {
    margin-top: 0;
  }

  @media screen and (--bp-desktop) {
    font-size: calc(14/16rem);
  }
}

@define-mixin arrow-right {
  &::after {
    border-bottom: 2px solid currentColor;
    border-right: 2px solid currentColor;
    content: '';
    display: inline-block;
    height: 0.4em;
    line-height: 0;
    margin-left: 0.7em;
    margin-right: 0.2em;
    margin-top: -1px;
    opacity: 0.8;
    transform: rotate(-45deg) translateY(-1px);
    width: 0.4em;
  }
}

@define-mixin arrow-left {
  &::before {
    border-left: 2px solid currentColor;
    border-top: 2px solid currentColor;
    content: '';
    display: inline-block;
    height: 0.4em;
    line-height: 0;
    margin-left: 0.5em;
    margin-right: 0.7em;
    margin-top: -1px;
    opacity: 0.8;
    transform: rotate(-45deg) translateY(-1px);
    width: 0.4em;
  }
}

@define-mixin outlinebutton {
  border-radius: 5px;
  border-width: 2px;
  font-size: calc(16/16rem);
  margin: 1.25rem 0;
  padding: 1em 1.5em;
  border-color: var(--col-black-dark);
  border-style: solid;
  color: var(--col-black-dark);
  cursor: pointer;
  display: inline-block;
  font-style: normal;
  font-weight: var(--deprecated-fw--bold);
  outline-color: var(--col-black-dark);
  text-align: center;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
    color: var(--col-black-dark);
  }

  &:active {
    opacity: .3;
  }

  @media screen and (--bp-desktop) {
    font-size: calc(18/16rem);
  }
}

@define-mixin iconbutton {
  @mixin flatbutton;
  font-size: .875rem;
  margin: .625rem 0;
  padding: .3125rem .625rem .3125rem 1.25rem;
  appearance: none;
  display: inline-block;
  font-weight: var(--deprecated-fw--regular);

  svg.icon {
    height: 1rem;
    margin: 0 .3125rem;
    width: 1rem;
    fill: currentcolor;
    vertical-align: middle;
  }

  &:hover {
    margin: .625rem 0;
    background-color: color(var(--col-black-dark) alpha(10%));
    color: var(--col-black-dark);
  }
}

.uomcontent input[type="submit"],
.uomcontent input[type="button"] {
  @mixin raisedbutton;
  width: auto;
}

.uomcontent {
  .button {
    @mixin raisedbutton;
  }

  .button-small {
    @mixin flatbutton;
  }

  .with-arrow {
    @mixin arrow-right;
  }

  .with-arrow-left {
    @mixin arrow-left;
  }

  .button-hero {
    @mixin outlinebutton;
    @mixin arrow-right;
  }

  .button-hero-reverse {
    @mixin outlinebutton;
    @mixin arrow-right;
  }

  .button-hero-inverse {
    @mixin outlinebutton;
    @mixin arrow-right;
    border-color: rgba(255, 255, 255, 0.7);
    color: var(--col-white);
    outline-color: currentColor;
    &:hover,
    &:focus {
      color: var(--col-white);
    }
  }

  .button-fill {
    color: var(--col-black-dark);
    text-align: center;
    text-decoration: none;
    width: 100%;

    &:hover {
      background-color: var(--col-blue-mid-2);
      color: var(--col-white);
    }

    h2 {
      font-size: 1.5rem;
    }

    p {
      font-size: 1rem;
    }
  }
}
