@define-mixin raisedbutton {
  border-radius: 5px;
  font-size: .8125rem;
  padding: .9375rem 1.25rem;
  background-color: var(--col-lighterblue);
  border: 0;
  border-bottom: 5px solid color(var(--col-lighterblue) lightness(-10%));
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-style: normal;
  font-weight: var(--fw-bold);
  letter-spacing: 2px;
  margin: 20px 0;
  outline-color: #000;
  outline-offset: 1px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: bottom;

  &[disabled],
  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &:hover,
  &:focus {
    border-bottom-width: 1px;
    color: #fff;
    margin-top: 24px;
  }

  &:active {
    opacity: .3;
  }

  &.warning {
    background-color: var(--col-cherry);
    border-bottom-color: color(var(--col-cherry) lightness(-10%));
  }

  &.cta {
    background-color: var(--col-green);
    border-bottom-color: color(var(--col-green) lightness(-10%));
  }

  &.brand {
    background-color: var(--col-darkblue);
    border-bottom-color: color(var(--col-darkblue) lightness(-10%));
  }

  &.soft {
    background-color: var(--col-lightergray);
    border-bottom-color: color(var(--col-lightergray) lightness(-10%));
    color: var(--col-midblue);

    &:not([disabled]):hover,
    &:not([disabled]):focus {
      background-color: var(--col-gray);
      color: var(--col-darkblue);
    }
  }

  [data-icon] {
    margin-left: .125rem;
    padding-bottom: .1875rem;
    padding-top: .0625rem;

    &.small {
      height: 1.25rem;
      width: 1.25rem;
    }
  }

  @media screen and (--bp-height-small) {
    font-size: .9375rem;
    padding: 1.0625rem 2.5rem;
  }
}

@define-mixin flatbutton {
  @mixin raisedbutton;
  border-radius: 2px;
  font-size: .75rem;
  padding: .625rem .9375rem;
  border-bottom: 0;
  margin: 0;
  position: relative;

  &:not([disabled]):hover,
  &:not([disabled]):focus {
    background-color: color(var(--col-lighterblue) lightness(-10%));
  }

  &:active {
    opacity: .3;
  }

  &.warning:not([disabled]):hover,
  &.warning:not([disabled]):focus {
    background-color: color(var(--col-cherry) lightness(-10%));
  }

  &.cta:not([disabled]):hover,
  &.cta:not([disabled]):focus {
    background-color: color(var(--col-green) lightness(-10%));
  }

  &.brand:not([disabled]):hover,
  &.brand:not([disabled]):focus {
    background-color: color(var(--col-darkblue) lightness(-10%));
  }

  &.soft {
    background-color: var(--col-lightergray);
    color: var(--col-darkblue);

    &:not([disabled]):hover,
    &:not([disabled]):focus {
      background-color: color(var(--col-gray) lightness(-10%));
    }
  }

  &:hover,
  &:focus,
  &[disabled]:hover,
  &[disabled]:focus {
    margin-top: 0;
  }

  @media screen and (--bp-height-small) {
    font-size: .75rem;
    padding: .625rem .9375rem;
  }
}

@define-mixin arrow-right {
  &::after {
    font-size: 1.25rem;
    padding-left: .3125rem;
    content: '\2192';
    line-height: 0;
  }
}

@define-mixin arrow-left {
  &::before {
    font-size: 1.25rem;
    padding-right: .3125rem;
    content: '\2190';
    line-height: 0;
  }
}

@define-mixin outlinebutton {
  border-radius: 5px;
  border-width: 2px;
  font-size: .8125rem;
  letter-spacing: .0625rem;
  margin: 1.25rem 0;
  padding: .625rem;
  border-color: var(--col-background-primary-navy);
  border-style: solid;
  color: var(--col-background-primary-navy);
  cursor: pointer;
  display: inline-block;
  font-style: normal;
  font-weight: var(--fw-bold);
  outline-color: #000;
  outline-offset: 1px;
  position: relative;
  text-align: center;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  &:active {
   background-color: var(--col-background-primary-navy);
   color: #fff;
   text-decoration: none;
  }

  @media screen and (--bp-height-small) {
    font-size: .9375rem;
    margin: 1.25rem 0;
    padding: 1.25rem;
  }
}

@define-mixin outlinearrow {
  &::after {
    font-size: .9375rem;
    padding-left: .625rem;
    content: '\203A';
    line-height: 0;
    top: 6px;
    display: inline-block;
    position: relative;

    @media screen and (--bp-height-small) {
      font-size: 2.5rem;
      font-weight: var(--fw-regular);
      padding-left: .9375rem;
    }
  }
}

@define-mixin outlinearrow-reverse {
  &::before {
    font-size: .9375rem;
    padding-right: .625rem;
    content: '\2190';
    line-height: 0;

    @media screen and (--bp-height-small) {
      font-size: 1.625rem;
      padding-right: .9375rem;
    }
  }
}

@define-mixin iconbutton {
  @mixin flatbutton;
  font-size: .875rem;
  margin: .625rem 0;
  padding: .3125rem .625rem .3125rem 1.25rem;
  appearance: none;
  display: inline-block;
  font-weight: var(--fw-regular);

  svg.icon {
    height: 1rem;
    margin: 0 .3125rem;
    width: 1rem;
    fill: currentcolor;
    vertical-align: middle;
  }

  &:hover {
    margin: .625rem 0;
    background-color: color(#000 alpha(10%));
    color: #000;
  }
}

.uomcontent input[type="submit"],
.uomcontent input[type="button"] {
  @mixin raisedbutton;
  width: auto;
}

.uomcontent {
  .button {
    @mixin raisedbutton;
  }

  .button-small {
    @mixin flatbutton;
  }

  .with-arrow {
    @mixin arrow-right;
  }

  .with-arrow-left {
    @mixin arrow-left;
  }

  .button-hero {
    @mixin outlinebutton;
    @mixin outlinearrow;
  }

  .button-hero-reverse {
    @mixin outlinebutton;
    @mixin outlinearrow-reverse;
  }

  .button-hero-inverse {
    @mixin outlinebutton;
    @mixin outlinearrow;
    border-color: #fff;
    color: #fff;
    outline-color: currentColor;
  }

  .button-fill {
    color: #000;
    text-align: center;
    text-decoration: none;
    width: 100%;

    &:hover {
      background-color: var(--col-lighterblue);
      color: #fff;
    }

    h2 {
      font-size: 1.5rem;
    }

    p {
      font-size: 1rem;
    }
  }
}
