@define-mixin raisedbutton {
  border-radius: 5px;
  font-size: pxtorem(16);
  padding: 0.9em 1.8em;
  background-color: var(--col-blue-mid-2);
  border: 0;
  color: var(--col-white);
  cursor: pointer;
  display: inline-block;
  font-style: normal;
  font-weight: var(--fw-semibold);
  margin: 20px 0;
  outline-color: var(--col-black-dark);
  outline-offset: 1px;
  text-align: center;
  text-decoration: none;
  vertical-align: bottom;

  &[disabled],
  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &:hover,
  &:focus {
    color: var(--col-white);
    background-color: var(--col-blue-dark);
  }

  &:active {
    opacity: .3;
  }

  &.warning {
    background-color: var(--col-orange-dark);
    &:hover,
    &:focus {
      background-color: var(--col-pink-dark);
    }
  }

  &.cta {
    background-color: var(--col-emerald-mid-2);
    &:hover,
    &:focus {
      background-color: var(--col-emerald-dark);
    }
  }

  &.brand {
    background-color: var(--col-navy-main);
    &:hover,
    &:focus {
      background-color: var(--col-tertiary-navy);
    }
  }

  &.soft {
    background-color: var(--col-black-light);
    color: var(--col-black-dark);
    &:hover,
    &:focus {
      background-color: var(--col-black-mid-1);
    }
  }

  @media screen and (--bp-desktop) {
    font-size: pxtorem(18);
  }

  [data-icon] {
    margin-left: .125rem;
    padding-bottom: pxtorem(3);
    padding-top: .0625rem;

    &.small {
      height: pxtorem(20);
      width: pxtorem(20);
    }
  }
}

@define-mixin flatbutton {
  @mixin raisedbutton;
  border-radius: 2px;
  font-size: pxtorem(13);
  padding: 0.5em 1.2em;
  border-bottom: 0;
  margin: 0;

  &:not([disabled]):hover,
  &:not([disabled]):focus {
    background-color: var(--col-blue-dark);
  }

  &:active {
    opacity: .3;
  }

  &.warning:not([disabled]):hover,
  &.warning:not([disabled]):focus {
    background-color: var(--col-orange-dark);

    &:not([disabled]):hover,
    &:not([disabled]):focus {
      background-color: var(--col-pink-dark);
    }
  }

  &.cta:not([disabled]):hover,
  &.cta:not([disabled]):focus {
    background-color: var(--col-emerald-mid-2);

    &:not([disabled]):hover,
    &:not([disabled]):focus {
      background-color: var(--col-emerald-dark);
    }
  }

  &.brand:not([disabled]):hover,
  &.brand:not([disabled]):focus {
    background-color: var(--col-navy-main);

    &:not([disabled]):hover,
    &:not([disabled]):focus {
      background-color: var(--col-tertiary-navy);
    }
  }

  &.soft {
    background-color: var(--col-black-light);
    color: var(--col-black-dark);

    &:not([disabled]):hover,
    &:not([disabled]):focus {
      background-color: var(--col-black-mid-1);
    }
  }

  &:hover,
  &:focus,
  &[disabled]:hover,
  &[disabled]:focus {
    margin-top: 0;
  }

  @media screen and (--bp-desktop) {
    font-size: pxtorem(14);
  }
}

@define-mixin arrow-right {
  &::after {
    border-bottom: 2px solid currentColor;
    border-right: 2px solid currentColor;
    content: '';
    display: inline-block;
    height: 0.4em;
    line-height: 0;
    margin-left: 0.7em;
    margin-right: 0.2em;
    margin-top: -1px;
    opacity: 0.8;
    transform: rotate(-45deg) translateY(-1px);
    width: 0.4em;
  }
}

@define-mixin arrow-left {
  &::before {
    border-left: 2px solid currentColor;
    border-top: 2px solid currentColor;
    content: '';
    display: inline-block;
    height: 0.4em;
    line-height: 0;
    margin-left: 0.5em;
    margin-right: 0.7em;
    margin-top: -1px;
    opacity: 0.8;
    transform: rotate(-45deg) translateY(-1px);
    width: 0.4em;
  }
}

@define-mixin outlinebutton {
  border-radius: 5px;
  border-width: 2px;
  font-size: pxtorem(16);
  margin: pxtorem(20) 0;
  padding: 1em 1.5em;
  border-color: color(var(--col-navy-main) alpha(30%));
  border-style: solid;
  color: var(--col-navy-main);
  cursor: pointer;
  display: inline-block;
  font-style: normal;
  font-weight: var(--fw-semibold);
  outline-color: var(--col-navy-main);
  text-align: center;
  text-decoration: none;
  transition-property: border-color;
  transition-timing-function: ease-in-out;
  transition-duration: 150ms;

  &:hover,
  &:focus {
    border-color: var(--col-navy-main);
    color: var(--col-navy-main);
    text-decoration: underline;
  }

  &:active {
    opacity: .3;
  }

  @media screen and (--bp-desktop) {
    font-size: pxtorem(18);
  }
}

@define-mixin iconbutton {
  @mixin flatbutton;
  font-size: pxtorem(14);
  margin: pxtorem(10) 0;
  padding: pxtorem(5) pxtorem(10) pxtorem(5) pxtorem(20);
  appearance: none;
  display: inline-block;
  font-weight: var(--fw-regular);

  svg.icon {
    height: 1rem;
    margin: 0 pxtorem(5);
    width: 1rem;
    fill: currentcolor;
    vertical-align: middle;
  }

  &:hover {
    margin: pxtorem(10) 0;
    background-color: color(var(--col-black-dark) alpha(10%));
    color: var(--col-black-dark);
  }
}

.uomcontent input[type="submit"],
.uomcontent input[type="button"] {
  @mixin raisedbutton;
  width: auto;
  background-color: var(--col-navy-main);
  &:hover,
  &:focus {
    background-color: var(--col-tertiary-navy);
  }
}

.uomcontent {
  .button {
    @mixin raisedbutton;
  }

  .button-small {
    @mixin flatbutton;
  }

  .with-arrow {
    @mixin arrow-right;
  }

  .with-arrow-left {
    @mixin arrow-left;
  }

  .button-hero {
    @mixin outlinebutton;
    @mixin arrow-right;
  }

  .button-hero-reverse {
    @mixin outlinebutton;
    @mixin arrow-right;
  }

  .button-hero-inverse {
    @mixin outlinebutton;
    @mixin arrow-right;
    border-color: color(var(--col-white) alpha(30%));
    color: var(--col-white);
    outline-color: currentColor;
    &:hover,
    &:focus {
      color: var(--col-white);
      border-color: var(--col-white);
    }
  }

  .button-fill {
    color: var(--col-black-dark);
    text-align: center;
    text-decoration: none;
    width: 100%;

    &:hover {
      background-color: var(--col-blue-mid-2);
      color: var(--col-white);
    }

    h2 {
      font-size: pxtorem(24);
    }

    p {
      font-size: 1rem;
    }
  }
}
