%jump {
  color: $gray;
  list-style-position: inside;
  margin: 0 auto;
  padding: 30px 0;

  li {
    color: $gray;
    display: inline-block;
    font-size: 14px;
    font-weight: $regular;
    list-style-type: none;
    margin-left: 0;
    white-space: nowrap;
    width: 50%;

    &:first-child {
      border-bottom: 1px solid $lightergray;
      letter-spacing: 1px;
      margin-bottom: 10px;
      text-transform: uppercase;
      width: 100%;

      a::before {
        content: '';
        padding-right: 0;
      }
    }
  }

  a {
    color: $gray;
    text-decoration: none;

    &::before {
      content: '\25cf';
      padding-right: 5px;
    }

    &:hover {
      color: $highlight;
    }
  }

  @include breakpoint(desktop) {
    li {
      width: 100%;
    }

    a.current {
      color: $highlight;
    }
  }
}

[role="main"] .jump-navigation {
  @extend %jump;
}

#outer {
  @extend %jump;

  // MAGIC FAIRY DUST
  transform: translateZ(0);

  @include breakpoint(desktop) {
    left: 0;
    padding: 30px 15px;
    position: fixed;
    top: 30px;
    width: 200px;
    z-index: 100;
  }
}

