p You can add multiple pins to the map by separating their coordinates with pipes (<code>|</code>) inside the <code>data-pin</code> attribute.
section
  .map-canvas data-pin="-37.798535, 144.960605|-37.798048, 144.960946" data-latlng="-37.798535, 144.960605"
