.uomcontent [role="main"] section {
  .map-canvas {
    height: 400px;
    max-width: 100%;

    img {
      max-width: none;
    }
  }

  .leaflet-control-attribution a {
    color: inherit;

    &.em {
      color: #0078A8;
    }
  }
}
