.uomcontent [role="main"] {
  header,
  & > header:first-child {

  	.bottom-align {
      @include grad-bottom;
      margin-bottom: -1.5625rem;
      align-self: flex-end;
      width: 100%;

      p {
        padding-bottom: 1.5rem;
      }

      @include breakpoint(desktop) {
        margin-bottom: -3rem;
      }
    }

    .bottom-align-inverted {
      @include grad-top;
      color: $black;
    }

    .bottom-align-flat {
      margin-bottom: -1.5625rem;
      padding-bottom: 1.875rem;
      padding-top: 1.875rem;
      align-self: flex-end;
      background-color: rgba($darkblue, .8);
      width: 100%;

      &.white {
        background-color: rgba($white, .8);
        color: $black;
      }

      &.black {
        background-color: rgba($black, .5);
      }

      form {
        background-color: transparent;

        label {
          color: $white;
        }
      }

      @include breakpoint(desktop) {
        margin-bottom: -3rem;
      }
    }
	}
}

.ie9 {
  .uomcontent header {
    position: relative;

    .bottom-align,
    .bottom-align-inverted,
    .bottom-align-flat {
      bottom: 0;
      margin-bottom: 0;
      position: absolute;
    }
  }
}
