.uomcontent [role="main"] {
  header,
  & > header:first-child {

    .bottom-align {
      @mixin grad-bottom;
      margin-bottom: pxtorem(-25);
      align-self: flex-end;
      width: 100%;

      p {
        padding-bottom: pxtorem(24);
      }

      @media screen and (--bp-desktop) {
        margin-bottom: pxtorem(-48);
      }
    }

    .bottom-align-inverted {
      @mixin grad-top;
      color: var(--col-black-dark);
    }

    .bottom-align-flat {
      margin-bottom: pxtorem(-25);
      padding-bottom: pxtorem(30);
      padding-top: pxtorem(30);
      align-self: flex-end;
      background-color: color(var(--col-navy-main) alpha(80%));
      width: 100%;

      &.white {
        background-color: color(var(--col-white) alpha(80%));
        color: var(--col-black-dark);
      }

      &.black {
        background-color: color(var(--col-black-dark) alpha(50%));
      }

      form {
        background-color: transparent;

        label {
          color: var(--col-white);
        }
      }

      @media screen and (--bp-desktop) {
        margin-bottom: pxtorem(-48);
      }
    }
	}
}

.ie9 {
  .uomcontent header {
    position: relative;

    .bottom-align,
    .bottom-align-inverted,
    .bottom-align-flat {
      bottom: 0;
      margin-bottom: 0;
      position: absolute;
    }
  }
}
