.uomcontent [role="main"] {
  header {
    .box {
      max-width: $w-sml;
      padding: 3.5rem 1.875rem;
      background: color(#fff alpha(80%));
      color: #000;
      margin: 0 auto;

      h1 {
        @include title;
        font-size: .9375rem;
        line-height: 1.5rem;
        margin-bottom: 1.5rem;
        font-weight: $bold;
        text-align: center;
      }

      p {
        font-size: 1rem;
        line-height: 1.5rem;
        padding-top: 0;
        font-weight: $light;
      }

      @include breakpoint(tablet) {
        margin: 1.875rem auto;
        padding-left: 3.75rem;
        padding-right: 3.75rem;
      }
    }
  }
}
