.uomcontent [role="main"] {
  header {
    .box {
      max-width: var(--w-sml);
      padding: 3.5rem 1.875rem;
      background: color(#fff alpha(80%));
      color: #000;
      margin: 0 auto;

      h1 {
        @mixin title;
        font-size: .9375rem;
        line-height: 1.5rem;
        margin-bottom: 1.5rem;
        font-weight: var(--fw-bold);
        text-align: center;
      }

      p {
        font-size: 1rem;
        line-height: 1.5rem;
        padding-top: 0;
        font-weight: var(--fw-light);
      }

      @media screen and (--bp-tablet) {
        margin: 1.875rem auto;
        padding-left: 3.75rem;
        padding-right: 3.75rem;
      }
    }
  }
}
