@define-mixin bannerbox {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@define-mixin banner {
  @mixin bannerbox;
  min-height: 18.75rem;
  height: auto;

  @media screen and (--bp-height-smallest) {
    min-height: 32.5rem;
  }

  @media screen and (--bp-height-small) {
    min-height: 38.75rem;
  }

  @media screen and (--bp-height-medium) {
    min-height: 45rem;
  }

  @media screen and (--bp-height-big) {
    min-height: 50rem;
  }

  @media screen and (--bp-desktop) {
    h1 {
      font-size: 3.125rem;
      line-height: 3.75rem;
    }
  }
  @media screen and (--bp-wide) {
    h1 {
      font-size: 3.75rem;
      line-height: 4.5rem;
    }
  }
}

.uomcontent [role="main"] {
  & > article:first-child {
    padding-top: 0;
  }

  /* DEPRECATED */
  &.headerless {
    border-top: 1px solid #fff;
  }

  /* Alternate syntax to avoid class on parent container */
  .headerless {
    border-top: 1px solid #fff;
    padding-top: 0;
  }

  header,
  & > header:first-child {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-color: var(--col-navy);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    overflow: hidden;
    width: 100%;

    &.reverse {
      color: #000;
    }

    &.solid-black {
      background-color: #000;
    }

    &.solid-paleblue {
      background-color: var(--col-paleblue);
      color: #000;
    }

    &.image {
      @mixin bannerbox;
      min-height: 18.75rem;
      height: auto;

      & > h1,
      & > p,
      & > div {
        flex-basis: 100%;
      }

      & > h1,
      & > p {
        padding-bottom: 3rem;
        max-width: var(--w-mid);
        padding-left: 1.25rem;
        padding-right: 1.25rem;
        text-align: center;
      }

      &.with-filters {
        height: auto;
      }
    }

    &.banner {
      @mixin banner;
    }

    &.with-box {
      display: table;
      padding: 0;

      @media screen and (--bp-tablet) {
        padding-bottom: 1.875rem;
        padding-top: 1.875rem;
      }
    }

    h1 {
      font-size: 2.0625rem;
      line-height: 3rem;
      padding-bottom: 0;
      max-width: var(--w-sml);
      font-weight: var(--fw-bolder);
      margin: 0 auto;
      text-align: left;

      &.article {
        font-weight: var(--fw-bold);
      }

      @media screen and (--bp-desktop) {
        font-size: 2.8125rem;
        line-height: 3.75rem;
      }

      @media screen and (--bp-wide) {
        font-size: 3.4375rem;
        line-height: 3.75rem;
      }
    }

    p {
      max-width: var(--w-sml);
      font-weight: var(--fw-bold);
      margin: 0 auto;

      @media screen and (--bp-desktop) {
        font-size: 1.25rem;
        line-height: 1.5rem;
        padding-top: 1.5rem;
      }

      @media screen and (--bp-wide) {
        font-size: 1.5rem;
        line-height: 2.25rem;
      }
    }

    p.author {
      font-size: 1rem;
      line-height: 1.5rem;
      max-width: 21.875rem;
      font-style: italic;

      &::before {
        margin-top: 0;
        margin-bottom: 1.5rem;
        width: 5rem;
        border-top: 5px solid currentColor;
        content: '';
        display: block;
        margin-left: auto;
        margin-right: auto;
      }

      em {
        font-size: 1.125rem;
        line-height: 1.5rem;
        font-style: normal;
        font-weight: var(--fw-bold);
      }
    }

    & + hr.spacer {
      margin-top: 0;
    }

    @media screen and (--bp-desktop) {
      padding-top: 3rem;
      padding-bottom: 3rem;
      /* overflow: hidden; */
    }
  }
}

.uomcontent [role="main"] .contrast-helper {
  background-color: var(--col-midblue);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 0;
  position: relative;

  header {
    background-color: color(#000 alpha(50%));
  }

  &.no-filter header {
    background-color: transparent;
  }
  &.filter-blue header {
    background-color: color(var(--col-brighterblue) alpha(50%));
  }
  &.filter-green header {
    background-color: color(var(--col-green) alpha(50%));
  }
  &.filter-yellow header {
    background-color: color(#fff000 alpha(50%));
  }
  &.filter-red header {
    background-color: color(var(--col-cherry) alpha(50%));
  }

  .stage {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    canvas {
      margin: 0 auto;
    }
  }
}

.uomcontent [role="main"] .fixed-bg {
  background-attachment: fixed;
  background-color: #000;
  background-position: top center;
  background-size: inherit;
}

.uomcontent .floating + [role="main"] {
  header,
  & > header:first-child {
    padding-top: 7.5rem;

    @media screen and (--bp-desktop) {
      padding-top: 11.25rem;
    }
  }
}

.ie9 {
  .uomcontent {
    header,
    & > header:first-child {
      display: block;
      position: relative;
      width: 100%;

      &.image > p {
        padding-bottom: 12.5rem;
      }
    }

    header.image, header.banner {
      display: table;
    }

    [role="main"] .contrast-helper header {
      background-color: transparent;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7f000000', endColorstr='#7f000000', GradientType=1);
    }
  }
}

.ie10 .uomcontent [role="main"],
.ie11 .uomcontent [role="main"] {
  header,
  & > header:first-child {
    &.image {
      height: 18.75rem;

      &.with-filters {
        height: auto;
      }
    }

    &.banner {
      height: 18.75rem;

      @media screen and (--bp-height-smallest) {
        height: 32.5rem;
      }

      @media screen and (--bp-height-small) {
        height: 38.75rem;
      }

      @media screen and (--bp-height-medium) {
        height: 45rem;
      }

      @media screen and (--bp-height-big) {
        height: 50rem;
      }
    }
  }
}
