%headerblock {
  @include rem(font-size, 16px);
  color: $darkblue;
  display: inline-block;
  font-weight: $regular;
  vertical-align: middle;
}

.page-header {
  background-color: $white;
  color: $black;

  header {
    @include rem(height, 50px);
    box-shadow: 0 6px 6px -3px rgba($black, 0.3);
    padding: 0;

    @include breakpoint(desktop) {
      @include rem(height, 90px);
    }
  }

  a {
    @extend %headerblock;
    @include rem(height, 50px);
    @include rem(line-height, 50px);
    font-weight: $light;
    text-decoration: none;
    &:hover {
      color: $midblue;
      text-decoration: underline;
    }
    &.page-header-logo {
      @include rem(height, 40px);
      @include rem(padding, 5px);
      @include rem(width, 40px);
      background-color: $darkblue;
      margin-left: 0;
      img {
        border: 0;
        max-height: 100%;
        max-width: 100%;
      }
    }

    @include breakpoint(desktop) {
      @include rem(height, 75px);
      @include rem(line-height, 75px);
      &.page-header-logo {
        @include rem(padding, 7px);
        @include rem(height, 76px);
        @include rem(width, 76px);
      }
    }
  }

  span {
    @extend %headerblock;
    @include rem(font-size, 13px);
    @include rem(height, 40px);
    @include rem(line-height, 40px);
    @include rem(padding, 5px 10px);
    font-weight: $bold;

    @include breakpoint(desktop) {
      @include rem(height, 75px);
      @include rem(line-height, 75px);
      @include rem(padding, 7.5px 10px);
    }
  }
}

.page-header-navigation {
  @include rem(margin-left, 25px);
  display: inline;
  a, span {
    display: none;
  }
  a.last {
    display: inline-block;
    max-width: 45%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  @include breakpoint(desktop) {
    a, span {
      display: inline-block;
    }
  }
}

.page-header-tools {
  @include rem(padding-right, 10px);
  float: right;
  .page-header-icon {
    @include rem(margin-left, 10px);
    @include rem(padding, 0 0 0 15px);
    border-left: 1px solid darken($lightgray, 10%);
    text-align: center;
    img {
      max-height: 65%;
      max-width: 65%;
    }
  }
  @include breakpoint(desktop) {
    @include rem(padding-right, 20px);
    .page-header-icon {
      @include rem(margin-left, 20px);
      @include rem(padding, 7.5px 10px 7.5px 30px);
      img {
        max-height: 60%;
        max-width: 60%;
      }
    }
  }
}
