@define-mixin blockquote-modern {
  &:not(.blockquote-classic) {
    font-size: 1.75rem;
    margin-bottom: 1.875rem;
    padding-bottom: 1.875rem;
    color: var(--col-lighterblue);
    display: block;
    font-family: "Arial Black", var(--ff-sans);
    font-style: normal;
    font-weight: 700;
    line-height: 1.2;
    margin: 0 auto;
    max-width: var(--w-sml);
    padding-right: .3em;
    position: relative;
    width: 94%;

    &::after {
      content: close-quote;
    }

    &::before {
      content: open-quote;
    }

    & > * {
      display: inline;
    }

    cite {
      font-size: 1.25rem;
      margin-top: .9375rem;
      padding-bottom: .9375rem;
      padding-top: .9375rem;
      border-top: 4px solid var(--col-lighterblue);
      color: var(--col-lighterblue);
      display: block;
      float: right;
      font-family: var(--ff-sans);
      font-style: normal;
      font-weight: var(--fw-light);
      width: 100%;
    }


    @media screen and (--bp-tablet) {
      clear: both;
    }

    @media screen and (--bp-desktop) {
      width: 100%;
    }

    &.left,
    &.right {
      @media screen and (--bp-tablet) {
        font-size: 2rem;
      }

      @media screen and (--bp-desktop) {
        padding-right: .9375rem;
        margin: 0 .9375rem 0 0;
        max-width: 25rem;
        float: left;
        max-width: 62%;
        width: auto;
      }

      @media screen and (--bp-wide) {
        margin-left: -11.25rem;
        max-width: 60%;
      }
    }

    &.right {
      @media screen and (--bp-desktop) {
        margin-left: 1.875rem;
        float: right;
        margin-right: 0;
      }

      @media screen and (--bp-wide) {
        margin-right: -11.25rem;
        margin-left: 0;
      }
    }
  }
}

@define-mixin quote-style {
  font-size: 6.25rem;
  margin-left: -3.125rem;
  margin-right: .625rem;
  color: color(var(--col-lightgray) lightness(-10%));
  content: open-quote;
  line-height: .1em;
  vertical-align: -.333em;
}

.uomcontent [role="main"] blockquote {
  @mixin blockquote-modern;
  margin-top: 0;

  &.blockquote-classic {
    font-size: 1.1875rem;
    line-height: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 3rem;
    max-width: var(--w-mid);
    padding-left: .9375rem;
    padding-right: .9375rem;
    color: var(--col-darkblue);
    font-family: var(--ff-serif);
    font-style: italic;
    font-weight: var(--fw-regular);
    margin-bottom: 0;
    margin-left: 10%;
    margin-right: 0;
    quotes: '\201C' '\201D';
    text-align: left;

    &::after,
    &::before {
      @mixin quote-style;
    }

    &::after {
      content: close-quote;
      margin-left: 0;
      margin-right: 0;
      vertical-align: -.667em;
    }

    cite {
      font-size: .75rem;
      line-height: 1.5rem;
      border: 0;
      color: color(var(--col-midgray) lightness(+20%));
      float: left;
      font-family: var(--ff-sans);
      font-style: normal;
      font-weight: var(--fw-light);
      text-align: left;
      width: 100%;

      &::before {
        padding-right: .3125rem;
        content: '\2014';
      }
    }

    p {
      font-size: 1.5rem;
      line-height: 2.25rem;
      display: inline;
      margin: 0;
      padding: 0;
    }

    @media screen and (--bp-tablet) {
      font-size: 1.5rem;
      line-height: 2.25rem;
    }

    @media screen and (--bp-wide) {
      margin-left: auto;
      margin-right: auto;
    }
  }
}
