@define-mixin boxes {
  padding-top: calc(24/16rem);
  padding-bottom: 0;
  margin-bottom: 3rem;
  max-width: var(--w-sml);
  padding-left: 1.5625rem;
  padding-right: 1.5625rem;
  background-color: var(--col-navy-light);
  margin: 0 auto;

  h1 {
    font-size: .9375rem;
    line-height: calc(24/16rem);
    letter-spacing: .125rem;
    padding: 0 0 .9375rem 0;
    font-weight: var(--fw-semibold);
    margin: 0;
    text-transform: uppercase;
  }

  dl {
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
  }

  dt {
    font-size: calc(16/16rem);
    display: block;
    float: none;
    width: auto;
  }

  dd {
    font-size: calc(20/16rem);
    line-height: calc(24/16rem);
    margin-bottom: calc(24/16rem);
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    display: block;
    float: none;
    font-weight: var(--fw-regular);
    width: auto;
  }

  p {
    padding-bottom: 0;
  }
}

.uomcontent [role="main"] {
  .contact-box {
    @mixin boxes;
  }

  .highlight-box {
    @mixin boxes;

    dd {
      font-size: 2.5rem;
      line-height: 3rem;
      font-weight: var(--fw-semibold);
    }
  }

  .emergency-box {
    @mixin boxes;
    background-color: var(--col-navy-light);
    color: var(--col-orange-dark);

    a {
      color: var(--col-orange-dark);
    }

    dd {
      font-size: calc(24/16rem);
      line-height: calc(36/16rem);
      font-weight: var(--fw-semibold);
    }

    @media screen and (--bp-desktop) {
      dd {
        font-weight: var(--fw-regular);
      }
    }
  }
}
