@define-mixin boxes {
  padding-top: pxtorem(24);
  padding-bottom: 0;
  margin-bottom: pxtorem(48);
  max-width: var(--w-sml);
  padding-left: 1.5625rem;
  padding-right: 1.5625rem;
  background-color: var(--col-navy-light);
  margin: 0 auto;

  h1 {
    font-size: pxtorem(18);
    line-height: pxtorem(24);
    padding: 0 0 pxtorem(15) 0;
    margin: 0;
  }

  dl {
    font-size: pxtorem(18);
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
  }

  dt {
    color: color(var(--col-black-dark) alpha(70%));
    display: block;
    float: none;
    width: auto;
  }

  dd {
    line-height: pxtorem(24);
    margin-bottom: pxtorem(24);
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    display: block;
    float: none;
    font-weight: var(--fw-regular);
    width: auto;
  }

  p {
    padding-bottom: 0;
  }
}

.uomcontent [role="main"] {
  .contact-box {
    @mixin boxes;
  }

  .highlight-box {
    @mixin boxes;

    dd {
      font-size: 2.5rem;
      line-height: pxtorem(48);
      font-weight: var(--fw-semibold);
    }
  }

  .emergency-box {
    @mixin boxes;
    background-color: var(--col-navy-light);
    color: var(--col-orange-dark);

    a {
      color: var(--col-orange-dark);
    }

    dd {
      font-size: pxtorem(24);
      line-height: pxtorem(36);
      font-weight: var(--fw-semibold);
    }

    @media screen and (--bp-desktop) {
      dd {
        font-weight: var(--fw-regular);
      }
    }
  }
}
