.uomcontent {
  .citation-list {
    padding-left: 0;
    padding-right: 0;

    & > .citation {
      list-style: none;

      @media screen and (--bp-desktop) {
        margin-left: 0;
      }

      &:last-child {
        padding-bottom: pxtorem(15);
      }
    }
  }

  .citation {
    padding: pxtorem(15);
    margin-top: .25rem;
    margin-bottom: .75rem;
    background-color: var(--col-navy-light);
    border: 1px solid var(--col-blue-light);
  }

  .alt .citation {
    background-color: var(--col-white);

    &:last-child {
      margin-bottom: .25rem;
    }
  }
}
