.uomcontent {
  .citation-list {
    padding-left: 0;
    padding-right: 0;

    & > .citation {
      list-style: none;

      @media screen and (--bp-desktop) {
        margin-left: 0;
      }

      &:last-child {
        padding-bottom: .9375rem;
      }
    }
  }

  .citation {
    font-size: .9375rem;
    line-height: calc(24/16rem);
    padding: .9375rem;
    margin-top: .25rem;
    margin-bottom: .75rem;
    background-color: var(--col-unsanctioned-blue-light-1);
    border: 1px solid var(--col-blue-light);
    font-family: var(--ff-fixed);
  }

  .alt .citation {
    background-color: var(--col-white);

    &:last-child {
      margin-bottom: .25rem;
    }
  }
}
