@define-mixin code {
  font-size: 1rem;
  line-height: 1.5rem;
  background-color: #f1f1f1;
  border-color: #e4e4e4;
  border-style: solid;
  border-width: 0;
  font-family: var(--ff-fixed);
}

.uomcontent {
  code {
    @mixin code;
    border-bottom-width: 2px;
    color: var(--col-midgray);
  }

  pre {
    @mixin code;
    font-size: .8125rem;
    line-height: 1.5rem;
    margin-top: 0;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
    border-bottom-width: 1px;
    border-top-width: 1px;
    padding-left: .9375rem;
    padding-right: .9375rem;
    overflow: auto;

    code {
      border-bottom: 0;
    }

    @mixin breakpoint(700px) {
      border-radius: 3px;
      border-left-width: 1px;
      border-right-width: 1px;
    }

    @mixin breakpoint(desktop) {
      margin-left: auto;
      margin-right: auto;
      max-width: var(--w-mid);
    }
  }
}

#top.uomcontent [role="main"] pre.flex {
  padding-left: 1.875rem;
  padding-right: 1.875rem;
  height: auto;
  padding-top: 0;
}
