@define-mixin code {
  font-size: 1rem;
  line-height: pxtorem(24);
  background-color: var(--col-primary-light-grey);
  border-width: 0;
  font-family: var(--ff-fixed);
}

.uomcontent {
  code {
    @mixin code;
    color: var(--col-black-dark);
  }

  pre {
    @mixin code;
    font-size: pxtorem(13);
    line-height: pxtorem(24);
    margin-top: 0;
    padding-top: pxtorem(24);
    padding-bottom: pxtorem(24);
    margin-bottom: pxtorem(24);
    border-bottom-width: 1px;
    border-top-width: 1px;
    padding-left: pxtorem(15);
    padding-right: pxtorem(15);
    overflow: auto;

    code {
      border-bottom: 0;
    }

    @media screen and (min-width: 700px) {
      border-radius: 3px;
      border-left-width: 1px;
      border-right-width: 1px;
    }

    @media screen and (--bp-desktop) {
      margin-left: auto;
      margin-right: auto;
      max-width: var(--w-mid);
    }
  }
}

#top.uomcontent [role="main"] pre.flex {
  padding-left: pxtorem(30);
  padding-right: pxtorem(30);
  height: auto;
  padding-top: 0;
}
