@define-mixin inset {
  margin-top: .375rem;
  float: none;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding: 0;
  text-align: center;

  figcaption {
    font-size: .875rem;
    padding-bottom: .9375rem;
    color: var(--col-midblue);
    font-style: italic;
    line-height: 1.2;
    text-align: center;
  }

  img,
  svg {
    max-height: 31.25rem;
  }

  @mixin breakpoint(tablet) {
    margin-bottom: 1.875rem;
    border: 0 none;
    max-width: 62%;

    figcaption {
      margin-top: .9375rem;
      padding-top: .9375rem;
      padding-bottom: 0;
      position: relative;

      &::before {
        width: 2.5rem;
        border-bottom: 2px solid var(--col-midblue);
        content: '';
        display: block;
        position: absolute;
        top: 0;
      }
    }
  }

  @mixin breakpoint(wide) {
    margin-bottom: 1.25rem;
    max-width: 80%;
  }
}

.uomcontent {
  .inset-left {
    @mixin inset;

    @mixin breakpoint(tablet) {
      margin-right: 1.875rem;
      float: left;
      text-align: left;

      figcaption {
        text-align: left;

        &::before {
          left: 0;
        }
      }
    }

    @mixin breakpoint(wide) {
      margin-left: -11.25rem;
    }
  }

  .inset-right {
    @mixin inset;

    @mixin breakpoint(tablet) {
      margin-left: 1.875rem;
      float: right;
      text-align: right;

      figcaption {
        text-align: right;

        &::before {
          right: 0;
        }
      }
    }

    @mixin breakpoint(wide) {
      margin-right: -11.25rem;
    }
  }
}

body.jumpnav-active .uomcontent {
  .inset-left {
    @mixin breakpoint(wide) {
      margin-left: 0;
      max-width: 100%;
      padding: 0;
    }

    @mixin breakpoint(1400px) {
      margin-bottom: 1.25rem;
      margin-left: -11.25rem;
      max-width: 80%;
    }
  }

  .inset-right {
    @mixin breakpoint(wide) {
      margin-left: 1.875rem;
      margin-right: 0;
      max-width: 100%;
      padding: 0;
    }

    @mixin breakpoint(1400px) {
      margin-bottom: 1.25rem;
      margin-right: -11.25rem;
      max-width: 80%;
    }
  }
}

body.jumpnav-active .uomcontent {
  blockquote:not(.blockquote-classic).left,
  blockquote:not(.blockquote-classic).right {
    @mixin breakpoint(wide) {
      margin-left: 0;
    }

    @mixin breakpoint(1400px) {
      margin-bottom: 1.25rem;
      margin-left: -11.25rem;
    }
  }

  blockquote:not(.blockquote-classic).right {
    @mixin breakpoint(wide) {
      margin-left: 1.875rem;
      margin-right: 0;
    }

    @mixin breakpoint(1400px) {
      margin-bottom: 1.25rem;
      margin-right: -11.25rem;
    }
  }
}

body .uomcontent .modal__dialog {
  .inset-left {
    margin-left: 0;
  }

  .inset-right {
    margin-right: 0;
  }
}
