/* DEPRECATED */
.uomcontent {

  /**
   * Inset figures
   */
  .inset-left,
  .inset-right {
    margin-top: .375rem;
    float: none;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    padding: 0;
    text-align: center;

    figcaption {
      font-size: .875rem;
      padding-bottom: .9375rem;
      color: var(--col-blue-mid-2);
      font-style: italic;
      line-height: 1.2;
      text-align: center;
    }

    img,
    svg {
      max-height: 31.25rem;
    }
  }

  @media screen and (--bp-x-tablet) {
    .inset-left,
    .inset-right {
      margin-bottom: 1.875rem;
      border: 0 none;
      max-width: 62%;

      figcaption {
        margin-top: .9375rem;
        padding-top: .9375rem;
        padding-bottom: 0;
        position: relative;

        &::before {
          width: 2.5rem;
          border-bottom: 2px solid var(--col-blue-mid-2);
          content: '';
          display: block;
          position: absolute;
          top: 0;
        }
      }
    }

    .inset-left {
      margin-right: 1.875rem;
      float: left;
      text-align: left;

      figcaption {
        text-align: left;

        &::before {
          left: 0;
        }
      }
    }

    .inset-right {
      margin-left: 1.875rem;
      float: right;
      text-align: right;

      figcaption {
        text-align: right;

        &::before {
          right: 0;
        }
      }
    }
  }

  @media screen and (--bp-wide) {
    .inset-left,
    .inset-right {
      margin-bottom: 1.25rem;
      max-width: 80%;
    }

    .inset-left {
      margin-left: -11.25rem;
    }

    .inset-right {
      margin-right: -11.25rem;
    }
  }
}

.jumpnav-active .uomcontent {
  .inset-left {
    @media screen and (--bp-wide) {
      margin-left: 0;
      max-width: 100%;
      padding: 0;
    }

    @media screen and (--bp-xx-wide) {
      margin-bottom: 1.25rem;
      margin-left: -11.25rem;
      max-width: 80%;
    }
  }

  .inset-right {
    @media screen and (--bp-wide) {
      margin-left: 1.875rem;
      margin-right: 0;
      max-width: 100%;
      padding: 0;
    }

    @media screen and (--bp-xx-wide) {
      margin-bottom: 1.25rem;
      margin-right: -11.25rem;
      max-width: 80%;
    }
  }
}

body .uomcontent .modal__dialog {
  .inset-left {
    margin-left: 0;
  }

  .inset-right {
    margin-right: 0;
  }
}
