.uomcontent {
  img {
    max-width: 100%;

    &.desaturate {
      filter: grayscale(100%);
      transition: .4s ease;
    }

    &.semi-desaturate {
      filter: grayscale(70%);
      transition: .4s ease;
    }
  }

  a:hover img.desaturate,
  a:hover img.semi-desaturate {
    filter: grayscale(0%);
  }

  figure.full-width {
    margin-left: 0;
    margin-right: 0;
    text-align: center;

    figcaption {
      font-size: pxtorem(14);
      line-height: pxtorem(24);
      padding-bottom: pxtorem(24);
      font-style: italic;
    }
  }

  figure.framed img {
    @media screen and (--bp-tablet) {
      box-shadow: 0 3px 6px -1px color(var(--col-black-dark) alpha(20%));
      display: inline-block;
      max-height: 90%;
    }
  }

  .fullwidth {
    height: 60vh;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 100%;

    &.short {
      height: auto;
    }

    &.fixed-background {
      /* Note: Fixed background attachment was intentionally removed but we need
      to retain the colour changes so this class must live on. */

      .title {
        color: var(--col-white);

        &::after {
          border-color: var(--col-white);
        }
      }
    }

    /* Deprecated? */
    .gmap__canvas {
      width: 100% !important;

      img {
        max-width: none;
      }
    }

    &.mid-align {
      display: table;
      padding: 0;

      section {
        align-self: center;
        background: color(var(--col-black-dark) alpha(50%));
        display: table-cell;
        padding-bottom: 0;
        padding-top: 0;
        position: static;
        text-align: center;
        top: 0;
        vertical-align: middle;
      }

      p {
        padding-top: 0;
        max-width: 28.125rem;
        font-weight: var(--fw-semibold);
        margin-left: auto;
        margin-right: auto;

        @media screen and (--bp-desktop) {
          font-size: 3.5rem;
          line-height: 3.75rem;
          max-width: var(--w-sml);
          padding-left: 0;
          padding-right: 0;
          text-align: left;
        }
      }
    }

    section {
      padding-top: 12.5rem;
      @mixin grad-bottom;
      bottom: 0;
      margin: 0;
      max-width: 100%;
      padding-left: 0;
      padding-right: 0;
      position: absolute;
      width: 100%;
    }

    p {
      font-size: 1.1875rem;
      padding-top: pxtorem(48);
      margin: 0 pxtorem(15);
      color: var(--col-white);
      max-width: 100%;
      padding-bottom: 0;

      &.black {
        padding-top: 4.5rem;
        padding-bottom: pxtorem(48);
        color: var(--col-black-dark);
        text-align: left;
      }

      @media screen and (--bp-desktop) {
        max-width: var(--w-mid);
        padding-left: pxtorem(20);
        padding-right: pxtorem(20);
        margin: 0 auto;

        &.black {
          text-align: center;
        }
      }
    }

    h2 {
      font-size: pxtorem(20);
      line-height: pxtorem(24);
      letter-spacing: pxtorem(5);
      color: var(--col-white);

      &.title::after {
        border-color: var(--col-white);
      }
    }

    blockquote {
      color: var(--col-white);
      line-height: 1.4;
    }

    pre {
      margin-bottom: pxtorem(24);
      margin: 0;
      max-width: 100%;
    }

    @media screen and (--bp-height-small) {
      p {
        font-size: 1.375rem;
      }
    }

    @media screen and (--bp-height-medium) {
      padding-bottom: pxtorem(30);
    }
  }
}
