.uomcontent [role="main"] {
  .lead {
    font-size: pxtorem(20);
    line-height: 1.5;
    padding-top: pxtorem(72);
    padding-bottom: pxtorem(72);
    max-width: var(--w-mid);
    background: transparent;
    filter: none;
    font-weight: var(--fw-semibold);
    margin: 0 auto;
    padding-left: 3%;
    padding-right: 3%;
    position: static;
    text-align: center;

    & + p {
      margin-top: 0;
      padding-top: 0;

      &::before {
        padding-bottom: pxtorem(48);
        margin-top: pxtorem(30);
        width: pxtorem(80);
        border-top: 2px solid var(--col-navy-main);
        content: '';
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    }

    /* TODO Icelab: adjust sizes for all possible lead children manually */
    * {
      font-size: pxtorem(20);

      @media screen and (--bp-desktop) {
        font-size: pxtorem(22);
      }
    }

    & + section {
      padding-top: 0;
    }

    h2 {
      padding-top: 0;
    }

    p {
      padding-bottom: 0;
      max-width: var(--w-mid);
    }

    &.left {
      @mixin wrapper;
      padding: pxtorem(48) 0;
      max-width: var(--w-sml);
      text-align: left;

      & > p {
        width: 100%;
      }
    }
  }

  section > .lead {
    padding-top: pxtorem(24);
    padding-bottom: pxtorem(24);
  }
}

.uomcontent h1.aligned-title + .lead {
  & + p {
    padding-top: pxtorem(24);

    &::before {
      display: none;
    }
  }

  &.left {
    max-width: var(--w-sml);
    padding-top: 0;

    & + p {
      padding-top: 0;
    }
  }
}

.jumpnav-active .uomcontent {
  .lead {
    margin: 0 auto;
    padding: pxtorem(48) 0;

    @media screen and (--bp-wide) {
      max-width: var(--w-sml);
      text-align: left;
    }
  }

  /* Compensate for padding-bottom of jump-nav on mobile */
  .jump-navigation + .lead {
    padding-top: pxtorem(48);

    @media screen and (--bp-wide) {
      padding-top: pxtorem(72);
    }

    &.left {
      padding-top: pxtorem(24);

      @media screen and (--bp-wide) {
        padding-top: pxtorem(48);
      }
    }
  }
}
