.uomcontent [role="main"] {
  .lead {
    font-size: calc(20/16rem);
    line-height: 1.5;
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
    max-width: var(--w-mid);
    background: transparent;
    filter: none;
    font-weight: var(--deprecated-fw--bold);
    margin: 0 auto;
    padding-left: 3%;
    padding-right: 3%;
    position: static;
    text-align: center;

    & + p {
      margin-top: 0;
      padding-top: 0;

      &::before {
        padding-bottom: 3rem;
        margin-top: 1.875rem;
        width: 5rem;
        border-top: 2px solid var(--col-navy-main);
        content: '';
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    }

    /* TODO Icelab: adjust sizes for all possible lead children manually */
    * {
      font-size: calc(20/16rem);

      @media screen and (--bp-desktop) {
        font-size: calc(22/16rem);
      }
    }

    & + section {
      padding-top: 0;
    }

    h2 {
      padding-top: 0;
    }

    p {
      padding-bottom: 0;
      max-width: var(--w-mid);
    }

    &.left {
      @mixin wrapper;
      padding: 3rem 0;
      max-width: var(--w-sml);
      text-align: left;

      & > p {
        width: 100%;
      }
    }
  }

  section > .lead {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

.uomcontent h1.aligned-title + .lead {
  & + p {
    padding-top: 1.5rem;

    &::before {
      display: none;
    }
  }

  &.left {
    max-width: var(--w-sml);
    padding-top: 0;

    & + p {
      padding-top: 0;
    }
  }
}

.jumpnav-active .uomcontent {
  .lead {
    margin: 0 auto;
    padding: 3rem 0;

    @media screen and (--bp-wide) {
      max-width: var(--w-sml);
      text-align: left;
    }
  }

  /* Compensate for padding-bottom of jump-nav on mobile */
  .jump-navigation + .lead {
    padding-top: 3rem;

    @media screen and (--bp-wide) {
      padding-top: 4.5rem;
    }

    &.left {
      padding-top: 1.5rem;

      @media screen and (--bp-wide) {
        padding-top: 3rem;
      }
    }
  }
}
