@define-mixin half {
  @mixin wrapper;
  padding-bottom: calc(30/16rem);
  padding-top: calc(30/16rem);
  max-width: 100%;

  h1 {
    margin-left: 0;
  }

  img {
    margin-top: calc(30/16rem);
    padding-left: .9375rem;
    padding-right: .9375rem;
    max-width: 95%;
    width: 100%;
  }

  /* Override for specific behaviour */
  .staff-listing-detailed img {
    padding: 0;
  }

  & > section {
    margin: 0;
    padding: 0;
    width: 100%;

    &.tight {
      padding: 0;
    }

    h1 {
      width: 100%;
    }

    p {
      max-width: 100%;
      width: 100%;
    }

    @media screen and (--bp-desktop) {
      padding: calc(30/16rem) .9375rem;
      display: table-cell;
      vertical-align: top;
      width: 50%;

      h2 {
        margin-left: 0;
      }
    }
  }

  @media screen and (--bp-desktop) {
    max-width: var(--w-lge);
    display: table;

    svg {
      margin-left: .9375rem;
      margin-right: .9375rem;
    }
  }
}

.uomcontent .half,
.uomcontent [role="main"] .half {
  @mixin half;
}
