// ## Form page (data collection)
// Purpose: Make it easy for someone to provide us with data via an online form. The form should be smart enough to validate content in the browser as the visitor types information to reduce complexity in development. 
// Sample content: contact us forms. 