// ## Search index page
// Purpose: display search results in an easy to understand way. 
// Options: Be able to categorise results / filter / display results based off arbitrary categories (eg. courses, news --- see http://search.unimelb.edu.au) so that they are easily distinguised. Also filter results based off audience profile