// ## Visual item index (nav)
// Purpose: Browse a large number of visual items (images, videos) and allow the visitor to view a larger version of the item or play the item. 
// Options: Metadata (titles, length, location), may also need to be displayed and used to filter content. 
// Sample content: [image gallery](http://www.eng.unimelb.edu.au/alumni/gallery/mel-ward-afternoon-tea-2013-s2/#!prettyPhoto), [Events recordings page](http://events.unimelb.edu.au/recordings)