// ## Event show page (consume)
// Purpose: Display content for an event with the view to convincing the viewer to purchase a ticket to this event. Must contain all relevant event details.
// Sample content: Individual events in the events calendar. 

