// ## Event index page (nav)
// Purpose: Provide a chronological listing of events which helps people browser/filter/search for events that interest them. 
// Options: Promotional area, subscription area (notification for events), Filter/search widget, length of descriptions shown for each event, grid vs list view, ability to scope the list of events shown (e.g. just a date range, host or tag). 
 