// ## Navigational index page (nav)
// Purpose: Provide a landing page for a specific navigational item and provide an easy way to get even deeper into content. 
// Options: User-hooks
// Notes: Navigational pages should not provide more content than is necessary for someone to make a decision about where to go next. 