// ## Homepage
// Purpose: provide an introduction to a particular function of the organisation. Why does it exist? What can it do for you? Provide logical next steps for a visitor
// Option: User-hooks to vary content based off audience, many different variants to cater to the amount of logical top level items a part of the uni needs to communicate. 
// Sample content: University homepage, Library Homepage 