// ## Blog index (nav)

// Purpose: provide a reverse chronological listing of content allowing visitors to find articles that interest. 

// Options: filters and tagging (by author, categories, month, tags, popularity). Featured images
