// ## Individual profile page (consume)
// Purpose: Provide a way to showcase an individual and their accomplishments (e.g. research publications, upcoming events, event recordings). Must be extensible enough to allow for varied sorts of information based on context
// Sample content: Events speaker page, find an expert profiles, researcher profiles
