// ## Large-number-of-plain-text-links index page (nav)
// Purpose: Provide a way for people to quickly browse through a large number of text based links and find the one that is appropriate for them 
// Sample content: A-Z listing, Tag index (e.g. events.unimelb.edu.au/tags)