// ## Event recording page (consume)
// Purpose: Allow people to watch a recording of an event and read a short synopsis of what has been discussed. Also browse meta data which help them find subsequent videos to watch. 
// Options: Recommended next videos, subscription (notifications for future recordings)
