<form method="post" action="" data-validate class="fancy-controls">

  <fieldset>
    <div>
      <legend>Select preferred option (required):</legend>
      <div class="inline">
        <input type="checkbox" id="d1" class="checkbox" aria-required="true" name="f[approve]" data-error="Please select an option" />
        <label for="d1">
          <span>Option 1</span>
        </label>
      </div>
      <div class="inline">
        <input type="checkbox" id="d2" class="checkbox" aria-required="true" name="f[approve]" data-error="Please select an option" />
        <label for="d2">
          <span>Option 2</span>
        </label>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <div>
      <legend>Make a selection (implicitly required):</legend>
      <div class="inline">
        <input checked name="f[radio_2]" type="radio" id="radio-2-1" value="yes" data-error="Please make a selection" />
        <label for="radio-2-1">
          <span>Yes</span>
        </label>
      </div>
      <div class="inline">
        <input name="f[radio_2]" type="radio" id="radio-2-2" value="no" data-error="Please make a selection" />
        <label for="radio-2-2">
          <span>No</span>
        </label>
      </div>
    </div>
  </fieldset>

  <footer>
    <input type="submit">
  </footer>
</form>
