@mixin inlinebutton {
  @include rem(border-radius, 3px);
  @include rem(font-size, 13px);
  @include rem(height, 45px);
  @include rem(padding, 0 15px);
  background-color: $highlight;
  border: 0 none;
  color: $white;
  cursor: pointer;
  font-weight: $bold;
  letter-spacing: 1px;
  position: relative;
  text-transform: uppercase;

  &:not([disabled]):hover,
  &:not([disabled]):focus {
    background-color: darken($highlight, 10%);
  }

  &:active {
    opacity: .3;
  }
}

[role="main"] form {
  @include rem(font-size, 16px);
  @include rem(padding, 0 10px);
  background-color: $white;
  color: $darkgray;
  line-height: 1.2;
  margin: 0 auto;
  max-width: $w-sml;

  @include breakpoint(desktop) {
    @include rem(padding, 10px 30px);
  }

  footer {
    padding: 0;
  }

  [data-required=true]:after {
    @include rem(padding-left, 5px);
    content: '*';
    color: $cherry;
  }

  .form__subtext {
    @include padding-trailer(.5);
    font-size: smaller;
  }
}

.uomcontent .form-error {
  color: $warning;

  p {
    padding-bottom: 0;
  }
}

.uomcontent fieldset {
  border: 0;
  padding: 0;

  div {
    padding: 10px 0;
  }

  small {
      @include rem(font-size, 18px);
      display: none;
      margin: 0;
      text-transform: none;
  }

  .cursor {
    cursor: pointer;
  }

  label {
    @include rem(font-size, 16px);
    display: inline;
    position: relative;
    width: 100%;

    @include breakpoint(desktop) {
      @include rem(width, 412px);
      display: inline-block;
    }
  }

  .invalid small {
    @include rem(font-size, 14px);
    @include rem(padding, 5px 0);
    animation: flash .4s .1s 1 ease-in-out;
    color: $cherry;
    display: block;
    font-style: italic;
  }

  p {
    @include rem(font-size, 16px);
  }

  input[type="text"],
  input[type="email"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="url"] {
    @include textcontrol;
    width: 100%;
  }

  textarea {
    @include textcontrol;
    height: 200px;
    width: 100%;
  }

  .inline {
    position: relative;

    input[type="text"],
    input[type="email"],
    input[type="number"],
    input[type="password"],
    input[type="search"],
    input[type="url"] {
      @include textcontrol;
      @include rem(height, 45px);
      appearance: none;
      display: block;
      width: 100%;
    }

    input[type="image"] {
      @include inlinebutton;
      @include rem(border-radius, 0 3px 3px 0);
      @include rem(margin, 15px 0 0);
      @include rem(width, 45px);
      padding: 0;
      position: absolute;
      right: 0;
      top: 0;

      span {
        display: none;
      }

      svg {
        @include rem(height, 24px);
        @include rem(width, 24px);
        background-color: transparent;
        cursor: pointer;
        fill: currentColor;
        max-height: 100%;
      }
    }

    .inline-button {
      @include inlinebutton;
      @include rem(margin, 5px 0 0);
    }
  }

  .attached,
  .detached {
    display: table;
    width: 100%;

    & > span {
      display: table-cell;
      vertical-align: top;

      &.fill {
        width: 100%;

      input[type="text"],
      input[type="email"],
      input[type="number"],
      input[type="password"],
      input[type="search"],
      input[type="url"] {
        width: 100%;
        }
      }
    }
  }

  .attached {
    input[type="text"],
    input[type="email"],
    input[type="number"],
    input[type="password"],
    input[type="search"],
    input[type="url"] {
      @include rem(border-radius, 3px 0 0 3px);
      border-right: 0;
    }

    .inline-button {
      @include rem(border-radius, 0 3px 3px 0);
      @include rem(font-size, 13px);
      @include rem(padding, 0 15px);
      font-weight: $bold;
      letter-spacing: 1px;
    }
  }

  .detached {
    & > span {
      &:first-child {
        @include rem(padding-right, 15px);
      }
    }

    &.big {
      input[type="text"],
      input[type="email"],
      input[type="number"],
      input[type="password"],
      input[type="search"],
      input[type="url"] {
        @include rem(font-size, 24px);
        @include rem(height, 60px);
        @include rem(line-height, 36px);
        @include rem(padding, 15px);
        border-color: $highlight;

        &:focus {
          background-color: $white;
          color: $highlight;
        }
      }

      .inline-button {
        @include rem(font-size, 16px);
        @include rem(height, 60px);
        @include rem(padding, 15px);
        line-height: 1;

        & > span {
          @include rem(padding-left, 34px); /* 24px for small icon + 10px for spacing */
          position: relative;
          white-space: nowrap;

          .small[data-icon] {
            @include rem(margin-top, -2px);
            left: 0;
            position: absolute;
            top: 0;
          }
        }
      }
    }
  }

  input[type="checkbox"],
  input[type="radio"] {
    @include rem(margin-right, 8px);
    display: inline;
  }
}

.uomcontent form:not(.unstyled-controls) fieldset {
  input[type="checkbox"]:not(.unstyled),
  input[type="radio"]:not(.unstyled) {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);

    & + label {
      @include rem(margin-top, 4px);
      @include rem(margin-bottom, -12px);
      cursor: pointer;
      display: block;
      position: relative;
      width: 100%;

      &::after {
        background: transparent;
        content: '';
        left: 4px;
        opacity: 0;
        position: absolute;
        top: 4px;
      }

      &:active::after {
        opacity: .2;
      }

      span {
        @include rem(padding-left, 35px);
        cursor: pointer;
        display: block;
        text-indent: 0;

        &::before {
          background-color: $white;
          border: 1px solid lighten($midgray, 40%);
          box-sizing: border-box;
          content: '';
          display: block;
          height: 20px;
          left: -1px;
          margin: 0 10px -3px 1px;
          padding: 1px;
          position: absolute;
          top: 0;
          width: 20px;
        }
      }
    }

    &:checked + label {
      &:active,
      &::after {
        opacity: 1;
      }
    }

    &:focus + label span::before {
      border-color: $highlight;
    }
  }

  input[type="checkbox"]:not(.unstyled) + label {
    &::after {
      border: 3px solid $highlight;
      border-right: 0 none;
      border-top: 0 none;
      height: 5px;
      transform: rotate(-45deg);
      width: 10px;
    }

    span::before {
      border-radius: 3px;
    }
  }

  input[type="radio"]:not(.unstyled) + label {
    &::after {
      background-color: $highlight;
      border-radius: 50%;
      height: 12px;
      width: 12px;
    }

    span::before {
      border-radius: 50%;
    }
  }

  .invalid input[type="checkbox"]:not(.unstyled),
  .invalid input[type="radio"]:not(.unstyled) {
    & + label + small {
      @include rem(padding-top, 18px); // Compensate for negative bottom margin on label
    }
  }
}

.align-checkbox {
  @include rem(padding-left, 30px);
  @include rem(text-indent, -40px);
  line-height: 1.4;
}

.uomcontent .newsletter-box {
  @include leader(1);
  @include padding-leader(1);
  @include padding-trailer(1);
  @include rem(max-width, $w-mid);
  background-color: transparent;
  border-top: 1px solid rgba($white, 0.2);
  color: $white;
  margin-left: auto;
  margin-right: auto;

  p {
    @include adjust-font-size-to(20px);
    @include padding-trailer(1);
    font-weight: $thin;
  }

  form {
    @include rem(max-width, $w-lge);
    background-color: transparent;

    label {
      color: $white;
    }

    @include breakpoint(desktop) {

      fieldset {
        display: table;
        margin: 0 auto;
        width: auto;

        label {
          width: auto;
        }
      }

      fieldset > div {
        @include rem(padding-left, 10px);
        @include rem(padding-right, 10px);
        display: table-cell;
      }

      input[type="submit"] {
        @include rem(padding, 12px 20px);
        border: 0;
      }
    }
  }

  @include breakpoint(desktop) {
    @include padding-leader(0);
  }
}
