@keyframes flash {
  0%,
  100% {
    color: lighten($cherry, 25%);
  }

  66% {
    color: lighten($cherry, 60%);
  }
}

%control {
  @include rem(border-radius, 3px);
  @include rem(margin-top, 5px);
  @include rem(padding, 8px 10px);
  font-family: $ff-sans;
  font-weight: $light;

  &.invalid {
    background-color: $white;
    border-color: lighten($cherry, 25%);
    color: lighten($cherry, 25%);
  }

  @include breakpoint(desktop) {
    @include rem(width, 400px);
  }
}

%textcontrol {
  @extend %control;
  @include rem(font-size, 20px);
  background-color: $lightgray;
  border: 1px solid darken($lightergray, 5%);
  box-shadow: inset 0 1px 3px rgba($black, .15);

  &:hover {
    border-color: $gray;
  }

  &:focus {
    background-color: $white;
    border-color: $borderblue;
    color: $black;
    outline: 0;

    &.invalid {
      color: $black;
    }
  }
}

%controlhack {
  appearance: none;
  text-indent: .01px;
  text-overflow: '';
}

@import 'forms';
@import 'forms-select';
