[role="main"] {
  figure.full-width {
    text-align: center;

    figcaption {
      @include adjust-font-size-to(14px);
      @include padding-trailer(1);
      font-style: italic;
    }
  }

  figure.framed img {
    @include breakpoint(tablet) {
      box-shadow: 0 3px 6px -1px rgba($black, .2);
      display: inline-block;
      max-height: 90%;
    }
  }

  .diamond-mask {
    @include transform(rotate(45deg) scale(.7));
    border: 1px solid $black;
    display: inline-block;
    margin: 0;
    overflow: hidden;
    padding: 0;

    img {
      @include transform(rotate(-45deg) scale(1.41));
      display: block;
      margin: 0;
      max-width: none;
      padding: 0;
    }
  }
}
