@define-mixin pathfinder-3 {
  @mixin feature-listing-3;
  margin-top: pxtorem(48);
  margin-bottom: pxtorem(48);
  background-color: transparent;
  border: 0 none;
  padding: 0 3%;
  width: 94%;

  &.white {
    a {
      @mixin focus;
      @mixin focus-blue;
      @mixin focus-medium;
      background-color: var(--col-white);
      border-bottom: 3px solid var(--col-blue-mid-2);
      color: var(--col-black-dark);
      outline-color: var(--col-white);

      &:hover, &:focus {
        background-color: var(--col-navy-light);
        .button-small {
          color: var(--col-navy-main);
          border-color: var(--col-navy-main);
        }
      }

      &.featured {
        color: var(--col-white);

        p,
        span.text,
        strong {
          border-color: var(--col-white);
          color: var(--col-white);
        }
      }

      .button-small {
        border-color: color(var(--col-navy-main) alpha(30%));
        color: var(--col-navy-main);
        &:hover,
        &:focus {
          color: var(--col-navy-main);
          border-color: var(--col-navy-main);
          background-color: transparent !important;
        }
      }
    }

    p,
    span.text,
    strong {
      border-color: var(--col-navy-main);
      color: var(--col-navy-main);
    }
  }

  &.soft {
    a {
      @mixin focus;
      @mixin focus-dark;
      background-color: var(--col-white);
      border-bottom: 0 none;
      color: var(--col-black-dark);
      outline-color: var(--col-white);

      &:hover, &:focus {
        background-color: var(--col-primary-light-grey);

        .button-small {
          background-color: transparent;
          color: var(--col-black-dark);
        }
      }

      &.featured {
        color: var(--col-white);

        p,
        span.text,
        strong {
          border-color: var(--col-white);
          color: var(--col-white);
        }
      }

      .button-small {
        background-color: transparent;
        border-color: transparent !important;
        color: var(--col-black-dark);
      }
    }

    p,
    span.text,
    strong {
      border-color: var(--col-black-dark);
      color: var(--col-black-dark);
    }

    @media screen and (--bp-desktop) {
      li {
        border-left: 1px solid var(--col-black-light);

        &:first-child {
          border-left: none;
        }
      }
    }
  }

  &.buttons {
    a {
      background-color: var(--col-white);
      border: 0 none;
      color: var(--col-black-dark);
      min-height: 0;
      outline-color: var(--col-white);
      padding-bottom: 0;
      padding-left: 0;
      padding-right: 0;

      &:hover,
      &:focus {
        background-color: var(--col-primary-light-grey);
      }

      strong {
        display: flex;
        height: pxtorem(100);
        min-width: 15.625rem;
        border-bottom: 0 none;
        color: var(--col-navy-main);
        align-items: center;
        justify-content: center;

        & > span {
          padding: 0 pxtorem(10);

          span {
            margin-bottom: pxtorem(12);
            display: inline-block;
            position: static;
          }

          &::after {
            font-size: pxtorem(20);
            margin-top: pxtorem(-5);
            padding-left: pxtorem(5);
            content: '\2192';
            display: inline-block;
            line-height: 0;
          }
        }
      }

      p {
        padding-bottom: pxtorem(48);
        color: var(--col-black-dark);
      }
    }
  }

  &.buttons.noarrow a {
    strong > span::after {
      display: none;
    }
  }

  li {
    margin-top: pxtorem(24);
    margin-bottom: pxtorem(24);
    margin-left: 0;
    margin-right: 0;
    overflow: visible;
    padding: 0;
    width: 100%;
    max-width: 100%;
  }

  p,
  span.text {
    margin-top: pxtorem(24);
    padding-bottom: pxtorem(24);
    font-size: pxtorem(16);
    min-width: pxtorem(165);
    padding-left: pxtorem(20);
    padding-right: pxtorem(20);
    background-color: transparent;
    display: block;
    padding-top: 0;
    text-align: center;

    @media screen and (--bp-desktop) {
      font-size: pxtorem(18);
    }
  }

  strong {
    font-size: pxtorem(24);
    line-height: 1.35;
    padding-top: pxtorem(30);
    padding-bottom: pxtorem(48);
    color: var(--col-white);
    font-family: var(--ff-serif);
    font-weight: var(--fw-bold);
    position: relative;
    text-align: center;

    @media screen and (--bp-desktop) {
      font-size: pxtorem(28);
    }
  }

  a {
    @mixin focus;
    @mixin focus-light;
    padding-bottom: pxtorem(48);
    max-width: pxtorem(350);
    background-color: var(--col-navy-main);
    margin: 0 auto;
    position: relative;
    transition-property: background-color;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;

    strong,
    p,
    span.text {
      color: var(--col-white);
    }

    /* TODO Icelab manually include these styles once button classes have been fixed up */
    .button-small {
      @mixin outlinebutton;
      @mixin arrow-right;
      border-color: color(var(--col-white) alpha(30%));
      color: var(--col-white);
      padding: 0.5em 0.7em;
      outline-color: currentColor;
      &:hover,
      &:focus {
        color: var(--col-white);
        border-color: var(--col-white);
      }
    }

    &:hover, &:focus {
      background-color: var(--col-tertiary-navy);

      .button-small {
        background-color: transparent;
        color: var(--col-white);
      }
    }

    &.featured {
      background-color: var(--col-purple-dark);
      color: var(--col-black-dark);
    }
  }

  span {
    background-color: transparent;
  }

  @media screen and (--bp-desktop) {
    padding-top: pxtorem(48);
    padding-bottom: pxtorem(48);
    display: table;
    float: none;
    height: 100%;
    margin: 0 auto;
    max-width: var(--w-lge);
    table-layout: fixed;

    /* override clearfix */
    &::before,
    &::after {
      display: none;
    }

    li {
      background-color: transparent;
      display: table-cell;
      float: none;
      height: 100%;
      margin: 0;
      padding-left: 0.5%;
      padding-right: 0.5%;
      vertical-align: top;
      width: auto;
    }

    p,
    span.text {
      padding-bottom: 7.5rem;
      max-width: pxtorem(350);
      margin: 0 auto;
      padding-left: 0;
      padding-right: 0;
    }

    strong {
      margin: 0 auto pxtorem(30);
      padding: pxtorem(30) 0 0;
    }

    a {
      min-height: 25rem;
      padding: 0 pxtorem(35);
      height: 100%;
      margin: 0 auto;
      position: relative;
    }

    .button-small {
      bottom: pxtorem(30);
      box-align: horizontal;
      display: inline-block;
      left: 50%;
      position: absolute;
      transform: translateX(-50%);
    }
  }
}

@define-mixin pathfinder-2 {
  @mixin pathfinder-3;

  @media screen and (--bp-desktop) {
    li {
      padding-left: .0625rem;
      padding-right: 0;
      text-align: left;

      &:first-child {
        padding-left: 0;
        text-align: right;
      }
    }

    a {
      display: inline-block;
      margin: 0;
    }

    p {
      min-width: 17.5rem;
    }
  }

  &.soft {
    @media screen and (--bp-desktop) {
      max-width: 1100px;

      li {
        padding: 0;
        text-align: center;
      }
    }
  }
}

.uomcontent [role="main"] {
  .pathfinder-3 {
    @mixin pathfinder-3;
  }

  .pathfinder-2 {
    @mixin pathfinder-2;
  }

  .pathfinder-4 {
    @mixin pathfinder-2;

    @media screen and (--bp-desktop) {
      li {
        margin-bottom: .0625rem;
        display: inline-block;
        height: auto;
        width: 49%;

        &:nth-child(2n+1) {
          padding-left: 0;
          text-align: right;
        }
      }
    }

    @media screen and (--bp-xx-wide) {
      li {
        display: table-cell;
        height: 100%;
        width: 25%;

        a {
          display: block;
        }

        p {
          min-width: 0;
        }

        &:nth-child(2n+1) {
          padding-left: .0625rem;
        }
      }
    }

    &.soft {
      @media screen and (--bp-desktop) {
        li {
          padding-left: .0625rem;
          text-align: left;

          &:nth-child(2n+1) {
            text-align: right;
          }
        }
      }
    }
  }

  .lead + .pathfinder-2,
  .lead + .pathfinder-3,
  .lead + .pathfinder-4 {
    margin-top: 0;
    padding-top: 0;
  }

  .fixed-background .pathfinder-2.soft,
  .fixed-background .pathfinder-3.soft,
  .fixed-background .pathfinder-4.soft {
    li {
      border: 0 none;
    }
  }
}

.ie9 {
  .uomcontent .pathfinder .button-small {
    left: 50%;
    transform: translateX(-50%);
    width: auto;
  }
}
