.uomcontent [role="main"] .image-gallery {
  @mixin clearfix; /* for float layout while setting up gallery */
  max-width: var(--w-lge);
  padding-left: 0;
  padding-right: 0;

  li {
    border: 5px solid transparent;
    display: block;
    float: left; /* float layout while setting up gallery */
    height: 0; /* use padding for responsive ratio */
    list-style-type: none;
    margin: 0;
    max-width: none;
    overflow: hidden;
    padding-bottom: 60%; /* responsive ratio + ensures all items  */
    position: relative;
    width: 100%; /* for landscape and panorama ratios */

    &.portrait { width: 50%; }

    & > a {
      background-position: center;
      background-size: cover;
      bottom: 0;
      color: var(--col-white);
      display: block;
      left: 0;
      margin: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 0;

      /* overlay with same background image as link for scaling transition on hover */
      &::before {
        background: inherit;
        bottom: 0;
        content: '';
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        transition: transform 0.2s ease-in-out;
        z-index: -1;
      }

      /* scale image and show icon + gradient */
      &:hover {
        &::before { transform: scale(1.1); }
        .image-gallery__icon { opacity: 1; }
      }
    }
  }

  /* zoom icon and purple gradient overlay shown on hover */
  &__icon {
    background-color: color(var(--col-black-dark) alpha(60%));
    background-image: linear-gradient(to right bottom, rgba(0, 150, 255, .3) 0%, rgba(255, 0, 126, .3) 100%);
    bottom: 0;
    cursor: zoom-in;
    display: block;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity 0.3s ease-in-out 0.1s;

    /* centre icon */
    & > svg {
      height: 2.5rem;
      margin-left: -calc(20/16rem);
      margin-top: -calc(20/16rem);
      width: 2.5rem;
      left: 50%;
      position: absolute;
      top: 50%;
    }
  }

  figure {
    margin: 0;
    padding: 0;

    /* caption to be shown in the gallery (can be `figcaption` or a distinct paragraph) */
    .image-gallery__caption {
      font-size: .875rem;
      padding: .5rem .75rem;
      background-color: color(var(--col-black-dark) alpha(70%));
      bottom: 0;
      color: var(--col-white);
      left: 0;
      line-height: 1.4;
      position: absolute;
      right: 0;
    }

    /* hide figcaption unless it's meant to appear in the gallery */
    figcaption:not(.image-gallery__caption) {
      display: none;
    }
  }

  img {
    display: block;
    width: 100%;

    /* hide image with JS when gallery set-up is complete (image becomes link background for cover layout) */
    &.hide {
      opacity: 0;
    }
  }

  @media screen and (--bp-tablet) {
    li {
      padding-bottom: 34%;
      width: 50%;

      &.portrait { width: 25%; }
      &.panorama { width: 75%; }
    }
  }

  @media screen and (--bp-desktop) {
    li {
      padding-bottom: 17%;
      width: 25%;

      &.portrait { width: 12.5%; }
      &.panorama { width: 50%; }
    }
  }

  /* variant with small max-width */
  &--small {
    max-width: var(--w-sml);

    /* same as tablet breakpoint without variant */
    @media screen and (--bp-desktop) {
      li {
        padding-bottom: 34%;
        width: 50%;

        &.portrait { width: 25%; }
        &.panorama { width: 75%; }
      }
    }
  }

  /* variant with medium max-width */
  &--medium {
    max-width: var(--w-mid);

    @media screen and (--bp-desktop) {
      li {
        padding-bottom: 22.66%;
        width: 33.33%;

        &.portrait { width: 16.665%; }
        &.panorama { width: 66.66%; }
      }
    }
  }
}
