@import 'photoswipe/dist/photoswipe.css';
@import 'photoswipe/dist/default-skin/default-skin.css';
@import 'gallery';

/* HACK to work around webpack import order bug: https://github.com/webpack/webpack/issues/215 */
.pswp img {
  max-width: none;
}

.pswp__caption__center {
  max-width: var(--w-sml);
  text-align: center;
}
