[role="main"] .timeline {
  @extend %clearfix;
  font-size: 1em;
  color: $midgray;
  font-family: $ff-sans;
  font-weight: $thin;
  position: relative;

  &::before {
    @include rem(height, 20px);
    @include rem(top, 19px);
    @include rem(width, 20px);
    background-color: $white;
    content: '';
    left: 36%;
    position: absolute;
    z-index: 2;
  }

  dt {
    @include rem(padding-top, 10px);
    float: left;
    margin: 0 3% 0 0;
    text-align: right;
    text-transform: uppercase;
    width: 33%;
  }

  dd {
    @include rem(padding-bottom, 20px);
    @include rem(padding-top, 10px);
    border-left: 1px solid darken($lightgray, 3%);
    float: left;
    margin: 0;
    position: relative;
    width: 63%;

    &:last-child {
      border-bottom: 0;
    }

    &::before {
      @include rem(height, 15px);
      @include rem(left, -7px);
      @include rem(top, 15px);
      @include rem(width, 15px);
      background-color: darken($lightgray, 3%);
      border-radius: 50%;
      content: '';
      display: block;
      position: absolute;
      z-index: 2;
    }

    span,
    p {
      @include rem(margin-left, 40px);
      @include rem(padding-bottom, 10px);
      @include rem(padding-left, 30px);
      display: block;
      margin: 0;
    }

    a.location {
      @include rem(font-size, 16px);
      @include rem(padding-bottom, 20px);
      color: $navy;
      display: block;
      font-style: italic;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    ul:last-child,
    p:last-child {
      @include rem(padding-bottom, 20px);
      border-bottom: 1px solid darken($lightgray, 3%);
    }

    ul {
      @include rem(font-size, 18px);
      @include rem(margin-left, 40px);
      @include rem(padding-bottom, 10px);
      @include rem(padding-left, 30px);
      color: $base;

      li {
        list-style-type: disc;
      }
    }

    &:last-child p:last-child {
      @include rem(padding-bottom, 60px);
      border-bottom: 0;
    }
  }

  strong,
  span {
    color: $navy;
  }
}
