// Ideally this file should only contain this comment
$navy:  #0c304a;
$white: #fff;
$black: #000;
$lightblue: #82a1bd;
$blue: #304e64;
$borderblue: #1d4873;

%wrapper {
  margin: 0 auto;
  max-width: 1400px;
  padding: 15px;
}

.page-inner {
  &.active {
    -ms-transform: none;
  }
  &.global-active {
    z-index: 0;
  }
}

body [role="navigation"] {
  display: none;

  li {
    border-top: 1px solid $borderblue;
  }

  h2 {
    color: $lightblue;
  }

  .back {
    span {
      color: $lightblue;

      &:before {
        content: '<';
        float: left;
        font-size: 20px;
        font-weight: 100;
        line-height: 1;
        padding-right: 10px;
      }

      &::before {
        -ms-transform: rotate(0deg);
      }
    }
  }

  .sitemap-link {
    background-color: $borderblue;
  }

  .parent:after {
    content: '>';
    float: right;
    font-size: 20px;
    font-weight: 100;
    line-height: 1;
    z-index: 109;
  }

  .parent::after {
    -ms-transform: rotate(0deg);
    z-index: 1;
  }

  &.active {
    display: block;
    position: fixed;
    right: 0;
    top: 0;
    width: 300px;
    z-index: 100;
  }

  ul {
    ul {
      display: none;

      &.active {
        display: block;
      }
    }
  }
}

body [role="sitemap"] {
  display: none;
  z-index: 0;

  &.active {
    background: $navy;
    display: block;
    z-index: 100;
  }

  &.reveal,
  &.reveal .sitemap-label {
    display: none;
  }

  h2.logo {
    background-image: url("#{asset_path('components/header/logo.png')}");
    float: left;
  }

  a.close-button:before {
    color: $lightblue;
    content: '<';
    display: block;
    font-size: 40px;
    font-weight: 300;
    height: 10px;
    text-indent: 0;
  }

  a.close-button:hover {
    color: $navy;
  }

  a.close-button::before {
    -ms-transform: rotate(0deg);
    padding-top: 10px;
  }

  h2,
  a {
    color: $lightblue;
  }

  ul.quicklinks {
    border-bottom: 1px solid $blue;
    border-top: 1px solid $blue;
    float: left;

    li {
      clear: none;
      float: left;
      line-height: 1;
      width: 20%;
    }

    a {
      display: block;
      height: 80px;
      text-align: center;
      vertical-align: middle;
    }
  }


  form {
    clear: none;
    float: right;
    margin-top: 45px;
    padding: 0;
    width: 600px;

    fieldset .inline .search-button {
      text-indent: 0;
      color: black;
      width: auto;
    }
  }

  .col-3 {
    clear: both;
    padding-top: 30px;

    div {
      float: left;
      width: 30%;

      &:first-child {
        margin-right: 5%;

        & + div + div {
          margin-left: 5%;
        }
      }
    }

    h2 {
      border-top: 0 none;
      margin-right: 0;
      padding-left: 0;
      padding-top: 30px;
    }

    a {
      padding-left: 0;
    }
  }
}

.modal__dialog {
  left: 20%;
  right: 20%;
  top: 20%;
  width: 60%;

  .half .button-fill {
    width: 50%;
  }
}

.page-header {
  border-bottom: 2px solid #f0f0f0;

  a.page-header-logo {
    background-image: url("#{asset_path('components/header/logo.png')}");
    background-size: cover;
    -ms-behavior: url("#{asset_path('backgroundsize.min.htc')}");
    behavior: url("#{asset_path('backgroundsize.min.htc')}");
  }
}

.page-header-tools .page-header-icon[title="Login"],
.page-header-tools .page-header-icon[title="Search"] {
  display: inline-block;
}

[role="main"] header {
  .bottom-align,
  .bottom-align-inverted,
  .bottom-align-flat {
    bottom: 0;
    position: absolute;
  }

  .bottom-align-flat {
    background-image: url("#{asset_path('components/globals/000o80.png')}");
  }
}

%button-arrow {
  content: '\2192';
  font-size: 30px;
  padding-left: 5px;
  position: absolute;
  top: 4px;
}

.button-hero-inverse:after {
  @extend %button-arrow;
  top: -6px;
}

.button-hero:after {
  @extend %button-arrow;
}

[role="main"] .selector-listing-3 {
  float: none;
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;

  li {
    float: left;
    margin-left: 2%;
    margin-right: 2%;
    width: 30.333%;

    &:first-child {
      margin-left: 0;
    }

    &:first-child + li + li {
      margin-right: 0;
    }
  }

  p {
    padding-left: 0;
    padding-right: 0;
  }

  strong {
    height: 120px;
    padding-left: 5%;
    padding-right: 5%;
  }

  a {
    min-height: 360px;
    padding-bottom: 15px;
  }

  .button-small {
    bottom: 30px;
    display: inline-block;
    left: 20%;
    position: absolute;
    text-align: center;
    width: 60%;
  }
}

[role="main"] .tabbed-nav .fullwidth {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#e50c304a, endColorstr=#e50c304a);

  nav a[data-current]:after {
    border-top-color: #23445a;
  }
}

.fullwidth {
  p,
  p.black {
    margin: 0 auto;
    max-width: 900px;
    text-align: center;
  }
}

ul.ticked-list li:before {
  color: #3fc76e;
  content: '\221a';
  font-size: 16px;
  font-weight: 600;
  left: 0;
  margin-left: -22px;
  position: absolute;
}

.vca ul.ticked-list li:before {
  color: #000;
}


[role="main"] .tabbed-course,
[role="main"] .tabbed-nav {
  nav a[data-current]:after {
    border: solid transparent;
    border-top-color: $black;
    border-width: 10px;
    content: ' ';
    height: 0;
    left: 50%;
    margin-bottom: -10px;
    margin-left: -10px;
    pointer-events: none;
    position: absolute;
    top: 100%;
    width: 0;
    z-index: 1;
  }

  .mobile-nav,
  .mobile-nav.active {
    display: none;
  }

  .desktop-nav {
    display: block;
  }
}

[role="main"] table.course-progression {
  td,
  th {
    padding-left: 0;
    padding-right: 0;
  }

  .accordion__close:after {
    content: '\00d7';
    font-size: 60px;
    font-weight: 100;
    line-height: 1;
  }

  tr td.unit-description:before {
    border: solid transparent;
    border-bottom-color: $navy;
    border-width: 10px;
    bottom: 100%;
    content: ' ';
    height: 0;
    left: 0;
    margin-left: 20px;
    margin-top: 0;
    pointer-events: none;
    position: absolute;
    width: 0;
  }
}

.page-footer {
  background-color: $navy;
  clear: left;
  color: $white;

  footer {
    @extend %wrapper;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 60px;
    padding-top: 15px;
  }

  small {
    clear: left;
    color: $lightblue;
    display: block;
    font-size: 12px;
    text-align: left;

    a {
      color: $lightblue;
      text-decoration: none;

      &:hover {
        color: $white;
      }
    }
  }
}

.page-footer-section {
  &.nav {
    margin-bottom: 60px;
    width: 80%;

    li {
      display: inline;
      float: none;
      margin-left: 0;
      margin-right: 0;
      padding-bottom: 0;
      padding-right: 30px;
      padding-top: 0;
      width: auto;
    }

    a {
      font-size: 15px;
    }
  }

  &.social {
    border-top: 1px solid $blue;
    clear: none;
    margin-bottom: 60px;
    text-align: right;
    width: 20%;

    li {
      display: inline;
      float: none;
      margin-left: 25px;
      width: auto;

      &.social-twitter {
        width: auto;
      }

      &.social-facebook {
        margin-left: 0;
      }

      &.social-linkedin {
        margin-right: 0;
      }
    }

    a {
      vertical-align: top;
    }
  }
}

.page-footer-est1853 {
  display: inline;
  float: right;
}

[role="main"] footer.cta ul.quarter {
  padding: 30px 0 60px;
  text-align: center;

  li {
    display: inline;
    float: none;
    margin: 0;
    padding: 0 30px;
    width: auto;
  }
}
