@import 'compass';

@import 'components/base/patterns_normalize';
@import 'components/base/patterns_accessibility';
@import 'components/base/patterns_clearfix';
@import 'components/base/patterns_rem';
@import 'components/base/patterns_media-queries';
@import 'components/base/globals';

$ff-sans: Helvetica, Arial, sans-serif;
$ff-fixed: 'Courier New', Courier, fixed;
$ff-serif: Georgia, 'Times New Roman', Times, serif;

$thin: 100;
$light: 300;
$regular: 400;
$bold: 700;

@import 'components/base/typography';
// @import 'layout';
// @import 'courses';
// @import 'profile';
// @import 'timetable';

@import 'components/text/text';
@import 'components/buttons/buttons';
@import 'components/forms/forms';

.uomcontent [role="main"] form {
  color: $midgray;
}

@import 'components/modal/modal';
@import 'components/search/search';

@import 'components/filtered-listings/filtered-listings';

///* Print */
@import 'print';
