[data-tabbed] {
  position: relative;
  nav {
    a {
      cursor: pointer;
      font-weight: 400;
      &[data-current] {
        font-weight: bold;
      }
    }
  }
  section {
    display: none;
    &[data-current] {
      display: block;
    }
  }
}
