[data-tabbed] {
  position: relative;
  nav {
    display: none;
    a {
      cursor: pointer;
      font-weight: 400;
      &[data-current] {
        font-weight: bold;
      }
    }
  }
  .tab {
    margin: 0;
    padding: 0;
    &[data-current] {
      display: block;
    }
  }
}

[data-tab] {
  cursor: pointer;
}

[role="main"] {
  .tabbed-nav {
    .full-width {
      background-color: rgba($navy, 0.9);
      filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#e50c304a,endColorstr=#e50c304a);
      border-bottom: 1px solid transparent;
      position: relative;
      // IE fix
      @include breakpoint(0) {
        border-bottom: 0 none;
      }
    }
    nav {
      @extend %wrapper;
      padding: 0;
      text-align: center;
      a {
        @include rem(font-size, 16px);
        @include rem(padding, 15px 10px);
        color: $white;
        display: inline-block;
        font-weight: $light;
        text-decoration: none;
        text-transform: uppercase;
        &[data-current] {
          font-weight: $light;
          position: relative;
        }
        &[data-current]:after {
          border: solid transparent;
          border-top-color: #23445A;
          border-top-color: rgba($navy, 0.9);
          border-width: 10px;
          content: " ";
          height: 0;
          left: 50%;
          margin-bottom: -10px;
          margin-left: -10px;
          pointer-events: none;
          position: absolute;
          top: 100%;
          width: 0;
        }
        @include breakpoint(desktop) {
          @include rem(font-size, 22px);
          @include rem(padding, 20px 45px);
        }
      }
      @include breakpoint(desktop) {
        @include rem(padding, 0 15px);
        margin: 0 auto;
      }
    }
    .tab {
      @include rem(margin-top, -70px);
      @include rem(padding-top, 70px);
      margin-left: auto;
      max-width: 100%;
      padding-bottom: 0;
      padding-left: 0;
      padding-right: 0;
    }
    &.black {
      .full-width {
        background-color: $black;
      }
      .tab {
        @include rem(margin-top, -76px);
        @include rem(padding-top, 76px);
      }
      nav a {
        color: $gray;
        &[data-current] {
          color: $white;
          font-weight: $regular;
        }
      }
      nav a[data-current]::after {
        border-top-color: $black;
      }
    }
    &.thin {
      nav a {
        @include rem(font-size, 15px);
        @include rem(padding, 15px);
      }
      .tab {
        @include rem(margin-top, -55px);
        @include rem(padding-top, 55px);
      }
    }
  }

  [data-tabbed].tabbed {
    @extend %clearfix;
    margin-bottom: 30px;
    width: 100%;

    nav {
      @include rem(font-size, 18px);
      a {
        @include rem(border-radius, 5px 5px 0 0);
        @include rem(padding, 15px 20px 5px);
        background-color: inherit;
        color: $gray;
        cursor: pointer;
        display: inline-block;
        font-weight: $bold;
        text-decoration: none;
        &:hover {
          color: $base;
        }
        &[data-current] {
          background-color: darken($lightgray, 2%);
          color: $base;
        }
      }
    }

    .tab {
      @include rem(padding, 15px 20px);
      background-color: darken($lightgray, 2%);
      margin: 0;
    }
  }
}
