@mixin presenters {
  margin: 0 3%;
  width: 94%;

  strong {
    font-size: 1rem;
    padding: .9375rem 0 .3125rem;
    display: block;
    font-weight: var(--fw-regular);
  }

  a {
    font-size: .875rem;
    padding-right: .625rem;
    color: var(--col-lighterblue);
    display: inline-block;
    vertical-align: top;
    width: 50%;

    &:hover {
      color: color(var(--col-lighterblue) shade(10%));
      text-decoration: underline;
    }
  }

  @include breakpoint(desktop) {
    margin-left: 0;
  }

  @include breakpoint(wide) {
    padding-left: .9375rem;
    border-left: 1px solid color(var(--col-lightgray) shade(5%));
    display: table-cell;
    vertical-align: top;
    width: 30%;

    strong {
      padding-top: 0;
    }
  }
}

.uomcontent [role="main"] ul.event-listing {
  max-width: var(--w-lge);
  padding: 0;

  @include breakpoint(desktop) {
    border-spacing: 1.875rem;
    display: table;
  }

  a {
    color: #000;
    display: block;
    text-decoration: none;

    &:hover {
      color: var(--col-lighterblue);
    }
  }

  li {
    margin-bottom: 2.8125rem;
    max-width: var(--w-lge);
    padding-left: .9375rem;
    list-style-type: none;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 0;
    width: 100%;

    @include breakpoint(desktop) {
      display: table-row;
      padding-left: 0;
    }

    li {
      border-bottom: 1px solid color(var(--col-lightgray) shade(5%));
      border-left: 5px solid var(--col-lighterblue);
      margin-left: -.9375rem;
      padding-bottom: 1.25rem;
      padding-top: 1.25rem;
      margin-bottom: 0;
      padding-left: 0;
      width: auto;

      &:first-child {
        padding-top: 0;
      }

      &:last-child {
        border-bottom: 0;
      }

      @include breakpoint(desktop) {
        padding-left: .9375rem;
        border-left: 0 none;
        border-spacing: 0;
        display: list-item;
        padding-left: 0;
      }
    }
  }

  p {
    padding-bottom: .3125rem;

  }

  h2 {
    border-left: 5px solid var(--col-lighterblue);
    font-size: 1.625rem;
    padding-bottom: .625rem;
    padding-right: .9375rem;
    border-right: 0 none;
    color: var(--col-lighterblue);
    margin: 0 3% 0 0;
    padding-top: 0;
    padding-left: 3%;
    text-transform: none;
    width: 94%;

    strong {
      padding-right: 0.4em;
    }

    @include breakpoint(desktop) {
      border-right: 5px solid var(--col-lighterblue);
      font-size: .875rem;
      width: 8.75rem;
      border-left: 0 none;
      display: table-cell;
      line-height: 1;
      margin-right: 0;
      padding-left: 0;
      text-align: right;
      vertical-align: top;
      width: auto;

      strong {
        font-size: 2.5rem;
        padding: .3125rem 0;
        display: block;
        line-height: .7;

        &.date {
          font-size: 3.75rem;
          padding-top: .625rem;
        }

        &.month {
          padding-bottom: .9375rem;
        }
      }
    }
  }

  ul {
    max-width: 100%;

    @include breakpoint(desktop) {
      display: table-cell;
      margin: 0;
      padding: 0;
    }
  }

  h3 {
    font-size: 1.625rem;
    padding-bottom: .625rem;
    font-weight: var(--fw-light);
    line-height: 1.3;
    max-width: 100%;

    @include breakpoint(desktop) {
      margin-left: 0;
    }
  }

  .time {
    color: var(--col-lighterblue);
    display: block;
    font-weight: var(--fw-regular);
    margin: 0 3%;
    width: 94%;

    svg {
      height: 1.25rem;
      margin-top: -.25rem;
      width: 1.25rem;
      display: inline-block;
      fill: var(--col-lighterblue);
      vertical-align: middle;
    }

    @include breakpoint(desktop) {
      margin-left: 0;
    }
  }

  .tags {
    margin-top: .625rem;
    padding: .625rem 0;
    border-bottom: 1px solid color(var(--col-lightgray) shade(5%));
    border-top: 1px solid color(var(--col-lightgray) shade(5%));
    color: color(var(--col-midgray) tint(10%));
    margin-left: 3%;
    margin-right: 3%;
    width: 94%;

    small::after {
      content: ', ';
    }

    small:last-child::after {
      content: '';
    }

    a {
      color: color(var(--col-midgray) tint(10%));

      &:hover {
        color: #000;
        text-decoration: underline;
      }
    }

    .tag {
      font-size: .6875rem;
      border-radius: 3px;
      line-height: 1.125rem;
      margin-right: .625rem;
      padding: .125rem .4375rem 0 .1875rem;
      border: 1px solid var(--col-midgray);
      color: var(--col-midgray);
      display: inline-block;
      font-weight: var(--fw-regular);
      text-transform: uppercase;

      svg {
        display: inline;
        fill: color(var(--col-midgray) tint(15%));
      }

      [data-icon],
      .icon-label {
        display: inline;
      }
    }

    svg {
      height: .8125rem;
      margin-left: .0625rem;
      margin-right: .1875rem;
      margin-top: -.125rem;
      width: .8125rem;
      display: inline-block;
      fill: var(--col-midgray);
      vertical-align: middle;
    }

    @include breakpoint(desktop) {
      border-bottom: 0 none;
      border-top: 0 none;
      margin-left: 0;
      margin-top: 0;
      padding: 0;
    }
  }

  .col {
    p {
      max-width: 100%;
    }

    @include breakpoint(wide) {
      padding-right: .9375rem;
      display: table-cell;
      vertical-align: top;
    }
  }

  .presenters {
    @include presenters;
  }
}

// Manual fix for 300px diff
.jumpnav-active .uomcontent [role="main"] ul.event-listing {
  @include breakpoint(wide) {
    .col {
      display: block;
      width: 100%;
    }

    .presenters {
      border-left: 0 none;
      display: block;
      padding-left: 0;
      width: 100%;

      strong {
        padding-top: .9375rem;
      }
    }
  }

  @include breakpoint(1400px) {
    .col {
      display: table-cell;
      width: auto;
    }

    .presenters {
      padding-left: .9375rem;
      border-left: 1px solid color(var(--col-lightgray) shade(5%));
      display: table-cell;
      width: 30%;

      strong {
        padding-top: 0;
      }
    }
  }
}

