@define-mixin detail {
  @mixin wrapper;
  padding-top: 1.5rem;
  padding-bottom: 3rem;

  .aside {
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    display: block;
    float: left;
    width: 100%;

    .when {
      padding: 0;

      time {
        font-size: 1.25rem;
        display: block;
        position: relative;
        text-align: center;

        strong {
          padding-left: .375rem;
          padding-right: .375rem;

          &.date {
            padding-right: 0;
          }
        }

        @media screen and (--bp-desktop) {
          display: block;
          text-align: right;

          &:first-child {
            padding-bottom: 1.5rem;
            margin-top: -.5rem;
            margin-bottom: 1.5rem;
            position: relative;
          }

          strong {
            padding: 0;

            &.date {
              font-size: 3.75rem;
              padding-top: .625rem;
            }

            &.month {
              padding-bottom: .3125rem;
            }
          }
        }
      }

      &.range time + time::before {
        margin-right: .3125rem;
        width: 1rem;
        border-bottom: 2px solid #000;
        content: "";
        display: inline-block;
        vertical-align: middle;

        @media screen and (--bp-desktop) {
          margin-top: -1.5rem;
          width: 1.25rem;
          border-bottom: 4px solid #000;
          display: block;
          margin-right: 0;
          position: absolute;
          right: 0;
        }
      }

      strong {
        font-weight: var(--fw-regular);
        vertical-align: baseline;

        @media screen and (--bp-desktop) {
          display: block;
          font-size: 2.25rem;
          font-weight: var(--fw-bold);
          line-height: 3rem;
        }
      }
    }

    @media screen and (--bp-desktop) {
      width: 18.75rem;
    }

    div {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      border-top: 1px solid color(var(--col-lightgray) lightness(-10%));
      text-align: center;

      @media screen and (--bp-desktop) {
        padding-left: 3.75rem;
        text-align: right;
      }
    }

    p {
      padding: 0;
    }

    .social-links {
      list-style: none;
      padding: 0;

      & > li {
        display: inline-block;
        list-style: none;
        padding: 0;
        width: auto;

        &:first-child {
          margin-left: 0;
        }
      }
    }
  }

  .upper {
    text-align: center;

    @media screen and (--bp-desktop) {
      margin-left: 18.75rem;
      text-align: left;
    }

    .aside {
      padding-top: 0;

      @media screen and (--bp-desktop) {
        margin-left: -18.75rem;
      }
    }

    img {
      display: block;
    }

    h1 {
      @media screen and (--bp-desktop) {
        margin-left: 0;
      }
    }

    h2 {
      &::after {
        display: none;
      }

      @media screen and (--bp-desktop) {
        margin-left: 0;
        width: auto;
      }
    }

    div {
      border-top: 0 none;
    }

    /* HACK fix centring and width */
    .figure {
      margin-left: 0;
      max-width: none;
    }
  }

  .lower {
    @media screen and (--bp-desktop) {
      margin-left: 18.75rem;

      .aside {
        margin-left: -18.75rem;

        div {
          padding-left: 0;

          p {
            overflow: hidden;
            text-overflow: ellipsis;
          }

          a {
            white-space: nowrap;
          }
        }

        .button-small {
          margin-top: .3125rem;
        }
      }

      footer {
        padding-bottom: 0;
      }
    }

    .presenters {
      @mixin presenters;

      @media screen and (--bp-desktop) {
        /* margin-left: 18.75rem; */
        border: 0 none;
        display: block;
        padding-left: 0;
        width: auto;
      }
    }

    h1,
    h2,
    h3,
    ul,
    ol,
    p,
    hr {
      @media screen and (--bp-desktop) {
        margin-left: 0;
        width: auto;
      }
    }

    .aside {
      padding-top: 0;
    }

    .aside p {
      margin-left: auto;
    }

    h1,
    h2 {
      font-size: 1.5rem;
      line-height: 2.25rem;
      padding-bottom: 1.5rem;
      clear: none;
      font-weight: var(--fw-light);
      letter-spacing: 0;
      text-align: left;
      text-transform: none;


      &::after {
        display: none;
      }

      @media screen and (--bp-desktop) {
        font-size: 1.875rem;
        line-height: 2.25rem;
        padding-top: 1.5rem;
      }
    }

    h2 {
      font-size: 1.25rem;
      line-height: 1.5rem;

      @media screen and (--bp-desktop) {
        font-size: 1.5rem;
        line-height: 2.25rem;
      }
    }

    h3 {
      padding-bottom: 1.5rem;
    }
  }
}

.uomcontent .detail {
  @mixin detail;
}
