@define-mixin detail {
  @mixin wrapper;
  padding-top: pxtorem(24);
  padding-bottom: pxtorem(48);

  .aside {
    padding-top: pxtorem(48);
    padding-bottom: pxtorem(48);
    padding-left: pxtorem(30);
    padding-right: pxtorem(30);
    display: block;
    float: left;
    width: 100%;

    .when {
      padding: 0;

      time {
        font-size: pxtorem(20);
        display: block;
        position: relative;
        text-align: center;

        strong {
          padding-left: .375rem;
          padding-right: .375rem;

          &.date {
            padding-right: 0;
          }
        }

        @media screen and (--bp-desktop) {
          display: block;
          text-align: right;
          font-size: pxtorem(18);
          font-family: var(--ff-sans);
          font-weight: var(--fw-regular);
          line-height: 1;

          &:first-child {
            padding-bottom: pxtorem(24);
            margin-top: -.5rem;
            margin-bottom: pxtorem(24);
            position: relative;
          }

          strong {
            font-family: var(--ff-serif);
            font-weight: var(--fw-bold);
            font-size: pxtorem(28);
            padding: 0;

            &.date {
              font-size: pxtorem(60);
              padding-top: pxtorem(10);
            }

            &.month {
              padding-bottom: pxtorem(5);
            }
          }
        }
      }

      &.range time + time::before {
        margin-right: pxtorem(5);
        width: pxtorem(16);
        border-bottom: 2px solid var(--col-black-dark);
        content: "";
        display: inline-block;
        vertical-align: middle;

        @media screen and (--bp-desktop) {
          margin-top: -pxtorem(24);
          width: pxtorem(20);
          border-bottom: 4px solid var(--col-black-dark);
          display: block;
          margin-right: 0;
          position: absolute;
          right: 0;
        }
      }

      strong {
        font-weight: var(--fw-regular);
        vertical-align: baseline;

        @media screen and (--bp-desktop) {
          display: block;
          font-size: pxtorem(36);
          font-weight: var(--fw-semibold);
          line-height: pxtorem(48);
        }
      }
    }

    @media screen and (--bp-desktop) {
      width: pxtorem(300);
    }

    div {
      padding-top: pxtorem(24);
      padding-bottom: pxtorem(24);
      border-top: 1px solid var(--col-black-light);
      text-align: center;

      @media screen and (--bp-desktop) {
        padding-left: pxtorem(60);
        text-align: right;
      }
    }

    p {
      padding: 0;
    }

    .social-links {
      list-style: none;
      padding: 0;

      & > li {
        display: inline-block;
        list-style: none;
        padding: 0;
        width: auto;

        &:first-child {
          margin-left: 0;
        }
      }

      a {
        color: var(--col-navy-main);
        &:hover,
        &:focus {
          color: var(--col-tertiary-navy);
        }
      }
    }
  }

  .upper {
    text-align: center;

    @media screen and (--bp-desktop) {
      padding-left: pxtorem(300);
      text-align: left;
    }

    .aside {
      padding-top: 0;

      @media screen and (--bp-desktop) {
        margin-left: pxtorem(-300);
      }
    }

    img {
      display: block;
    }

    h1 {
      @media screen and (--bp-desktop) {
        margin-left: 0;
      }
    }

    h2 {
      &::after {
        display: none;
      }

      @media screen and (--bp-desktop) {
        margin-left: 0;
        width: auto;
      }
    }

    div {
      border-top: 0 none;
    }

    /* HACK fix centring and width */
    .figure {
      margin-left: 0;
      max-width: none;
    }
  }

  .lower {
    @media screen and (--bp-desktop) {
      margin-left: pxtorem(300);

      .aside {
        margin-left: pxtorem(-300);

        div {
          padding-left: 0;

          p {
            overflow: hidden;
            text-overflow: ellipsis;
          }

          a {
            white-space: nowrap;
          }
        }

        .button-small {
          margin-top: pxtorem(5);
        }
      }

      footer {
        padding-bottom: 0;
      }
    }

    .presenters {
      @mixin presenters;

      @media screen and (--bp-desktop) {
        /* margin-left: pxtorem(300); */
        border: 0 none;
        display: block;
        padding-left: 0;
        width: auto;
      }
    }

    h1,
    h2,
    h3,
    ul,
    ol,
    p,
    hr {
      @media screen and (--bp-desktop) {
        margin-left: 0;
        width: auto;
      }
    }

    .aside {
      padding-top: 0;
    }

    .aside p {
      margin-left: auto;
    }

    h1,
    h2 {
      font-size: pxtorem(24);
      line-height: pxtorem(36);
      padding-bottom: pxtorem(24);
      clear: none;
      font-weight: var(--fw-light);
      letter-spacing: 0;
      text-align: left;
      text-transform: none;


      &::after {
        display: none;
      }

      @media screen and (--bp-desktop) {
        font-size: pxtorem(30);
        line-height: pxtorem(36);
        padding-top: pxtorem(24);
      }
    }

    h2 {
      font-size: pxtorem(20);
      line-height: pxtorem(24);

      @media screen and (--bp-desktop) {
        font-size: pxtorem(24);
        line-height: pxtorem(36);
      }
    }

    h3 {
      padding-bottom: pxtorem(24);
    }
  }
}

.uomcontent .detail {
  @mixin detail;
}
