body {
  background-color: $navy;
  color: $black;
  font-family: $ff-sans;
  font-size: 106.3%;
  line-height: 1.7;

  @include breakpoint(desktop) {
    font-size: 112.5%;
    line-height: 1.68;
  }
}

.clearfix {
  @extend %clearfix;
}

[role="main"] header .bottom-align {
  @extend %grad-bottom;
  @include rem(padding-top, 70px);
  @include rem(padding-bottom, 20px);
  bottom: 0;
  position: absolute;
  width: 100%;

  @media screen and (min-width: 481px) and (max-height:639px) {
    position: relative;
  }
}

[role="main"] header .bottom-align-inverted {
  @extend %grad-top;
  color: $black;

  @include breakpoint(height-small) {
    @include rem(padding-top, 70px);
    @include rem(padding-bottom, 20px);
    bottom: 0;
    position: absolute;
    width: 100%;
  }
}

[role="main"] header .bottom-align-flat {
  @include rem(padding-bottom, 30px);
  @include rem(padding-top, 30px);
  background-color: rgba($black, .8);
  position: relative;
  width: 100%;

  @include breakpoint(desktop) {
    bottom: 0;
    position: absolute;
  }

  @media screen and (min-width: 481px) and (max-height:639px) {
    position: relative;
  }
}

[role="main"] header .mid-align {
  position: relative;
  text-align: center;
  width: 100%;

  h1 {
    @include rem(font-size, 50px);
    @include rem(letter-spacing, 3px);
    @include rem(padding-top, 80px);
    font-family: $ff-sans;
    font-weight: $bold;
    margin-right: 0;
    padding-bottom: 0;
    text-transform: uppercase;
  }

  p {
    margin: 0 auto;
  }

  @include breakpoint(tablet) {
    @include rem(height, 700px);
    @include rem(padding, 260px 0 180px);
    h1 {
      @include rem(padding-bottom, 30px);
      margin: auto;
    }
  }

  @include breakpoint(height-smallest) {
    @include rem(padding, 180px 0);
    h1 {
      @include rem(padding-bottom, 30px);
    }
  }

  @media screen and (min-width: 481px) and (max-height:639px) {
    @include rem(padding, 180px 0);
    h1 {
      @include rem(padding-bottom, 30px);
    }
  }
}

.sans {
  font-family: $ff-sans;
}

.fixed {
  font-family: $ff-fixed;
}

.serif {
  font-family: $ff-serif;
}

.thin {
  font-weight: $thin;
}

.light {
  font-weight: $light;
}

.regular {
  font-weight: $regular;
}

.bold {
  font-weight: $bold;
}

[role='main'] {
  background-color: $lightgray;
  font-weight: $regular;

  header {
    @include rem(margin-bottom, 30px);
    @include rem(min-height, 144px);
    background-color: $black;
    background-image: url("#{asset_path('components/globals/bg-banner.jpg')}");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    color: $white;
    position: relative;

    &.tight {
      margin-bottom: 0;
    }

    &.mid {
      @include rem(height, 300px);
      .bottom-align-flat {
        position: absolute;
      }
    }

    &.short {
      height: auto;
      padding-bottom: 0;

      p {
        @include rem(font-size, 20px);
        @include rem(padding-bottom, 15px);
        @include rem(padding-top, 15px);
        line-height: 1.3;
        padding-left: 3%;
        padding-right: 3%;
        width: 100%;
      }

      @include breakpoint(desktop) {
        @include rem(padding-bottom, 160px);
        p {
          @include rem(font-size, 24px);
          @include rem(max-width, $w-mid);
          @include rem(padding-bottom, 60px);
          @include rem(padding-top, 60px);
          line-height: 1.4;
          margin: 0 auto;
          padding-left: 0;
          padding-right: 0;
          text-align: center;
        }
      }
    }

    .video-loop {
      background-color: $black;
      display: none;

      @include breakpoint(wide) {
        display: block;
        height: 100%;
        overflow: hidden;
        position: absolute;
        width: 100%;

        video {
          background-color: $black;
          min-height: 100%;
          min-width: 100%;
        }
      }
    }

    section {
      @include rem(max-width, $w-mid);
      @include rem(min-height, 82px);
      margin: 0 auto;
      text-align: left;

      p,
      h1 {
        max-width: 100%;
        text-align: left;
      }
    }

    h1 {
      @include rem(max-width, $w-lge);
      line-height: 1;
      margin: 0 auto;
      padding-bottom: 0;
      text-align: center;

      &:after,
      &::after {
        display: none;
      }

      @include breakpoint(wide) {
        @include rem(font-size, 72px);
        line-height: 1.04;
      }
    }

    p {
      @include rem(font-size, 22px);
    }

    @include breakpoint(desktop) {
      overflow: hidden;

      p {
        @include rem(font-size, 28px);
        @include rem(padding-top, 10px);
      }
    }

    @include breakpoint(wide) {
      p {
        @include rem(font-size, 32px);
        @include rem(margin-right, -200px);
      }
    }

    @include breakpoint(height-smallest) {
      @include rem(height, 550px);
    }

    @include breakpoint(height-small) {
      @include rem(height, 650px);
    }

    @include breakpoint(height-medium) {
      @include rem(height, 700px);
      @include rem(padding-bottom, 30px);
    }

    @include breakpoint(height-big) {
      @include rem(height, 800px);
    }
  }


  article {
    @include rem(padding-bottom, 30px);
  }

  aside {
    @include rem(font-size, 15px);
    color: $darkgray;
    float: right;

    section {
      margin-left: 0;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  li,
  table {
    @extend %wrapper;
    @include rem(max-width, $w-sml);
    font-weight: $light;
    margin: 0 auto;
    width: 100%;
  }

  li {
    padding: 0;
  }

  section {
    @include rem(padding-bottom, 30px);
    @include rem(padding-top, 30px);

    div {
      @include rem(max-width, $w-sml);
      margin: 0 auto;

      &.youtube5placeholder {
        @include rem(margin-bottom, 45px);
        @include rem(margin-top, 45px);
        width: 100% !important;
      }

      &.youtube5container {
        width: 100% !important;
      }
    }

    &.tight {
      padding-bottom: 0;

      p:last-child {
        padding-bottom: 0;
      }
    }

    &.lead {
      @include rem(max-width, $w-lge);
      margin: 0 3%;
      text-align: center;

      p {
        @include rem(max-width, $w-mid);
        font-style: italic;
      }

      &:after,
      &::after {
        @include rem(margin-top, 30px);
        @include rem(width, 80px);
        border-bottom: 2px solid $lighterblue;
        content: '';
        display: block;
        margin-left: auto;
        margin-right: auto;
      }

      @include breakpoint(wide) {
        margin: 0 auto;
      }
    }

    &.links {
      padding-top: 0;

      h2 {
        @include rem(font-size, 13px);
        font-weight: $bold;
        letter-spacing: 3px;
        text-transform: uppercase;
      }

      ul {
        margin-left: 0;
      }

      p,
      li {
        @include rem(font-size, 16px);
      }

      li {
        list-style-type: none;
      }
    }

    & + .video {
      @include rem(margin-top, -30px);
      @include rem(max-width, $w-lge);
      @include breakpoint($w-lge) {
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 550px;
      }
    }
  }

  footer {
    @include rem(padding-bottom, 30px);
    @include rem(padding-top, 30px);
    clear: both;

    &.alt {
      background-color: $lightestblue;
      box-shadow: 0 6px 6px 4px rgba($black, .3);
    }

    &.contrib {
      background-color: $paleyellow;
      box-shadow: 0 6px 6px 4px rgba($black, .3);

      ul {
        @include rem(max-width, $w-sml);
        margin: 0 auto;
      }
    }
  }

  @include breakpoint(desktop) {
    font-weight: $light;
  }

  .center {
    @include rem(padding, 0 0 60px);
    margin: 0 auto;
    text-align: center;
  }

}

h1 {
  @include rem(font-size, 36px);
  @include rem(padding, 26px 0);
  font-family: $ff-serif;
  font-weight: $regular;
  line-height: 1.2;

  &:after,
  &::after {
    @include rem(margin-top, 15px);
    @include rem(max-width, 700px);
    border-bottom: 2px solid $midgray;
    content: '';
    display: block;
    width: 100%;
  }

  @include breakpoint(desktop) {
    @include rem(font-size, 47.1px);
    @include rem(padding-bottom, 24px);
    @include rem(padding-top, 30px);
    line-height: 1.26;
  }

  &+ h2 {
    @include rem(padding-top, 3px);
  }
}

h2 {
  @include rem(font-size, 27.5px);
  @include rem(padding, 23px 0);
  clear: left;
  font-weight: $light;
  line-height: 1.5;

  @include breakpoint(desktop) {
    @include rem(font-size, 29.1px);
  }
}

h3 {
  @include rem(font-size, 22.2px);
  @include rem(padding, 20px 0);
  font-weight: $bold;
  line-height: 1.4;

  @include breakpoint(desktop) {
    @include rem(font-size, 23.5px);
    @include rem(padding, 29px 0);
  }
}

.small {
  @include rem(font-size, 12px);
}

.subtitle {
  @include rem(font-size, 15px);
  @include rem(letter-spacing, 2px);
  font-weight: $bold;
  text-transform: uppercase;
}

.title {
  @extend .subtitle;
  text-align: center;

  &:after,
  &::after {
    @include rem(margin-bottom, 15px);
    @include rem(margin-top, 30px);
    @include rem(width, 80px);
    border-bottom: 2px solid $black;
    content: '';
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

p,
li {
  @include rem(letter-spacing, .2px);
  @include rem(padding-bottom, 30px);
}

.feature {
  @include rem(font-size, 20px);
}

.fullwidth {
  @include rem(height, 500px);
  background-color: transparent;
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 100%;

  &.short {
    height: auto;
  }

  &.alt {
    background-color: $lightgray;
  }

  section {
    @include rem(padding-top, 200px);
    @extend %grad-bottom;
    bottom: 0;
    margin: 0;
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
    position: absolute;
    width: 100%;
  }

  p {
    @include rem(font-size, 19px);
    @include rem(margin, 0 15px);
    @include rem(padding-top, 45px);
    color: $white;
    font-weight: $light;
    max-width: 100%;
    padding-bottom: 0;

    &.black {
      @include rem(padding-bottom, 45px);
      @include rem(padding-top, 65px);
      color: $black;
      text-align: left;
    }

    @include breakpoint(desktop) {
      @include rem(max-width, $w-mid);
      margin: 0 auto;

      &.black {
        text-align: center;
      }
    }
  }

  blockquote {
    color: $white;
    line-height: 1.4;
  }

  pre {
    @include rem(margin, 0 30px);
    max-width: 100%;
  }

  @include breakpoint(height-small) {
    @include rem(height, 650px);
    p {
      @include rem(font-size, 22px);
    }
  }

  @include breakpoint(height-medium) {
    @include rem(height, 850px);
    @include rem(padding-bottom, 30px);
  }

  @include breakpoint(height-big) {
    @include rem(height, 1000px);
  }
}

a {
  color: $cyan;
  text-decoration: underline;

  &:hover {
    color: darken($cyan, 15%);
  }
}

img {
  border: 0;
  max-width: 100%;
}

hr {
  border-bottom: 1px solid darken($lightgray, 5%);
  border-top: 0;
  clear: both;

  &.spacer {
    @include rem(margin, 0 0 30px);
  }
}

ol,
ul {
  @include rem(max-width, $w-sml);
  @include rem(padding, 15px 15px 15px 45px);
  color: $darkgray;
  list-style-position: outside;
  margin: 0 auto;

  li {
    @include rem(margin-left, 15px);
    @include rem(max-width, (#{$w-sml}-60px));
    @include rem(padding, 0 0 10px);
    color: $black;
    display: list-item;

    &.no-li {
      list-style-type: none;

      &:before,
      &::before {
        display: none;
      }
    }
  }

  &.nobullet {
    margin-left: 0;

    li {
      list-style-type: none;
    }
  }
}

ol {
  li {
    list-style-type: decimal;
  }
}

ul li {
  list-style-type: disc;
}

ul.ticked-list {

  li {
    list-style-type: none;
    position: relative;

    &::before {
      @include rem(height, 5px);
      @include rem(margin-left, -30px);
      @include rem(top, 10px);
      @include rem(width, 10px);
      background: transparent;
      border: 3px solid $green;
      border-right: 0 none;
      border-top: 0 none;
      content: '';
      left: 0;
      position: absolute;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }

    &.disabled::before {
      opacity: .2;
    }
  }
}

%quote-style {
  @include rem(font-size, 100px);
  @include rem(margin-left, -50px);
  @include rem(margin-right, 10px);
  color: darken($lightgray, 10%);
  content: open-quote;
  line-height: .1em;
  vertical-align: -.333em;
}

blockquote {
  @include rem(font-size, 19px);
  @include rem(margin-top, 30px);
  @include rem(max-width, $w-mid);
  @include rem(padding, 30px 15px 0);
  color: $darkblue;
  font-family: $ff-serif;
  font-style: italic;
  font-weight: $regular;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  quotes: '\201C''\201D';
  text-align: left;

  &::after,
  &::before {
    @extend %quote-style;
  }

  &:before {
    @extend %quote-style;
  }

  &:after {
    @extend %quote-style;
    content: close-quote;
    margin-left: 0;
    margin-right: 0;
    vertical-align: -.667em;
  }

  &::after {
    content: close-quote;
    margin-left: 0;
    margin-right: 0;
    vertical-align: -.667em;
  }

  cite {
    @include rem(font-size, 16px);
    color: lighten($midgray, 20%);
    float: left;
    font-family: $ff-sans;
    font-style: normal;
    font-weight: $light;
    text-align: left;
    width: 100%;

    &::before {
      @include rem(padding-right, 5px);
      content: '\2014';
    }
  }

  p {
    @include rem(font-size, 24px);
    display: inline;
    margin: 0;
    padding: 0;
  }

  @include breakpoint(tablet) {
    @include rem(font-size, 24px);
  }
}

figure.framed img {
  @include breakpoint(tablet) {
    box-shadow: 0 3px 6px -1px rgba($black, .2);
    display: inline-block;
    max-height: 90%;
  }
}

.inset-left {
  @include rem(margin-bottom, 30px);
  @include rem(margin-top, 6px);
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding: 0;
  text-align: center;

  figcaption {
    @include rem(font-size, 14px);
    @include rem(padding-bottom, 15px);
    font-style: italic;
    line-height: 1.2;
    text-align: center;
  }

  img {
    @include rem(max-height, 500px);
  }

  @include breakpoint(tablet) {
    @include rem(padding-right, 30px);
    border: 0 none;
    float: left;
    max-width: 40%;
    text-align: left;

    figcaption {
      @include rem(margin-top, 15px);
      @include rem(padding-top, 15px);
      color: $lighterblue;
      position: relative;
      text-align: left;

      &:before {
        @include rem(width, 40px);
        border-bottom: 2px solid $lighterblue;
        content: '';
        display: block;
        left: 2px;
        position: absolute;
        top: 0;
      }

      &::before {
        @include rem(width, 40px);
        border-bottom: 2px solid $lighterblue;
        content: '';
        display: block;
        left: 2px;
        position: absolute;
        top: 0;
      }
    }
  }

  @include breakpoint(wide) {
    @include rem(margin-bottom, 20px);
    @include rem(margin-left, -180px);
    max-width: 80%;
  }
}

.inset-right {
  @extend .inset-left;

  @include breakpoint(tablet) {
    @include rem(padding-left, 30px);
    float: right;
    margin-right: 0;
    text-align: right;

    figcaption {
      text-align: right;

      &:before {
        left: auto;
        right: -2px;
      }

      &::before {
        left: auto;
        right: -2px;
      }
    }
  }

  @include breakpoint(wide) {
    @include rem(margin-right, -180px);
    margin-left: 0;
  }
}

dl {
  @include rem(font-size, 12px);
  @include rem(padding, 10px 15px);
  dt {
    @include rem(width, 120px);
    clear: left;
    float: left;
  }

  dd {
    float: left;
  }

  &.bside {
    @include rem(font-size, 15px);
    dt {
      line-height: 1.2;
      margin: 0;
      text-align: left;
      width: 15%;
    }

    dd {
      margin: 0 0 0 2%;
      width: 83%;
    }

    span {
      @include rem(font-size, 28px);
      letter-spacing: -.125em;
      line-height: 1;
    }

    @include breakpoint(desktop) {
      @include rem(padding, 10px 30px);
      display: inline-block;
      width: 75%;

      dt {
        text-align: right;
      }
    }
  }
}

aside {
  clear: both;
  width: 100%;

  dt {
    @include rem(letter-spacing, 1px);
    @include rem(padding-bottom, 5px);
    font-weight: $bold;
    margin-left: 0;
    text-transform: uppercase;
    width: 100%;
  }

  dd {
    margin-left: 0;
    width: 100%;
  }

  @include breakpoint(desktop) {
    display: inline-block;
    width: 25%;
  }
}

.hold {
  @include rem(max-width, $w-mid);
  margin: 0 auto;

  aside {
    @include rem(padding-bottom, 15px);
    @include rem(padding-top, 5px);
    float: none;
    vertical-align: top;
  }
}

.overview {
  margin: 0 auto;
  position: relative;
  text-align: center;
  width: 100%;

  @include breakpoint(desktop) {
    width: 814px;
  }

  img {
    border: 1px solid $lightergray;
    display: inline;
    margin-right: 10px;
    vertical-align: top;

    &.last {
      margin-right: 0;
    }
  }

  .block {
    background-color: rgba($black, .7);
    color: $white;
    font-weight: $bold;
    left: 50%;
    margin-left: -406px;
    position: absolute;
    text-decoration: none;
    width: 200px;

    &:hover {
      background-color: rgba($paleyellow, .8);
      color: $black;
    }

    &.desktop {
      margin-left: -194px;
      width: 601px;
    }
  }
}

.wide-wrap {
  max-width: 100%;
  overflow: scroll;
  padding-top: 60px;
  position: relative;

  &:before {
    color: $cyan;
    content: '\21e0';
    float: left;
    font-size: 50px;
    line-height: 50px;
    margin-top: -60px;
    text-align: right;
    width: 100%;
  }

  &::before {
    color: $cyan;
    content: '\21e0';
    float: left;
    font-size: 50px;
    line-height: 50px;
    margin-top: -60px;
    text-align: right;
    width: 100%;
  }

  div:before {
    @extend %grad-left;
    content: '';
    height: 50px;
    margin-top: -60px;
    position: absolute;
    width: 100%;
  }

  div::before {
    @extend %grad-left;
    content: '';
    height: 50px;
    margin-top: -60px;
    position: absolute;
    width: 100%;
  }

  @include breakpoint(desktop) {
    overflow: visible;
    padding-top: 0;

    &:before,
    &::before {
      content: none;
      height: 0;
      position: static;
    }

    div:before,
    div::before {
      content: none;
    }
  }
}

.alert {
  @include rem(margin-bottom, 15px);
  @include rem(padding, 15px);
  background-color: $paleyellow;
  box-shadow: 0 2px 3px rgba($black, .1);

  a {
    color: darken($paleyellow, 65%);
  }
}

.fifth {
  @include rem(padding, 0 15px 30px);
  float: left;
  width: 100%;

  .col {
    margin: 1%;

    @include breakpoint(desktop) {
      float: left;
      margin: 0 1%;
      text-align: center;
      width: 18%;
    }
  }
}

.quarter {
  li {
    @include rem(padding-bottom, 20px);
    line-height: 1;
    margin-left: 9%;
    margin-right: 9%;
    text-align: left;
    width: 82%;

    @include breakpoint(desktop) {
      float: left;
      margin: 0;
      padding: 0;
      text-align: center;
      width: 25%;
    }
  }
}

.half {
  @extend %clearfix;
  @include rem(max-width, $w-lge);
  margin: 0 auto;

  em {
    @include rem(font-size, 13px);
    @include rem(padding-bottom, 30px);
    display: block;
  }

  img {
    @include rem(margin-top, 30px);
    max-width: 95%;
  }

  .button-fill,
  section {
    @include rem(padding, 0 15px);
    float: left;
    margin: 0;
    width: 100%;

    &.tight {
      padding: 0;
    }

    p {
      @include rem(max-width, $w-sml);
    }

    iframe {
      width: 100%;
    }

    @include breakpoint(desktop) {
      @include rem(padding, 30px 15px);
      width: 50%;
      padding-left: 0;
      padding-right: 0;

      iframe {
        @include rem(margin-top, 60px);
        @include rem(margin-bottom, 60px);
        @include rem(padding-right, 30px);
      }
    }
  }

  @include breakpoint(desktop) {
    @include rem(padding, 0 30px);
  }
}

.with-figure {
  @include rem(max-width, $w-sml);
  margin: 0 auto;
}

.with-aside {
  @extend %clearfix;
  background-color: $lightgray;

  @include breakpoint(desktop) {
    background-image: url("#{asset_path('components/globals/with-aside-r-bg.png')}");
    background-position: top center;
    background-repeat: repeat-y;
  }

  div {
    @include rem(max-width, $w-lge);
    clear: both;
    margin: 0 auto;
  }

  aside {
    @include rem(padding, 30px 15px);
    background-color: $lightgray;
    clear: none;
    width: 100%;

    h2 {
      @include rem(padding, 30px 0);
    }

    p {
      padding: 0;
    }

    @include breakpoint(desktop) {
      @include rem(padding, 30px);
      float: left;
      max-width: 25%;
      position: relative;
      width: 25%;
    }
  }

  .bside {
    @include rem(max-width, 1099px);
    @include rem(padding-top, 30px);
    background-color: $white;
    clear: both;
    width: 100%;

    @include breakpoint(desktop) {
      @include rem(padding-top, 45px);
      clear: none;
      float: left;
      width: 75%;
    }
  }

  &.left {
    @include breakpoint(desktop) {
      background-image: url("#{asset_path('components/globals/with-aside-bg.png')}");

      aside {
        background-color: transparent;
      }
    }
  }
}

.alt {
  background-color: $lightgray;
}


[role="main"] .margin-rule {
  .floating {
    @include rem(padding, 15px 15px 30px);
    background-color: $lightgray;

    h2,
    p {
      padding-bottom: 0;
    }
  }

  @include breakpoint(desktop) {
    @include rem(width, 1099px);
    margin: 0 auto;

    section {
      @include rem(margin, 30px 0 30px 300px);
      padding-bottom: 0;
      padding-top: 0;

      &.ruled {
        @include rem(margin-bottom, 60px);
        @include rem(margin-top, 60px);
        border-left: 1px solid $black;
        float: left;
        margin-left: 0;
      }
    }

    .floating {
      @include rem(padding-right, 20px);
      @include rem(padding-top, 50px);
      @include rem(width, 280px);
      background-color: transparent;
      float: left;
      text-align: right;

      h2 {
        @include rem(font-size, 26px);
        @include rem(padding-bottom, 15px);
      }
    }
  }
}
