.course-section {
  @include rem(max-width, 1200px);
  @include rem(padding-bottom, 30px);
  margin: 0 auto;

  aside {
    float: none;
    vertical-align: top;

    @include breakpoint(desktop) {
      display: inline-block;
      padding-left: 15px;
      padding-right: 30px;
      max-width: 300px;
      width: 25%;
    }
  }

  .bside {

    @include breakpoint(desktop) {
      @include rem(padding, 10px 30px);
      display: inline-block;
      max-width: 900px;
      width: 75%;
    }
  }
}

.course-select fieldset {
  .undergrad {
    color: lighten($green, 30%);
    input[type="checkbox"] + label {
      background-color: lighten($green, 30%);
      border-color: darken($green, 10%);
    }
  }
  .postgrad {
    color: $bronze;
    input[type="checkbox"] + label {
      background-color: $bronze;
      border-color: darken($bronze, 20%);
    }
  }
  .masters {
    color: $lightestblue;
    input[type="checkbox"] + label {
      background-color: l$lightestblue;
      border-color: darken($lightestblue, 20%);
    }
  }
  .research {
    color: lighten($lightblue, 10%);
    input[type="checkbox"] + label {
      background-color: lighten($lightblue, 10%);
      border-color: darken($lightblue, 10%);
    }
  }
}

.course-grid {
  li {
    @include rem(font-size, 14px);
    @include rem(margin, 2px);
    background-color: $palegreen;
    float: left;
    list-style-type: none;
    padding: 0;
    &.postgrad {
      background-color: $bronze;
    }
    &.masters {
      background-color: $lightestblue;
    }
    &.research {
      background-color: $lightblue;
    }
  }
  a {
    @include rem(height, 110px);
    @include rem(padding, 10px);
    @include rem(width, 190px);
    color: $darkgray;
    display: block;
    font-weight: $light;
    text-decoration: none;
  }
  strong {
    @include rem(font-size, 16px);
    display: block;
    line-height: 1.2;
  }
}