.course-section {
  @include rem(max-width, $w-lge);
  @include rem(padding-bottom, 30px);
  margin: 0 auto;

  &.hide,
  &.hide + hr.spacer {
    display: none;
  }

  aside {
    @include rem(padding-bottom, 30px);
    float: none;
    margin: 0 3%;
    vertical-align: top;
    width: 94%;

    p {
      padding-bottom: 0;
    }

    @include breakpoint(desktop) {
      float: left;
      margin: 0;
      max-width: 30%;
      padding-left: 15px;

      p {
        @include rem(padding-bottom, 15px);
      }
    }
  }

  .bside {
    @include breakpoint(desktop) {
      @include rem(padding, 10px 0 10px 30px);
      float: right;
      width: 70%;
    }
  }
}

[role="main"] form.course-select {
  @include rem(max-width, $w-lge);
  background-color: transparent;
  color: $white;
  margin: 0 auto;

  strong {
    @include rem(font-size, 15px);
    @include rem(padding-bottom, 5px);
    @include rem(padding-left, 10px);
    display: block;
    font-weight: $light;
  }

  h2 {
    @include rem(font-size, 30px);
    @include rem(letter-spacing, 2px);
    font-weight: $light;
    line-height: 1.2;
    margin-left: 0;
    padding-bottom: 0;
    padding-left: 0;
    text-transform: uppercase;
  }

  p {
    @include rem(font-size, 13px);
    font-weight: $light;
    margin-left: 0;
    padding: 0;
  }

  fieldset.left {
    @include breakpoint(tablet) {
      @include rem(line-height, 30px);
      margin: 0;

      strong {
        @include rem(padding-bottom, 15px);
      }

      div {
        @include rem(padding-right, 45px);
        float: left;
      }
    }

    @include breakpoint(desktop) {
      float: left;
      width: 75%;
    }

    .undergraduate {
      color: lighten($green, 30%);

      input[type="checkbox"] + label {
        background-color: lighten($green, 30%);
        border-color: darken($green, 10%);

        &::after {
          border-color: darken($green, 20%);
        }
      }
    }

    .certificates_diplomas {
      color: $bronze;

      input[type="checkbox"] + label {
        background-color: $bronze;
        border-color: darken($bronze, 20%);

        &::after {
          border-color: darken($bronze, 40%);
        }
      }
    }

    .coursework,
    .research {
      color: $lightestblue;

      input[type="checkbox"] + label {
        background-color: l$lightestblue;
        border-color: darken($lightestblue, 20%);

        &::after {
          border-color: darken($lightestblue, 30%);
        }
      }
    }

    .phd {
      color: lighten($lightblue, 10%);

      input[type="checkbox"] + label {
        background-color: lighten($lightblue, 10%);
        border-color: darken($lightblue, 10%);

        &::after {
          border-color: darken($lightblue, 20%);
        }
      }
    }
  }

  fieldset.right {
    @include rem(padding-top, 15px);

    div {
      float: none;

      select {
        width: 100%;
      }
    }

    @include breakpoint(desktop) {
      float: right;
      margin: 0;
      padding-top: 0;
      width: 25%;

      strong {
        @include rem(padding-bottom, 15px);
      }
    }
  }
}

[role="main"] .course-grid {
  @extend %clearfix;
  left: 0;
  margin: 0 3%;
  padding-left: 0;

  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
          transition-property: height, width;
  -webkit-transition-duration: 0.4s;
     -moz-transition-duration: 0.4s;
          transition-duration: 0.4s;

  @include breakpoint(desktop) {
    margin: 0;
  }

  li {
    @include rem(font-size, 14px);
    @include rem(height, 110px);
    @include rem(margin, 2px 2px 4px 2px);
    list-style-type: none;
    opacity: 1;
    padding: 0;
    width: 100%;

    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -ms-transition-duration: 0.4s;
    transition-duration: 0.4s;

     -webkit-transition-property: opacity;
     -ms-transition-property: opacity;
     -moz-transition-property: opacity;
    transition-property: opacity;


    @include breakpoint($w-sml) {
      float: left;
      margin: 0;
      width: 48%;
    }

    @include breakpoint($w-mid) {
      margin: 0;
      width: 31.333%;
    }

    @include breakpoint(1100px) {
      margin: 0;
      width: 24%;
    }

    &.certificates_diplomas a {
      background-color: $bronze;
    }

    &.coursework a,
    &.research a {
      background-color: $lightestblue;
    }

    &.phd a {
      background-color: $lightblue;
    }

  }

  a {
    @include rem(padding, 10px);
    background-color: $palegreen;
    border: 2px solid $lightgray;
    color: $darkgray;
    display: block;
    font-weight: $light;
    height: 100%;
    margin: 0;
    min-width: 100%;
    max-width: 100%;
    text-decoration: none;
    width: 100%;

    @include breakpoint(desktop) {
      @include rem(max-width, 180px);
    }
  }

  strong {
    @include rem(font-size, 16px);
    display: block;
    line-height: 1.2;
  }
}

.tabbed-course {
  @extend .tabbed-nav;
  @extend .black;
  @extend .thin;

  .tab {
    @extend %clearfix;
    background-color: $white;
    max-width: 1200px;
  }

  .half {
    background-color: $lightgray;
  }

  aside h2.subtitle {
    @include rem(padding-bottom, 5px);
  }
}

.course-progression {
  @include rem(margin-bottom, 30px);
  border-collapse: collapse;
  width: 100%;

  th {
    @extend .subtitle;
    @include rem(font-size, 14px);
    @include rem(padding, 30px 0 10px);
    border-bottom: 1px solid $lightergray;
    padding-left: 3%;
    padding-right: 3%;
    text-align: left;

    @include breakpoint(tablet) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  td {
    @include rem(font-size, 14px);
    @include rem(padding-bottom, 10px);
    @include rem(padding-top, 10px);
    border-bottom: 1px solid $lightergray;
    padding-left: 3%;
    padding-right: 3%;

    @include breakpoint(tablet) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .accordion__title:hover {
    text-decoration: underline;
  }

  .accordion__close {
    @include rem(height, 50px);
    @include rem(width, 50px);
    color: $white;
    cursor: pointer;
    display: block;
    position: absolute;
    right: 0;
    text-decoration: none;
    top: 0;

    &::after {
      @include rem(font-size, 60px);
      content: '\00d7';
      font-weight: $thin;
      line-height: 1;
    }
  }

  tr {
    td:first-child + td,
    th:first-child + th {
      text-align: right;
    }

    td.unit-description {
      @include rem(padding, 15px 0);
      background-color: $navy;
      color: $white;
      position: relative;
      text-align: left;

      @include breakpoint(tablet) {
        @include rem(padding-left, 15px);
        @include rem(padding-right, 15px);
      }

      &::before {
        border: solid transparent;
        border-bottom-color: $navy;
        border-width: 10px;
        bottom: 100%;
        content: ' ';
        height: 0;
        left: 0;
        margin-left: 20px;
        margin-top: 0;
        pointer-events: none;
        position: absolute;
        width: 0;
      }

      h2 {
        @extend .subtitle;
        @include rem(padding-right, 60px);
        padding-left: 3%;

        @include breakpoint(tablet) {
          @include rem(padding-left, 15px);
        }
      }

      p {
        @include rem(font-size, 16px);
        padding-left: 3%;
        padding-right: 3%;

        @include breakpoint(tablet) {
          @include rem(padding-left, 15px);
          @include rem(padding-right, 15px);
        }
      }

      hr {
        @include rem(margin, 15px);
        border-color: rgba($white, .2);
        margin-left: 3%;
        margin-right: 3%;

        @include breakpoint(tablet) {
          @include rem(margin, 15px);
        }
      }

      .col1_3 {
        @include rem(padding, 15px);
        clear: none;

        @include breakpoint(tablet) {
          float: left;
          width: 33%;
        }

        a {
          color: $white;
        }

        strong {
          color: rgba($white, .4);
          display: block;
        }
      }
    }
  }

  thead th:first-child + th {
    border-color: $black;
    text-align: left;
  }
}

.course-application-checklist {
  margin-left: 0;

  li {
    @include rem(padding, 30px 0 30px 45px);
    @include rem(text-indent, -45px);
    border-top: 1px solid $lightergray;
    list-style-type: none;

    &:first-child {
      border-top: 0 none;
    }

    &.on {
      color: $green;
      text-decoration: line-through;
    }

    @include breakpoint(desktop) {
      @include rem(padding, 15px 15px 15px 60px);
    }
  }
}
