[role="main"] .detail {
  @extend %wrapper;

  aside {
    @include rem(padding, 30px);
    display: block;
    float: left;
    width: 100%;

    .when {
      padding: 0;
      text-align: center;

      @include breakpoint(desktop) {
        text-align: right;
      }

      time {
        line-height: 1.4;
        position: relative;

        &:first-child::after {
          @include rem(margin, 5px 10px);
          @include rem(width, 10px);
          border-bottom: 2px solid $black;
          content: ' ';
          display: inline-block;
        }

        @include breakpoint(desktop) {
          display: block;

          &:first-child {
            @include rem(margin-bottom, 30px);
            @include rem(padding-bottom, 30px);
            position: relative;
          }

          &:first-child::after {
            @include rem(padding-top, 30px);
            @include rem(width, 20px);
            border-bottom: 4px solid $black;
            display: block;
            position: absolute;
            right: 0;
          }
        }
      }

      strong {
        @include rem(font-size, 16px);
        @include rem(padding, 0 5px 10px);
        font-weight: $regular;
        vertical-align: baseline;

        @include breakpoint(desktop) {
          @include rem(font-size, 40px);
          @include rem(padding, 0 0 10px);
          display: block;
          font-weight: $bold;
        }
      }
    }

    @include breakpoint(desktop) {
      @include rem(width, 300px);
    }

    div {
      @include rem(padding, 30px 0 30px);
      border-top: 1px solid $black;
      text-align: center;

      @include breakpoint(desktop) {
        @include rem(padding-left, 60px);
        text-align: right;
      }
    }

    p {
      padding: 0;
    }
  }

  .upper {
    @include breakpoint(desktop) {
      @include rem(margin-left, 300px);
    }

    aside {
      padding-top: 0;

      @include breakpoint(desktop) {
        @include rem(margin-left, -300px);
      }
    }

    h2 {
      text-align: center;

      &::after {
        display: none;
      }

      @include breakpoint(desktop) {
        margin-left: 0;
        text-align: left;
        width: auto;
      }
    }

    div {
      border-top: 0 none;
    }
  }

  .lower {
    h2,
    p,
    hr {
      @include breakpoint(desktop) {
        @include rem(margin-left, 300px);
        width: auto;
      }
    }

    aside p {
      margin-left: auto;
    }

    h2 {
      @include rem(font-size, 27.5px);
      clear: none;
      font-weight: $light;
      letter-spacing: 0;
      text-align: left;
      text-transform: none;

      @include breakpoint(desktop) {
        @include rem(font-size, 29.1px);
      }

      &::after {
        display: none;
      }
    }
  }

}
