@mixin translateX($d) {
  -webkit-transform: translate3d($d, 0, 0);
  -moz-transform: translate3d($d, 0, 0);
  -ms-transform: translate3d($d, 0, 0);
  transform: translate3d($d, 0, 0);
  -webkit-transition: -webkit-transform .3s ease;
  -moz-transition: -moz-transform .3s ease;
  -ms-transition: -ms-transform .3s ease;
  transition: transform .3s ease;
}

@mixin appearance($a) {
  -webkit-appearance: $a;
  -moz-appearance: $a;
  -ms-appearance: $a;
  appearance: $a;
}

$black:        #000 !default;
$darkgray:     #333;
$midgray:      #666;
$gray:         #adb8c1;
$lightgray:    #f6f6f6;
$lightergray:  #e0e0e0;
$white:        #fff !default;

$navy:         #0c304a;
$blue:         #304e64;
$darkblue:     #004576;
$borderblue:   #7399b7;
$midblue:      #366996;
$lightblue:    #82a1bd;
$lighterblue:  #359aec;
$paleblue:     #f2f5f8;
$lightestblue: #e1eaf5;

$paleyellow:   #fffbe4;
$palegreen:    #d2f1cf;
$salmon:       #ea4f62;
$bronze:       #e5e1dc;

$cyan:         #0084ee;
$green:        #3fc76e;
$cherry:       #df0620;
$beccapurple:  #663399;

// Vars
$warning:      $cherry;
$cta:          $green;
$highlight:    $lighterblue;
$brand:        $darkblue;
$base:         $darkgray;
$soft:         $lightergray;

// Layout widths
$w-sml:        700px;
$w-mid:        900px;
$w-lge:        1400px;

%wrapper {
  @include rem(max-width, $w-lge);
  @include rem(padding, 15px);
  margin: 0 auto;
}

%grad-bottom {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .9) 100%); // /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, .9))); // /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .9) 100%); // /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .9) 100%); // /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .9) 100%); // /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .9) 100%); // /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#cc000000', GradientType=0); // /* IE6-9 */
}

%grad-top {
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .9) 100%); // /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(255%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, .9))); // /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .9) 100%); // // /* Chrome1255+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .9) 100%); // /* Opera 11.1255+ */
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .9) 100%); // /* IE1255+ */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .9) 100%); // /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#FFFFFF', GradientType=0); // /* IE6-9 */
}

%grad-left {
  background: -moz-linear-gradient(right, rgba($cyan, 0) 66%, rgba($cyan, .9) 100%); // /* FF3.6+ */
  background: -webkit-gradient(linear, right top, left bottom, color-stop(66%, rgba($cyan, 0)), color-stop(100%, rgba($cyan, .9))); // /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(right, rgba($cyan, 0) 66%, rgba($cyan, .9) 100%); // /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(right, rgba($cyan, 0) 66%, rgba($cyan, .9) 100%); // /* Opera 11.10+ */
  background: -ms-linear-gradient(right, rgba($cyan, 0) 66%, rgba($cyan, .9) 100%); // /* IE10+ */
  background: linear-gradient(to left, rgba($cyan, 0) 66%, rgba($cyan, .9) 100%); // /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#cc000000', GradientType=1); // /* IE6-9 */
}

%background-size-polyfill {
  -ms-behavior: url("#{asset_path('backgroundsize.min.htc')}");
  behavior: url("#{asset_path('backgroundsize.min.htc')}");
}
