[role="main"] {
  figure.full-width {
    text-align: center;
  }

  figure.framed img {
    @include breakpoint(tablet) {
      box-shadow: 0 3px 6px -1px rgba($black, .2);
      display: inline-block;
      max-height: 90%;
    }
  }

  .inset-left {
    @include rem(margin-top, 6px);
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    padding: 0;
    text-align: center;

    figcaption {
      @include rem(font-size, 14px);
      @include rem(padding-bottom, 15px);
      font-style: italic;
      line-height: 1.2;
      text-align: center;
    }

    img {
      @include rem(max-height, 500px);
    }

    @include breakpoint(tablet) {
      @include rem(margin-bottom, 30px);
      @include rem(padding-right, 60px);
      border: 0 none;
      float: left;
      max-width: 40%;
      text-align: left;

      figcaption {
        @include rem(margin-top, 15px);
        @include rem(padding-top, 15px);
        color: $lighterblue;
        position: relative;
        text-align: left;

        &:before {
          @include rem(width, 40px);
          border-bottom: 2px solid $lighterblue;
          content: '';
          display: block;
          left: 2px;
          position: absolute;
          top: 0;
        }

        &::before {
          @include rem(width, 40px);
          border-bottom: 2px solid $lighterblue;
          content: '';
          display: block;
          left: 2px;
          position: absolute;
          top: 0;
        }
      }
    }

    @include breakpoint(wide) {
      @include rem(margin-bottom, 20px);
      @include rem(margin-left, -180px);
      max-width: 80%;
    }
  }

  .inset-right {
    @extend .inset-left;

    @include breakpoint(tablet) {
      @include rem(padding-left, 60px);
      float: right;
      margin-right: 0;
      text-align: right;

      figcaption {
        text-align: right;

        &:before {
          left: auto;
          right: -2px;
        }

        &::before {
          left: auto;
          right: -2px;
        }
      }
    }

    @include breakpoint(wide) {
      @include rem(margin-right, -180px);
      margin-left: 0;
    }
  }


  .diamond-mask {
    @include transform(rotate(45deg) scale(.7));
    border: 1px solid $black;
    display: inline-block;
    margin: 0;
    overflow: hidden;
    padding: 0;

    img {
      @include transform(rotate(-45deg) scale(1.41));
      display: block;
      margin: 0;
      max-width: none;
      padding: 0;
    }
  }
}
