[role="main"] .timetable {
  background-color: $white;

  @include breakpoint(desktop) {
    background-image: url("#{asset_path('components/globals/with-aside-r-bg-b.png')}");
    background-position-x: 63.333%;

    &.left {
      background-image: url("#{asset_path('components/globals/with-aside-bg-b.png')}");
    }
  }

  .bside {
    @include rem(padding, 0 15px);
    padding-left: 3%;

    @include breakpoint(desktop) {
      @include rem(padding-right, 60px);
    }

    @include breakpoint(1455px) {
      padding-left: 0;
    }
  }

  aside {
    background-color: $paleblue;

    h2 {
      margin-left: 0;
    }

    @include breakpoint(desktop) {
      background-color: transparent;
    }
  }

  .accessibility {
    display: block;
    float: left;
    height: 0;
    text-indent: -999em;
    width: 0;
  }

  .time {
    @include rem(min-width, 65px);
    color: $black;
    display: inline-block;
    font-style: italic;
  }

  .duration {
    color: $midgray;
    display: inline-block;
  }

  h1 {
    @include rem(padding-top, 60px);
    margin-left: 0;
    max-width: 100%;
  }

  p {
    margin-left: 0;
  }

  table {
    @include rem(margin-bottom, 60px);
    border-bottom: 1px solid $lightergray;
    border-collapse: collapse;
    max-width: 100%;
    width: 100%;

    @include breakpoint(desktop) {
      @include rem(margin-top, 60px);
      border-bottom: 0 none;
      width: auto;
    }

    .accordion__title:hover {
      text-decoration: underline;
    }

    .accordion__close {
      @include rem(height, 50px);
      @include rem(width, 50px);
      color: $white;
      cursor: pointer;
      display: block;
      position: absolute;
      right: 0;
      text-decoration: none;
      top: 0;

      &::after {
        @include rem(font-size, 60px);
        content: '\00d7';
        font-weight: $thin;
        line-height: 1;
      }
    }

    tbody > tr:first-child > th {
      border-top: 0 none;
    }

    tr {
      border-bottom: 1px solid $lightergray;
      clear: both;
      display: block;

      @include breakpoint(desktop) {
        border-bottom: 0 none;
        display: table-row;
      }

      th {
        @extend .subtitle;
        @include rem(font-size, 14px);
        @include rem(padding, 30px 0 10px);
        border-top: 1px solid $lightergray;
        clear: both;
        display: block;
        letter-spacing: 1px;
        max-width: 100%;
        text-align: left;
        vertical-align: top;

        @include breakpoint(desktop) {
          @include rem(padding, 10px 10px 10px 0);
          border-bottom: 1px solid $lightergray;
          border-right: 1px solid $lightergray;
          border-top: 0 none;
          display: table-cell;
          max-width: 25%;
        }
      }

      td {
        @include rem(font-size, 14px);
        @include rem(padding-top, 5px);
        border-right: 1px solid $lightergray;
        display: block;
        float: left;
        width: 80%;
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;
        text-align: left;
        vertical-align: top;

        @include breakpoint(desktop) {
          @include rem(padding, 10px);
          border-bottom: 1px solid $lightergray;
          border-right: 0 none;
          display: table-cell;
          float: none;
          width: auto;
        }
      }

      th + td,
      tr > td {
        white-space: nowrap;
      }

      td.informative {
        @include rem(padding-bottom, 10px);
        @include rem(padding-right, 10px);
        display: block;
        max-width: 100%;
        white-space: normal;

        @include breakpoint(desktop) {
          display: table-cell;
          max-width: 25%;
        }
      }

      td.action {
        border-right: 0 none;
        display: block;
        float: left;
        padding-bottom: 12px;
        text-align: center;
        max-width: 20%;

        @include breakpoint(desktop) {
          border-bottom: 1px solid $lightergray;
          border-left: 1px solid $lightergray;
          display: table-cell;
          float: none;
          max-width: auto;
        }

        a {
          @include rem(font-size, 24px);
          @include rem(padding, 5px);
          @include rem(width, 20px);
          display: block;
          font-weight: $bold;
          line-height: 1;
          margin: -.75em auto 0;
          text-decoration: none;

          @include breakpoint(desktop) {
            display: inline;
            margin: 0;
            width: auto;
          }
        }
      }
    }

    //   td.unit-description {
    //     @include rem(padding, 15px 0);
    //     background-color: $navy;
    //     color: $white;
    //     position: relative;
    //     text-align: left;

    //     @include breakpoint(desktop) {
    //       @include rem(padding-left, 15px);
    //       @include rem(padding-right, 15px);
    //     }

    //     &::before {
    //       border: solid transparent;
    //       border-bottom-color: $navy;
    //       border-width: 10px;
    //       bottom: 100%;
    //       content: ' ';
    //       height: 0;
    //       left: 0;
    //       margin-left: 20px;
    //       margin-top: 0;
    //       pointer-events: none;
    //       position: absolute;
    //       width: 0;
    //     }

    //     h2 {
    //       @extend .subtitle;
    //       @include rem(padding-right, 60px);
    //       padding-left: 3%;

    //       @include breakpoint(desktop) {
    //         @include rem(padding-left, 15px);
    //       }
    //     }

    //     p {
    //       @include rem(font-size, 16px);
    //       padding-left: 3%;
    //       padding-right: 3%;

    //       @include breakpoint(desktop) {
    //         @include rem(padding-left, 15px);
    //         @include rem(padding-right, 15px);
    //       }
    //     }

    //     hr {
    //       @include rem(margin, 15px);
    //       border-color: rgba($white, .2);
    //       margin-left: 3%;
    //       margin-right: 3%;

    //       @include breakpoint(desktop) {
    //         @include rem(margin, 15px);
    //       }
    //     }

    //     .col1_3 {
    //       @include rem(padding, 15px);
    //       clear: none;

    //       @include breakpoint(desktop) {
    //         float: left;
    //         width: 33%;
    //       }

    //       a {
    //         color: $white;
    //       }

    //       strong {
    //         color: rgba($white, .4);
    //         display: block;
    //       }
    //     }
    //   }

    //   &:last-child td,
    //   &:last-child th {
    //     border-bottom: 0;
    //   }
    // }

    // thead th:first-child + th {
    //   border-color: $black;
    //   text-align: left;
    // }

  }
}
