[role="main"] .vca {
  padding-bottom: 0;

  .selector-listing-3 {
    li {
      background-color: transparent;
      color: $black;
    }

    strong,
    span,
    p {
      border-color: $black;
      color: $black;
    }

    a {
      background-color: $white;
      color: $black;

      &:hover .button-small {
        background-color: $black;
        color: $white;
      }
    }

    .button-small {
      background-color: $white;
      border: 2px solid $black;
    }

    &.inverse {
      strong,
      span,
      p {
        border-color: $white;
        color: $white;
      }

      a {
        background-color: rgba($black, .85);
        color: $white;

        &:hover .button-small {
          background-color: $white;
          color: $black;
        }
      }

      .button-small {
        background-color: $black;
        border-color: $white;
      }
    }
  }

  section.lead::after {
    border-color: $black;
  }

  .inset-left figcaption,
  .inset-right figcaption {
    color: $black;
  }

  .inset-left figcaption::before,
  .inset-right figcaption::before {
    border-color: $black;
  }

  ul.ticked-list li::before {
    border-color: $black;
  }
}

.vca .page-header .page-header-logo {
  background-image: url("#{asset_path('components/globals/vca/logo-vca.png')}");

  @include breakpoint(0) {
    background-image: url("#{asset_path('components/globals/vca/logo-vca.svg')}");
  }
}

.vca .page-header header {
  a.page-header-logo {
    @include rem(width, 142px);
    background-color: $black;
    background-image: url("#{asset_path('components/globals/vca/logo-vca.png')}");
    margin-left: 0;

    @include breakpoint(0) {
      background-image: url("#{asset_path('components/globals/vca/logo-vca.svg')}");
    }

    @include breakpoint(desktop) {
      @include rem(height, 90px);
      @include rem(width, 212px);
    }
  }

  .page-header-navigation {
    a,
    span {
      color: $black;
    }

    @include breakpoint(desktop) {
      @include rem(margin-left, 235px);
    }
  }
}

.vca .page-header-tools .page-header-icon {
  color: $black;

  .search {
    background-image: url('#{asset_path('components/globals/vca/icon-s-b.png')}');
  }

  .login {
    background-image: url('#{asset_path('components/globals/vca/icon-p-b.png')}');
  }

  .menu {
    background-image: url('#{asset_path('components/globals/vca/menu-b.png')}');
  }
}

.vca .course-progression tr {
  td.unit-description {
    background-color: $black;

    &:before {
      border-bottom-color: $black;
    }

    &::before {
      border-bottom-color: $black;
    }
  }
}

// IE 8 + 9 compatibility
.ie9 {
  .vca .page-header header a.page-header-logo,
  .vca .page-header .page-header-logo {
    background-image: url("#{asset_path('components/ie/logo-vca.png')}");
    background-size: cover;
  }

  .vca .page-header .page-header-tools a.page-header-icon {
    .search {
      background-image: url("#{asset_path('components/ie/icon-s-b.png')}");
    }

    .login {
      background-image: url("#{asset_path('components/ie/icon-p-b.png')}");
    }

    span.menu {
      background-image: url("#{asset_path('components/ie/menu-b.png')}");
    }
  }

  .floating.vca .page-header .page-header-tools a.page-header-icon {
    .search {
      background-image: url("#{asset_path('components/ie/icon-s-w.png')}");
    }

    .login {
      background-image: url("#{asset_path('components/ie/icon-p-w.png')}");
    }

    span.menu {
      background-image: url("#{asset_path('components/ie/menu-w.png')}");
    }
  }
}

.ie {
  .vca .page-header header a.page-header-logo,
  .vca .page-header .page-header-logo {
    background-image: url("#{asset_path('components/ie/s-logo-vca.png')}");
  }

  .vca ul.ticked-list li:before {
    color: #000;
  }

  .vca .page-header .page-header-tools a.page-header-icon {
    .search {
      background-image: url("#{asset_path('components/ie/s-icon-s-b.png')}");
    }

    .login {
      background-image: url("#{asset_path('components/ie/s-icon-p-b.png')}");
    }

    span.menu {
      background-image: url("#{asset_path('components/ie/s-menu-b.png')}");
    }
  }

  .floating.vca .page-header .page-header-tools a.page-header-icon {
    .search {
      background-image: url("#{asset_path('components/ie/s-icon-s-w.png')}");
    }

    .login {
      background-image: url("#{asset_path('components/ie/s-icon-p-w.png')}");
    }

    span.menu {
      background-image: url("#{asset_path('components/ie/s-menu-w.png')}");
    }
  }
}
