[role="main"] .vca {
  padding-bottom: 0;

  .selector-listing-3 {
    li {
      background-color: transparent;
      color: $black;
    }
    strong,
    span,
    p {
      border-color: $black;
      color: $black;
    }
    a {
      background-color: $white;
      color: $black;
      &:hover .button-small {
        background-color: $black;
        color: $white;
      }
    }
    .button-small {
      background-color: $white;
      border: 2px solid $black;
    }
    &.inverse {
      strong,
      span,
      p {
        border-color: $white;
        color: $white;
      }
      a {
        background-color: rgba($black, 0.85);
        color: $white;
        &:hover .button-small {
          background-color: $white;
          color: $black;
        }
      }
      .button-small {
        background-color: $black;
        border-color: $white;
      }
    }
  }

  section.lead::after {
    border-color: $black;
  }

  .inset-left figcaption,
  .inset-right figcaption {
    color: $black;
  }

  .inset-left figcaption::before,
  .inset-right figcaption::before {
    border-color: $black;
  }

  ul.ticked-list li::before {
    border-color: $black;
  }
}

.vca .page-header .page-header-logo {
  background-image: url("#{asset_path('components/globals/vca/logo-vca.png')}");
  @include breakpoint(0) {
    background-image: url("#{asset_path('components/globals/vca/logo-vca.svg')}");
  }
}

.vca .page-header header {
  a.page-header-logo {
    @include rem(width, 142px);
    background-color: $black;
    background-image: url("#{asset_path('components/globals/vca/logo-vca.png')}");
    @include breakpoint(0) {
      background-image: url("#{asset_path('components/globals/vca/logo-vca.svg')}");
    }
    @include breakpoint(desktop) {
      @include rem(height, 90px);
      @include rem(width, 212px);
    }
    margin-left: 0;
  }
  .page-header-navigation {
    @include breakpoint(desktop) {
      @include rem(margin-left, 235px);
    }
    a,
    span {
      color: $black;
    }
  }
  .page-header-tools .page-header-icon {
    color: $black;
    span.menu {
      background-image: url("#{asset_path('components/globals/vca/menu-b.png')}");
      @include breakpoint(0) {
        background-image: url("#{asset_path('components/globals/vca/menu-b.svg')}");
      }
    }
  }

}
