[role="main"] .vca {
  padding-bottom: 0;

  .selector-listing {
    @include rem(margin-top, 60px);
    li {
      @include rem(margin-bottom, 30px);
      @include rem(margin-top, 30px);
      background-color: transparent;
      color: $black;
    }
    strong,
    span,
    p {
      border-color: $black;
      color: $black;
    }
    a {
      background-color: $white;
      color: $black;
    }
    a {
      @include rem(min-height, 360px);
      &:hover .button-small {
        background-color: $black;
        color: $white;
      }
    }
    .button-small {
      background-color: $white;
      border: 2px solid $black;
    }
    &.inverse {
      strong,
      span,
      p {
        border-color: $white;
        color: $white;
      }
      a {
        background-color: rgba($black, 0.85);
        color: $white;
        &:hover .button-small {
          background-color: $white;
          color: $black;
        }
      }
      .button-small {
        background-color: $black;
        border-color: $white;
      }
    }
  }

  footer.cta {
    @include rem(padding-top, 30px);
    background-color: $black;
    color: $white;
    .overview {
      @include rem(padding, 30px 0 0);
    }
    .button-outline-inverse {
      @include rem(margin-left, 30px);
      @include rem(padding-bottom, 10px);
      @include rem(padding-top, 10px);
      &::after {
        @include rem(top, -4px);
      }
    }
  }

  .quarter {
    border-bottom: 1px solid $white;
    margin-left: 0;
    width: 100%;
    a {
      color: $white;
    }
    img {
      @include rem(margin-right, 10px);
      @include rem(max-width, 24px);
      vertical-align: middle;
    }
    @include breakpoint(desktop) {
      @include rem(padding, 30px 0 90px);
    }
  }
}

.page-header header.vca {
  a.page-header-logo {
    @include rem(width, 142px);
    @include breakpoint(desktop) {
      @include rem(height, 90px);
      @include rem(width, 212px);
    }
    margin-left: 0;
  }
  .page-header-navigation {
    @include breakpoint(desktop) {
      @include rem(margin-left, 235px);
    }
    a,
    span {
      color: $black;
    }
  }
  .page-header-tools .page-header-icon {
    color: $black;
  }
}
