#jump-navigation {
  background: $lightgray;
  color: $gray;
  list-style-position: inside;
  margin: 0;
  padding: 15px;

  // MAGIC FAIRY DUST
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);

  li {
    color: $gray;
    font-size: 14px;
    font-weight: $regular;
    list-style-type: none;
    white-space: nowrap;
    &:first-child {
      border-bottom: 1px solid $lightergray;
      letter-spacing: 1px;
      margin-bottom: 10px;
      text-transform: uppercase;
      a::before {
        content: '';
        padding-right: 0;
      }
    }
  }
  a {
    color: $gray;
    text-decoration: none;
    &::before {
      content: '\25cf';
      padding-right: 5px;
    }
    &:hover {
      color: $highlight;
    }
  }
  &.jump-fixed {
    left: 0;
    position: fixed;
    top: 0;
    z-index: 10;
    a.current {
      color: $highlight;
    }
  }
}
