.uomcontent {

  .page-inner .page-announcement {
    display: none;
  }

  .page-announcement {
    color: #fff;
    position: relative;
    opacity: 1;
    transition: max-height .2s ease;

    &--dismissed {
      max-height: 0 !important; /* Override inline style */
    }

    &__message {
      padding: 1.25rem 3.125rem 1.25rem .9375rem;
      background-color: var(--col-lighterblue);
      color: #fff;
      display: block;
      text-align: left;
      text-decoration: none;

      &:hover {
        background-color: var(--col-darkblue);
        color: #fff;
      }

      h2 {
        font-size: .8125rem;
        line-height: 1.5rem;
        padding-bottom: .1875rem;
        color: var(--col-lightestblue);
        font-weight: normal;
        letter-spacing: normal;
        margin: 0;
        padding-top: 0;
        text-transform: uppercase;
      }

      p {
        font-size: 1.125rem;
        line-height: 1.5rem;
        margin: 0;
        padding: 0;

        &.with-arrow::after {
          font-size: 1.25rem;
          padding-left: .625rem;
          content: '\2192';
          line-height: 0;
        }

        strong {
          margin-right: .625rem;
        }
      }

      @media screen and (--bp-tablet) {
        padding: 1.25rem 5.625rem;
        text-align: center;

        h2,
        p {
          margin: 0 auto;
        }
      }
    }

    &__close {
      border-radius: 3px;
      font-size: .8125rem;
      margin-top: -calc((.625rem * 2 + 1.5rem) / 2);
      padding: .625rem;
      right: .9375rem;
      transition: background-color .15s, color .15s;
      background: none;
      border: none;
      color: #fff;
      cursor: pointer;
      overflow: hidden;
      position: absolute;
      top: 50%;

      &:hover {
        background-color: #fff;
        color: var(--col-lighterblue);
      }

      & > [data-icon="close"] {
        height: 1.5rem;
        width: 1.5rem;

        .icon-label {
          @mixin screenreaders-only;
        }
      }

      @media screen and (--bp-tablet) {
        right: 1.875rem;
      }
    }
  }

}
