.uomcontent {

  .page-inner .page-announcement {
    display: none;
  }

  .page-announcement {
    color: var(--col-white);
    position: relative;
    opacity: 1;
    transition: max-height .2s ease;

    &--dismissed {
      max-height: 0 !important; /* Override inline style */
    }

    &__message {
      padding: pxtorem(20) 3.125rem pxtorem(20) pxtorem(15);
      background-color: var(--col-blue-mid-2);
      color: var(--col-white);
      display: block;
      text-align: left;
      text-decoration: none;

      &:hover {
        background-color: var(--col-navy-main);
        color: var(--col-white);
      }

      h2 {
        font-size: pxtorem(16);
        line-height: pxtorem(24);
        padding-bottom: pxtorem(3);
        color: var(--col-blue-light);
        font-family: var(--ff-sans);
        font-weight: var(--fw-semibold);
        letter-spacing: normal;
        margin: 0;
        padding-top: 0;
      }

      p {
        font-size: pxtorem(18);
        line-height: pxtorem(24);
        margin: 0;
        padding: 0;

        strong {
          margin-right: pxtorem(10);
        }
      }

      @media screen and (--bp-tablet) {
        padding: pxtorem(20) 5.625rem;
        text-align: center;

        h2,
        p {
          margin: 0 auto;
        }
      }
    }

    &__close {
      border-radius: 3px;
      font-size: .8125rem;
      margin-top: -calc((.625rem * 2 + pxtorem(24)) / 2);
      padding: pxtorem(10);
      right: pxtorem(15);
      transition: background-color .15s, color .15s;
      background: none;
      border: none;
      color: var(--col-white);
      cursor: pointer;
      overflow: hidden;
      position: absolute;
      top: 50%;

      &:hover {
        background-color: var(--col-white);
        color: var(--col-blue-mid-2);
      }

      & > [data-icon="close"] {
        height: pxtorem(24);
        width: pxtorem(24);

        .icon-label {
          @mixin screenreaders-only;
        }
      }

      @media screen and (--bp-tablet) {
        right: pxtorem(30);
      }
    }
  }

}
