p To disable a button, use attribute <code>disabled</code>. If the button is an anchor, like in the examples below, add <code>tabindex="-1"</code> to ensure that it cannot be focused with the keyboard (for accessibility purposes).
p: a.button href="#default-buttons" disabled=true tabindex="-1" Call to action
p: a.button-small href="#default-buttons" disabled=true tabindex="-1" Call to action
p: a.button-small.with-arrow href="#default-buttons" disabled=true tabindex="-1" Call to action
