p To disable a button implemented with an anchor element, use class <code>disabled</code> and attributes <code>aria-disabled="true"</code> and <code>tabindex="-1"</code>. To disable a button implemented with a <code>button</code> or <code>input</code> element, simply use the <code>disabled</code> attribute.
p: a.button-small.with-arrow.disabled href="#default-buttons" aria-disabled=true tabindex="-1" Disabled anchor button
p: button.button-small.with-arrow type="button" disabled=true Normal disabled button
