div style="background:url(/assets/example/repeating-lt.png) center repeat; text-align:center; padding:30px"
  a.button-hero Hero Button

div style="background:url(/assets/example/repeating-dk.png) center repeat; text-align:center; padding:30px"
  a.button-hero-inverse Inverse Button
