.uomcontent .filtered-listing-wrapper {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color: var(--col-navy);
}

.uomcontent .bottom-align-flat .filtered-listing-wrapper {
  background-color: transparent;
}

.uomcontent header .filtered-listing-wrapper {
  padding-bottom: 0;
  padding-top: 0;
}

@define-mixin filtered-listing-select {
  max-width: var(--w-lge);
  background-color: transparent;
  color: #fff;
  margin: 0 auto;
  overflow: hidden;

  @media screen and (--bp-desktop) {
    padding-left: 0;
    padding-right: 0;
  }

  strong {
    font-size: .9375rem;
    padding-bottom: .3125rem;
    display: block;
    font-weight: var(--fw-light);
  }

  h2 {
    font-size: 1.875rem;
    font-weight: var(--fw-thin);
    line-height: 1.2;
    margin-left: 0;
    padding-bottom: 0;
    padding-left: 0;
    text-transform: uppercase;
  }

  p {
    font-size: .8125rem;
    font-weight: var(--fw-light);
    margin-left: 0;
    padding: 0;
    text-align: left;
  }

  .left {
    @media screen and (--bp-tablet) {
      line-height: 1.875rem;
      margin: 0;

      legend,
      label {
        font-size: .9375rem;
        padding: 0 0 .9375rem;
        color: #fff;
        display: block;
      }
    }

    @media screen and (--bp-desktop) {
      padding-left: 1.875rem;
      padding-right: 1.875rem;
      float: left;
      width: 66.66%;
    }
  }

  .filtered-listing-tag {
    padding-right: 2.8125rem;
    float: left;

    input[type="checkbox"] {
      & + label {
        padding-left: .3125rem;
        padding-top: .3125rem;
        display: inline-block;
        width: auto;

        @media screen and (--bp-tablet) {
          padding: 0;
        }

        span {
          padding-left: 1.5625rem;
          display: inline-block;
          width: auto;

          &::before {
            background-color: currentColor;
            margin-left: 0;
            top: 5px;
          }
        }

        &::after {
          left: 3px;
          top: 9px;
        }
      }

      &[data-color="green"] + label {
        color: var(--col-palegreen);

        span::before {
          border-color: color(var(--col-green) lightness(-5%));
        }

        &::after {
          border-color: var(--col-green);
        }
      }

      &[data-color="bronze"] + label {
        color: var(--col-bronze);

        span::before {
          border-color: color(var(--col-bronze) lightness(-20%));
        }

        &::after {
          border-color: color(var(--col-bronze) lightness(-40%));
        }
      }

      &[data-color="silver"] + label {
        color: var(--col-lightestblue);

        span::before {
          background-color: color(var(--col-lightestblue) lightness(-5%));
          border-color: color(var(--col-lightestblue) lightness(-10%));
        }

        &::after {
          border-color: color(var(--col-lightestblue) lightness(-40%));
        }
      }

      &[data-color="blue"] + label {
        color: var(--col-lightblue);

        span::before {
          background-color: color(var(--col-lightblue) lightness(+10%));
          border-color: color(var(--col-lightblue) lightness(-10%));
        }

        &::after {
          border-color: color(var(--col-lightblue) lightness(-20%));
        }
      }

      &[data-color="yellow"] + label {
        color: var(--col-paleyellow);

        span::before {
          border-color: color(var(--col-paleyellow) lightness(-10%));
        }

        &::after {
          border-color: color(var(--col-paleyellow) lightness(-60%));
        }
      }
    }
  }

  .right {
    padding-top: 1.875rem;
    margin: 0;

    & > div {
      padding-top: .1875rem;

      select {
        width: 100%;

        option {
          background-color: var(--col-navy);
          color: #fff;
        }
      }
    }

    label {
      font-size: .9375rem;
      line-height: 1.875rem;
      padding-bottom: .9375rem;
      display: block;
      width: 100%;
    }

    @media screen and (--bp-desktop) {
      padding-right: 1.875rem;
      float: right;
      margin: 0;
      padding-top: 0;
      width: 33.33%;
    }
  }
}

.uomcontent .filtered-listing-select {
  @mixin filtered-listing-select;
}
