.uomcontent .filtered-listing-section {
  padding-bottom: 0;
  max-width: var(--w-lge);
  margin: 0 auto;

  &[hidden] + hr.spacer {
    display: none;
  }

  .aside {
    padding-bottom: 3rem;
    float: none;
    margin: 0 3%;
    vertical-align: top;
    width: 94%;

    p {
      padding-bottom: 0;
    }

    h2 {
      font-size: 1.375rem;
      line-height: 2.25rem;
      padding-top: 0;
      font-weight: var(--fw-light);
      letter-spacing: 0;
      text-align: left;
      text-transform: none;

      &::after {
        display: none;
      }
    }

    @media screen and (--bp-desktop) {
      padding-left: .9375rem;
      float: left;
      margin: 0;
      max-width: 30%;

      p {
        padding-bottom: 1.5rem;
      }
    }
  }

  .bside {
    @media screen and (--bp-desktop) {
      padding: .625rem 0 .625rem 1.875rem;
      float: right;
      width: 70%;
    }
  }
}

.uomcontent .filtered-listing-grid {
  @mixin clearfix;
  left: 0;
  margin: 0 3%;
  max-width: 100%;
  padding-left: 0;
  transition-property: height, width;
  transition-duration: 0.4s;

  @media screen and (--bp-desktop) {
    margin: 0;
    width: 100%;
  }

  .filtered-listing-item {
    font-size: .875rem;
    line-height: 1.5rem;
    height: 6.875rem;
    margin: .125rem .125rem .25rem .125rem;
    list-style-type: none;
    opacity: 1;
    padding: 0;
    width: 100%;
    transition-duration: 0.4s;
    transition-property: opacity;

    @media screen and (min-width: 700px) {
      float: left;
      margin: 0;
      padding-bottom: 4px;
      padding-right: 4px;
      width: 48%;
    }

    @media screen and (--bp-x-desktop) {
      margin: 0;
      width: 31.333%;
    }

    @media screen and (--bp-wide) {
      margin: 0;
      width: 24%;
    }

    &--green > a { background-color: var(--col-palegreen); }
    &--bronze > a { background-color: var(--col-bronze); }
    &--silver > a { background-color: var(--col-lightestblue); }
    &--blue > a { background-color: var(--col-lightblue); }
    &--yellow > a { background-color: var(--col-paleyellow); }
  }

  a {
    padding: .625rem;
    color: var(--col-darkgray);
    display: block;
    font-weight: var(--fw-light);
    height: 100%;
    margin: 0;
    min-width: 100%;
    max-width: 100%;
    text-decoration: none;
    width: 100%;

    &.inactive {
      opacity: 0.3;
    }

    &:hover {
      color: var(--col-darkgray);
    }

    @media screen and (--bp-desktop) {
      max-width: 11.25rem;
    }
  }

  strong {
    font-size: 1rem;
    line-height: 1.5rem;
    display: block;
    line-height: 1.2;
  }
}
