.uomcontent .filtered-listing-section {
  padding-bottom: 0;
  max-width: var(--w-lge);
  margin: 0 auto;

  &[hidden] + hr.spacer {
    display: none;
  }

  .aside {
    padding-bottom: pxtorem(48);
    float: none;
    margin: 0 3%;
    vertical-align: top;
    width: 94%;

    p {
      padding-bottom: 0;
    }

    h2 {
      font-size: pxtorem(22);
      line-height: pxtorem(36);
      font-weight: var(--fw-bold);
      padding-top: 0;
      letter-spacing: 0;
      text-align: left;
      text-transform: none;

      &::after {
        display: none;
      }
    }

    @media screen and (--bp-desktop) {
      padding-left: pxtorem(15);
      float: left;
      margin: 0;
      max-width: 30%;

      p {
        padding-bottom: pxtorem(24);
      }
    }
  }

  .bside {
    @media screen and (--bp-desktop) {
      padding: pxtorem(10) 0 pxtorem(10) pxtorem(30);
      float: right;
      width: 70%;
    }
  }
}

.uomcontent .filtered-listing-grid {
  @mixin clearfix;
  left: 0;
  margin: 0 3%;
  max-width: 100%;
  padding-left: 0;
  transition-property: height, width;
  transition-duration: 0.4s;

  @media screen and (--bp-desktop) {
    margin: 0;
    width: 100%;
  }

  .filtered-listing-item {
    font-size: pxtorem(14);
    line-height: pxtorem(24);
    height: pxtorem(110);
    margin: .125rem .125rem pxtorem(4) .125rem;
    list-style-type: none;
    opacity: 1;
    padding: 0;
    width: 100%;
    transition-duration: 0.4s;
    transition-property: opacity;

    @media screen and (min-width: 700px) {
      float: left;
      margin: 0;
      padding-bottom: 4px;
      padding-right: 4px;
      width: 48%;
    }

    @media screen and (--bp-x-desktop) {
      margin: 0;
      width: 31.333%;
    }

    @media screen and (--bp-wide) {
      margin: 0;
      width: 24%;
    }

    &--green > a {
      background-color: var(--col-green-light);
      color: var(--col-green-dark);
    }
    &--bronze > a {
      background-color: var(--col-pink-light);
      color: var(--col-pink-dark);
    }
    &--silver > a {
      background-color: var(--col-blue-light);
    }
    &--blue > a {
      background-color: var(--col-navy-light);
    }
    &--yellow > a {
      background-color: var(--col-yellow-light);
      color: var(--col-orange-dark);
    }
  }

  a {
    padding: pxtorem(10);
    color: var(--col-blue-dark);
    display: block;
    font-weight: var(--fw-light);
    height: 100%;
    margin: 0;
    min-width: 100%;
    max-width: 100%;
    text-decoration: none;
    width: 100%;

    &.inactive {
      opacity: 0.3;
    }

    &:hover {
      color: var(--col-blue-dark);
    }

    @media screen and (--bp-desktop) {
      max-width: pxtorem(180);
    }
  }

  strong {
    font-size: pxtorem(16);
    line-height: pxtorem(24);
    display: block;
    line-height: 1.2;
  }
}
