$filtered-listing-green: var(--col-palegreen);
$filtered-listing-bronze: var(--col-bronze);
$filtered-listing-silver: var(--col-lightestblue);
$filtered-listing-blue: var(--col-lightblue);
$filtered-listing-yellow: var(--col-paleyellow);

@import 'filters';
@import 'listing';
