p The smooth scroll function used by the in-page navigation, <code>smoothScrollTo</code>, can be invoked independently in your own project:

pre: code.javascript
  ==convert_tags
    erb:
      var el = document.querySelector('#block'); // where #block is an element with id="block"
      window.smoothScrollTo(el);

p <a href="javascript:smoothScrollTo(document.getElementById('overview'))" class="button-small">Try it out!</a>

p <code>smoothScrollTo</code> accepts an optional <strong>callback</strong> function as second argument. This callback is invoked as soon as the scrolling animation ends. It is generally a good idea to avoid performing other actions, like loading a script or manipulating the DOM, while a scrolling animation is in progress. Doing so could deteriorate the smoothness of the animation.

pre: code.javascript
  ==convert_tags
    erb:
      window.smoothScrollTo(el, doSomething);

      function doSomething() {
        // Do something as soon as the scrolling ends - e.g. give focus to the element, load more content, etc.
      }
