@mixin jump {
  color: $gray;
  list-style-position: inside;
  margin: 0 auto;
  padding: 35px 0 30px;
  width: 94%;

  li {
    color: $midgray;
    display: inline-block;
    font-size: 14px;
    font-weight: $regular;
    list-style-type: none;
    margin-bottom: 0;
    margin-left: 0;
    padding-bottom: 0;
    vertical-align: top;
    white-space: normal;
    width: 50%;

    &:first-child {
      @include rem(padding-bottom, 7px);
      @include rem(margin-bottom, 7px);
      border-bottom: 1px solid $lightergray;
      letter-spacing: 1px;
      text-transform: uppercase;
      width: 100%;

      a::before {
        content: '';
        padding-right: 0;
      }
    }
  }

  a {
    @include rem(padding-bottom, 7px);
    @include rem(padding-top, 7px);
    display: block;
    font-weight: $light;
    text-decoration: none;
    white-space: normal;

    &:hover {
      text-decoration: underline;
    }
  }

  &.fixed {
    font-family: $ff-sans;
  }
}

.uomcontent [role="main"] .jump-navigation {
  @include jump;
  @include rem(padding-top, 35px);

  @include breakpoint(desktop) {
    @include rem(padding-top, 80px);
  }

  @include breakpoint(wide) {
    @include rem(padding-top, 35px);
  }
}

body.jumpnav-active {
  .uomcontent #outer {
    @include jump;

    @supports (column-span: all) {
      columns: 2;

      li {
        width: 100%;

        &:first-child {
          column-span: all;
          display: block;
        }
      }

      @include breakpoint(wide) {
        columns: auto;
      }
    }

    @include breakpoint(desktop) {
      @include rem(padding-top, 80px);

      li:first-child {
        margin-bottom: 0;
      }

      a {
        border-bottom: 1px solid $lightergray;
      }
    }

    @include breakpoint(wide) {
      display: table;
      margin-top: 33px;
      padding: 15px 15px 30px;
      position: absolute;
      width: 240px;
      z-index: 100;

      li {
        width: 100%;
      }

      a.current {
        color: $black;

        &:active {
          color: darken($cherry, 15%);
        }
      }

      &.fixed {
        font-family: $ff-sans;
        margin-top: 10px;
        position: fixed;
        top: 45px;

        &.floating {
          margin-top: 0;
        }

        &.headless {
          margin-top: 123px;
        }
      }

      &.endpoint {
        bottom: 545px;
        position: absolute;
        top: auto;
      }
    }
  }

  @include breakpoint(wide) {
    .page-inner {
      background-color: $white;
    }

    .uomcontent [role="main"] {
      box-shadow: inset 2px 0 3px rgba($black, 0.15);
      margin-left: 300px;
      margin-top: -10px;
      padding-top: 10px;

      > header:first-of-type,
      .headerless,
      footer.cta,
      footer.end,
      footer.contrib {
        margin-left: -300px;
        width: auto;
      }

      > header:first-of-type {
        padding-left: 300px;
      }

      > header.banner:first-of-type,
      > header.image:first-of-type {
        padding-left: 0;
      }

      .with-aside {
        margin-left: 5px;
        margin-top: -100px;
      }

      .jumpnav {
        padding-top: 0;
      }

      #outer {
        margin-left: -270px;
      }

      .news-index {
        margin: 0 auto;
        width: 94%;
      }
    }
  }
}

body.ie8.jumpnav-active .uomcontent [role="main"] .jumpnav {
  display: none;
}
