.uomcontent [role="main"] {

  .profile-header {
    padding: 3rem 1rem;
    background-color: var(--col-paleblue);
    color: inherit;

    &__summary,
    &__info {
      max-width: var(--w-sml);
      margin: 0 auto;
    }

    &__summary {
      @mixin fallbackAvatarWrapper;
      text-align: center;

      h1 {
        font-size: 1.5625rem;
        line-height: 2.25rem;
        margin-bottom: .5rem;
        margin-top: 1.5rem;
        font-weight: var(--fw-regular);
        padding-bottom: 0;
        text-align: inherit;

        & + p {
          padding-bottom: 0;
        }
      }

      p {
        font-size: 1.125rem;
        line-height: 1.5rem;
        font-weight: var(--fw-light);
        padding-top: 0;
      }
    }

    &__photo {
      @mixin fallbackAvatar;
      background-position: center;
      background-size: cover;
      border-radius: 50%;
      display: block;
      height: 150px;
      margin: 0 auto;
      width: 150px;
    }

    &__info {
      padding-top: 1.5rem;
      border-top: 1px solid var(--col-lightestblue);

      a {
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    &__contact,
    &__location {
      padding: 0;
      margin: 0;

      & > li {
        list-style: none;
        margin-left: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    &__contact {
      margin-bottom: 1.5rem;

      [data-icon] {
        height: 1.25rem;
        margin-top: .25rem;
        width: 1.25rem;
        vertical-align: top;
      }
    }

    &__location {
      em {
        color: var(--col-midgray);
      }
    }

    @media screen and (--bp-tablet) {

      &__info {
        @mixin clearfix;
      }

      &__location,
      &__contact {
        float: left;
        margin-bottom: 0;
        width: 50%;
      }

    }
  }

}
