.uomcontent {
  .staff-listing {
    @include wrapper;
    margin-top: 1.5rem;
    max-width: var(--w-mid);
    margin-bottom: 1.5rem;
    border: 0;
    border-collapse: collapse;
    display: table;

    &.min {
      margin-left: auto;
      margin-right: auto;
      max-width: var(--w-sml);

      a {
        color: var(--col-lighterblue);
      }

      img {
        border-radius: 50%;
        display: block;
        width: 100%;
        height: 100%;
      }

      .profile {
        background-color: #fff;
        display: table-cell;
        vertical-align: top;

        .frame {
          height: 3.125rem;
          width: 3.125rem;
          background-color: var(--col-lightestblue);
          border-radius: 50%;
        }
      }

      .details {
        padding-left: 1.5625rem;
        width: 35.625rem;
        display: table-cell;
        line-height: 1.4;
        vertical-align: middle;
      }

      td,
      li {
        border-bottom: 0 none;
        border-top: 1px solid var(--col-lightergray);
      }

      & > tbody > tr:first-child > td,
      li:first-child {
        border-top: 0 none;
      }
    }

    @include breakpoint(89.375em) {
      margin-left: auto;
      margin-right: auto;
    }

    a {
      // color: #000;
      font-weight: var(--fw-regular);
    }

    li {
      padding: .625rem 0;
      list-style-type: none;
    }

    tr {
      padding: .625rem 0;
      border-bottom: 1px solid var(--col-lightergray);
      display: block;

      @include breakpoint(tablet) {
        border-bottom: 0 none;
        display: table-row;
      }

      td,
      th {
        border: 0;
        display: block;
        width: 100%;

        @include breakpoint(tablet) {
          padding: .625rem 0;
          border-bottom: 1px solid var(--col-lightergray);
          display: table-cell;
          width: auto;

          &.fifth {
            width: 20%;
          }

          &.quarter {
            width: 25%;
          }

          &.half {
            width: 50%;
          }

          &.third {
            width: 33.333%;
          }

          &.two-thirds {
            width: 66.667%;
          }
        }
      }
    }
  }
}
