.uomcontent {
  .staff-listing-detailed {
    max-width: var(--w-lge);
    padding: 0;
    text-align: center;

    li {
      padding: 3rem 1rem;
      width: 18.75rem;
      display: inline-block;
      list-style-type: none;
      margin: 0;
      vertical-align: top;
    }

    a {
      color: #000;
      display: block;
      text-decoration: none;

      strong {
        text-decoration: underline;
      }
    }

    strong {
      font-weight: var(--fw-regular);
    }

    p {
      font-size: .9375rem;
      line-height: 1.5rem;
      padding-bottom: 0;
    }

    .frame {
      max-width: 12.5rem;
      margin-bottom: 1.5rem;
      background-color: var(--col-lightestblue);
      border-radius: 50%;
      line-height: 0;
      margin-left: auto;
      margin-right: auto;

      img {
        border-radius: 50%;
        margin-top: 0;
        max-width: 100%;
      }
    }

    /* DEPRECATED */
    &--diamond {
      li {
        width: 25rem;
      }
    }
  }

  header ul.staff-listing-detailed {
    li {
      background: rgba(0, 0, 0, 0.3);
      box-shadow: 0 0 100px 71px rgba(0, 0, 0, 0.3);
    }

    .frame {
      text-align: center;

      img {
        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.5);
      }
    }

    strong {
      font-size: 1.25rem;
      line-height: 1.5rem;
      padding-top: 1.5rem;
      display: block;
      color: #fff;
      text-decoration: none;
    }

    p {
      font-size: 1rem;
      line-height: 1.5rem;
      padding-top: 1.5rem;
      padding-bottom: .75rem;
      max-width: 31.25rem;
      color: #fff;
      font-style: italic;

      a {
        font-size: .9375rem;
        line-height: 1.5rem;
        padding: 0 .625rem;
        color: #fff;
        font-style: normal;
        font-weight: var(--fw-regular);
        text-decoration: underline;
      }

      &.links {
        padding-top: .75rem;
        border-top: 1px solid color(#fff alpha(20%));
      }
    }
  }

  /* DEPRECATED */
  .diamond-mask {
    max-width: 18.75rem;
    margin-bottom: 1.5rem;
    transform: rotate(45deg) scale(.7);
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;

    img {
      transform: rotate(-45deg) scale(1.41);
      display: block;
      margin: 0;
      padding: 0;
    }
  }

}
