.uomcontent {
  .staff-listing-detailed {
    max-width: var(--w-lge);
    padding: 0;
    text-align: center;

    li {
      padding: pxtorem(48) pxtorem(16);
      width: pxtorem(300);
      display: inline-block;
      list-style-type: none;
      margin: 0;
      vertical-align: top;
    }

    a {
      color: var(--col-navy-main);
      display: block;
      text-decoration: none;

      strong {
        font-weight: var(--fw-semibold);
      }

      &:hover,
      &:focus {
        strong {
          color: var(--col-tertiary-navy);
          text-decoration: underline;
        }
      }
    }

    strong {
      font-weight: var(--fw-regular);
    }

    p {
      font-size: pxtorem(15);
      line-height: pxtorem(24);
      padding-bottom: 0;
    }

    .frame {
      max-width: pxtorem(200);
      margin-bottom: pxtorem(24);
      background-color: var(--col-blue-light);
      line-height: 0;
      margin-left: auto;
      margin-right: auto;

      img {
        margin-top: 0;
        max-width: 100%;
      }
    }

    /* DEPRECATED */
    &--diamond {
      li {
        width: pxtorem(400);
      }
    }
  }

  header ul.staff-listing-detailed {
    li {
      background: rgba(0, 0, 0, 0.3);
      box-shadow: 0 0 100px 71px rgba(0, 0, 0, 0.3);
    }

    .frame {
      text-align: center;

      img {
        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.5);
      }
    }

    strong {
      font-size: pxtorem(20);
      line-height: pxtorem(24);
      padding-top: pxtorem(24);
      display: block;
      color: var(--col-white);
      text-decoration: none;
    }

    p {
      font-size: pxtorem(16);
      line-height: pxtorem(24);
      padding-top: pxtorem(24);
      padding-bottom: pxtorem(12);
      max-width: pxtorem(500);
      color: var(--col-white);
      font-style: italic;

      a {
        font-size: pxtorem(15);
        line-height: pxtorem(24);
        padding: 0 pxtorem(10);
        color: var(--col-white);
        font-style: normal;
        font-weight: var(--fw-regular);
        text-decoration: underline;
      }

      &.links {
        padding-top: pxtorem(12);
        border-top: 1px solid color(var(--col-white) alpha(20%));
      }
    }
  }

  /* DEPRECATED */
  .diamond-mask {
    max-width: pxtorem(300);
    margin-bottom: pxtorem(24);
    transform: rotate(45deg) scale(.7);
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;

    img {
      transform: rotate(-45deg) scale(1.41);
      display: block;
      margin: 0;
      padding: 0;
    }
  }

}
