.uomcontent {
  .staff-listing {
    @mixin wrapper;
    margin-top: pxtorem(24);
    max-width: var(--w-mid);
    margin-bottom: pxtorem(24);
    border: 0;
    border-collapse: collapse;
    display: table;

    a {
      color: var(--col-navy-main);
      &:hover,
      &:focus {
        color: var(--col-tertiary-navy);
      }
    }

    &.min {
      margin-left: auto;
      margin-right: auto;
      max-width: var(--w-sml);

      img {
        display: block;
        width: 100%;
        height: 100%;
      }

      .profile {
        background-color: var(--col-white);
        display: table-cell;
        vertical-align: top;

        .frame {
          height: 3.125rem;
          width: 3.125rem;
          background-color: var(--col-blue-light);
        }
      }

      .details {
        padding-left: 1.5625rem;
        width: 35.625rem;
        display: table-cell;
        line-height: 1.4;
        vertical-align: middle;
      }

      td,
      li {
        border-bottom: 0 none;
        border-top: 1px solid var(--col-black-light);
      }

      & > tbody > tr:first-child > td,
      li:first-child {
        border-top: 0 none;
      }
    }

    a {
      font-weight: var(--fw-regular);
    }

    li {
      padding: pxtorem(10) 0;
      list-style-type: none;
    }

    tr {
      padding: pxtorem(10) 0;
      border-bottom: 1px solid var(--col-black-light);
      display: block;

      @media screen and (--bp-tablet) {
        border-bottom: 0 none;
        display: table-row;
      }

      td,
      th {
        border: 0;
        display: block;
        width: 100%;

        @media screen and (--bp-tablet) {
          padding: pxtorem(10) 0;
          border-bottom: 1px solid var(--col-black-light);
          display: table-cell;
          width: auto;

          &.fifth {
            width: 20%;
          }

          &.quarter {
            width: 25%;
          }

          &.half {
            width: 50%;
          }

          &.third {
            width: 33.333%;
          }

          &.two-thirds {
            width: 66.667%;
          }
        }
      }
    }
  }
}
