.uomcontent [role="main"] {
  .enquiry {
    @include padding-leader(2);
    @include padding-trailer(2);
    background-color: $paleblue;
    box-shadow: 0 -1px 9px rgba($lightblue, 0.3) inset;

    .errors {
      @include rem(font-size, 22px);
      @include rem(max-width, 700px);
      @include rem(padding-top, 30px);
      background-color: #fad8dc;
      margin: 0 auto;

      ul li {
        list-style-type: none;
      }
    }

    .enquiry__cta {
      @include wrapper;
      @include adjust-font-size-to(20px);
      @include rem(line-height, 50px);
      @include padding-trailer(1);
      @include rem(max-width, $w-sml);
      text-align: center;

      a {
        @include rem(line-height, 30px);
        @include rem(margin-left, 10px);
        vertical-align: middle;
      }

      @include breakpoint(desktop) {
        @include adjust-font-size-to(22px);
      }
    }

    .enquiry__subline {
      @include wrapper;
      @include adjust-font-size-to(16px);
      @include padding-leader(.5);
      @include rem(max-width, $w-sml);
      border-top: 1px solid rgba($lightblue, 0.3);
      color: $midblue;
      text-align: center;

      @include breakpoint(tablet) {
        & > div {
          display: inline-block;
        }

        .secondary {
          @include rem(margin-left, 20px);
        }
      }
    }

    .enquiry-form__thanks {
      @include rem(font-size, 22px);
    }

    .enquiry__form {
      form {
        @include padding-leader(1);
        max-width: 100%;
      }

      /* Hide the main legend only if present */
      & > .fields > fieldset {
        legend {
          @include screenreaders-only;
        }
      }

      fieldset {
        div {
          @include rem(max-width, 600px);
          margin-left: auto;
          margin-right: auto;
        }

        @include breakpoint(tablet) {
          label,
          legend {
            font-weight: $regular;
          }
        }

        input[type="checkbox"],
        input[type="radio"] {
          & + label {
            width: 100%;
            font-weight: $light;
          }
        }
      }
    }

    &--dark {
      background-color: $blue;
      color: $white;
      box-shadow: none;

      .enquiry__subline {
        color: inherit;

        a {
          color: inherit;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }

    &.accordion__visible {
      .enquiry__cta {
        border-bottom: 1px solid rgba($lightblue, 0.3);
      }

      .accordion__hidden {
        @include rem(max-height, 2000px);

        &.enquiry__form fieldset::before {
          display: block;
        }
      }
    }
  }
}
