.uomcontent article.news {
  @extend .detail;
  @extend %clearfix;
  @include rem(max-width, $w-lge);
  @include padding-leader(2);

  margin-left: 0;
  margin-right: 0;
  width: 100%;

  & > figure {
    margin: 0;
    padding: 0;
  }

  time {
    font-weight: $light;
    font-style: italic;
  }

  h1 {
    @include padding-leader(0);
    @include rem(padding-bottom, 15px);
  }

  aside {
    @include rem(padding-top, 15px);

    div {
      padding-left: 0;
      word-wrap: break-word;
    }

    li {
      list-style-type: none;
      padding: 0;
    }
    
    /* sidebar headings */
    .news__meta-title {
      font-weight: $regular;
      font-style: italic;
    }
    
    /* sidebar links that must not wrap (email, phone, url, etc.) */
    .news__nowrap {
      @extend %ellipsis;
    }
  }

  .article {
    @include rem(padding-top, 5px);
    max-width: 100%;

    h1,
    ol.steps h2,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul,
    ol,
    li,
    table,
    .eg-palette {
      width: 100%;
    }

    figure.full-width {
      @include rem(max-width, 700px);
    }
  }

  .video {
    @include trailer(1);
  }

  @include breakpoint(desktop) {
    margin-left: auto;
    margin-right: auto;

    .article {
      float: right;
      width: 70%;

      h1,
      ol.steps h2,
      h2,
      h3,
      h4,
      h5,
      h6,
      p,
      li,
      table,
      .eg-palette {
        margin-left: 0;
      }

      ul,
      ol {
        @include rem(margin-left, 20px);
      }
      
      h2 {
        @include adjust-font-size-to(24px);
        font-weight: $light;
        padding-top: 0;
        text-transform: none;
      }
    }
    aside {
      display: inline-block;
      float: none;
      width: 29%;
    }
  }

  @include breakpoint(wide) {
    .article {
      width: 75%;
    }
    aside {
      width: 24%;
    }

    .video {
      padding-bottom: 56.25%;

      iframe {
        margin: 0;
        width: 100%;
      }
    }
  }
}

/* Work around limitations of `with-aside` layout */
.uomcontent .with-aside {
  article.news {
    /* cancel `.with-aside aside` styles */
    aside {
      @include rem(padding, 5px 0 48px);
      background-color: transparent;
      background-color: initial;
      display: inline-block;
      max-width: none;
    }

    /* `with-aside` sidebar comes up next to the content at a narrower breakpoint than `jumpnav` */
    @include breakpoint(desktop) {
      padding-left: 0;
      padding-right: 0;

      .article {
        float: none;
        width: 100%;
      }

      aside {
        width: 100%;
        
        div {
          text-align: center;
        }
      }
    }

    @include breakpoint(wide) {
      padding-left: 3%;
      padding-right: 3%;

      .article {
        float: right;
        width: 75%;
      }

      aside {
        @include rem(padding, 5px 30px 0);
        width: 24%;
        
        div {
          text-align: right;
        }
      }
    }
  }
}
