.uomcontent article.news {
  @extend .detail;
  @include rem(max-width, $w-lge);
  @include padding-leader(2);

  margin-left: 0;
  margin-right: 0;
  width: 100%;

  & > figure {
    margin: 0;
    padding: 0;
  }

  time {
    font-weight: $light;
    font-style: italic;
  }

  h1 {
    @include padding-leader(0);
    @include rem(padding-bottom, 15px);
  }

  aside {
    @include rem(padding-top, 15px);

    div {
      padding-left: 0;
      word-wrap: break-word;
    }

    li {
      list-style-type: none;
      padding: 0;
    }
  }

  .article {
    @include rem(padding-top, 5px);
    max-width: 100%;

    h1,
    ol.steps h2,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul,
    ol,
    li,
    table,
    .eg-palette {
      width: 100%;
    }

    figure.full-width {
      @include rem(max-width, 700px);
    }
  }

  .video {
    @include trailer(1);
  }

  @include breakpoint(desktop) {
    margin-left: auto;
    margin-right: auto;

    .article {
      float: right;
      width: 70%;

      h1,
      ol.steps h2,
      h2,
      h3,
      h4,
      h5,
      h6,
      p,
      li,
      table,
      .eg-palette {
        margin-left: 0;
      }

      ul,
      ol {
        @include rem(margin-left, 20px);
      }
    }
    aside {
      display: inline-block;
      float: none;
      width: 29%;
    }
  }

  @include breakpoint(wide) {
    .article {
      width: 75%;
    }
    aside {
      width: 24%;
    }

    .video {
      padding-bottom: 56.25%;

      iframe {
        margin: 0;
        width: 100%;
      }
    }
  }
}