.uomcontent .news-hero {
  @include padding-trailer(2);
  @include rem(max-width, $w-lge);
  margin: 0 auto;
  text-align: right;

  a {
    @include padding-leader(6);
    @include rem(max-width, 1150px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    text-decoration: none;
    text-align: left;
    width: 100%;


    &:hover,
    &:focus {
      .inner {
        background-color: $darkblue;
      }
    }
  }

  .inner {
    @include padding-leader(1);
    @include padding-trailer(1);
    @include rem(padding-left, 20px);
    @include rem(padding-right, 20px);

    background-color: $darkblue;
    background-color: rgba($darkblue, .7);
    color: $white;
  }

  h1 {
    @include rem(max-width, $w-mid);
    font-weight: $thin;
    margin: 0;
    padding: 0;
  }

  p {
    @include rem(max-width, $w-mid);
    margin: 0;
    padding: 0;
  }

  @include breakpoint(desktop) {
    @include rem(padding-left, 20px);
    @include rem(padding-right, 20px);

    a {
      @include padding-leader(14);
    }
  }
  @include breakpoint(wide) {

  }
}

.uomcontent .news-index {
  article {
    @include padding-leader(2);
    @include padding-trailer(2);
    @include rem(max-width, $w-mid);
    border-bottom: 1px solid $lightergray;
    margin: 0 auto;

    &:first-child {
      padding-top: 0;
    }
  }

  a {
    color: $black;
    display: block;
    text-decoration: none;
  }

  h1 {
    @include adjust-font-size-to(22px);
    @include rem(max-width, $w-mid);
  }

  p {
    @include rem(max-width, $w-mid);
    padding-bottom: 0;

    &.topic {
      @include adjust-font-size-to(14px);
      color: $midgray;
    }
  }

  article img {
    @include padding-trailer(1);
    display: block;
    margin: 0 auto;
    width: 94%;
    &:first-child {
      @include rem(margin-bottom, 0px);
      @include rem(margin-left, 10px);
      @include rem(max-width, 125px);
      display: block;
      float: right;
      margin-right: 2%;
    }
  }

  @include breakpoint(desktop) {
    article {
      @include rem(padding-left, 20px);
      @include rem(padding-right, 20px);
    }

    h1 {
      @include adjust-font-size-to(26px);
    }

    article img {
      width: 100%;

      &:first-child {
        @include rem(max-width, 230px);
        display: block;
        float: left;
        margin-left: 0;

        & + p,
        & + p + h1,
        & + p + h1 + p {
          @include rem(margin-left, 270px);
          margin-right: 0;
          width: auto;
        }
      }
    }
    @include breakpoint(925px) {
      article {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  &.dense {
    article {
      @include padding-leader(1);
      @include padding-trailer(1);
      @include rem(max-width, 700px);
      overflow: hidden;
    }

    h1 {
      @include adjust-font-size-to(20px);
      @include padding-trailer(0.5);
      font-weight: $regular;
    }

    p {
      @include adjust-font-size-to(14px);

      &.date {
        @include adjust-font-size-to(13px);
        font-style: italic;
      }
    }

    @include breakpoint(desktop) {
      h1 {
        @include adjust-font-size-to(20px);
      }

      article img {
        width: 100%;

        &:first-child {
          @include rem(max-width, 120px);

          & + p,
          & + p + h1,
          & + p + h1 + p {
            @include rem(margin-left, 140px);
          }
        }
      }
    }
  }
}

.uomcontent [data-tabbed].tabbed {
  .news-tabs {
    @include padding-leader(2);
    @include rem(max-width, 900px);
    margin-left: auto;
    margin-right: auto;
  }

  .news-index.tab {
    @include padding-leader(1);
    border-bottom: 0;

    article {
      clear: left;

      h1 {
        margin: 0;
        max-width: 1000px;
      }

      p {
        max-width: 1000px;
      }

      img {
        width: 100%;
      }

      img:first-child + p + h1 + p {
        width: auto;
      }

      @include breakpoint(desktop) {
        img + p + h1 {
          @include rem(margin-left, 270px);
        }
      }

      &:last-child {
        border: none;
      }
    }

    @include breakpoint(tablet) {
      h1,
      p {
        width: auto;
      }
    }

    @include breakpoint(desktop) {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.ie8 .uomcontent {
  .news-hero {
    max-width: $w-mid;
  }

  .news-index article {
    img:first-child {
      max-height: 150px;
    }
  }

  [data-tabbed].tabbed nav {
    text-align: left;
  }

  [data-tabbed].tabbed .news-index.tab article h1 {
    width: 100%;
  }
}
