.uomcontent .news-hero {
  @include padding-trailer(2);
  max-width: $w-lge;
  margin: 0 auto;
  text-align: right;

  a {
    @include padding-leader(6);
    max-width: 71.875rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    text-decoration: none;
    text-align: left;
    width: 100%;


    &:hover,
    &:focus {
      .inner {
        background-color: $darkblue;
      }
    }
  }

  .inner {
    @include padding-leader(1);
    @include padding-trailer(1);
    padding-left: 1.25rem;
    padding-right: 1.25rem;

    background-color: $darkblue;
    background-color: rgba($darkblue, .7);
    color: $white;
    max-width: 100%;
  }

  h1 {
    max-width: $w-mid;
    font-weight: $thin;
    margin: 0;
    padding: 0;
  }

  p {
    max-width: $w-mid;
    margin: 0;
    padding: 0;
  }

  @include breakpoint(desktop) {
    padding-left: 1.25rem;
    padding-right: 1.25rem;

    a {
      @include padding-leader(14);
    }
  }
}

.uomcontent .news-index {
  article {
    @include clearfix;
    @include padding-leader(2);
    @include padding-trailer(2);
    max-width: $w-mid;
    border-bottom: 1px solid $lightergray;
    margin: 0 auto;

    &:first-child {
      padding-top: 0;
    }

    img {
      margin-bottom: .9375rem;
      display: block;
      margin-left: auto;
      margin-right: 3%;
      width: 94%;

      &:first-child {
        margin-left: .625rem;
        max-width: 7.8125rem;
        float: right;
      }
    }
  }

  a {
    color: $black;
    display: block;
    text-decoration: none;
  }

  h1 {
    @include adjust-font-size-to(22px);
    max-width: $w-mid;
    padding-bottom: .9375rem;
  }

  p {
    max-width: $w-mid;
    padding-bottom: 0;

    &.topic {
      @include adjust-font-size-to(14px);
      color: $midgray;
    }
  }

  @include breakpoint(desktop) {
    article {
      padding-left: 1.25rem;
      padding-right: 1.25rem;

      img {
        width: 100%;

        &:first-child {
          max-width: 14.375rem;
          float: left;
          margin-left: 0;
          margin-right: 2%;

          & + p,
          & + p + h1,
          & + p + h1 + p {
            margin-left: 16.875rem;
            margin-right: 0;
            width: auto;
          }
        }
      }
    }

    h1 {
      @include adjust-font-size-to(26px);
    }

    @include breakpoint(925px) {
      article {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  &.dense {
    article {
      @include padding-leader(1);
      @include padding-trailer(1);
      max-width: $w-sml;
    }

    h1 {
      @include adjust-font-size-to(20px);
      @include padding-trailer(0.5);
      font-weight: $regular;
    }

    p {
      @include adjust-font-size-to(14px);

      &.date {
        @include adjust-font-size-to(13px);
        font-style: italic;
      }
    }

    @include breakpoint(desktop) {
      h1 {
        @include adjust-font-size-to(20px);
      }

      article img {
        width: 100%;

        &:first-child {
          max-width: 7.5rem;

          & + p,
          & + p + h1,
          & + p + h1 + p {
            margin-left: 8.75rem;
          }
        }
      }
    }
  }
}

.uomcontent [data-tabbed].tabbed {
  .news-tabs {
    @include padding-leader(2);
    max-width: 56.25rem;
    margin-left: auto;
    margin-right: auto;
  }

  .news-index.tab {
    @include padding-leader(1);
    border-bottom: 0;
    padding-left: 3%;
    padding-right: 3%;

    article {
      clear: left;

      h1 {
        margin: 0;
        max-width: 1000px;
      }

      p {
        max-width: 1000px;
      }

      img {
        width: 100%;
      }

      img:first-child + p + h1 + p {
        width: auto;
      }

      @include breakpoint(desktop) {
        img + p + h1 {
          margin-left: 16.875rem;
        }
      }

      &:last-child {
        border: none;
      }
    }

    @include breakpoint(tablet) {
      margin: 0 auto;
      padding-left: 0;
      padding-right: 0;
      width: 94%;

      article {
        padding-left: 0;
      }

      h1,
      p {
        width: auto;
      }
    }

    @include breakpoint(920px) {
      width: 94%;
    }
  }
}

.uomcontent [role="main"] section .news-index {
  max-width: none;
}
