.uomcontent .detail {
  @extend %wrapper;
  @include padding-leader(1);

  aside {
    @include padding-leader(2);
    @include padding-trailer(2);
    @include rem(padding-left, 30px);
    @include rem(padding-right, 30px);
    display: block;
    float: left;
    width: 100%;

    .when {
      padding: 0;

      time {
        display: block;
        position: relative;
        text-align: center;

        & + time::before {
          @include rem(margin-right, 5px);
          @include rem(width, 16px);
          border-bottom: 2px solid #000;
          content: "";
          display: inline-block;
          vertical-align: middle;
        }

        strong {
          @include rem(padding-left, 6px);
          @include rem(padding-right, 6px);
        }

        @include breakpoint(desktop) {
          display: block;
          text-align: right;

          &:first-child {
            @include padding-trailer(1);
            @include rem(margin-top, -8px);
            @include trailer(1);
            position: relative;
          }

          & + time::before {
            @include rem(margin-top, -24px);
            @include rem(width, 20px);
            border-bottom: 4px solid $black;
            display: block;
            margin-right: 0;
            position: absolute;
            right: 0;
          }
        }
      }

      strong {
        font-weight: $regular;
        vertical-align: baseline;

        @include breakpoint(desktop) {
          @include adjust-font-size-to(36px);
          display: block;
          font-weight: $bold;
        }
      }
    }

    @include breakpoint(desktop) {
      @include rem(width, 300px);
    }

    div {
      @include padding-leader(1);
      @include padding-trailer(1);
      border-top: 1px solid $black;
      text-align: center;

      @include breakpoint(desktop) {
        @include rem(padding-left, 60px);
        text-align: right;
      }
    }

    p {
      padding: 0;
    }
  }

  .upper {
    @include breakpoint(desktop) {
      @include rem(margin-left, 300px);
    }

    aside {
      padding-top: 0;

      @include breakpoint(desktop) {
        @include rem(margin-left, -300px);
      }
    }

    h2 {
      text-align: center;

      &::after {
        display: none;
      }

      @include breakpoint(desktop) {
        margin-left: 0;
        text-align: left;
        width: auto;
      }
    }

    div {
      border-top: 0 none;
    }
  }

  .lower {
    h2,
    p,
    hr {
      @include breakpoint(desktop) {
        @include rem(margin-left, 300px);
        width: auto;
      }
    }

    aside p {
      margin-left: auto;
    }

    h2 {
      @include adjust-font-size-to(22px);
      @include adjust-leading-to(1);
      @include padding-trailer(1);
      clear: none;
      font-weight: $light;
      letter-spacing: 0;
      text-align: left;
      text-transform: none;


      &::after {
        display: none;
      }

      @include breakpoint(desktop) {
        @include adjust-font-size-to(26px);
      }
    }
  }

}
