.uomcontent {
  .timeline {
    @mixin clearfix;
    max-width: var(--w-mid);
    font-size: 1em;
    margin: 0 auto;
    padding-bottom: 0;
    position: relative;

    &::before {
      height: calc(20/16rem);
      top: 1.1875rem;
      width: calc(20/16rem);
      background-color: var(--col-white);
      content: '';
      left: 28%;
      position: absolute;
      z-index: 2;
    }

    &.full-width {
      max-width: var(--w-lge);
    }

    &.has-accordion {
      dd {
        ul:last-child,
        p:last-child {
          border-bottom: 0;
        }
      }
    }

    dt {
      font-size: calc(16/16rem);
      line-height: calc(24/16rem);
      padding-bottom: calc(30/16rem);
      padding-right: calc(20/16rem);
      float: left;
      margin: -4px 0 0;
      text-align: right;
      text-transform: uppercase;
      width: 28%;

      strong {
        display: block;
      }
    }

    dd {
      padding-bottom: calc(30/16rem);
      border-left: 1px solid var(--col-blue-light);
      float: left;
      margin: -4px 0 0;
      position: relative;
      width: 68%;
      text-align: left;
      font-size: calc(18/16rem);

      &:last-child {
        border-left-color: transparent; /* keep 1px border so dot remains aligned */
      }

      /* Dot */
      &::before {
        height: 11px; /* odd number for dot to be perfectly centred on the 1px line */
        left: -6px; /* half of width, rounded up */
        width: 11px;
        background-color: var(--col-blue-light);
        content: '';
        display: block;
        position: absolute;
        top: 5px;
        z-index: 2;
        transform: rotate(45deg);
      }

      span,
      p,
      figure {
        margin-left: calc(20/16rem);
        padding-bottom: calc(10/16rem);
        padding-left: calc(20/16rem);
        display: block;
        margin: 0;
      }

      span {
        padding-bottom: 0;
      }

      a.location {
        font-size: calc(16/16rem);
        padding-bottom: calc(20/16rem);
        color: var(--col-navy-main);
        display: block;
        font-style: italic;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      ul:last-child,
      p:last-child {
        padding-bottom: calc(20/16rem);
      }

      ul.accordion {
        margin-top: .75rem;
        margin-left: 0;

        & > li:first-child {
          border-top: 1px solid var(--col-black-light);

          &.accordion__visible {
            border-top: 1px solid var(--col-blue-mid-2);
          }
        }
      }

      &:last-child p:last-child {
        padding-bottom: 3.75rem;
        border-bottom: 0;
      }
    }

    strong,
    span {
      color: var(--col-navy-main);
    }

    @media screen and (--bp-desktop) {
      &::before {
        left: 32.5%;
      }

      dt {
        width: 33%;
      }

      dd {
        width: 63%;

        span,
        p {
          padding-left: calc(20/16rem);
        }
      }

      &.full-width {
        &::before {
          left: 26%;
        }

        dt {
          width: 23%;
        }

        dd {
          width: 73%;
        }
      }
    }
  }

  .alt .timeline {
    &::before {
      background-color: var(--col-navy-light);
    }

    dd {
      border-left-color: var(--col-blue-light);

      &::before {
        background-color: var(--col-blue-light);
      }

      ul:last-child,
      p:last-child {
        border-bottom-color: var(--col-blue-light);
      }

      ul.accordion {

        & > li:first-child {
          border-top: 1px solid var(--col-blue-light);

          &.accordion__visible {
            border-top: 1px solid var(--col-blue-mid-2);
          }
        }
      }
    }
  }

  figure .timeline {
    padding-top: 0;

    dd:last-child p:last-child {
      padding-bottom: 0;
    }

    &::before {
      top: -5px;
    }

    @media screen and (--bp-desktop) {
      padding: 0;

      &::before {
        left: 30.5%;
      }
    }
  }
}
