@mixin transition-duration($p) {
  -ms-transition-duration: $p;
  -o-transition-duration: $p;
  -moz-transition-duration: $p;
  -webkit-transition-duration: $p;
  transition-duration: $p;
}

@mixin transition-property($p) {
  -ms-transition-property: $p;
  -o-transition-property: $p;
  -moz-transition-property: $p;
  -webkit-transition-property: $p;
  transition-property: $p;
}

@mixin transition-timing-function($p) {
  -ms-transition-timing-function: $p;
  -o-transition-timing-function: $p;
  -moz-transition-timing-function: $p;
  -webkit-transition-timing-function: $p;
  transition-timing-function: $p;
}

.accordion__title {
  cursor: pointer;
}

.accordion__hidden {
  @include transition-duration(10ms);
  @include transition-property(max-height);
  @include transition-timing-function(ease-in-out);
  display: block;
  max-height: 0;
  overflow: hidden;

  td {
    display: none;
  }
}

.accordion__close {
  display: none;
}

.accordion__visible .accordion__hidden {
  @include transition-duration(500ms);
  @include transition-property(max-height);
  @include transition-timing-function(ease-in-out);
  max-height: 1000px;
}

.accordion__visible tr.accordion__hidden {
  display: table-row;

  td {
    display: table-cell;
  }
}

.accordion__noanim {
  .accordion__hidden,
  .accordion__visible .accordion__hidden {
    @include transition-duration(0);
    @include transition-property(none);
  }
}

[role="main"] {
  ul.accordion {

    li {
      @include padding-leader(0.5);
      @include padding-trailer(0.5);
      @include rem(padding-left, 15px);
      @include rem(padding-right, 15px);
      border-bottom: 1px solid darken($lightgray, 5%);
      list-style-type: none;
      margin: 0;
      max-width: 2000px;
      width: 100%;

      &:before {
        @include adjust-font-size-to(18px);
        @include rem(font-size, 18px);
        @include rem(height, 30px);
        @include rem(line-height, 30px);
        //@include rem(width, 30px);
        @include transition(transform 0.2s ease-in-out);
        content: "+";
        display: inline-block;
        text-align: center;
      }
      &:last-child {
        @include padding-trailer(0.5);
      }

      &.accordion__visible {
        @include padding-trailer(0);
        @include rem(margin-top, -1px);
        border-top: 1px solid;
        border-color: $cyan;
        //background-color: $paleblue;

        &:before {
          @include transform(rotate(45deg));
          color: $cyan;
        }

        .accordion__title {
          @include padding-trailer(1);
          color: $cyan;
        }

        .accordion__hidden {
          @include padding-leader(1);
        }
      }

      .accordion__title {
        @include rem(padding-left, 5px);
        //@include adjust-font-size-to(19px);
      }

      p {
        width: 100%;
      }

      @include breakpoint(desktop) {
        &:before {
          @include rem(font-size, 24px);
        }
        .accordion__title {
          @include adjust-font-size-to(22px);
        }
      }
    }
  }
}