@mixin transition-duration($p) {
  -ms-transition-duration: $p;
  -moz-transition-duration: $p;
  -webkit-transition-duration: $p;
  transition-duration: $p;
}

@mixin transition-property($p) {
  -ms-transition-property: $p;
  -moz-transition-property: $p;
  -webkit-transition-property: $p;
  transition-property: $p;
}

@mixin transition-timing-function($p) {
  -ms-transition-timing-function: $p;
  -moz-transition-timing-function: $p;
  -webkit-transition-timing-function: $p;
  transition-timing-function: $p;
}

.accordion__title {
  cursor: pointer;
}
.accordion__hidden {
  @include transition-duration(250ms);
  @include transition-property(max-height);
  @include transition-timing-function(ease-out);
  max-height: 0;
  overflow: hidden;
}
.accordion__visible .accordion__hidden {
  @include transition-duration(500ms);
  @include transition-property(max-height);
  @include transition-timing-function(ease-in);
  max-height: 1000px;
}
.accordion__noanim {
  .accordion__hidden,
  .accordion__visible .accordion__hidden {
    @include transition-duration(0);
    @include transition-property(none);
  }
}