.uomcontent [role="main"] {
  .pathfinder-3 {
    @extend .feature-listing-3;
    @include leader(2);
    @include trailer(2);
    background-color: transparent;
    border: 0 none;
    padding: 0 3%;
    width: 94%;

    &.white {
      a {
        background-color: rgba($white, .9);
        border-bottom: 3px solid $highlight;
        color: $black;

        &:hover, &:focus {
          background-color: $white;
        }

        &.featured {
          color: $white;

          p,
          span.text,
          strong {
            border-color: $white;
            color: $white;
          }
        }

        .button-small {
          background-color: $highlight;
        }
      }

      p,
      span.text,
      strong {
        border-color: $black;
        color: $black;
      }
    }

    li {
      @include leader(1);
      @include trailer(1);
      margin-left: 0;
      margin-right: 0;
      overflow: visible;
      padding: 0;
      width: 100%;
      max-width: 100%;
    }

    p,
    span.text {
      @include leader(1);
      @include padding-trailer(1);
      @include rem(font-size, 13px);
      @include rem(min-width, 165px);
      @include rem(padding-left, 20px);
      @include rem(padding-right, 20px);
      background-color: transparent;
      display: block;
      padding-top: 0;
      text-align: center;
      // -webkit-transform: translate3d(0, 0, 0);
      // -webkit-transform-style: preserve-3d;
      -webkit-font-smoothing: subpixel-antialiased;
    }

    strong {
      @include adjust-font-size-to(15px);
      @include padding-leader(2);
      @include padding-trailer(2);
      @include rem(letter-spacing, 1px);
      background-color: transparent;
      border-bottom: 1px solid $white;
      color: $white;
      font-weight: $regular;
      position: relative;
      text-align: center;
      text-transform: uppercase;

      span {
        @include vertical-align;
        left: 0;
        position: absolute;
        top: 50%;
        width: 100%;
      }
    }

    a {
      @include padding-trailer(2);
      @include rem(max-width, 350px);
      background-color: $brand;
      border-bottom: 3px solid darken($brand, 50%);
      margin: 0 auto;
      position: relative;
      transition: all 150ms ease-out;

      strong,
      p,
      span.text {
        color: $white;
      }

      .button-small {
        background-color: darken($brand, 5%);
      }

      &:hover, &:focus {
        background-color: lighten($brand, 3%);
        box-shadow: 0 0 10px rgba($black, 0.5);
        transform: scale(1.06);
        transition-timing-function: ease-in;
        z-index: 2;

        .button-small {
          background-color: darken($brand, 5%);
        }
      }

      &.featured {
        background-color: darken($highlight, 5%);
        color: $black;

        transform: scale(1.06);
        z-index: 1;

        &:hover,
        &:focus {
          background-color: lighten($highlight, 2%);
          box-shadow: 0 0 10px rgba($black, 0.5);
          transform: scale(1.07);
          z-index: 1;
        }

        .button-small {
          background-color: darken($highlight, 15%);
        }
      }

      &.disabled {
        cursor: not-allowed;
        opacity: .5;

        &:hover {
          transform: scale(1);

          .button-small {
            cursor: not-allowed;
          }
        }
      }
    }

    span {
      background-color: transparent;
    }

    @include breakpoint(desktop) {
      @include padding-leader(2);
      @include padding-trailer(2);
      display: table;
      float: none;
      height: 100%;
      margin: 0 auto;
      max-width: $w-lge;
      table-layout: fixed;

      // override clearfix
      &::before,
      &::after {
        display: none;
      }

      li {
        background-color: transparent;
        display: table-cell;
        float: none;
        height: 100%;
        margin: 0;
        padding-left: 0.5%;
        padding-right: 0.5%;
        vertical-align: top;
        width: auto;
      }

      p,
      span.text {
        @include padding-leader(1);
        @include padding-trailer(5);
        @include rem(max-width, 350px);
        margin: 0 auto;
        padding-left: 0;
        padding-right: 0;
        text-align: left;
      }

      strong {
        @include rem(height, 120px);
        @include rem(max-width, 350px);
        margin: 0 auto;
        padding: 0;
      }

      a {
        @include rem(max-width, 350px);
        @include rem(min-height, 400px);
        @include rem(padding, 0 35px);
        height: 100%;
        margin: 0 auto;
        position: relative;
      }

      .button-small {
        @include horizontal-align;
        @include rem(bottom, 30px);
        display: inline-block;
        left: 50%;
        position: absolute;
      }
    }
  }

  .pathfinder-2 {
    @extend .pathfinder-3;

    @include breakpoint(desktop) {
      li {
        @include rem(padding-left, 1px);
        padding-right: 0;
        text-align: left;

        &:first-child {
          padding-left: 0;
          text-align: right;
        }
      }

      a {
        display: inline-block;
        margin: 0;
      }

      p {
        @include rem(min-width, 280px);
      }
    }
  }

  .pathfinder-4 {
    @extend .pathfinder-3;

    @include breakpoint(desktop) {
      @include rem(max-width, $w-mid);
      align-items: center;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      li {
        @include rem(padding-left, 1px);
        @include rem(padding-bottom, 1px);
        @include flex(1 1 40%);
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: auto;
        padding-right: 0;

        &:nth-child(2n+1) {
          @include justify-content(flex-end);
          padding-left: 0;
        }
      }

      a {
        @include flex(1);
        height: auto;
        margin: 0;
      }

      p {
        @include rem(min-width, 175px);
      }
    }

    @include breakpoint(1350px) {
      display: table;
      @include rem(max-width, $w-lge);
      table-layout: fixed;

      li {
        display: table-cell;
        height: 100%;

        &:nth-child(2n+1) {
          @include rem(padding-left, 1px);
        }
      }

      a {
        height: 100%;
        margin: 0 auto;
      }
    }
  }

  .lead + .pathfinder-2,
  .lead + .pathfinder-3,
  .lead + .pathfinder-4 {
    @include leader(0);
    padding-top: 0;
  }
}

.ie8 {
  .uomcontent .pathfinder-3 {
    float: none;
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;

    li {
      float: left;
      margin-left: 2%;
      margin-right: 2%;
      width: 30.333%;

      &:first-child {
        margin-left: 0;
      }

      &:first-child + li + li {
        margin-right: 0;
      }
    }

    p,
    span.text {
      padding-left: 0;
      padding-right: 0;
    }

    strong {
      height: 120px;
      padding-left: 5%;
      padding-right: 5%;
    }

    a {
      min-height: 360px;
      padding-bottom: 15px;
    }

    .button-small {
      bottom: 30px;
      display: inline-block;
      left: 20%;
      position: absolute;
      text-align: center;
      width: 60%;
    }
  }
}

.ie9 {
  .uomcontent .pathfinder .button-small {
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
    width: auto;
  }
}
