@mixin horizontal-align {
  transform: translateX(-50%);
}

@mixin vertical-align {
  transform: translateY(-50%);
}

.uomcontent {
  .listing {
    @extend %clearfix;
    @include padding-trailer(2);
    // @include rem(padding-bottom, 30px);
    @include rem(padding-left, 15px);
    @include rem(padding-right, 15px);
    //background-color: $white;
    margin: 0 auto;
    max-width: $w-lge;

    box-sizing: content-box;

    li {
      @include padding-leader(0.5);
      @include padding-trailer(0.5);
      // @include rem(margin-top, 10px);
      // @include rem(min-height, 100px);
      // @include rem(padding-top, 10px);
      border-top: 1px solid darken($lightgray, 5%);
      list-style-type: none;
      margin-bottom: 0;
      margin-left: auto;
      overflow: hidden;
      padding-bottom: 0;

      &:first-child {
        border-top: 0 none;
      }
    }

    a {
      display: block;
      text-decoration: none;
    }

    figure {
      @include trailer(0.5);
      // @include rem(margin-bottom, 10px);
      @include rem(margin-right, 15px);
      @include rem(max-height, 100px);
      @include rem(max-width, 100px);
      // @include rem(padding-top, 10px);
      float: left;
      margin-left: 0;
      margin-top: 0;
      overflow: hidden;
      text-align: center;
    }

    img {
      display: block;
      float: none;
      margin: 0 auto;
      max-width: 100%;
    }

    strong {
      @include adjust-font-size-to(16px);
      @include adjust-leading-to(1);
      // @include rem(font-size, 16px);
      color: $darkblue;
      display: block;
      font-weight: $light;
    }

    p {
      @include adjust-font-size-to(13px);
      // @include rem(font-size, 14px);
      @include rem(margin-left, 115px);
      color: $midgray;
      padding: 0;
      width: auto;
    }

    @include breakpoint(0) {
      img {
        margin: 0 auto 0 -33%;
        max-height: 100%;
        max-width: 200%;
      }
    }

    @include breakpoint(tablet) {
      img {
        margin-left: auto;
      }
    }

    @include breakpoint(tablet) {
      @include padding-leader(2);
      img {
        margin: 0 auto;
        max-width: 100%;
      }

      p {
        margin-left: 0;
      }

      li {
        @include padding-trailer(1);
        border: 0;
        display: inline-block;
        vertical-align: top;
        // float: left;
        width: 49%;
      }

      li:nth-child(4n+1) {
        clear: left;
      }

      a {
        @include rem(padding, 0 10px);
      }

      figure {
        @include rem(max-height, 220px);
        float: none;
        height: auto;
        margin-right: 0;
        max-width: 100%;
      }

      strong,
      p {
        text-align: center;
      }
    }

    @include breakpoint(desktop) {
      li {
        width: 32%;
      }
    }
    @include breakpoint(wide) {
      li {
        width: 24.5%;
      }
    }
  }

  .noborder {
    border: 0;
  }

  .tight {
    padding-bottom: 0;
    padding-top: 0;
  }
}
