// Helpers for absolute alignment
@mixin horizontal-align {
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
}

@mixin vertical-align {
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}

[role="main"] .listing {
  @extend %clearfix;
  @include rem(padding-bottom, 30px);
  @include rem(padding-left, 15px);
  @include rem(padding-right, 15px);
  background-color: $lightgray;
  margin: 0 auto;
  max-width: $w-lge;

  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;

  li {
    @include rem(margin-top, 10px);
    @include rem(min-height, 100px);
    @include rem(padding-top, 10px);
    border-top: 1px solid darken($lightgray, 5%);
    list-style-type: none;
    margin-bottom: 0;
    margin-left: 0;
    padding-bottom: 0;

    &:first-child {
      border-top: 0 none;
    }
  }

  a {
    display: block;
    text-decoration: none;
  }

  figure {
    @include rem(margin-bottom, 10px);
    @include rem(margin-right, 15px);
    @include rem(max-height, 100px);
    @include rem(max-width, 100px);
    @include rem(padding-top, 10px);
    float: left;
    margin-left: 0;
    margin-top: 0;
    overflow: hidden;
    text-align: center;
  }

  img {
    display: block;
    float: none;
    margin: 0 auto;
    max-width: 100%;
  }

  strong {
    @include rem(font-size, 16px);
    color: $darkblue;
    display: block;
    font-weight: $light;
  }

  p {
    @include rem(font-size, 14px);
    @include rem(margin-left, 115px);
    color: $midgray;
    padding: 0;
    width: auto;
  }

  @include breakpoint(0) {
    img {
      margin: 0 auto 0 -33%;
      max-height: 100%;
      max-width: 200%;
    }
  }

  @include breakpoint(tablet) {
    img {
      margin-left: auto;
    }
  }

  @include breakpoint(desktop) {
    @include rem(padding-top, 60px);
    img {
      margin: 0 auto;
      max-width: 100%;
    }

    p {
      margin-left: 0;
    }

    li {
      @include rem(padding-bottom, 60px);
      border: 0;
      float: left;
      width: 25%;
    }

    li:nth-child(4n+1) {
      clear: left;
    }

    a {
      @include rem(padding, 0 10px);
    }

    figure {
      @include rem(max-height, 220px);
      float: none;
      height: auto;
      margin-right: 0;
      max-width: 100%;
    }

    strong,
    p {
      text-align: center;
    }
  }
}

[role="main"] .feature-listing {
  @extend .listing;

  li {
    border-top: 0 none;
    text-align: center;
  }

  figure {
    @include rem(max-height, 300px);
    float: none;
    margin-right: 0;
    max-width: 100%;
    text-align: center;
  }

  img {
    float: none;
  }

  strong {
    @include rem(font-size, 20px);
    text-align: left;
  }

  p {
    @include rem(padding, 0 0 30px);
    margin-left: 0;
    text-align: left;
  }

  @include breakpoint(desktop) {
    li {
      width: 50%;
    }

    li:nth-child(4n+1) {
      clear: none;
    }

    li:nth-child(2n+1) {
      clear: left;
    }

    strong {
      @include rem(font-size, 24px);
      @include rem(padding, 15px 0);
      text-align: center;
    }

    p {
      padding-left: 15%;
      padding-right: 15%;
    }
  }
}

[role="main"] .feature-listing-3 {
  @extend .feature-listing;

  strong {
    line-height: 1.3;
    padding-top: 0;
    text-align: left;
  }

  p {
    padding: 0;
    text-align: left;
  }

  @include breakpoint(desktop) {
    li {
      width: 33%;
    }

    li:nth-child(2n+1) {
      clear: none;
    }

    li:nth-child(3n+1) {
      clear: left;
    }

    strong {
      text-align: center;
    }

    p {
      @include rem(padding, 15px);
      text-align: center;
    }
  }
}

[role="main"] .hero-listing {
  @extend .feature-listing;
  padding-left: 3%;
  padding-right: 3%;
  width: 94%;

  li {
    max-width: 100%;
    position: relative;
  }

  h2 {
    @include rem(margin-bottom, 30px);
    background-size: cover;
    max-width: 100%;
    padding: 0;
    position: relative;
  }

  a {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
  }

  figure {
    @include rem(max-height, 500px);
    margin: 0;
  }

  .inner {
    background-color: rgba($black, .6);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000,endColorstr=#7f000000);
    margin: 0;
    max-width: 100%;
    padding: 3%;
    @include rem(padding-bottom, 15px);
    @include rem(padding-top, 60px);

    @include breakpoint(0) {
      filter: none;
    }

    strong {
      @include rem(font-size, 40px);
      @include rem(padding-top, 30px);
      color: $white;
      line-height: 1.1;
    }

    p {
      @include rem(font-size, 18px);
      color: $white;
      font-weight: $thin;
      max-width: 100%;
      padding: 0;
    }
  }

  @include breakpoint(desktop) {
    li {
      padding-bottom: 0;
      width: 100%;
    }

    .inner {
      padding: 10% 20%;

      strong {
        @include rem(font-size, 60px);
        line-height: 1.2;
      }

      p {
        @include rem(font-size, 24px);
        text-align: center;
      }
    }
  }
}

[role="main"] .selector-listing-3 {
  @extend .feature-listing-3;
  @include rem(margin, 30px 0);
  background-color: transparent;
  border: 0 none;
  padding: 0 3%;
  width: 94%;

  li {
    @include rem(margin-bottom, 30px);
    @include rem(margin-top, 30px);
    background-color: $midblue;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
  }

  p {
    @include rem(margin, 15px 0 0);
    @include rem(padding-bottom, 15px);
    background-color: transparent;
    color: $white;
    padding-top: 0;
    text-align: center;
  }

  strong {
    @include rem(font-size, 15px);
    @include rem(letter-spacing, 1px);
    @include rem(margin, 0 30px 15px);
    @include rem(padding, 30px 0);
    background-color: transparent;
    border-bottom: 1px solid $white;
    color: $white;
    font-weight: $regular;
    position: relative;
    text-align: center;
    text-transform: uppercase;

    span {
      @include vertical-align;
      left: 0;
      position: absolute;
      top: 50%;
      width: 100%;
    }
  }

  a {
    @include rem(padding-bottom, 30px);
    position: relative;

    &:hover {
      background-color: darken($midblue, 3%);

      .button-small {
        background-color: darken($brand, 5%);
      }
    }
  }

  span {
    background-color: transparent;
  }

  @include breakpoint(desktop) {
    float: none;
    margin-left: auto;
    margin-right: auto;
    max-width: $w-lge;

    li {
      background-color: $midblue;
      margin-left: 2%;
      margin-right: 2%;
      width: 30.333%;

      &:first-child {
        margin-left: 0;
      }

      &:first-child + li + li {
        margin-right: 0;
      }
    }

    p {
      @include rem(margin-left, 30px);
      @include rem(margin-right, 30px);
      padding-left: 0;
      padding-right: 0;
      text-align: left;
    }

    strong {
      @include rem(height, 120px);
      padding-left: 5%;
      padding-right: 5%;
    }

    a {
      @include rem(min-height, 360px);
      @include rem(padding-bottom, 15px);
    }

    .button-small {
      @include horizontal-align;
      @include rem(bottom, 30px);
      display: inline-block;
      left: 50%;
      position: absolute;
    }
  }

  @include breakpoint(wide) {
    padding: 0 10%;
    width: 80%;

    a {
      @include rem(min-height, 345px);
    }
  }
}

[role="main"] .block-listing {
  @extend %clearfix;
  @include rem(margin-bottom, 30px);
  @include rem(margin-top, 30px);
  background-color: transparent;
  border: 0 none;
  margin-left: auto;
  margin-right: auto;
  padding: 0 3%;
  width: 100%;

  li {
    @include rem(margin-bottom, 15px);
    background-color: transparent;
    border: 1px solid rgba($black, .15);
    box-shadow: 0 0 9px -3px rgba($black, .3);
    color: $black;
    float: left;
    list-style-type: none;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding: 0;
    width: 100%;
  }

  p {
    @include rem(font-size, 14px);
    @include rem(padding, 15px 25px 0);
    background-color: transparent;
    color: inherit;
    margin: 0;
    text-align: left;
  }

  strong {
    @include rem(font-size, 22px);
    @include rem(padding, 15px 25px 0);
    background-color: transparent;
    color: inherit;
    display: block;
    font-weight: $regular;
    line-height: 1.2;
    text-align: left;
  }

  a {
    color: $black;
    padding: 0;
    text-decoration: none;
  }

  .meta {
    @include rem(font-size, 12px);
    @include rem(margin, 15px);
    @include rem(padding, 10px 10px 20px);
    background-color: inherit;
    border-top: 1px solid $black;
    color: inherit;

    .meta-left {
      float: left;
    }

    .meta-right {
      float: right;
      font-style: normal;
      text-transform: uppercase;
    }
  }

  .when {
    @include rem(font-size, 18px);
    @include rem(padding, 10px 25px 0);
    color: $salmon;
    font-weight: $regular;
    line-height: 1.4;
    text-align: left;

    time {
      @include rem(font-size, 26px);
      display: block;
      font-weight: $bold;
      padding-bottom: 0;
      padding-top: 0;
    }
  }

  .range {
    line-height: 2.8;
    margin-bottom: 0;

    time {
      @include rem(font-size, 18px);
      font-weight: $regular;

      &:first-child::after {
        @include rem(width, 30px);
        border-bottom: 3px solid $salmon;
        content: '';
        display: block;
      }
    }
  }

  .event {
    background-color: $black;
    color: $white;

    strong {
      @include rem(font-size, 24px);
      @include rem(margin-bottom, 30px);
    }

    .meta {
      border-top: 0 none;
    }
  }

  .block-container {
    display: block;
  }

  .double {
    .block-container {
      background-color: rgba($black, .6);
      color: $white;

      &:hover .button-hero-inverse {
        background-color: $white;
        color: $black;
      }
    }

    strong {
      @include rem(font-size, 40px);
      font-weight: $thin;
      line-height: 1.1;
      margin-bottom: 0;
    }

    .button-hero-inverse {
      @include rem(margin-left, 25px);
    }
  }

  @include breakpoint(desktop) {
    @include rem(max-width, $w-lge);
    li {
      margin-bottom: 1%;
      margin-left: 0;
      margin-right: 1%;
      margin-top: 0;
      width: 49%;
    }

    .block-container {
      @include rem(min-height, 440px);
      display: block;
      position: relative;
    }

    .meta {
      bottom: 0;
      left: 0;
      padding-bottom: 0;
      position: absolute;
      width: 94%;
    }

    .range time {
      display: block;
    }

    .event strong {
      padding-top: 0;
    }

    .double {
      width: 49%;

      strong {
        @include rem(padding, 60px 30px 30px);
        line-height: 1;
      }

      p {
        @include rem(padding, 0 30px 15px);
        @include rem(font-size, 20px);
        line-height: 1.4;
      }

      .button-hero-inverse {
        @include rem(margin-left, 30px);
      }
    }
  }

  @include breakpoint(wide) {
    li {
      width: 24%;
    }

    .meta {
      width: 92%;
    }

    .when {
      @include rem(margin-bottom, 30px);
    }

    .double {
      width: 49%;

      strong {
        @include rem(font-size, 54px);
        @include rem(padding, 60px 60px 30px);
        line-height: 1.2;
      }

      p {
        @include rem(padding, 0 60px 30px);
        line-height: 1.3;
      }

      .button-hero-inverse {
        @include rem(margin-left, 60px);
      }
    }
  }

  @include breakpoint($w-lge) {
    max-width: 1414px;
    padding: 0;

    li {
      width: 19%;
    }

    .double {
      width: 39%;
    }
  }
}

.noborder {
  border: 0;
}

.tight {
  padding-bottom: 0;
  padding-top: 0;
}
