.listing {
  @extend %fix-padding;
  @include rem(padding-bottom, 30px);
  @include rem(padding-left, 15px);
  @include rem(padding-right, 15px);
  background-color: $lightgray;
  border-bottom: 1px solid darken($lightgray, 5%);
  border-top: 1px solid darken($lightgray, 5%);
  margin: 0;
  li {
    @include rem(margin-top, 10px);
    @include rem(min-height, 100px);
    @include rem(padding-top, 10px);
    border-top: 1px solid darken($lightgray, 5%);
    list-style-type: none;
    margin-bottom: 0;
    padding-bottom: 0;
    &:first-child {
      border-top: 0 none;
    }
  }
  a {
    display: block;
    text-decoration: none;
  }
  figure {
    @include rem(margin-bottom, 10px);
    @include rem(margin-right, 20px);
    @include rem(max-height, 100px);
    @include rem(max-width, 100px);
    float: left;
    margin-left: 0;
    margin-top: 0;
    overflow: hidden;
    text-align: center;
  }
  img {
    display: block;
    float: left;
    margin: 0 auto;
    max-width: 100%;
  }
  strong {
    @include rem(font-size, 16px);
    color: $darkblue;
    display: block;
    font-weight: $light;
  }
  p {
    @include rem(font-size, 14px);
    color: $midgray;
    padding-bottom: 0;
  }

  @include breakpoint(desktop) {
    @include rem(padding-top, 60px);
    float: left;
    padding-left: 10%;
    padding-right: 10%;
    width: 80%;
    li {
      @include rem(padding-bottom, 60px);
      border: 0;
      float: left;
      width: 25%;
    }
    li:nth-child(4n+1) {
      clear: left;
    }
    a {
      @include rem(padding, 0 10px);
    }
    figure {
      @include rem(max-height, 220px);
      float: none;
      height: auto;
      margin-right: 0;
      max-width: 100%;
    }
    strong, p {
      text-align: center;
    }
  }
}

.feature-listing {
  @extend .listing;
  li {
    border-top: 0 none;
    text-align: center;
  }
  figure {
    @include rem(max-height, 300px);
    float: none;
    margin-right: 0;
    max-width: 100%;
    text-align: center;
  }
  img {
    float: none;
  }
  strong {
    @include rem(font-size, 20px);
    @include rem(padding, 15px 0);
  }
  p {
    @include rem(padding-bottom, 30px);
  }

  @include breakpoint(desktop) {
    li {
      width: 50%;
    }
    li:nth-child(4n+1) {
      clear: none;
    }
    li:nth-child(2n+1) {
      clear: left;
    }
    strong {
      @include rem(font-size, 24px);
    }
    p {
      padding-left: 15%;
      padding-right: 15%;
    }
  }
}

.feature-listing-3 {
  @extend .feature-listing;

  @include breakpoint(desktop) {
    li {
      width: 33%;
    }
    li:nth-child(2n+1) {
      clear: none;
    }
    li:nth-child(3n+1) {
      clear: left;
    }
  }
}

.hero-listing {
  @extend .feature-listing;
  -moz-box-sizing: content-box;

  li {
    position: relative;
  }
  a {
    background-size: cover;
    -ms-behavior: url(/assets/javascripts/backgroundsize.min.htc);
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
  }
  figure {
    @include rem(max-height, 500px);
    margin: 0;
  }
  .inner {
    background-color: rgba($black, 0.6);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000,endColorstr=#7f000000);
    margin: 0;
    max-width: 100%;
    padding: 3%;
    strong {
      @include rem(font-size, 40px);
      @include rem(padding-top, 30px);
      color: $white;
      line-height: 1.1;
    }
    p {
      @include rem(font-size, 18px);
      color: $white;
      font-weight: $thin;
      padding: 0;
    }
  }

  @include breakpoint(desktop) {
    li {
      padding-bottom: 0;
      width: 100%;
    }
    .inner {
      padding: 10% 20%;
      strong {
        @include rem(font-size, 60px);
        line-height: 1.2;
      }
      p {
        @include rem(font-size, 24px);
      }
    }
  }
}
