// Helpers for absolute alignment
@mixin horizontal-align {
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
}

@mixin vertical-align {
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}

.listing {
  @include rem(padding-bottom, 30px);
  @include rem(padding-left, 15px);
  @include rem(padding-right, 15px);
  background-color: $lightgray;
  border-bottom: 1px solid darken($lightgray, 5%);
  border-top: 1px solid darken($lightgray, 5%);
  margin: 0;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  li {
    @include rem(margin-top, 10px);
    @include rem(min-height, 100px);
    @include rem(padding-top, 10px);
    border-top: 1px solid darken($lightgray, 5%);
    list-style-type: none;
    margin-bottom: 0;
    padding-bottom: 0;
    &:first-child {
      border-top: 0 none;
    }
  }
  a {
    display: block;
    text-decoration: none;
  }
  figure {
    @include rem(margin-bottom, 10px);
    @include rem(margin-right, 20px);
    @include rem(max-height, 100px);
    @include rem(max-width, 100px);
    float: left;
    margin-left: 0;
    margin-top: 0;
    overflow: hidden;
    text-align: center;
  }
  img {
    display: block;
    float: none;
    margin: 0 auto;
    max-width: 100%;
  }
  strong {
    @include rem(font-size, 16px);
    color: $darkblue;
    display: block;
    font-weight: $light;
  }
  p {
    @include rem(font-size, 14px);
    @include rem(margin-left, 120px);
    color: $midgray;
    padding-bottom: 0;
  }

  @include breakpoint(0) {
    img {
      margin: 0 auto 0 -33%;
      max-height: 100%;
      max-width: 200%;
    }
  }

  @include breakpoint(tablet) {
    img {
      margin-left: auto;
    }
  }

  @include breakpoint(desktop) {
    @include rem(padding-top, 60px);
    float: left;
    padding-left: 10%;
    padding-right: 10%;
    width: 80%;
    img {
      margin: 0 auto;
      max-width: 100%;
    }
    p {
      margin-left: 0;
    }
    li {
      @include rem(padding-bottom, 60px);
      border: 0;
      float: left;
      width: 25%;
    }
    li:nth-child(4n+1) {
      clear: left;
    }
    a {
      @include rem(padding, 0 10px);
    }
    figure {
      @include rem(max-height, 220px);
      float: none;
      height: auto;
      margin-right: 0;
      max-width: 100%;
    }
    strong, p {
      text-align: center;
    }
  }
}

.feature-listing {
  @extend .listing;
  li {
    border-top: 0 none;
    text-align: center;
  }
  figure {
    @include rem(max-height, 300px);
    float: none;
    margin-right: 0;
    max-width: 100%;
    text-align: center;
  }
  img {
    float: none;
  }
  strong {
    @include rem(font-size, 20px);
    @include rem(padding, 15px 0);
  }
  p {
    @include rem(padding-bottom, 30px);
    margin-left: 0;
  }

  @include breakpoint(desktop) {
    li {
      width: 50%;
    }
    li:nth-child(4n+1) {
      clear: none;
    }
    li:nth-child(2n+1) {
      clear: left;
    }
    strong {
      @include rem(font-size, 24px);
    }
    p {
      padding-left: 15%;
      padding-right: 15%;
    }
  }
}

.feature-listing-3 {
  @extend .feature-listing;

  strong {
    line-height: 1.3;
  }

  @include breakpoint(desktop) {
    li {
      width: 33%;
    }
    li:nth-child(2n+1) {
      clear: none;
    }
    li:nth-child(3n+1) {
      clear: left;
    }
  }
}

.hero-listing {
  @extend .feature-listing;
  li {
    position: relative;
  }
  h2 {
    @include rem(margin-bottom, 30px);
    background-size: cover;
    padding: 0;
    position: relative;
  }
  a {
    background-size: cover;
    -ms-behavior: url(/assets/javascripts/backgroundsize.min.htc);
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
  }
  figure {
    @include rem(max-height, 500px);
    margin: 0;
  }
  .inner {
    background-color: rgba($black, 0.6);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000,endColorstr=#7f000000);
    margin: 0;
    max-width: 100%;
    padding: 3%;
    strong {
      @include rem(font-size, 40px);
      @include rem(padding-top, 30px);
      color: $white;
      line-height: 1.1;
    }
    p {
      @include rem(font-size, 18px);
      color: $white;
      font-weight: $thin;
      padding-left: 0;
      padding-right: 0;
      padding-top: 0;
      padding: 0;
    }
  }

  @include breakpoint(desktop) {
    li {
      padding-bottom: 0;
      width: 100%;
    }
    .inner {
      padding: 10% 20%;
      strong {
        @include rem(font-size, 60px);
        line-height: 1.2;
      }
      p {
        @include rem(font-size, 24px);
      }
    }
  }
}

.selector-listing {
  @extend .feature-listing-3;
  @include rem(margin, 30px 0);
  background-color: transparent;
  border: 0 none;
  padding: 0 3%;
  width: 94%;

  li {
    @include rem(margin-bottom, 2px);
    background-color: $midblue;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding: 0;
    width: 100%;
  }
  p {
    @include rem(margin, 15px 30px 0);
    @include rem(padding-bottom, 15px);
    background-color: transparent;
    color: $white;
    padding-top: 0;
    text-align: left;
  }
  strong {
    @include rem(font-size, 15px);
    @include rem(height, 120px);
    @include rem(letter-spacing, 1px);
    @include rem(margin, 0 30px 15px);
    color: $white;
    background-color: transparent;
    border-bottom: 1px solid $white;
    font-weight: $regular;
    position: relative;
    text-transform: uppercase;
    span {
      @include vertical-align;
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
    }
  }
  a {
    @include rem(padding-bottom, 15px);
    position: relative;
    &:hover {
      background-color: darken($midblue, 3%);
      .button-small {
        background-color: darken($brand, 5%);
      }
    }
  }
  span {
    background-color: transparent;
  }

  @include breakpoint(desktop) {
    li {
      background-color: $midblue;
      margin: 0 2%;
      width: 29%;
    }
    p {
      padding-left: 0;
      padding-right: 0;
    }
    strong {
      padding-left: 5%;
      padding-right: 5%;
    }
    a {
      @include rem(min-height, 320px);
    }
    .button-small {
      @include horizontal-align;
      @include rem(bottom, 30px);
      display: inline-block;
      left: 50%;
      position: absolute;
    }
  }
  @include breakpoint(wide) {
    padding: 0 10%;
    width: 80%;
    a {
      @include rem(min-height, 345px);
    }
  }
}

.noborder {
  border: 0;
}

.tight {
  padding-bottom: 0;
  padding-top: 0;
}
