header.image style="background-image: url(#{asset_path('components/headers/assets/alan_gilbert.jpg')});"
	.bottom-align-flat
		h1 In congue definiebas
		p Pro id alienum epicurei, nam ne legimus vivendum lobortis