.uomcontent [role="main"] article header,
.uomcontent [role="main"] article header:first-child {
  @extend .banner;
  position: relative;

  h1,
  p {
    @include rem(max-width, $w-mid);
    @include rem(padding-left, 20px);
    @include rem(padding-right, 20px);
  }

  h1 {
    // font-family: $ff-serif;
    font-weight: $bold;
  }

  .bottom-align {
    @include padding-trailer(2);
    position: relative;
  }
}

.ie, .ie8, .ie9, .ie10 {
  .uomcontent article header,
  .uomcontent article header:first-child {
    .bottom-align {
      position: absolute;
    }
  }
}
