%bannerbox {
  @include flexbox((
    display: box,
    box-orient: vertical
  ), $version: 1);
  @include flexbox((
    display: flexbox,
    flex-direction: row
  ), $version: 2);
  @include flexbox((
    display: flex,
    flex-direction: row
  ));
  @include flex-wrap(wrap);
}

.uomcontent {
  & > article:first-child {
    padding-top: 0;
  }

  header,
  & > header:first-child {
    @include padding-leader(1);
    @include padding-trailer(1);
    background-color: $navy;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: $white;
    width: 100%;

    &.solid-black {
      background-color: $black;
    }

    &.solid-paleblue {
      background-color: $paleblue;
      color: $black;
    }

    &.image {
      @extend %bannerbox;
      @include rem(min-height, 300px);

      & > h1,
      & > p,
      & > div {
        @include flex-basis(100%);
      }

      & > h1,
      & > p {
        @include padding-trailer(2);
        @include rem(max-width, $w-mid);
        @include rem(padding-left, 20px);
        @include rem(padding-right, 20px);
        text-align: center;
      }
    }

    &.banner {
      @extend %bannerbox;
      @include rem(min-height, 300px);
      height: auto;

      @include breakpoint(height-small) {
        @include rem(min-height, 650px);
      }

      @include breakpoint(height-medium) {
        @include rem(min-height, 720px);
      }

      @include breakpoint(height-big) {
        @include rem(min-height, 800px);
      }

      @include breakpoint(desktop) {
        h1 {
          @include adjust-font-size-to(50px);
        }
      }
      @include breakpoint(wide) {
        h1 {
          @include adjust-font-size-to(60px);
        }
      }
    }

    &.with-box {
      padding: 0;

      @include breakpoint(tablet) {
        @include rem(padding-bottom, 30px);
        @include rem(padding-top, 30px);
      }
    }

    h1 {
      @include adjust-font-size-to(33px);
      @include padding-trailer(0);
      @include rem(max-width, $w-sml);
      font-weight: $thin;
      margin: 0 auto;
      text-align: left;

      @include breakpoint(desktop) {
        @include adjust-font-size-to(45px);
      }

      @include breakpoint(wide) {
        @include adjust-font-size-to(55px);
      }
    }

    p {
      @include padding-trailer(0);
      @include rem(max-width, $w-sml);
      font-weight: $thin;
      margin: 0 auto;

      @include breakpoint(desktop) {
        @include adjust-font-size-to(20px);
        @include padding-leader(1);
      }

      @include breakpoint(wide) {
        @include adjust-font-size-to(24px);
      }
    }

    & + hr.spacer {
      margin-top: 0;
    }

    @include breakpoint(desktop) {
      @include padding-leader(2);
      @include padding-trailer(2);
      overflow: hidden;
    }
  }
}


.uomcontent .floating + [role="main"] {
  header,
  & > header:first-child {
    @include rem(padding-top, 100px);

    @include breakpoint(desktop) {
      @include rem(padding-top, 180px);
    }
  }
}

.ie9 {
  .uomcontent header,
  & > header:first-child {
    display: table;
    position: relative;
    width: 100%;

    &.image > p {
      padding-bottom: 200px;
    }
  }
}