%bannerbox {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.uomcontent [role="main"] {
  & > article:first-child {
    padding-top: 0;
  }

  header,
  & > header:first-child {
    @include padding-leader(1);
    @include padding-trailer(1);
    background-color: $navy;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: $white;
    width: 100%;

    &.reverse {
      color: $black;
    }

    &.solid-black {
      background-color: $black;
    }

    &.solid-paleblue {
      background-color: $paleblue;
      color: $black;
    }

    &.image {
      @extend %bannerbox;
      @include rem(min-height, 300px);
      height: auto;

      & > h1,
      & > p,
      & > div {
        @include flex-basis(100%);
      }

      & > h1,
      & > p {
        @include padding-trailer(2);
        @include rem(max-width, $w-mid);
        @include rem(padding-left, 20px);
        @include rem(padding-right, 20px);
        text-align: center;
      }

      &.with-filters {
        height: auto;
      }
    }

    &.banner {
      @extend %bannerbox;
      @include rem(min-height, 300px);
      height: auto;

      @include breakpoint(height-smallest) {
        @include rem(min-height, 520px);
      }

      @include breakpoint(height-small) {
        @include rem(min-height, 620px);
      }

      @include breakpoint(height-medium) {
        @include rem(min-height, 720px);
      }

      @include breakpoint(height-big) {
        @include rem(min-height, 800px);
      }

      @include breakpoint(desktop) {
        h1 {
          @include adjust-font-size-to(50px);
        }
      }
      @include breakpoint(wide) {
        h1 {
          @include adjust-font-size-to(60px);
        }
      }
    }

    &.with-box {
      display: table;
      padding: 0;

      @include breakpoint(tablet) {
        @include rem(padding-bottom, 30px);
        @include rem(padding-top, 30px);
      }
    }

    h1 {
      @include adjust-font-size-to(33px);
      @include padding-trailer(0);
      @include rem(max-width, $w-sml);
      font-weight: $thin;
      margin: 0 auto;
      text-align: left;

      @include breakpoint(desktop) {
        @include adjust-font-size-to(45px);
      }

      @include breakpoint(wide) {
        @include adjust-font-size-to(55px);
      }
    }

    p {
      @include rem(max-width, $w-sml);
      font-weight: $thin;
      margin: 0 auto;

      @include breakpoint(desktop) {
        @include adjust-font-size-to(20px);
        @include padding-leader(1);
      }

      @include breakpoint(wide) {
        @include adjust-font-size-to(24px);
      }
    }

    p.author {
      @include adjust-font-size-to(18px);
      @include padding-leader(1);
      @include trailer(-1);
      font-style: italic;

      &:before {
        @include leader(0);
        @include trailer(1);
        @include rem(width, 80px);
        border-top: 2px solid currentColor;
        content: '';
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    }

    & + hr.spacer {
      margin-top: 0;
    }

    @include breakpoint(desktop) {
      @include padding-leader(2);
      @include padding-trailer(2);
      // overflow: hidden;
    }
  }
}

.uomcontent [role="main"] .contrast-helper {
  background-color: $midblue;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 0;
  position: relative;

  header {
    background-color: rgba($black, .5);
  }

  &.no-filter header {
    background-color: transparent;
  }
  &.filter-blue header {
    background-color: rgba($highlight, .5);
  }
  &.filter-green header {
    background-color: rgba($green, .5);
  }
  &.filter-yellow header {
    background-color: rgba(#fff000, .5);
  }
  &.filter-red header {
    background-color: rgba($cherry, .5);
  }

  .stage {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    canvas {
      margin: 0 auto;
    }
  }
}

.uomcontent .floating + [role="main"] {
  header,
  & > header:first-child {
    @include rem(padding-top, 100px);

    @include breakpoint(desktop) {
      @include rem(padding-top, 180px);
    }
  }
}

.ie .uomcontent [role="main"] .contrast-helper header {
  background-color: transparent;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7f000000', endColorstr='#7f000000', GradientType=1); // /* IE6-9 */
}

.ie9 {
  .uomcontent {
    header,
    & > header:first-child {
      display: block;
      position: relative;
      width: 100%;

      &.image > p {
        padding-bottom: 200px;
      }
    }
    header.image, header.banner {
      display: table;
    }
  }
}

.ie10 .uomcontent [role="main"],
.ie11 .uomcontent [role="main"] {
  header,
  & > header:first-child {
    &.image {
      @include rem(height, 300px);

      &.with-filters {
        height: auto;
      }
    }

    &.banner {
      @include rem(height, 300px);

      @include breakpoint(height-smallest) {
        @include rem(height, 520px);
      }

      @include breakpoint(height-small) {
        @include rem(height, 620px);
      }

      @include breakpoint(height-medium) {
        @include rem(height, 720px);
      }

      @include breakpoint(height-big) {
        @include rem(height, 800px);
      }
    }
  }
}
