.uomcontent [role="main"] {
  header {
    .mid-align {
      @include align-self(center);
      padding-bottom: 0;
      position: relative;
      text-align: center;
      vertical-align: middle;
      width: 100%;

      h1 {
        text-align: center;
      }

      p {
        @include padding-trailer(0);
        text-align: center;
      }
    }
  }
}

.ie9 {
  .uomcontent [role="main"] header .mid-align,
  & > header:first-child .mid-align {
    display: table-cell;
  }
}

// .ie10 {
//   .uomcontent [role="main"] header.banner {
//     display: table-cell;
//     vertical-align: middle;
//     width: 9999px;
//   }
// }
