section
  video autoplay="" loop="" preload="auto" poster=(asset_path('components/headers/assets/on-the-waterfront.jpg')) style="width:100%"
    source src=(asset_path('components/headers/assets/on-the-waterfront.mp4')) type="video/mp4"
    source src=(asset_path('components/headers/assets/on-the-waterfront.ogv')) type="video/ogg"
