.uomcontent .block-listing {
  @extend %clearfix;
  @include rem(margin-bottom, 30px);
  @include rem(margin-top, 30px);
  background-color: transparent;
  border: 0 none;
  margin-left: auto;
  margin-right: auto;
  padding: 0 3%;
  width: 100%;

  li {
    @include rem(margin-bottom, 15px);
    background-color: transparent;
    border: 1px solid rgba($black, .15);
    box-shadow: 0 0 9px -3px rgba($black, .3);
    color: $black;
    float: left;
    list-style-type: none;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding: 0;
    width: 100%;
  }

  p {
    @include rem(font-size, 13px);
    @include rem(padding, 15px 25px 0);
    background-color: transparent;
    color: inherit;
    line-height: 1.5;
    margin: 0;
    text-align: left;
  }

  strong {
    @include rem(font-size, 20px);
    @include rem(padding, 15px 25px 0);
    background-color: transparent;
    color: inherit;
    display: block;
    font-weight: $regular;
    line-height: 1.5;
    text-align: left;
  }

  a {
    color: $black;
    padding: 0;
    text-decoration: none;
  }

  .meta {
    @include rem(font-size, 12px);
    @include rem(margin, 15px);
    @include rem(padding, 10px 10px 20px);
    background-color: inherit;
    border-top: 1px solid $black;
    color: inherit;

    .meta-left {
      float: left;
    }

    .meta-right {
      float: right;
      font-style: normal;
      text-transform: uppercase;
    }
  }

  .when {
    @include rem(font-size, 18px);
    @include rem(padding, 10px 25px 0);
    color: $salmon;
    font-weight: $regular;
    line-height: 1.4;
    text-align: left;

    time {
      @include rem(font-size, 26px);
      display: block;
      font-weight: $bold;
      padding-bottom: 0;
      padding-top: 0;
    }
  }

  .range {
    line-height: 2.8;
    margin-bottom: 0;

    time {
      @include rem(font-size, 18px);
      font-weight: $regular;

      &:first-child::after {
        @include rem(width, 30px);
        border-bottom: 3px solid $salmon;
        content: '';
        display: block;
      }
    }
  }

  .event {
    background-color: $black;
    color: $white;

    strong {
      @include rem(font-size, 24px);
      @include rem(margin-bottom, 30px);
    }

    .meta {
      border-top: 0 none;
    }
  }

  .block-container {
    display: block;
  }

  .double {
    .block-container {
      background-color: rgba($black, .6);
      color: $white;

      &:hover .button-hero-inverse {
        background-color: $white;
        color: $black;
      }
    }

    strong {
      @include rem(font-size, 40px);
      font-weight: $thin;
      line-height: 1.1;
      margin-bottom: 0;
    }

    .button-hero-inverse {
      @include rem(margin-left, 25px);
    }
  }

  @include breakpoint(tablet) {
    @include rem(max-width, $w-lge);
    li {
      margin-bottom: 1%;
      margin-left: 0;
      margin-right: 1%;
      margin-top: 0;
      width: 49%;
    }

    .block-container {
      @include rem(min-height, 440px);
      display: block;
      position: relative;
    }

    .meta {
      bottom: 0;
      left: 0;
      padding-bottom: 0;
      position: absolute;
      width: 94%;
    }

    .range time {
      display: block;
    }

    .event strong {
      padding-top: 0;
    }

    .double {
      width: 49%;

      strong {
        @include rem(padding, 60px 30px 30px);
        line-height: 1;
      }

      p {
        @include rem(padding, 0 30px 15px);
        @include rem(font-size, 20px);
        line-height: 1.4;
      }

      .button-hero-inverse {
        @include rem(margin-left, 30px);
      }
    }
  }

  @include breakpoint(wide) {
    li {
      width: 24%;
    }

    .meta {
      width: 92%;
    }

    .when {
      @include rem(margin-bottom, 30px);
    }

    .double {
      width: 49%;

      strong {
        @include rem(font-size, 54px);
        @include rem(padding, 60px 60px 30px);
        line-height: 1.1;
      }

      p {
        @include rem(padding, 0 60px 30px);
        line-height: 1.3;
      }

      .button-hero-inverse {
        @include rem(margin-left, 60px);
      }
    }
  }

  @include breakpoint($w-lge) {
    max-width: 1414px;
    padding: 0;

    li {
      width: 19%;
    }

    .double {
      width: 39%;
    }
  }
}

.uomcontent [role="main"] .block-listing {
  .crop-height {
    img {
      display: block;
      height: auto;
      -ms-interpolation-mode: bicubic;
      width: 100%;
    }

    @include breakpoint(wide) {
      img {
        max-height: 100%;
        max-width: none;
        width: auto;
      }
    }

    @include breakpoint(desktop) {
      height: 180px;
      overflow: hidden;

      img {
      }
    }
  }

  li {
    border-bottom: 4px solid $cta;
  }

  .event {
    background-color: $white;
    border-bottom: 4px solid $highlight;
    color: $black;

    .when {
      color: $highlight;
    }

    .meta {
      border-top: 0 none;
      margin-top: 0;
    }
  }

  @include breakpoint(desktop) {
    .event .crop-height::before {
      @include rem(height, 50px);
      @include rem(margin-top, -20px);
      background: -moz-linear-gradient(to top, rgba(255, 255, 255, 1) 25%, rgba(255, 255, 255, 0) 100%);
      background: -ms-linear-gradient(to top, rgba(255, 255, 255, 1) 25%, rgba(255, 255, 255, 0) 100%);
      background: -webkit-linear-gradient(to top, rgba(255, 255, 255, 1) 25%, rgba(255, 255, 255, 0) 100%);
      background: linear-gradient(to top, rgba(255, 255, 255, 1) 25%, rgba(255, 255, 255, 0) 100%);
      content: ' ';
      display: block;
      position: relative;
      width: 100%;
    }

    .news .meta::before {
      @include rem(height, 80px);
      @include rem(margin-bottom, 9px);
      @include rem(margin-top, -91px);
      background: -moz-linear-gradient(to top, rgba(255, 255, 255, 1) 25%, rgba(255, 255, 255, 0) 100%);
      background: -ms-linear-gradient(to top, rgba(255, 255, 255, 1) 25%, rgba(255, 255, 255, 0) 100%);
      background: -webkit-linear-gradient(to top, rgba(255, 255, 255, 1) 25%, rgba(255, 255, 255, 0) 100%);
      background: linear-gradient(to top, rgba(255, 255, 255, 1) 25%, rgba(255, 255, 255, 0) 100%);
      content: ' ';
      display: block;
      width: 100%;
    }

    .top-unit {
      @include rem(max-height, 395px);
      overflow: hidden;
    }

    .double .top-unit {
      @include rem(max-height, 430px);
    }

    .mid-unit {
      height: 90px;
    }
 }

  .news a:hover {
    color: inherit;
  }

  &.narrow {
    li {
      @include transition(transform 0.15s);
      background-color: $white;
      position: relative;

      &:hover {
        @include transform(scale(1.03));
        z-index: 100;

        p,
        strong {
          color: $highlight;
        }
      }

      &.double {
        background-repeat: no-repeat;
        background-size: cover;

        p,
        strong {
          color: $white;
        }
      }

      &.newshero {
        @include rem(min-height, 300px);

        a {
          background-color: transparent;
        }

        strong {
          @include adjust-font-size-to(22px);
          @include rem(padding, 10px);
          background-color: rgba($highlight, .8);
          bottom: 0;
          font-weight: $regular;
          margin: 0;
          position: absolute;

          em {
            @include adjust-font-size-to(17px);
            font-weight: $thin;
          }

          @include breakpoint(tablet) {
            @include rem(padding, 10px 25px);
            width: 100%
          }

          @include breakpoint(wide) {
            @include adjust-font-size-to(26px);
            @include rem(padding, 20px 25px);
          }
        }

        &.special {
          border-bottom-color: $highlight;

          strong {
            @include rem(padding-bottom, 20px);
            @include rem(padding-left, 30px);
            background-color: transparent;

            em {
              font-weight: $bold;
            }

            span {
              background-color: $white;
              box-shadow: 10px 0 0 $white, -10px 0 0 $white;
              color: $highlight;
              font-weight: $bold;
              line-height: 1.2;

              box-decoration-break: clone;
            }

            @include breakpoint(tablet) {
              @include rem(font-size, 40px);

              span {
                line-height: 1.1;
              }
            }
          }
        }
      }

      &.column {
        background-repeat: no-repeat;
        background-size: cover;

        a {
          @include rem(padding-left, 25px);
          @include rem(padding-right, 25px);
        }

        span {
          @include adjust-font-size-to(20px);
          @include padding-leader(4);
          display: block;
          font-style: normal;
          font-weight: regular;

          svg {
            @include rem(height, 50px);
            @include rem(margin-bottom, -7px);
            @include rem(margin-left, -10px);
            fill: $cyan;
          }
        }

        strong {
          @include adjust-font-size-to(40px);
          background-color: $cyan;
          box-shadow: 10px 0 0 $cyan, -10px 0 0 $cyan;
          color: $white;
          display: inline;
          font-weight: $bold;
          line-height: 1.3;
          padding: 0;

          -webkit-box-decoration-break: clone;
          box-decoration-break: clone;
        }
      }

      strong,
      p {
        @include transition(color 0.15s);
      }

      figure {
        line-height: 0;
        margin: 0;
        padding: 0;
        position: relative;

        &.video-thumb,
        &.audio-thumb {
          &:after {
            @include transition(opacity 0.2s);
            background-color: rgba($black, 0.1);
            background-image: url(/assets/images/pursuit/video-thumb.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: 35%;
            content: '';
            display: block;
            height: 100%;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
          }
        }
        &.audio-thumb:after {
          background-image: url(/assets/images/pursuit/audio-thumb.svg);
        }
      }
    }

    @include breakpoint(tablet) {
      li {
        max-width: 100%;
        width: 49%;
      }

      .double {
        width: 99%;
      }
    }

    @include breakpoint(950px) {
      li {
        width: 32%;
      }

      .double {
        width: 65%;
      }
    }

    @include breakpoint(1280px) {
      li {
        width: 24%;
      }

      .double {
        width: 49%;
      }
    }
  }
}

.uomcontent [role="main"] .block-listing .when.range {
  @include rem(margin-bottom, 13px);

  time:first-child::after {
    border-color: $highlight;
  }
}