.uomcontent .hero-listing {
  @extend .feature-listing;
  padding-left: 3%;
  padding-right: 3%;
  width: 94%;

  li {
    max-width: 100%;
    position: relative;
  }

  h2 {
    @include trailer(1);
    background-size: cover;
    max-width: 100%;
    padding: 0;
    position: relative;
  }

  a {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
  }

  figure {
    @include rem(max-height, 500px);
    margin: 0;
  }

  .inner {
    background-color: rgba($black, .6);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000,endColorstr=#7f000000);
    margin: 0;
    max-width: 100%;
    padding: 3%;
    @include rem(padding-bottom, 15px);
    @include rem(padding-top, 60px);

    @include breakpoint(0) {
      filter: none;
    }

    strong {
      @include adjust-font-size-to(40px);
      @include padding-leader(1);
      color: $white;
      line-height: 1.1;
    }

    p {
      @include adjust-font-size-to(18px);
      color: $white;
      font-weight: $thin;
      max-width: 100%;
      padding: 0;
    }
  }

  @include breakpoint(desktop) {
    li {
      padding-bottom: 0;
      width: 100%;
    }

    .inner {
      padding: 10% 10%;

      strong {
        @include padding-leader(0.5);
      }

      p {
        @include padding-trailer(1);
        text-align: center;
      }
    }
  }
  @include breakpoint(wide) {
    .inner {
      padding: 10% 20%;
    }
  }
}

body.jumpnav-active .uomcontent .hero-listing {
  li {
    width: 100%;
  }
}
