@mixin horizontal-align {
  transform: translateX(-50%);
}

@mixin vertical-align {
  transform: translateY(-50%);
}

@mixin listing {
  @include clearfix;
  @include padding-trailer(2);
  margin: 0 auto;
  max-width: $w-lge;
  padding-left: 0;
  padding-right: 0;

  box-sizing: content-box;

  li {
    @include padding-leader(0.5);
    @include padding-trailer(0.5);
    border-top: 1px solid darken($lightgray, 5%);
    list-style-type: none;
    margin-bottom: 0;
    margin-left: auto;
    overflow: hidden;

    &:first-child {
      border-top: 0 none;
    }
  }

  a {
    display: block;
    text-decoration: none;
  }

  figure {
    @include rem(margin-bottom, 15px);
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
  }

  img {
    display: block;
    float: none;
    margin: 0 auto;
    max-width: 100%;
  }

  strong {
    @include adjust-font-size-to(16px);
    @include adjust-leading-to(1);
    color: $darkblue;
    display: block;
    font-weight: $regular;
  }

  p {
    @include adjust-font-size-to(13px);
    // @include rem(margin-left, 115px);
    color: $midgray;
    padding: 0;
    width: auto;
  }

  @include breakpoint(tablet) {
    img {
      margin-left: 0;
    }
  }

  @include breakpoint(tablet) {
    @include padding-leader(2);
    img {
      max-width: 100%;
    }

    p {
      margin-left: 0;
    }

    li {
      @include padding-trailer(1);
      border: 0;
      display: inline-block;
      vertical-align: top;
      width: 49.5%;
    }

    li:nth-child(4n+1) {
      clear: left;
    }

    a {
      @include rem(padding, 0 10px);
    }

    strong,
    p {
      text-align: left;
    }
  }

  @include breakpoint(desktop) {
    li {
      width: 32.9%;
    }
  }
  @include breakpoint(wide) {
    li {
      width: 24.7%;
    }
  }
}

.uomcontent {
  .listing {
    @include listing;
  }

  .noborder {
    border: 0;
  }

  .tight {
    padding-bottom: 0;
    padding-top: 0;
  }
}

body.jumpnav-active .uomcontent .listing {
  @include breakpoint(wide) {
    li {
      width: 32.9%;
    }
  }

  @include breakpoint(1400px) {
    li {
      width: 24.7%;
    }
  }
}

body.jumpnav-active .uomcontent [role="main"] .pathfinder-4 {
  @include breakpoint(desktop) {
    li {
      display: inline-block;
      height: auto;
      margin-bottom: 1px;
      width: 49.5%;

      &:nth-child(2n+1) {
        padding-left: 0;
        text-align: right;
      }
    }
  }

  @include breakpoint(1400px) {
    li {
      display: table-cell;
      height: 100%;
      width: 25%;

      a {
        display: block;
      }

      p {
        min-width: 0;
      }

      &:nth-child(2n+1) {
        padding-left: 1px;
      }
    }
  }
}
