.uomcontent .navigation-block-listing {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
  max-width: 87.5rem;
  margin: 0 auto;
  padding-left: 3%;
  padding-right: 3%;

  h1.aligned-title {
    padding-bottom: 3rem;
    margin-left: 0;
    max-width: 100%;
  }

  ul,
  h3 {
    max-width: 250rem;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }

  a {
    padding-bottom: .75rem;
    display: block;
  }

  figure {
    margin: 0;
    overflow: hidden;
  }

  & > ul > li {
    & > a,
    & > .with-dropdown > a {
      text-decoration: none;

      h3 {
        text-decoration: underline;
      }
    }
  }

  h3 {
    font-size: 1.25rem;
    line-height: 1.5rem;
    padding-bottom: .75rem;
    font-weight: $regular;

    a {
      padding-bottom: 0;
    }
  }

  p {
    font-size: .875rem;
    line-height: 1.5rem;
    padding-bottom: 3rem;
    border: 0;
    color: $midgray;
    width: 100%;
  }

  ul {
    padding-bottom: 0;
    padding-top: 0;

    li {
      column-break-inside: avoid;
      list-style-type: none;
      margin: 0;
      padding: 0;

      ul {
        padding-bottom: 3rem;
      }
    }

    @include breakpoint(tablet) {
      h3,
      p {
        margin: 0 auto 0 0;
        width: 88%;
      }

      li {
        display: inline-block;
        vertical-align: top;
        width: 49%;

        li {
          display: block;
          margin: 0 auto 0 0;
          width: 88%;
        }
      }
    }

    @include breakpoint(desktop) {
      li {
        width: 32.33%;

        li {
          width: 88%;
        }
      }
    }

    @include breakpoint(wide) {
      li {
        width: 24%;

        li {
          width: 88%;
        }
      }
    }
  }

  ul.wide,
  ul.narrow {
    padding-top: 1.5rem;

    li {
      padding-bottom: 1.5rem;
      margin-bottom: 1.5rem;
    }

    a {
      padding: 0;
    }

    p {
      padding-bottom: 0;
    }

    @include breakpoint(desktop) {
      li {
        width: 32.5%;
      }
    }
  }

  ul.wide {
    li.with-dropdown {
      .styled-select {
        margin-top: 1.5rem;
        margin-left: 0;
        margin-right: 0;
      }

      @include breakpoint(tablet) {
        .styled-select {
          margin-right: auto;
          width: 88%;
        }
      }

      @include breakpoint(desktop) {
        padding-bottom: 0;
      }
    }
  }

  ul.narrow {
    max-width: $w-mid;
    margin-left: auto;
    margin-right: auto;
  }

  &.stacked {
    max-width: $w-sml;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
    width: 94%;

    @include breakpoint(desktop) {
      width: 100%;
    }

    ul {
      h3,
      p {
        width: 100%;
      }

      p {
        padding-bottom: 1.5rem;
      }

      li {
        display: block;
        max-width: none;
        width: 100%;

        p {
          font-size: 1rem;
          line-height: inherit;
        }
      }
    }
  }
}

@mixin navigation-block-listing-fallback {
  @include clearfix;
  margin: 0 auto;

  ul li {
    float: left;
    margin-right: 2%;
    width: 31%;

    li {
      float: none;
      width: 100%;
    }
  }

  // 3 rows, hope that is enough
  ul li:first-child + li + li + li,
  ul li:first-child + li + li + li + li + li + li,
  ul li:first-child + li + li + li + li + li + li + li + li + li {
    clear: left;
  }
}

.ie9 .uomcontent [role="main"] .navigation-block-listing {
  @include navigation-block-listing-fallback;
}
