.uomcontent .navigation-block-listing {
  @include padding-leader(3);
  @include padding-trailer(3);
  @include rem(max-width, 1400px);
  @include rem(padding-left, 25px);
  @include rem(padding-right, 25px);
  margin: 0 auto;

  ul,
  h3 {
    @include rem(max-width, 4000px);
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }

  a {
    @include padding-trailer(0.5);
    display: block;
  }

  & > ul > li {
    & > a,
    & > .with-dropdown > a {
      text-decoration: none;

      h3 {
        text-decoration: underline;
      }
    }
  }

  h3 {
    @include adjust-font-size-to(20px);
    @include padding-trailer(0.5);
    font-weight: $regular;

    a {
      @include padding-trailer(0);
    }
  }

  p {
    @include adjust-font-size-to(14px);
    @include padding-trailer(2);
    border: 0;
    color: $midgray;
    width: 100%;
  }

  ul{
    padding-bottom: 0;
    padding-top: 0;

    li {
      column-break-inside: avoid;
      list-style-type: none;
      margin: 0;
      padding: 0;

      ul {
        @include padding-trailer(2);
      }
    }

    @include breakpoint(tablet) {
      h3,
      p {
        margin: 0 auto;
        width: 88%;
      }
      
      li {
        display: inline-block;
        vertical-align: top;
        width: 49%;

        li {
          display: block;
          margin: 0 auto;
          width: 88%;
        }
      }
    }

    @include breakpoint(desktop) {
      h3,
      p {
        margin: 0 auto;
      }
      
      li {
        width: 32.33%;

        li {
          width: 88%;
        }
      }
    }

    @include breakpoint(wide) {
      li {
        width: 24%;

        li {
          width: 88%;
        }
      }
    }
  }

  ul.wide,
  ul.narrow {
    @include padding-leader(1);

    li {
      @include padding-trailer(1);
      @include trailer(1);
    }

    a {
      padding: 0;
    }

    p {
      @include padding-trailer(0);
    }
    
    @include breakpoint(desktop) {
      li {
        width: 32.5%;
      }
    }
  }
  
  ul.wide {
    li.with-dropdown {
      .styled-select {
        @include margin-leader(1);
        margin-left: 0;
        margin-right: 0;
      }
      
      @include breakpoint(tablet) {
        .styled-select {
          margin-left: auto;
          margin-right: auto;
          width: 88%;
        }
      }
      
      @include breakpoint(desktop) {
        padding-bottom: 0;
      }
    }
  }
  
  ul.narrow {
    @include rem(max-width, $w-mid);
    margin-left: auto;
    margin-right: auto;
  }

  &.stacked {
    @include rem(max-width, $w-sml);
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
    width: 94%;

    @include breakpoint(desktop) {
      width: 100%;
    }

    ul {
      h3,
      p {
        width: 100%;
      }

      li {
        display: block;
        max-width: none;
        width: 100%;

        p {
          @include rem(font-size, $base-font-size);
          line-height: inherit;
        }
      }
    }
  }
}

%navigation-block-listing-fallback {
  @extend %clearfix;
  margin: 0 auto;

  ul li {
    float: left;
    margin-right: 2%;
    width: 31%;

    li {
      float: none;
      width: 100%;
    }
  }

  // 3 rows, hope that is enough
  ul li:first-child + li + li + li,
  ul li:first-child + li + li + li + li + li + li,
  ul li:first-child + li + li + li + li + li + li + li + li + li {
    clear: left;
  }
}

.ie8 .uomcontent [role="main"] .navigation-block-listing,
.ie9 .uomcontent [role="main"] .navigation-block-listing {
  @extend %navigation-block-listing-fallback;
}
