.uomcontent .navigation-text-listing {
  @include padding-leader(3);
  @include padding-trailer(3);
  @include rem(max-width, 1400px);
  @include rem(padding-left, 27px);
  @include rem(padding-right, 27px);
  margin: 0 auto;

  h1,
  p,
  ul {
    @include rem(max-width, 4000px);
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }

  h1 {
    @include padding-trailer(0);

    &.aligned-title {
      @extend %listing-title;
      @include padding-leader(2);
      @include rem(padding-bottom, 48px);
      max-width: 100%;
    }
  }

  ul {
    padding-bottom: 0;
    padding-top: 0;

    li {
      // Include vendored fallbacks, autoprefixer does not recognise columns module
      -moz-column-break-inside: avoid;
      -ms-column-break-inside: avoid;
      -webkit-column-break-inside: avoid;
      break-inside: avoid;
      list-style-type: none;
      margin: 0;
      padding: 0;

      a {
        @include padding-trailer(1);
        display: block;
      }

    }

    @include breakpoint(tablet) {
      @include column-count(2);
    }

    @include breakpoint(desktop) {
      @include column-count(3);
    }

    @include breakpoint(wide) {
      @include column-count(4);
    }
  }
}

%navigation-text-listing-fallback {
  margin: 0 auto;

  h1,
  p,
  ul {
    margin: 0 auto;
    max-width: $w-sml;
  }

  li {
    display: inline-block;
    width: 32%;
  }
}

.ie8 .uomcontent [role="main"] .navigation-text-listing,
.ie9 .uomcontent [role="main"] .navigation-text-listing {
  @extend %navigation-text-listing-fallback;
}
