.uomcontent {
  .enquiry {
    @include padding-leader(2);
    @include padding-trailer(2);
    background-color: $paleblue;

    &.accordion__visible .accordion__hidden {
      @include rem(max-height, 2000px);
    }

    .enquiry__cta {
      @extend %wrapper;
      @include adjust-font-size-to(20px);
      @include rem(max-width, $w-sml);
      text-align: center;
    }

    .enquiry__form {
      //background-color: $white;
      // border-top: 1px solid $highlight;
      form {
        @include leader(1);
        @include padding-leader(1);
        max-width: 100%;
        //background-color: transparent;
      }
      fieldset {
        &::before {
          border-bottom: 1px solid #e0e0e0;
          content: '';
          left: 50%;
          margin-top: -39px;
          max-width: 600px;
          position: absolute;
          -moz-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
          width: 100%;
        }

        input[type="text"],
        input[type="email"],
        input[type="number"],
        input[type="password"],
        textarea,
        .inline input[type="search"],
        select {
          @include rem(margin-top, 10px);
        }

        legend {
          @include adjust-font-size-to(15px);
          @include rem(letter-spacing, 2px);
          @include rem(padding-left, 10px);
          @include rem(padding-right, 10px);
          background-color: #fff;
          font-weight: $bold;
          position: relative;
          text-align: center;
          text-transform: uppercase;
          z-index: 1;
        }

        div {
          @include rem(max-width, 600px);
          margin-left: auto;
          margin-right: auto;
        }

        @include breakpoint(tablet) {
          label {
            @include rem(width, 600px);
            font-weight: $regular;
          }

          input[type="radio"] + label,
          input[type="checkbox"] + label {
            @include rem(width, 20px);
          }
        }
      }
    }
  }
}