.uomcontent [role="main"] {
  .enquiry {
    @include padding-leader(2);
    @include padding-trailer(2);
    background-color: $paleblue;
    box-shadow: 0 -1px 9px rgba($lightblue, 0.3) inset;

    .errors {
      @include rem(font-size, 22px);
      @include rem(max-width, 700px);
      @include rem(padding-top, 30px);
      background-color: #fad8dc;
      margin: 0 auto;

      ul li {
        list-style-type: none;
      }
    }

    .enquiry__cta {
      @extend %wrapper;
      @include adjust-font-size-to(20px);
      @include rem(line-height, 50px);
      @include padding-trailer(1);
      @include rem(max-width, $w-sml);
      text-align: center;

      a {
        @include rem(line-height, 30px);
        @include rem(margin-left, 10px);
      }

      @include breakpoint(desktop) {
        @include adjust-font-size-to(22px);
      }
    }

    .enquiry__subline {
      @extend %wrapper;
      @include adjust-font-size-to(16px);
      @include padding-leader(.5);
      @include rem(max-width, $w-sml);
      border-top: 1px solid rgba($lightblue, 0.3);
      color: $midblue;
      text-align: center;

      @include breakpoint(tablet) {
        & > div {
          display: inline-block;
        }

        .secondary {
          @include rem(margin-left, 20px);
        }
      }
    }

    .enquiry-form__thanks {
      @include rem(font-size, 22px);
    }

    .enquiry__form {
      form {
        @include padding-leader(1);
        max-width: 100%;
      }

      fieldset {
        &::before {
          border-bottom: 1px solid #e0e0e0;
          content: '';
          display: none;
          left: 50%;
          margin-top: -42px;
          max-width: 600px;
          position: absolute;
          -moz-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
          width: 100%;
        }

        input[type="text"],
        input[type="email"],
        input[type="number"],
        input[type="password"],
        textarea,
        .inline input[type="search"],
        select {
          @include rem(margin-top, 10px);
        }

        legend {
          @include adjust-font-size-to(15px);
          @include rem(letter-spacing, 2px);
          @include rem(padding-left, 10px);
          @include rem(padding-right, 10px);
          background-color: #fff;
          font-weight: $bold;
          position: relative;
          text-align: center;
          text-transform: uppercase;
          z-index: 1;
        }

        div {
          @include rem(max-width, 600px);
          margin-left: auto;
          margin-right: auto;
        }

        @include breakpoint(tablet) {
          label {
            @include rem(width, 600px);
            font-weight: $regular;
          }

          input[type="radio"] + label,
          input[type="checkbox"] + label {
            @include rem(width, 20px);
          }
        }
      }
    }

    &.accordion__visible {
      .enquiry__cta {
        border-color: transparent;
      }

      .accordion__hidden {
        @include rem(max-height, 2000px);

        &.enquiry__form fieldset::before {
          display: block;
        }
      }
    }
  }
}
