.page-footer {
  background-color: $navy;
  clear: left;
  color: $white;

  footer {
    @extend %wrapper;
    @include rem(padding-bottom, 60px);
    @include rem(padding-top, 15px);
    margin-left: auto;
    margin-right: auto;
  }

  small {
    @include rem(font-size, 12px);
    clear: left;
    color: $lightblue;
    display: block;
    text-align: center;

    a {
      color: $lightblue;
      text-decoration: none;

      &:hover {
        color: $white;
      }
    }

    @include breakpoint(desktop) {
      text-align: left;
    }
  }
}

.unimelb-lge {
  @extend %imgreplace;
  @include rem(height, 70px);
  @include rem(margin, 30px auto);
  @include rem(max-height, 70px);
  @include rem(width, 270px);
  background-image: url("#{asset_path('footer/lockup.png')}");
  display: block;
  text-indent: -999em;
}

.page-footer-section {
  @include rem(height, 50px);
  @include rem(line-height, 50px);
  border-bottom: 1px solid $blue;
  clear: both;
  float: left;
  margin-left: 0;
  width: 100%;

  li {
    display: block;
    float: left;
    list-style-type: none;
    margin-left: 0;
  }

  a {
    @include rem(font-size, 15px);
    color: $white;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &.nav {
    @include rem(padding-bottom, 12px);
    @include rem(padding-top, 8px);
    border-top: 1px solid $blue;
    height: auto;

    li {
      @include rem(padding-bottom, 10px);
      @include rem(padding-top, 10px);
      line-height: 1.1;
      margin-left: 3%;
      margin-right: 3%;
      text-align: right;
      width: 44%;
    }

    // nth-child for IE8, up to 9 items
    li:first-child + li,
    li:first-child + li + li + li,
    li:first-child + li + li + li + li + li,
    li:first-child + li + li + li + li + li + li + li {
      text-align: left;
    }

    a {
      @include rem(font-size, 14px);
    }

    @include breakpoint(desktop) {
      @include rem(margin-bottom, 60px);
      width: 80%;

      li {
        @include rem(padding-right, 30px);
        display: inline;
        float: none;
        margin-left: 0;
        margin-right: 0;
        padding-bottom: 0;
        padding-top: 0;
        width: auto;
      }

      a {
        @include rem(font-size, 15px);
      }
    }
  }

  &.social {
    @include rem(margin-bottom, 20px);
    @include rem(padding-top, 20px);
    height: auto;
    padding-bottom: 0;

    li {
      @include rem(margin-bottom, 15px);
      line-height: 1;
      text-align: center;
      width: 20%;

      &.social-twitter {
        @include rem(padding-top, 1px);
        a {
          background-image: url("#{asset_path('footer/tw.png')}");
        }
      }

      &.social-facebook {
        margin-left: 20%;

        a {
          background-image: url("#{asset_path('footer/fb.png')}");
        }
      }

      &.social-linkedin {
        margin-right: 20%;

        a {
          background-image: url("#{asset_path('footer/li.png')}");
        }
      }
    }

    a {
      @extend %imgreplace;
      @include rem(height, 24px);
      @include rem(padding-bottom, 15px);
      @include rem(width, 24px);
      display: inline-block;
      text-decoration: none;
      text-indent: -999em;
    }

    img {
      @include rem(max-width, 24px);
      @include rem(max-width, 24px);
    }

    @include breakpoint(desktop) {
      @include rem(margin-bottom, 60px);
      border-top: 1px solid $blue;
      clear: none;
      text-align: right;
      width: 20%;

      li {
        @include rem(margin-left, 25px);
        display: inline;
        float: none;
        width: auto;

        &.social-twitter {
          width: auto;
        }

        &.social-facebook {
          margin-left: 0;
        }

        &.social-linkedin {
          margin-right: 0;
        }
      }
    }
  }
}

.page-footer-est1853 {
  @extend %imgreplace;
  @include rem(height, 40px);
  @include rem(padding-bottom, 15px);
  @include rem(width, 132px);
  background-image: url("#{asset_path('footer/est1853.png')}");
  clear: both;
  display: block;
  margin: 0 auto;
  text-indent: -999em;

  @include breakpoint(desktop) {
    display: inline;
    float: right;
  }
}
