window.UOMinjectFooter= ->
  # Only inject footer if it doesn't already exist
  footer = document.querySelector('.page-footer')
  unless footer
    if "<%=ENV["ASSET_ENV"]%>" == 'development'
      assethost = '/assets/shared'
    else
      assethost = '//uom-design-system.s3.amazonaws.com/shared'

    footer = document.createElement('div')
    footer.addClass('page-footer')
    footer.innerHTML = """
    <footer>
      <a class="unimelb-lge" href="https://unimelb.edu.au">
        <svg width="300" height="100" viewBox="0 0 300 100" aria-label="The University of Melbourne">
          <title>The University of Melbourne</title>
          <desc><div class="noie">The University of Melbourne's Blue Logo Crest depicting Nike, the Winged Goddess of Victory above a scroll with the latin motto "Postera Crescam Laude" written on it.</div></desc>
          <image xlink:href="#{assethost}/lockup.svg" src="#{assethost}/lockup.png" width="300" height="100" preserveAspectRatio="xMaxYMin meet"/>
        </svg>
      </a>
      <ul class="quicklinks">
        <li><a href="http://about.unimelb.edu.au/governance-and-leadership/faculties"><svg class="icon"><use xlink:href="#icon-faculties" /></svg> Faculties and Graduate Schools</a></li>
        <li><a href="http://students.unimelb.edu.au/"><svg class="icon"><use xlink:href="#icon-students" /></svg> Current Students</a></li>
        <li><a href="http://library.unimelb.edu.au/"><svg class="icon"><use xlink:href="#icon-library" /></svg> Library</a></li>
        <li><a href="http://www.unimelb.edu.au/contact/"><svg class="icon"><use xlink:href="#icon-phone" /></svg> Contact us</a></li>
        <li><a href="http://maps.unimelb.edu.au/"><svg class="icon"><use xlink:href="#icon-maps" /></svg> Maps</a></li>
        <li><a href="http://www.campaign.unimelb.edu.au/"><svg class="icon"><use xlink:href="#icon-campaign" /></svg> Support the Campaign</a></li>
      </ul>
      <ul class="page-footer-section nav">
        <li>
          <a href="http://safety.unimelb.edu.au/about/contacts/emergency.html">Emergency Information</a>
        </li>
        <li>
          <a href="http://www.unimelb.edu.au/disclaimer/">Disclaimer &amp; Copyright</a>
        </li>
        <li>
          <a href="http://www.unimelb.edu.au/accessibility/index.html">Accessibility</a>
        </li>
        <li>
          <a href="http://www.unimelb.edu.au/disclaimer/privacy.html">Privacy</a>
        </li>
      </ul>
      <ul class="page-footer-section social">
        <li class="social-facebook">
          <a href="http://www.facebook.com/melbuni"><svg class="icon"><use xlink:href="#icon-facebook" /></svg> Facebook</a>
        </li>
        <li class="social-twitter">
          <a href="http://www.twitter.com/unimelb"><svg class="icon"><use xlink:href="#icon-twitter" /></svg> Twitter</a>
        </li>
        <li class="social-linkedin">
          <a href="http://au.linkedin.com/pub/the-university-of-melbourne/61/430/215"><svg class="icon"><use xlink:href="#icon-linkedin" /></svg> LinkedIn</a>
        </li>
      </ul>
      <small>Phone: 13 MELB (13 6352) | International: +61 3 9035 5511</small>
      <small>The University of Melbourne ABN: 84 002 705 224</small>
      <small>CRICOS Provider Code: 00116K (<a href="http://www.services.unimelb.edu.au/international/visas/index.html">visa information</a>)</small>
    </footer>

    <div class="hidden">
      <svg xmlns="http://www.w3.org/2000/svg">

        <symbol id="icon-trash" viewBox="5 5 20 20">
          <path d="M19.7,12.2c0,0.1-0.1,0.2-0.2,0.2h-0.6v6.4c0,0.7-0.5,1.4-1.1,1.4h-5.6c-0.6,0-1.1-0.6-1.1-1.3v-6.4h-0.6 c-0.1,0-0.2-0.1-0.2-0.2v-0.4c0-0.1,0.1-0.2,0.2-0.2h2.1l0.5-1.1c0.1-0.3,0.5-0.6,0.9-0.6h2.1c0.4,0,0.8,0.3,0.9,0.6l0.5,1.1h2.1 c0.1,0,0.2,0.1,0.2,0.2V12.2z M18,12.4h-6v6.4c0,0.3,0.2,0.5,0.2,0.5h5.6c0,0,0.2-0.2,0.2-0.5V12.4z M13.7,17.8 c0,0.1-0.1,0.2-0.2,0.2h-0.4c-0.1,0-0.2-0.1-0.2-0.2v-3.9c0-0.1,0.1-0.2,0.2-0.2h0.4c0.1,0,0.2,0.1,0.2,0.2V17.8z M16.5,11.6 l-0.3-0.8c0,0-0.1-0.1-0.1-0.1h-2.1c0,0-0.1,0-0.1,0.1l-0.3,0.8H16.5z M15.4,17.8c0,0.1-0.1,0.2-0.2,0.2h-0.4 c-0.1,0-0.2-0.1-0.2-0.2v-3.9c0-0.1,0.1-0.2,0.2-0.2h0.4c0.1,0,0.2,0.1,0.2,0.2V17.8z M17.1,17.8c0,0.1-0.1,0.2-0.2,0.2h-0.4 c-0.1,0-0.2-0.1-0.2-0.2v-3.9c0-0.1,0.1-0.2,0.2-0.2h0.4c0.1,0,0.2,0.1,0.2,0.2V17.8z"/>
        </symbol>

        <symbol id="icon-search" viewBox="5 5 20 20">
          <path d="M14.1,18.6c0.9,0,1.7-0.3,2.4-0.8l0.3-0.2l2.5,2.5c0.3,0.3,0.8,0,0.8-0.3c0-0.1,0-0.2-0.1-0.3L17.5,17l0.2-0.3 c0.5-0.7,0.8-1.6,0.8-2.4c0-2.4-1.9-4.3-4.3-4.3s-4.3,1.9-4.3,4.3S11.8,18.6,14.1,18.6z M14.1,10.9c1.9,0,3.4,1.5,3.4,3.4 s-1.5,3.4-3.4,3.4s-3.4-1.5-3.4-3.4S12.3,10.9,14.1,10.9z"/>
        </symbol>

        <symbol id="icon-user" viewBox="5 5 20 20">
          <path d="M17.4,14.7c0,0-0.1,0.1-0.2,0.1c-0.4,0.3-1.2,0.8-2.2,0.8c-1,0-1.8-0.5-2.2-0.8c-0.1-0.1-0.2-0.1-0.2-0.1 c-1.8,0-2,2.4-2,3.7c0,0.9,0.6,1.6,1.5,1.6h5.9c0.9,0,1.5-0.7,1.5-1.6C19.5,17.1,19.2,14.7,17.4,14.7z"/>
          <circle cx="15" cy="12.3" r="2.3"/>
        </symbol>

        <symbol id="icon-menu" viewBox="5 5 20 20">
          <path d="M20.1,12c0,0.2-0.2,0.4-0.4,0.4h-9.4c-0.2,0-0.4-0.2-0.4-0.4v-0.9c0-0.2,0.2-0.4,0.4-0.4h9.4c0.2,0,0.4,0.2,0.4,0.4V12z M20.1,15.4c0,0.2-0.2,0.4-0.4,0.4h-9.4c-0.2,0-0.4-0.2-0.4-0.4v-0.9c0-0.2,0.2-0.4,0.4-0.4h9.4c0.2,0,0.4,0.2,0.4,0.4V15.4z M20.1,18.9c0,0.2-0.2,0.4-0.4,0.4h-9.4c-0.2,0-0.4-0.2-0.4-0.4V18c0-0.2,0.2-0.4,0.4-0.4h9.4c0.2,0,0.4,0.2,0.4,0.4V18.9z"/>
        </symbol>

        <symbol id="icon-ellipsis" viewBox="5 5 20 20">
          <path d="M19,14.4c0-0.2-0.2-0.4-0.4-0.4h-1.2c-0.2,0-0.4,0.2-0.4,0.4v1.2c0,0.2,0.2,0.4,0.4,0.4h1.2c0.2,0,0.4-0.2,0.4-0.4V14.4z"/>
          <path d="M16,14.4c0-0.2-0.2-0.4-0.4-0.4h-1.2c-0.2,0-0.4,0.2-0.4,0.4v1.2c0,0.2,0.2,0.4,0.4,0.4h1.2c0.2,0,0.4-0.2,0.4-0.4V14.4z"/>
          <path d="M13,14.4c0-0.2-0.2-0.4-0.4-0.4h-1.2c-0.2,0-0.4,0.2-0.4,0.4v1.2c0,0.2,0.2,0.4,0.4,0.4h1.2c0.2,0,0.4-0.2,0.4-0.4V14.4z"/>
        </symbol>

        <symbol id="icon-facebook" viewBox="5 5 20 20">
          <path d="M17.9,11.3h-1.1c-0.8,0-1,0.4-1,1v1.3h2l-0.3,2h-1.7v5.1h-2v-5.1h-1.7v-2h1.7V12c0-1.7,1-2.6,2.6-2.6 c0.7,0,1.3,0.1,1.5,0.1V11.3z"/>
        </symbol>

        <symbol id="icon-twitter" viewBox="5 5 20 20">
          <path d="M19.2,12.8c0,0.1,0,0.2,0,0.3c0,2.9-2.2,6.2-6.2,6.2c-1.2,0-2.4-0.4-3.3-1c0.2,0,0.3,0,0.5,0c1,0,1.9-0.3,2.7-0.9 c-1,0-1.7-0.6-2-1.5c0.1,0,0.3,0,0.4,0c0.2,0,0.4,0,0.6-0.1c-1-0.2-1.7-1.1-1.7-2.1c0,0,0,0,0,0c0.3,0.2,0.6,0.3,1,0.3 c-0.6-0.4-1-1.1-1-1.8c0-0.4,0.1-0.8,0.3-1.1c1.1,1.3,2.7,2.2,4.5,2.3c0-0.2-0.1-0.3-0.1-0.5c0-1.2,1-2.2,2.2-2.2 c0.6,0,1.2,0.3,1.6,0.7c0.5-0.1,1-0.3,1.4-0.5c-0.2,0.5-0.5,0.9-1,1.2c0.4,0,0.9-0.2,1.2-0.3C20,12.2,19.6,12.5,19.2,12.8z"/>
        </symbol>

        <symbol id="icon-youtube" viewBox="5 5 20 20">
          <path d="M19.8,19.9c-0.1,0.5-0.6,0.9-1.1,1C17.5,21,16.2,21,15,21s-2.5,0-3.7-0.1c-0.5-0.1-1-0.4-1.1-1C10,19.1,10,18.3,10,17.5 c0-0.8,0-1.6,0.2-2.3c0.1-0.5,0.6-0.9,1.1-1c1.2-0.1,2.5-0.1,3.7-0.1s2.5,0,3.7,0.1c0.5,0.1,1,0.4,1.1,1C20,16,20,16.8,20,17.5 C20,18.3,20,19.1,19.8,19.9z M12.9,15.9v-0.6h-2.1v0.6h0.7v3.8h0.7v-3.8H12.9z M14,9l-0.8,2.7v1.8h-0.7v-1.8 c-0.1-0.3-0.2-0.8-0.4-1.4c-0.1-0.4-0.3-0.8-0.4-1.3h0.7l0.5,1.8L13.3,9H14z M14.7,19.7v-3.3h-0.6v2.5c-0.1,0.2-0.3,0.3-0.4,0.3 c-0.1,0-0.1,0-0.1-0.1c0,0,0-0.1,0-0.2v-2.4H13V19c0,0.2,0,0.4,0.1,0.5c0.1,0.2,0.2,0.2,0.4,0.2c0.2,0,0.4-0.1,0.7-0.4v0.4H14.7z M15.8,12.4c0,0.4-0.1,0.6-0.2,0.8c-0.2,0.2-0.4,0.3-0.7,0.3c-0.3,0-0.5-0.1-0.7-0.3C14,13,14,12.8,14,12.4v-1.2 c0-0.4,0.1-0.6,0.2-0.8c0.2-0.2,0.4-0.3,0.7-0.3c0.3,0,0.5,0.1,0.7,0.3c0.1,0.2,0.2,0.4,0.2,0.8V12.4z M15.1,11.1 c0-0.3-0.1-0.5-0.3-0.5c-0.2,0-0.3,0.2-0.3,0.5v1.4c0,0.3,0.1,0.5,0.3,0.5c0.2,0,0.3-0.2,0.3-0.5V11.1z M17,17.4 c0-0.3,0-0.5-0.1-0.7c-0.1-0.2-0.2-0.4-0.5-0.4c-0.2,0-0.4,0.1-0.6,0.4v-1.5h-0.6v4.4h0.6v-0.3c0.2,0.2,0.4,0.4,0.6,0.4 c0.2,0,0.4-0.1,0.5-0.4c0-0.1,0.1-0.4,0.1-0.7V17.4z M16.4,18.7c0,0.3-0.1,0.4-0.3,0.4c-0.1,0-0.2,0-0.3-0.1v-2 c0.1-0.1,0.2-0.1,0.3-0.1c0.2,0,0.3,0.2,0.3,0.4V18.7z M18,13.5h-0.6v-0.4c-0.2,0.3-0.5,0.4-0.7,0.4c-0.2,0-0.3-0.1-0.4-0.2 c0-0.1-0.1-0.3-0.1-0.5v-2.6h0.6v2.5c0,0.1,0,0.2,0,0.2c0,0.1,0.1,0.1,0.1,0.1c0.1,0,0.2-0.1,0.4-0.3v-2.6H18V13.5z M19.2,18.5 h-0.6c0,0.2,0,0.4,0,0.4c0,0.2-0.1,0.2-0.3,0.2c-0.2,0-0.3-0.2-0.3-0.5v-0.6h1.2v-0.7c0-0.4-0.1-0.6-0.2-0.8 c-0.2-0.2-0.4-0.3-0.7-0.3c-0.3,0-0.5,0.1-0.7,0.3c-0.1,0.2-0.2,0.4-0.2,0.8v1.2c0,0.4,0.1,0.6,0.2,0.8c0.2,0.2,0.4,0.3,0.7,0.3 c0.3,0,0.6-0.1,0.7-0.4c0.1-0.1,0.1-0.2,0.1-0.4C19.2,19,19.2,18.8,19.2,18.5L19.2,18.5z M18.6,17.6H18v-0.3c0-0.3,0.1-0.5,0.3-0.5 s0.3,0.2,0.3,0.5V17.6z"/>
        </symbol>

        <symbol id="icon-instagram" viewBox="5 5 20 20">
          <path d="M20.1,18.8c0,0.7-0.6,1.3-1.3,1.3h-7.6c-0.7,0-1.3-0.6-1.3-1.3v-7.6c0-0.7,0.6-1.3,1.3-1.3h7.6c0.7,0,1.3,0.6,1.3,1.3V18.8 z M19,14.2h-0.9c0.1,0.3,0.1,0.6,0.1,0.9c0,1.7-1.4,3.1-3.2,3.1c-1.8,0-3.2-1.4-3.2-3.1c0-0.3,0-0.6,0.1-0.9H11v4.3 c0,0.2,0.2,0.4,0.4,0.4h7.2c0.2,0,0.4-0.2,0.4-0.4V14.2z M15,13c-1.1,0-2.1,0.9-2.1,2c0,1.1,0.9,2,2.1,2c1.1,0,2.1-0.9,2.1-2 C17.1,13.9,16.2,13,15,13z M19,11.5c0-0.3-0.2-0.5-0.5-0.5h-1.2c-0.3,0-0.5,0.2-0.5,0.5v1.1c0,0.3,0.2,0.5,0.5,0.5h1.2 c0.3,0,0.5-0.2,0.5-0.5V11.5z"/>
        </symbol>

        <symbol id="icon-linkedin" viewBox="5 5 20 20">
          <path d="M20.1,18.2c0,1.1-0.9,1.9-1.9,1.9h-6.4c-1.1,0-1.9-0.9-1.9-1.9v-6.4c0-1.1,0.9-1.9,1.9-1.9h6.4c1.1,0,1.9,0.9,1.9,1.9V18.2 z M12.2,11.6c-0.5,0-0.9,0.3-0.9,0.8c0,0.4,0.3,0.8,0.9,0.8h0c0.5,0,0.9-0.4,0.9-0.8C13.1,11.9,12.8,11.6,12.2,11.6z M13,18.5v-4.6 h-1.5v4.6H13z M18.6,18.5v-2.7c0-1.4-0.8-2.1-1.8-2.1c-0.8,0-1.2,0.5-1.4,0.8h0v-0.7h-1.5c0,0,0,0.4,0,4.6h1.5v-2.6 c0-0.1,0-0.3,0-0.4c0.1-0.3,0.4-0.6,0.8-0.6c0.6,0,0.8,0.4,0.8,1.1v2.5H18.6z"/>
        </symbol>

        <symbol id="icon-faculties" viewBox="5 5 20 20">
          <path d="M19.7,20.6c0,0.2-0.2,0.4-0.4,0.4h-8.6c-0.2,0-0.4-0.2-0.4-0.4V9.4c0-0.2,0.2-0.4,0.4-0.4h8.6c0.2,0,0.4,0.2,0.4,0.4V20.6z M18.9,20.1V9.9h-7.7v10.3h2.6v-1.5c0-0.1,0.1-0.2,0.2-0.2h2.1c0.1,0,0.2,0.1,0.2,0.2v1.5H18.9z M12.9,11.4c0,0.1-0.1,0.2-0.2,0.2 h-0.4c-0.1,0-0.2-0.1-0.2-0.2v-0.4c0-0.1,0.1-0.2,0.2-0.2h0.4c0.1,0,0.2,0.1,0.2,0.2V11.4z M12.9,13.1c0,0.1-0.1,0.2-0.2,0.2h-0.4 c-0.1,0-0.2-0.1-0.2-0.2v-0.4c0-0.1,0.1-0.2,0.2-0.2h0.4c0.1,0,0.2,0.1,0.2,0.2V13.1z M12.9,14.8c0,0.1-0.1,0.2-0.2,0.2h-0.4 c-0.1,0-0.2-0.1-0.2-0.2v-0.4c0-0.1,0.1-0.2,0.2-0.2h0.4c0.1,0,0.2,0.1,0.2,0.2V14.8z M12.9,16.5c0,0.1-0.1,0.2-0.2,0.2h-0.4 c-0.1,0-0.2-0.1-0.2-0.2v-0.4c0-0.1,0.1-0.2,0.2-0.2h0.4c0.1,0,0.2,0.1,0.2,0.2V16.5z M12.9,18.2c0,0.1-0.1,0.2-0.2,0.2h-0.4 c-0.1,0-0.2-0.1-0.2-0.2v-0.4c0-0.1,0.1-0.2,0.2-0.2h0.4c0.1,0,0.2,0.1,0.2,0.2V18.2z M14.6,11.4c0,0.1-0.1,0.2-0.2,0.2h-0.4 c-0.1,0-0.2-0.1-0.2-0.2v-0.4c0-0.1,0.1-0.2,0.2-0.2h0.4c0.1,0,0.2,0.1,0.2,0.2V11.4z M14.6,13.1c0,0.1-0.1,0.2-0.2,0.2h-0.4 c-0.1,0-0.2-0.1-0.2-0.2v-0.4c0-0.1,0.1-0.2,0.2-0.2h0.4c0.1,0,0.2,0.1,0.2,0.2V13.1z M14.6,14.8c0,0.1-0.1,0.2-0.2,0.2h-0.4 c-0.1,0-0.2-0.1-0.2-0.2v-0.4c0-0.1,0.1-0.2,0.2-0.2h0.4c0.1,0,0.2,0.1,0.2,0.2V14.8z M14.6,16.5c0,0.1-0.1,0.2-0.2,0.2h-0.4 c-0.1,0-0.2-0.1-0.2-0.2v-0.4c0-0.1,0.1-0.2,0.2-0.2h0.4c0.1,0,0.2,0.1,0.2,0.2V16.5z M16.3,11.4c0,0.1-0.1,0.2-0.2,0.2h-0.4 c-0.1,0-0.2-0.1-0.2-0.2v-0.4c0-0.1,0.1-0.2,0.2-0.2h0.4c0.1,0,0.2,0.1,0.2,0.2V11.4z M16.3,13.1c0,0.1-0.1,0.2-0.2,0.2h-0.4 c-0.1,0-0.2-0.1-0.2-0.2v-0.4c0-0.1,0.1-0.2,0.2-0.2h0.4c0.1,0,0.2,0.1,0.2,0.2V13.1z M16.3,14.8c0,0.1-0.1,0.2-0.2,0.2h-0.4 c-0.1,0-0.2-0.1-0.2-0.2v-0.4c0-0.1,0.1-0.2,0.2-0.2h0.4c0.1,0,0.2,0.1,0.2,0.2V14.8z M16.3,16.5c0,0.1-0.1,0.2-0.2,0.2h-0.4 c-0.1,0-0.2-0.1-0.2-0.2v-0.4c0-0.1,0.1-0.2,0.2-0.2h0.4c0.1,0,0.2,0.1,0.2,0.2V16.5z M18,11.4c0,0.1-0.1,0.2-0.2,0.2h-0.4 c-0.1,0-0.2-0.1-0.2-0.2v-0.4c0-0.1,0.1-0.2,0.2-0.2h0.4c0.1,0,0.2,0.1,0.2,0.2V11.4z M18,13.1c0,0.1-0.1,0.2-0.2,0.2h-0.4 c-0.1,0-0.2-0.1-0.2-0.2v-0.4c0-0.1,0.1-0.2,0.2-0.2h0.4c0.1,0,0.2,0.1,0.2,0.2V13.1z M18,14.8c0,0.1-0.1,0.2-0.2,0.2h-0.4 c-0.1,0-0.2-0.1-0.2-0.2v-0.4c0-0.1,0.1-0.2,0.2-0.2h0.4c0.1,0,0.2,0.1,0.2,0.2V14.8z M18,16.5c0,0.1-0.1,0.2-0.2,0.2h-0.4 c-0.1,0-0.2-0.1-0.2-0.2v-0.4c0-0.1,0.1-0.2,0.2-0.2h0.4c0.1,0,0.2,0.1,0.2,0.2V16.5z M18,18.2c0,0.1-0.1,0.2-0.2,0.2h-0.4 c-0.1,0-0.2-0.1-0.2-0.2v-0.4c0-0.1,0.1-0.2,0.2-0.2h0.4c0.1,0,0.2,0.1,0.2,0.2V18.2z"/>
        </symbol>

        <symbol id="icon-students" viewBox="5 5 20 20">
          <path d="M22.6,12.6L15.1,15c0,0,0,0-0.1,0c0,0,0,0-0.1,0l-4.4-1.4c-0.4,0.3-0.6,1-0.7,1.9c0.3,0.1,0.4,0.4,0.4,0.7 c0,0.3-0.2,0.6-0.4,0.7l0.4,2.9c0,0.1,0,0.1-0.1,0.2c0,0-0.1,0.1-0.2,0.1H8.8c-0.1,0-0.1,0-0.2-0.1S8.6,20,8.6,19.9L9,17 c-0.2-0.2-0.4-0.4-0.4-0.7c0-0.3,0.2-0.6,0.4-0.7c0-0.8,0.2-1.6,0.7-2.2l-2.2-0.7c-0.1,0-0.1-0.1-0.1-0.2s0.1-0.2,0.1-0.2l7.5-2.4 c0,0,0,0,0.1,0c0,0,0,0,0.1,0l7.5,2.4c0.1,0,0.1,0.1,0.1,0.2S22.7,12.6,22.6,12.6z M19.3,16.7c0.1,0.9-1.9,1.7-4.3,1.7 c-2.4,0-4.3-0.8-4.3-1.7l0.1-2.1l3.8,1.2c0.1,0,0.2,0,0.3,0s0.2,0,0.3,0l3.8-1.2L19.3,16.7z"/>
        </symbol>

        <symbol id="icon-library" viewBox="5 5 20 20">
          <path d="M20.5,13.1l-1.8,6.1c-0.2,0.6-0.8,1-1.3,1h-6.2c-0.7,0-1.4-0.5-1.7-1.2c-0.1-0.3-0.1-0.6,0-0.9c0-0.1,0-0.3,0-0.4 c0-0.1-0.1-0.2,0-0.3c0-0.2,0.2-0.3,0.3-0.5c0.2-0.3,0.4-0.9,0.5-1.2c0-0.1,0-0.3,0-0.4c0-0.1,0.2-0.2,0.2-0.3 c0.2-0.3,0.4-0.9,0.4-1.2c0-0.1-0.1-0.3,0-0.4c0-0.2,0.2-0.2,0.3-0.4c0.2-0.2,0.4-0.9,0.5-1.2c0-0.1-0.1-0.2,0-0.3 c0-0.1,0.2-0.3,0.3-0.4c0.3-0.4,0.3-1.3,1.2-1.1l0,0c0.1,0,0.2-0.1,0.3-0.1h5.1c0.3,0,0.6,0.1,0.8,0.4c0.2,0.2,0.2,0.6,0.1,0.9 l-1.8,6.1c-0.3,1-0.5,1.3-1.3,1.3h-5.8c-0.1,0-0.2,0-0.3,0.1c-0.1,0.1-0.1,0.1,0,0.3c0.1,0.4,0.6,0.5,1,0.5h6.2 c0.2,0,0.5-0.1,0.6-0.4l2-6.6c0-0.1,0-0.3,0-0.4c0.2,0.1,0.3,0.2,0.4,0.3C20.6,12.4,20.6,12.8,20.5,13.1z M12.9,14.1h4.1 c0.1,0,0.2-0.1,0.3-0.2l0.1-0.4c0-0.1,0-0.2-0.1-0.2h-4.1c-0.1,0-0.2,0.1-0.3,0.2l-0.1,0.4C12.7,14,12.7,14.1,12.9,14.1z M13.4,12.4h4.1c0.1,0,0.2-0.1,0.3-0.2l0.1-0.4c0-0.1,0-0.2-0.1-0.2h-4.1c-0.1,0-0.2,0.1-0.3,0.2l-0.1,0.4 C13.2,12.3,13.3,12.4,13.4,12.4z"/>
        </symbol>

        <symbol id="icon-phone" viewBox="5 5 20 20">
          <path d="M19.5,18.7c-0.1,0.3-0.5,0.5-0.8,0.7c-0.4,0.2-0.8,0.3-1.2,0.3c-0.6,0-1.2-0.3-1.8-0.5c-0.4-0.1-0.8-0.3-1.2-0.6 c-1.1-0.7-2.5-2.1-3.2-3.2c-0.2-0.4-0.4-0.8-0.6-1.2c-0.2-0.6-0.5-1.1-0.5-1.8c0-0.4,0.1-0.9,0.3-1.2c0.2-0.3,0.4-0.7,0.7-0.8 c0.2-0.1,0.7-0.2,0.9-0.2c0,0,0.1,0,0.1,0c0.1,0,0.3,0.4,0.4,0.5c0.2,0.4,0.4,0.8,0.6,1.1c0.1,0.2,0.3,0.4,0.3,0.6 c0,0.4-1.2,1-1.2,1.4c0,0.2,0.2,0.4,0.3,0.6c0.7,1.2,1.5,2.1,2.7,2.7c0.2,0.1,0.4,0.3,0.6,0.3c0.4,0,1-1.2,1.4-1.2 c0.2,0,0.4,0.2,0.6,0.3c0.4,0.2,0.8,0.4,1.1,0.6c0.1,0.1,0.5,0.2,0.5,0.4c0,0,0,0.1,0,0.1C19.7,18,19.6,18.4,19.5,18.7z"/>
        </symbol>

        <symbol id="icon-mail" viewBox="5 5 20 20">
          <path d="M21,18.6c0,0.6-0.5,1.1-1.1,1.1h-9.9c-0.6,0-1.1-0.5-1.1-1.1v-7.3c0-0.6,0.5-1.1,1.1-1.1h9.9c0.6,0,1.1,0.5,1.1,1.1V18.6z M19.9,11.1h-9.9c-0.1,0-0.2,0.1-0.2,0.2c0,0.8,0.4,1.4,1,1.9c0.9,0.7,1.8,1.4,2.7,2.1c0.4,0.3,1,0.9,1.5,0.9h0h0 c0.5,0,1.1-0.6,1.5-0.9c0.9-0.7,1.8-1.4,2.7-2.1c0.4-0.3,1-1.1,1-1.7C20.1,11.4,20.2,11.1,19.9,11.1z M20.1,13.5 c-0.1,0.2-0.3,0.3-0.5,0.4c-1,0.7-1.9,1.5-2.9,2.3c-0.5,0.4-1.1,0.9-1.8,0.9h0h0c-0.7,0-1.3-0.5-1.8-0.9c-0.9-0.8-1.9-1.5-2.9-2.3 c-0.2-0.1-0.3-0.3-0.5-0.4v5.1c0,0.1,0.1,0.2,0.2,0.2h9.9c0.1,0,0.2-0.1,0.2-0.2V13.5z"/>
        </symbol>

        <symbol id="icon-maps" viewBox="5 5 20 20">
          <path d="M18.2,14.5l-2.4,5.2c-0.1,0.3-0.4,0.5-0.8,0.5s-0.6-0.2-0.8-0.5l-2.4-5.2c-0.2-0.4-0.2-0.8-0.2-1.2c0-1.9,1.5-3.4,3.4-3.4 s3.4,1.5,3.4,3.4C18.4,13.7,18.4,14.1,18.2,14.5z M15,11.6c-0.9,0-1.7,0.8-1.7,1.7S14.1,15,15,15s1.7-0.8,1.7-1.7 S15.9,11.6,15,11.6z"/>
        </symbol>

        <symbol id="icon-campaign" viewBox="5 5 20 20">
          <path d="M21.4,11.6v0.9h-0.9c0,0.2-0.2,0.4-0.5,0.4H9.9c-0.3,0-0.5-0.2-0.5-0.4H8.6v-0.9L15,9L21.4,11.6z M21.4,20.1V21H8.6v-0.9 c0-0.2,0.2-0.4,0.5-0.4H21C21.2,19.7,21.4,19.9,21.4,20.1z M12,13.3v5.1h0.9v-5.1h1.7v5.1h0.9v-5.1h1.7v5.1H18v-5.1h1.7v5.1h0.4 c0.3,0,0.5,0.2,0.5,0.4v0.4H9.4v-0.4c0-0.2,0.2-0.4,0.5-0.4h0.4v-5.1H12z"/>
        </symbol>
      </svg>
    </div>
    """
    page = document.querySelector('.page-inner')
    page.appendChild(footer)
