.uomcontent .page-footer {
  @extend %normalise;
  @include rem(font-size, 20px);
  background-color: $navy;
  clear: left;
  color: $white;
  font-family: $ff-sans;

  * {
    @extend %normalise;
  }

  footer {
    @extend %wrapper;
    @include rem(padding, 15px);
    @include rem(padding-bottom, 60px);
    margin-left: auto;
    margin-right: auto;
  }

  small {
    @include rem(font-size, 12px);
    @include rem(line-height, 20px);
    clear: left;
    color: $lightblue;
    display: block;
    text-align: center;

    a {
      color: $lightblue;
      text-decoration: none;

      &:hover {
        color: $white;
      }
    }

    @include breakpoint(desktop) {
      text-align: left;
    }
  }

  ul.quicklinks {
    @include rem(margin-bottom, 25px);
    border-bottom: 0 none;
    margin-top: 0;
    padding: 0;

    a {
      @include rem(font-size, 11px);
      letter-spacing: 1px;
      line-height: 1.6em;
      text-transform: uppercase;
    }
  }

  ul.people-links {
    @include rem(max-width, 1400px);
    @include rem(padding, 0px 15px);
    border-bottom: 1px solid $blue;
    border-top: 1px solid $blue;
    margin: 0 auto;
    text-align: left;
    width: 100%;

    li {
      display: inline-block;
      list-style-type: none;
      width: 100%;

      a {
        @include adjust-font-size-to(10px);
        @include rem(padding, 20px 0px);
        color: $white;
        display: block;
        letter-spacing: 2px;
        text-decoration: none;
        text-transform: uppercase;
      }
    }

    @include breakpoint(desktop) {
      border-bottom: 0;
      text-align: center;

      li {
        width: auto;

        a {
          @include rem(padding-left, 20px);
          @include rem(padding-right, 20px);

          &:hover {
            color: $white;
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.uomcontent .unimelb-lge {
  @include rem(margin, 30px auto);
  @include rem(width, 270px);
  display: block;

  svg,
  img {
    display: block;
    max-height: 100%;
    width: 100%;
  }
}

.uomcontent .page-footer-section {
  @include rem(height, 50px);
  @include rem(line-height, 50px);
  border-bottom: 1px solid $blue;
  clear: both;
  float: left;
  margin-left: 0;
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
  width: 100%;

  li {
    display: block;
    float: left;
    list-style-type: none;
    margin-left: 0;
  }

  a {
    @include rem(font-size, 15px);
    color: $white;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &.nav {
    @include rem(padding-bottom, 12px);
    @include rem(padding-top, 8px);
    height: auto;

    li {
      @include rem(padding-bottom, 10px);
      @include rem(padding-top, 10px);
      line-height: 1.1;
      margin-left: 0;
      margin-right: 6%;
      text-align: right;
      width: 44%;
    }

    // nth-child for IE8, up to 9 items
    li:first-child + li,
    li:first-child + li + li + li,
    li:first-child + li + li + li + li + li,
    li:first-child + li + li + li + li + li + li + li {
      margin-left: 6%;
      margin-right: 0;
      text-align: left;
    }

    li:first-child + li + li,
    li:first-child + li + li + li + li ,
    li:first-child + li + li + li + li + li + li {
      clear: left;
    }

    a {
      @include rem(font-size, 14px);
      color: $lightblue;
    }

    @include breakpoint(desktop) {
      @include rem(margin-bottom, 10px);
      @include rem(margin-top, 20px);
      border: 0 none;
      width: 80%;

      li {
        @include rem(padding-right, 30px);
        clear: none;
        display: inline;
        float: none;
        margin-left: 0;
        margin-right: 0;
        padding-bottom: 0;
        padding-top: 0;
        width: auto;
      }

      li:first-child + li,
      li:first-child + li + li + li,
      li:first-child + li + li + li + li + li,
      li:first-child + li + li + li + li + li + li + li {
        margin-left: 0;
      }

      a {
        @include rem(font-size, 15px);
      }
    }
  }

  &.social {
    @include rem(margin-bottom, 20px);
    @include rem(padding-top, 20px);
    height: auto;
    padding-bottom: 0;

    li {
      @include rem(margin-bottom, 15px);
      line-height: 1;
      text-align: center;
      width: 20%;

      a {
        @include rem(border-radius, 3px);
        @include rem(padding-top, 6px);
        color: $white;
        vertical-align: top;

        svg {
          @include rem(height, 24px);
          @include rem(margin-bottom, 5px);
          @include rem(width, 24px);
          fill: currentColor;
        }
      }

      &.social-facebook {
        margin-left: 20%;
      }

      &.social-linkedin {
        margin-right: 20%;
      }
    }

    a {
      @extend %imgreplace;
      @include rem(height, 36px);
      @include rem(padding-bottom, 15px);
      @include rem(width, 36px);
      display: inline-block;
      text-decoration: none;
      overflow: hidden;
      transition: all 0.2s linear;

      &:hover {
        background-color: $highlight;
        transform: scale(1.2);
      }
    }

    img {
      @include rem(max-width, 24px);
      @include rem(max-width, 24px);
    }

    @include breakpoint(desktop) {
      @include rem(margin-bottom, 60px);
      @include rem(margin-top, 25px);
      @include rem(padding-right, 15px);
      border: 0 none;
      clear: none;
      float: right;
      text-align: right;
      width: 20%;

      li {
        @include rem(margin-left, 25px);
        display: inline;
        float: none;
        width: auto;

        &.social-twitter {
          width: auto;
        }

        &.social-facebook {
          margin-left: 0;
        }

        &.social-linkedin {
          margin-right: 0;
        }
      }
    }
  }
}

  .uomcontent .unimelb-lge {
    .noie {
      display: none;
    }
  }

.ie8 {
  .uomcontent .page-footer {
    background-color: $navy;
    clear: left;
    color: $white;

    * {
      border: 0 none;
      outline: 0;
    }

    footer {
      margin: 0 auto;
      max-width: 1400px;
      padding: 15px 15px 60px;
    }

    small {
      clear: left;
      color: $lightblue;
      display: block;
      font-size: 12px;
      text-align: left;

      a {
        color: $lightblue;
        text-decoration: none;

        &:hover {
          color: $white;
        }
      }
    }
  }

  .uomcontent .page-footer-section {
    border: 0 none;
    &.nav {
      margin-bottom: 60px;
      width: 70%;

      li {
        display: inline;
        float: none;
        margin-left: 0;
        margin-right: 0;
        padding-bottom: 0;
        padding-right: 30px;
        padding-top: 0;
        width: auto;
      }

      a {
        font-size: 15px;
      }
    }

    &.social {
      border: 0 none;
      clear: none;
      float: right;
      margin-bottom: 60px;
      margin-top: 25px;
      padding-right: 15px;
      text-align: right;
      width: 30%;

      li {
        display: inline;
        float: none;
        margin-left: 25px;
        width: auto;

        &.social-twitter {
          width: auto;

          a * {
            display: none;
          }
        }

        &.social-facebook {
          margin-left: 0;
          width: auto;

          a * {
            display: none;
          }
        }

        &.social-linkedin {
          margin-right: 0;
          width: auto;

          a * {
            display: none;
          }
        }
      }

      a {
        vertical-align: top;
        width: auto;
      }
    }
  }

  .uomcontent footer.cta ul.quarter {
    padding: 30px 0 60px;
    text-align: center;

    li {
      display: inline;
      float: none;
      margin: 0;
      padding: 0 30px;
      width: auto;
    }
  }
}

.ie8 .uomcontent .page-footer {
  ul.quicklinks {
    border-bottom: 0;
  }

  ul.people-links {
    border-bottom: 0;
    text-align: center;

    li {
      width: auto;

      a {
        padding-left: 20px;
        padding-right: 20px;

        &:hover {
          color: $white;
          text-decoration: underline;
        }
      }
    }
  }
}
