.uomcontent {
  .search-autocomplete {
    border-radius: 0 0 3px 3px;
    margin-top: -.625rem;
    max-width: var(--w-lge);
    background-color: #fff;
    border: 1px solid var(--col-lightergray);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    position: absolute;
    width: 97%;
    z-index: 5;

    @media screen and (--bp-desktop) {
      width: 91.5%;
    }

    ol {
      margin: 0;
      padding: 0;
    }

    li,
    li:last-child {
      padding-top: .75rem;
      padding-bottom: .75rem;
      padding-left: .9375rem;
      list-style-type: none;
      margin: 0;

      &:hover,
      &:focus {
        background-color: var(--col-brighterblue);
        color: #fff;
      }
    }
  }
}
