.uomcontent {
  .search-autocomplete {
    border-radius: 0 0 3px 3px;
    margin-top: -.625rem;
    max-width: var(--w-lge);
    background-color: var(--col-white);
    border: 1px solid var(--col-black-light);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    position: absolute;
    width: 97%;
    z-index: var(--z-default);

    @media screen and (--bp-desktop) {
      width: 91.5%;
    }

    ol {
      margin: 0;
      padding: 0;
    }

    li,
    li:last-child {
      padding-top: pxtorem(12);
      padding-bottom: pxtorem(12);
      padding-left: pxtorem(15);
      list-style-type: none;
      margin: 0;

      &:hover,
      &:focus {
        background-color: var(--col-blue-mid-2);
        color: var(--col-white);
      }
    }
  }
}
