.uomcontent {
  p.search-result-numbers {
    line-height: 1.5rem;
    padding-top: 1.5rem;
    border-top: 1px solid color(#000 alpha(10%));
    color: var(--col-background-primary-navy);
    font-size: 1.25rem;
    font-style: italic;
    font-weight: normal;

  }

  ul.search-pagination {
    margin-bottom: 2rem;
    padding: 0;
    text-align: center;
    width: max-content;
    box-shadow: 0 2px 3px -1px rgba(0, 0, 0, .4);

  li {
    background-color: #fff;
    border: 1px solid rgb(238, 238, 238);
    border-right-color: rgb(153, 162, 170);
    display: inline-block;
    list-style-type: none;
    margin: 0;
    max-width: none;
    padding: 0;
    vertical-align: middle;
    border-bottom: 0;
    width: auto;
      &:last-child {
         border: none;
      }
    }

    a {
      text-decoration: none;

      &:hover {
         background-color: rgb(242, 245, 249);
         text-decoration: none;
      }
    }

    a,
    span {
      border-radius: 2px;
      font-size: 1.25rem;
      font-weight: 600;
      padding: .3125rem .9375rem;
      color: rgb(15, 91, 114);
      display: block;

      &.button-small {
        color: rgb(15, 91, 114);
        font-size: 1.25rem;
        background-color: #fff;
        &::after {
           padding-left: 10px;
           content: '\203A';
        }
        &:hover{
           background-color: rgb(242, 245, 249);
           text-decoration: none;
        }
      }
    }

    span {
      background-color: var(--col-background-primary-navy);
      color: #fff;
      border: none;
    }
  }
}
