.uomcontent {
  p.search-result-numbers {
    font-size: .875rem;
    line-height: calc(24/16rem);
    padding-top: calc(24/16rem);
    border-top: 1px solid color(var(--col-black-dark) alpha(10%));
  }

  ul.search-pagination {
    padding-top: calc(24/16rem);
    padding-bottom: calc(24/16rem);
    padding-left: 0;
    padding-right: 0;
    text-align: left;

    li {
      display: inline-block;
      list-style-type: none;
      margin: 0;
      max-width: none;
      padding: 0;
      vertical-align: middle;
      width: auto;

      &:nth-last-child(2) {
        margin-right: calc(10/16rem);
      }
    }

    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    a,
    span {
      border-radius: 2px;
      font-size: 1rem;
      padding: .3125rem .9375rem;
      display: block;

      &.button-small {
        font-size: .75rem;
      }
    }

    span {
      background-color: var(--col-navy-light);
    }
  }
}
