.uomcontent {
  p.search-spelling {
    margin-bottom: calc(24/16rem);
    border-bottom: 1px solid color(var(--col-black-dark) alpha(10%));

    strong {
      font-style: italic;
    }
  }

  /* TODO fix typography here */
  h2.search-title {
    font-size: .75rem;
    line-height: calc(24/16rem);
    padding-bottom: 1rem;
    color: var(--col-navy-main);
    padding-top: 0;
  }

  ol.search-results {
    padding-left: 0;
    padding-right: 0;
    width: 94%;

    @media screen and (--bp-desktop) {
      width: 100%;
    }

    & > li {
      @mixin clearfix;
      padding-bottom: calc(24/16rem);
      margin-bottom: calc(24/16rem);
      border-bottom: 1px solid color(var(--col-black-dark) alpha(10%));
      list-style-type: none;
      margin-left: 0;
      width: auto;

      &:last-child {
        padding-bottom: calc(24/16rem);
      }

      &.person {
        @mixin fallbackAvatarWrapper;

        .person__photo {
          @mixin fallbackAvatar;
          background-position: center;
          background-size: cover;
          border-radius: 50%;
          width: 85px;
          height: 85px;
        }

        .person__info {
          margin-left: 0;
        }

        .person__contact {
          padding-top: .75rem;

          a {
            white-space: nowrap;
          }
        }

        .person__phone {
          font-size: 1.125rem;
          line-height: calc(24/16rem);
        }

        @media screen and (--bp-desktop) {
          .person__info {
            display: table;
          }

          .person__profile,
          .person__contact {
            display: table-cell;
            vertical-align: top;
          }

          .person__profile {
            padding-right: calc(24/16rem);
            width: 100%;
          }

          .person__contact {
            padding-top: 0;
            text-align: right;
          }

          .person__phone {
            font-size: calc(20/16rem);
            line-height: calc(24/16rem);
            white-space: nowrap;

            & + .person__email {
              padding-top: .75rem;
            }
          }
        }
      }
    }

    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    img,
    .person__photo {
      margin-right: 1rem;
      max-width: 6.25rem;
      display: block;
      float: left;

      @media screen and (--bp-desktop) {
        max-width: 130px;
      }
    }

    h3 {
      font-size: calc(20/16rem);
      line-height: calc(24/16rem);
      padding-bottom: .75rem;
      font-weight: var(--fw-regular);
      width: auto;
    }

    p {
      font-size: .9375rem;
      line-height: calc(24/16rem);
      padding-bottom: 0;
      color: var(--col-black-dark);
      width: auto;

      @media screen and (--bp-desktop) {
        font-size: 1rem;
        line-height: calc(24/16rem);
      }

      &.url {
        font-size: .75rem;
        line-height: calc(24/16rem);
        color: var(--col-blue-mid-2);

        & > a {
          @mixin ellipsis;
        }
      }

      &.more {
        padding-top: .75rem;
        clear: left;

        & > a::after {
          font-size: calc(20/16rem);
          padding-left: .3125rem;
          content: '\2192';
          line-height: 0;
        }
      }

      & > [data-icon="lock"] {
        width: calc(20/16rem);
        height: calc(20/16rem);
      }
    }
  }

  /* Definition list for meta information (e.g. year/type for handbook results) */
  .search-results__meta {
    font-size: .875rem;
    margin: -.25rem 0 .125rem;
    padding: 0;

    & > dt,
    & > dd {
      display: inline-block;
      float: none;
    }

    & > dt {
      clear: none;
      width: auto;
    }

    & > dd {
      margin-left: 0;
    }

    /* space out consecutive items */
    & > dd + dt {
      margin-left: 1rem;
    }
  }

  /* Sub-links */
  .search-results__subs {
    margin-top: .75rem;
    padding: 0;
    list-style-type: circle;
    line-height: 1.4;

    & > li {
      margin-bottom: .25rem;
      padding: 0;
      list-style-type: inherit;
      color: inherit;
    }

    @supports (display: grid) {
      @media (--bp-tablet) {
        display: grid;
        grid-gap: .25rem 1rem;
        grid-template-columns: repeat(2, 1fr);

        & > li {
          margin-bottom: 0;
        }
      }

      @media (--bp-x-tablet) {
        grid-template-columns: repeat(2, minmax(15rem, max-content));
      }
    }
  }
}
