.uomcontent [role="main"] {
  .enquiry {
    padding-top: pxtorem(48);
    padding-bottom: pxtorem(48);
    background-color: var(--col-navy-light);

    .errors {
      font-size: 1.375rem;
      max-width: var(--w-sml);
      padding-top: pxtorem(30);
      background-color: var(--col-pink-light);
      margin: 0 auto;

      ul li {
        list-style-type: none;
      }
    }

    .enquiry__cta {
      @mixin wrapper;
      font-size: pxtorem(20);
      line-height: 3.125rem;
      padding-bottom: pxtorem(24);
      max-width: var(--w-sml);
      text-align: center;

      a {
        line-height: pxtorem(30);
        margin-left: pxtorem(10);
        vertical-align: middle;
      }

      @media screen and (--bp-desktop) {
        font-size: 1.375rem;
        line-height: pxtorem(36);
      }
    }

    .enquiry__subline {
      @mixin wrapper;
      padding-top: pxtorem(12);
      max-width: var(--w-sml);
      border-top: 1px solid color(var(--col-navy-mid-1) alpha(30%));
      color: var(--col-blue-mid-2);
      text-align: center;

      @media screen and (--bp-tablet) {
        & > div {
          display: inline-block;
        }

        .secondary {
          margin-left: pxtorem(20);
        }
      }
    }

    .enquiry-form__thanks {
      font-size: 1.375rem;
    }

    .enquiry__form {
      form {
        padding-top: pxtorem(24);
        max-width: 100%;
      }

      /* Hide the main legend only if present */
      & > .fields > fieldset {
        legend {
          @mixin screenreaders-only;
        }
      }

      fieldset {
        div {
          max-width: 37.5rem;
          margin-left: auto;
          margin-right: auto;
        }

        @media screen and (--bp-tablet) {
          label,
          legend {
            font-weight: var(--fw-regular);
          }
        }
      }
    }

    &--dark {
      background-color: var(--col-navy-main);
      color: var(--col-white);

      .enquiry__cta a {
        outline-color: currentColor;
      }

      .enquiry__subline {
        color: inherit;

        a {
          color: inherit;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }

    &.accordion__visible {
      .enquiry__cta {
        border-bottom: 1px solid color(var(--col-navy-mid-1) alpha(30%));
      }

      .accordion__hidden {
        max-height: 125rem;

        &.enquiry__form fieldset::before {
          display: block;
        }
      }
    }
  }
}
