.uomcontent [role="main"] {
  .enquiry {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: var(--col-paleblue);
    box-shadow: 0 -1px 9px color(var(--col-lightblue) alpha(30%)) inset;

    .errors {
      font-size: 1.375rem;
      max-width: var(--w-sml);
      padding-top: 1.875rem;
      background-color: #fad8dc;
      margin: 0 auto;

      ul li {
        list-style-type: none;
      }
    }

    .enquiry__cta {
      @add-mixin wrapper;
      font-size: 1.25rem;
      line-height: 3.125rem;
      padding-bottom: 1.5rem;
      max-width: var(--w-sml);
      text-align: center;

      a {
        line-height: 1.875rem;
        margin-left: .625rem;
        vertical-align: middle;
      }

      @media (--bp-desktop) {
        font-size: 1.375rem;
        line-height: 2.25rem;
      }
    }

    .enquiry__subline {
      @add-mixin wrapper;
      font-size: 1rem;
      line-height: 1.5rem;
      padding-top: .75rem;
      max-width: var(--w-sml);
      border-top: 1px solid color(var(--col-lightblue) alpha(30%));
      color: var(--col-midblue);
      text-align: center;

      @media (--bp-tablet) {
        & > div {
          display: inline-block;
        }

        .secondary {
          margin-left: 1.25rem;
        }
      }
    }

    .enquiry-form__thanks {
      font-size: 1.375rem;
    }

    .enquiry__form {
      form {
        padding-top: 1.5rem;
        max-width: 100%;
      }

      /* Hide the main legend only if present */
      & > .fields > fieldset {
        legend {
          @add-mixin screenreaders-only;
        }
      }

      fieldset {
        div {
          max-width: 37.5rem;
          margin-left: auto;
          margin-right: auto;
        }

        @media (--bp-tablet) {
          label,
          legend {
            font-weight: var(--fw-regular);
          }
        }

        input[type="checkbox"],
        input[type="radio"] {
          & + label {
            width: 100%;
            font-weight: var(--fw-light);
          }
        }
      }
    }

    &--dark {
      background-color: var(--col-blue);
      color: #fff;
      box-shadow: none;

      .enquiry__cta a {
        outline-color: currentColor;
      }

      .enquiry__subline {
        color: inherit;

        a {
          color: inherit;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }

    &.accordion__visible {
      .enquiry__cta {
        border-bottom: 1px solid color(var(--col-lightblue) alpha(30%));
      }

      .accordion__hidden {
        max-height: 125rem;

        &.enquiry__form fieldset::before {
          display: block;
        }
      }
    }
  }
}
