.uomcontent .filtered-listing-wrapper {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color: $navy;
}

.uomcontent .bottom-align-flat .filtered-listing-wrapper {
  background-color: transparent;
}

.uomcontent header .filtered-listing-wrapper {
  padding-bottom: 0;
  padding-top: 0;
}

@mixin filtered-listing-select {
  max-width: $w-lge;
  background-color: transparent;
  color: $white;
  margin: 0 auto;
  overflow: hidden;

  @include breakpoint(desktop) {
    padding-left: 0;
    padding-right: 0;
  }

  strong {
    font-size: .9375rem;
    padding-bottom: .3125rem;
    display: block;
    font-weight: $light;
  }

  h2 {
    font-size: 1.875rem;
    font-weight: $thin;
    line-height: 1.2;
    margin-left: 0;
    padding-bottom: 0;
    padding-left: 0;
    text-transform: uppercase;
  }

  p {
    font-size: .8125rem;
    font-weight: $light;
    margin-left: 0;
    padding: 0;
    text-align: left;
  }

  .left {
    @include breakpoint(tablet) {
      line-height: 1.875rem;
      margin: 0;

      legend,
      label {
        font-size: .9375rem;
        padding: 0 0 .9375rem;
        color: $white;
        display: block;
      }
    }

    @include breakpoint(desktop) {
      padding-left: 1.875rem;
      padding-right: 1.875rem;
      float: left;
      width: 66.66%;
    }
  }

  .filtered-listing-tag {
    padding-right: 2.8125rem;
    float: left;

    input[type="checkbox"] {
      & + label {
        padding-left: .3125rem;
        padding-top: .3125rem;
        display: inline-block;
        width: auto;

        @include breakpoint(tablet) {
          padding: 0;
        }

        span {
          padding-left: 1.5625rem;
          display: inline-block;
          width: auto;

          &::before {
            background-color: currentColor;
            margin-left: 0;
            top: 5px;
          }
        }

        &::after {
          left: 3px;
          top: 9px;
        }
      }

      &[data-color="green"] + label {
        color: $filtered-listing-green;

        span::before {
          border-color: darken($green, 5%);
        }

        &::after {
          border-color: $green;
        }
      }

      &[data-color="bronze"] + label {
        color: $filtered-listing-bronze;

        span::before {
          border-color: darken($filtered-listing-bronze, 20%);
        }

        &::after {
          border-color: darken($filtered-listing-bronze, 40%);
        }
      }

      &[data-color="silver"] + label {
        color: $filtered-listing-silver;

        span::before {
          background-color: darken($filtered-listing-silver, 5%);
          border-color: darken($filtered-listing-silver, 10%);
        }

        &::after {
          border-color: darken($filtered-listing-silver, 40%);
        }
      }

      &[data-color="blue"] + label {
        color: $filtered-listing-blue;

        span::before {
          background-color: lighten($filtered-listing-blue, 10%);
          border-color: darken($filtered-listing-blue, 10%);
        }

        &::after {
          border-color: darken($filtered-listing-blue, 20%);
        }
      }

      &[data-color="yellow"] + label {
        color: $filtered-listing-yellow;

        span::before {
          border-color: darken($filtered-listing-yellow, 10%);
        }

        &::after {
          border-color: darken($filtered-listing-yellow, 60%);
        }
      }
    }
  }

  .right {
    padding-top: 1.875rem;
    margin: 0;

    & > div {
      padding-top: .1875rem;

      select {
        width: 100%;

        option {
          background-color: $navy;
          color: $white;
        }
      }
    }

    label {
      font-size: .9375rem;
      line-height: 1.875rem;
      padding-bottom: .9375rem;
      display: block;
      width: 100%;
    }

    @include breakpoint(desktop) {
      padding-right: 1.875rem;
      float: right;
      margin: 0;
      padding-top: 0;
      width: 33.33%;
    }
  }
}

.uomcontent .filtered-listing-select {
  @include filtered-listing-select;
}
