$filtered-listing-green: $palegreen;
$filtered-listing-bronze: $bronze;
$filtered-listing-silver: $lightestblue;
$filtered-listing-blue: $lightblue;
$filtered-listing-yellow: $paleyellow;

@import 'filters';
@import 'listing';