// Print
$black: #000000;
$gray: #aaaaaa;
$white: #ffffff;

@mixin defaults {
  background-color: $white;
  font-size: 11pt;
  font-weight: 400;
  line-height: 1.2;
}

@media print {
  body {
    background-color: $white;
  }

  body .uomcontent {
    @include defaults();
    color: $black !important;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    max-width: 700px;

    * {
      @include defaults;
    }

    .page-header-tools,
    .page-footer,
    [role="sitemap"],
    [role="navigation"],
    .sitemap-trigger {
      display: none;
    }

    .page-header {
      margin: 0 auto;
      max-width: 700px;
      position: static !important;

      header {
        border: 0 none;
        box-shadow: 0 0 0 0;
        height: auto;

        a.page-header-logo {
          display: none;

          * {
            display: none;
          }
        }

        .page-header-navigation {
          margin: 0;
        }
      }

      a.page-header-logo {
        display: none;

        * {
          display: none;
        }
      }

      .page-header-navigation {
        border: 0 none;
        display: block;
        height: auto;
        line-height: 1;
        margin: 0;
        padding-bottom: 30px;
        padding-left: 20px;
        padding-top: 10px;
        text-align: left;
        width: 100%;

        a,
        span {
          color: $gray;
          line-height: 1.6;
        }

        .page-local-history {
          color: $gray;
          display: inline;
          line-height: 1;
          padding: 0;
          text-align: left;
        }
      }
    }

    .page-inner {
      padding-top: 0;
    }

    [role="main"] {
      .tabbed-nav,
      .tabbed-course {
        .desktop-nav,
        .mobile-nav {
          display: none;
        }
      }

      .news-hero {
        a {
          background-image: none !important;
          padding-top: 0;
        }

        .inner {
          background: $white;
          color: $black;

          h1,
          p {
            font-size: 1.4em;
          }
        }
      }

      .alert {
        background: $white;
        box-shadow: 0 0 0 0;
        padding: 0;
      }

      .button-hero,
      .button-hero-reverse,
      .button-hero-inverse,
      .video,
      iframe,
      .pathfinder-2,
      .pathfinder-3,
      .pathfinder-4,
      .pathfinder-5,
      footer.cta,
      .filtered-listing-wrapper,
      form.course-select .right,
      hr,
      .styled-select svg.icon,
      ul.jump-navigation,
      ul.accordion > li:before,
      [data-tabbed].tabbed nav {
        display: none;
      }

      form {
        background-image: none !important;
      }

      .hero-listing a {
        background-image: none !important;

        .inner {
          background: $white;

          strong,
          p {
            color: $black;
          }
        }
      }

      input[type="text"],
      input[type="password"],
      input[type="search"],
      input[type="email"],
      textarea {
        box-shadow: 0 0 0 0;
      }

      .button,
      input[type="submit"] {
        background: $white;
        border: 0 none;
        color: $black;
        font-size: 1em;
        letter-spacing: 0;
        text-transform: none;
      }

      a[href^="http"]:after {
        content: " (" attr(href) ") ";
        color: $gray;
        display: inline-block;
        font-size: 90%;
        padding-left: 5px;
        text-decoration: none;
      }

      h1,
      h2,
      h3,
      p,
      blockquote {
        color: $black;
      }

      .block-listing li {
        border: 0 none;
        box-shadow: 0 0 0 0;
        margin: 15px 0;

        &.event {
          border-bottom: 0 none;

          .when {
            color: $black;
          }
        }

        &.double .block-container {
          color: $black;
        }

        .crop-height img {
          margin: 0 auto;
          max-height: 340px;
          width: auto !important;
        }
      }

      .enquiry {
        background-color: $white;
        box-shadow: 0 0 0 0;
      }

      select {
        background-color: #f6f6f6;
        border-color: $black;
        color: $black;
        -webkit-appearance: menulist;
      }

      h1.highlight {
        background: $white !important;
        color: $black !important;
        -webkit-background-clip: inherit !important;
        -webkit-text-fill-color: inherit !important;
      }

      .alt,
      .with-aside aside,
      .tabbed-course .half,
      .contact-box {
        background: $white;
      }

      .navigation-text-listing ul {
        padding-left: 40px;
      }

      header,
      section,
      pre,
      footer,
      footer.contrib {
        background: $white;
        border: 0 none;
        color: $black;
        margin: 0;
        padding: 0 0 1em;
        text-align: left;
      }

      & > header:first-child {
        background: $white;
        border: 0 none;
        color: $black;
      }

      header.banner,
      header.image,
      &>header:first-child.image {
        background: $white !important;
        min-height: 0 !important;
        padding: 0;

        p {
          text-align: left;
        }
      }

      .tabbed-course > .full-width {
        border: 0 none;
      }

      header .bottom-align-flat {
        background: $white !important;
        margin: 0 auto;
        max-width: 700px;
        padding: 0 10px 10px;
      }

      form.course-select {
        padding-top: 0;

        .left {
          padding-top: 0;

          h2 {
            padding-top: 0;
          }
        }
      }

      pre,
      code {
        border: 0 none;
        font-family: 'Courier New', Courier, fixed !important;
        overflow: visible;
        white-space: pre-wrap;
      }

      .with-aside {
        aside {
          padding-bottom: 0;

          h2:first-child {
            margin-left: 0;
            padding-bottom: 0;
          }
        }

        .bside {
          padding-top: 0;
        }
      }

      .filtered-listing-section aside {
        margin: 0;
        padding-bottom: 0;
        width: 100%;

        h2,
        p {
          margin: 0 2%;
        }
      }

      .filtered-listing-grid {
        height: auto !important;
        margin: 0;
        position: static !important;

        li {
          display: inline-block;
          height: auto !important;
          left: auto !important;
          position: static !important;
          top: auto !important;
          vertical-align: top;
          width: 31.333% !important;

          a {
            background: $white !important;
          }
        }
      }

      // Opinion follows
      [data-tabbed] [role="tabpanel"] {
        display: block !important;
        margin: 0;
        padding: 0;
      }

      .accordion__hidden {
        margin-top: 15px;
        max-height: 100%;
      }

      table.course-progression tr td.unit-description {
        background: $white;
      }

      table.course-progression tbody tr.accordion__hidden {
        display: block;
      }
    }
  }
}
