@import '../../shared/vendor/compass';

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

// Force FOUC on webfontloader inactive and loading states
.wf-inactive *,
.wf-loading * {
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
}

.hidden {
  display: none;
}

@import '../../shared/patterns_normalize';
@import '../../shared/patterns_accessibility';
@import '../../shared/patterns_fallback_avatar';
@import '../../shared/patterns_clearfix';
@import '../../shared/patterns_rem';
@import '../../shared/patterns_media-queries';
@import '../../shared/globals';
@import '../../shared/typography_fonts';

@import './filtered-listings/index';
@import './base/index';
@import './text/index';
@import './buttons/index';
@import './headers/index';
@import './headings/index';
@import './listings/index';
@import './forms/index';
@import './checklist/index';
@import './media/index';
@import './tabs/index';
@import './pathfinder/index';
@import './inpage-navigation/index';
@import './accordion/index';
@import './events/index';
@import './maps/index';
@import './modal/index';
@import './news/index';
@import './people/index';
@import './search/index';
@import './loading-animation/index';
@import './tables/index';
@import './timeline/index';
@import './enquiry/index';
@import './gallery/index';
@import './article/index';
@import './notices/index';
@import '../injection/icons/svg';

// Print
@import './print';
