$menu: #036;

[role="navigation"] {
  @include rem(padding, 0 0 30px);
  @include rem(right, 40px);
  @include rem(width, 250px);
  @include translateX(0);
  background-color: $menu;
  box-shadow: 1px 0 12px 3px rgba($black, .6);
  color: $white;
  height: 100%;
  overflow: auto;
  position: fixed;
  top: 0;
  z-index: 1;

  @include breakpoint(tablet) {
    display: none;
  }

  ul {
    margin: 0;
    padding: 0;

    &.hide {
      @include translateX(100%);
    }

    ul {
      @include translateX(0);
      background-color: $navy;
      height: 100%;
      overflow: auto;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 10;
    }

    ul li {
      background-color: $navy;
    }
  }

  img {
    display: none;
    margin: 0 25%;
    max-width: 50%;
  }

  li {
    border-top: 1px solid rgba($white, .1);
    list-style-type: none;
    padding: 0;
  }

  h2 {
    @include rem(font-size, 14px);
    @include rem(letter-spacing, 1px);
    @include rem(padding, 20px);
    color: rgba($white, .6);
    cursor: pointer;
    display: block;
    font-weight: 400;
    text-decoration: none;
  }

  a,
  span {
    @include rem(font-size, 14px);
    @include rem(letter-spacing, 1px);
    @include rem(padding, 20px);
    color: $white;
    display: block;
    text-decoration: none;

    &:hover {
      background-color: darken($menu, 3%);
      color: $white;
    }
  }

  .sitemap-link {
    @include rem(font-size, 14px);
    @include rem(margin, 20px);
    @include rem(padding, 10px 15px);
    background-color: rgba($white, .1);
    border: 1px solid rgba($white, .1);
    display: inline-block;
  }

  .back {
    span {
      background-color: $menu;
      color: rgba($white, .6);
      cursor: pointer;

      &::before {
        @include rem(font-size, 24px);
        @include transform(rotate(90deg) translateX(5px));
        content: '\2335';
        float: left;
        font-weight: 800;
        line-height: 1;
        padding-right: 10px;
      }
    }
  }

  .parent {
    cursor: pointer;

    &::after {
      @include rem(font-size, 24px);
      @include transform(rotate(270deg) translateY(-1px));
      content: '\2335';
      float: right;
      font-weight: 800;
      line-height: 1;
      z-index: 9;
    }
  }

  &.active {
    @include translateX(0);
    display: block;
    z-index: 11;

    .sitemap-label {
      margin-left: -100px;

      @include breakpoint(tablet) {
        margin-left: 0;
      }
    }
  }

  &.global-active {
    @include transform(translate(-100%, 0));
    -webkit-transition: -webkit-transform .3s ease;
    -moz-transition:    -moz-transform .3s ease;
    -ms-transition:     -ms-transform .3s ease;
    transition:         transform .3s ease;

    display: block;
    left: 0;

    @include breakpoint(tablet) {
      @include transform(translate(-100%, 0) translate(110px, 0));
    }
  }

  &.no-js {
    @extend %wrapper;
    background-color: $navy;
    box-shadow: 0 0 0;
    display: block;
    position: static;
    width: auto;
  }

  @include breakpoint(tablet) {
    @include rem(right, 40px);
    @include rem(width, 300px);
  }
}

[role="sitemap"] {
  @extend %wrapper;
  @include rem(padding, 0 0 30px);
  box-shadow: 3px 0 6px rgba($black, .4) inset;
  display: none;
  height: 100%;
  margin: 0;
  max-width: 100%;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 0;

  &.reveal {
    @include rem(padding-left, 60px);
    @include transform(translate3d(100%, 0, 0) translateX(-40px));
    -webkit-transition: -webkit-transform .3s ease;
    -moz-transition:    -moz-transform .3s ease;
    -ms-transition:     -ms-transform .3s ease;
    transition:         transform .3s ease;
    background-color: $navy;
    cursor: pointer;
    display: block;
    z-index: 12;

    &:hover {
      @include transform(translate3d(100%, 0, 0) translateX(-55px));
      .sitemap-label {
        @include transition(color .3s ease);
        color: $white;
        text-decoration: none;
      }
    }

    .sitemap-label {
      display: block;
    }
  }

  &.active {
    display: block;
    left: 0;
    overflow: auto;
    padding-left: 3%;
    padding-right: 3%;
    position: fixed;
    z-index: 12;

    @include breakpoint(tablet) {
      @include rem(left, 110px);
      @include rem(padding-left, 40px);
      @include rem(padding-right, 155px);
    }
  }

  a {
    @include rem(padding-top, 10px);
    color: rgba($white, .6);
    display: block;
    font-weight: $light;
    padding-bottom: 0;
    padding-left: 3%;
    padding-right: 3%;
    text-decoration: none;

    &:hover {
      background-color: transparent;
      color: $white;
      text-decoration: underline;
    }
  }

  h2 {
    @include rem(font-size, 20px);
    @include rem(padding-bottom, 10px);
    @include rem(padding-top, 30px);
    border-bottom: 1px solid $blue;
    color: rgba($white, .6);
    line-height: 1.2;
    padding-left: 3%;
    padding-right: 3%;
  }

  li {
    @include rem(font-size, 14px);
    color: $white;
    line-height: 1.4;
    list-style-type: none;
    padding: 0;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  ul.quicklinks {
    @include rem(padding, 15px 0);
    clear: both;
    width: 100%;

    li {
      @include rem(line-height, 40px);
      clear: both;

      @include breakpoint(tablet) {
        clear: none;
        line-height: 1;
      }
    }

    a {
      @include rem(border-radius, 3px);
      @include rem(margin, 0 30px);
      @include rem(padding, 15px);

      &:hover {
        background-color: $highlight;
        text-decoration: none;
      }
    }

    .icon {
      @extend %imgreplace;
      @include rem(height, 40px);
      @include rem(padding-right, 15px);
      @include rem(width, 40px);
      display: block;
      float: left;

      @include breakpoint(tablet) {
        -ms-behavior: '';
        behavior: '';
        float: none;
        margin-left: auto;
        margin-right: auto;
        padding-right: 0;
      }

      &.faculties {
        background-image: url("#{asset_path('global-nav/icon-faculties-w.png')}");
      }

      &.library {
        background-image: url("#{asset_path('global-nav/icon-library-w.png')}");
      }

      &.contact {
        background-image: url("#{asset_path('global-nav/icon-contact-w.png')}");
      }

      &.maps {
        background-image: url("#{asset_path('global-nav/icon-maps-w.png')}");
      }

      &.support {
        background-image: url("#{asset_path('global-nav/icon-support-w.png')}");
      }

    }

    @include breakpoint(tablet) {
      border-bottom: 1px solid $blue;
      border-top: 1px solid $blue;
      float: left;

      li {
        float: left;
        width: 20%;
      }

      a {
        @include rem(min-height, 90px);
        @include rem(margin-bottom, 15px);
        display: block;
        text-align: center;
        vertical-align: middle;
      }
    }
  }

  form {
    clear: both;
    float: none;
    margin-top: 0;
    padding: 0 3%;

    @include breakpoint(tablet) {
      @include rem(margin-top, 45px);
      clear: none;
      float: right;
    }

    fieldset .inline {
      input[type="search"] {
        background-color: $lightergray;
        max-width: 600px;
        width: 100%;

        &::-webkit-input-placeholder { /* WebKit browsers */
          color: $midgray;
        }
        &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
          color: $midgray;
          opacity:  1;
        }
        &::-moz-placeholder { /* Mozilla Firefox 19+ */
          color: $midgray;
          opacity:  1;
        }
        &:-ms-input-placeholder { /* Internet Explorer 10+ */
          color: $midgray;
        }
      }

      .search-button {
        @extend %imgreplace;
        @include rem(border-radius, 0 3px 3px 0);
        @include rem(height, 45px);
        @include rem(margin, 15px 0);
        @include rem(padding, 10px);
        @include rem(width, 45px);
        background-color: $white;
        background-image: url("#{asset_path('header/icon-s-b.png')}");
        border: 0 none;
        color: $white;
        position: absolute;
        right: 0;
        text-indent: -999em;
        top: 0;

        &:hover {
          @include rem(margin-top, 15px);
          border-bottom-width: 0;
        }
      }
    }
  }

  h2.logo {
    @extend %imgreplace;
    @include rem(height, 140px);
    @include rem(margin-top, 15px);
    @include rem(width, 140px);
    background-image: url("#{asset_path('header/logo.svg')}");
    border: 0 none;
    clear: none;
    margin-left: auto;
    margin-right: auto;
    text-indent: -9999em;

    @include breakpoint(tablet) {
      -ms-behavior: none;
      behavior: none;
      float: left;
    }
  }

  a.sitemap-label {
    @include rem(font-size, 15px);
    @include rem(padding-left, 65px);
    @include rem(padding-top, 200px);
    @include transform(rotate(90deg));
    color: rgba($white, .5);
    cursor: pointer;
    display: none;
    font-weight: $regular;
    left: 0;
    letter-spacing: 1px;
    line-height: 1;
    padding-bottom: 0;
    padding-right: 0;
    position: absolute;
    text-transform: uppercase;
    top: 0;
    z-index: 11;

    &:before,
    &::before {
      @include transform(rotate(180deg) translateX(10px) translateY(-10px));
      content: '\2335';
      display: inline-block;
      font-size: 30px;
    }
  }

  a.close-button {
    @include rem(padding-left, 30px);
    @include rem(height, 60px);
    border: 0;
    color: $navy;
    display: block;
    float: left;
    text-decoration: none;
    text-indent: -999em;
    width: 0;

    &::before {
      @include rem(font-size, 40px);
      @include rem(height, 10px);
      @include transform(rotate(90deg) translate(10px, -15px));
      color: rgba($white, .4);
      content: '\2335';
      display: block;
      font-weight: $regular;
      text-indent: 0;
    }

    &:hover {
      background-color: transparent;
      color: rgba($white, .4);
      text-decoration: none;
    }
  }

  @include breakpoint(tablet) {
    form {
      @include rem(width, 600px);
      padding: 0;
    }

    h2 {
      @include rem(padding-left, 10px);
    }

    .col-3 {
      clear: both;
      padding-top: 30px;

      div {
        float: left;
        width: 30%;

        &:first-child {
          margin-right: 5%;

          & + div + div {
            margin-left: 5%;
          }
        }
      }

      h2 {
        @include rem(padding-top, 30px);
        border-top: 0 none;
        margin-right: 0;
        padding-left: 0;
      }

      a {
        padding-left: 0;
      }
    }
  }
}

.modal__dialog {
  h2.title {
    @include rem(padding-top, 30px);
    padding-bottom: 0;
  }

  a.button-fill {
    h2 {
      padding-top: 0;
    }

    p {
      font-weight: $light;
    }

    .icon-staff {
      @include rem(height, 100px);
      @include rem(width, 100px);
      -ms-behavior: url("#{asset_path('backgroundsize.min.htc')}");
      behavior: url("#{asset_path('backgroundsize.min.htc')}");
      background-image: url("#{asset_path('header/icon-p-b.png')}");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      display: block;
      margin: 0 auto;
    }

    .icon-student {
      @extend .icon-staff;
      background-image: url("#{asset_path('header/icon-m-b.png')}");
    }

    &:hover {
      .icon-staff {
        background-image: url("#{asset_path('header/icon-p-w.png')}");
      }

      .icon-student {
        background-image: url("#{asset_path('header/icon-m-w.png')}");
      }
    }
  }
}
