$menu: #036;

[role="navigation"] {
  @include rem(padding, 0 0 30px);
  @include rem(right, 40px);
  @include rem(width, 250px);
  @include translateX(0);
  background-color: $menu;
  box-shadow: 1px 0 12px 3px rgba($black, 0.6);
  color: $white;
  height: 100%;
  overflow: auto;
  position: fixed;
  top: 0;
  z-index: 1;

  ul {
    margin: 0;
    padding: 0;
    &.hide {
      @include translateX(100%);
    }
    ul {
      @include translateX(0);
      background-color: $navy;
      min-height: 100%;
      overflow: auto;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 10;
    }
    ul li {
      background-color: $navy;
    }
  }
  img {
    display: none;
    max-width: 50%;
    margin: 0 25%;
  }
  li {
    border-top: 1px solid rgba($white, 0.1);
    list-style-type: none;
    padding: 0;
  }
  h2 {
    @include rem(font-size, 14px);
    @include rem(letter-spacing, 1px);
    @include rem(padding, 20px);
    color: rgba($white, 0.6);
    cursor: pointer;
    display: block;
    font-weight: 400;
    text-decoration: none;
  }
  a,
  span {
    @include rem(font-size, 14px);
    @include rem(letter-spacing, 1px);
    @include rem(padding, 20px);
    color: $white;
    display: block;
    text-decoration: none;
    &:hover {
      background-color: darken($menu, 3%);
      color: $white;
    }
  }

  .sitemap-link {
    border: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0.1);

    display: inline-block;
    margin: 20px;
    padding: 10px 15px;
  }

  .back {
    span {
      background-color: $menu;
      color: rgba($white, 0.6);
      cursor: pointer;
      &::before {
        @include rem(font-size, 24px);
        content: '\2335';
        float: left;
        font-weight: 800;
        line-height: 1;
        padding-right: 10px;
        -webkit-transform: rotate(90deg) translateX(5px);
        -moz-transform:    rotate(90deg) translateX(5px);
        -ms-transform:     rotate(90deg) translateX(5px);
        transform:         rotate(90deg) translateX(5px);
      }
    }
  }

  .parent {
    cursor: pointer;
    &::after {
      @include rem(font-size, 24px);
      content: '\2335';
      float: right;
      font-weight: 800;
      line-height: 1;
      -webkit-transform: rotate(270deg) translateY(-1px);
      -moz-transform:    rotate(270deg) translateY(-1px);
      -ms-transform:     rotate(270deg) translateY(-1px);
      transform:         rotate(270deg) translateY(-1px);
      z-index: 9;
    }
  }

  &.active {
    @include translateX(0);
    .sitemap-label {
      margin-left: -100px;
      @include breakpoint(tablet) {
        margin-left: 0;
      }
    }
  }

  &.global-active {
    @include transform(translate(-100%, 0) translate(100px, 0));
    left: 0;
    -webkit-transition: -webkit-transform .3s ease;
    -moz-transition:    -moz-transform .3s ease;
    -ms-transition:     -ms-transform .3s ease;
    transition:         transform .3s ease;
  }

  &.no-js {
    @extend %wrapper;
    background-color: $navy;
    box-shadow: 0 0 0;
    display: block;
    position: static;
    width: auto;
  }

  @include breakpoint(tablet) {
    @include rem(right, 40px);
    @include rem(width, 300px);
  }
}

.sitemap-label {
  @include rem(font-size, 16px);
  color: $white;
  cursor: pointer;
  display: block;
  letter-spacing: 1px;
  line-height: 1;
  position: absolute;
  right: 0;
  text-transform: uppercase;
  top: 0;
  z-index: 11;
  -webkit-transform: rotate(90deg) translateX(115px) translateY(-82px);
  -moz-transform:    rotate(90deg) translateX(115px) translateY(-82px);
  -ms-transform:     rotate(90deg) translateX(115px) translateY(-82px);
  transform:         rotate(90deg) translateX(115px) translateY(-82px);
  &::before {
    content: '\2335';
    display: inline-block;
    font-size: 30px;
    -webkit-transform: rotate(180deg) translateX(5px) translateY(-9px);
    -moz-transform:    rotate(180deg) translateX(5px) translateY(-9px);
    -ms-transform:     rotate(180deg) translateX(5px) translateY(-9px);
    transform:         rotate(180deg) translateX(5px) translateY(-9px);
  }
  &.open::before {
    color: transparent;
  }
  display: none;
}

[role="sitemap"] {
  @extend %wrapper;
  @include rem(padding, 0 0 30px);
  @include translateX(0);
  display: none;
  height: 100%;
  margin: 0;
  max-width: 100%;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 0;

  a {
    @include rem(padding-bottom, 7px);
    @include rem(padding-top, 12px);
    border-bottom: 1px solid $navy;
    color: rgba($white, 0.6);
    display: block;
    padding-left: 3%;
    padding-right: 3%;
    text-decoration: none;
    &:hover {
      background-color: transparent;
      border-bottom: 1px solid $white;
      color: $white;
    }
  }
  h2 {
    @include rem(font-size, 20px);
    @include rem(padding-bottom, 10px);
    border-bottom: 1px solid $blue;
    color: rgba($white, 0.6);
    line-height: 1.2;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 0;
  }
  li {
    @include rem(font-size, 14px);
    color: $white;
    line-height: 1.4;
    list-style-type: none;
    padding: 0;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  form {
    padding: 0 3%;
  }

  &.active {
    display: block;
    left: 0;
    overflow: auto;
    padding-left: 160px;
    padding-right: 60px;
    position: fixed;
    z-index: 11;
  }

  .search-button {
    @extend %imgreplace;
    @include rem(border-radius, 3px);
    @include rem(height, 45px);
    @include rem(margin, 15px 0);
    @include rem(padding, 10px);
    @include rem(width, 45px);
    background-color: $highlight;
    background-image: url("#{asset_path('header/search-w.png')}");
    border: 0 none;
    color: $white;
    position: absolute;
    text-indent: -999em;
    top: 0;
    right: 0;
    &:hover {
      @include rem(margin-top, 15px);
      border-bottom-width: 0;
    }
    @include breakpoint(desktop) {
      @include rem(right, 170px);
    }
  }

  a.close-button {
    border: 0;
    color: $navy;
    border: 0;
    display: block;
    height: 0;
    margin-right: 0;
    padding-right: 0;
    text-indent: -999em;

    &::before {
      @include rem(font-size, 30px);
      @include rem(height, 20px);
      @include rem(line-height, 17px);
      @include rem(margin, 10px 10px 0 0);
      @include rem(padding-left, 2px);
      @include rem(width, 18px);
      border: 2px solid $white;
      border-radius: 50%;
      color: $white;
      content: '\00d7';
      display: block;
      float: right;
      font-weight: $light;
      text-indent: 0;
    }
    &:hover {
      background-color: $navy;
      color: $navy;
    }
  }

  @include breakpoint(tablet) {
    form {
      @include rem(width, 600px);
      padding: 0;
    }
    h2 {
      @include rem(padding-left, 10px);
    }
    .col-3 {
      clear: both;
      padding-top: 30px;
      div {
        float: left;
        width: 27%;
        &:first-child {
          margin-right: 9.5%;
        }
        &:first-child + div + div {
          margin-left: 9.5%;
        }
      }
      h2 {
        @include rem(padding-top, 30px);
        border-top: 0 none;
        margin-right: 0;
        padding-left: 0;
      }
      a {
        padding-left: 0;
      }
    }
  }
}
