[role="navigation"] {
  @include rem(padding, 30px 0);
  @include rem(right, 40px);
  @include rem(width, 250px);
  @include translateX(0);
  background-color: lighten($navy, 2%);
  box-shadow: 1px 0 12px 3px rgba($black,.6);
  color: $white;
  position: fixed;
  top: 0;
  z-index: 1;

  h2 {
    @include rem(padding, 0 30px 30px);
  }
  ul {
    margin: 0;
    padding: 0;
    &.hide {
      display: none;
    }
    ul li {
      background-color: $blue;
      border-color: $navy;
    }
  }
  img {
    display: none;
    max-width: 50%;
    margin: 0 25%;
  }
  li {
    border-top: 1px solid $blue;
    list-style-type: none;
    padding: 0;
  }
  a,
  span {
    @include rem(font-size, 14px);
    @include rem(letter-spacing, 1px);
    @include rem(padding, 15px 30px);
    color: $white;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    &:hover {
      background-color: $brand;
      color: $white;
    }
  }
  .parent {
    cursor: pointer;
    &::after {
      @include rem(font-size, 24px);
      content: '>';
      float: right;
      line-height: 1;
      -webkit-transform: rotate(90deg)  translateY(-10px);
      -moz-transform: rotate(90deg) translateY(-10px);
      -ms-transform: rotate(90deg) translateY(-10px);
      transform: rotate(90deg) translateY(-10px);
    }
    &.open {
      background-color: $blue;
    }
  }

  .sitemap-label {
    @include rem(font-size, 16px);
    color: $white;
    cursor: pointer;
    display: block;
    letter-spacing: 1px;
    line-height: 1;
    position: absolute;
    text-transform: uppercase;
    top: 0;
    -webkit-transform: rotate(90deg) translateX(100px) translateY(-275px);
    -moz-transform: rotate(90deg) translateX(100px) translateY(-275px);
    -ms-transform: rotate(90deg) translateX(100px) translateY(-275px);
    transform: rotate(90deg) translateX(100px) translateY(-275px);
    &::before {
      content: '>';
      display: inline-block;
      font-size: 30px;
      -webkit-transform: rotate(-90deg) translateX(-5px) translateY(-12px);
      -moz-transform: rotate(-90deg) translateX(-5px) translateY(-12px);
      -ms-transform: rotate(-90deg) translateX(-5px) translateY(-12px);
      transform: rotate(-90deg) translateX(-5px) translateY(-12px);
    }
  }

  &.active {
    display: block;
    position: absolute;
    img {
      display: block;
    }
    .sitemap-label {
      margin-left: -100px;
      @include breakpoint(tablet) {
        margin-left: 0;
      }
    }
  }

  &.evolve {
    @include translateX(-400px);
    @include breakpoint(tablet) {
      @include translateX(-820px);
    }
  }

  &.no-js {
    @extend %wrapper;
    background-color: $navy;
    box-shadow: 0 0 0;
    display: block;
    position: static;
    width: auto;
  }

  @include breakpoint(tablet) {
    @include rem(right, 60px);
    @include rem(width, 340px);
  }
}

[role="sitemap"] {
  @extend %wrapper;
  @include rem(padding, 0 0 30px);
  @include translateX(0);
  display: none;
  height: 100%;
  margin: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 0;

  a {
    @include rem(padding-bottom, 10px);
    @include rem(padding-top, 10px);
    border-top: 1px solid $blue;
    color: $white;
    display: block;
    padding-left: 3%;
    padding-right: 3%;
    text-decoration: none;
    &:hover {
      background-color: $brand;
      color: $white;
    }
  }
  h2 {
    @include rem(font-size, 24px);
    @include rem(padding-bottom, 10px);
    color: $white;
    line-height: 1.2;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 0;
    a {
      border-top: 0 none;
    }
  }
  li {
    @include rem(font-size, 14px);
    color: $white;
    line-height: 1.4;
    list-style-type: none;
    padding: 0;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  form {
    padding: 0 3%;
  }

  &.active {
    display: block;
    position: absolute;
  }

  .col-2 {
    width: 100%;
  }

  .search-button {
    @extend %imgreplace;
    @include rem(border-radius, 3px);
    @include rem(height, 45px);
    @include rem(margin, 15px 0);
    @include rem(padding, 10px);
    @include rem(width, 45px);
    background-color: $highlight;
    background-image: url("#{asset_path('header/search-w.png')}");
    border: 0 none;
    color: $white;
    position: absolute;
    text-indent: -999em;
    top: 0;
    right: 0;
    &:hover {
      @include rem(margin-top, 15px);
      border-bottom-width: 0;
    }
    @include breakpoint(desktop) {
      @include rem(right, 170px);
    }
  }

  .close-button {
    color: $navy;
    border: 0;
    display: block;
    height: 0;
    margin-right: 0;
    padding-right: 0;
    text-indent: -999em;

    &::before {
      @include rem(font-size, 30px);
      @include rem(height, 20px);
      @include rem(line-height, 17px);
      @include rem(margin, 10px 10px 0 0);
      @include rem(padding-left, 2px);
      @include rem(width, 18px);
      border: 2px solid $white;
      border-radius: 50%;
      color: $white;
      content: '\00d7';
      display: block;
      float: right;
      font-weight: $light;
      text-indent: 0;
    }
    &:hover {
      background-color: $navy;
      color: $navy;
    }
  }

  .accordion__title {
    @include rem(padding, 20px 10px);
    border-top: 1px solid $blue;
    &:hover {
      background-color: $brand;
      color: $white;
    }
    &::after {
      color: $blue;
      content: '\25bc';
      float: right;
    }
  }

  .accordion__visible {
    a {
      background-color: $brand;
    }
    .accordion__title {
      background-color: $brand;
      &::after {
        color: $white;
        content: '\25b2';
      }
    }
  }

  @include breakpoint(tablet) {
    @include rem(width, 800px);
    form {
      @include rem(width, 600px);
      padding: 0;
    }
    h2 {
      @include rem(padding-left, 10px);
    }
    .col-2 {
      float: left;
      margin-right: 3%;
      width: 47%;
      h2 {
        margin-right: 0;
      }
    }
    .accordion__title {
      @include rem(padding-top, 30px);
      border-top: 0 none;
      cursor: text;
      &:hover {
        background-color: inherit;
      }
      &::after {
        display: none;
      }
    }
    .accordion__hidden {
      max-height: 1000px;
    }
    .accordion__visible {
      a,
      .accordion__title {
        background-color: inherit;
      }
    }
  }
}
