.page-inner {
  @extend %smooth-translate;
  @include translateX(0);
  background-color: $navy;
  min-height: 100%;
  position: relative;
  z-index: 2;

  &.active {
    @include transform(translate(-100%, 0) translate(30px, 0));
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;

    @include breakpoint(tablet) {
      @include translateX(-340px);
    }
  }

  &.global-active {
    @include transform(translate(-100%, 0));
    position: fixed;
    top: 0;
    width: 100%;

    .modal__blanket.on {
      position: absolute;
    }

    @include breakpoint(tablet) {
      @include transform(translate(-100%, 0) translate(90px, 0));
    }
  }
}

[role="main"] {
  background-color: $white;
}

.page-login {
  @extend %normalise;
  font-family: $ff-sans;

  * {
    @extend %normalise;
  }

  h2.title {
    @include rem(padding-top, 30px);
    @include rem(font-size, 15px);
    @include rem(letter-spacing, 2px);
    font-weight: $regular;
    padding-bottom: 0;
    text-align: center;
    text-transform: uppercase;

    &:after {
      @include rem(margin, 30px auto 15px);
      @include rem(width, 80px);
      border-bottom: 2px solid $black;
      content: '';
      display: block;
    }

    &::after {
      @include rem(margin, 30px auto 15px);
      @include rem(width, 80px);
      border-bottom: 2px solid $black;
      content: '';
      display: block;
    }
  }

  .half {
    @extend %clearfix;
    margin: 0 auto;
    max-width: 100%;

    em {
      @include rem(font-size, 13px);
      @include rem(padding-bottom, 30px);
      display: block;
    }

    img {
      @include rem(margin-top, 30px);
      max-width: 95%;
    }

    a.button-fill {
      @include rem(padding, 30px 15px);
      color: $black;
      float: left;
      margin: 0;
      text-decoration: none;
      width: 100%;

      h2 {
        @include rem(padding-bottom, 30px);
        font-weight: $light;
        padding-top: 0;
        text-align: center;
      }

      p {
        font-weight: $light;
        max-width: 100%;
        text-align: center;
      }

      .icon-staff {
        @include rem(height, 100px);
        @include rem(width, 100px);
        background-image: url("#{asset_path('header/icon-p-b.png')}");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: block;
        margin: 0 auto;
      }

      .icon-student {
        @extend .icon-staff;
        background-image: url("#{asset_path('header/icon-m-b.png')}");
      }

      &:hover {
        color: $white;

        .icon-staff {
          background-image: url("#{asset_path('header/icon-p-w.png')}");
        }

        .icon-student {
          background-image: url("#{asset_path('header/icon-m-w.png')}");
        }
      }

      @include breakpoint(desktop) {
        width: 50%;
        padding-left: 0;
        padding-right: 0;
      }

      &:hover {
        background-color: $highlight;
      }
    }

    @include breakpoint(desktop) {
      @include rem(padding, 0 30px);
    }
  }
}
