body {
  overflow-x: hidden;
}

.uomcontent {
  @extend %smooth-translate;
}

.page-inner {
  @extend %smooth-translate;
  @include rem(padding-top, 60px);
  background-color: $navy;
  min-height: 100%;
  position: relative;
  z-index: 2;

  .floating {
    margin-top: -90px;
  }

  @include breakpoint(desktop) {
    @include rem(padding-top, 90px);
  }

  &.active {
    @include translateX(-100%);
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;

    @include breakpoint(tablet) {
      @include translateX(-340px);
    }
  }

  &.global-active {
    @include translateX(-100%);
    position: fixed;
    top: 0;
    width: 100%;

    .modal__blanket.on {
      position: absolute;
    }

    @include breakpoint(tablet) {
      @include transform(translate(-100%, 0) translate(90px, 0));
    }
  }

}

.page-header {
  @extend %smooth-translate;

  &.active {
    @include breakpoint(tablet) {
      @include translateX(-340px);
    }
  }

  &.global-active {
    @include breakpoint(tablet) {
      @include transform(translate(-100%, 0) translate(90px, 0));
    }
  }
}

[role="main"] {
  background-color: $white;
}

.uomcontent ul.quicklinks {
  @include rem(margin, 30px 0);
  @include rem(padding, 15px 0);
  clear: both;
  max-width: 100%;
  width: 100%;

  li {
    @include rem(line-height, 40px);
    clear: both;
    list-style-type: none;
    margin-left: 0;
    width: 100%;

    @include breakpoint(desktop) {
      clear: none;
      line-height: 1;
    }
  }

  a {
    @include rem(border-radius, 3px);
    @include rem(font-size, 14px);
    @include rem(margin-top, 10px);
    @include rem(padding, 15px);
    color: $white;
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    text-decoration: none;
    transition: background-color 0.2s, transform 0.3s;

    svg {
      fill: currentColor;
      @include rem(margin-bottom, 5px);
    }

    &:hover {
      background-color: $highlight;
      color: $white;
      text-decoration: none;
      transform: scale(1.02);

      @include breakpoint(desktop) {
        transform: scale(1.2);
      }
    }
  }

  .icon {
    @extend %imgreplace;
    @include rem(height, 40px);
    @include rem(margin-right, 10px);
    @include rem(width, 40px);
    display: block;
    float: left;

    @include breakpoint(desktop) {
      float: none;
      margin-left: auto;
      margin-right: auto;
      padding-right: 0;
    }
  }

  @include breakpoint(desktop) {
    border-bottom: 1px solid $blue;
    border-top: 1px solid $blue;
    float: left;

    li {
      float: left;
      width: 16.666%;
    }

    a {
      @include rem(min-height, 90px);
      @include rem(margin-bottom, 15px);
      display: block;
      margin-left: 15%;
      margin-right: 15%;
      text-align: center;
      vertical-align: middle;
    }
  }
}

.uomcontent .page-login {
  @extend %normalise;
  font-family: $ff-sans;

  * {
    @extend %normalise;
  }

  h2.title {
    @include rem(padding-top, 30px);
    @include rem(font-size, 15px);
    @include rem(letter-spacing, 2px);
    font-weight: $regular;
    max-width: 100%;
    padding-bottom: 0;
    text-align: center;
    text-transform: uppercase;

    &:after {
      @include rem(margin, 30px auto 15px);
      @include rem(width, 80px);
      border-bottom: 2px solid $black;
      content: '';
      display: block;
    }

    &::after {
      @include rem(margin, 30px auto 15px);
      @include rem(width, 80px);
      border-bottom: 2px solid $black;
      content: '';
      display: block;
    }
  }

  .half {
    @extend %clearfix;
    margin: 0 auto;
    max-width: 100%;

    em {
      @include rem(font-size, 13px);
      @include rem(padding-bottom, 30px);
      display: block;
    }

    img{
      @include rem(margin-top, 30px);
      max-width: 95%;
    }

    a.button-fill {
      @include rem(padding, 30px 15px);
      color: $black;
      float: left;
      margin: 0;
      text-decoration: none;
      width: 100%;

      h2 {
        @include rem(padding-bottom, 30px);
        font-weight: $light;
        padding-top: 0;
        text-align: center;
      }

      p {
        font-weight: $light;
        max-width: 100%;
        text-align: center;
      }

      svg {
        display: block;
        fill: currentColor;
        margin: 0 auto;
        max-height: 200px;
        transition: transform 0.3s;
      }

      &:hover {
        color: $white;

        svg {
          transform: scale(1.2);
        }
      }

      @include breakpoint(desktop) {
        width: 50%;
        padding-left: 0;
        padding-right: 0;
      }

      &:hover {
        background-color: $highlight;
      }
    }

    @include breakpoint(desktop) {
      @include rem(padding, 0 30px);
    }
  }
}

.uomcontent .sitemap-label {
  @include rem(width, 45px);
  @include transform(translate(100%, 0) translate(-45px, 0));
  @include transition(width .3s ease, right .3s ease);
  background-color: $navy;
  box-shadow: 3px 0 6px rgba($black, .4) inset;
  cursor: pointer;
  display: block;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 16;

  &:hover {
    @include rem(right, 5px);
    @include rem(width, 50px);

    span {
      @include transition(color .3s ease);
      color: $white;
    }
  }

  &.active {
    @include transform(translate(100%, 0));
    @include transition(-moz-transform .3s ease);
    @include transition(-ms-transform .3s ease);
    @include transition(-webkit-transform .3s ease);
    @include transition(transform .3s ease);
  }

  span {
    @include rem(font-size, 15px);
    @include rem(padding-left, 44px);
    @include rem(padding-top, 190px);
    @include rem(width, 240px);
    @include transform(rotate(90deg));
    color: rgba($white, .5);
    cursor: pointer;
    font-weight: $light;
    left: 0;
    letter-spacing: 1px;
    line-height: 1;
    padding-bottom: 0;
    padding-right: 0;
    position: absolute;
    text-transform: uppercase;
    top: 0;
    z-index: 11;

    &::before {
      @include rem(font-size, 24px);
      @include transform(rotate(-90deg) translateY(-10px) translateX(-3px));
      content: '\203a';
      display: inline-block;
    }
  }
}


.ie {
  .page-inner {
    &.active {
      -ms-transform: none;
    }

    &.global-active {
      z-index: 0;
    }
  }

  .uomcontent .modal__dialog {
    left: 20%;
    right: 20%;
    top: 20%;
    width: 60%;

    .half .button-fill {
      width: 50%;
    }
  }

  .uomcontent .modal__blanket {
    min-height: 100%;
    width: 120%;
  }
}

.ie8 {
  .uomcontent ul.quicklinks {
    border-bottom: 1px solid $blue;
    border-top: 1px solid $blue;
    padding-bottom: 10px;
    float: left;

    li {
      clear: none;
      float: left;
      line-height: 1;
      width: 16.667%;
    }

    a {
      color: $white;
      display: block;
      text-align: center;
      vertical-align: middle;

      &:hover {
        color: $white;
      }
    }

    .icon {
      display: none;
    }
  }

  .uomcontent .sitemap-label {
    display: none;
  }
}
